openapi: 3.2.0
info:
  title: Atlassian Repositories API
  version: '2.0'
  contact:
    name: Bitbucket Support
    url: https://support.atlassian.com/bitbucket-cloud/
    email: support@bitbucket.org
  termsOfService: https://www.atlassian.com/legal/customer-agreement
  description: 'Operations tagged Repositories across 2 of this provider''s published API definitions: bitbucket-openapi-original.yml, bitbucket-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bitbucket.org/2.0
tags:
- name: Repositories
  description: 'A Git repository is a virtual storage of your project. It

    allows you to save versions of your code, which you can access

    when needed. The repo resource allows you to access public repos,

    or repos that belong to a specific workspace.'
paths:
  /repositories:
    parameters: []
    get:
      tags:
      - Repositories
      description: 'Returns a paginated list of all public repositories.


        This endpoint also supports filtering and sorting of the results. See

        filtering and sorting for more details.'
      summary: Atlassian List Public Repositories
      responses:
        '200':
          description: All public repositories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repositories'
      parameters:
      - name: after
        in: query
        description: "Filter the results to include only repositories created on or\nafter this [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601)\n timestamp. Example: `YYYY-MM-DDTHH:mm:ss.sssZ`"
        required: false
        schema:
          type: string
      - name: role
        in: query
        description: 'Filters the result based on the authenticated user''s role on each repository.


          * **member**: returns repositories to which the user has explicit read access

          * **contributor**: returns repositories to which the user has explicit write access

          * **admin**: returns repositories to which the user has explicit administrator access

          * **owner**: returns all repositories owned by the current user

          '
        required: false
        schema:
          type: string
          enum:
          - admin
          - contributor
          - member
          - owner
      - name: q
        in: query
        description: 'Query string to narrow down the response as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          `role` parameter must also be specified.

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Field by which the results should be sorted as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      operationId: atlassianListPublicRepositories
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'Returns a paginated list of all repositories owned by the specified

        workspace.


        The result can be narrowed down based on the authenticated user''s role.


        E.g. with `?role=contributor`, only those repositories that the

        authenticated user has write access to are returned (this includes any

        repo the user is an admin on, as that implies write access).


        This endpoint also supports filtering and sorting of the results. See

        filtering and sorting for more details.'
      summary: Atlassian List Repositories In A Workspace
      responses:
        '200':
          description: The repositories owned by the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repositories'
        '404':
          description: If the specified account does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '410':
          description: If the specified account marked as spam.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: role
        in: query
        description: '

          Filters the result based on the authenticated user''s role on each repository.


          * **member**: returns repositories to which the user has explicit read access

          * **contributor**: returns repositories to which the user has explicit write access

          * **admin**: returns repositories to which the user has explicit administrator access

          * **owner**: returns all repositories owned by the current user

          '
        required: false
        schema:
          type: string
          enum:
          - admin
          - contributor
          - member
          - owner
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: "\nField by which the results should be sorted as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).\n        "
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListRepositoriesInAWorkspace
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Repositories
      description: 'Deletes the repository. This is an irreversible operation.


        This does not affect its forks.'
      summary: Atlassian Delete A Repository
      responses:
        '204':
          description: Indicates successful deletion.
        '403':
          description: If the caller either does not have admin access to the repository, or the repository is set to read-only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: redirect_to
        in: query
        description: 'If a repository has been moved to a new location, use this parameter to

          show users a friendly message in the Bitbucket UI that the repository

          has moved to a new location. However, a GET to this endpoint will still

          return a 404.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository:delete
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - delete:repository:bitbucket
      operationId: atlassianDeleteARepository
    get:
      tags:
      - Repositories
      description: Returns the object describing this repository.
      summary: Atlassian Get A Repository
      responses:
        '200':
          description: The repository object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '403':
          description: If the repository is private and the authenticated user does not have access to it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If no repository exists at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetARepository
    post:
      tags:
      - Repositories
      description: 'Creates a new repository.


        Note: In order to set the project for the newly created repository,

        pass in either the project key or the project UUID as part of the

        request body as shown in the examples below:


        ```

        $ curl -X POST -H "Content-Type: application/json" -d ''{

        "scm": "git",

        "project": {

        "key": "MARS"

        }

        }'' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding

        ```


        or


        ```

        $ curl -X POST -H "Content-Type: application/json" -d ''{

        "scm": "git",

        "project": {

        "key": "{ba516952-992a-4c2d-acbd-17d502922f96}"

        }

        }'' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding

        ```


        The project must be assigned for all repositories. If the project is not provided,

        the repository is automatically assigned to the oldest project in the workspace.


        Note: In the examples above, the workspace ID `teamsinspace`,

        and/or the repository name `hablanding` can be replaced by UUIDs.'
      summary: Atlassian Create A Repository
      responses:
        '200':
          description: The newly created repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '400':
          description: If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repository'
        description: The repository that is to be created. Note that most object elements are optional. Elements "owner" and "full_name" are ignored as the URL implies them.
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: atlassianCreateARepository
    put:
      tags:
      - Repositories
      description: 'Since this endpoint can be used to both update and to create a

        repository, the request body depends on the intent.


        #### Creation


        See the POST documentation for the repository endpoint for an example

        of the request body.


        #### Update


        Note: Changing the `name` of the repository will cause the location to

        be changed. This is because the URL of the repo is derived from the

        name (a process called slugification). In such a scenario, it is

        possible for the request to fail if the newly created slug conflicts

        with an existing repository''s slug. But if there is no conflict,

        the new location will be returned in the `Location` header of the

        response.'
      summary: Atlassian Update A Repository
      responses:
        '200':
          description: The existing repository has been updated
          headers:
            Location:
              description: 'The location of the repository. This header is only

                provided when the repository''s name is changed.'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '201':
          description: A new repository has been created
          headers:
            Location:
              description: The location of the newly created repository
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '400':
          description: If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repository'
        description: 'The repository that is to be updated.


          Note that the elements "owner" and "full_name" are ignored since the

          URL implies them.

          '
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: atlassianUpdateARepository
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/forks:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'Returns a paginated list of all the forks of the specified

        repository.'
      summary: Atlassian List Repository Forks
      responses:
        '200':
          description: All forks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repositories'
      parameters:
      - name: role
        in: query
        description: 'Filters the result based on the authenticated user''s role on each repository.


          * **member**: returns repositories to which the user has explicit read access

          * **contributor**: returns repositories to which the user has explicit write access

          * **admin**: returns repositories to which the user has explicit administrator access

          * **owner**: returns all repositories owned by the current user

          '
        required: false
        schema:
          type: string
          enum:
          - admin
          - contributor
          - member
          - owner
      - name: q
        in: query
        description: 'Query string to narrow down the response as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Field by which the results should be sorted as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListRepositoryForks
    post:
      tags:
      - Repositories
      description: 'Creates a new fork of the specified repository.


        #### Forking a repository


        To create a fork, specify the workspace explicitly as part of the

        request body:


        ```

        $ curl -X POST -u jdoe https://api.bitbucket.org/2.0/repositories/atlassian/bbql/forks \

        -H ''Content-Type: application/json'' -d ''{

        "name": "bbql_fork",

        "workspace": {

        "slug": "atlassian"

        }

        }''

        ```


        To fork a repository into the same workspace, also specify a new `name`.


        When you specify a value for `name`, it will also affect the `slug`.

        The `slug` is reflected in the repository URL of the new fork. It is

        derived from `name` by substituting non-ASCII characters, removes

        whitespace, and changes characters to lower case. For example,

        `My repo` would turn into `my_repo`.


        You need contributor access to create new forks within a workspace.


        #### Change the properties of a new fork


        By default the fork inherits most of its properties from the parent.

        However, since the optional POST body document follows the normal

        `repository` JSON schema and you can override the new fork''s

        properties.


        Properties that can be overridden include:


        * description

        * fork_policy

        * language

        * mainbranch

        * is_private (note that a private repo''s fork_policy might prohibit

        the creation of public forks, in which `is_private=False` would fail)

        * has_issues (to initialize or disable the new repo''s issue tracker --

        note that the actual contents of the parent repository''s issue

        tracker are not copied during forking)

        * has_wiki (to initialize or disable the new repo''s wiki --

        note that the actual contents of the parent repository''s wiki are not

        copied during forking)

        * project (when forking into a private project, the fork''s `is_private`

        must be `true`)


        Properties that cannot be modified include:


        * scm

        * parent

        * full_name'
      summary: Atlassian Fork A Repository
      responses:
        '201':
          description: The newly created fork.
          headers:
            Location:
              description: The URL of the newly created fork
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repository'
        description: A repository object. This can be left blank.
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - write:repository:bitbucket
      operationId: atlassianForkARepository
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/override-settings:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: Needs a more full description created.
      summary: Atlassian Retrieve The Inheritance State For Repository Settings
      responses:
        '200':
          description: The repository setting inheritance state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_inheritance_state'
        '404':
          description: If no repository exists at this location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: atlassianRetrieveTheInheritanceStateForRepositorySettings
    put:
      tags:
      - Repositories
      description: Needs a more full description created.
      summary: Atlassian Set The Inheritance State For Repository Settings
      responses:
        '204':
          description: The repository setting inheritance state was set and no content returned
        '404':
          description: If no repository exists at this location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: atlassianSetTheInheritanceStateForRepositorySettings
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/permissions-config/groups:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'Returns a paginated list of explicit group permissions for the given repository.

        This endpoint does not support BBQL features.'
      summary: Atlassian List Explicit Group Permissions For A Repository
      responses:
        '200':
          description: Paginated of explicit group permissions on the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repository_group_permissions'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - type: repository_group_permission
                      group:
                        type: group
                        name: Administrators
                        slug: administrators
                      permission: admin
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian_tutorial/geordi/permissions-config/groups/administrators
                    - type: repository_group_permission
                      group:
                        type: group
                        name: Developers
                        slug: developers
                      permission: read
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian_tutorial/geordi/permissions-config/groups/developers
                    page: 1
                    size: 2
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or both of the workspace and repository doesn't exist for the given identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - read:user:bitbucket
      operationId: atlassianListExplicitGroupPermissionsForARepository
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/permissions-config/groups/{group_slug}:
    parameters:
    - name: group_slug
      in: path
      description: Slug of the requested group.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Repositories
      description: 'Deletes the repository group permission between the requested repository and group, if one exists.


        Only users with admin permission for the repository may access this resource.'
      summary: Atlassian Delete An Explicit Group Permission For A Repository
      responses:
        '204':
          description: Group permission deleted
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The workspace does not exist, the repository does not exist, or the group does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAnExplicitGroupPermissionForARepository
    get:
      tags:
      - Repositories
      description: 'Returns the group permission for a given group slug and repository


        Only users with admin permission for the repository may access this resource.


        Permissions can be:


        * `admin`

        * `write`

        * `read`

        * `none`'
      summary: Atlassian Get An Explicit Group Permission For A Repository
      responses:
        '200':
          description: Group permission for group slug and repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_group_permission'
              examples:
                response:
                  value:
                    type: repository_group_permission
                    group:
                      type: group
                      name: Developers
                      slug: developers
                      full_slug: atlassian_tutorial:developers
                    permission: read
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/atlassian_tutorial/geordi/permissions-config/groups/developers
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The given user, workspace, and/or repository could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - read:user:bitbucket
      operationId: atlassianGetAnExplicitGroupPermissionForARepository
    put:
      tags:
      - Repositories
      description: 'Updates the group permission, or grants a new permission if one does not already exist.


        Only users with admin permission for the repository may access this resource.


        The only authentication method supported for this endpoint is via app passwords.


        Permissions can be:


        * `admin`

        * `write`

        * `read`'
      summary: Atlassian Update An Explicit Group Permission For A Repository
      responses:
        '200':
          description: Group permission updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_group_permission'
              examples:
                response:
                  value:
                    type: repository_group_permission
                    group:
                      type: group
                      name: Developers
                      slug: developers
                      full_slug: atlassian_tutorial:developers
                    permission: write
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/atlassian_tutorial/geordi/permissions-config/groups/developers
        '400':
          description: No permission value was provided or the value is invalid(not one of read, write, or admin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '402':
          description: You have reached your plan's user limit and must upgrade before giving access to additional users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The workspace does not exist, the repository does not exist, or the group does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/bitbucket.apps.permissions.serializers.RepoPermissionUpdateSchema'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianUpdateAnExplicitGroupPermissionForARepository
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/permissions-config/users:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'Returns a paginated list of explicit user permissions for the given repository.

        This endpoint does not support BBQL features.'
      summary: Atlassian List Explicit User Permissions For A Repository
      responses:
        '200':
          description: Paginated of explicit user permissions on the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repository_user_permissions'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - type: repository_user_permission
                      user:
                        type: user
                        display_name: Colin Cameron
                        uuid: '{d301aafa-d676-4ee0-88be-962be7417567}'
                        account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                      permission: admin
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian_tutorial/geordi/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                    - type: repository_user_permission
                      user:
                        type: user
                        display_name: Sean Conaty
                        uuid: '{504c3b62-8120-4f0c-a7bc-87800b9d6f70}'
                        account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324c
                      permission: write
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0//repositories/atlassian_tutorial/geordi/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324c
                    page: 1
                    size: 2
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No repository exists for the given repository slug and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - read:user:bitbucket
      operationId: atlassianListExplicitUserPermissionsForARepository
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/permissions-config/users/{selected_user_id}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: selected_user_id
      in: path
      description: 'This can either be the UUID of the account, surrounded by curly-braces, for

        example: `{account UUID}`, OR an Atlassian Account ID.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Repositories
      description: 'Deletes the repository user permission between the requested repository and user, if one exists.


        Only users with admin permission for the repository may access this resource.


        The only authentication method for this endpoint is via app passwords.'
      summary: Atlassian Delete An Explicit User Permission For A Repository
      responses:
        '204':
          description: The repository user permission was deleted and no content returned.
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, repository, and user doesn't exist for the given identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAnExplicitUserPermissionForARepository
    get:
      tags:
      - Repositories
      description: 'Returns the explicit user permission for a given user and repository.


        Only users with admin permission for the repository may access this resource.


        Permissions can be:


        * `admin`

        * `write`

        * `read`

        * `none`'
      summary: Atlassian Get An Explicit User Permission For A Repository
      responses:
        '200':
          description: Explicit user permission for user and repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_user_permission'
              examples:
                response:
                  value:
                    type: repository_user_permission
                    user:
                      type: user
                      display_name: Colin Cameron
                      uuid: '{d301aafa-d676-4ee0-88be-962be7417567}'
                      account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                      nickname: Colin Cameron
                    permission: admin
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/atlassian_tutorial/geordi/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or both of the workspace and repository doesn't exist for the given identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - read:user:bitbucket
      operationId: atlassianGetAnExplicitUserPermissionForARepository
    put:
      tags:
      - Repositories
      description: 'Updates the explicit user permission for a given user and repository. The selected user must be a member of

        the workspace, and cannot be the workspace owner.

        Only users with admin permission for the repository may access this resource.


        The only authentication method for this endpoint is via app passwords.


        Permissions can be:


        * `admin`

        * `write`

        * `read`'
      summary: Atlassian Update An Explicit User Permission For A Repository
      responses:
        '200':
          description: Explicit user permission updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_user_permission'
              examples:
                response:
                  value:
                    type: repository_user_permission
                    user:
                      type: user
                      display_name: Colin Cameron
                      uuid: '{d301aafa-d676-4ee0-88be-962be7417567}'
                      account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                      nickname: Colin Cameron
                    permission: write
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/atlassian_tutorial/geordi/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
        '400':
          description: No permission value was provided or the value is invalid (not one of read, write, or admin), or the selected user is not a valid user to update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '402':
          description: You have reached your plan's user limit and must upgrade before giving access to additional users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, repository, and selected user doesn't exist for the given identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/bitbucket.apps.permissions.serializers.RepoPermissionUpdateSchema'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianUpdateAnExplicitUserPermissionForARepository
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/watchers:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'Returns a paginated list of all the watchers on the specified

        repository.'
      summary: Atlassian List Repositories Watchers
      responses:
        '200':
          description: A paginated list of all the watchers on the specified repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_accounts'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListRepositoriesWatchers
    servers:
    - url: https://api.bitbucket.org/2.0
  /user/permissions/repositories:
    parameters: []
    get:
      tags:
      - Repositories
      description: 'Returns an object for each repository the caller has explicit access

        to and their effective permission — the highest level of permission the

        caller has. This does not return public repositories that the user was

        not granted any specific permission in, and does not distinguish between

        explicit and implicit privileges.


        Permissions can be:


        * `admin`

        * `write`

        * `read`


        Results may be further filtered or sorted by

        repository or permission by adding the following query string

        parameters:


        * `q=repository.name="geordi"` or `q=permission>"read"`

        * `sort=repository.name`


        Note that the query parameter values need to be URL escaped so that `=`

        would become `%3D`.'
      summary: Atlassian List Repository Permissions For A User
      responses:
        '200':
          description: Repository permissions for the repositories a caller has explicit access to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repository_permissions'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - type: repository_permission
                      user:
                        type: user
                        nickname: evzijst
                        display_name: Erik van Zijst
                        uuid: '{d301aafa-d676-4ee0-88be-962be7417567}'
                      repository:
                        type: repository
                        name: geordi
                        full_name: bitbucket/geordi
                        uuid: '{85d08b4e-571d-44e9-a507-fa476535aa98}'
                      permission: admin
                    page: 1
                    size: 1
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property sort the result by as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - account
        - repository
      - basic: []
      - api_key: []
      operationId: atlassianListRepositoryPermissionsForAUser
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/filehistory/{commit}/{path}:
    parameters:
    - name: commit
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'Returns a paginated list of commits that modified the specified file.


        Commits are returned in reverse chronological order. This is roughly

        equivalent to the following commands:


        $ git log --follow --date-order


        By default, Bitbucket will follow renames and the path name in the

        returned entries reflects that. This can be turned off using the

        `?renames=false` query parameter.


        Results are returned in descending chronological order by default, and

        like most endpoints you can

        filter and sort the response to

        only provide exactly the data you want.


        The example response returns commits made before 2011-05-18 against a file

        named `README.rst`. The results are filtered to only return the path and

        date. This request can be made using:


        ```

        $ curl ''https://api.bitbucket.org/2.0/repositories/evzijst/dogslow/filehistory/master/README.rst''\

        ''?fields=values.next,values.path,values.commit.date&q=commit.date<=2011-05-18''

        ```


        In the response you can see that the file was renamed to `README.rst`

        by the commit made on 2011-05-16, and was previously named `README.txt`.'
      summary: List commits that modified a file
      responses:
        '200':
          description: A paginated list of commits that modified the specified file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_files'
              example:
                values:
                - commit:
                    date: '2011-05-17T07:32:09+00:00'
                  path: README.rst
                - commit:
                    date: '2011-05-16T06:33:28+00:00'
                  path: README.txt
                - commit:
                    date: '2011-05-16T06:15:39+00:00'
                  path: README.txt
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: renames
        in: query
        description: '

          When `true`, Bitbucket will follow the history of the file across

          renames (this is the default behavior). This can be turned off by

          specifying `false`.'
        required: false
        schema:
          type: string
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property sort the result by as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      operationId: getRepositoriesByWorkspaceByRepoSlugFilehistoryByCommitByPath
      x-operation-id-source: derived
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/hooks:
    get:
      operationId: list_repository_hooks
      summary: List webhooks for a repository
      description: Returns a paginated list of webhooks installed on this repository.
      tags:
      - Repositories
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: 'This can either be the repository slug or the UUID of the repository, surrounded by curly-braces, for example: `{repository UUID}`.'
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The paginated list of installed webhooks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_webhook_subscriptions'
        '403':
          description: If the authenticated user is not an owner on the specified repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:webhook:bitbucket
      x-atlassian-auth-types:
      - api-token
    post:
      operationId: create_repository_hook
      summary: Create a webhook for a repository
      description: 'Creates a new webhook on the specified repository.


        Workspace webhooks are fired for events from all repositories

        contained by that workspace.


        Example:

        ```

        $ curl -X POST -u credentials -H ''Content-Type: application/json''

        https://api.bitbucket.org/2.0/workspaces/my-workspace/hooks

        -d ''

        {

        "description": "Webhook Description",

        "url": "https://example.com/",

        "active": true,

        "secret": "this is a really bad secret",

        "events": [

        "repo:push",

        "issue:created",

        "issue:updated"

        ]

        }''

        ```


        When the `secret` is provided it will be used as the key to

        generate a HMAC digest value sent in the `X-Hub-Signature` header

        at delivery time. Passing a `null` or empty `secret` or not

        passing a `secret` will leave the webhook''s secret unset.

        Bitbucket only generates the `X-Hub-Signature` when the webhook''s

        secret is set.


        This call requires the webhook scope, as well as any scope

        that applies to the events that the webhook subscribes to. In the

        example above that means: `webhook`, `repository` and `issue`.


        The `url` must properly resolve and cannot be an internal,

        non-routed address.'
      tags:
      - Repositories
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: 'This can either be the repository slug or the UUID of the repository, surrounded by curly-braces, for example: `{repository UUID}`.'
        required: true
        in: path
        schema:
          type: string
      responses:
        '201':
          description: If the webhook was registered successfully.
          headers:
            Location:
              description: The URL of new newly created webhook.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
        '403':
          description: If the authenticated user does not have permission to install webhooks on the specified repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:webhook:bitbucket
        - write:webhook:bitbucket
      x-atlassian-auth-types:
      - api-token
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/hooks/{uid}:
    get:
      operationId: get_repository_hook
      summary: Get a webhook for a repository
      description: 'Returns the webhook with the specified id installed on the

        specified repository.'
      tags:
      - Repositories
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: 'This can either be the repository slug or the UUID of the repository, surrounded by curly-braces, for example: `{repository UUID}`.'
        required: true
        in: path
        schema:
          type: string
      - name: uid
        description: The webhook's id.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The webhook subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
        '404':
          description: If the webhook or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:webhook:bitbucket
      x-atlassian-auth-types:
      - api-token
    put:
      operationId: update_repository_hook
      summary: Update a webhook for a repository
      description: 'Updates the specified webhook subscription.


        The following properties can be mutated:


        * `description`

        * `url`

        * `secret`

        * `active`

        * `events`


        The hook''s secret is used as a key to generate the HMAC hex digest

        sent in the `X-Hub-Signature` header at delivery time. This

        signature is only generated when the hook has a secret.


        Set the hook''s secret by passing the new value in the `secret`

        field. Passing a `null` value in the `secret` field will remove

        the secret from the hook. The hook''s secret can be left unchanged

        by not passing the `secret` field in the request.'
      tags:
      - Repositories
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: 'This can either be the repository slug or the UUID of the repository, surrounded by curly-braces, for example: `{repository UUID}`.'
        required: true
        in: path
        schema:
          type: string
      - name: uid
        description: The webhook's id.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The webhook subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
        '403':
          description: 'If the authenticated user does not have permission to update

            the webhook.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:webhook:bitbucket
        - write:webhook:bitbucket
      x-atlassian-auth-types:
      - api-token
    delete:
      operationId: delete_repository_hook
      summary: Delete a webhook for a repository
      description: 'Deletes the specified webhook subscription from the given

        repository.'
      tags:
      - Repositories
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: 'This can either be the repository slug or the UUID of the repository, surrounded by curly-braces, for example: `{repository UUID}`.'
        required: true
        in: path
        schema:
          type: string
      - name: uid
        description: The webhook's id.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: When the webhook was deleted successfully
        '403':
          description: 'If the authenticated user does not have permission to update

            the webhook.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - delete:webhook:bitbucket
      x-atlassian-auth-types:
      - api-token
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/src:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'This endpoint redirects the client to the directory listing of the

        root directory on the main branch.


        This is equivalent to directly hitting

        /2.0/repositories/{username}/{repo_slug}/src/{commit}/{path}

        without having to know the name or SHA1 of the repo''s main branch.


        To create new commits, POST to this endpoint'
      summary: Get the root directory of the main branch
      responses:
        '200':
          description: 'If the path matches a file, then the raw contents of the file are

            returned (unless the `format=meta` query parameter was provided,

            in which case a json document containing the file''s meta data is

            returned). If the path matches a directory, then a paginated

            list of file and directory entries is returned (if the

            `format=meta` query parameter was provided, then the json document

            containing the directory''s meta data is returned).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_treeentries'
        '404':
          description: If the path or commit in the URL does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: format
        in: query
        description: Instead of returning the file's contents, return the (json) meta data for it.
        required: false
        schema:
          type: string
          enum:
          - meta
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      operationId: getRepositoriesByWorkspaceByRepoSlugSrc
      x-operation-id-source: derived
    post:
      tags:
      - Repositories
      description: 'This endpoint is used to create new commits in the repository by

        uploading files.'
      summary: Create a commit by uploading a file
      responses:
        '201':
          description: '

            '
        '403':
          description: If the authenticated user does not have write or admin access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: message
        in: query
        description: The commit message. When omitted, Bitbucket uses a canned string.
        required: false
        schema:
          type: string
      - name: author
        in: query
        description: '

          The raw string to be used as the new commit''s author.

          This string follows the format

          `Erik van Zijst <evzijst@atlassian.com>`.


          When omitted, Bitbucket uses the authenticated user''s

          full/display name and primary email address. Commits cannot

          be created anonymously.'
        required: false
        schema:
          type: string
      - name: parents
        in: query
        description: '

          #### Deprecation Notice:

          Support for specifying multiple parent

          commits is deprecated and will be removed in a future release.

          Only a single SHA1 is accepted.


          A SHA1 of the commit that should be the parent of the newly created

          commit. When omitted, the new commit will inherit from and

          become a child of the main branch''s tip/HEAD commit.'
        required: false
        schema:
          type: string
      - name: files
        in: query
        description: '

          Optional field that declares the files that the request is

          manipulating. When adding a new file to a repo, or when

          overwriting an existing file, the client can just upload

          the full contents of the file in a normal form field and

          the use of this `files` meta data field is redundant.

          However, when the `files` field contains a file path that

          does not have a corresponding, identically-named form

          field, then Bitbucket interprets that as the client wanting

          to replace the named file with the null set and the file is

          deleted instead.


          Paths in the repo that are referenced in neither files nor

          an individual file field, remain unchanged and carry over

          from the parent to the new commit.


          This API does not support renaming as an explicit feature.

          To rename a file, simply delete it and recreate it under

          the new name in the same commit.

          '
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: '

          The name of the branch that the new commit should be

          created on. When omitted, the commit will be created on top

          of the main branch and will become the main branch''s new

          head.


          When a branch name is provided that already exists in the

          repo, then the commit will be created on top of that

          branch. In this case, *if* a parent SHA1 was also provided,

          then it is asserted that the parent is the branch''s

          tip/HEAD at the time the request is made. When this is not

          the case, a 409 is returned.


          When a new branch name is specified (that does not already

          exist in the repo), and no parent SHA1s are provided, then

          the new commit will inherit from the current main branch''s

          tip/HEAD commit, but not advance the main branch. The new

          commit will be the new branch. When the request *also*

          specifies a parent SHA1, then the new commit and branch

          are created directly on top of the parent commit,

          regardless of the state of the main branch.


          When a branch name is not specified, but a parent SHA1 is

          provided, then Bitbucket asserts that it represents the

          main branch''s current HEAD/tip, or a 409 is returned.


          When a branch name is not specified and the repo is empty,

          the new commit will become the repo''s root commit and will

          be on the main branch.


          When a branch name is specified and the repo is empty, the

          new commit will become the repo''s root commit and also

          define the repo''s main branch going forward.


          This API cannot be used to create additional root commits

          in non-empty repos.


          The branch field cannot be repeated.


          As a side effect, this API can be used to create a new

          branch without modifying any files, by specifying a new

          branch name in this field, together with `parents`, but

          omitting the `files` fields, while not sending any files.

          This will create a new commit and branch with the same

          contents as the first parent. The diff of this commit

          against its first parent will be empty.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      operationId: postRepositoriesByWorkspaceByRepoSlugSrc
      x-operation-id-source: derived
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/src/{commit}/{path}:
    parameters:
    - name: commit
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'This endpoints is used to retrieve the contents of a single file,

        or the contents of a directory at a specified revision.'
      summary: Get file or directory contents
      responses:
        '200':
          description: 'If the path matches a file, then the raw contents of the file are

            returned.  If the `format=meta` query parameter is provided,

            a json document containing the file''s meta data is

            returned.  If the `format=rendered` query parameter is provided,

            the contents of the file in HTML-formated rendered markup is returned.

            If the path matches a directory, then a paginated

            list of file and directory entries is returned (if the

            `format=meta` query parameter was provided, then the json document

            containing the directory''s meta data is returned.)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_treeentries'
        '404':
          description: If the path or commit in the URL does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '555':
          description: If the call times out, possibly because the specified recursion depth is too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: format
        in: query
        description: 'If ''meta'' is provided, returns the (json) meta data for the contents of the file.  If ''rendered'' is provided, returns the contents of a non-binary file in HTML-formatted rendered markup. The ''rendered'' option only supports these filetypes: `.md`, `.markdown`, `.mkd`, `.mkdn`, `.mdown`, `.text`, `.rst`, and `.textile`. Since Git does not generally track what text encoding scheme is used, this endpoint attempts to detect the most appropriate character encoding. While usually correct, determining the character encoding can be ambiguous which in exceptional cases can lead to misinterpretation of the characters. As such, the raw element in the response object should not be treated as equivalent to the file''s actual contents.'
        required: false
        schema:
          type: string
          enum:
          - meta
          - rendered
      - name: q
        in: query
        description: Optional filter expression as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Optional sorting parameter as per [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results).
        required: false
        schema:
          type: string
      - name: max_depth
        in: query
        description: If provided, returns the contents of the repository and its subdirectories recursively until the specified max_depth of nested directories. When omitted, this defaults to 1.
        required: false
        schema:
          type: integer
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      operationId: getRepositoriesByWorkspaceByRepoSlugSrcByCommitByPath
      x-operation-id-source: derived
    servers:
    - url: https://api.bitbucket.org/2.0
  /user/workspaces/{workspace}/permissions/repositories:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Repositories
      description: 'Returns an object for each repository the caller has explicit access to in the

        specified workspace and their effective permission — the highest level of

        permission the caller has. This does not return public repositories that the

        user was not granted any specific permission in, and does not distinguish between

        explicit and implicit privileges.


        Permissions can be:


        * `admin`

        * `write`

        * `read`


        Results may be further filtered or sorted by

        repository or permission by adding the following query string

        parameters:


        * `q=repository.name="bits"` or `q=permission>"read"`

        * `sort=repository.name`


        Note that the query parameter values need to be URL escaped so that `=`

        would become `%3D`.'
      summary: List repository permissions in a workspace for a user
      responses:
        '200':
          description: The list of repository permissions for the authenticated user in the specified workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repository_permissions'
              example:
                pagelen: 10
                values:
                - type: repository_permission
                  user:
                    type: user
                    nickname: jessyeh
                    display_name: Jessica Yeh
                    uuid: '{d301abfa-d676-4ee0-88be-962ce7443567}'
                  repository:
                    type: repository
                    name: bits
                    full_name: bitbucket/bits
                    uuid: '{85d67b4e-571d-44e9-a507-fa476935aa98}'
                  permission: admin
                page: 1
                size: 1
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user does not have access to the workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property sort the result by as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - account
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      operationId: getUserWorkspacesByWorkspacePermissionsRepositories
      x-operation-id-source: derived
    servers:
    - url: https://api.bitbucket.org/2.0
components:
  schemas:
    ref:
      type: object
      title: Ref
      description: A ref object, representing a branch or tag in a repository.
      properties:
        type:
          type: string
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            commits:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            html:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
        name:
          type: string
          description: The name of the ref.
        target:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    paginated_repository_permissions:
      type: object
      title: Paginated Repository Permissions
      description: A paginated list of repository permissions.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/repository_permission'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    repository_permission:
      type: object
      title: Repository Permission
      description: A user's permission for a given repository.
      properties:
        type:
          type: string
        permission:
          type: string
          enum:
          - read
          - write
          - admin
          - none
        user:
          $ref: '#/components/schemas/user'
        repository:
          $ref: '#/components/schemas/repository'
      required:
      - type
      additionalProperties: true
    repository_user_permission:
      type: object
      title: Repository User Permission
      description: A user's direct permission for a given repository.
      properties:
        type:
          type: string
        permission:
          type: string
          enum:
          - read
          - write
          - admin
          - none
        user:
          $ref: '#/components/schemas/user'
        repository:
          $ref: '#/components/schemas/repository'
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    paginated_repository_user_permissions:
      type: object
      title: Paginated Repository User Permissions
      description: A paginated list of repository user permissions.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/repository_user_permission'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    group:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Group
        description: A group object
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          owner:
            $ref: '#/components/schemas/account'
          workspace:
            $ref: '#/components/schemas/workspace'
          name:
            type: string
          slug:
            type: string
            description: 'The "sluggified" version of the group''s name. This contains only ASCII

              characters and can therefore be slightly different than the name'
          full_slug:
            type: string
            description: 'The concatenation of the workspace''s slug and the group''s slug,

              separated with a colon (e.g. `acme:developers`)

              '
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    team:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: Team
        description: A team object.
        properties:
          links:
            $ref: '#/components/schemas/team_links'
        additionalProperties: true
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    repository_inheritance_state:
      type: object
      title: Repository Inheritance State
      description: A json object representing the repository's inheritance state values
      properties:
        type:
          type: string
        override_settings:
          type: object
      required:
      - type
      additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    user:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: User
        description: A user object.
        properties:
          links:
            $ref: '#/components/schemas/user_links'
          account_id:
            type: string
            description: The user's Atlassian account ID.
          account_status:
            type: string
            description: The status of the account. Currently the only possible value is "active", but more values may be added in the future.
          has_2fa_enabled:
            type: boolean
          nickname:
            type: string
            description: Account name defined by the owner. Should be used instead of the "username" field. Note that "nickname" cannot be used in place of "username" in URLs and queries, as "nickname" is not guaranteed to be unique.
          is_staff:
            type: boolean
          website:
            type: string
        additionalProperties: true
    paginated_repository_group_permissions:
      type: object
      title: Paginated Repository Group Permissions
      description: A paginated list of repository group permissions.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/repository_group_permission'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    branch:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Branch
        description: A branch object, representing a branch in a repository.
        properties:
          merge_strategies:
            type: array
[...]
