openapi: 3.1.0
info:
  title: Atlassian Admin Account Applications API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Applications
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pullrequest_id}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updatePullRequestApplicationProperty
      summary: Atlassian Update Pull Request Application Property
      description: This API operation allows you to update or set an application-specific property on a Bitbucket pull request within a repository. By making a PUT request to the endpoint with the workspace identifier, repository slug, pull request ID, application key, and property name, you can store custom metadata or configuration data associated with that specific pull request. This is particularly useful for third-party applications or integrations that need to maintain their own state or settings related to a pull request, such as storing build statuses, review preferences, or custom workflow information. The operation requires appropriate authentication and permissions to modify properties on the specified pull request, and it will either create a new property if it doesn't exist or update the existing value if the property is already present.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deletePullRequestApplicationProperty
      summary: Atlassian Delete Pull Request Application Property
      description: This API operation allows you to delete a specific application property associated with a pull request in a Bitbucket repository. The endpoint requires you to specify the workspace, repository slug, pull request ID, application key, and property name in the URL path. When executed with a DELETE request, it removes the custom property data that was previously stored by an application for that particular pull request, effectively cleaning up application-specific metadata. This is useful for Bitbucket Connect apps or integrations that need to manage their own custom data associated with pull requests and want to remove properties that are no longer needed or relevant.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
              examples:
                application-property:
                  $ref: '#/components/examples/application-property'
      operationId: getPullRequestApplicationProperty
      summary: Atlassian Get Pull Request Application Property
      description: This API endpoint retrieves a specific application property value associated with a pull request in a Bitbucket repository, identified by the workspace, repository slug, pull request ID, application key, and property name parameters in the URL path. Application properties allow third-party apps and integrations to store custom metadata or configuration data against individual pull requests, enabling extended functionality beyond Bitbucket's native features. The GET operation returns the stored property value for the specified property name under the given app key, allowing applications to retrieve their previously stored data for use in workflows, automation, or custom UI elements related to the pull request.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updateCommitApplicationProperty
      summary: Atlassian Update Commit Application Property
      description: This API operation allows you to update or set an application-specific property for a particular commit within a Bitbucket repository. By making a PUT request to this endpoint, you specify the workspace, repository slug, commit hash, application key, and property name to target a specific property associated with that commit. This is useful for storing custom metadata or application-specific information linked to a commit, such as build status, deployment information, or any other contextual data your application needs to maintain. The operation will create the property if it doesn't exist or update it if it already does, providing a way to persist and manage commit-level data that extends beyond Bitbucket's standard commit attributes.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deleteCommitApplicationProperty
      summary: Atlassian Delete Commit Application Property
      description: Removes a specific application property associated with a commit in a Bitbucket repository. This operation allows applications to delete custom metadata they previously stored against a particular commit, identified by the workspace, repository slug, commit hash, application key, and property name. Once deleted, the property and its associated value are permanently removed from the commit's application properties collection. This is useful for cleaning up outdated or no longer needed custom data that applications have attached to commits for tracking, automation, or integration purposes.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
              examples:
                application-property:
                  $ref: '#/components/examples/application-property_3'
      operationId: getCommitApplicationProperty
      summary: Atlassian Get Commit Application Property
      description: This GET operation retrieves a specific application property associated with a commit in a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, application key, and property name in the URL path, the API returns the value of the custom property that was previously set on that commit by a specific application. This allows applications to store and retrieve metadata or custom attributes tied to individual commits, enabling features like tracking deployment status, code review approvals, or other application-specific information linked to particular commits in the repository's history.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updateRepositoryApplicationProperty
      summary: Atlassian Update Repository Application Property
      description: Updates an application property value for a specific repository in Bitbucket. This endpoint allows applications to store and modify custom metadata or configuration data associated with a particular repository by specifying the workspace, repository slug, application key, and property name. The operation replaces the existing property value with the new data provided in the request body, enabling applications to maintain persistent, repository-specific settings or state information that can be retrieved and modified as needed throughout the application lifecycle.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deleteRepositoryApplicationProperty
      summary: Atlassian Delete Repository Application Property
      description: This API operation allows you to delete a specific application property associated with a Bitbucket repository within a given workspace. By sending a DELETE request to the endpoint with the workspace identifier, repository slug, application key, and property name as path parameters, you can remove custom metadata or configuration data that was previously stored against the repository by a specific application. This is particularly useful for cleaning up application-specific settings, removing obsolete configuration values, or managing the lifecycle of properties created by Atlassian Connect apps or other integrations that extend Bitbucket's functionality. The operation requires appropriate permissions to modify repository settings and will permanently remove the specified property from the repository's application property collection.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
              examples:
                application-property_2:
                  $ref: '#/components/examples/application-property_2'
      operationId: getRepositoryApplicationProperty
      summary: Atlassian Get Repository Application Property
      description: This API operation retrieves a specific application property stored against a Bitbucket repository within a given workspace. By providing the workspace identifier, repository slug, application key, and property name as path parameters, developers can fetch custom metadata or configuration values that have been previously set by an application for that particular repository. This is useful for applications that need to store and retrieve repository-specific settings or data, such as integration configurations, feature flags, or custom attributes that extend the repository's functionality beyond Bitbucket's native features.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updateUserApplicationProperty
      summary: Atlassian Update User Application Property
      description: This API operation allows you to update a specific application property for a selected user in Atlassian Bitbucket by sending a PUT request to the endpoint with the target username, application key, and property name as path parameters. The operation modifies an existing property value associated with a particular application for the specified user, enabling applications to store and manage user-specific configuration data or settings within Bitbucket's property storage system. This is useful for persisting application-specific user preferences, metadata, or state information that needs to be maintained across sessions and retrieved later for customized user experiences.
      parameters:
      - required: true
        in: path
        name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deleteUserApplicationProperty
      summary: Atlassian Delete User Application Property
      description: This API operation allows you to delete a specific application property associated with a Bitbucket user. By providing the selected Users identifier, the application key, and the property name in the request path, you can remove custom metadata or configuration data that was previously stored for that user within a particular application context. This is useful for cleaning up user-specific settings, removing outdated configuration values, or managing application data lifecycle when certain properties are no longer needed for a given user and application combination.
      parameters:
      - required: true
        in: path
        name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
              examples:
                application-property:
                  $ref: '#/components/examples/application-property_4'
      operationId: getUserApplicationProperty
      summary: Atlassian Get User Application Property
      description: 'The Get User Application Property operation retrieves a specific application property associated with a particular Bitbucket user. This endpoint requires three path parameters: the selected_user identifier, an app_key that identifies the application storing the property, and the property_name which specifies the exact property to retrieve. Application properties are key-value pairs that applications can store against user accounts for configuration, preferences, or other application-specific data. When called, this GET operation returns the value of the requested property if it exists, allowing applications to read previously stored user-specific settings or metadata. This is commonly used by Bitbucket apps and integrations to maintain user-level configuration data without requiring separate database infrastructure.'
      parameters:
      - required: true
        in: path
        name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Applications
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    application-property_4:
      _attributes:
        public: true
        readOnly: false
      customKey: customValue
      anotherProperty: 123
      nestedObject:
        field1: value1
        field2: true
    application-property_2:
      _attributes:
        read:
        - admin
        - contributor
        write:
        - admin
      customKey1: value1
      customKey2: 123
      customKey3:
        nestedProperty: true
    application-property:
      _attributes:
      - public
      - read_only
      customField1: example value
      customField2: 123
      nestedObject:
        key: value
    application-property_3:
      _attributes:
        readPermission: public
        writePermission: admin
      customKey1: customValue1
      customKey2: 12345
      customKey3:
        nestedProperty: true
  requestBodies:
    application_property:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/application_property'
      description: The application property to create or update.
      required: true
  schemas:
    application_property:
      additionalProperties: true
      type: object
      title: Application Property
      description: "An application property. It is a caller defined JSON object that Bitbucket will store and return. \nThe `_attributes` field at its top level can be used to control who is allowed to read and update the property. \nThe keys of the JSON object must match an allowed pattern. For details, \nsee [Application properties](/cloud/bitbucket/application-properties/).\n"
      properties:
        _attributes:
          type: array
          items:
            type: string
            enum:
            - public
            - read_only
          example: []
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
