openapi: 3.1.0
info:
  title: Atlassian Admin Account Refs API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Refs
paths:
  /repositories/{workspace}/{repo_slug}/refs:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Refs
      description: Returns the branches and tags in the repository.<br><br>By default, results will be in the order the underlying source control system returns them and identical to<br>the ordering one sees when running "$ git show-ref". Note that this follows simple<br>lexical ordering of the ref names.<br><br>This can be undesirable as it does apply any natural sorting semantics, meaning for instance that refs are<br>sorted ["branch1", "branch10", "branch2", "v10", "v11", "v9"] instead of ["branch1", "branch2",<br>"branch10", "v9", "v10", "v11"].<br><br>Sorting can be changed using the ?sort= query parameter. When using ?sort=name to explicitly sort on ref name,<br>Bitbucket will apply natural sorting and interpret numerical values as numbers instead of strings.
      summary: Atlassian List Branches And Tags
      responses:
        '200':
          description: A paginated list of refs matching any filter criteria that were provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_refs'
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering). The `name`

          field is handled specially for refs in that, if specified as the sort field, it

          uses a natural sort order instead of the default lexicographical sort order. For example,

          it will return [''1.1'', ''1.2'', ''1.10''] instead of [''1.1'', ''1.10'', ''1.2''].'
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListBranchesAndTags
  /repositories/{workspace}/{repo_slug}/refs/branches:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Refs
      description: Returns a list of all open branches within the specified repository.<br>Results will be in the order the source control manager returns them.<br><br>Branches support [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering)<br>that can be used to search for specific branches. For instance, to find<br>all branches that have "stab" in their name:<br><br>```<br>curl -s https://api.bitbucket.org/2.0/repositories/atlassian/aui/refs/branches -G --data-urlencode 'q=name ~ "stab"'<br>```<br><br>By default, results will be in the order the underlying source control system returns them and identical to<br>the ordering one sees when running "$ git branch --list". Note that this follows simple<br>lexical ordering of the ref names.<br><br>This can be undesirable as it does apply any natural sorting semantics, meaning for instance that tags are<br>sorted ["v10", "v11", "v9"] instead of ["v9", "v10", "v11"].<br><br>Sorting can be changed using the ?q= query parameter. When using ?q=name to explicitly sort on ref name,<br>Bitbucket will apply natural sorting and interpret numerical values as numbers instead of strings.
      summary: Atlassian List Open Branches
      responses:
        '200':
          description: A paginated list of branches matching any filter criteria that were provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_branches'
              examples:
                response:
                  value:
                    pagelen: 1
                    size: 187
                    values:
                    - name: issue-9.3/AUI-5343-assistive-class
                      links:
                        commits:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commits/issue-9.3/AUI-5343-assistive-class
                        self:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/refs/branches/issue-9.3/AUI-5343-assistive-class
                        html:
                          href: https://bitbucket.org/atlassian/aui/branch/issue-9.3/AUI-5343-assistive-class
                      default_merge_strategy: squash
                      merge_strategies:
                      - merge_commit
                      - squash
                      - fast_forward
                      type: branch
                      target:
                        hash: e5d1cde9069fcb9f0af90403a4de2150c125a148
                        repository:
                          links:
                            self:
                              href: https://api.bitbucket.org/2.0/repositories/atlassian/aui
                            html:
                              href: https://bitbucket.org/atlassian/aui
                            avatar:
                              href: https://bytebucket.org/ravatar/%7B585074de-7b60-4fd1-81ed-e0bc7fafbda5%7D?ts=86317
                          type: repository
                          name: aui
                          full_name: atlassian/aui
                          uuid: '{585074de-7b60-4fd1-81ed-e0bc7fafbda5}'
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/e5d1cde9069fcb9f0af90403a4de2150c125a148
                          comments:
                            href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/e5d1cde9069fcb9f0af90403a4de2150c125a148/comments
                          patch:
                            href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/patch/e5d1cde9069fcb9f0af90403a4de2150c125a148
                          html:
                            href: https://bitbucket.org/atlassian/aui/commits/e5d1cde9069fcb9f0af90403a4de2150c125a148
                          diff:
                            href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/diff/e5d1cde9069fcb9f0af90403a4de2150c125a148
                          approve:
                            href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/e5d1cde9069fcb9f0af90403a4de2150c125a148/approve
                          statuses:
                            href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/e5d1cde9069fcb9f0af90403a4de2150c125a148/statuses
                        author:
                          raw: Marcin Konopka <mkonopka@atlassian.com>
                          type: author
                          user:
                            display_name: Marcin Konopka
                            uuid: '{47cc24f4-2a05-4420-88fe-0417535a110a}'
                            links:
                              self:
                                href: https://api.bitbucket.org/2.0/users/%7B47cc24f4-2a05-4420-88fe-0417535a110a%7D
                              html:
                                href: https://bitbucket.org/%7B47cc24f4-2a05-4420-88fe-0417535a110a%7D/
                              avatar:
                                href: https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/MK-1.png
                            nickname: Marcin Konopka
                            type: user
                            account_id: 60113d2b47a9540069f4de03
                        parents:
                        - hash: 87f7fc92b00464ae47b13ef65c91884e4ac9be51
                          type: commit
                          links:
                            self:
                              href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/87f7fc92b00464ae47b13ef65c91884e4ac9be51
                            html:
                              href: https://bitbucket.org/atlassian/aui/commits/87f7fc92b00464ae47b13ef65c91884e4ac9be51
                        date: '2021-04-13T13:44:49+00:00'
                        message: 'wip

                          '
                        type: commit
                    page: 1
                    next: https://api.bitbucket.org/2.0/repositories/atlassian/aui/refs/branches?pagelen=1&page=2
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering). The `name`

          field is handled specially for branches in that, if specified as the sort field, it

          uses a natural sort order instead of the default lexicographical sort order. For example,

          it will return [''branch1'', ''branch2'', ''branch10''] instead of [''branch1'', ''branch10'', ''branch2''].'
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListOpenBranches
    post:
      tags:
      - Refs
      description: 'Creates a new branch in the specified repository.<br><br>The payload of the POST should consist of a JSON document that<br>contains the name of the tag and the target hash.<br><br>```<br>curl https://api.bitbucket.org/2.0/repositories/seanfarley/hg/refs/branches \<br>-s -u seanfarley -X POST -H "Content-Type: application/json" \<br>-d ''{<br>    "name" : "smf/create-feature",<br>    "target" : {<br>        "hash" : "default",<br>    }<br>}''<br>```<br><br>This call requires authentication. Private repositories require the<br>caller to authenticate with an account that has appropriate<br>authorization.<br><br>The branch name should not include any prefixes (e.g.<br>refs/heads). This endpoint does support using short hash prefixes for<br>the commit hash, but it may return a 400 response if the provided<br>prefix is ambiguous. Using a full commit hash is the preferred<br>approach.'
      summary: Atlassian Create A Branch
      responses:
        '201':
          description: The newly created branch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branch'
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or branch does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
        - read:repository:bitbucket
      operationId: atlassianCreateABranch
  /repositories/{workspace}/{repo_slug}/refs/branches/{name}:
    parameters:
    - name: name
      in: path
      description: The name of the branch.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Refs
      description: Delete a branch in the specified repository.<br><br>The main branch is not allowed to be deleted and will return a 400<br>response.<br><br>The branch name should not include any prefixes (e.g.<br>refs/heads).
      summary: Atlassian Delete A Branch
      responses:
        '204':
          description: Indicates that the specified branch was successfully deleted.
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or branch does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: atlassianDeleteABranch
    get:
      tags:
      - Refs
      description: Returns a branch object within the specified repository.<br><br>This call requires authentication. Private repositories require the<br>caller to authenticate with an account that has appropriate<br>authorization.<br><br>For Git, the branch name should not include any prefixes (e.g.<br>refs/heads).
      summary: Atlassian Get A Branch
      responses:
        '200':
          description: The branch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branch'
              examples:
                response:
                  value:
                    name: master
                    links:
                      commits:
                        href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commits/master
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/refs/branches/master
                      html:
                        href: https://bitbucket.org/atlassian/aui/branch/master
                    default_merge_strategy: squash
                    merge_strategies:
                    - merge_commit
                    - squash
                    - fast_forward
                    type: branch
                    target:
                      hash: e7d158ff7ed5538c28f94cd97a9ad569680fc94e
                      repository:
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/repositories/atlassian/aui
                          html:
                            href: https://bitbucket.org/atlassian/aui
                          avatar:
                            href: https://bytebucket.org/ravatar/%7B585074de-7b60-4fd1-81ed-e0bc7fafbda5%7D?ts=86317
                        type: repository
                        name: aui
                        full_name: atlassian/aui
                        uuid: '{585074de-7b60-4fd1-81ed-e0bc7fafbda5}'
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/e7d158ff7ed5538c28f94cd97a9ad569680fc94e
                        comments:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/e7d158ff7ed5538c28f94cd97a9ad569680fc94e/comments
                        patch:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/patch/e7d158ff7ed5538c28f94cd97a9ad569680fc94e
                        html:
                          href: https://bitbucket.org/atlassian/aui/commits/e7d158ff7ed5538c28f94cd97a9ad569680fc94e
                        diff:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/diff/e7d158ff7ed5538c28f94cd97a9ad569680fc94e
                        approve:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/e7d158ff7ed5538c28f94cd97a9ad569680fc94e/approve
                        statuses:
                          href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/e7d158ff7ed5538c28f94cd97a9ad569680fc94e/statuses
                      author:
                        raw: psre-renovate-bot <psre-renovate-bot@atlassian.com>
                        type: author
                        user:
                          display_name: psre-renovate-bot
                          uuid: '{250a442a-3ab3-4fcb-87c3-3c8f3df65ec7}'
                          links:
                            self:
                              href: https://api.bitbucket.org/2.0/users/%7B250a442a-3ab3-4fcb-87c3-3c8f3df65ec7%7D
                            html:
                              href: https://bitbucket.org/%7B250a442a-3ab3-4fcb-87c3-3c8f3df65ec7%7D/
                            avatar:
                              href: https://secure.gravatar.com/avatar/6972ee037c9f36360170a86f544071a2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FP-3.png
                          nickname: Renovate Bot
                          type: user
                          account_id: 5d5355e8c6b9320d9ea5b28d
                      parents:
                      - hash: eab868a309e75733de80969a7bed1ec6d4651e06
                        type: commit
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/repositories/atlassian/aui/commit/eab868a309e75733de80969a7bed1ec6d4651e06
                          html:
                            href: https://bitbucket.org/atlassian/aui/commits/eab868a309e75733de80969a7bed1ec6d4651e06
                      date: '2021-04-12T06:44:38+00:00'
                      message: 'Merged in issue/NONE-renovate-master-babel-monorepo (pull request #2883)


                        chore(deps): update babel monorepo to v7.13.15 (master)


                        Approved-by: Chris "Daz" Darroch

                        '
                      type: commit
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or branch does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetABranch
  /repositories/{workspace}/{repo_slug}/refs/tags:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Refs
      description: Returns the tags in the repository.<br><br>By default, results will be in the order the underlying source control system returns them and identical to<br>the ordering one sees when running "$ git tag --list". Note that this follows simple<br>lexical ordering of the ref names.<br><br>This can be undesirable as it does apply any natural sorting semantics, meaning for instance that tags are<br>sorted ["v10", "v11", "v9"] instead of ["v9", "v10", "v11"].<br><br>Sorting can be changed using the ?sort= query parameter. When using ?sort=name to explicitly sort on ref name,<br>Bitbucket will apply natural sorting and interpret numerical values as numbers instead of strings.
      summary: Atlassian List Tags
      responses:
        '200':
          description: A paginated list of tags matching any filter criteria that were provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_tags'
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering). The `name`

          field is handled specially for tags in that, if specified as the sort field, it

          uses a natural sort order instead of the default lexicographical sort order. For example,

          it will return [''1.1'', ''1.2'', ''1.10''] instead of [''1.1'', ''1.10'', ''1.2''].'
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListTags
    post:
      tags:
      - Refs
      description: 'Creates a new tag in the specified repository.<br><br>The payload of the POST should consist of a JSON document that<br>contains the name of the tag and the target hash.<br><br>```<br>curl https://api.bitbucket.org/2.0/repositories/jdoe/myrepo/refs/tags \<br>-s -u jdoe -X POST -H "Content-Type: application/json" \<br>-d ''{<br>    "name" : "new-tag-name",<br>    "target" : {<br>        "hash" : "a1b2c3d4e5f6",<br>    }<br>}''<br>```<br><br>This endpoint does support using short hash prefixes for the commit<br>hash, but it may return a 400 response if the provided prefix is<br>ambiguous. Using a full commit hash is the preferred approach.'
      summary: Atlassian Create A Tag
      responses:
        '201':
          description: The newly created tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
        '400':
          description: If the target hash is missing, ambiguous, or invalid, or if the name is not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
        required: true
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
        - read:repository:bitbucket
      operationId: atlassianCreateATag
  /repositories/{workspace}/{repo_slug}/refs/tags/{name}:
    parameters:
    - name: name
      in: path
      description: The name of the tag.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Refs
      description: Delete a tag in the specified repository.<br><br>The tag name should not include any prefixes (e.g. refs/tags).
      summary: Atlassian Delete A Tag
      responses:
        '204':
          description: Indicates the specified tag was successfully deleted.
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or tag does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: atlassianDeleteATag
    get:
      tags:
      - Refs
      description: 'Returns the specified tag.<br><br>```<br>$ curl -s https://api.bitbucket.org/2.0/repositories/seanfarley/hg/refs/tags/3.8 -G | jq .<br>{<br>  "name": "3.8",<br>  "links": {<br>    "commits": {<br>      "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/commits/3.8"<br>    },<br>    "self": {<br>      "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/refs/tags/3.8"<br>    },<br>    "html": {<br>      "href": "https://bitbucket.org/seanfarley/hg/commits/tag/3.8"<br>    }<br>  },<br>  "tagger": {<br>    "raw": "Matt Mackall ",<br>    "type": "author",<br>    "user": {<br>      "username": "mpmselenic",<br>      "nickname": "mpmselenic",<br>      "display_name": "Matt Mackall",<br>      "type": "user",<br>      "uuid": "{a4934530-db4c-419c-a478-9ab4964c2ee7}",<br>      "links": {<br>        "self": {<br>          "href": "https://api.bitbucket.org/2.0/users/mpmselenic"<br>        },<br>        "html": {<br>          "href": "https://bitbucket.org/mpmselenic/"<br>        },<br>        "avatar": {<br>          "href": "https://bitbucket.org/account/mpmselenic/avatar/32/"<br>        }<br>      }<br>    }<br>  },<br>  "date": "2016-05-01T18:52:25+00:00",<br>  "message": "Added tag 3.8 for changeset f85de28eae32",<br>  "type": "tag",<br>  "target": {<br>    "hash": "f85de28eae32e7d3064b1a1321309071bbaaa069",<br>    "repository": {<br>      "links": {<br>        "self": {<br>          "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg"<br>        },<br>        "html": {<br>          "href": "https://bitbucket.org/seanfarley/hg"<br>        },<br>        "avatar": {<br>          "href": "https://bitbucket.org/seanfarley/hg/avatar/32/"<br>        }<br>      },<br>      "type": "repository",<br>      "name": "hg",<br>      "full_name": "seanfarley/hg",<br>      "uuid": "{c75687fb-e99d-4579-9087-190dbd406d30}"<br>    },<br>    "links": {<br>      "self": {<br>        "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/commit/f85de28eae32e7d3064b1a1321309071bbaaa069"<br>      },<br>      "comments": {<br>        "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/commit/f85de28eae32e7d3064b1a1321309071bbaaa069/comments"<br>      },<br>      "patch": {<br>        "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/patch/f85de28eae32e7d3064b1a1321309071bbaaa069"<br>      },<br>      "html": {<br>        "href": "https://bitbucket.org/seanfarley/hg/commits/f85de28eae32e7d3064b1a1321309071bbaaa069"<br>      },<br>      "diff": {<br>        "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/diff/f85de28eae32e7d3064b1a1321309071bbaaa069"<br>      },<br>      "approve": {<br>        "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/commit/f85de28eae32e7d3064b1a1321309071bbaaa069/approve"<br>      },<br>      "statuses": {<br>        "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/commit/f85de28eae32e7d3064b1a1321309071bbaaa069/statuses"<br>      }<br>    },<br>    "author": {<br>      "raw": "Sean Farley ",<br>      "type": "author",<br>      "user": {<br>        "username": "seanfarley",<br>        "nickname": "seanfarley",<br>        "display_name": "Sean Farley",<br>        "type": "user",<br>        "uuid": "{a295f8a8-5876-4d43-89b5-3ad8c6c3c51d}",<br>        "links": {<br>          "self": {<br>            "href": "https://api.bitbucket.org/2.0/users/seanfarley"<br>          },<br>          "html": {<br>            "href": "https://bitbucket.org/seanfarley/"<br>          },<br>          "avatar": {<br>            "href": "https://bitbucket.org/account/seanfarley/avatar/32/"<br>          }<br>        }<br>      }<br>    },<br>    "parents": [<br>      {<br>        "hash": "9a98d0e5b07fc60887f9d3d34d9ac7d536f470d2",<br>        "type": "commit",<br>        "links": {<br>          "self": {<br>            "href": "https://api.bitbucket.org/2.0/repositories/seanfarley/hg/commit/9a98d0e5b07fc60887f9d3d34d9ac7d536f470d2"<br>          },<br>          "html": {<br>            "href": "https://bitbucket.org/seanfarley/hg/commits/9a98d0e5b07fc60887f9d3d34d9ac7d536f470d2"<br>          }<br>        }<br>      }<br>    ],<br>    "date": "2016-05-01T04:21:17+00:00",<br>    "message": "debian: alphabetize build deps",<br>    "type": "commit"<br>  }<br>}<br>```'
      summary: Atlassian Get A Tag
      responses:
        '200':
          description: The tag object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or tag does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetATag
components:
  schemas:
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    team:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: Team
        description: A team object.
        properties:
          links:
            $ref: '#/components/schemas/team_links'
        additionalProperties: true
    paginated_refs:
      type: object
      title: Paginated Refs
      description: A paginated list of refs.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/ref'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    tag:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Tag
        description: A tag object, representing a tag in a repository.
        properties:
          message:
            type: string
            description: The message associated with the tag, if available.
          date:
            type: string
            description: The date that the tag was created, if available
            format: date-time
          tagger:
            $ref: '#/components/schemas/author'
        additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    repository:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Repository
        description: A Bitbucket repository.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              pullrequests:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              forks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watchers:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              downloads:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              clone:
                type: array
                items:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              hooks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The repository's immutable id. This can be used as a substitute for the slug segment in URLs. Doing this guarantees your URLs will survive renaming of the repository by its owner, or even transfer of the repository to a different user.
          full_name:
            type: string
            description: The concatenation of the repository owner's username and the slugified name, e.g. "evzijst/interruptingcow". This is the same string used in Bitbucket URLs.
          is_private:
            type: boolean
          parent:
            $ref: '#/components/schemas/repository'
          scm:
            type: string
            enum:
            - git
          owner:
            $ref: '#/components/schemas/account'
          name:
            type: string
          description:
            type: string
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          size:
            type: integer
          language:
            type: string
          has_issues:
            type: boolean
            description: '

              The issue tracker for this repository is enabled. Issue Tracker

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          has_wiki:
            type: boolean
            description: '

              The wiki for this repository is enabled. Wiki

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          fork_policy:
            type: string
            description: "\nControls the rules for forking this repository.\n\n* **allow_forks**: unrestricted forking\n* **no_public_forks**: restrict forking to private forks (forks cannot\n  be made public later)\n* **no_forks**: deny all forking\n"
            enum:
            - allow_forks
            - no_public_forks
            - no_forks
          project:
            $ref: '#/components/schemas/project'
          mainbranch:
            $ref: '#/components/schemas/branch'
        additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
        name:
          type: string
      additionalProperties: false
    paginated_branches:
      type: object
      title: Paginated Branches
      description: A paginated list of branches.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/branch'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    branch:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Branch
        description: A branch object, representing a branch in a repository.
        properties:
          merge_strategies:
            type: array
            description: Available merge strategies for pull requests targeting this branch.
            items:
              type: string
              enum:
              - merge_commit
              - squash
              - fast_forward
          default_merge_strategy:
            type: string
            description: The default merge strategy for pull requests targeting this branch.
        additionalProperties: true
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    paginated_tags:
      type: object
      title: Paginated Tags
      description: A paginated list of tags.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/tag'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    ref:
      type: object
      title: Ref
      description: A ref object, representing a branch or tag in a repository.
      properties:
        type:
          type: string
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            commits:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            html:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
        name:
          type: string
          description: The name of the ref.
        target:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
