openapi: 3.2.0
info:
  title: Atlassian Projects API
  version: '1.0'
  description: 'Operations tagged Projects across 2 of this provider''s published API definitions: bitbucket-openapi-original.yml, jira-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bitbucket.org/2.0
- url: https://your-domain.atlassian.net
tags:
- name: Projects
  description: 'Bitbucket Cloud projects make it easier for teams to focus on

    a goal, product, or process by organizing their repositories.

    '
paths:
  /workspaces/{workspace}/projects:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Projects
      description: 'Creates a new project.<br><br>Note that the avatar has to be embedded as either a data-url<br>or a URL to an external image as shown in the examples below:<br><br>```<br>$ body=$(cat '
      summary: Atlassian Create A Project In A Workspace
      responses:
        '201':
          description: A new project has been created.
          headers:
            Location:
              description: The location of the newly created project
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
        '403':
          description: The requesting user isn't authorized to create the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A workspace doesn't exist at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/project'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianCreateAProjectInAWorkspace
    servers:
    - url: https://api.bitbucket.org/2.0
  /workspaces/{workspace}/projects/{project_key}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Projects
      description: Deletes this project. This is an irreversible operation.<br><br>You cannot delete a project that still contains repositories.<br>To delete the project, [delete](/cloud/bitbucket/rest/api-group-repositories/#api-repositories-workspace-repo-slug-delete)<br>or transfer the repositories first.<br><br>Example:<br>```<br>$ curl -X DELETE https://api.bitbucket.org/2.0/workspaces/bbworkspace1/projects/PROJ<br>```
      summary: Atlassian Delete A Project For A Workspace
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: The requesting user isn't authorized to delete the project or the project isn't empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A project isn't hosted at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianDeleteAProjectForAWorkspace
    put:
      tags:
      - Projects
      description: 'Since this endpoint can be used to both update and to create a<br>project, the request body depends on the intent.<br><br>#### Creation<br><br>See the POST documentation for the project collection for an<br>example of the request body.<br><br>Note: The `key` should not be specified in the body of request<br>(since it is already present in the URL). The `name` is required,<br>everything else is optional.<br><br>#### Update<br><br>See the POST documentation for the project collection for an<br>example of the request body.<br><br>Note: The key is not required in the body (since it is already in<br>the URL). The key may be specified in the body, if the intent is<br>to change the key itself. In such a scenario, the location of the<br>project is changed and is returned in the `Location` header of the<br>response.'
      summary: Atlassian Update A Project For A Workspace
      responses:
        '200':
          description: The existing project is has been updated.
          headers:
            Location:
              description: 'The location of the project. This header is only provided

                when the project key is updated.'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
        '201':
          description: A new project has been created.
          headers:
            Location:
              description: The location of the newly created project
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
        '403':
          description: The requesting user isn't authorized to update or create the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A workspace doesn't exist at the location. Note that the project's absence from this location doesn't raise a 404, since a PUT at a non-existent location can be used to create a new project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/project'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianUpdateAProjectForAWorkspace
    servers:
    - url: https://api.bitbucket.org/2.0
  /workspaces/{workspace}/projects/{project_key}/default-reviewers:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Projects
      description: Return a list of all default reviewers for a project. This is a list of users that will be added as default<br>reviewers to pull requests for any repository within the project.
      summary: Atlassian List The Default Reviewers In A Project
      responses:
        '200':
          description: The list of project default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_default_reviewer_and_type'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - user:
                        display_name: Davis Lee
                        uuid: '{f0e0e8e9-66c1-4b85-a784-44a9eb9ef1a6}'
                      reviewer_type: project
                      type: default_reviewer
                    - user:
                        display_name: Jorge Rodriguez
                        uuid: '{1aa43376-260d-4a0b-9660-f62672b9655d}'
                      reviewer_type: project
                      type: default_reviewer
                    page: 1
                    size: 2
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the workspace or project does not exist at this location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListTheDefaultReviewersInAProject
    servers:
    - url: https://api.bitbucket.org/2.0
  /workspaces/{workspace}/projects/{project_key}/default-reviewers/{selected_user}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This can either be the actual `key` assigned

        to the project or the `UUID` (surrounded by curly-braces (`{}`)).

        '
      required: true
      schema:
        type: string
    - name: selected_user
      in: path
      description: 'This can either be the username or the UUID of the default reviewer,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Projects
      description: Removes a default reviewer from the project.<br><br>Example:<br>```<br>$ curl https://api.bitbucket.org/2.0/.../default-reviewers/%7Bf0e0e8e9-66c1-4b85-a784-44a9eb9ef1a6%7D<br><br>HTTP/1.1 204<br>```
      summary: Atlassian Remove The Specific User From The Project S Default Reviewers
      responses:
        '204':
          description: The specified user was removed from the list of project default reviewers
        '400':
          description: If the specified user is not a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianRemoveTheSpecificUserFromTheProjectSDefaultReviewers
    get:
      tags:
      - Projects
      description: Returns the specified default reviewer.
      summary: Atlassian Get A Default Reviewer
      responses:
        '200':
          description: The specified user that is a default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
              examples:
                response:
                  value:
                    display_name: Davis Lee
                    type: user
                    uuid: '{f0e0e8e9-66c1-4b85-a784-44a9eb9ef1a6}'
        '400':
          description: If the specified user is not a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianGetADefaultReviewer
    put:
      tags:
      - Projects
      description: Adds the specified user to the project's list of default reviewers. The method is<br>idempotent. Accepts an optional body containing the `uuid` of the user to be added.
      summary: Atlassian Add The Specific User As A Default Reviewer For The Project
      responses:
        '200':
          description: The specified user was added as a project default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
              examples:
                response:
                  value:
                    display_name: Yaniv Sagy
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/users/%7Bdd5db7f2-6389-458d-a62a-716773910b7a%7D
                      avatar:
                        href: https://secure.gravatar.com/avatar/YS-2.png
                      html:
                        href: https://api.bitbucket.org/%7Bdd5db7f2-6389-458d-a62a-716773910b7a%7D/
                    type: user
                    uuid: '{dd5db7f2-6389-458d-a62a-716773910b7a}'
                    account_id: 712020:4efe52fa-b4b4-475b-9eb0-c0a23b7eb194
                    nickname: Yaniv Sagy
        '400':
          description: If the specified user cannot be added as a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianAddTheSpecificUserAsADefaultReviewerForTheProject
    servers:
    - url: https://api.bitbucket.org/2.0
  /workspaces/{workspace}/projects/{project_key}/permissions-config/groups:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Projects
      description: Returns a paginated list of explicit group permissions for the given project.<br>This endpoint does not support BBQL features.
      summary: Atlassian List Explicit Group Permissions For A Project
      responses:
        '200':
          description: Paginated list of project group permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_project_group_permissions'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - type: project_group_permission
                      group:
                        type: group
                        name: Administrators
                        slug: administrators
                      permission: admin
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/groups/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                    - type: project_group_permission
                      group:
                        type: group
                        name: Developers
                        slug: developers
                      permission: write
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/groups/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324c
                    page: 1
                    size: 2
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The user doesn't have admin access to the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or both of the workspace and project don't exist for the given identifiers or the requesting user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:project:bitbucket
        - read:user:bitbucket
      operationId: atlassianListExplicitGroupPermissionsForAProject
    servers:
    - url: https://api.bitbucket.org/2.0
  /workspaces/{workspace}/projects/{project_key}/permissions-config/groups/{group_slug}:
    parameters:
    - name: group_slug
      in: path
      description: Slug of the requested group.
      required: true
      schema:
        type: string
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Projects
      description: Deletes the project group permission between the requested project and group, if one exists.<br><br>Only users with admin permission for the project may access this resource.
      summary: Atlassian Delete An Explicit Group Permission For A Project
      responses:
        '204':
          description: The project group permission was deleted and no content returned.
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and group doesn't exist                               for the given identifiers or the requesting user is not                               authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAnExplicitGroupPermissionForAProject
    get:
      tags:
      - Projects
      description: Returns the group permission for a given group and project.<br><br>Only users with admin permission for the project may access this resource.<br><br>Permissions can be:<br><br>* `admin`<br>* `create-repo`<br>* `write`<br>* `read`<br>* `none`
      summary: Atlassian Get An Explicit Group Permission For A Project
      responses:
        '200':
          description: Project group permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_group_permission'
              examples:
                response:
                  value:
                    type: project_group_permission
                    group:
                      type: group
                      name: Administrators
                      slug: administrators
                    permission: admin
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/groups/administrators
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The user doesn't have admin access to the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and group doesn't exist                               for the given identifiers or the requesting user is not                               authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:project:bitbucket
        - read:user:bitbucket
      operationId: atlassianGetAnExplicitGroupPermissionForAProject
    put:
      tags:
      - Projects
      description: Updates the group permission, or grants a new permission if one does not already exist.<br><br>Only users with admin permission for the project may access this resource.<br><br>Due to security concerns, the JWT and OAuth authentication methods are unsupported.<br>This is to ensure integrations and add-ons are not allowed to change permissions.<br><br>Permissions can be:<br><br>* `admin`<br>* `create-repo`<br>* `write`<br>* `read`
      summary: Atlassian Update An Explicit Group Permission For A Project
      responses:
        '200':
          description: Project group permission updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_group_permission'
              examples:
                response:
                  value:
                    type: project_group_permission
                    group:
                      type: group
                      name: Administrators
                      slug: administrators
                    permission: write
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/groups/administrators
        '400':
          description: No permission value was provided or the value is invalid(not one of read, write, create-repo, or admin).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '402':
          description: You have reached your plan's user limit and must upgrade before giving access to additional users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and group doesn't exist                               for the given identifiers or the requesting user is not                               authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/bitbucket.apps.permissions.serializers.ProjectPermissionUpdateSchema'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianUpdateAnExplicitGroupPermissionForAProject
    servers:
    - url: https://api.bitbucket.org/2.0
  /workspaces/{workspace}/projects/{project_key}/permissions-config/users:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Projects
      description: Returns a paginated list of explicit user permissions for the given project.<br>This endpoint does not support BBQL features.
      summary: Atlassian List Explicit User Permissions For A Project
      responses:
        '200':
          description: Paginated list of explicit user permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_project_user_permissions'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - type: project_user_permission
                      user:
                        type: user
                        display_name: Colin Cameron
                        uuid: '{d301aafa-d676-4ee0-88be-962be7417567}'
                        account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                      permission: admin
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                    - type: project_user_permission
                      user:
                        type: user
                        display_name: Sean Conaty
                        uuid: '{504c3b62-8120-4f0c-a7bc-87800b9d6f70}'
                        account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324c
                      permission: write
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324c
                    page: 1
                    size: 2
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The user doesn't have admin access to the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or both of the workspace and project don't exist for the given identifiers or the requesting user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:project:bitbucket
        - read:user:bitbucket
      operationId: atlassianListExplicitUserPermissionsForAProject
    servers:
    - url: https://api.bitbucket.org/2.0
  /workspaces/{workspace}/projects/{project_key}/permissions-config/users/{selected_user_id}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: selected_user_id
      in: path
      description: 'This can either be the username, the user''s UUID surrounded by curly-braces,

        for example: {account UUID}, or the user''s Atlassian ID.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Projects
      description: Deletes the project user permission between the requested project and user, if one exists.<br><br>Only users with admin permission for the project may access this resource.<br><br>Due to security concerns, the JWT and OAuth authentication methods are unsupported.<br>This is to ensure integrations and add-ons are not allowed to change permissions.
      summary: Atlassian Delete An Explicit User Permission For A Project
      responses:
        '204':
          description: The project user permission was deleted and no content returned.
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and selected user doesn't exist for the given identifiers or the requesting user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAnExplicitUserPermissionForAProject
    get:
      tags:
      - Projects
      description: Returns the explicit user permission for a given user and project.<br><br>Only users with admin permission for the project may access this resource.<br><br>Permissions can be:<br><br>* `admin`<br>* `create-repo`<br>* `write`<br>* `read`<br>* `none`
      summary: Atlassian Get An Explicit User Permission For A Project
      responses:
        '200':
          description: Explicit user permission for user and project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_user_permission'
              examples:
                response:
                  value:
                    type: project_user_permission
                    user:
                      type: user
                      display_name: Colin Cameron
                      uuid: '{d301aafa-d676-4ee0-88be-962be7417567}'
                      account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                    permission: admin
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and selected user doesn't exist for the given identifiers or the requesting user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:project:bitbucket
        - read:user:bitbucket
      operationId: atlassianGetAnExplicitUserPermissionForAProject
    put:
      tags:
      - Projects
      description: Updates the explicit user permission for a given user and project. The selected<br>user must be a member of the workspace, and cannot be the workspace owner.<br><br>Only users with admin permission for the project may access this resource.<br><br>Due to security concerns, the JWT and OAuth authentication methods are unsupported.<br>This is to ensure integrations and add-ons are not allowed to change permissions.<br><br>Permissions can be:<br><br>* `admin`<br>* `create-repo`<br>* `write`<br>* `read`
      summary: Atlassian Update An Explicit User Permission For A Project
      responses:
        '200':
          description: Explicit user permission updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_user_permission'
              examples:
                response:
                  value:
                    type: project_user_permission
                    user:
                      type: user
                      display_name: Colin Cameron
                      uuid: '{d301aafa-d676-4ee0-88be-962be7417567}'
                      account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                    permission: write
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
        '400':
          description: No permission value was provided or the value is invalid (not one of read, write, create-repo, or admin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '402':
          description: You have reached your plan's user limit and must upgrade before giving access to additional users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and selected user doesn't exist for the given identifiers or the requesting user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/bitbucket.apps.permissions.serializers.ProjectPermissionUpdateSchema'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianUpdateAnExplicitUserPermissionForAProject
    servers:
    - url: https://api.bitbucket.org/2.0
  /rest/api/3/project:
    get:
      deprecated: true
      description: Returns all projects visible to the user. Deprecated, use [ Get projects paginated](#api-rest-api-3-project-search-get) that supports search and pagination.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** Projects are returned only where the user has *Browse Projects* or *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.
      operationId: atlassianGetallprojects
      parameters:
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expanded options include:\n\n *  `description` Returns the project description.\n *  `issueTypes` Returns all issue types associated with the project.\n *  `lead` Returns information about the project lead.\n *  `projectKeys` Returns all project keys associated with the project."
        in: query
        name: expand
        schema:
          type: string
      - description: Returns the user's most recently accessed projects. You may specify the number of results to return up to a maximum of 20. If access is anonymous, then the recently accessed projects are based on the current HTTP session.
        in: query
        name: recent
        schema:
          format: int32
          type: integer
      - description: A list of project properties to return for the project. This parameter accepts a comma-separated list.
        in: query
        name: properties
        schema:
          items:
            default: ''
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              example: '[{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10000"},"id":"10000","insight":{"lastIssueUpdateTime":1619069825000,"totalIssueCount":100},"key":"EX","name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/EX","simplified":false,"style":"CLASSIC"},{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10001","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10001","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10001","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10001"},"id":"10001","insight":{"lastIssueUpdateTime":1619069825000,"totalIssueCount":100},"key":"ABC","name":"Alphabetical","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/ABC","simplified":false,"style":"CLASSIC"}]'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get All Projects
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type:jira
        - read:project:jira
        - read:project.property:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type-hierarchy:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-changes:
      - announced: '2018-10-19'
        details: https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-removal-of-get-filters-and-get-all-projects/
        effective: '2019-04-19'
        type: removed
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Creates a project based on a project type template, as shown in the following table:<br><br>| Project Type Key | Project Template Key |  <br>|--|--|  <br>| `business` | `com.atlassian.jira-core-project-templates:jira-core-simplified-content-management`, `com.atlassian.jira-core-project-templates:jira-core-simplified-document-approval`, `com.atlassian.jira-core-project-templates:jira-core-simplified-lead-tracking`, `com.atlassian.jira-core-project-templates:jira-core-simplified-process-control`, `com.atlassian.jira-core-project-templates:jira-core-simplified-procurement`, `com.atlassian.jira-core-project-templates:jira-core-simplified-project-management`, `com.atlassian.jira-core-project-templates:jira-core-simplified-recruitment`, `com.atlassian.jira-core-project-templates:jira-core-simplified-task-tracking` |  <br>| `service_desk` | `com.atlassian.servicedesk:simplified-it-service-management`, `com.atlassian.servicedesk:simplified-general-service-desk-it`, `com.atlassian.servicedesk:simplified-general-service-desk-business`, `com.atlassian.servicedesk:simplified-external-service-desk`, `com.atlassian.servicedesk:simplified-hr-service-desk`, `com.atlassian.servicedesk:simplified-facilities-service-desk`, `com.atlassian.servicedesk:simplified-legal-service-desk`, `com.atlassian.servicedesk:simplified-analytics-service-desk`, `com.atlassian.servicedesk:simplified-marketing-service-desk`, `com.atlassian.servicedesk:simplified-design-service-desk`, `com.atlassian.servicedesk:simplified-sales-service-desk`, `com.atlassian.servicedesk:simplified-blank-project-business`, `com.atlassian.servicedesk:simplified-blank-project-it`, `com.atlassian.servicedesk:simplified-finance-service-desk`, `com.atlassian.servicedesk:next-gen-it-service-desk`, `com.atlassian.servicedesk:next-gen-hr-service-desk`, `com.atlassian.servicedesk:next-gen-legal-service-desk`, `com.atlassian.servicedesk:next-gen-marketing-service-desk`, `com.atlassian.servicedesk:next-gen-facilities-service-desk`, `com.atlassian.servicedesk:next-gen-general-it-service-desk`, `com.atlassian.servicedesk:next-gen-general-business-service-desk`, `com.atlassian.servicedesk:next-gen-analytics-service-desk`, `com.atlassian.servicedesk:next-gen-finance-service-desk`, `com.atlassian.servicedesk:next-gen-design-service-desk`, `com.atlassian.servicedesk:next-gen-sales-service-desk` |  <br>| `software` | `com.pyxis.greenhopper.jira:gh-simplified-agility-kanban`, `com.pyxis.greenhopper.jira:gh-simplified-agility-scrum`, `com.pyxis.greenhopper.jira:gh-simplified-basic`, `com.pyxis.greenhopper.jira:gh-simplified-kanban-classic`, `com.pyxis.greenhopper.jira:gh-simplified-scrum-classic` |  <br>The project types are available according to the installed Jira features as follows:<br><br> *  Jira Core, the default, enables `business` projects.<br> *  Jira Service Management enables `service_desk` projects.<br> *  Jira Software enables `software` projects.<br><br>To determine which features are installed, go to **Jira settings** > **Apps** > **Manage apps** and review the System Apps list. To add Jira Software or Jira Service Management into a JIRA instance, use **Jira settings** > **Apps** > **Finding new apps**. For more information, see [ Managing add-ons](https://confluence.atlassian.com/x/S31NLg).<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianCreateproject
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              assigneeType: PROJECT_LEAD
              avatarId: 10200
              categoryId: 10120
              description: Cloud migration initiative
              issueSecurityScheme: 10001
              key: EX
              leadAccountId: 5b10a0effa615349cb016cd8
              name: Example
              notificationScheme: 10021
              permissionScheme: 10011
              projectTemplateKey: com.atlassian.jira-core-project-templates:jira-core-simplified-process-control
              projectTypeKey: business
              url: http://atlassian.com
            schema:
              $ref: '#/components/schemas/CreateProjectDetails'
        description: The JSON representation of the project being created.
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"id":10010,"key":"EX","self":"https://your-domain.atlassian.net/jira/rest/api/3/project/10042"}'
              schema:
                $ref: '#/components/schemas/ProjectIdentifiers'
          description: Returned if the project is created.
        '400':
          description: Returned if the request is not valid and the project could not be created.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have permission to create projects.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      - {}
      summary: Atlassian Create Project
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project:jira
        - read:project:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/recent:
    get:
      deprecated: false
      description: Returns a list of up to 20 projects recently viewed by the user that are still visible to the user.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** Projects are returned only where the user has one of:<br><br> *  *Browse Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.<br> *  *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.<br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetrecent
      parameters:
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expanded options include:\n\n *  `description` Returns the project description.\n *  `projectKeys` Returns all project keys associated with a project.\n *  `lead` Returns information about the project lead.\n *  `issueTypes` Returns all issue types associated with the project.\n *  `url` Returns the URL associated with the project.\n *  `permissions` Returns the permissions associated with the project.\n *  `insight` EXPERIMENTAL. Returns the insight details of total issue count and last issue update time for the project.\n *  `*` Returns the project with all available expand options."
        in: query
        name: expand
        schema:
          type: string
      - description: EXPERIMENTAL. A list of project properties to return for the project. This parameter accepts a comma-separated list. Invalid property names are ignored.
        in: query
        name: properties
        schema:
          items:
            $ref: '#/components/schemas/StringList'
          type: array
      responses:
        '200':
          content:
            application/json:
              example: '[{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10000"},"id":"10000","insight":{"lastIssueUpdateTime":1619069825000,"totalIssueCount":100},"key":"EX","name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/EX","simplified":false,"style":"CLASSIC"},{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10001","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10001","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10001","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10001"},"id":"10001","insight":{"lastIssueUpdateTime":1619069825000,"totalIssueCount":100},"key":"ABC","name":"Alphabetical","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/ABC","simplified":false,"style":"CLASSIC"}]'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Recent Projects
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type:jira
        - read:project:jira
        - read:project.property:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type-hierarchy:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/search:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of projects visible to the user.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** Projects are returned only where the user has one of:<br><br> *  *Browse Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.<br> *  *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.<br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianSearchprojects
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: "[Order](#ordering) the results by a field.\n\n *  `category` Sorts by project category. A complete list of category IDs is found using [Get all project categories](#api-rest-api-3-projectCategory-get).\n *  `issueCount` Sorts by the total number of issues in each project.\n *  `key` Sorts by project key.\n *  `lastIssueUpdatedTime` Sorts by the last issue update time.\n *  `name` Sorts by project name.\n *  `owner` Sorts by project lead.\n *  `archivedDate` EXPERIMENTAL. Sorts by project archived date.\n *  `deletedDate` EXPERIMENTAL. Sorts by project deleted date."
        in: query
        name: orderBy
        schema:
          default: key
          enum:
          - category
          - -category
          - +category
          - key
          - -key
          - +key
          - name
          - -name
          - +name
          - owner
          - -owner
          - +owner
          - issueCount
          - -issueCount
          - +issueCount
          - lastIssueUpdatedDate
          - -lastIssueUpdatedDate
          - +lastIssueUpdatedDate
          - archivedDate
          - +archivedDate
          - -archivedDate
          - deletedDate
          - +deletedDate
          - -deletedDate
          type: string
      - description: The project IDs to filter the results by. To include multiple IDs, provide an ampersand-separated list. For example, `id=10000&id=10001`. Up to 50 project IDs can be provided.
        in: query
        name: id
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      - description: The project keys to filter the results by. To include multiple keys, provide an ampersand-separated list. For example, `keys=PA&keys=PB`. Up to 50 project keys can be provided.
        in: query
        name: keys
        schema:
          items:
            default: ''
            type: string
          type: array
          uniqueItems: true
      - description: Filter the results using a literal string. Projects with a matching `key` or `name` are returned (case insensitive).
        in: query
        name: query
        schema:
          type: string
      - description: Orders results by the [project type](https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes). This parameter accepts a comma-separated list. Valid values are `business`, `service_desk`, and `software`.
        in: query
        name: typeKey
        schema:
          type: string
      - description: The ID of the project's category. A complete list of category IDs is found using the [Get all project categories](#api-rest-api-3-projectCategory-get) operation.
        in: query
        name: categoryId
        schema:
          format: int64
          type: integer
      - description: "Filter results by projects for which the user can:\n\n *  `view` the project, meaning that they have one of the following permissions:\n    \n     *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.\n     *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.\n     *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).\n *  `browse` the project, meaning that they have the *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.\n *  `edit` the project, meaning that they have one of the following permissions:\n    \n     *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.\n     *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).\n *  `create` the project, meaning that they have the *Create issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project in which the issue is created."
        in: query
        name: action
        schema:
          default: view
          enum:
          - view
          - browse
          - edit
          - create
          type: string
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expanded options include:\n\n *  `description` Returns the project description.\n *  `projectKeys` Returns all project keys associated with a project.\n *  `lead` Returns information about the project lead.\n *  `issueTypes` Returns all issue types associated with the project.\n *  `url` Returns the URL associated with the project.\n *  `insight` EXPERIMENTAL. Returns the insight details of total issue count and last issue update time for the project."
        in: query
        name: expand
        schema:
          type: string
      - description: "EXPERIMENTAL. Filter results by project status:\n\n *  `live` Search live projects.\n *  `archived` Search archived projects.\n *  `deleted` Search deleted projects, those in the recycle bin."
        in: query
        name: status
        schema:
          items:
            default: live
            enum:
            - live
            - archived
            - deleted
            type: string
          type: array
      - description: EXPERIMENTAL. A list of project properties to return for the project. This parameter accepts a comma-separated list.
        in: query
        name: properties
        schema:
          items:
            $ref: '#/components/schemas/StringList'
          type: array
      - description: EXPERIMENTAL. A query string used to search properties. The query string cannot be specified using a JSON object. For example, to search for the value of `nested` from `{"something":{"nested":1,"other":2}}` use `[thepropertykey].something.nested=1`. Note that the propertyQuery key is enclosed in square brackets to enable searching where the propertyQuery key includes dot (.) or equals (=) characters. Note that `thepropertykey` is only returned when included in `properties`.
        in: query
        name: propertyQuery
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":false,"maxResults":2,"nextPage":"https://your-domain.atlassian.net/rest/api/3/project/search?startAt=2&maxResults=2","self":"https://your-domain.atlassian.net/rest/api/3/project/search?startAt=0&maxResults=2","startAt":0,"total":7,"values":[{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10000"},"id":"10000","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"key":"EX","name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/EX","simplified":false,"style":"classic"},{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10001","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10001","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10001","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10001"},"id":"10001","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"key":"ABC","name":"Alphabetical","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/ABC","simplified":false,"style":"classic"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanProject'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if no projects matching the search criteria are found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Projects Paginated
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type:jira
        - read:project:jira
        - read:project.property:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type-hierarchy:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/{projectIdOrKey}:
    delete:
      deprecated: false
      description: Deletes a project.<br><br>You can't delete a project if it's archived. To delete an archived project, restore the project and then delete it. To restore a project, use the Jira UI.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeleteproject
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          example: '10001'
          type: string
      - description: Whether this project is placed in the Jira recycle bin where it will be available for restoration.
        in: query
        name: enableUndo
        schema:
          default: true
          type: boolean
      responses:
        '204':
          description: Returned if the project is deleted.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the project is not found or the user does not have permission to delete it.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      - {}
      summary: Atlassian Delete Project
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:project:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    get:
      deprecated: false
      description: Returns the [project details](https://confluence.atlassian.com/x/ahLpNw) for a project.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.
      operationId: atlassianGetproject
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Note that the project description, issue types, and project lead are included in all responses by default. Expand options include:\n\n *  `description` The project description.\n *  `issueTypes` The issue types associated with the project.\n *  `lead` The project lead.\n *  `projectKeys` All project keys associated with the project.\n *  `issueTypeHierarchy` The project issue type hierarchy."
        in: query
        name: expand
        schema:
          type: string
      - description: A list of project properties to return for the project. This parameter accepts a comma-separated list.
        in: query
        name: properties
        schema:
          items:
            default: ''
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              example: '{"assigneeType":"PROJECT_LEAD","avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10000"},"components":[{"ari":"ari:cloud:compass:fdb3fdec-4e70-be56-11ee-0242ac120002:component/fdb3fdec-4e70-11ee-be56-0242ac120002/fdb3fdec-11ee-4e70-be56-0242ac120002","assignee":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"assigneeType":"PROJECT_LEAD","description":"This is a Jira component","id":"10000","isAssigneeTypeValid":false,"lead":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"metadata":{"icon":"https://www.example.com/icon.png"},"name":"Component 1","project":"HSP","projectId":10000,"realAssignee":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"realAssigneeType":"PROJECT_LEAD","self":"https://your-domain.atlassian.net/rest/api/3/component/10000"}],"description":"This project was created as an example for REST.","email":"from-jira@example.com","id":"10000","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"issueTypes":[{"avatarId":1,"description":"A task that needs to be done.","hierarchyLevel":0,"iconUrl":"https://your-domain.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10299&avatarType=issuetype\",","id":"3","name":"Task","self":"https://your-domain.atlassian.net/rest/api/3/issueType/3","subtask":false},{"avatarId":10002,"description":"A problem with the software.","entityId":"9d7dd6f7-e8b6-4247-954b-7b2c9b2a5ba2","hierarchyLevel":0,"iconUrl":"https://your-domain.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10316&avatarType=issuetype\",","id":"1","name":"Bug","scope":{"project":{"id":"10000"},"type":"PROJECT"},"self":"https://your-domain.atlassian.net/rest/api/3/issueType/1","subtask":false}],"key":"EX","lead":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"properties":{"propertyKey":"propertyValue"},"roles":{"Developers":"https://your-domain.atlassian.net/rest/api/3/project/EX/role/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/EX","simplified":false,"style":"classic","url":"https://www.example.com","versions":[]}'
              schema:
                $ref: '#/components/schemas/Project'
          description: Returned if successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the project is not found or the user does not have permission to view it.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Project
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type:jira
        - read:project:jira
        - read:project.property:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type-hierarchy:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Updates the [project details](https://confluence.atlassian.com/x/ahLpNw) of a project.<br><br>All parameters are optional in the body of the request. Schemes will only be updated if they are included in the request, any omitted schemes will be left unchanged.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). is only needed when changing the schemes or project key. Otherwise you will only need *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg)
      operationId: atlassianUpdateproject
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          example: '10001'
          type: string
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Note that the project description, issue types, and project lead are included in all responses by default. Expand options include:\n\n *  `description` The project description.\n *  `issueTypes` The issue types associated with the project.\n *  `lead` The project lead.\n *  `projectKeys` All project keys associated with the project."
        in: query
        name: expand
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              assigneeType: PROJECT_LEAD
              avatarId: 10200
              categoryId: 10120
              description: Cloud migration initiative
              issueSecurityScheme: 10001
              key: EX
              leadAccountId: 5b10a0effa615349cb016cd8
              name: Example
              notificationScheme: 10021
              permissionScheme: 10011
              url: http://atlassian.com
            schema:
              $ref: '#/components/schemas/UpdateProjectDetails'
        description: The project details to be updated.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"assigneeType":"PROJECT_LEAD","avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10000"},"components":[{"ari":"ari:cloud:compass:fdb3fdec-4e70-be56-11ee-0242ac120002:component/fdb3fdec-4e70-11ee-be56-0242ac120002/fdb3fdec-11ee-4e70-be56-0242ac120002","assignee":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"assigneeType":"PROJECT_LEAD","description":"This is a Jira component","id":"10000","isAssigneeTypeValid":false,"lead":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"metadata":{"icon":"https://www.example.com/icon.png"},"name":"Component 1","project":"HSP","projectId":10000,"realAssignee":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"realAssigneeType":"PROJECT_LEAD","self":"https://your-domain.atlassian.net/rest/api/3/component/10000"}],"description":"This project was created as an example for REST.","email":"from-jira@example.com","id":"10000","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"issueTypes":[{"avatarId":1,"description":"A task that needs to be done.","hierarchyLevel":0,"iconUrl":"https://your-domain.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10299&avatarType=issuetype\",","id":"3","name":"Task","self":"https://your-domain.atlassian.net/rest/api/3/issueType/3","subtask":false},{"avatarId":10002,"description":"A problem with the software.","entityId":"9d7dd6f7-e8b6-4247-954b-7b2c9b2a5ba2","hierarchyLevel":0,"iconUrl":"https://your-domain.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10316&avatarType=issuetype\",","id":"1","name":"Bug","scope":{"project":{"id":"10000"},"type":"PROJECT"},"self":"https://your-domain.atlassian.net/rest/api/3/issueType/1","subtask":false}],"key":"EX","lead":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"properties":{"propertyKey":"propertyValue"},"roles":{"Developers":"https://your-domain.atlassian.net/rest/api/3/project/EX/role/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/EX","simplified":false,"style":"classic","url":"https://www.example.com","versions":[]}'
              schema:
                $ref: '#/components/schemas/Project'
          description: Returned if the project is updated.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: "Returned if:\n\n *  the user does not have the necessary permission to update project details.\n *  the permission scheme is being changed and the Jira instance is Jira Core Free or Jira Software Free. Permission schemes cannot be changed on free plans."
        '404':
          description: Returned if the project is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Update Project
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type:jira
        - read:project:jira
        - read:project.property:jira
        - read:user:jira
        - write:project:jira
        - write:project.avatar:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type-hierarchy:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/{projectIdOrKey}/archive:
    post:
      deprecated: false
      description: Archives a project. You can't delete a project if it's archived. To delete an archived project, restore the project and then delete it. To restore a project, use the Jira UI.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianArchiveproject
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permissions.
        '404':
          description: Returned if the project is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Archive Project
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/{projectIdOrKey}/delete:
    post:
      deprecated: false
      description: Deletes a project asynchronously.<br><br>This operation is:<br><br> *  transactional, that is, if part of the delete fails the project is not deleted.<br> *  [asynchronous](#async). Follow the `location` link in the response to determine the status of the task and use [Get task](#api-rest-api-3-task-taskId-get) to obtain subsequent updates.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeleteprojectasynchronously
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      responses:
        '303':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskProgressBeanObject'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the project is not found or the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      - {}
      summary: Atlassian Delete Project Asynchronously
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project:jira
        - write:project.property:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/{projectIdOrKey}/restore:
    post:
      deprecated: false
      description: Restores a project that has been archived or placed in the Jira recycle bin.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg)for Company managed projects.<br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) or *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project for Team managed projects.
      operationId: atlassianRestore
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"assigneeType":"PROJECT_LEAD","avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10000"},"components":[{"ari":"ari:cloud:compass:fdb3fdec-4e70-be56-11ee-0242ac120002:component/fdb3fdec-4e70-11ee-be56-0242ac120002/fdb3fdec-11ee-4e70-be56-0242ac120002","assignee":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"assigneeType":"PROJECT_LEAD","description":"This is a Jira component","id":"10000","isAssigneeTypeValid":false,"lead":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"metadata":{"icon":"https://www.example.com/icon.png"},"name":"Component 1","project":"HSP","projectId":10000,"realAssignee":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"realAssigneeType":"PROJECT_LEAD","self":"https://your-domain.atlassian.net/rest/api/3/component/10000"}],"description":"This project was created as an example for REST.","email":"from-jira@example.com","id":"10000","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"issueTypes":[{"avatarId":1,"description":"A task that needs to be done.","hierarchyLevel":0,"iconUrl":"https://your-domain.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10299&avatarType=issuetype\",","id":"3","name":"Task","self":"https://your-domain.atlassian.net/rest/api/3/issueType/3","subtask":false},{"avatarId":10002,"description":"A problem with the software.","entityId":"9d7dd6f7-e8b6-4247-954b-7b2c9b2a5ba2","hierarchyLevel":0,"iconUrl":"https://your-domain.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10316&avatarType=issuetype\",","id":"1","name":"Bug","scope":{"project":{"id":"10000"},"type":"PROJECT"},"self":"https://your-domain.atlassian.net/rest/api/3/issueType/1","subtask":false}],"key":"EX","lead":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"properties":{"propertyKey":"propertyValue"},"roles":{"Developers":"https://your-domain.atlassian.net/rest/api/3/project/EX/role/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/EX","simplified":false,"style":"classic","url":"https://www.example.com","versions":[]}'
              schema:
                $ref: '#/components/schemas/Project'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the project is not found or the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      - {}
      summary: Atlassian Restore Deleted Or Archived Project
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type:jira
        - read:project:jira
        - read:project.property:jira
        - read:user:jira
        - write:project:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type-hierarchy:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/{projectIdOrKey}/statuses:
    get:
      deprecated: false
      description: Returns the valid statuses for a project. The statuses are grouped by issue type, as each project has a set of valid issue types and each issue type has a set of valid statuses.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.
      operationId: atlassianGetallstatuses
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '[{"id":"3","name":"Task","self":"https://your-domain.atlassian.net/rest/api/3/issueType/3","statuses":[{"description":"The issue is currently being worked on.","iconUrl":"https://your-domain.atlassian.net/images/icons/progress.gif","id":"10000","name":"In Progress","self":"https://your-domain.atlassian.net/rest/api/3/status/10000"},{"description":"The issue is closed.","iconUrl":"https://your-domain.atlassian.net/images/icons/closed.gif","id":"5","name":"Closed","self":"https://your-domain.atlassian.net/rest/api/3/status/5"}],"subtask":false}]'
              schema:
                items:
                  $ref: '#/components/schemas/IssueTypeWithStatus'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the project is not found or the user does not have permission to view it.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get All Statuses For Project
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-status:jira
        - read:issue-type:jira
        - read:status:jira
        state: Beta
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/{projectId}/hierarchy:
    get:
      deprecated: false
      description: Get the issue type hierarchy for a next-gen project.<br><br>The issue type hierarchy for a project consists of:<br><br> *  *Epic* at level 1 (optional).<br> *  One or more issue types at level 0 such as *Story*, *Task*, or *Bug*. Where the issue type *Epic* is defined, these issue types are used to break down the content of an epic.<br> *  *Subtask* at level -1 (optional). This issue type enables level 0 issue types to be broken down into components. Issues based on a level -1 issue type must have a parent issue.<br><br>**[Permissions](#permissions) required:** *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.
      operationId: atlassianGethierarchy
      parameters:
      - description: The ID of the project.
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"hierarchy":[{"issueTypes":[{"avatarId":10324,"entityId":"ce32639b-8911-4689-81da-65681f451516","id":10008,"name":"Story"},{"avatarId":10324,"entityId":"ffdbced5-fbfc-4370-a848-94e2ce3751af","id":10001,"name":"Bug"}],"level":0,"name":"Base"},{"issueTypes":[{"avatarId":10179,"entityId":"80f20d47-34dc-4680-8937-936b7e762a35","id":10007,"name":"Epic"}],"level":1,"name":"Epic"},{"issueTypes":[{"avatarId":10573,"entityId":"210b4879-15cc-414c-9746-f8f6b6be0a72","id":10009,"name":"Subtask"}],"level":-1,"name":"Subtask"}],"projectId":10030}'
              schema:
                $ref: '#/components/schemas/ProjectIssueTypeHierarchy'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the project is not found or the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      summary: Atlassian Get Project Issue Type Hierarchy
      tags:
      - Projects
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type:jira
        - read:issue-type-hierarchy:jira
        state: Beta
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/project/{projectKeyOrId}/notificationscheme:
    get:
      deprecated: false
      description: Gets a [notification scheme](https://confluence.atlassian.com/x/8YdKLg) associated with the project.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) or *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg).
      operationId: atlassianGetnotificationschemeforproject
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectKeyOrId
        required: true
        schema:
          type: string
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `all` Returns all expandable information\n *  `field` Returns information about any custom fields assigned to receive an event\n *  `group` Returns information about any groups assigned to receive an event\n *  `notificationSchemeEvents` Returns a list of event associations. This list is returned for all expandable information\n *  `projectRole` Returns information about any project roles assigned to receive an event\n *  `user` Returns information about any users assigned to receive an event"
        in: query
        name: expand
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
[...]
