openapi: 3.1.0
info:
  title: Atlassian Admin Account Workflow Status Categories API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Workflow Status Categories
paths:
  /rest/api/3/statuscategory/{idOrKey}:
    get:
      deprecated: false
      description: Returns a status category. Status categories provided a mechanism for categorizing [statuses](#api-rest-api-3-status-idOrName-get).<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianGetstatuscategory
      parameters:
      - description: The ID or key of the status category.
        in: path
        name: idOrKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"colorName":"yellow","id":1,"key":"in-flight","name":"In Progress","self":"https://your-domain.atlassian.net/rest/api/3/statuscategory/1"}'
              schema:
                $ref: '#/components/schemas/StatusCategory'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the status category is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Status Category
      tags:
      - Workflow Status Categories
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:status:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/statuscategory:
    get:
      deprecated: false
      description: Returns a list of all status categories.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianGetstatuscategories
      parameters: []
      responses:
        '200':
          content:
            application/json:
              example: '[{"colorName":"yellow","id":1,"key":"in-flight","name":"In Progress","self":"https://your-domain.atlassian.net/rest/api/3/statuscategory/1"},{"colorName":"green","id":9,"key":"completed","self":"https://your-domain.atlassian.net/rest/api/3/statuscategory/9"}]'
              schema:
                items:
                  $ref: '#/components/schemas/StatusCategory'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get All Status Categories
      tags:
      - Workflow Status Categories
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:status:jira
        state: Beta
      x-atlassian-connect-scope: READ
components:
  schemas:
    StatusCategory:
      additionalProperties: true
      description: A status category.
      properties:
        colorName:
          description: The name of the color used to represent the status category.
          readOnly: true
          type: string
        id:
          description: The ID of the status category.
          format: int64
          readOnly: true
          type: integer
        key:
          description: The key of the status category.
          readOnly: true
          type: string
        name:
          description: The name of the status category.
          readOnly: true
          type: string
        self:
          description: The URL of the status category.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
