openapi: 3.1.0
info:
  title: Atlassian Admin Account Project Versions API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Project Versions
paths:
  /rest/api/3/project/{projectIdOrKey}/version:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of all versions in a project. See the [Get project versions](#api-rest-api-3-project-projectIdOrKey-versions-get) resource if you want to get a full list of versions without pagination.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.
      operationId: atlassianGetprojectversionspaginated
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: "[Order](#ordering) the results by a field:\n\n *  `description` Sorts by version description.\n *  `name` Sorts by version name.\n *  `releaseDate` Sorts by release date, starting with the oldest date. Versions with no release date are listed last.\n *  `sequence` Sorts by the order of appearance in the user interface.\n *  `startDate` Sorts by start date, starting with the oldest date. Versions with no start date are listed last."
        in: query
        name: orderBy
        schema:
          enum:
          - description
          - -description
          - +description
          - name
          - -name
          - +name
          - releaseDate
          - -releaseDate
          - +releaseDate
          - sequence
          - -sequence
          - +sequence
          - startDate
          - -startDate
          - +startDate
          type: string
      - description: Filter the results using a literal string. Versions with matching `name` or `description` are returned (case insensitive).
        in: query
        name: query
        schema:
          type: string
      - description: A list of status values used to filter the results by version status. This parameter accepts a comma-separated list. The status values are `released`, `unreleased`, and `archived`.
        in: query
        name: status
        schema:
          type: string
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `issuesstatus` Returns the number of issues in each status category for each version.\n *  `operations` Returns actions that can be performed on the specified version.\n *  `driver` Returns the Atlassian account ID of the version driver.\n *  `approvers` Returns a list containing the approvers for this version."
        in: query
        name: expand
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":false,"maxResults":2,"nextPage":"https://your-domain.atlassian.net/rest/api/3/project/PR/version?startAt=2&maxResults=2","self":"https://your-domain.atlassian.net/rest/api/3/project/PR/version?startAt=0&maxResults=2","startAt":0,"total":7,"values":[{"archived":false,"description":"An excellent version","id":"10000","name":"New Version 1","overdue":true,"projectId":10000,"releaseDate":"2010-07-06","released":true,"self":"https://your-domain.atlassian.net/rest/api/3/version/10000","userReleaseDate":"6/Jul/2010"},{"archived":false,"description":"Minor Bugfix version","id":"10010","issuesStatusForFixVersion":{"done":100,"inProgress":20,"toDo":10,"unmapped":0},"name":"Next Version","overdue":false,"projectId":10000,"released":false,"self":"https://your-domain.atlassian.net/rest/api/3/version/10010"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanVersion'
          description: Returned if the request is successful.
        '404':
          description: Returned if the project is not found or the user does not have permission to view it.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Project Versions Paginated
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/project/{projectIdOrKey}/versions:
    get:
      deprecated: false
      description: Returns all versions in a project. The response is not paginated. Use [Get project versions paginated](#api-rest-api-3-project-projectIdOrKey-version-get) if you want to get the versions in a project with pagination.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.
      operationId: atlassianGetprojectversions
      parameters:
      - description: The project ID or project key (case sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      - description: Use [expand](#expansion) to include additional information in the response. This parameter accepts `operations`, which returns actions that can be performed on the version.
        in: query
        name: expand
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '[{"archived":false,"description":"An excellent version","id":"10000","name":"New Version 1","overdue":true,"projectId":10000,"releaseDate":1278385482288,"releaseDateSet":false,"released":true,"self":"https://your-domain.atlassian.net/rest/api/3/version/10000","startDateSet":false,"userReleaseDate":"6/Jul/2010"},{"archived":false,"description":"Minor Bugfix version","id":"10010","issuesStatusForFixVersion":{"done":100,"inProgress":20,"toDo":10,"unmapped":0},"name":"Next Version","overdue":false,"projectId":10000,"releaseDateSet":false,"released":false,"self":"https://your-domain.atlassian.net/rest/api/3/version/10010","startDateSet":false}]'
              schema:
                items:
                  $ref: '#/components/schemas/Version'
                type: array
          description: Returned if the request is successful.
        '404':
          description: Returned if the project is not found or the user does not have permission to view it.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Project Versions
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/version/{id}:
    delete:
      deprecated: true
      description: Deletes a project version.<br><br>Deprecated, use [ Delete and replace version](#api-rest-api-3-version-id-removeAndSwap-post) that supports swapping version values in custom fields, in addition to the swapping for `fixVersion` and `affectedVersion` provided in this resource.<br><br>Alternative versions can be provided to update issues that use the deleted version in `fixVersion` or `affectedVersion`. If alternatives are not provided, occurrences of `fixVersion` and `affectedVersion` that contain the deleted version are cleared.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) or *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that contains the version.
      operationId: atlassianDeleteversion
      parameters:
      - description: The ID of the version.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the version to update `fixVersion` to when the field contains the deleted version. The replacement version must be in the same project as the version being deleted and cannot be the version being deleted.
        in: query
        name: moveFixIssuesTo
        schema:
          type: string
      - description: The ID of the version to update `affectedVersion` to when the field contains the deleted version. The replacement version must be in the same project as the version being deleted and cannot be the version being deleted.
        in: query
        name: moveAffectedIssuesTo
        schema:
          type: string
      responses:
        '204':
          description: Returned if the version is deleted.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: "Returned if:\n\n *  the authentication credentials are incorrect.\n *  the user does not have the required permissions."
        '404':
          description: Returned if the version is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Delete Version
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:project-version:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
    get:
      deprecated: false
      description: Returns a project version.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project containing the version.
      operationId: atlassianGetversion
      parameters:
      - description: The ID of the version.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Use [expand](#expansion) to include additional information about version in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `operations` Returns the list of operations available for this version.\n *  `issuesstatus` Returns the count of issues in this version for each of the status categories *to do*, *in progress*, *done*, and *unmapped*. The *unmapped* property represents the number of issues with a status other than *to do*, *in progress*, and *done*.\n *  `driver` Returns the Atlassian account ID of the version driver.\n *  `approvers` Returns a list containing the Atlassian account IDs of approvers for this version."
        in: query
        name: expand
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"archived":false,"description":"An excellent version","id":"10000","name":"New Version 1","overdue":true,"projectId":10000,"releaseDate":"2010-07-06","released":true,"self":"https://your-domain.atlassian.net/rest/api/3/version/10000","userReleaseDate":"6/Jul/2010"}'
              schema:
                $ref: '#/components/schemas/Version'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the version is not found or the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Version
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Updates a project version.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) or *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that contains the version.
      operationId: atlassianUpdateversion
      parameters:
      - description: The ID of the version.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              archived: false
              description: An excellent version
              id: '10000'
              name: New Version 1
              overdue: true
              projectId: 10000
              releaseDate: '2010-07-06'
              released: true
              self: https://your-domain.atlassian.net/rest/api/~ver~/version/10000
              userReleaseDate: 6/Jul/2010
            schema:
              $ref: '#/components/schemas/Version'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"archived":false,"description":"An excellent version","id":"10000","name":"New Version 1","project":"PXA","projectId":10000,"releaseDate":"2010-07-06","released":true,"self":"https://your-domain.atlassian.net/rest/api/3/version/10000","userReleaseDate":"6/Jul/2010"}'
              schema:
                $ref: '#/components/schemas/Version'
          description: Returned if the request is successful.
        '400':
          description: "Returned if:\n\n *  the request is invalid.\n *  the user does not have the required permissions."
        '401':
          description: Returned if the authentication credentials are incorrect.
        '404':
          description: Returned if the version is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Update Version
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project-version:jira
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
  /rest/api/3/version/{id}/mergeto/{moveIssuesTo}:
    put:
      deprecated: false
      description: Merges two project versions. The merge is completed by deleting the version specified in `id` and replacing any occurrences of its ID in `fixVersion` with the version ID specified in `moveIssuesTo`.<br><br>Consider using [ Delete and replace version](#api-rest-api-3-version-id-removeAndSwap-post) instead. This resource supports swapping version values in `fixVersion`, `affectedVersion`, and custom fields.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) or *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that contains the version.
      operationId: atlassianMergeversions
      parameters:
      - description: The ID of the version to delete.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the version to merge into.
        in: path
        name: moveIssuesTo
        required: true
        schema:
          type: string
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the version is deleted.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: "Returned if:\n\n *  the authentication credentials are incorrect or missing.\n *  the user does not have the required permissions."
        '404':
          description: Returned if the version to be deleted or the version to merge to are not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Merge Versions
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:project-version:jira
        - write:project-version:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
  /rest/api/3/version/{id}/move:
    post:
      deprecated: false
      description: Modifies the version's sequence within the project, which affects the display order of the versions in Jira.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse projects* project permission for the project that contains the version.
      operationId: atlassianMoveversion
      parameters:
      - description: The ID of the version to be moved.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              after: https://your-domain.atlassian.net/rest/api/~ver~/version/10000
            schema:
              $ref: '#/components/schemas/VersionMoveBean'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"archived":false,"description":"An excellent version","id":"10000","name":"New Version 1","overdue":true,"projectId":10000,"releaseDate":"2010-07-06","released":true,"self":"https://your-domain.atlassian.net/rest/api/3/version/10000","userReleaseDate":"6/Jul/2010"}'
              schema:
                $ref: '#/components/schemas/Version'
          description: Returned if the request is successful.
        '400':
          description: "Returned if:\n\n *  no body parameters are provided.\n *  `after` and `position` are provided.\n *  `position` is invalid."
        '401':
          description: "Returned if:\n\n *  the authentication credentials are incorrect or missing\n *  the user does not have the required commissions."
        '404':
          description: Returned if the version or move after version are not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Move Version
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project-version:jira
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
  /rest/api/3/version/{id}/relatedIssueCounts:
    get:
      deprecated: false
      description: Returns the following counts for a version:<br><br> *  Number of issues where the `fixVersion` is set to the version.<br> *  Number of issues where the `affectedVersion` is set to the version.<br> *  Number of issues where a version custom field is set to the version.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse projects* project permission for the project that contains the version.
      operationId: atlassianGetversionrelatedissues
      parameters:
      - description: The ID of the version.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"customFieldUsage":[{"customFieldId":10000,"fieldName":"Field1","issueCountWithVersionInCustomField":2},{"customFieldId":10010,"fieldName":"Field2","issueCountWithVersionInCustomField":3}],"issueCountWithCustomFieldsShowingVersion":54,"issuesAffectedCount":101,"issuesFixedCount":23,"self":"https://your-domain.atlassian.net/rest/api/3/version/10000"}'
              schema:
                $ref: '#/components/schemas/VersionIssueCounts'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect.
        '404':
          description: "Returned if:\n\n *  the version is not found.\n *  the user does not have the required permissions."
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Version S Related Issues Count
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/version/{id}/relatedwork:
    get:
      deprecated: false
      description: Returns related work items for the given version id.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project containing the version.
      operationId: atlassianGetrelatedwork
      parameters:
      - description: The ID of the version.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '[{"category":"Design","issueId":10001,"relatedWorkId":"fabcdef6-7878-1234-beaf-43211234abcd","title":"Design link","url":"https://www.atlassian.com"},{"category":"Communications","issueId":10002,"relatedWorkId":"fabcdef6-7878-1234-beaf-43211234abce","title":"Chat application","url":"https://www.atlassian.com"},{"category":"External Link","issueId":10003,"relatedWorkId":"fabcdef6-7878-1234-beaf-43211234abcf","title":"Some website","url":"https://www.atlassian.com"}]'
              schema:
                items:
                  $ref: '#/components/schemas/VersionRelatedWork'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the version is not found or the user does not have the necessary permission.
        '500':
          description: Returned if reading related work fails
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Related Work
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Creates a related work for the given version. You can only create a generic link type of related works via this API. relatedWorkId will be auto-generated UUID, that does not need to be provided.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Resolve issues:* and *Edit issues* [Managing project permissions](https://confluence.atlassian.com/adminjiraserver/managing-project-permissions-938847145.html) for the project that contains the version.
      operationId: atlassianCreaterelatedwork
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionRelatedWork'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionRelatedWork'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the required permissions.
        '404':
          description: Returned if the version is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Create Related Work
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
    put:
      deprecated: false
      description: Updates the given related work. You can only update generic link related works via Rest APIs. Any archived version related works can't be edited.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Resolve issues:* and *Edit issues* [Managing project permissions](https://confluence.atlassian.com/adminjiraserver/managing-project-permissions-938847145.html) for the project that contains the version.
      operationId: atlassianUpdaterelatedwork
      parameters:
      - description: The ID of the version to update the related work on. For the related work id, pass it to the input JSON.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionRelatedWork'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionRelatedWork'
          description: Returned if the request is successful together with updated related work.
        '400':
          description: Returned if the request data is invalid
        '401':
          description: Returned if the authentication credentials are incorrect.
        '403':
          description: Returned if the user does not have the required permissions.
        '404':
          description: Returned if the version or the related work is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Update Related Work
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
  /rest/api/3/version/{id}/removeAndSwap:
    post:
      deprecated: false
      description: Deletes a project version.<br><br>Alternative versions can be provided to update issues that use the deleted version in `fixVersion`, `affectedVersion`, or any version picker custom fields. If alternatives are not provided, occurrences of `fixVersion`, `affectedVersion`, and any version picker custom field, that contain the deleted version, are cleared. Any replacement version must be in the same project as the version being deleted and cannot be the version being deleted.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) or *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that contains the version.
      operationId: atlassianDeleteandreplaceversion
      parameters:
      - description: The ID of the version.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAndReplaceVersionBean'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the version is deleted.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: "Returned if:\n\n *  the version to delete is not found.\n *  the user does not have the required permissions."
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Delete And Replace Version
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:project-version:jira
        - write:project-version:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
  /rest/api/3/version/{id}/unresolvedIssueCount:
    get:
      deprecated: false
      description: Returns counts of the issues and unresolved issues for the project version.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Browse projects* project permission for the project that contains the version.
      operationId: atlassianGetversionunresolvedissues
      parameters:
      - description: The ID of the version.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"issuesCount":30,"issuesUnresolvedCount":23,"self":"https://your-domain.atlassian.net/rest/api/3/version/10000"}'
              schema:
                $ref: '#/components/schemas/VersionUnresolvedIssuesCount'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: "Returned if:\n\n *  the version is not found.\n *  the user does not have the required permissions."
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Version S Unresolved Issues Count
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/version/{versionId}/relatedwork/{relatedWorkId}:
    delete:
      deprecated: false
      description: Deletes the given related work for the given version.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Resolve issues:* and *Edit issues* [Managing project permissions](https://confluence.atlassian.com/adminjiraserver/managing-project-permissions-938847145.html) for the project that contains the version.
      operationId: atlassianDeleterelatedwork
      parameters:
      - description: The ID of the version that the target related work belongs to.
        in: path
        name: versionId
        required: true
        schema:
          type: string
      - description: The ID of the related work to delete.
        in: path
        name: relatedWorkId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Returned if the related work is deleted.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: 'Returned if


            the authentication credentials are incorrect.'
        '403':
          description: Returned if the user does not have the required permissions.
        '404':
          description: Returned if the version/related work is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Delete Related Work
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
  /rest/api/3/version:
    post:
      deprecated: false
      description: Creates a project version.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) or *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project the version is added to.
      operationId: atlassianCreateversion
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              archived: false
              description: An excellent version
              name: New Version 1
              projectId: 10000
              releaseDate: '2010-07-06'
              released: true
            schema:
              $ref: '#/components/schemas/Version'
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"archived":false,"description":"An excellent version","id":"10000","name":"New Version 1","project":"PXA","projectId":10000,"releaseDate":"2010-07-06","released":true,"self":"https://your-domain.atlassian.net/rest/api/3/version/10000","userReleaseDate":"6/Jul/2010"}'
              schema:
                $ref: '#/components/schemas/Version'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: "Returned if:\n\n *  the project is not found.\n *  the user does not have the required permissions."
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Create Version
      tags:
      - Project Versions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project-version:jira
        - read:project-version:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
components:
  schemas:
    VersionRelatedWork:
      additionalProperties: false
      description: Associated related work to a version
      properties:
        category:
          description: The category of the related work
          readOnly: true
          type: string
        issueId:
          description: The title of the related work
          format: int64
          readOnly: true
          type: integer
        relatedWorkId:
          description: The id of the related work. For the native release note related work item, this will be null, and Rest API does not support updating it.
          readOnly: true
          type: string
        title:
          description: The title of the related work
          readOnly: true
          type: string
        url:
          description: The URL of the related work
          format: uri
          readOnly: true
          type: string
      required:
      - category
      type: object
    VersionUsageInCustomField:
      additionalProperties: false
      description: List of custom fields using the version.
      properties:
        customFieldId:
          description: The ID of the custom field.
          format: int64
          readOnly: true
          type: integer
        fieldName:
          description: The name of the custom field.
          readOnly: true
          type: string
        issueCountWithVersionInCustomField:
          description: Count of the issues where the custom field contains the version.
          format: int64
          readOnly: true
          type: integer
      type: object
    CustomFieldReplacement:
      additionalProperties: false
      description: Details about the replacement for a deleted version.
      properties:
        customFieldId:
          description: The ID of the custom field in which to replace the version number.
          format: int64
          type: integer
        moveTo:
          description: The version number to use as a replacement for the deleted version.
          format: int64
          type: integer
      type: object
    Version:
      additionalProperties: false
      description: Details about a project version.
      properties:
        approvers:
          description: If the expand option `approvers` is used, returns a list containing the approvers for this version.
          items:
            $ref: '#/components/schemas/VersionApprover'
          readOnly: true
          type: array
        archived:
          description: Indicates that the version is archived. Optional when creating or updating a version.
          type: boolean
        description:
          description: The description of the version. Optional when creating or updating a version. The maximum size is 16,384 bytes.
          type: string
        driver:
          description: If the expand option `driver` is used, returns the Atlassian account ID of the driver.
          readOnly: true
          type: string
        expand:
          description: "Use [expand](em>#expansion) to include additional information about version in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `operations` Returns the list of operations available for this version.\n *  `issuesstatus` Returns the count of issues in this version for each of the status categories *to do*, *in progress*, *done*, and *unmapped*. The *unmapped* property contains a count of issues with a status other than *to do*, *in progress*, and *done*.\n *  `driver` Returns the Atlassian account ID of the version driver.\n *  `approvers` Returns a list containing approvers for this version.\n\nOptional for create and update."
          type: string
          xml:
            attribute: true
        id:
          description: The ID of the version.
          readOnly: true
          type: string
        issuesStatusForFixVersion:
          allOf:
          - $ref: '#/components/schemas/VersionIssuesStatus'
          description: If the expand option `issuesstatus` is used, returns the count of issues in this version for each of the status categories *to do*, *in progress*, *done*, and *unmapped*. The *unmapped* property contains a count of issues with a status other than *to do*, *in progress*, and *done*.
          readOnly: true
        moveUnfixedIssuesTo:
          description: The URL of the self link to the version to which all unfixed issues are moved when a version is released. Not applicable when creating a version. Optional when updating a version.
          format: uri
          type: string
        name:
          description: The unique name of the version. Required when creating a version. Optional when updating a version. The maximum length is 255 characters.
          type: string
        operations:
          description: If the expand option `operations` is used, returns the list of operations available for this version.
          items:
            $ref: '#/components/schemas/SimpleLink'
          readOnly: true
          type: array
        overdue:
          description: Indicates that the version is overdue.
          readOnly: true
          type: boolean
        project:
          description: Deprecated. Use `projectId`.
          type: string
        projectId:
          description: The ID of the project to which this version is attached. Required when creating a version. Not applicable when updating a version.
          format: int64
          type: integer
        releaseDate:
          description: The release date of the version. Expressed in ISO 8601 format (yyyy-mm-dd). Optional when creating or updating a version.
          format: date
          type: string
        released:
          description: Indicates that the version is released. If the version is released a request to release again is ignored. Not applicable when creating a version. Optional when updating a version.
          type: boolean
        self:
          description: The URL of the version.
          format: uri
          readOnly: true
          type: string
        startDate:
          description: The start date of the version. Expressed in ISO 8601 format (yyyy-mm-dd). Optional when creating or updating a version.
          format: date
          type: string
        userReleaseDate:
          description: The date on which work on this version is expected to finish, expressed in the instance's *Day/Month/Year Format* date format.
          readOnly: true
          type: string
        userStartDate:
          description: The date on which work on this version is expected to start, expressed in the instance's *Day/Month/Year Format* date format.
          readOnly: true
          type: string
      type: object
      xml:
        name: version
    PageBeanVersion:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/Version'
          readOnly: true
          type: array
      type: object
    VersionApprover:
      additionalProperties: true
      description: Contains details about a version approver.
      properties:
        accountId:
          description: The Atlassian account ID of the approver.
          readOnly: true
          type: string
        declineReason:
          description: A description of why the user is declining the approval.
          readOnly: true
          type: string
        description:
          description: A description of what the user is approving within the specified version.
          readOnly: true
          type: string
        status:
          description: The status of the approval, which can be *PENDING*, *APPROVED*, or *DECLINED*
          readOnly: true
          type: string
      type: object
    VersionIssuesStatus:
      additionalProperties: true
      description: Counts of the number of issues in various statuses.
      properties:
        done:
          description: Count of issues with status *done*.
          format: int64
          readOnly: true
          type: integer
        inProgress:
          description: Count of issues with status *in progress*.
          format: int64
          readOnly: true
          type: integer
        toDo:
          description: Count of issues with status *to do*.
          format: int64
          readOnly: true
          type: integer
        unmapped:
          description: Count of issues with a status other than *to do*, *in progress*, and *done*.
          format: int64
          readOnly: true
          type: integer
      type: object
    VersionUnresolvedIssuesCount:
      additionalProperties: false
      description: Count of a version's unresolved issues.
      properties:
        issuesCount:
          description: Count of issues.
          format: int64
          readOnly: true
          type: integer
        issuesUnresolvedCount:
          description: Count of unresolved issues.
          format: int64
          readOnly: true
          type: integer
        self:
          description: The URL of these count details.
          format: uri
          readOnly: true
          type: string
      type: object
      xml:
        name: version
    VersionMoveBean:
      additionalProperties: false
      properties:
        after:
          description: The URL (self link) of the version after which to place the moved version. Cannot be used with `position`.
          format: uri
          type: string
        position:
          description: An absolute position in which to place the moved version. Cannot be used with `after`.
          enum:
          - Earlier
          - Later
          - First
          - Last
          type: string
      type: object
      xml:
        name: version
    SimpleLink:
      additionalProperties: false
      description: Details about the operations available in this version.
      properties:
        href:
          type: string
        iconClass:
          type: string
        id:
          type: string
        label:
          type: string
        styleClass:
          type: string
        title:
          type: string
        weight:
          format: int32
          type: integer
      type: object
      xml:
        name: link
    VersionIssueCounts:
      additionalProperties: false
      description: Various counts of issues within a version.
      properties:
        customFieldUsage:
          description: List of custom fields using the version.
          items:
            $ref: '#/components/schemas/VersionUsageInCustomField'
          readOnly: true
          type: array
        issueCountWithCustomFieldsShowingVersion:
          description: Count of issues where a version custom field is set to the version.
          format: int64
          readOnly: true
          type: integer
        issuesAffectedCount:
          description: Count of issues where the `affectedVersion` is set to the version.
          format: int64
          readOnly: true
          type: integer
        issuesFixedCount:
          description: Count of issues where the `fixVersion` is set to the version.
          format: int64
          readOnly: true
          type: integer
        self:
          description: The URL of these count details.
          format: uri
          readOnly: true
          type: string
      type: object
      xml:
        name: version
    DeleteAndReplaceVersionBean:
      additionalProperties: false
      properties:
        customFieldReplacementList:
          description: An array of custom field IDs (`customFieldId`) and version IDs (`moveTo`) to update when the fields contain the deleted version.
          items:
            $ref: '#/components/schemas/CustomFieldReplacement'
          type: array
        moveAffectedIssuesTo:
          description: The ID of the version to update `affectedVersion` to when the field contains the deleted version.
          format: int64
          type: integer
        moveFixIssuesTo:
          description: The ID of the version to update `fixVersion` to when the field contains the deleted version.
          format: int64
          type: integer
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
