openapi: 3.1.0
info:
  title: Atlassian Admin Account Addon API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Addon
paths:
  /addon:
    parameters: []
    delete:
      tags:
      - Addon
      description: 'Deletes the application for the user.<br><br>This endpoint is intended to be used by Bitbucket Connect apps<br>and only supports JWT authentication -- that is how Bitbucket<br>identifies the particular installation of the app. Developers<br>with applications registered in the "Develop Apps" section<br>of Bitbucket Marketplace need not use this endpoint as<br>updates for those applications can be sent out via the<br>UI of that section.<br><br>```<br>$ curl -X DELETE https://api.bitbucket.org/2.0/addon \<br>  -H "Authorization: JWT "<br>```'
      summary: Atlassian Delete An App
      responses:
        '204':
          description: Request has succeeded. The application has been deleted for the user.
        '401':
          description: No authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Improper authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAnApp
    put:
      tags:
      - Addon
      description: 'Updates the application installation for the user.<br><br>This endpoint is intended to be used by Bitbucket Connect apps<br>and only supports JWT authentication -- that is how Bitbucket<br>identifies the particular installation of the app. Developers<br>with applications registered in the "Develop Apps" section<br>of Bitbucket need not use this endpoint as updates for those<br>applications can be sent out via the UI of that section.<br><br>Passing an empty body will update the installation using the<br>existing descriptor URL.<br><br>```<br>$ curl -X PUT https://api.bitbucket.org/2.0/addon \<br>  -H "Authorization: JWT " \<br>  --header "Content-Type: application/json" \<br>  --data ''{}''<br>```<br><br>The new `descriptor` for the installation can be also provided<br>in the body directly.<br><br>```<br>$ curl -X PUT https://api.bitbucket.org/2.0/addon \<br>  -H "Authorization: JWT " \<br>  --header "Content-Type: application/json" \<br>  --data ''{"descriptor": $NEW_DESCRIPTOR}''<br>```<br><br>In both these modes the URL of the descriptor cannot be changed. To<br>change the descriptor location and upgrade an installation<br>the request must be made exclusively with a `descriptor_url`.<br><br> ```<br>$ curl -X PUT https://api.bitbucket.org/2.0/addon \<br>  -H "Authorization: JWT " \<br>  --header "Content-Type: application/json" \<br>  --data ''{"descriptor_url": $NEW_URL}''<br>```<br><br>The `descriptor_url` must exactly match the marketplace registration<br>that Atlassian has for the application. Contact your Atlassian<br>developer advocate to update this registration. Once the registration<br>has been updated you may call this resource for each installation.<br><br>Note that the scopes of the application cannot be increased<br>in the new descriptor nor reduced to none.'
      summary: Atlassian Update An Installed App
      responses:
        '204':
          description: Request has succeeded. The installation has been updated to the new descriptor.
        '400':
          description: Scopes have increased or decreased to none.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: No authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Improper authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianUpdateAnInstalledApp
  /addon/linkers:
    parameters: []
    get:
      tags:
      - Addon
      description: Gets a list of all [linkers](/cloud/bitbucket/modules/linker/)<br>for the authenticated application.
      summary: Atlassian List Linkers For An App
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianListLinkersForAnApp
  /addon/linkers/{linker_key}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    get:
      tags:
      - Addon
      description: Gets a [linker](/cloud/bitbucket/modules/linker/) specified by `linker_key`<br>for the authenticated application.
      summary: Atlassian Get A Linker For An App
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianGetALinkerForAnApp
  /addon/linkers/{linker_key}/values:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    delete:
      tags:
      - Addon
      description: Delete all [linker](/cloud/bitbucket/modules/linker/) values for the<br>specified linker of the authenticated application.
      summary: Atlassian Delete All Linker Values
      responses:
        '204':
          description: Successfully deleted the linker values.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAllLinkerValues
    get:
      tags:
      - Addon
      description: Gets a list of all [linker](/cloud/bitbucket/modules/linker/) values for the<br>specified linker of the authenticated application.<br><br>A linker value lets applications supply values to modify its regular expression.<br><br>The base regular expression must use a Bitbucket-specific match group `(?K)`<br>which will be translated to `([\w\-]+)`. A value must match this pattern.<br><br>[Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      summary: Atlassian List Linker Values For A Linker
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianListLinkerValuesForALinker
    post:
      tags:
      - Addon
      description: Creates a [linker](/cloud/bitbucket/modules/linker/) value for the specified<br>linker of authenticated application.<br><br>A linker value lets applications supply values to modify its regular expression.<br><br>The base regular expression must use a Bitbucket-specific match group `(?K)`<br>which will be translated to `([\w\-]+)`. A value must match this pattern.<br><br>[Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      summary: Atlassian Create A Linker Value
      responses:
        '201':
          description: Successfully created the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: The linker already has the value being added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianCreateALinkerValue
    put:
      tags:
      - Addon
      description: Bulk update [linker](/cloud/bitbucket/modules/linker/) values for the specified<br>linker of the authenticated application.<br><br>A linker value lets applications supply values to modify its regular expression.<br><br>The base regular expression must use a Bitbucket-specific match group `(?K)`<br>which will be translated to `([\w\-]+)`. A value must match this pattern.<br><br>[Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      summary: Atlassian Update A Linker Value
      responses:
        '204':
          description: Successfully updated the linker values.
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianUpdateALinkerValue
  /addon/linkers/{linker_key}/values/{value_id}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    - name: value_id
      in: path
      description: The numeric ID of the linker value.
      required: true
      schema:
        type: integer
    delete:
      tags:
      - Addon
      description: Delete a single [linker](/cloud/bitbucket/modules/linker/) value<br>of the authenticated application.
      summary: Atlassian Delete A Linker Value
      responses:
        '204':
          description: Successfully deleted the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianDeleteALinkerValue
    get:
      tags:
      - Addon
      description: Get a single [linker](/cloud/bitbucket/modules/linker/) value<br>of the authenticated application.
      summary: Atlassian Get A Linker Value
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianGetALinkerValue
components:
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
