openapi: 3.1.0
info:
  title: Atlassian Admin Account Forks API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Forks
paths:
  /repositories/{workspace}/{repo_slug}/forks:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Forks
      description: This API operation retrieves a paginated list of all forks that have been created from a specific Bitbucket repository. By making a GET request to the endpoint with the workspace identifier and repository slug as path parameters, users can view all derivative repositories that have been forked from the original. The response typically includes details about each fork such as the fork's owner, creation date, repository metadata, and links to access the forked repositories. This is useful for repository maintainers who want to track how their code is being used and extended by the community, or for developers looking to discover active forks that may contain interesting modifications or improvements to the original codebase.
      summary: Atlassian List Repository Forks
      responses:
        '200':
          description: All forks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repositories'
              examples:
                paginated-repositories_2:
                  $ref: '#/components/examples/paginated-repositories_2'
      parameters:
      - name: role
        in: query
        description: 'Filters the result based on the authenticated user''s role on each repository.


          * **member**: returns repositories to which the user has explicit read access

          * **contributor**: returns repositories to which the user has explicit write access

          * **admin**: returns repositories to which the user has explicit administrator access

          * **owner**: returns all repositories owned by the current user

          '
        required: false
        schema:
          type: string
          enum:
          - admin
          - contributor
          - member
          - owner
      - name: q
        in: query
        description: 'Query string to narrow down the response as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Field by which the results should be sorted as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: listRepositoryForks
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Forks
      description: This API operation creates a fork of an existing Bitbucket repository within a specified workspace. By sending a POST request to the endpoint with the workspace identifier and repository slug, users can duplicate the repository into their own account or another workspace they have access to. The forked repository maintains a connection to the original source repository, allowing users to track changes and potentially submit pull requests back to the parent repository. This functionality is commonly used for contributing to open-source projects, creating experimental branches without affecting the original codebase, or maintaining personal copies of repositories for customization purposes.
      summary: Atlassian Fork Repository
      responses:
        '201':
          description: The newly created fork.
          headers:
            Location:
              description: The URL of the newly created fork
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
              examples:
                repository_2:
                  $ref: '#/components/examples/repository_2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repository'
            examples:
              repository_2:
                $ref: '#/components/examples/repository_2'
        description: A repository object. This can be left blank.
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - write:repository:bitbucket
      operationId: forkRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    branch:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Branch
        description: A branch object, representing a branch in a repository.
        properties:
          merge_strategies:
            type: array
            description: Available merge strategies for pull requests targeting this branch.
            items:
              type: string
              enum:
              - merge_commit
              - squash
              - fast_forward
          default_merge_strategy:
            type: string
            description: The default merge strategy for pull requests targeting this branch.
        additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    team:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: Team
        description: A team object.
        properties:
          links:
            $ref: '#/components/schemas/team_links'
        additionalProperties: true
    paginated_repositories:
      type: object
      title: Paginated Repositories
      description: A paginated list of repositories.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
          example: 10
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
          example: 10
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        values:
          type: array
          items:
            $ref: '#/components/schemas/repository'
          minItems: 0
          uniqueItems: true
          example: []
      additionalProperties: false
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
          example: https://www.example.com
        name:
          type: string
          example: Example Title
      additionalProperties: false
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    repository:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Repository
        description: A Bitbucket repository.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              pullrequests:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              forks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watchers:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              downloads:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              clone:
                type: array
                items:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              hooks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The repository's immutable id. This can be used as a substitute for the slug segment in URLs. Doing this guarantees your URLs will survive renaming of the repository by its owner, or even transfer of the repository to a different user.
          full_name:
            type: string
            description: The concatenation of the repository owner's username and the slugified name, e.g. "evzijst/interruptingcow". This is the same string used in Bitbucket URLs.
          is_private:
            type: boolean
          parent:
            $ref: '#/components/schemas/repository'
          scm:
            type: string
            enum:
            - git
          owner:
            $ref: '#/components/schemas/account'
          name:
            type: string
          description:
            type: string
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          size:
            type: integer
          language:
            type: string
          has_issues:
            type: boolean
            description: '

              The issue tracker for this repository is enabled. Issue Tracker

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          has_wiki:
            type: boolean
            description: '

              The wiki for this repository is enabled. Wiki

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          fork_policy:
            type: string
            description: "\nControls the rules for forking this repository.\n\n* **allow_forks**: unrestricted forking\n* **no_public_forks**: restrict forking to private forks (forks cannot\n  be made public later)\n* **no_forks**: deny all forking\n"
            enum:
            - allow_forks
            - no_public_forks
            - no_forks
          project:
            $ref: '#/components/schemas/project'
          mainbranch:
            $ref: '#/components/schemas/branch'
        additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    ref:
      type: object
      title: Ref
      description: A ref object, representing a branch or tag in a repository.
      properties:
        type:
          type: string
          example: example_value
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            commits:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            html:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
          example: example_value
        name:
          type: string
          description: The name of the ref.
          example: Example Title
        target:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
  examples:
    paginated-repositories_2:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories?page=2
      previous: https://api.bitbucket.org/2.0/repositories?page=0
      values:
        links:
          self:
            href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo
            name: self
          html:
            href: https://bitbucket.org/example-user/example-repo
            name: html
          avatar:
            href: https://bitbucket.org/example-user/example-repo/avatar/32/
            name: avatar
          pullrequests:
            href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/pullrequests
            name: pullrequests
          commits:
            href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/commits
            name: commits
          forks:
            href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/forks
            name: forks
          watchers:
            href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/watchers
            name: watchers
          downloads:
            href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/downloads
            name: downloads
          clone:
          - href: https://bitbucket.org/example-user/example-repo.git
            name: https
          - href: git@bitbucket.org:example-user/example-repo.git
            name: ssh
          hooks:
            href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/hooks
            name: hooks
        uuid: '{a1b2c3d4-e5f6-7890-abcd-ef1234567890}'
        full_name: example-user/example-repo
        is_private: false
        scm: git
        name: example-repo
        description: This is an example repository
        created_on: '2023-01-15T10:30:00Z'
        updated_on: '2024-01-20T14:45:00Z'
        size: 1024000
        language: python
        has_issues: true
        has_wiki: true
        fork_policy: allow_forks
    repository_2:
      links:
        self:
          href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo
          name: self
        html:
          href: https://bitbucket.org/example-user/example-repo
          name: html
        avatar:
          href: https://bitbucket.org/example-user/example-repo/avatar/32/
          name: avatar
        pullrequests:
          href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/pullrequests
          name: pullrequests
        commits:
          href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/commits
          name: commits
        forks:
          href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/forks
          name: forks
        watchers:
          href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/watchers
          name: watchers
        downloads:
          href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/downloads
          name: downloads
        clone:
        - href: https://bitbucket.org/example-user/example-repo.git
          name: https
        - href: git@bitbucket.org:example-user/example-repo.git
          name: ssh
        hooks:
          href: https://api.bitbucket.org/2.0/repositories/example-user/example-repo/hooks
          name: hooks
      uuid: '{a1b2c3d4-e5f6-7890-abcd-ef1234567890}'
      full_name: example-user/example-repo
      is_private: false
      scm: git
      name: example-repo
      description: This is an example repository for demonstration purposes
      created_on: '2023-01-15T10:30:00.000Z'
      updated_on: '2024-01-20T14:45:30.000Z'
      size: 524288
      language: javascript
      has_issues: true
      has_wiki: true
      fork_policy: allow_forks
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
