openapi: 3.1.0
info:
  title: Atlassian Admin Account Issue Resolutions API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Issue Resolutions
paths:
  /rest/api/3/resolution/default:
    put:
      deprecated: false
      description: Sets default issue resolution.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianSetdefaultresolution
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              id: '3'
            schema:
              $ref: '#/components/schemas/SetDefaultResolutionRequest'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The id has to be provided."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request isn't valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["You are not authorized to perform this action. Administrator privileges are required."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user doesn't have the necessary permission.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["Priority with ID 10000 not found."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the issue resolution isn't found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Set Default Resolution
      tags:
      - Issue Resolutions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/resolution/move:
    put:
      deprecated: false
      description: Changes the order of issue resolutions.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianMoveresolutions
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              after: '10002'
              ids:
              - '10000'
              - '10001'
            schema:
              $ref: '#/components/schemas/ReorderIssueResolutionsRequest'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The IDs must contain no more than 1,000 items."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request isn't valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["You are not authorized to perform this action. Administrator privileges are required."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user doesn't have the necessary permission.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["Resolution with ID 10000 not found."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the issue resolution isn't found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Move Resolutions
      tags:
      - Issue Resolutions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/resolution/search:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of resolutions. The list can contain all resolutions or a subset determined by any combination of these criteria:<br><br> *  a list of resolutions IDs.<br> *  whether the field configuration is a default. This returns resolutions from company-managed (classic) projects only, as there is no concept of default resolutions in team-managed projects.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianSearchresolutions
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: '0'
          type: string
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: '50'
          type: string
      - description: The list of resolutions IDs to be filtered out
        in: query
        name: id
        schema:
          items:
            default: ''
            type: string
          type: array
      - description: When set to true, return default only, when IDs provided, if none of them is default, return empty page. Default value is false
        in: query
        name: onlyDefault
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":50,"startAt":0,"total":1,"values":[{"description":"This is what it is supposed to do.","id":"10001","isDefault":true,"name":"Works as designed"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanResolutionJsonBean'
          description: Returned if the request is successful.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      summary: Atlassian Search Resolutions
      tags:
      - Issue Resolutions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:resolution:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
  /rest/api/3/resolution/{id}:
    delete:
      deprecated: false
      description: Deletes an issue resolution.<br><br>This operation is [asynchronous](#async). Follow the `location` link in the response to determine the status of the task and use [Get task](#api-rest-api-3-task-taskId-get) to obtain subsequent updates.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeleteresolution
      parameters:
      - description: The ID of the issue resolution.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the issue resolution that will replace the currently selected resolution.
        in: query
        name: replaceWith
        required: true
        schema:
          default: ''
          type: string
      responses:
        '303':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskProgressBeanObject'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The id has to be provided."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request isn't valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["You are not authorized to perform this action. Administrator privileges are required."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user doesn't have the necessary permission.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["Priority with ID 10000 not found."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the issue resolution isn't found.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if a task to delete the issue resolution is already running.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Resolution
      tags:
      - Issue Resolutions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
    get:
      deprecated: false
      description: Returns an issue resolution value.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianGetresolution
      parameters:
      - description: The ID of the issue resolution value.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"description":"A fix for this issue is checked into the tree and tested.","id":"10000","name":"Fixed","self":"https://your-domain.atlassian.net/rest/api/3/resolution/1"}'
              schema:
                $ref: '#/components/schemas/Resolution'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the issue resolution value is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Resolution
      tags:
      - Issue Resolutions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:resolution:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Updates an issue resolution.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdateresolution
      parameters:
      - description: The ID of the issue resolution.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              description: My updated resolution description
              name: My updated resolution
            schema:
              $ref: '#/components/schemas/UpdateResolutionDetails'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The length of the description must not exceed 255 characters."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request isn't valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["You are not authorized to perform this action. Administrator privileges are required."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user doesn't have the necessary permission.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["Resolution with ID 10000 not found."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the issue resolution isn't found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Resolution
      tags:
      - Issue Resolutions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/resolution:
    get:
      deprecated: true
      description: Returns a list of all issue resolution values.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianGetresolutions
      parameters: []
      responses:
        '200':
          content:
            application/json:
              example: '[{"description":"A fix for this issue is checked into the tree and tested.","id":"10000","name":"Fixed","self":"https://your-domain.atlassian.net/rest/api/3/resolution/1"},{"description":"This is what it is supposed to do.","id":"10001","name":"Works as designed","self":"https://your-domain.atlassian.net/rest/api/3/resolution/3"}]'
              schema:
                items:
                  $ref: '#/components/schemas/Resolution'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Resolutions
      tags:
      - Issue Resolutions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:resolution:jira
        state: Beta
      x-changes:
      - announced: '2022-10-20'
        details: https://developer.atlassian.com/cloud/jira/platform/changelog/#CHANGE-767
        effective: '2023-04-20'
        type: removed
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Creates an issue resolution.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianCreateresolution
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              description: My resolution description
              name: My new resolution
            schema:
              $ref: '#/components/schemas/CreateResolutionDetails'
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"id":"10001"}'
              schema:
                $ref: '#/components/schemas/ResolutionId'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The length of the description must not exceed 255 characters."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request isn't valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["You are not authorized to perform this action. Administrator privileges are required."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user doesn't have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Create Resolution
      tags:
      - Issue Resolutions
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    PageBeanResolutionJsonBean:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/ResolutionJsonBean'
          readOnly: true
          type: array
      type: object
    ResolutionJsonBean:
      additionalProperties: false
      properties:
        default:
          type: boolean
        description:
          type: string
        iconUrl:
          type: string
        id:
          type: string
        name:
          type: string
        self:
          type: string
      type: object
    Resolution:
      additionalProperties: false
      description: Details of an issue resolution.
      properties:
        description:
          description: The description of the issue resolution.
          type: string
        id:
          description: The ID of the issue resolution.
          type: string
        name:
          description: The name of the issue resolution.
          type: string
        self:
          description: The URL of the issue resolution.
          format: uri
          type: string
      type: object
      xml:
        name: resolution
    ResolutionId:
      additionalProperties: true
      description: The ID of an issue resolution.
      properties:
        id:
          description: The ID of the issue resolution.
          readOnly: true
          type: string
      required:
      - id
      type: object
    SetDefaultResolutionRequest:
      additionalProperties: false
      description: The new default issue resolution.
      properties:
        id:
          description: The ID of the new default issue resolution. Must be an existing ID or null. Setting this to null erases the default resolution setting.
          type: string
          writeOnly: true
      required:
      - id
      type: object
    CreateResolutionDetails:
      additionalProperties: true
      description: Details of an issue resolution.
      properties:
        description:
          description: The description of the resolution.
          maxLength: 255
          type: string
          writeOnly: true
        name:
          description: The name of the resolution. Must be unique (case-insensitive).
          maxLength: 60
          type: string
          writeOnly: true
      required:
      - name
      type: object
    UpdateResolutionDetails:
      additionalProperties: true
      description: Details of an issue resolution.
      properties:
        description:
          description: The description of the resolution.
          maxLength: 255
          type: string
          writeOnly: true
        name:
          description: The name of the resolution. Must be unique.
          maxLength: 60
          type: string
          writeOnly: true
      required:
      - name
      type: object
    TaskProgressBeanObject:
      additionalProperties: false
      description: Details about a task.
      properties:
        description:
          description: The description of the task.
          type: string
        elapsedRuntime:
          description: The execution time of the task, in milliseconds.
          format: int64
          type: integer
        finished:
          description: A timestamp recording when the task was finished.
          format: int64
          type: integer
        id:
          description: The ID of the task.
          type: string
        lastUpdate:
          description: A timestamp recording when the task progress was last updated.
          format: int64
          type: integer
        message:
          description: Information about the progress of the task.
          type: string
        progress:
          description: The progress of the task, as a percentage complete.
          format: int64
          type: integer
        result:
          description: The result of the task execution.
        self:
          description: The URL of the task.
          format: uri
          type: string
        started:
          description: A timestamp recording when the task was started.
          format: int64
          type: integer
        status:
          description: The status of the task.
          enum:
          - ENQUEUED
          - RUNNING
          - COMPLETE
          - FAILED
          - CANCEL_REQUESTED
          - CANCELLED
          - DEAD
          type: string
        submitted:
          description: A timestamp recording when the task was submitted.
          format: int64
          type: integer
        submittedBy:
          description: The ID of the user who submitted the task.
          format: int64
          type: integer
      required:
      - elapsedRuntime
      - id
      - lastUpdate
      - progress
      - self
      - status
      - submitted
      - submittedBy
      type: object
    ReorderIssueResolutionsRequest:
      additionalProperties: false
      description: Change the order of issue resolutions.
      properties:
        after:
          description: The ID of the resolution. Required if `position` isn't provided.
          type: string
          writeOnly: true
        ids:
          description: The list of resolution IDs to be reordered. Cannot contain duplicates nor after ID.
          items:
            type: string
            writeOnly: true
          type: array
          writeOnly: true
        position:
          description: The position for issue resolutions to be moved to. Required if `after` isn't provided.
          type: string
          writeOnly: true
      required:
      - ids
      type: object
    ErrorCollection:
      additionalProperties: false
      description: Error messages from an operation.
      properties:
        errorMessages:
          description: The list of error messages produced by this operation. For example, "input parameter 'key' must be provided"
          items:
            type: string
          type: array
        errors:
          additionalProperties:
            type: string
          description: 'The list of errors by parameter returned by the operation. For example,"projectKey": "Project keys must start with an uppercase letter, followed by one or more uppercase alphanumeric characters."'
          type: object
        status:
          format: int32
          type: integer
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
