openapi: 3.1.0
info:
  title: Atlassian Admin Account Workflow Schemes API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Workflow Schemes
paths:
  /rest/api/3/workflowscheme/read:
    post:
      deprecated: false
      description: Returns a list of workflow schemes by providing workflow scheme IDs or project IDs.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer Jira* global permission to access all, including project-scoped, workflow schemes<br> *  *Administer projects* project permissions to access project-scoped workflow schemes
      operationId: atlassianReadworkflowschemes
      parameters:
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `workflows.usages` Returns the project and issue types that each workflow in the workflow scheme is associated with."
        in: query
        name: expand
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              projectIds:
              - '10047'
              - '10048'
              workflowSchemeIds:
              - 3e59db0f-ed6c-47ce-8d50-80c0c4572677
            schema:
              $ref: '#/components/schemas/WorkflowSchemeReadRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '[{"defaultWorkflow":{"description":"This is the default workflow for Software Development projects.","id":"3e59db0f-ed6c-47ce-8d50-80c0c4572677","name":"Default Software Development Workflow","usage":[{"issueTypeIds":[],"projectId":"10047"}],"version":{"id":"657812fc-bc72-400f-aae0-df8d88db3d9g","versionNumber":1}},"description":"This is the workflow scheme for the Software Development project type.","id":"3g78dg2a-ns2n-56ab-9812-42h5j1464567","name":"Software Developer Workflow Scheme","projectIdsUsingScheme":["10047"],"scope":{"project":{"id":"10047"},"type":"GLOBAL"},"taskId":"3f83dg2a-ns2n-56ab-9812-42h5j1461629","version":{"id":"527213fc-bc72-400f-aae0-df8d88db2c8a","versionNumber":1},"workflowsForIssueTypes":[{"issueTypeIds":["10013"],"workflow":{"description":"This is the workflow for the Software Development bug issue type.","id":"5e79ae0f-ed6c-47ce-8d50-80c0c4572745","name":"Software Development Bug Workflow","usage":[{"issueTypeIds":["10013"],"projectId":"10047"}],"version":{"id":"897812dc-bc72-400f-aae0-df8d88fe3d8f","versionNumber":1}}}]}]'
              schema:
                items:
                  $ref: '#/components/schemas/WorkflowSchemeReadResponse'
                type: array
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing, or the caller doesn't have permissions to perform the operation.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Bulk Get Workflow Schemes
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/workflowscheme/update:
    post:
      deprecated: false
      description: Updates company-managed and team-managed project workflow schemes. This API doesn't have a concept of draft, so any changes made to a workflow scheme are immediately available. When changing the available statuses for issue types, an [asynchronous task](#async) migrates the issues as defined in the provided mappings.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer Jira* project permission to update all, including global-scoped, workflow schemes.<br> *  *Administer projects* project permission to update project-scoped workflow schemes.
      operationId: atlassianUpdateschemes
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              defaultWorkflowId: 3e59db0f-ed6c-47ce-8d50-80c0c4572677
              description: description
              id: '10000'
              name: name
              statusMappingsByIssueTypeOverride:
              - issueTypeId: '10001'
                statusMappings:
                - newStatusId: '2'
                  oldStatusId: '1'
                - newStatusId: '4'
                  oldStatusId: '3'
              - issueTypeId: '10002'
                statusMappings:
                - newStatusId: '4'
                  oldStatusId: '1'
                - newStatusId: '2'
                  oldStatusId: '3'
              statusMappingsByWorkflows:
              - newWorkflowId: 3e59db0f-ed6c-47ce-8d50-80c0c4572677
                oldWorkflowId: 3e59db0f-ed6c-47ce-8d50-80c0c4572677
                statusMappings:
                - newStatusId: '2'
                  oldStatusId: '1'
                - newStatusId: '4'
                  oldStatusId: '3'
              version:
                id: 527213fc-bc72-400f-aae0-df8d88db2c8a
                versionNumber: 1
              workflowsForIssueTypes:
              - issueTypeIds:
                - '10000'
                - '10003'
                workflowId: 3e59db0f-ed6c-47ce-8d50-80c0c4572677
              - issueTypeIds:
                - 10001`
                - '10002'
                workflowId: 3f83dg2a-ns2n-56ab-9812-42h5j1461629
            schema:
              $ref: '#/components/schemas/WorkflowSchemeUpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful and there is no asynchronous task.
        '303':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskProgressBeanObject'
          description: Returned if the request is successful and there is an asynchronous task for the migrations.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing, or the caller doesn't have permissions to perform the operation.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:workflow-scheme:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/workflowscheme/update/mappings:
    post:
      deprecated: false
      description: Gets the required status mappings for the desired changes to a workflow scheme. The results are provided per issue type and workflow. When updating a workflow scheme, status mappings can be provided per issue type, per workflow, or both.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer Jira* permission to update all, including global-scoped, workflow schemes.<br> *  *Administer projects* project permission to update project-scoped workflow schemes.
      operationId: atlassianUpdateworkflowschememappings
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              defaultWorkflowId: '10010'
              id: '10001'
              workflowsForIssueTypes:
              - issueTypeIds:
                - '10010'
                - '10011'
                workflowId: '10001'
            schema:
              $ref: '#/components/schemas/WorkflowSchemeUpdateRequiredMappingsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"statusMappingsByIssueTypes":[{"issueTypeId":"10000","statusIds":["10000","10001"]}],"statusMappingsByWorkflows":[{"sourceWorkflowId":"10000","statusIds":["10000","10001"],"targetWorkflowId":"10001"}],"statuses":[{"category":"TODO","id":"10000","name":"To Do"}],"statusesPerWorkflow":[{"initialStatusId":"10000","statuses":["10000","10001"],"workflowId":"10000"}]}'
              schema:
                $ref: '#/components/schemas/WorkflowSchemeUpdateRequiredMappingsResponse'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing, or the caller doesn't have permissions to perform the operation.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Required Status Mappings For Workflow Scheme Update
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:workflow-scheme:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/workflowscheme/{id}:
    delete:
      deprecated: false
      description: Deletes a workflow scheme. Note that a workflow scheme cannot be deleted if it is active (that is, being used by at least one project).<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeleteworkflowscheme
      parameters:
      - description: The ID of the workflow scheme. Find this ID by editing the desired workflow scheme in Jira. The ID is shown in the URL as `schemeId`. For example, *schemeId=10301*.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the scheme is active.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:workflow-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    get:
      deprecated: false
      description: Returns a workflow scheme.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetworkflowscheme
      parameters:
      - description: The ID of the workflow scheme. Find this ID by editing the desired workflow scheme in Jira. The ID is shown in the URL as `schemeId`. For example, *schemeId=10301*.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: Returns the workflow scheme's draft rather than scheme itself, if set to true. If the workflow scheme does not have a draft, then the workflow scheme is returned.
        in: query
        name: returnDraftIfExists
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example: '{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","draft":false,"id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"}'
              schema:
                $ref: '#/components/schemas/WorkflowScheme'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Updates a company-manged project workflow scheme, including the name, default workflow, issue type to project mappings, and more. If the workflow scheme is active (that is, being used by at least one project), then a draft workflow scheme is created or updated instead, provided that `updateDraftIfNeeded` is set to `true`.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdateworkflowscheme
      parameters:
      - description: The ID of the workflow scheme. Find this ID by editing the desired workflow scheme in Jira. The ID is shown in the URL as `schemeId`. For example, *schemeId=10301*.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              defaultWorkflow: jira
              description: The description of the example workflow scheme.
              issueTypeMappings:
                '10000': scrum workflow
              name: Example workflow scheme
              updateDraftIfNeeded: false
            schema:
              $ref: '#/components/schemas/WorkflowScheme'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","draft":false,"id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"}'
              schema:
                $ref: '#/components/schemas/WorkflowScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Classic Update Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        - write:workflow-scheme:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/workflowscheme/{id}/default:
    delete:
      deprecated: false
      description: Resets the default workflow for a workflow scheme. That is, the default workflow is set to Jira's system workflow (the *jira* workflow).<br><br>Note that active workflow schemes cannot be edited. If the workflow scheme is active, set `updateDraftIfNeeded` to `true` and a draft workflow scheme is created or updated with the default workflow reset. The draft workflow scheme can be published in Jira.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeletedefaultworkflow
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: Set to true to create or update the draft of a workflow scheme and delete the mapping from the draft, when the workflow scheme cannot be edited. Defaults to `false`.
        in: query
        name: updateDraftIfNeeded
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example: '{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","draft":false,"id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"}'
              schema:
                $ref: '#/components/schemas/WorkflowScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the workflow scheme cannot be edited and `updateDraftIfNeeded` is not `true`.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Default Workflow
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        - write:workflow-scheme:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    get:
      deprecated: false
      description: Returns the default workflow for a workflow scheme. The default workflow is the workflow that is assigned any issue types that have not been mapped to any other workflow. The default workflow has *All Unassigned Issue Types* listed in its issue types for the workflow scheme in Jira.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetdefaultworkflow
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: Set to `true` to return the default workflow for the workflow scheme's draft rather than scheme itself. If the workflow scheme does not have a draft, then the default workflow for the workflow scheme is returned.
        in: query
        name: returnDraftIfExists
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example: '{"workflow":"jira"}'
              schema:
                $ref: '#/components/schemas/DefaultWorkflow'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Default Workflow
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        - read:workflow:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Sets the default workflow for a workflow scheme.<br><br>Note that active workflow schemes cannot be edited. If the workflow scheme is active, set `updateDraftIfNeeded` to `true` in the request object and a draft workflow scheme is created or updated with the new default workflow. The draft workflow scheme can be published in Jira.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdatedefaultworkflow
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              updateDraftIfNeeded: false
              workflow: jira
            schema:
              $ref: '#/components/schemas/DefaultWorkflow'
        description: The new default workflow.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","draft":false,"id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"}'
              schema:
                $ref: '#/components/schemas/WorkflowScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the workflow scheme cannot be edited and `updateDraftIfNeeded` is not `true`.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Default Workflow
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        - write:workflow-scheme:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/workflowscheme/{id}/issuetype/{issueType}:
    delete:
      deprecated: false
      description: Deletes the issue type-workflow mapping for an issue type in a workflow scheme.<br><br>Note that active workflow schemes cannot be edited. If the workflow scheme is active, set `updateDraftIfNeeded` to `true` and a draft workflow scheme is created or updated with the issue type-workflow mapping deleted. The draft workflow scheme can be published in Jira.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeleteworkflowschemeissuetype
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the issue type.
        in: path
        name: issueType
        required: true
        schema:
          type: string
      - description: Set to true to create or update the draft of a workflow scheme and update the mapping in the draft, when the workflow scheme cannot be edited. Defaults to `false`.
        in: query
        name: updateDraftIfNeeded
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example: '{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","draft":false,"id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"}'
              schema:
                $ref: '#/components/schemas/WorkflowScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the workflow cannot be edited and `updateDraftIfNeeded` is false.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme or issue type is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Workflow For Issue Type In Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:workflow-scheme:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        - read:workflow-scheme:jira
        - read:workflow:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    get:
      deprecated: false
      description: Returns the issue type-workflow mapping for an issue type in a workflow scheme.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetworkflowschemeissuetype
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the issue type.
        in: path
        name: issueType
        required: true
        schema:
          type: string
      - description: Returns the mapping from the workflow scheme's draft rather than the workflow scheme, if set to true. If no draft exists, the mapping from the workflow scheme is returned.
        in: query
        name: returnDraftIfExists
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example: '{"issueType":"10000","workflow":"jira"}'
              schema:
                $ref: '#/components/schemas/IssueTypeWorkflowMapping'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme or issue type is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Workflow For Issue Type In Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        - read:workflow:jira
        - read:issue-type:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Sets the workflow for an issue type in a workflow scheme.<br><br>Note that active workflow schemes cannot be edited. If the workflow scheme is active, set `updateDraftIfNeeded` to `true` in the request body and a draft workflow scheme is created or updated with the new issue type-workflow mapping. The draft workflow scheme can be published in Jira.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianSetworkflowschemeissuetype
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the issue type.
        in: path
        name: issueType
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              issueType: '10000'
              updateDraftIfNeeded: false
              workflow: jira
            schema:
              $ref: '#/components/schemas/IssueTypeWorkflowMapping'
        description: The issue type-project mapping.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","draft":false,"id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"}'
              schema:
                $ref: '#/components/schemas/WorkflowScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the workflow cannot be edited and `updateDraftIfNeeded` is false.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the workflow scheme or issue type is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Set Workflow For Issue Type In Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:workflow-scheme:jira
        - read:workflow-scheme:jira
        - read:workflow:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/workflowscheme/{id}/workflow:
    delete:
      deprecated: false
      description: Deletes the workflow-issue type mapping for a workflow in a workflow scheme.<br><br>Note that active workflow schemes cannot be edited. If the workflow scheme is active, set `updateDraftIfNeeded` to `true` and a draft workflow scheme is created or updated with the workflow-issue type mapping deleted. The draft workflow scheme can be published in Jira.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeleteworkflowmapping
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The name of the workflow.
        in: query
        name: workflowName
        required: true
        schema:
          type: string
      - description: Set to true to create or update the draft of a workflow scheme and delete the mapping from the draft, when the workflow scheme cannot be edited. Defaults to `false`.
        in: query
        name: updateDraftIfNeeded
        schema:
          default: false
          type: boolean
      responses:
        '200':
          description: Returned if the request is successful.
        '400':
          description: Returned if the workflow cannot be edited and `updateDraftIfNeeded` is not true.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: "Returned if any of the following is true:\n\n *  The workflow scheme is not found.\n *  The workflow is not found.\n *  The workflow is not specified."
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Issue Types For Workflow In Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:workflow-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    get:
      deprecated: false
      description: Returns the workflow-issue type mappings for a workflow scheme.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetworkflow
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The name of a workflow in the scheme. Limits the results to the workflow-issue type mapping for the specified workflow.
        in: query
        name: workflowName
        schema:
          type: string
      - description: Returns the mapping from the workflow scheme's draft rather than the workflow scheme, if set to true. If no draft exists, the mapping from the workflow scheme is returned.
        in: query
        name: returnDraftIfExists
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example: '{"defaultMapping":false,"issueTypes":["10000","10001"],"workflow":"jira"}'
              schema:
                $ref: '#/components/schemas/IssueTypesWorkflowMapping'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if either the workflow scheme or workflow is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Issue Types For Workflows In Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        - read:workflow:jira
        - read:issue-type:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Sets the issue types for a workflow in a workflow scheme. The workflow can also be set as the default workflow for the workflow scheme. Unmapped issues types are mapped to the default workflow.<br><br>Note that active workflow schemes cannot be edited. If the workflow scheme is active, set `updateDraftIfNeeded` to `true` in the request body and a draft workflow scheme is created or updated with the new workflow-issue types mappings. The draft workflow scheme can be published in Jira.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdateworkflowmapping
      parameters:
      - description: The ID of the workflow scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The name of the workflow.
        in: query
        name: workflowName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              issueTypes:
              - '10000'
              updateDraftIfNeeded: true
              workflow: jira
            schema:
              $ref: '#/components/schemas/IssueTypesWorkflowMapping'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","draft":false,"id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"}'
              schema:
                $ref: '#/components/schemas/WorkflowScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: "Returned if any of the following is true:\n\n *  The workflow scheme is not found.\n *  The workflow is not found.\n *  The workflow is not specified."
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Set Issue Types For Workflow In Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:workflow-scheme:jira
        - read:workflow-scheme:jira
        - read:workflow:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/workflowscheme:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of all workflow schemes, not including draft workflow schemes.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetallworkflowschemes
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":50,"startAt":0,"total":2,"values":[{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"},{"defaultWorkflow":"jira","description":"The description of the another example workflow scheme.","id":101011,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Another example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101011"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanWorkflowScheme'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get All Workflow Schemes
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow-scheme:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    post:
      deprecated: false
      description: Creates a workflow scheme.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianCreateworkflowscheme
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              defaultWorkflow: jira
              description: The description of the example workflow scheme.
              issueTypeMappings:
                '10000': scrum workflow
                '10001': builds workflow
              name: Example workflow scheme
            schema:
              $ref: '#/components/schemas/WorkflowScheme'
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"defaultWorkflow":"jira","description":"The description of the example workflow scheme.","draft":false,"id":101010,"issueTypeMappings":{"10000":"scrum workflow","10001":"builds workflow"},"name":"Example workflow scheme","self":"https://your-domain.atlassian.net/rest/api/3/workflowscheme/101010"}'
              schema:
                $ref: '#/components/schemas/WorkflowScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Create Workflow Scheme
      tags:
      - Workflow Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:workflow-scheme:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project:jira
        - read:user:jira
        - read:workflow-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    DefaultWorkflow:
      additionalProperties: false
      description: Details about the default workflow.
      properties:
        updateDraftIfNeeded:
          description: Whether a draft workflow scheme is created or updated when updating an active workflow scheme. The draft is updated with the new default workflow. Defaults to `false`.
          type: boolean
        workflow:
          description: The name of the workflow to set as the default workflow.
          type: string
      required:
      - workflow
      type: object
    GroupName:
      additionalProperties: false
      description: Details about a group.
      properties:
        groupId:
          description: The ID of the group, which uniquely identifies the group across all Atlassian products. For example, *952d12c3-5b5b-4d04-bb32-44d383afc4b2*.
          nullable: true
          type: string
        name:
          description: The name of group.
          type: string
        self:
          description: The URL for these group details.
          format: uri
          readOnly: true
          type: string
      type: object
    PageBeanWorkflowScheme:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/WorkflowScheme'
          readOnly: true
          type: array
      type: object
    SimpleUsage:
      additionalProperties: false
      description: Represents a usage of an entity by a project ID and related issue type IDs.
      properties:
        issueTypeIds:
          description: The issue type IDs for the usage.
          items:
            description: The issue type IDs for the usage.
            type: string
          type: array
        projectId:
          description: The project ID for the usage.
          type: string
      required:
      - issueTypeIds
      - projectId
      type: object
    WorkflowSchemeAssociation:
      additionalProperties: false
      description: The explicit association between issue types and a workflow in a workflow scheme.
      properties:
        issueTypeIds:
          description: The issue types assigned to the workflow.
          items:
            description: The issue types assigned to the workflow.
            type: string
          type: array
          uniqueItems: true
        workflowId:
          description: The ID of the workflow.
          type: string
      required:
      - issueTypeIds
      - workflowId
      type: object
    ListWrapperCallbackApplicationRole:
      additionalProperties: false
      type: object
    ProjectDetails:
      additionalProperties: false
      description: Details about a project.
      properties:
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The URLs of the project's avatars.
          readOnly: true
        id:
          description: The ID of the project.
          type: string
        key:
          description: The key of the project.
          readOnly: true
          type: string
        name:
          description: The name of the project.
          readOnly: true
          type: string
        projectCategory:
          allOf:
          - $ref: '#/components/schemas/UpdatedProjectCategory'
          description: The category the project belongs to.
          readOnly: true
        projectTypeKey:
          description: The [project type](https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes) of the project.
          enum:
          - software
          - service_desk
          - business
          readOnly: true
          type: string
        self:
          description: The URL of the project details.
          readOnly: true
          type: string
        simplified:
          description: Whether or not the project is simplified.
          readOnly: true
          type: boolean
      type: object
    Scope:
      additionalProperties: true
      description: The projects the item is associated with. Indicated for items associated with [next-gen projects](https://confluence.atlassian.com/x/loMyO).
      properties:
        project:
          allOf:
          - $ref: '#/components/schemas/ProjectDetails'
          description: The project the item has scope in.
          readOnly: true
        type:
          description: The type of scope.
          enum:
          - PROJECT
          - TEMPLATE
          readOnly: true
          type: string
      type: object
    TaskProgressBeanObject:
      additionalProperties: false
      description: Details about a task.
      properties:
        description:
          description: The description of the task.
          type: string
        elapsedRuntime:
          description: The execution time of the task, in milliseconds.
          format: int64
          type: integer
        finished:
          description: A timestamp recording when the task was finished.
          format: int64
          type: integer
        id:
          description: The ID of the task.
          type: string
        lastUpdate:
          description: A timestamp recording when the task progress was last updated.
          format: int64
          type: integer
        message:
          description: Information about the progress of the task.
          type: string
        progress:
          description: The progress of the task, as a percentage complete.
          format: int64
          type: integer
        result:
          description: The result of the task execution.
        self:
          description: The URL of the task.
          format: uri
          type: string
        started:
          description: A timestamp recording when the task was started.
          format: int64
          type: integer
        status:
          description: The status of the task.
          enum:
          - ENQUEUED
          - RUNNING
          - COMPLETE
          - FAILED
          - CANCEL_REQUESTED
          - CANCELLED
          - DEAD
          type: string
        submitted:
          description: A timestamp recording when the task was submitted.
          format: int64
          type: integer
        submittedBy:
          description: The ID of the user who submitted the task.
          format: int64
          type: integer
      required:
      - elapsedRuntime
      - id
      - lastUpdate
      - progress
      - self
      - status
      - submitted
      - submittedBy
      type: object
    UpdatedProjectCategory:
      additionalProperties: false
      description: A project category.
      properties:
        description:
          description: The name of the project category.
          readOnly: true
          type: string
        id:
          description: The ID of the project category.
          readOnly: true
          type: string
        name:
          description: The description of the project category.
          readOnly: true
          type: string
        self:
          description: The URL of the project category.
          readOnly: true
          type: string
      type: object
    WorkflowMetadataRestModel:
      additionalProperties: false
      description: Workflow metadata and usage detail.
      properties:
        description:
          description: The description of the workflow.
          type: string
        id:
          description: The ID of the workflow.
          type: string
        name:
          description: The name of the workflow.
          type: string
        usage:
          description: Use the optional `workflows.usages` expand to get additional information about the projects and issue types associated with the workflows in the workflow scheme.
          items:
            $ref: '#/components/schemas/SimpleUsage'
          type: array
        version:
          $ref: '#/components/schemas/DocumentVersion'
      required:
      - description
      - id
      - name
      - usage
      - version
      type: object
    RequiredMappingByIssueType:
      additionalProperties: false
      description: The list of required status mappings by issue type.
      properties:
        issueTypeId:
          description: The ID of the issue type.
          type: string
        statusIds:
          description: The status IDs requiring mapping.
          items:
            description: The status IDs requiring mapping.
            type: string
          type: array
          uniqueItems: true
      type: object
    WorkflowSchemeReadRequest:
      additionalProperties: false
      description: The workflow scheme read request body.
      properties:
        projectIds:
          description: The list of project IDs to query.
          items:
            description: The list of project IDs to query.
            nullable: true
            type: string
          nullable: true
          type: array
        workflowSchemeIds:
          description: The list of workflow scheme IDs to query.
          items:
            description: The list of workflow scheme IDs to query.
            nullable: true
            type: string
          nullable: true
          type: array
      type: object
    ListWrapperCallbackGroupName:
      additionalProperties: false
      type: object
    IssueTypeWorkflowMapping:
      additionalProperties: false
      description: Details about the mapping between an issue type and a workflow.
      properties:
        issueType:
          description: The ID of the issue type. Not required if updating the issue type-workflow mapping.
          type: string
        updateDraftIfNeeded:
          description: Set to true to create or update the draft of a workflow scheme and update the mapping in the draft, when the workflow scheme cannot be edited. Defaults to `false`. Only applicable when updating the workflow-issue types mapping.
          type: boolean
        workflow:
          description: The name of the workflow.
          type: string
      type: object
    RequiredMappingByWorkflows:
      additionalProperties: false
      description: The list of required status mappings by workflow.
      properties:
        sourceWorkflowId:
          description: The ID of the source workflow.
          type: string
        statusIds:
          description: The status IDs requiring mapping.
          items:
            description: The status IDs requiring mapping.
            type: string
          type: array
          uniqueItems: true
        targetWorkflowId:
          description: The ID of the target workflow.
          type: string
      type: object
    StatusesPerWorkflow:
      additionalProperties: false
      description: The statuses associated with each workflow.
      properties:
        initialStatusId:
          description: The ID of the initial status for the workflow.
          type: string
        statuses:
          description: The status IDs associated with the workflow.
          items:
            description: The status IDs associated with the workflow.
            type: string
          type: array
          uniqueItems: true
        workflowId:
          description: The ID of the workflow.
          type: string
      type: object
    ProjectId:
      additionalProperties: false
      description: Project ID details.
      nullable: true
      properties:
        id:
          description: The ID of the project.
          type: string
      required:
      - id
      type: object
    MappingsByWorkflow:
      additionalProperties: false
      description: The status mappings by workflows. Status mappings are required when the new workflow for an issue type doesn't contain all statuses that the old workflow has. Status mappings can be provided by a combination of `statusMappingsByWorkflows` and `statusMappingsByIssueTypeOverride`.
      properties:
        newWorkflowId:
          description: The ID of the new workflow.
          type: string
        oldWorkflowId:
          description: The ID of the old workflow.
          type: string
        statusMappings:
          description: The list of status mappings.
          items:
            $ref: '#/components/schemas/WorkflowAssociationStatusMapping'
          type: array
      required:
      - newWorkflowId
      - oldWorkflowId
      - statusMappings
      type: object
    User:
      additionalProperties: false
      description: "A user with details as permitted by the user's Atlassian Account privacy settings. However, be aware of these exceptions:\n\n *  User record deleted from Atlassian: This occurs as the result of a right to be forgotten request. In this case, `displayName` provides an indication and other parameters have default values or are blank (for example, email is blank).\n *  User record corrupted: This occurs as a results of events such as a server import and can only happen to deleted users. In this case, `accountId` returns *unknown* and all other parameters have fallback values.\n *  User record unavailable: This usually occurs due to an internal service outage. In this case, all parameters have fallback values."
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*. Required in requests.
          maxLength: 128
          type: string
        accountType:
          description: "The user account type. Can take the following values:\n\n *  `atlassian` regular Atlassian user account\n *  `app` system account used for Connect applications and OAuth to represent external systems\n *  `customer` Jira Service Desk account representing an external service desk"
          enum:
          - atlassian
          - app
          - customer
          - unknown
          readOnly: true
          type: string
        active:
          description: Whether the user is active.
          readOnly: true
          type: boolean
        applicationRoles:
          allOf:
          - $ref: '#/components/schemas/SimpleListWrapperApplicationRole'
          description: The application roles the user is assigned to.
          readOnly: true
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The avatars of the user.
          readOnly: true
        displayName:
          description: The display name of the user. Depending on the user’s privacy setting, this may return an alternative value.
          readOnly: true
          type: string
        emailAddress:
          description: The email address of the user. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
        expand:
          description: Expand options that include additional user details in the response.
          readOnly: true
          type: string
          xml:
            attribute: true
        groups:
          allOf:
          - $ref: '#/components/schemas/SimpleListWrapperGroupName'
          description: The groups that the user belongs to.
          readOnly: true
        key:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          type: string
        locale:
          description: The locale of the user. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
        name:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          type: string
        self:
          description: The URL of the user.
          format: uri
          readOnly: true
          type: string
        timeZone:
          description: The time zone specified in the user's profile. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
      type: object
      xml:
        name: user
    SimpleListWrapperGroupName:
      additionalProperties: false
      properties:
        callback:
          $ref: '#/components/schemas/ListWrapperCallbackGroupName'
        items:
          items:
            $ref: '#/components/schemas/GroupName'
          type: array
        max-results:
          format: int32
          type: integer
          xml:
            attribute: true
            name: max-results
        pagingCallback:
          $ref: '#/components/schemas/ListWrapperCallbackGroupName'
        size:
          format: int32
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: list
    WorkflowScheme:
      additionalProperties: false
      description: Details about a workflow scheme.
      properties:
        defaultWorkflow:
          description: The name of the default workflow for the workflow scheme. The default workflow has *All Unassigned Issue Types* assigned to it in Jira. If `defaultWorkflow` is not specified when creating a workflow scheme, it is set to *Jira Workflow (jira)*.
          type: string
        description:
          description: The description of the workflow scheme.
          type: string
        draft:
          description: Whether the workflow scheme is a draft or not.
          readOnly: true
          type: boolean
        id:
          description: The ID of the workflow scheme.
          format: int64
          readOnly: true
          type: integer
        issueTypeMappings:
          additionalProperties:
            type: string
          description: The issue type to workflow mappings, where each mapping is an issue type ID and workflow name pair. Note that an issue type can only be mapped to one workflow in a workflow scheme.
          type: object
        issueTypes:
          additionalProperties:
            $ref: '#/components/schemas/IssueTypeDetails'
          description: The issue types available in Jira.
          readOnly: true
          type: object
        lastModified:
          description: The date-time that the draft workflow scheme was last modified. A modification is a change to the issue type-project mappings only. This property does not apply to non-draft workflows.
          readOnly: true
          type: string
        lastModifiedUser:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The user that last modified the draft workflow scheme. A modification is a change to the issue type-project mappings only. This property does not apply to non-draft workflows.
          readOnly: true
        name:
          description: The name of the workflow scheme. The name must be unique. The maximum length is 255 characters. Required when creating a workflow scheme.
          type: string
        originalDefaultWorkflow:
          description: For draft workflow schemes, this property is the name of the default workflow for the original workflow scheme. The default workflow has *All Unassigned Issue Types* assigned to it in Jira.
          readOnly: true
          type: string
        originalIssueTypeMappings:
          additionalProperties:
            readOnly: true
            type: string
          description: For draft workflow schemes, this property is the issue type to workflow mappings for the original workflow scheme, where each mapping is an issue type ID and workflow name pair. Note that an issue type can only be mapped to one workflow in a workflow scheme.
          readOnly: true
          type: object
        self:
          format: uri
          readOnly: true
          type: string
        updateDraftIfNeeded:
          description: "Whether to create or update a draft workflow scheme when updating an active workflow scheme. An active workflow scheme is a workflow scheme that is used by at least one project. The following examples show how this property works:\n\n *  Update an active workflow scheme with `updateDraftIfNeeded` set to `true`: If a draft workflow scheme exists, it is updated. Otherwise, a draft workflow scheme is created.\n *  Update an active workflow scheme with `updateDraftIfNeeded` set to `false`: An error is returned, as active workflow schemes cannot be updated.\n *  Update an inactive workflow scheme with `updateDraftIfNeeded` set to `true`: The workflow scheme is updated, as inactive workflow schemes do not require drafts to update.\n\nDefaults to `false`."
          type: boolean
      type: object
    WorkflowSchemeUpdateRequiredMappingsResponse:
      additionalProperties: false
      properties:
        statusMappingsByIssueTypes:
          description: The list of required status mappings by issue type.
          items:
            $ref: '#/components/schemas/RequiredMappingByIssueType'
          type: array
          uniqueItems: true
        statusMappingsByWorkflows:
          description: The list of required status mappings by workflow.
          items:
            $ref: '#/components/schemas/RequiredMappingByWorkflows'
          type: array
          uniqueItems: true
        statuses:
          description: The details of the statuses in the associated workflows.
          items:
            $ref: '#/components/schemas/StatusMetadata'
          type: array
          uniqueItems: true
        statusesPerWorkflow:
          description: The statuses associated with each workflow.
          items:
            $ref: '#/components/schemas/StatusesPerWorkflow'
          type: array
          uniqueItems: true
      type: object
    AvatarUrlsBean:
      additionalProperties: false
      properties:
        16x16:
          description: The URL of the item's 16x16 pixel avatar.
          format: uri
          type: string
        24x24:
          description: The URL of the item's 24x24 pixel avatar.
          format: uri
          type: string
        32x32:
          description: The URL of the item's 32x32 pixel avatar.
          format: uri
          type: string
        48x48:
          description: The URL of the item's 48x48 pixel avatar.
          format: uri
          type: string
      type: object
    IssueTypesWorkflowMapping:
      additionalProperties: false
      description: Details about the mapping between issue types and a workflow.
      properties:
        defaultMapping:
          description: Whether the workflow is the default workflow for the workflow scheme.
          type: boolean
        issueTypes:
          description: The list of issue type IDs.
          items:
            type: string
          type: array
        updateDraftIfNeeded:
          description: Whether a draft workflow scheme is created or updated when updating an active workflow scheme. The draft is updated with the new workflow-issue types mapping. Defaults to `false`.
          type: boolean
        workflow:
          description: The name of the workflow. Optional if updating the workflow-issue types mapping.
          type: string
      type: object
    SimpleListWrapperApplicationRole:
      additionalProperties: false
      properties:
        callback:
          $ref: '#/components/schemas/ListWrapperCallbackApplicationRole'
        items:
          items:
            $ref: '#/components/schemas/ApplicationRole'
          type: array
        max-results:
          format: int32
          type: integer
          xml:
            attribute: true
            name: max-results
        pagingCallback:
          $ref: '#/components/schemas/ListWrapperCallbackApplicationRole'
        size:
          format: int32
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: list
    WorkflowMetadataAndIssueTypeRestModel:
      additionalProperties: false
      description: The workflow metadata and issue type IDs which use this workflow.
      properties:
        issueTypeIds:
          description: The list of issue type IDs for the mapping.
          items:
            description: The list of issue type IDs for the mapping.
            type: string
          type: array
        workflow:
          $ref: '#/components/schemas/WorkflowMetadataRestModel'
      required:
      - issueTypeIds
      - workflow
      type: object
    WorkflowScope:
      additionalProperties: false
      description: The scope of the workflow.
      properties:
        project:
          $ref: '#/components/schemas/ProjectId'
        type:
          description: The scope of the workflow. `GLOBAL` for company-managed projects and `PROJECT` for team-managed projects.
          enum:
          - PROJECT
          - GLOBAL
          type: string
      required:
      - type
      type: object
    ApplicationRole:
      additionalProperties: false
      description: Details of an application role.
      properties:
        defaultGroups:
          description: The groups that are granted default access for this application role. As a group's name can change, use of `defaultGroupsDetails` is recommended to identify a groups.
          items:
            type: string
          type: array
          uniqueItems: true
        defaultGroupsDetails:
          description: The groups that are granted default access for this application role.
          items:
            $ref: '#/components/schemas/GroupName'
          type: array
        defined:
          description: Deprecated.
          type: boolean
        groupDetails:
          description: The groups associated with the application role.
          items:
            $ref: '#/components/schemas/GroupName'
          type: array
        groups:
          description: The groups associated with the application role. As a group's name can change, use of `groupDetails` is recommended to identify a groups.
          items:
            type: string
          type: array
          uniqueItems: true
        hasUnlimitedSeats:
          type: boolean
        key:
          description: The key of the application role.
          type: string
        name:
          description: The display name of the application role.
          type: string
        numberOfSeats:
          description: The maximum count of users on your license.
          format: int32
          type: integer
        platform:
          description: Indicates if the application role belongs to Jira platform (`jira-core`).
          type: boolean
        remainingSeats:
          description: The count of users remaining on your license.
          format: int32
          type: integer
        selectedByDefault:
          description: Determines whether this application role should be selected by default on user creation.
          type: boolean
        userCount:
          description: The number of users counting against your license.
          format: int32
          type: integer
        userCountDescription:
          description: The [type of users](https://confluence.atlassian.com/x/lRW3Ng) being counted against your license.
          type: string
      type: object
    StatusMetadata:
      additionalProperties: false
      description: The details of the statuses in the associated workflows.
      properties:
        category:
          description: The category of the status.
          enum:
          - TODO
          - IN_PROGRESS
          - DONE
          type: string
        id:
          description: The ID of the status.
          type: string
        name:
          description: The name of the status.
          type: string
      type: object
    DocumentVersion:
      additionalProperties: false
      description: The current version details of this workflow scheme.
      properties:
        id:
          description: The version UUID.
          type: string
        versionNumber:
          description: The version number.
          format: int64
          type: integer
      required:
      - id
      - versionNumber
      type: object
    MappingsByIssueTypeOverride:
      additionalProperties: false
      description: Overrides, for the selected issue types, any status mappings provided in `statusMappingsByWorkflows`. Status mappings are required when the new workflow for an issue type doesn't contain all statuses that the old workflow has. Status mappings can be provided by a combination of `statusMappingsByWorkflows` and `statusMappingsByIssueTypeOverride`.
      properties:
        issueTypeId:
          description: The ID of the issue type for this mapping.
          type: string
        statusMappings:
          description: The list of status mappings.
          items:
            $ref: '#/components/schemas/WorkflowAssociationStatusMapping'
          type: array
      required:
      - issueTypeId
      - statusMappings
      type: object
    WorkflowAssociationStatusMapping:
      additionalProperties: false
      description: The list of status mappings.
      properties:
        newStatusId:
          description: The ID of the status in the new workflow.
          type: string
        oldStatusId:
          description: The ID of the status in the old workflow that isn't present in the new workflow.
          type: string
      required:
      - newStatusId
      - oldStatusId
      type: object
    WorkflowSchemeReadResponse:
      additionalProperties: false
      properties:
        defaultWorkflow:
          $ref: '#/components/schemas/WorkflowMetadataRestModel'
        description:
          description: The description of the workflow scheme.
          nullable: true
          type: string
        id:
          description: The ID of the workflow scheme.
          type: string
        name:
          description: The name of the workflow scheme.
          type: string
        projectIdsUsingScheme:
          description: The IDs of projects using the workflow scheme.
          items:
            description: The IDs of projects using the workflow scheme.
            type: string
          type: array
        scope:
          $ref: '#/components/schemas/WorkflowScope'
        taskId:
          description: Indicates if there's an [asynchronous task](#async-operations) for this workflow scheme.
          nullable: true
          type: string
        version:
          $ref: '#/components/schemas/DocumentVersion'
        workflowsForIssueTypes:
          description: Mappings from workflows to issue types.
          items:
            $ref: '#/components/schemas/WorkflowMetadataAndIssueTypeRestModel'
          type: array
      required:
      - id
      - name
      - projectIdsUsingScheme
      - scope
      - version
      - workflowsForIssueTypes
      type: object
    WorkflowSchemeUpdateRequest:
      additionalProperties: true
      description: The update workflow scheme payload.
      properties:
        defaultWorkflowId:
          description: The ID of the workflow for issue types without having a mapping defined in this workflow scheme. Only used in global-scoped workflow schemes. If the `defaultWorkflowId` isn't specified, this is set to *Jira Workflow (jira)*.
          type: string
        description:
          description: The new description for this workflow scheme.
          type: string
        id:
          description: The ID of this workflow scheme.
          type: string
        name:
          description: The new name for this workflow scheme.
          type: string
        statusMappingsByIssueTypeOverride:
          description: Overrides, for the selected issue types, any status mappings provided in `statusMappingsByWorkflows`. Status mappings are required when the new workflow for an issue type doesn't contain all statuses that the old workflow has. Status mappings can be provided by a combination of `statusMappingsByWorkflows` and `statusMappingsByIssueTypeOverride`.
          items:
            $ref: '#/components/schemas/MappingsByIssueTypeOverride'
          type: array
        statusMappingsByWorkflows:
          description: The status mappings by workflows. Status mappings are required when the new workflow for an issue type doesn't contain all statuses that the old workflow has. Status mappings can be provided by a combination of `statusMappingsByWorkflows` and `statusMappingsByIssueTypeOverride`.
          items:
            $ref: '#/components/schemas/MappingsByWorkflow'
          type: array
        version:
          $ref: '#/components/schemas/DocumentVersion'
        workflowsForIssueTypes:
          description: Mappings from workflows to issue types.
          items:
            $ref: '#/components/schemas/WorkflowSchemeAssociation'
          type: array
      required:
      - description
      - id
      - name
      - version
      type: object
    WorkflowSchemeUpdateRequiredMappingsRequest:
      additionalProperties: false
      description: The request payload to get the required mappings for updating a workflow scheme.
      properties:
        defaultWorkflowId:
          description: The ID of the new default workflow for this workflow scheme. Only used in global-scoped workflow schemes. If it isn't specified, is set to *Jira Workflow (jira)*.
          nullable: true
          type: string
        id:
          description: The ID of the workflow scheme.
          type: string
        workflowsForIssueTypes:
          description: The new workflow to issue type mappings for this workflow scheme.
          items:
            $ref: '#/components/schemas/WorkflowSchemeAssociation'
          type: array
      required:
      - id
      - workflowsForIssueTypes
      type: object
    IssueTypeDetails:
      additionalProperties: false
      description: Details about an issue type.
      properties:
        avatarId:
          description: The ID of the issue type's avatar.
          format: int64
          readOnly: true
          type: integer
        description:
          description: The description of the issue type.
          readOnly: true
          type: string
        entityId:
          description: Unique ID for next-gen projects.
          format: uuid
          readOnly: true
          type: string
        hierarchyLevel:
          description: Hierarchy level of the issue type.
          format: int32
          readOnly: true
          type: integer
        iconUrl:
          description: The URL of the issue type's avatar.
          readOnly: true
          type: string
        id:
          description: The ID of the issue type.
          readOnly: true
          type: string
        name:
          description: The name of the issue type.
          readOnly: true
          type: string
        scope:
          allOf:
          - $ref: '#/components/schemas/Scope'
          description: Details of the next-gen projects the issue type is available in.
          readOnly: true
        self:
          description: The URL of these issue type details.
          readOnly: true
          type: string
        subtask:
          description: Whether this issue type is used to create subtasks.
          readOnly: true
          type: boolean
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
