openapi: 3.1.0
info:
  title: Atlassian Admin Account Settings API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Settings
paths:
  /repositories/{workspace}/{repo_slug}/override-settings:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Settings
      description: This API operation retrieves the inheritance state configuration for settings within a specific Bitbucket repository. By making a GET request to the endpoint with the workspace identifier and repository slug, you can determine which repository settings are being inherited from the project level versus those that have been explicitly overridden at the repository level. This is particularly useful for administrators who need to understand the configuration hierarchy and manage settings inheritance across their Bitbucket workspace, allowing them to see which settings are using default project values and which have custom repository-specific configurations applied.
      summary: Atlassian Retrieve the Inheritance State for Repository Settings
      responses:
        '200':
          description: The repository setting inheritance state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_inheritance_state'
              examples:
                repository-inheritance-state:
                  $ref: '#/components/examples/repository-inheritance-state'
        '404':
          description: If no repository exists at this location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: retrieveTheInheritanceStateForRepositorySettings
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Settings
      description: This API operation allows administrators to configure the inheritance behavior of settings for a specific Bitbucket repository within a workspace. By making a PUT request to this endpoint, users can control whether repository settings should inherit values from the project or workspace level, or use custom overrides specific to that repository. This is particularly useful in organizations that want to enforce certain settings across multiple repositories while allowing selective customization for specific repos. The operation requires specification of both the workspace identifier and the repository slug in the URL path, and the request body typically contains the inheritance configuration that determines which settings should be inherited and which should be overridden at the repository level.
      summary: Atlassian Set the Inheritance State for Repository Settings
      responses:
        '204':
          description: The repository setting inheritance state was set and no content returned
        '404':
          description: If no repository exists at this location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: setTheInheritanceStateForRepositorySettings
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/settings/lookandfeel:
    get:
      tags:
      - Settings
      summary: Atlassian Get Look and Feel Settings
      description: Returns the look and feel settings for the site or a single space. This<br>includes attributes such as the color scheme, padding, and border radius.<br><br>The look and feel settings for a space can be inherited from the global<br>look and feel settings or provided by a theme.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>None
      operationId: atlassianGetlookandfeelsettings
      parameters:
      - name: spaceKey
        in: query
        description: 'The key of the space for which the look and feel settings will be

          returned. If this is not set, only the global look and feel settings

          are returned.'
        schema:
          type: string
      responses:
        '200':
          description: Returned if the requested look and feel settings are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookAndFeelSettings'
        '400':
          description: Returned if `spaceKey` is invalid.
          content: {}
        '404':
          description: Returned if there is no space with the given `spaceKey`.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - manage:confluence-configuration
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - manage:confluence-configuration
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:configuration:confluence
        - read:space.setting:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Settings
      summary: Atlassian Select Look and Feel Settings
      description: Sets the look and feel settings to the default (global) settings, the<br>custom settings, or the current theme's settings for a space.<br>The custom and theme settings can only be selected if there is already<br>a theme set for a space. Note, the default space settings are inherited<br>from the current global settings.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'Admin' permission for the space.
      operationId: atlassianUpdatelookandfeel
      requestBody:
        description: The look and feel type to be set.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookAndFeelSelection'
        required: true
      responses:
        '200':
          description: Returned if the look and feel settings were set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookAndFeelSelection'
        '400':
          description: 'Returned if;


            - `spaceKey` is invalid.

            - `lookAndFeelType` is invalid.'
          content: {}
        '403':
          description: 'Returned if the calling user doesn''t have permission to edit the

            look and feel settings.'
          content: {}
        '404':
          description: Returned if there is no space with the given `spaceKey`.
          content: {}
        '409':
          description: 'Returned if `lookAndFeelType` is set to ''custom'' or ''theme'',

            and a theme is not currently set for the space.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - manage:confluence-configuration
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - manage:confluence-configuration
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:space.setting:confluence
        - write:space.setting:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: WRITE
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/settings/lookandfeel/custom:
    post:
      tags:
      - Settings
      summary: Atlassian Update Look and Feel Settings
      description: Updates the look and feel settings for the site or for a single space.<br>If custom settings exist, they are updated. If no custom settings exist,<br>then a set of custom settings is created.<br><br>Note, if a theme is selected for a space, the space look and feel settings<br>are provided by the theme and cannot be overridden.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'Admin' permission for the space.
      operationId: atlassianUpdatelookandfeelsettings
      parameters:
      - name: spaceKey
        in: query
        description: 'The key of the space for which the look and feel settings will be

          updated. If this is not set, the global look and feel settings will

          be updated.'
        schema:
          type: string
      requestBody:
        description: 'The updated settings. All values for the settings must be included,

          regardless of whether they are being changed.


          One way to create the request body is to copy the settings from the

          response body of [Get look and feel settings](#api-settings-lookandfeel-get)

          and modify it as needed.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookAndFeel'
        required: true
      responses:
        '200':
          description: Returned if the look and feel settings are updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookAndFeelWithLinks'
        '400':
          description: 'Returned if;


            - The `spaceKey` is invalid

            - The request body contains invalid data.'
          content: {}
        '403':
          description: 'Returned if the calling user doesn''t have permission to edit the

            look and feel settings.'
          content: {}
        '404':
          description: Returned if there is no space with the given `spaceKey`.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - manage:confluence-configuration
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - manage:confluence-configuration
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:configuration:confluence
        - read:space.setting:confluence
        - write:configuration:confluence
        - write:space.setting:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: WRITE
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Settings
      summary: Atlassian Reset Look and Feel Settings
      description: Resets the custom look and feel settings for the site or a single space.<br>This changes the values of the custom settings to be the same as the<br>default settings. It does not change which settings (default or custom)<br>are selected. Note, the default space settings are inherited from the<br>current global settings.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'Admin' permission for the space.
      operationId: atlassianResetlookandfeelsettings
      parameters:
      - name: spaceKey
        in: query
        description: 'The key of the space for which the look and feel settings will be

          reset. If this is not set, the global look and feel settings will

          be reset.'
        schema:
          type: string
      responses:
        '204':
          description: Returned if the look and feel settings have been reset.
          content: {}
        '400':
          description: Returned if `spaceKey` is invalid.
          content: {}
        '403':
          description: 'Returned if the calling user doesn''t have permission to reset the

            look and feel.'
          content: {}
        '404':
          description: Returned if there is no space with the given `spaceKey`.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - manage:confluence-configuration
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - manage:confluence-configuration
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - write:configuration:confluence
        - write:space.setting:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: DELETE
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/settings/lookandfeel/selected:
    put:
      tags:
      - Settings
      summary: Atlassian Set Look and Feel Settings
      description: Sets the look and feel settings to either the default settings or the<br>custom settings, for the site or a single space. Note, the default<br>space settings are inherited from the current global settings.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'Admin' permission for the space.
      operationId: atlassianSetlookandfeelsettings
      parameters:
      - name: spaceKey
        in: query
        description: 'The key of the space for which the look and feel settings will be

          set. If this is not set, the global look and feel settings will be

          set.'
        schema:
          type: string
      requestBody:
        description: The look and feel type to be set.
        content:
          application/json:
            schema:
              type: string
              enum:
              - global
              - custom
              - theme
        required: true
      responses:
        '200':
          description: Returned if the look and feel settings were set.
          content:
            application/json:
              schema:
                type: string
        '400':
          description: 'Returned if;


            - The `spaceKey` is invalid.

            - The look and feel type is invalid.'
          content: {}
        '403':
          description: 'Returned if the look and feel type is set to ''theme'' but the

            space/site doesn''t have a theme assigned.'
          content: {}
        '404':
          description: Returned if there is no space with the given `spaceKey`.
          content: {}
      deprecated: true
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - manage:confluence-configuration
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - manage:confluence-configuration
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:configuration:confluence
        - read:space.setting:confluence
        - write:configuration:confluence
        - write:space.setting:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: WRITE
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/settings/systemInfo:
    get:
      tags:
      - Settings
      summary: Atlassian Get System Info
      description: Returns the system information for the Confluence Cloud tenant. This<br>information is used by Atlassian.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).
      operationId: atlassianGetsysteminfo
      responses:
        '200':
          description: 'Returned if the system information for the Confluence Cloud tenant

            is returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfoEntity'
        '403':
          description: 'Returned when the user does not have permission to view the system

            information.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - manage:confluence-configuration
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - manage:confluence-configuration
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:configuration:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    HorizontalHeaderLookAndFeel:
      required:
      - backgroundColor
      - primaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/TopNavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    LookAndFeelSelection:
      required:
      - lookAndFeelType
      - spaceKey
      type: object
      properties:
        spaceKey:
          type: string
          description: 'The key of the space for which the look and feel settings will be

            set.'
          example: example_value
        lookAndFeelType:
          type: string
          enum:
          - global
          - custom
          - theme
          example: global
      description: Look and feel selection
    GenericLinks:
      type: object
      additionalProperties:
        oneOf:
        - type: object
          additionalProperties: true
        - type: string
    ButtonLookAndFeel:
      required:
      - backgroundColor
      - color
      type: object
      nullable: true
      properties:
        backgroundColor:
          type: string
        color:
          type: string
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    ContainerLookAndFeel:
      required:
      - background
      - backgroundColor
      - backgroundImage
      - backgroundSize
      - borderRadius
      - padding
      type: object
      nullable: true
      properties:
        background:
          type: string
        backgroundAttachment:
          type: string
          nullable: true
        backgroundBlendMode:
          type: string
          nullable: true
        backgroundClip:
          type: string
          nullable: true
        backgroundColor:
          type: string
          nullable: true
        backgroundImage:
          type: string
          nullable: true
        backgroundOrigin:
          type: string
          nullable: true
        backgroundPosition:
          type: string
          nullable: true
        backgroundRepeat:
          type: string
          nullable: true
        backgroundSize:
          type: string
          nullable: true
        padding:
          type: string
        borderRadius:
          type: string
    SearchFieldLookAndFeel:
      required:
      - backgroundColor
      - color
      type: object
      nullable: true
      properties:
        backgroundColor:
          type: string
        color:
          type: string
    MenusLookAndFeel:
      required:
      - color
      - hoverOrFocus
      type: object
      properties:
        hoverOrFocus:
          required:
          - backgroundColor
          type: object
          properties:
            backgroundColor:
              type: string
        color:
          type: string
    LookAndFeelWithLinks:
      description: Look and feel settings returned after an update.
      allOf:
      - $ref: '#/components/schemas/LookAndFeel'
      - type: object
        properties:
          _links:
            $ref: '#/components/schemas/GenericLinks'
    SystemInfoEntity:
      required:
      - cloudId
      - commitHash
      type: object
      nullable: true
      properties:
        cloudId:
          type: string
          example: '500123'
        commitHash:
          type: string
          example: example_value
        baseUrl:
          type: string
          example: https://www.example.com
        edition:
          type: string
          example: example_value
        siteTitle:
          type: string
          example: example_value
        defaultLocale:
          type: string
          example: example_value
        defaultTimeZone:
          type: string
          example: example_value
        microsPerimeter:
          type: string
          example: example_value
    ScreenLookAndFeel:
      required:
      - background
      type: object
      properties:
        background:
          type: string
        backgroundAttachment:
          type: string
          nullable: true
        backgroundBlendMode:
          type: string
          nullable: true
        backgroundClip:
          type: string
          nullable: true
        backgroundColor:
          type: string
          nullable: true
        backgroundImage:
          type: string
          nullable: true
        backgroundOrigin:
          type: string
          nullable: true
        backgroundPosition:
          type: string
          nullable: true
        backgroundRepeat:
          type: string
          nullable: true
        backgroundSize:
          type: string
          nullable: true
        layer:
          type: object
          properties:
            width:
              type: string
            height:
              type: string
          nullable: true
        gutterTop:
          type: string
          nullable: true
        gutterRight:
          type: string
          nullable: true
        gutterBottom:
          type: string
          nullable: true
        gutterLeft:
          type: string
          nullable: true
    TopNavigationLookAndFeel:
      required:
      - highlightColor
      type: object
      properties:
        color:
          type: string
          nullable: true
        highlightColor:
          type: string
        hoverOrFocus:
          type: object
          properties:
            backgroundColor:
              type: string
            color:
              type: string
    HeaderLookAndFeel:
      required:
      - backgroundColor
      - button
      - primaryNavigation
      - search
      - secondaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    LookAndFeel:
      required:
      - bordersAndDividers
      - content
      - header
      - headings
      - links
      - menus
      type: object
      properties:
        headings:
          required:
          - color
          type: object
          properties:
            color:
              type: string
        links:
          required:
          - color
          type: object
          properties:
            color:
              type: string
        menus:
          $ref: '#/components/schemas/MenusLookAndFeel'
        header:
          $ref: '#/components/schemas/HeaderLookAndFeel'
        horizontalHeader:
          $ref: '#/components/schemas/HorizontalHeaderLookAndFeel'
        content:
          $ref: '#/components/schemas/ContentLookAndFeel'
        bordersAndDividers:
          required:
          - color
          type: object
          properties:
            color:
              type: string
        spaceReference:
          type: object
          nullable: true
    ContentLookAndFeel:
      type: object
      properties:
        screen:
          $ref: '#/components/schemas/ScreenLookAndFeel'
        container:
          $ref: '#/components/schemas/ContainerLookAndFeel'
        header:
          $ref: '#/components/schemas/ContainerLookAndFeel'
        body:
          $ref: '#/components/schemas/ContainerLookAndFeel'
    NavigationLookAndFeel:
      required:
      - color
      - hoverOrFocus
      type: object
      nullable: true
      properties:
        color:
          type: string
        highlightColor:
          type: string
          nullable: true
        hoverOrFocus:
          required:
          - backgroundColor
          - color
          type: object
          properties:
            backgroundColor:
              type: string
            color:
              type: string
    LookAndFeelSettings:
      required:
      - custom
      - global
      - selected
      type: object
      properties:
        selected:
          type: string
          enum:
          - global
          - custom
          example: global
        global:
          $ref: '#/components/schemas/LookAndFeel'
        theme:
          $ref: '#/components/schemas/LookAndFeel'
        custom:
          $ref: '#/components/schemas/LookAndFeel'
    repository_inheritance_state:
      type: object
      title: Repository Inheritance State
      description: A json object representing the repository's inheritance state values
      properties:
        type:
          type: string
          example: example_value
        override_settings:
          type: object
          example: example_value
      required:
      - type
      additionalProperties: true
  examples:
    repository-inheritance-state:
      type: enabled
      override_settings:
        branch_protection: true
        security_scanning: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
