openapi: 3.1.0
info:
  title: Atlassian Admin Account Issue Custom Field Contexts API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Issue Custom Field Contexts
paths:
  /rest/api/3/field/{fieldId}/context:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of [ contexts](https://confluence.atlassian.com/adminjiracloud/what-are-custom-field-contexts-991923859.html) for a custom field. Contexts can be returned as follows:<br><br> *  With no other parameters set, all contexts.<br> *  By defining `id` only, all contexts from the list of IDs.<br> *  By defining `isAnyIssueType`, limit the list of contexts returned to either those that apply to all issue types (true) or those that apply to only a subset of issue types (false)<br> *  By defining `isGlobalContext`, limit the list of contexts return to either those that apply to all projects (global contexts) (true) or those that apply to only a subset of projects (false).<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetcontextsforfield
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: Whether to return contexts that apply to all issue types.
        in: query
        name: isAnyIssueType
        schema:
          type: boolean
      - description: Whether to return contexts that apply to all projects.
        in: query
        name: isGlobalContext
        schema:
          type: boolean
      - description: 'The list of context IDs. To include multiple contexts, separate IDs with ampersand: `contextId=10000&contextId=10001`.'
        in: query
        name: contextId
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"startAt":0,"total":2,"values":[{"id":"10025","name":"Bug fields context","description":"A context used to define the custom field options for bugs.","isGlobalContext":true,"isAnyIssueType":false},{"id":"10026","name":"Task fields context","description":"A context used to define the custom field options for tasks.","isGlobalContext":false,"isAnyIssueType":false}]}'
              schema:
                $ref: '#/components/schemas/PageBeanCustomFieldContext'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The custom field was not found."],"errors":{}}'
          description: Returned if the custom field was not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Custom Field Contexts
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        - read:custom-field-contextual-configuration:jira
        state: Beta
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Creates a custom field context.<br><br>If `projectIds` is empty, a global context is created. A global context is one that applies to all project. If `issueTypeIds` is empty, the context applies to all issue types.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianCreatecustomfieldcontext
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              description: A context used to define the custom field options for bugs.
              issueTypeIds:
              - '10010'
              name: Bug fields context
              projectIds: []
            schema:
              $ref: '#/components/schemas/CreateCustomFieldContext'
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"id":"10025","name":"Bug fields context","description":"A context used to define the custom field options for bugs.","projectIds":[],"issueTypeIds":["10010"]}'
              schema:
                $ref: '#/components/schemas/CreateCustomFieldContext'
          description: Returned if the custom field context is created.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the field, project, or issue type is not found.
        '409':
          content:
            application/json:
              example: '{"errorMessages":["Sub-tasks are disabled in Jira. At least one of the issue types is a sub-task."],"errors":{}}'
          description: Returned if the issue type is a sub-task, but sub-tasks are disabled in Jira settings.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Create Custom Field Context
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        - write:field:jira
        - read:custom-field-contextual-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/field/{fieldId}/context/defaultValue:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of defaults for a custom field. The results can be filtered by `contextId`, otherwise all values are returned. If no defaults are set for a context, nothing is returned.  <br>The returned object depends on type of the custom field:<br><br> *  `CustomFieldContextDefaultValueDate` (type `datepicker`) for date fields.<br> *  `CustomFieldContextDefaultValueDateTime` (type `datetimepicker`) for date-time fields.<br> *  `CustomFieldContextDefaultValueSingleOption` (type `option.single`) for single choice select lists and radio buttons.<br> *  `CustomFieldContextDefaultValueMultipleOption` (type `option.multiple`) for multiple choice select lists and checkboxes.<br> *  `CustomFieldContextDefaultValueCascadingOption` (type `option.cascading`) for cascading select lists.<br> *  `CustomFieldContextSingleUserPickerDefaults` (type `single.user.select`) for single users.<br> *  `CustomFieldContextDefaultValueMultiUserPicker` (type `multi.user.select`) for user lists.<br> *  `CustomFieldContextDefaultValueSingleGroupPicker` (type `grouppicker.single`) for single choice group pickers.<br> *  `CustomFieldContextDefaultValueMultipleGroupPicker` (type `grouppicker.multiple`) for multiple choice group pickers.<br> *  `CustomFieldContextDefaultValueURL` (type `url`) for URLs.<br> *  `CustomFieldContextDefaultValueProject` (type `project`) for project pickers.<br> *  `CustomFieldContextDefaultValueFloat` (type `float`) for floats (floating-point numbers).<br> *  `CustomFieldContextDefaultValueLabels` (type `labels`) for labels.<br> *  `CustomFieldContextDefaultValueTextField` (type `textfield`) for text fields.<br> *  `CustomFieldContextDefaultValueTextArea` (type `textarea`) for text area fields.<br> *  `CustomFieldContextDefaultValueReadOnly` (type `readonly`) for read only (text) fields.<br> *  `CustomFieldContextDefaultValueMultipleVersion` (type `version.multiple`) for single choice version pickers.<br> *  `CustomFieldContextDefaultValueSingleVersion` (type `version.single`) for multiple choice version pickers.<br><br>Forge custom fields [types](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/#data-types) are also supported, returning:<br><br> *  `CustomFieldContextDefaultValueForgeStringFieldBean` (type `forge.string`) for Forge string fields.<br> *  `CustomFieldContextDefaultValueForgeMultiStringFieldBean` (type `forge.string.list`) for Forge string collection fields.<br> *  `CustomFieldContextDefaultValueForgeObjectFieldBean` (type `forge.object`) for Forge object fields.<br> *  `CustomFieldContextDefaultValueForgeDateTimeFieldBean` (type `forge.datetime`) for Forge date-time fields.<br> *  `CustomFieldContextDefaultValueForgeGroupFieldBean` (type `forge.group`) for Forge group fields.<br> *  `CustomFieldContextDefaultValueForgeMultiGroupFieldBean` (type `forge.group.list`) for Forge group collection fields.<br> *  `CustomFieldContextDefaultValueForgeNumberFieldBean` (type `forge.number`) for Forge number fields.<br> *  `CustomFieldContextDefaultValueForgeUserFieldBean` (type `forge.user`) for Forge user fields.<br> *  `CustomFieldContextDefaultValueForgeMultiUserFieldBean` (type `forge.user.list`) for Forge user collection fields.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetdefaultvalues
      parameters:
      - description: The ID of the custom field, for example `customfield\_10000`.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The IDs of the contexts.
        in: query
        name: contextId
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":50,"startAt":0,"total":3,"values":[{"contextId":"10100","optionId":"10001"},{"contextId":"10101","optionId":"10003"},{"contextId":"10103"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanCustomFieldContextDefaultValue'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The custom field was not found."],"errors":{}}'
          description: Returned if the custom field is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Custom Field Contexts Default Values
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field.default-value:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Sets default for contexts of a custom field. Default are defined using these objects:<br><br> *  `CustomFieldContextDefaultValueDate` (type `datepicker`) for date fields.<br> *  `CustomFieldContextDefaultValueDateTime` (type `datetimepicker`) for date-time fields.<br> *  `CustomFieldContextDefaultValueSingleOption` (type `option.single`) for single choice select lists and radio buttons.<br> *  `CustomFieldContextDefaultValueMultipleOption` (type `option.multiple`) for multiple choice select lists and checkboxes.<br> *  `CustomFieldContextDefaultValueCascadingOption` (type `option.cascading`) for cascading select lists.<br> *  `CustomFieldContextSingleUserPickerDefaults` (type `single.user.select`) for single users.<br> *  `CustomFieldContextDefaultValueMultiUserPicker` (type `multi.user.select`) for user lists.<br> *  `CustomFieldContextDefaultValueSingleGroupPicker` (type `grouppicker.single`) for single choice group pickers.<br> *  `CustomFieldContextDefaultValueMultipleGroupPicker` (type `grouppicker.multiple`) for multiple choice group pickers.<br> *  `CustomFieldContextDefaultValueURL` (type `url`) for URLs.<br> *  `CustomFieldContextDefaultValueProject` (type `project`) for project pickers.<br> *  `CustomFieldContextDefaultValueFloat` (type `float`) for floats (floating-point numbers).<br> *  `CustomFieldContextDefaultValueLabels` (type `labels`) for labels.<br> *  `CustomFieldContextDefaultValueTextField` (type `textfield`) for text fields.<br> *  `CustomFieldContextDefaultValueTextArea` (type `textarea`) for text area fields.<br> *  `CustomFieldContextDefaultValueReadOnly` (type `readonly`) for read only (text) fields.<br> *  `CustomFieldContextDefaultValueMultipleVersion` (type `version.multiple`) for single choice version pickers.<br> *  `CustomFieldContextDefaultValueSingleVersion` (type `version.single`) for multiple choice version pickers.<br><br>Forge custom fields [types](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/#data-types) are also supported, returning:<br><br> *  `CustomFieldContextDefaultValueForgeStringFieldBean` (type `forge.string`) for Forge string fields.<br> *  `CustomFieldContextDefaultValueForgeMultiStringFieldBean` (type `forge.string.list`) for Forge string collection fields.<br> *  `CustomFieldContextDefaultValueForgeObjectFieldBean` (type `forge.object`) for Forge object fields.<br> *  `CustomFieldContextDefaultValueForgeDateTimeFieldBean` (type `forge.datetime`) for Forge date-time fields.<br> *  `CustomFieldContextDefaultValueForgeGroupFieldBean` (type `forge.group`) for Forge group fields.<br> *  `CustomFieldContextDefaultValueForgeMultiGroupFieldBean` (type `forge.group.list`) for Forge group collection fields.<br> *  `CustomFieldContextDefaultValueForgeNumberFieldBean` (type `forge.number`) for Forge number fields.<br> *  `CustomFieldContextDefaultValueForgeUserFieldBean` (type `forge.user`) for Forge user fields.<br> *  `CustomFieldContextDefaultValueForgeMultiUserFieldBean` (type `forge.user.list`) for Forge user collection fields.<br><br>Only one type of default object can be included in a request. To remove a default for a context, set the default parameter to `null`.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianSetdefaultvalues
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              defaultValues:
              - contextId: '10100'
                optionId: '10001'
                type: option.single
              - contextId: '10101'
                optionId: '10003'
                type: option.single
              - contextId: '10103'
                optionId: '10005'
                type: option.single
            schema:
              $ref: '#/components/schemas/CustomFieldContextDefaultValueUpdate'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if operation is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["All default values in the request must have the same type."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The context was not found."],"errors":{}}'
          description: Returned if the custom field, a context, an option, or a cascading option is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Set Custom Field Contexts Default Values
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field.default-value:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/field/{fieldId}/context/issuetypemapping:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of context to issue type mappings for a custom field. Mappings are returned for all contexts or a list of contexts. Mappings are ordered first by context ID and then by issue type ID.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetissuetypemappingsforcontexts
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The ID of the context. To include multiple contexts, provide an ampersand-separated list. For example, `contextId=10001&contextId=10002`.
        in: query
        name: contextId
        schema:
          items:
            format: int64
            type: integer
          type: array
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"startAt":0,"total":3,"values":[{"contextId":"10001","issueTypeId":"10010"},{"contextId":"10001","issueTypeId":"10011"},{"contextId":"10002","isAnyIssueType":true}]}'
              schema:
                $ref: '#/components/schemas/PageBeanIssueTypeToContextMapping'
          description: Returned if operation is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Issue Types For Custom Field Context
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/field/{fieldId}/context/mapping:
    post:
      deprecated: false
      description: Returns a [paginated](#pagination) list of project and issue type mappings and, for each mapping, the ID of a [custom field context](https://confluence.atlassian.com/x/k44fOw) that applies to the project and issue type.<br><br>If there is no custom field context assigned to the project then, if present, the custom field context that applies to all projects is returned if it also applies to the issue type or all issue types. If a custom field context is not found, the returned custom field context ID is `null`.<br><br>Duplicate project and issue type mappings cannot be provided in the request.<br><br>The order of the returned values is the same as provided in the request.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetcustomfieldcontextsforprojectsandissuetypes
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            example:
              mappings:
              - issueTypeId: '10000'
                projectId: '10000'
              - issueTypeId: '10001'
                projectId: '10000'
              - issueTypeId: '10002'
                projectId: '10001'
            schema:
              $ref: '#/components/schemas/ProjectIssueTypeMappings'
        description: The list of project and issue type mappings.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":50,"startAt":0,"total":3,"values":[{"projectId":"10000","issueTypeId":"10000","contextId":"10000"},{"projectId":"10000","issueTypeId":"10001","contextId":null},{"projectId":"10001","issueTypeId":"10002","contextId":"10003"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanContextForProjectAndIssueType'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["Duplicate project and issue type mappings cannot be provided."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["These projects were not found: 10005."],"errors":{}}'
          description: Returned if the custom field, project, or issue type is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Custom Field Contexts For Projects And Issue Types
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/field/{fieldId}/context/projectmapping:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of context to project mappings for a custom field. The result can be filtered by `contextId`. Otherwise, all mappings are returned. Invalid IDs are ignored.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetprojectcontextmapping
      parameters:
      - description: The ID of the custom field, for example `customfield\_10000`.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: 'The list of context IDs. To include multiple context, separate IDs with ampersand: `contextId=10000&contextId=10001`.'
        in: query
        name: contextId
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"startAt":0,"total":2,"values":[{"contextId":"10025","projectId":"10001"},{"contextId":"10026","isGlobalContext":true}]}'
              schema:
                $ref: '#/components/schemas/PageBeanCustomFieldContextProjectMapping'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The custom field was not found."],"errors":{}}'
          description: Returned if the custom field is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Project Mappings For Custom Field Context
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/field/{fieldId}/context/{contextId}:
    delete:
      deprecated: false
      description: Deletes a [ custom field context](https://confluence.atlassian.com/adminjiracloud/what-are-custom-field-contexts-991923859.html).<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeletecustomfieldcontext
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The ID of the context.
        in: path
        name: contextId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the context is deleted.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The contextId has to be provided."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The context was not found."],"errors":{}}'
          description: Returned if the custom field or the context is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Custom Field Context
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Updates a [ custom field context](https://confluence.atlassian.com/adminjiracloud/what-are-custom-field-contexts-991923859.html).<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdatecustomfieldcontext
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The ID of the context.
        in: path
        name: contextId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              description: A context used to define the custom field options for bugs.
              name: Bug fields context
            schema:
              $ref: '#/components/schemas/CustomFieldContextUpdateDetails'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the context is updated.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The contextId has to be provided."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The context was not found."],"errors":{}}'
          description: Returned if the custom field or the context is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Custom Field Context
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/field/{fieldId}/context/{contextId}/issuetype:
    put:
      deprecated: false
      description: Adds issue types to a custom field context, appending the issue types to the issue types list.<br><br>A custom field context without any issue types applies to all issue types. Adding issue types to such a custom field context would result in it applying to only the listed issue types.<br><br>If any of the issue types exists in the custom field context, the operation fails and no issue types are added.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianAddissuetypestocontext
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The ID of the context.
        in: path
        name: contextId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              issueTypeIds:
              - '10001'
              - '10005'
              - '10006'
            schema:
              $ref: '#/components/schemas/IssueTypeIds'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if operation is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["These issue types are already associated with the context: 10001."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The context was not found."],"errors":{}}'
          description: Returned if the custom field, context, or one or more issue types are not found.
        '409':
          content:
            application/json:
              example: '{"errorMessages":["Sub-tasks are disabled in Jira. At least one of the issue types is a sub-task."],"errors":{}}'
          description: Returned if the issue type is a sub-task, but sub-tasks are disabled in Jira settings.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Add Issue Types To Context
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/field/{fieldId}/context/{contextId}/issuetype/remove:
    post:
      deprecated: false
      description: Removes issue types from a custom field context.<br><br>A custom field context without any issue types applies to all issue types.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianRemoveissuetypesfromcontext
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The ID of the context.
        in: path
        name: contextId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              issueTypeIds:
              - '10001'
              - '10005'
              - '10006'
            schema:
              $ref: '#/components/schemas/IssueTypeIds'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if operation is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["These issue types are not associated with the context: 10002."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The context was not found."],"errors":{}}'
          description: Returned if the custom field, context, or one or more issue types are not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Remove Issue Types From Context
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/field/{fieldId}/context/{contextId}/project:
    put:
      deprecated: false
      description: Assigns a custom field context to projects.<br><br>If any project in the request is assigned to any context of the custom field, the operation fails.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianAssignprojectstocustomfieldcontext
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The ID of the context.
        in: path
        name: contextId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              projectIds:
              - '10001'
              - '10005'
              - '10006'
            schema:
              $ref: '#/components/schemas/ProjectIds'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if operation is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The projectIds must not contain duplicates."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The context was not found."],"errors":{}}'
          description: Returned if the custom field, context, or project is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Assign Custom Field Context To Projects
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/field/{fieldId}/context/{contextId}/project/remove:
    post:
      deprecated: false
      description: Removes a custom field context from projects.<br><br>A custom field context without any projects applies to all projects. Removing all projects from a custom field context would result in it applying to all projects.<br><br>If any project in the request is not assigned to the context, or the operation would result in two global contexts for the field, the operation fails.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianRemovecustomfieldcontextfromprojects
      parameters:
      - description: The ID of the custom field.
        in: path
        name: fieldId
        required: true
        schema:
          type: string
      - description: The ID of the context.
        in: path
        name: contextId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              projectIds:
              - '10001'
              - '10005'
              - '10006'
            schema:
              $ref: '#/components/schemas/ProjectIds'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the custom field context is removed from the projects.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The projectIds must not contain duplicates."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access custom field contexts."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The context was not found."],"errors":{}}'
          description: Returned if the custom field, context, or one or more projects are not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Remove Custom Field Context From Projects
      tags:
      - Issue Custom Field Contexts
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    CustomFieldContextDefaultValueDateTime:
      description: The default value for a date time custom field.
      properties:
        dateTime:
          description: The default date-time in ISO format. Ignored if `useCurrent` is true.
          type: string
        type:
          type: string
        useCurrent:
          default: false
          description: Whether to use the current date.
          type: boolean
      required:
      - type
      type: object
    CustomFieldContextProjectMapping:
      additionalProperties: false
      description: Details of a context to project association.
      properties:
        contextId:
          description: The ID of the context.
          readOnly: true
          type: string
        isGlobalContext:
          description: Whether context is global.
          readOnly: true
          type: boolean
        projectId:
          description: The ID of the project.
          readOnly: true
          type: string
      required:
      - contextId
      type: object
    CustomFieldContextDefaultValueTextArea:
      description: The default text for a text area custom field.
      properties:
        text:
          description: The default text. The maximum length is 32767 characters.
          type: string
        type:
          type: string
      required:
      - type
      type: object
    CustomFieldContextDefaultValueForgeNumberField:
      description: Default value for a Forge number custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        number:
          description: The default floating-point number.
          format: double
          type: number
        type:
          type: string
      required:
      - contextId
      - number
      - type
      type: object
    CustomFieldContextDefaultValueCascadingOption:
      description: The default value for a cascading select custom field.
      properties:
        cascadingOptionId:
          description: The ID of the default cascading option.
          type: string
        contextId:
          description: The ID of the context.
          type: string
        optionId:
          description: The ID of the default option.
          type: string
        type:
          type: string
      required:
      - contextId
      - optionId
      - type
      type: object
    ContextForProjectAndIssueType:
      additionalProperties: false
      description: The project and issue type mapping with a matching custom field context.
      properties:
        contextId:
          description: The ID of the custom field context.
          type: string
        issueTypeId:
          description: The ID of the issue type.
          type: string
        projectId:
          description: The ID of the project.
          type: string
      required:
      - contextId
      - issueTypeId
      - projectId
      type: object
    CustomFieldContextDefaultValueForgeStringField:
      description: The default text for a Forge string custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        text:
          description: The default text. The maximum length is 254 characters.
          type: string
        type:
          type: string
      required:
      - contextId
      - type
      type: object
    CustomFieldContextSingleUserPickerDefaults:
      description: Defaults for a User Picker (single) custom field.
      properties:
        accountId:
          description: The ID of the default user.
          type: string
        contextId:
          description: The ID of the context.
          type: string
        type:
          type: string
        userFilter:
          $ref: '#/components/schemas/UserFilter'
      required:
      - accountId
      - contextId
      - type
      - userFilter
      type: object
    CustomFieldContextDefaultValueUpdate:
      additionalProperties: false
      description: Default values to update.
      properties:
        defaultValues:
          items:
            $ref: '#/components/schemas/CustomFieldContextDefaultValue'
          type: array
      type: object
    CustomFieldContextDefaultValueForgeMultiGroupField:
      description: The default value for a Forge collection of groups custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        groupIds:
          description: The IDs of the default groups.
          items:
            description: The IDs of the default groups.
            type: string
          type: array
          uniqueItems: true
        type:
          type: string
      required:
      - contextId
      - groupIds
      - type
      type: object
    ProjectIds:
      additionalProperties: false
      description: A list of project IDs.
      properties:
        projectIds:
          description: The IDs of projects.
          items:
            type: string
            writeOnly: true
          type: array
          writeOnly: true
      required:
      - projectIds
      type: object
    PageBeanCustomFieldContextProjectMapping:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/CustomFieldContextProjectMapping'
          readOnly: true
          type: array
      type: object
    CreateCustomFieldContext:
      additionalProperties: false
      description: The details of a created custom field context.
      properties:
        description:
          description: The description of the context.
          type: string
        id:
          description: The ID of the context.
          readOnly: true
          type: string
        issueTypeIds:
          description: The list of issue types IDs for the context. If the list is empty, the context refers to all issue types.
          items:
            type: string
          type: array
        name:
          description: The name of the context.
          type: string
        projectIds:
          description: The list of project IDs associated with the context. If the list is empty, the context is global.
          items:
            type: string
          type: array
      required:
      - name
      type: object
    CustomFieldContextDefaultValueProject:
      description: The default value for a project custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        projectId:
          description: The ID of the default project.
          type: string
        type:
          type: string
      required:
      - contextId
      - projectId
      - type
      type: object
    PageBeanContextForProjectAndIssueType:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/ContextForProjectAndIssueType'
          readOnly: true
          type: array
      type: object
    CustomFieldContextDefaultValueForgeUserField:
      description: Defaults for a Forge user custom field.
      properties:
        accountId:
          description: The ID of the default user.
          type: string
        contextId:
          description: The ID of the context.
          type: string
        type:
          type: string
        userFilter:
          $ref: '#/components/schemas/UserFilter'
      required:
      - accountId
      - contextId
      - type
      - userFilter
      type: object
    CustomFieldContextDefaultValue:
      additionalProperties: false
      discriminator:
        mapping:
          datepicker: '#/components/schemas/CustomFieldContextDefaultValueDate'
          datetimepicker: '#/components/schemas/CustomFieldContextDefaultValueDateTime'
          float: '#/components/schemas/CustomFieldContextDefaultValueFloat'
          forge.datetime: '#/components/schemas/CustomFieldContextDefaultValueForgeDateTimeField'
          forge.group: '#/components/schemas/CustomFieldContextDefaultValueForgeGroupField'
          forge.group.list: '#/components/schemas/CustomFieldContextDefaultValueForgeMultiGroupField'
          forge.number: '#/components/schemas/CustomFieldContextDefaultValueForgeNumberField'
          forge.object: '#/components/schemas/CustomFieldContextDefaultValueForgeObjectField'
          forge.string: '#/components/schemas/CustomFieldContextDefaultValueForgeStringField'
          forge.string.list: '#/components/schemas/CustomFieldContextDefaultValueForgeMultiStringField'
          forge.user: '#/components/schemas/CustomFieldContextDefaultValueForgeUserField'
          forge.user.list: '#/components/schemas/CustomFieldContextDefaultValueForgeMultiUserField'
          grouppicker.multiple: '#/components/schemas/CustomFieldContextDefaultValueMultipleGroupPicker'
          grouppicker.single: '#/components/schemas/CustomFieldContextDefaultValueSingleGroupPicker'
          labels: '#/components/schemas/CustomFieldContextDefaultValueLabels'
          multi.user.select: '#/components/schemas/CustomFieldContextDefaultValueMultiUserPicker'
          option.cascading: '#/components/schemas/CustomFieldContextDefaultValueCascadingOption'
          option.multiple: '#/components/schemas/CustomFieldContextDefaultValueMultipleOption'
          option.single: '#/components/schemas/CustomFieldContextDefaultValueSingleOption'
          project: '#/components/schemas/CustomFieldContextDefaultValueProject'
          readonly: '#/components/schemas/CustomFieldContextDefaultValueReadOnly'
          single.user.select: '#/components/schemas/CustomFieldContextSingleUserPickerDefaults'
          textarea: '#/components/schemas/CustomFieldContextDefaultValueTextArea'
          textfield: '#/components/schemas/CustomFieldContextDefaultValueTextField'
          url: '#/components/schemas/CustomFieldContextDefaultValueURL'
          version.multiple: '#/components/schemas/CustomFieldContextDefaultValueMultipleVersionPicker'
          version.single: '#/components/schemas/CustomFieldContextDefaultValueSingleVersionPicker'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueCascadingOption'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueMultipleOption'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueSingleOption'
      - $ref: '#/components/schemas/CustomFieldContextSingleUserPickerDefaults'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueMultiUserPicker'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueSingleGroupPicker'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueMultipleGroupPicker'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueDate'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueDateTime'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueURL'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueProject'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueFloat'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueLabels'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueTextField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueTextArea'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueReadOnly'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueSingleVersionPicker'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueMultipleVersionPicker'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeStringField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeMultiStringField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeObjectField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeDateTimeField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeGroupField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeMultiGroupField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeNumberField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeUserField'
      - $ref: '#/components/schemas/CustomFieldContextDefaultValueForgeMultiUserField'
      type: object
    PageBeanCustomFieldContext:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/CustomFieldContext'
          readOnly: true
          type: array
      type: object
    ProjectIssueTypeMappings:
      additionalProperties: false
      description: The project and issue type mappings.
      properties:
        mappings:
          description: The project and issue type mappings.
          items:
            $ref: '#/components/schemas/ProjectIssueTypeMapping'
          type: array
          writeOnly: true
      required:
      - mappings
      type: object
    CustomFieldContextDefaultValueMultipleOption:
      description: The default value for a multi-select custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        optionIds:
          description: The list of IDs of the default options.
          items:
            description: The list of IDs of the default options.
            type: string
          type: array
        type:
          type: string
      required:
      - contextId
      - optionIds
      - type
      type: object
    UserFilter:
      description: Filter for a User Picker (single) custom field.
      properties:
        enabled:
          description: Whether the filter is enabled.
          type: boolean
        groups:
          description: User groups autocomplete suggestion users must belong to. If not provided, the default values are used. A maximum of 10 groups can be provided.
          items:
            description: User groups autocomplete suggestion users must belong to. If not provided, the default values are used. A maximum of 10 groups can be provided.
            type: string
          type: array
          uniqueItems: true
        roleIds:
          description: Roles that autocomplete suggestion users must belong to. If not provided, the default values are used. A maximum of 10 roles can be provided.
          items:
            description: Roles that autocomplete suggestion users must belong to. If not provided, the default values are used. A maximum of 10 roles can be provided.
            format: int64
            type: integer
          type: array
          uniqueItems: true
      required:
      - enabled
      type: object
    IssueTypeIds:
      additionalProperties: false
      description: The list of issue type IDs.
      properties:
        issueTypeIds:
          description: The list of issue type IDs.
          items:
            type: string
            writeOnly: true
          type: array
          writeOnly: true
      required:
      - issueTypeIds
      type: object
    CustomFieldContextDefaultValueLabels:
      description: Default value for a labels custom field.
      properties:
        labels:
          description: The default labels value.
          items:
            description: The default labels value.
            type: string
          type: array
        type:
          type: string
      required:
      - labels
      - type
      type: object
    CustomFieldContextDefaultValueSingleOption:
      description: The default value for a single select custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        optionId:
          description: The ID of the default option.
          type: string
        type:
          type: string
      required:
      - contextId
      - optionId
      - type
      type: object
    CustomFieldContextDefaultValueForgeMultiUserField:
      description: Defaults for a Forge collection of users custom field.
      properties:
        accountIds:
          description: The IDs of the default users.
          items:
            description: The IDs of the default users.
            type: string
          type: array
        contextId:
          description: The ID of the context.
          type: string
        type:
          type: string
      required:
      - accountIds
      - contextId
      - type
      type: object
    CustomFieldContextDefaultValueFloat:
      description: Default value for a float (number) custom field.
      properties:
        number:
          description: The default floating-point number.
          format: double
          type: number
        type:
          type: string
      required:
      - number
      - type
      type: object
    CustomFieldContextUpdateDetails:
      additionalProperties: false
      description: Details of a custom field context.
      properties:
        description:
          description: The description of the custom field context. The maximum length is 255 characters.
          type: string
          writeOnly: true
        name:
          description: The name of the custom field context. The name must be unique. The maximum length is 255 characters.
          type: string
          writeOnly: true
      type: object
    CustomFieldContextDefaultValueForgeGroupField:
      description: The default value for a Forge group custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        groupId:
          description: The ID of the the default group.
          type: string
        type:
          type: string
      required:
      - contextId
      - groupId
      - type
      type: object
    PageBeanCustomFieldContextDefaultValue:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/CustomFieldContextDefaultValue'
          readOnly: true
          type: array
      type: object
    CustomFieldContextDefaultValueTextField:
      description: The default text for a text custom field.
      properties:
        text:
          description: The default text. The maximum length is 254 characters.
          type: string
        type:
          type: string
      required:
      - type
      type: object
    CustomFieldContext:
      additionalProperties: false
      description: The details of a custom field context.
      properties:
        description:
          description: The description of the context.
          type: string
        id:
          description: The ID of the context.
          type: string
        isAnyIssueType:
          description: Whether the context apply to all issue types.
          type: boolean
        isGlobalContext:
          description: Whether the context is global.
          type: boolean
        name:
          description: The name of the context.
          type: string
      required:
      - description
      - id
      - isAnyIssueType
      - isGlobalContext
      - name
      type: object
    CustomFieldContextDefaultValueForgeDateTimeField:
      description: The default value for a Forge date time custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        dateTime:
          description: The default date-time in ISO format. Ignored if `useCurrent` is true.
          type: string
        type:
          type: string
        useCurrent:
          default: false
          description: Whether to use the current date.
          type: boolean
      required:
      - contextId
      - type
      type: object
    CustomFieldContextDefaultValueForgeObjectField:
      description: The default value for a Forge object custom field.
      properties:
        object:
          description: The default JSON object.
          type: object
        type:
          type: string
      required:
      - type
      type: object
    CustomFieldContextDefaultValueSingleVersionPicker:
      description: The default value for a version picker custom field.
      properties:
        type:
          type: string
        versionId:
          description: The ID of the default version.
          type: string
        versionOrder:
          description: The order the pickable versions are displayed in. If not provided, the released-first order is used. Available version orders are `"releasedFirst"` and `"unreleasedFirst"`.
          type: string
      required:
      - type
      - versionId
      type: object
    ProjectIssueTypeMapping:
      additionalProperties: false
      description: The project and issue type mapping.
      properties:
        issueTypeId:
          description: The ID of the issue type.
          type: string
          writeOnly: true
        projectId:
          description: The ID of the project.
          type: string
          writeOnly: true
      required:
      - issueTypeId
      - projectId
      type: object
      writeOnly: true
    CustomFieldContextDefaultValueForgeMultiStringField:
      description: The default text for a Forge collection of strings custom field.
      properties:
        type:
          type: string
        values:
          description: List of string values. The maximum length for a value is 254 characters.
          items:
            description: List of string values. The maximum length for a value is 254 characters.
            type: string
          type: array
      required:
      - type
      type: object
    CustomFieldContextDefaultValueMultipleVersionPicker:
      description: The default value for a multiple version picker custom field.
      properties:
        type:
          type: string
        versionIds:
          description: The IDs of the default versions.
          items:
            description: The IDs of the default versions.
            type: string
          type: array
          uniqueItems: true
        versionOrder:
          description: The order the pickable versions are displayed in. If not provided, the released-first order is used. Available version orders are `"releasedFirst"` and `"unreleasedFirst"`.
          type: string
      required:
      - type
      - versionIds
      type: object
    IssueTypeToContextMapping:
      additionalProperties: false
      description: Mapping of an issue type to a context.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        isAnyIssueType:
          description: Whether the context is mapped to any issue type.
          type: boolean
        issueTypeId:
          description: The ID of the issue type.
          type: string
      required:
      - contextId
      type: object
    CustomFieldContextDefaultValueSingleGroupPicker:
      description: The default value for a group picker custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        groupId:
          description: The ID of the the default group.
          type: string
        type:
          type: string
      required:
      - contextId
      - groupId
      - type
      type: object
    CustomFieldContextDefaultValueMultiUserPicker:
      description: The default value for a User Picker (multiple) custom field.
      properties:
        accountIds:
          description: The IDs of the default users.
          items:
            description: The IDs of the default users.
            type: string
          type: array
        contextId:
          description: The ID of the context.
          type: string
        type:
          type: string
      required:
      - accountIds
      - contextId
      - type
      type: object
    CustomFieldContextDefaultValueReadOnly:
      description: The default text for a read only custom field.
      properties:
        text:
          description: The default text. The maximum length is 255 characters.
          type: string
        type:
          type: string
      required:
      - type
      type: object
    CustomFieldContextDefaultValueURL:
      description: The default value for a URL custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        type:
          type: string
        url:
          description: The default URL.
          type: string
      required:
      - contextId
      - type
      - url
      type: object
    CustomFieldContextDefaultValueDate:
      description: The default value for a Date custom field.
      properties:
        date:
          description: The default date in ISO format. Ignored if `useCurrent` is true.
          type: string
        type:
          type: string
        useCurrent:
          default: false
          description: Whether to use the current date.
          type: boolean
      required:
      - type
      type: object
    PageBeanIssueTypeToContextMapping:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/IssueTypeToContextMapping'
          readOnly: true
          type: array
      type: object
    CustomFieldContextDefaultValueMultipleGroupPicker:
      description: The default value for a multiple group picker custom field.
      properties:
        contextId:
          description: The ID of the context.
          type: string
        groupIds:
          description: The IDs of the default groups.
          items:
            description: The IDs of the default groups.
            type: string
          type: array
          uniqueItems: true
        type:
          type: string
      required:
      - contextId
      - groupIds
      - type
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
