openapi: 3.1.0
info:
  title: Atlassian Admin Account Variables API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Variables
paths:
  /repositories/{workspace}/{repo_slug}/deployments_config/environments/{environment_uuid}/variables:
    get:
      tags:
      - Variables
      description: This GET operation retrieves all deployment variables configured for a specific environment within a Bitbucket repository's deployment configuration. By providing the workspace identifier, repository slug, and environment UUID in the path parameters, the API returns a list of variables that have been defined for that particular deployment environment, including both their names and values. These variables are typically used to store environment-specific configuration settings, credentials, or other data needed during the deployment process to that environment.
      summary: Atlassian List Variables for an Environment
      operationId: listVariablesForAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The retrieved deployment variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_deployment_variable'
              examples:
                paginated-deployment-variables:
                  $ref: '#/components/examples/paginated-deployment-variables'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Variables
      description: Creates a new deployment variable for a specific environment within a Bitbucket repository's deployment configuration. This operation requires specifying the workspace, repository slug, and environment UUID in the path, allowing teams to define environment-specific variables such as API keys, connection strings, or configuration values that will be available during the deployment process. The variable details including the key name, value, and optionally whether it should be secured or hidden are provided in the request body. This enables teams to manage configuration across different deployment environments like development, staging, and production while maintaining security and flexibility in their CI/CD pipelines.
      summary: Atlassian Create Variable for an Environment
      operationId: createVariableForAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deployment_variable'
            examples:
              deployment-variable:
                $ref: '#/components/examples/deployment-variable'
        description: The variable to create
        required: true
      responses:
        '201':
          description: The variable was created.
          headers:
            Location:
              description: The URL of the newly created variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment_variable'
              examples:
                deployment-variable_2:
                  $ref: '#/components/examples/deployment-variable_2'
        '404':
          description: The account, repository, environment or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deployments_config/environments/{environment_uuid}/variables/{variable_uuid}:
    put:
      tags:
      - Variables
      description: Updates an existing deployment environment variable for a specific environment in a Bitbucket repository. This operation requires specifying the workspace, repository slug, environment UUID, and variable UUID in the request path. The PUT method allows you to modify the variable's configuration such as its key, value, secured status, and other properties. This is useful for managing environment-specific configuration values like API keys, database connection strings, or feature flags that are used during the deployment pipeline. The request must include authentication credentials with appropriate permissions to modify deployment variables in the specified repository and environment.
      summary: Atlassian Update Variable for an Environment
      operationId: updateVariableForAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to update.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deployment_variable'
            examples:
              deployment-variable_2:
                $ref: '#/components/examples/deployment-variable_2'
        description: The updated deployment variable.
        required: true
      responses:
        '200':
          description: The deployment variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment_variable'
              examples:
                deployment-variable_2:
                  $ref: '#/components/examples/deployment-variable_2'
        '404':
          description: The account, repository, environment or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Variables
      description: This API operation allows you to delete a specific deployment variable associated with an environment in a Bitbucket repository. By providing the workspace identifier, repository slug, environment UUID, and variable UUID in the request path, you can permanently remove a variable that was previously configured for deployment purposes. This is useful when cleaning up unused configuration variables or removing sensitive information that is no longer needed for your deployment pipeline. The deletion is performed via an HTTP DELETE request and requires appropriate authentication and permissions to modify deployment environment settings within the specified Bitbucket repository.
      summary: Atlassian Delete Variable for an Environment
      operationId: deleteVariableForAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted.
        '404':
          description: The account, repository, environment or variable with given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/variables:
    get:
      tags:
      - Variables
      summary: Atlassian List Variables for Repository
      description: This API operation retrieves all pipeline variables configured for a specific Bitbucket repository within a given workspace. By making a GET request to the endpoint with the workspace identifier and repository slug, users can access a complete list of environment variables that are available for use during pipeline executions. These variables typically include configuration settings, credentials, and other key-value pairs that pipelines reference during build, test, and deployment processes. The operation returns variable metadata including names, values (with sensitive values potentially masked), security settings, and whether variables are secured or public. This is useful for auditing pipeline configurations, managing environment-specific settings, and ensuring proper variable setup across different repositories in the workspace.
      operationId: listVariablesForRepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The retrieved variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pipeline_variables'
              examples:
                paginated-pipeline-variables:
                  $ref: '#/components/examples/paginated-pipeline-variables'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Variables
      summary: Atlassian Create Variable for Repository
      description: This API operation creates a new pipeline variable for a specific Bitbucket repository within a workspace. By sending a POST request to the endpoint with the workspace ID and repository slug, users can define custom variables that will be available during pipeline executions. These variables are commonly used to store configuration values, credentials, or environment-specific settings that pipelines need to access during build, test, or deployment processes. The operation requires appropriate authentication and permissions to modify pipeline configurations for the specified repository, and the variable data is typically provided in the request body with properties such as the variable name, value, and whether it should be secured or masked in pipeline logs.
      operationId: createVariableForRepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_variable'
            examples:
              pipeline-variable:
                $ref: '#/components/examples/pipeline-variable'
        description: The variable to create.
        required: true
      responses:
        '201':
          description: The variable was created.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2'
        '404':
          description: The account or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/variables/{variable_uuid}:
    get:
      tags:
      - Variables
      summary: Atlassian Get Variable for Repository
      description: This API operation retrieves a specific pipeline variable for a Bitbucket repository by its unique identifier. It requires authentication and access to the specified workspace and repository, using the repository slug and variable UUID as path parameters. The endpoint returns the complete details of the requested pipeline variable, including its name, value, security settings, and other configuration metadata that controls how the variable is used within the repository's CI/CD pipelines.
      operationId: getVariableForRepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to retrieve.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2'
        '404':
          description: The account, repository or variable with the specified UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Variables
      summary: Atlassian Update Variable for Repository
      description: Updates an existing pipeline variable for a specific repository in Bitbucket, identified by the workspace name, repository slug, and the variable's unique UUID. This operation allows you to modify the variable's properties such as its name, value, security settings (whether it's secured/masked), and other configuration options that control how the variable behaves within the pipeline execution context. The variable can be used across all pipelines in the repository to store configuration values, credentials, or other environment-specific data, and when marked as secured, its value will be hidden in pipeline logs and UI to protect sensitive information.
      operationId: updateVariableForRepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to update.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_variable'
            examples:
              pipeline-variable_2:
                $ref: '#/components/examples/pipeline-variable_2'
        description: The updated variable
        required: true
      responses:
        '200':
          description: The variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2'
        '404':
          description: The account, repository or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Variables
      summary: Atlassian Delete Variable for Repository
      description: Deletes a specific pipeline variable from a Bitbucket repository's configuration by targeting its unique identifier. This operation removes the variable identified by the variable_uuid parameter from the specified repository within the given workspace, permanently eliminating it from the pipeline's environment variables. Once deleted, the variable will no longer be available for use in any pipeline executions for that repository, and this action cannot be undone. The operation requires appropriate permissions on the repository and is commonly used when cleaning up unused variables, removing sensitive information, or managing pipeline configuration changes. Authentication is required, and the workspace, repository slug, and variable UUID must all be provided as path parameters to successfully identify and delete the target variable.
      operationId: deleteVariableForRepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted.
        '404':
          description: The account, repository or variable with given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /teams/{username}/pipelines_config/variables:
    get:
      tags:
      - Variables
      summary: Atlassian List Variables for an Account
      deprecated: true
      description: The List Variables for an Account operation in the Atlassian Bitbucket Teams API retrieves all pipeline variables configured at the account level for a specified team or workspace. By making a GET request to the `/teams/{username}/pipelines_config/variables` endpoint with the appropriate team username, developers can access a collection of environment variables that are available across all repositories within that account's Bitbucket Pipelines configuration. These variables typically include sensitive configuration data such as API keys, credentials, and deployment settings that are secured and reusable across multiple pipeline executions. The response returns details about each variable including its name, value (if not secured), UUID, and whether it is marked as secured or encrypted, allowing teams to audit and manage their pipeline configuration effectively.
      operationId: listVariablesForAnAccount
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The found account level variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pipeline_variables'
              examples:
                paginated-pipeline-variables:
                  $ref: '#/components/examples/paginated-pipeline-variables_2'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian Create Variable for User
      description: This API operation creates a new pipeline configuration variable for a specific Bitbucket team identified by the username parameter in the path. It allows administrators to define custom variables that can be used across pipeline configurations for the team, enabling centralized management of configuration values such as credentials, API keys, or environment-specific settings. The operation requires a POST request to the endpoint with the Teams username and the variable details in the request body, which typically includes the variable name, value, and whether it should be secured or masked in pipeline logs. Upon successful creation, the API returns the newly created variable object with its configuration details, making it available for use in any pipeline within that Teams repositories.
      operationId: createVariableForUser
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable2'
      responses:
        '201':
          description: The created variable.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable:
                  $ref: '#/components/examples/pipeline-variable_3'
        '404':
          description: The account does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /teams/{username}/pipelines_config/variables/{variable_uuid}:
    get:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian Get Variable for Team
      description: This API operation retrieves detailed information about a specific pipeline variable configured at the team level in Bitbucket. By providing the Teams username and the unique identifier (UUID) of the variable, you can fetch the variable's configuration details including its name, value, security settings, and other metadata. This is particularly useful when you need to inspect or validate existing pipeline variables that are shared across all repositories within a team, allowing administrators to manage and audit environment variables, credentials, or other configuration values used during the CI/CD pipeline execution process.
      operationId: getVariableForTeam
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to retrieve.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2_2'
        '404':
          description: The account or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian Update Variable for Team
      description: This API operation allows you to update an existing pipeline variable for a specific team in Atlassian Bitbucket. By making a PUT request to the endpoint with the Teams username and the variable's unique identifier (UUID), you can modify the variable's properties such as its value, security settings, or other configuration parameters. This is particularly useful for managing environment-specific settings, credentials, or other configuration values used in your Teams CI/CD pipelines without having to delete and recreate variables. The operation requires appropriate authentication and permissions to modify team-level pipeline configurations, and it will replace the existing variable configuration with the new values provided in the request body.
      operationId: updateVariableForTeam
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable'
      responses:
        '200':
          description: The variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2_2'
        '404':
          description: The account or the variable was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian Delete Variable for Team
      description: This API operation allows you to permanently remove a specific pipeline configuration variable from a Teams settings in Bitbucket. By sending a DELETE request to the endpoint with the Teams username and the unique identifier (UUID) of the variable you want to remove, you can delete variables that were previously configured for use in the Teams CI/CD pipelines. This is useful when cleaning up obsolete configuration values, removing sensitive information that's no longer needed, or managing the Teams pipeline environment variables as part of regular maintenance operations.
      operationId: deleteVariableForTeam
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted
        '404':
          description: The account or the variable with the provided UUID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/pipelines_config/variables:
    get:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian List Variables for User
      description: This API operation retrieves a list of pipeline configuration variables associated with a specific user in Atlassian Bitbucket. By sending a GET request to the endpoint with a selected user identifier, it returns the pipeline variables that have been configured at the user level, which can be used across multiple repositories and pipelines for that particular user. These variables typically include configuration settings, credentials, or other values needed for pipeline execution, allowing users to centralize and manage their pipeline configurations efficiently without having to duplicate them across different repositories.
      operationId: listVariablesForUser
      parameters:
      - name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The found user level variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pipeline_variables'
              examples:
                paginated-pipeline-variables:
                  $ref: '#/components/examples/paginated-pipeline-variables_3'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian Create Variable for User
      description: This API operation creates a new pipeline configuration variable for a specified Bitbucket user account. By sending a POST request to the endpoint with the target Users identifier, administrators can define custom variables that will be available across all pipelines associated with that Users repositories. The variables typically include key-value pairs used for storing configuration settings, credentials, or other data needed during pipeline execution, and can be marked as secured to protect sensitive information. This allows for centralized management of user-level pipeline configurations without having to define the same variables repeatedly across multiple repositories owned by the user.
      operationId: createVariableForUser
      parameters:
      - name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable2'
      responses:
        '201':
          description: The created variable.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable:
                  $ref: '#/components/examples/pipeline-variable_4'
        '404':
          description: The account does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/pipelines_config/variables/{variable_uuid}:
    get:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian Get Variable for User
      description: This API operation retrieves a specific pipeline configuration variable for a given Bitbucket user by providing both the user identifier and the unique variable UUID. It allows administrators or authorized users to fetch details about an individual pipeline variable that has been configured at the user account level, which can include information such as the variable's key, value, secured status, and other metadata. This is useful when you need to inspect or verify the configuration of a specific variable without retrieving all variables associated with the Users pipeline configuration.
      operationId: getVariableForUser
      parameters:
      - name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to retrieve.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2_3'
        '404':
          description: The account or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian Update Variable for User
      description: This API operation allows you to update an existing pipeline configuration variable for a specific Bitbucket user by providing the variable's unique identifier (UUID) and the target username. Using a PUT request to the endpoint, you can modify the variable's properties such as its value, security settings, or other configuration parameters that control how the variable behaves within Bitbucket Pipelines for that particular user. This is useful for maintaining and managing pipeline variables at the user level, enabling you to adjust CI/CD configuration values without recreating variables from scratch.
      operationId: updateVariableForUser
      parameters:
      - name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable'
      responses:
        '200':
          description: The variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2_3'
        '404':
          description: The account or the variable was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Variables
      deprecated: true
      summary: Atlassian Delete Variable for User
      description: This API operation removes a specific pipeline configuration variable associated with a Bitbucket user account by referencing the variable's unique identifier (UUID) and the target user. When executed, it permanently deletes the specified variable from the Users pipelines configuration, which means the variable will no longer be available for use in any pipeline executions related to that user. This DELETE operation requires both the selected_user parameter to identify the Bitbucket user account and the variable_uuid parameter to specify which exact variable should be removed from the Users pipeline configuration settings.
      operationId: deleteVariableForUser
      parameters:
      - name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted
        '404':
          description: The account or the variable with the provided UUID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/pipelines-config/variables:
    get:
      tags:
      - Variables
      summary: Atlassian List Variables for a Workspace
      description: This API operation retrieves all pipeline variables configured at the workspace level in Bitbucket. By making a GET request to the specified endpoint with a workspace identifier, developers can access a list of environment variables that are available to all pipelines within that workspace, including both secured and non-secured variables along with their keys, values (for non-secured variables), and associated metadata. This is useful for managing and auditing centralized configuration settings that apply across multiple repositories within a workspace, enabling administrators to review what variables are defined and available for pipeline executions without needing to check individual repository settings.
      operationId: atlassianGetpipelinevariablesforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The found workspace level variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pipeline_variables'
              examples:
                paginated-pipeline-variables:
                  $ref: '#/components/examples/paginated-pipeline-variables_4'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Variables
      summary: Atlassian Create a Variable for a Workspace
      description: The POST operation on the /workspaces/{workspace}/pipelines-config/variables endpoint allows you to create a new pipeline variable within a specific Bitbucket workspace, enabling you to define configuration values that can be used across multiple pipelines in that workspace. This endpoint requires you to specify the workspace slug in the path parameter and provide the variable details in the request body, typically including the variable's key (name), value, and whether it should be secured/encrypted. Workspace-level pipeline variables are useful for storing shared configuration data, credentials, or environment-specific values that need to be accessible to all repositories within the workspace without having to duplicate the variable definitions in each individual repository. The API returns the created variable object upon successful execution, and requires appropriate authentication and workspace admin permissions to perform this operation.
      operationId: atlassianCreatepipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable2'
      responses:
        '201':
          description: The created variable.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable:
                  $ref: '#/components/examples/pipeline-variable_5'
        '404':
          description: The workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/pipelines-config/variables/{variable_uuid}:
    get:
      tags:
      - Variables
      summary: Atlassian Get Variable for a Workspace
      description: This API operation retrieves detailed information about a specific pipeline variable configured for a Bitbucket workspace by providing the workspace identifier and the unique UUID of the variable. It allows developers to programmatically access the configuration details of environment variables, secrets, or other pipeline variables that have been set up at the workspace level, which can be used across multiple repositories within that workspace. The endpoint returns the variable's metadata including its key, value (if not secured), type, and whether it's secured or not, making it useful for auditing pipeline configurations or integrating workspace-level pipeline settings into automated workflows and deployment processes.
      operationId: atlassianGetpipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to retrieve.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2_4'
        '404':
          description: The workspace or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Variables
      summary: Atlassian Update Variable for a Workspace
      description: Updates an existing pipeline variable in a Bitbucket workspace by providing the variable's UUID. This operation allows you to modify the value, security settings, or other properties of a workspace-level pipeline variable that can be used across all repositories within the workspace. The variable UUID must be provided in the path, and the updated variable configuration is sent in the request body. Workspace pipeline variables are commonly used to store shared configuration values, credentials, or environment-specific settings that multiple pipelines need to access, with support for secured variables that hide sensitive information in logs.
      operationId: atlassianUpdatepipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable'
      responses:
        '200':
          description: The variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2_4'
        '404':
          description: The workspace or the variable was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Variables
      summary: Atlassian Delete a Variable for a Workspace
      description: This API operation allows you to delete a specific pipeline variable from an Atlassian Bitbucket workspace by making a DELETE request to the endpoint with the workspace identifier and the unique UUID of the variable you wish to remove. Pipeline variables are typically used to store configuration values, secrets, or environment-specific settings that are used during the execution of Bitbucket Pipelines, and removing a variable through this endpoint will permanently delete it from the workspace's pipeline configuration, making it unavailable for any future pipeline runs that previously referenced it.
      operationId: atlassianDeletepipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted
        '404':
          description: The workspace or the variable with the provided UUID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    pipeline-variable_4:
      uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      key: DATABASE_URL
      value: postgresql://localhost:5432/mydb
      secured: false
    pipeline-variable_2_3:
      uuid: 3c7b8a9e-4d2f-4a1b-9c3e-5f6a7b8c9d0e
      key: API_KEY
      value: my-secret-value
      secured: true
    pipeline-variable_2:
      uuid: 3c7b8a9e-1234-5678-90ab-cdef12345678
      key: API_TOKEN
      value: my-secret-value
      secured: true
    paginated-pipeline-variables_2:
      page: 1
      values:
        uuid: 3c7a5c08-8b2e-4f9a-9d3e-1a2b3c4d5e6f
        key: API_KEY
        value: my-secret-value
        secured: true
      size: 42
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pipelines_config/variables?page=2
      previous: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pipelines_config/variables?page=0
    pipeline-variable_2_4:
      uuid: 3c7f0a9e-5b2d-4e8f-9a1c-6d4e2f8b3a7e
      key: DATABASE_URL
      value: https://example.com/db
      secured: false
    paginated-deployment-variables:
      page: 1
      values:
        uuid: 123e4567-e89b-12d3-a456-426614174000
        key: DATABASE_URL
        value: postgresql://localhost:5432/mydb
        secured: false
      size: 42
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/deployments/variables?page=2
      previous: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/deployments/variables?page=0
    pipeline-variable_2_2:
      uuid: 123e4567-e89b-12d3-a456-426614174000
      key: DATABASE_URL
      value: postgresql://localhost:5432/mydb
      secured: false
    paginated-pipeline-variables_3:
      page: 1
      values:
        uuid: 550e8400-e29b-41d4-a716-446655440000
        key: DATABASE_URL
        value: postgres://localhost:5432/mydb
        secured: false
      size: 50
      pagelen: 10
      next: https://api.example.com/pipelines/variables?page=2
      previous: https://api.example.com/pipelines/variables?page=0
    pipeline-variable_3:
      uuid: 3c7c1a4e-8f2d-4b9a-a1c5-6d8e9f0a1b2c
      key: DATABASE_URL
      value: postgresql://localhost:5432/mydb
      secured: false
    deployment-variable_2:
      uuid: 123e4567-e89b-12d3-a456-426614174000
      key: DATABASE_URL
      value: postgresql://localhost:5432/mydb
      secured: false
    pipeline-variable:
      uuid: 3c7e6a1b-4f2d-4e8a-9c5b-1a2b3c4d5e6f
      key: DATABASE_URL
      value: postgresql://localhost:5432/mydb
      secured: false
    paginated-pipeline-variables:
      page: 1
      values:
        uuid: 550e8400-e29b-41d4-a716-446655440000
        key: DATABASE_URL
        value: postgresql://localhost:5432/mydb
        secured: false
      size: 42
      pagelen: 10
      next: https://api.example.com/pipelines/variables?page=2
      previous: https://api.example.com/pipelines/variables?page=0
    pipeline-variable_5:
      uuid: 123e4567-e89b-12d3-a456-426614174000
      key: DATABASE_URL
      value: postgresql://localhost:5432/mydb
      secured: false
    deployment-variable:
      uuid: 123e4567-e89b-12d3-a456-426614174000
      key: DATABASE_URL
      value: postgresql://localhost:5432/mydb
      secured: false
    paginated-pipeline-variables_4:
      page: 1
      values:
        uuid: 550e8400-e29b-41d4-a716-446655440000
        key: DATABASE_URL
        value: postgresql://localhost:5432/mydb
        secured: false
      size: 50
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pipelines_config/variables?page=2
      previous: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pipelines_config/variables?page=0
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    paginated_pipeline_variables:
      type: object
      title: Paginated Pipeline Variables
      description: A paged list of variables.
      properties:
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          example: 10
        values:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/pipeline_variable'
          description: The values of the current page.
          example: []
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          example: 10
        next:
          type: string
          format: uri
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          example: https://www.example.com
        previous:
          type: string
          format: uri
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          example: https://www.example.com
    deployment_variable:
      allOf:
      - $ref: '#/components/schemas/object'
      - additionalProperties: true
        type: object
        title: Deployment Variable
        description: A Pipelines deployment variable.
        properties:
          uuid:
            type: string
            description: The UUID identifying the variable.
          key:
            type: string
            description: The unique name of the variable.
          value:
            type: string
            description: The value of the variable. If the variable is secured, this will be empty.
          secured:
            type: boolean
            description: If true, this variable will be treated as secured. The value will never be exposed in the logs or the REST API.
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    pipeline_variable:
      allOf:
      - $ref: '#/components/schemas/object'
      - additionalProperties: true
        type: object
        title: Pipeline Variable
        description: A Pipelines variable.
        properties:
          uuid:
            type: string
            description: The UUID identifying the variable.
          key:
            type: string
            description: The unique name of the variable.
          value:
            type: string
            description: The value of the variable. If the variable is secured, this will be empty.
          secured:
            type: boolean
            description: If true, this variable will be treated as secured. The value will never be exposed in the logs or the REST API.
    paginated_deployment_variable:
      type: object
      title: Paginated Deployment Variables
      description: A paged list of deployment variables.
      properties:
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          example: 10
        values:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/deployment_variable'
          description: The values of the current page.
          example: []
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          example: 10
        next:
          type: string
          format: uri
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          example: https://www.example.com
        previous:
          type: string
          format: uri
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          example: https://www.example.com
  requestBodies:
    pipeline_variable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pipeline_variable'
      description: The updated variable.
      required: true
    pipeline_variable2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pipeline_variable'
      description: The variable to create.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
