openapi: 3.1.0
info:
  title: Atlassian Admin Account JQL API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: JQL
paths:
  /rest/api/3/jql/autocompletedata:
    get:
      deprecated: false
      description: Returns reference data for JQL searches. This is a downloadable version of the documentation provided in [Advanced searching - fields reference](https://confluence.atlassian.com/x/gwORLQ) and [Advanced searching - functions reference](https://confluence.atlassian.com/x/hgORLQ), along with a list of JQL-reserved words. Use this information to assist with the programmatic creation of JQL queries or the validation of queries built in a custom query builder.<br><br>To filter visible field details by project or collapse non-unique fields by field type then [Get field reference data (POST)](#api-rest-api-3-jql-autocompletedata-post) can be used.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianGetautocomplete
      parameters: []
      responses:
        '200':
          content:
            application/json:
              example: '{"jqlReservedWords":["empty","and","or","in","distinct"],"visibleFieldNames":[{"displayName":"summary","operators":["~","!~","is","is not"],"orderable":"true","searchable":"true","types":["java.lang.String"],"value":"summary"},{"auto":"true","cfid":"cf[10880]","displayName":"Sprint - cf[10880]","operators":["=","!=","in","not in","is","is not"],"orderable":"true","searchable":"true","types":["com.atlassian.greenhopper.service.sprint.Sprint"],"value":"Sprint"}],"visibleFunctionNames":[{"displayName":"standardIssueTypes()","isList":"true","types":["com.atlassian.jira.issue.issuetype.IssueType"],"value":"standardIssueTypes()"},{"displayName":"issuesWithText()","supportsListAndSingleValueOperators":"true","types":["com.atlassian.jira.issue.issuetype.IssueType"],"value":"issuesWithText()"}]}'
              schema:
                $ref: '#/components/schemas/JQLReferenceData'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Field Reference Data Get
      tags:
      - JQL
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        state: Beta
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Returns reference data for JQL searches. This is a downloadable version of the documentation provided in [Advanced searching - fields reference](https://confluence.atlassian.com/x/gwORLQ) and [Advanced searching - functions reference](https://confluence.atlassian.com/x/hgORLQ), along with a list of JQL-reserved words. Use this information to assist with the programmatic creation of JQL queries or the validation of queries built in a custom query builder.<br><br>This operation can filter the custom fields returned by project. Invalid project IDs in `projectIds` are ignored. System fields are always returned.<br><br>It can also return the collapsed field for custom fields. Collapsed fields enable searches to be performed across all fields with the same name and of the same field type. For example, the collapsed field `Component - Component[Dropdown]` enables dropdown fields `Component - cf[10061]` and `Component - cf[10062]` to be searched simultaneously.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianGetautocompletepost
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              includeCollapsedFields: true
              projectIds:
              - 10000
              - 10001
              - 10002
            schema:
              $ref: '#/components/schemas/SearchAutoCompleteFilter'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"jqlReservedWords":["empty","and","or","in","distinct"],"visibleFieldNames":[{"displayName":"summary","operators":["~","!~","is","is not"],"orderable":"true","searchable":"true","types":["java.lang.String"],"value":"summary"},{"auto":"true","cfid":"cf[10061]","displayName":"Component - cf[10061]","operators":["=","!=","in","not in","is","is not"],"orderable":"true","types":["com.atlassian.jira.issue.customfields.option.Option"],"value":"cf[10061]"},{"auto":"true","cfid":"cf[10062]","displayName":"Component - cf[10062]","operators":["=","!=","in","not in","is","is not"],"orderable":"true","types":["com.atlassian.jira.issue.customfields.option.Option"],"value":"cf[10062]"},{"auto":"true","displayName":"Component - Component[Dropdown]","operators":["=","!=","in","not in","is","is not"],"searchable":"true","types":["com.atlassian.jira.issue.customfields.option.Option"],"value":"\"Component[Dropdown]\""}],"visibleFunctionNames":[{"displayName":"standardIssueTypes()","isList":"true","types":["com.atlassian.jira.issue.issuetype.IssueType"],"value":"standardIssueTypes()"}]}'
              schema:
                $ref: '#/components/schemas/JQLReferenceData'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Field Reference Data Post
      tags:
      - JQL
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/jql/autocompletedata/suggestions:
    get:
      deprecated: false
      description: Returns the JQL search auto complete suggestions for a field.<br><br>Suggestions can be obtained by providing:<br><br> *  `fieldName` to get a list of all values for the field.<br> *  `fieldName` and `fieldValue` to get a list of values containing the text in `fieldValue`.<br> *  `fieldName` and `predicateName` to get a list of all predicate values for the field.<br> *  `fieldName`, `predicateName`, and `predicateValue` to get a list of predicate values containing the text in `predicateValue`.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianGetfieldautocompleteforquerystring
      parameters:
      - description: The name of the field.
        in: query
        name: fieldName
        schema:
          example: reporter
          type: string
        x-showInExample: 'true'
      - description: The partial field item name entered by the user.
        in: query
        name: fieldValue
        schema:
          type: string
      - description: The name of the [ CHANGED operator predicate](https://confluence.atlassian.com/x/hQORLQ#Advancedsearching-operatorsreference-CHANGEDCHANGED) for which the suggestions are generated. The valid predicate operators are *by*, *from*, and *to*.
        in: query
        name: predicateName
        schema:
          type: string
      - description: The partial predicate item name entered by the user.
        in: query
        name: predicateValue
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"results":[{"displayName":"<b>Ac</b>tiveObjects (AO)","value":"ActiveObjects"},{"displayName":"Atlassian Connect (<b>AC</b>)","value":"Atlassian Connect"},{"displayName":"Atlassian Connect in Jira (<b>AC</b>JIRA)","value":"Atlassian Connect in Jira"}]}'
              schema:
                $ref: '#/components/schemas/AutoCompleteSuggestions'
          description: Returned if the request is successful.
        '400':
          description: Returned if an invalid combination of parameters is passed.
        '401':
          description: Returned if the authentication credentials are incorrect.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Field Auto Complete Suggestions
      tags:
      - JQL
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-details:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/jql/parse:
    post:
      deprecated: false
      description: Parses and validates JQL queries.<br><br>Validation is performed in context of the current user.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianParsejqlqueries
      parameters:
      - description: "How to validate the JQL query and treat the validation results. Validation options include:\n\n *  `strict` Returns all errors. If validation fails, the query structure is not returned.\n *  `warn` Returns all errors. If validation fails but the JQL query is correctly formed, the query structure is returned.\n *  `none` No validation is performed. If JQL query is correctly formed, the query structure is returned."
        in: query
        name: validation
        required: true
        schema:
          default: strict
          enum:
          - strict
          - warn
          - none
          type: string
      requestBody:
        content:
          application/json:
            example:
              queries:
              - summary ~ test AND (labels in (urgent, blocker) OR lastCommentedBy = currentUser()) AND status CHANGED AFTER startOfMonth(-1M) ORDER BY updated DESC
              - issue.property["spaces here"].value in ("Service requests", Incidents)
              - invalid query
              - summary = test
              - summary in test
              - project = INVALID
              - universe = 42
            schema:
              $ref: '#/components/schemas/JqlQueriesToParse'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"queries":[{"query":"summary ~ test AND (labels in (urgent, blocker) OR lastCommentedBy = currentUser()) AND status CHANGED AFTER -5d ORDER BY updated DESC","structure":{"orderBy":{"fields":[{"direction":"desc","field":{"encodedName":"updated","name":"updated"}}]},"where":{"clauses":[{"field":{"encodedName":"summary","name":"summary"},"operand":{"encodedValue":"test","value":"test"},"operator":"~"},{"clauses":[{"field":{"encodedName":"labels","name":"labels"},"operand":{"encodedOperand":"urgent, blocker)","values":[{"encodedValue":"urgent","value":"urgent"},{"encodedValue":"blocker","value":"blocker"}]},"operator":"in"},{"field":{"encodedName":"lastCommentedBy","name":"lastCommentedBy","property":[{"entity":"issue","key":"propertyKey","path":"path.in.property","type":"user"}]},"operand":{"arguments":[],"encodedOperand":"currentUser()","function":"currentUser"},"operator":"="}],"operator":"or"},{"field":{"encodedName":"status","name":"status"},"operator":"changed","predicates":[{"operand":{"arguments":["-1M"],"encodedOperand":"startOfMonth(-1M)","function":"startOfMonth"},"operator":"after"}]}],"operator":"and"}}},{"query":"issue.property[\"spaces here\"].value in (\"Service requests\", Incidents)","structure":{"where":{"field":{"encodedName":"issue.property[\"spaces here\"].value","name":"issue.property[spaces here].value","property":[{"entity":"issue","key":"spaces here","path":"value"}]},"operand":{"encodedOperand":"(\"Service requests\", Incidents)","values":[{"encodedValue":"\"Service requests\"","value":"Service requests"},{"encodedValue":"Incidents","value":"Incidents"}]},"operator":"in"}}},{"errors":["Error in the JQL Query: Expecting operator but got ''query''. The valid operators are ''='', ''!='', ''<'', ''>'', ''<='', ''>='', ''~'', ''!~'', ''IN'', ''NOT IN'', ''IS'' and ''IS NOT''. (line 1, character 9)"],"query":"invalid query"},{"errors":["The operator ''='' is not supported by the ''summary'' field."],"query":"summary = test"},{"errors":["Operator ''in'' does not support the non-list value ''\"test\"'' for field ''summary''."],"query":"summary in test"},{"errors":["The value ''INVALID'' does not exist for the field ''project''."],"query":"project = INVALID"},{"errors":["Field ''universe'' does not exist or you do not have permission to view it."],"query":"universe = 42"}]}'
              schema:
                $ref: '#/components/schemas/ParsedJqlQueries'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Parse Jql Query
      tags:
      - JQL
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field:jira
        - validate:jql:jira
        - read:jql:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
  /rest/api/3/jql/pdcleaner:
    post:
      deprecated: false
      description: Converts one or more JQL queries with user identifiers (username or user key) to equivalent JQL queries with account IDs.<br><br>You may wish to use this operation if your system stores JQL queries and you want to make them GDPR-compliant. For more information about GDPR-related changes, see the [migration guide](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/).<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianMigratequeries
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              queryStrings:
              - assignee = mia
              - issuetype = Bug AND assignee in (mia) AND reporter in (alana) order by lastViewed DESC
            schema:
              $ref: '#/components/schemas/JQLPersonalDataMigrationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"queriesWithUnknownUsers":[{"convertedQuery":"assignee = unknown","originalQuery":"assignee = mia"}],"queryStrings":["issuetype = Bug AND assignee in (abcde-12345) AND reporter in (abc551-c4e99) order by lastViewed DESC"]}'
              schema:
                $ref: '#/components/schemas/ConvertedJQLQueries'
          description: Returned if the request is successful. Note that the JQL queries are returned in the same order that they were passed.
        '400':
          content:
            application/json:
              schema:
                type: string
          description: Returned if at least one of the queries cannot be converted. For example, the JQL has invalid operators or invalid keywords, or the users in the query cannot be found.
        '401':
          content:
            application/json:
              schema:
                type: string
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      summary: Atlassian Convert User Identifiers To Account Ids In Jql Queries
      tags:
      - JQL
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:user:jira
        - read:jql:jira
        - validate:jql:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/jql/sanitize:
    post:
      deprecated: false
      description: Sanitizes one or more JQL queries by converting readable details into IDs where a user doesn't have permission to view the entity.<br><br>For example, if the query contains the clause *project = 'Secret project'*, and a user does not have browse permission for the project "Secret project", the sanitized query replaces the clause with *project = 12345"* (where 12345 is the ID of the project). If a user has the required permission, the clause is not sanitized. If the account ID is null, sanitizing is performed for an anonymous user.<br><br>Note that sanitization doesn't make the queries GDPR-compliant, because it doesn't remove user identifiers (username or user key). If you need to make queries GDPR-compliant, use [Convert user identifiers to account IDs in JQL queries](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-jql/#api-rest-api-3-jql-sanitize-post).<br><br>Before sanitization each JQL query is parsed. The queries are returned in the same order that they were passed.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianSanitisejqlqueries
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              queries:
              - query: project = 'Sample project'
              - accountId: 5b10ac8d82e05b22cc7d4ef5
                query: project = 'Sample project'
              - accountId: cda2aa1395ac195d951b3387
                query: project = 'Sample project'
              - accountId: 5b10ac8d82e05b22cc7d4ef5
                query: invalid query
            schema:
              $ref: '#/components/schemas/JqlQueriesToSanitize'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"queries":[{"initialQuery":"project = ''Sample project''","sanitizedQuery":"project = 12345"},{"initialQuery":"project = ''Sample project''","sanitizedQuery":"project = ''Sample project''","accountId":"5b10ac8d82e05b22cc7d4ef5"},{"initialQuery":"project = ''Sample project''","sanitizedQuery":"project = 12345","accountId":"cda2aa1395ac195d951b3387"},{"initialQuery":"non-parsable query","errors":{"errorMessages":["Error in the JQL Query: Expecting operator but got ''query''. The valid operators are ''='', ''!='', ''<'', ''>'', ''<='', ''>='', ''~'', ''!~'', ''IN'', ''NOT IN'', ''IS'' and ''IS NOT''. (line 1, character 9)"],"errors":{}},"accountId":"5b10ac8d82e05b22cc7d4ef5"}]}'
              schema:
                $ref: '#/components/schemas/SanitizedJqlQueries'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The queries has to be provided."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is invalid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["You are not authorized to perform this action. Administrator privileges are required."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Sanitize Jql Queries
      tags:
      - JQL
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:jql:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    JQLQueryWithUnknownUsers:
      additionalProperties: false
      description: JQL queries that contained users that could not be found
      properties:
        convertedQuery:
          description: The converted query, with accountIDs instead of user identifiers, or 'unknown' for users that could not be found
          type: string
        originalQuery:
          description: The original query, for reference
          type: string
      type: object
    SanitizedJqlQuery:
      additionalProperties: false
      description: Details of the sanitized JQL query.
      properties:
        accountId:
          description: The account ID of the user for whom sanitization was performed.
          maxLength: 128
          nullable: true
          type: string
        errors:
          allOf:
          - $ref: '#/components/schemas/ErrorCollection'
          description: The list of errors.
        initialQuery:
          description: The initial query.
          type: string
        sanitizedQuery:
          description: The sanitized query, if there were no errors.
          nullable: true
          type: string
      type: object
    FunctionReferenceData:
      additionalProperties: false
      description: Details of functions that can be used in advanced searches.
      properties:
        displayName:
          description: The display name of the function.
          type: string
        isList:
          description: Whether the function can take a list of arguments.
          enum:
          - 'true'
          - 'false'
          type: string
        supportsListAndSingleValueOperators:
          description: Whether the function supports both single and list value operators.
          enum:
          - 'true'
          - 'false'
          type: string
        types:
          description: The data types returned by the function.
          items:
            type: string
          type: array
        value:
          description: The function identifier.
          type: string
      type: object
    JqlQueryToSanitize:
      additionalProperties: false
      description: The JQL query to sanitize for the account ID. If the account ID is null, sanitizing is performed for an anonymous user.
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
          maxLength: 128
          nullable: true
          type: string
        query:
          description: The query to sanitize.
          type: string
      required:
      - query
      type: object
      writeOnly: true
    JqlQuery:
      additionalProperties: false
      description: A parsed JQL query.
      properties:
        orderBy:
          $ref: '#/components/schemas/JqlQueryOrderByClause'
        where:
          $ref: '#/components/schemas/JqlQueryClause'
      type: object
    AutoCompleteSuggestions:
      additionalProperties: false
      description: The results from a JQL query.
      properties:
        results:
          description: The list of suggested item.
          items:
            $ref: '#/components/schemas/AutoCompleteSuggestion'
          type: array
      type: object
    AutoCompleteSuggestion:
      additionalProperties: false
      description: A field auto-complete suggestion.
      properties:
        displayName:
          description: The display name of a suggested item. If `fieldValue` or `predicateValue` are provided, the matching text is highlighted with the HTML bold tag.
          type: string
        value:
          description: The value of a suggested item.
          type: string
      type: object
    FieldValueClause:
      description: A clause that asserts the current value of a field. For example, `summary ~ test`.
      properties:
        field:
          $ref: '#/components/schemas/JqlQueryField'
        operand:
          $ref: '#/components/schemas/JqlQueryClauseOperand'
        operator:
          description: The operator between the field and operand.
          enum:
          - '='
          - '!='
          - '>'
          - <
          - '>='
          - <=
          - in
          - not in
          - '~'
          - ~=
          - is
          - is not
          type: string
      required:
      - field
      - operand
      - operator
      type: object
    ListOperand:
      description: An operand that is a list of values.
      properties:
        encodedOperand:
          description: Encoded operand, which can be used directly in a JQL query.
          type: string
        values:
          description: The list of operand values.
          items:
            $ref: '#/components/schemas/JqlQueryUnitaryOperand'
          minLength: 1
          type: array
      required:
      - values
      type: object
    KeywordOperand:
      description: An operand that is a JQL keyword. See [Advanced searching - keywords reference](https://confluence.atlassian.com/jiracorecloud/advanced-searching-keywords-reference-765593717.html#Advancedsearching-keywordsreference-EMPTYEMPTY) for more information about operand keywords.
      properties:
        keyword:
          description: The keyword that is the operand value.
          enum:
          - empty
          type: string
      required:
      - keyword
      type: object
    FunctionOperand:
      description: An operand that is a function. See [Advanced searching - functions reference](https://confluence.atlassian.com/x/dwiiLQ) for more information about JQL functions.
      properties:
        arguments:
          description: The list of function arguments.
          items:
            type: string
          type: array
        encodedOperand:
          description: Encoded operand, which can be used directly in a JQL query.
          type: string
        function:
          description: The name of the function.
          type: string
      required:
      - arguments
      - function
      type: object
    ErrorCollection:
      additionalProperties: false
      description: Error messages from an operation.
      properties:
        errorMessages:
          description: The list of error messages produced by this operation. For example, "input parameter 'key' must be provided"
          items:
            type: string
          type: array
        errors:
          additionalProperties:
            type: string
          description: 'The list of errors by parameter returned by the operation. For example,"projectKey": "Project keys must start with an uppercase letter, followed by one or more uppercase alphanumeric characters."'
          type: object
        status:
          format: int32
          type: integer
      type: object
    CompoundClause:
      description: A JQL query clause that consists of nested clauses. For example, `(labels in (urgent, blocker) OR lastCommentedBy = currentUser()). Note that, where nesting is not defined, the parser nests JQL clauses based on the operator precedence. For example, "A OR B AND C" is parsed as "(A OR B) AND C". See Setting the precedence of operators for more information about precedence in JQL queries.`
      properties:
        clauses:
          description: The list of nested clauses.
          items:
            $ref: '#/components/schemas/JqlQueryClause'
          type: array
        operator:
          description: The operator between the clauses.
          enum:
          - and
          - or
          - not
          type: string
      required:
      - clauses
      - operator
      type: object
    JqlQueryClauseTimePredicate:
      description: A time predicate for a temporal JQL clause.
      properties:
        operand:
          $ref: '#/components/schemas/JqlQueryClauseOperand'
        operator:
          description: The operator between the field and the operand.
          enum:
          - before
          - after
          - from
          - to
          - 'on'
          - during
          - by
          type: string
      required:
      - operand
      - operator
      type: object
    ConvertedJQLQueries:
      additionalProperties: false
      description: The converted JQL queries.
      properties:
        queriesWithUnknownUsers:
          description: List of queries containing user information that could not be mapped to an existing user
          items:
            $ref: '#/components/schemas/JQLQueryWithUnknownUsers'
          type: array
        queryStrings:
          description: The list of converted query strings with account IDs in place of user identifiers.
          items:
            type: string
          type: array
      type: object
    JqlQueryClauseOperand:
      anyOf:
      - $ref: '#/components/schemas/ListOperand'
      - $ref: '#/components/schemas/ValueOperand'
      - $ref: '#/components/schemas/FunctionOperand'
      - $ref: '#/components/schemas/KeywordOperand'
      description: Details of an operand in a JQL clause.
      type: object
    SanitizedJqlQueries:
      additionalProperties: false
      description: The sanitized JQL queries for the given account IDs.
      properties:
        queries:
          description: The list of sanitized JQL queries.
          items:
            $ref: '#/components/schemas/SanitizedJqlQuery'
          type: array
      type: object
    JQLPersonalDataMigrationRequest:
      additionalProperties: false
      description: The JQL queries to be converted.
      properties:
        queryStrings:
          description: A list of queries with user identifiers. Maximum of 100 queries.
          items:
            type: string
          type: array
      type: object
    SearchAutoCompleteFilter:
      additionalProperties: false
      description: Details of how to filter and list search auto complete information.
      properties:
        includeCollapsedFields:
          default: false
          description: Include collapsed fields for fields that have non-unique names.
          type: boolean
        projectIds:
          description: List of project IDs used to filter the visible field details returned.
          items:
            format: int64
            type: integer
          type: array
      type: object
    ValueOperand:
      description: An operand that is a user-provided value.
      properties:
        encodedValue:
          description: Encoded value, which can be used directly in a JQL query.
          type: string
        value:
          description: The operand value.
          type: string
      required:
      - value
      type: object
    JqlQueryUnitaryOperand:
      anyOf:
      - $ref: '#/components/schemas/ValueOperand'
      - $ref: '#/components/schemas/FunctionOperand'
      - $ref: '#/components/schemas/KeywordOperand'
      description: An operand that can be part of a list operand.
      type: object
    JqlQueryOrderByClause:
      additionalProperties: false
      description: Details of the order-by JQL clause.
      properties:
        fields:
          description: The list of order-by clause fields and their ordering directives.
          items:
            $ref: '#/components/schemas/JqlQueryOrderByClauseElement'
          type: array
      required:
      - fields
      type: object
    JqlQueriesToParse:
      additionalProperties: false
      description: A list of JQL queries to parse.
      properties:
        queries:
          description: A list of queries to parse.
          items:
            minLength: 1
            type: string
          minLength: 1
          type: array
      required:
      - queries
      type: object
      writeOnly: true
    FieldReferenceData:
      additionalProperties: false
      description: Details of a field that can be used in advanced searches.
      properties:
        auto:
          description: Whether the field provide auto-complete suggestions.
          enum:
          - 'true'
          - 'false'
          type: string
        cfid:
          description: If the item is a custom field, the ID of the custom field.
          type: string
        deprecated:
          description: Whether this field has been deprecated.
          enum:
          - 'true'
          - 'false'
          type: string
        deprecatedSearcherKey:
          description: The searcher key of the field, only passed when the field is deprecated.
          type: string
        displayName:
          description: "The display name contains the following:\n\n *  for system fields, the field name. For example, `Summary`.\n *  for collapsed custom fields, the field name followed by a hyphen and then the field name and field type. For example, `Component - Component[Dropdown]`.\n *  for other custom fields, the field name followed by a hyphen and then the custom field ID. For example, `Component - cf[10061]`."
          type: string
        operators:
          description: The valid search operators for the field.
          items:
            type: string
          type: array
        orderable:
          description: Whether the field can be used in a query's `ORDER BY` clause.
          enum:
          - 'true'
          - 'false'
          type: string
        searchable:
          description: Whether the content of this field can be searched.
          enum:
          - 'true'
          - 'false'
          type: string
        types:
          description: The data types of items in the field.
          items:
            type: string
          type: array
        value:
          description: The field identifier.
          type: string
      type: object
    FieldWasClause:
      description: A clause that asserts a previous value of a field. For example, `status WAS "Resolved" BY currentUser() BEFORE "2019/02/02"`. See [WAS](https://confluence.atlassian.com/x/dgiiLQ#Advancedsearching-operatorsreference-WASWAS) for more information about the WAS operator.
      properties:
        field:
          $ref: '#/components/schemas/JqlQueryField'
        operand:
          $ref: '#/components/schemas/JqlQueryClauseOperand'
        operator:
          description: The operator between the field and operand.
          enum:
          - was
          - was in
          - was not in
          - was not
          type: string
        predicates:
          description: The list of time predicates.
          items:
            $ref: '#/components/schemas/JqlQueryClauseTimePredicate'
          type: array
      required:
      - field
      - operand
      - operator
      - predicates
      type: object
    FieldChangedClause:
      description: A clause that asserts whether a field was changed. For example, `status CHANGED AFTER startOfMonth(-1M)`.See [CHANGED](https://confluence.atlassian.com/x/dgiiLQ#Advancedsearching-operatorsreference-CHANGEDCHANGED) for more information about the CHANGED operator.
      properties:
        field:
          $ref: '#/components/schemas/JqlQueryField'
        operator:
          description: The operator applied to the field.
          enum:
          - changed
          type: string
        predicates:
          description: The list of time predicates.
          items:
            $ref: '#/components/schemas/JqlQueryClauseTimePredicate'
          type: array
      required:
      - field
      - operator
      - predicates
      type: object
    JqlQueryFieldEntityProperty:
      description: Details of an entity property.
      properties:
        entity:
          description: The object on which the property is set.
          example: issue
          type: string
        key:
          description: The key of the property.
          example: stats
          type: string
        path:
          description: The path in the property value to query.
          example: comments.count
          type: string
        type:
          description: The type of the property value extraction. Not available if the extraction for the property is not registered on the instance with the [Entity property](https://developer.atlassian.com/cloud/jira/platform/modules/entity-property/) module.
          enum:
          - number
          - string
          - text
          - date
          - user
          example: number
          type: string
      required:
      - entity
      - key
      - path
      type: object
    JqlQueryField:
      additionalProperties: false
      description: A field used in a JQL query. See [Advanced searching - fields reference](https://confluence.atlassian.com/x/dAiiLQ) for more information about fields in JQL queries.
      properties:
        encodedName:
          description: The encoded name of the field, which can be used directly in a JQL query.
          type: string
        name:
          description: The name of the field.
          type: string
        property:
          description: When the field refers to a value in an entity property, details of the entity property value.
          items:
            $ref: '#/components/schemas/JqlQueryFieldEntityProperty'
          type: array
      required:
      - name
      type: object
    ParsedJqlQueries:
      additionalProperties: false
      description: A list of parsed JQL queries.
      properties:
        queries:
          description: A list of parsed JQL queries.
          items:
            $ref: '#/components/schemas/ParsedJqlQuery'
          minLength: 1
          type: array
      required:
      - queries
      type: object
    ParsedJqlQuery:
      additionalProperties: false
      description: Details of a parsed JQL query.
      minLength: 1
      properties:
        errors:
          description: The list of syntax or validation errors.
          items:
            type: string
          type: array
          uniqueItems: true
        query:
          description: The JQL query that was parsed and validated.
          type: string
        structure:
          allOf:
          - $ref: '#/components/schemas/JqlQuery'
          description: The syntax tree of the query. Empty if the query was invalid.
      required:
      - query
      type: object
    JqlQueryOrderByClauseElement:
      additionalProperties: false
      description: An element of the order-by JQL clause.
      properties:
        direction:
          description: The direction in which to order the results.
          enum:
          - asc
          - desc
          type: string
        field:
          $ref: '#/components/schemas/JqlQueryField'
      required:
      - field
      type: object
    JqlQueryClause:
      additionalProperties: false
      anyOf:
      - $ref: '#/components/schemas/CompoundClause'
      - $ref: '#/components/schemas/FieldValueClause'
      - $ref: '#/components/schemas/FieldWasClause'
      - $ref: '#/components/schemas/FieldChangedClause'
      description: A JQL query clause.
      type: object
    JqlQueriesToSanitize:
      additionalProperties: false
      description: The list of JQL queries to sanitize for the given account IDs.
      properties:
        queries:
          description: The list of JQL queries to sanitize. Must contain unique values. Maximum of 20 queries.
          items:
            $ref: '#/components/schemas/JqlQueryToSanitize'
          type: array
      required:
      - queries
      type: object
      writeOnly: true
    JQLReferenceData:
      additionalProperties: false
      description: Lists of JQL reference data.
      properties:
        jqlReservedWords:
          description: List of JQL query reserved words.
          items:
            type: string
          type: array
        visibleFieldNames:
          description: List of fields usable in JQL queries.
          items:
            $ref: '#/components/schemas/FieldReferenceData'
          type: array
        visibleFunctionNames:
          description: List of functions usable in JQL queries.
          items:
            $ref: '#/components/schemas/FunctionReferenceData'
          type: array
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
