openapi: 3.1.0
info:
  title: Atlassian Admin Account Domains API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Domains
  description: Manage verified domains for an organization.
paths:
  /v1/orgs/{orgId}/domains:
    get:
      operationId: getOrganizationDomains
      summary: Atlassian Get Organization Domains
      description: Returns a list of domains associated with the organization. Domains are used to claim and verify ownership of email domains for the organization.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/orgId'
      - name: cursor
        in: query
        description: Cursor for paginated results.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response containing a paginated list of domains.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainPage'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/orgs/{orgId}/domains/{domainId}:
    get:
      operationId: getDomainById
      summary: Atlassian Get Domain by Id
      description: Returns details of a specific domain associated with the organization.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/orgId'
      - name: domainId
        in: path
        required: true
        description: The unique identifier of the domain.
        schema:
          type: string
      responses:
        '200':
          description: Successful response containing domain details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Domain not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    orgId:
      name: orgId
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response.
      properties:
        code:
          type: integer
          description: The HTTP status code.
          example: 10
        message:
          type: string
          description: A human-readable error message.
          example: example_value
        errors:
          type: array
          description: Detailed error information.
          items:
            type: object
            properties:
              code:
                type: string
                description: A machine-readable error code.
              message:
                type: string
                description: A human-readable description of the error.
          example: []
    DomainPage:
      type: object
      description: A paginated list of domains.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
          description: The list of domains.
          example: []
        links:
          $ref: '#/components/schemas/PaginationLinks'
    PaginationLinks:
      type: object
      description: Links for cursor-based pagination.
      properties:
        self:
          type: string
          format: uri
          description: Link to the current page.
          example: https://www.example.com
        next:
          type: string
          format: uri
          description: Link to the next page of results.
          example: https://www.example.com
        prev:
          type: string
          format: uri
          description: Link to the previous page of results.
          example: https://www.example.com
    Domain:
      type: object
      description: Represents a verified domain associated with an organization.
      properties:
        id:
          type: string
          description: The unique identifier of the domain.
          example: abc123
        type:
          type: string
          description: The resource type.
          enum:
          - domain
          example: domain
        attributes:
          type: object
          description: The attributes of the domain.
          properties:
            name:
              type: string
              description: The domain name.
            claim:
              type: object
              description: The claim details for the domain.
              properties:
                type:
                  type: string
                  description: The type of domain claim.
                  enum:
                  - http
                  - dns
                  - verified
                status:
                  type: string
                  description: The verification status.
                  enum:
                  - verified
                  - pending
          example: example_value
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
