openapi: 3.1.0
info:
  title: Atlassian Admin Account Email API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Email
paths:
  /user/emails:
    parameters: []
    get:
      tags:
      - Email
      description: This API operation retrieves all email addresses associated with the currently authenticated Bitbucket Users account. When invoked with a GET request to the /user/emails endpoint, it returns a collection of email addresses linked to the user, typically including details such as the email address itself, whether it's the primary email, and its verification status. This endpoint is useful for applications that need to access or display the Users registered email addresses, manage email preferences, or verify communication channels for the authenticated user within the Bitbucket platform.
      summary: Atlassian List Email Addresses for Current User
      responses:
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - email
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: listEmailAddressesForCurrentUser
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /user/emails/{email}:
    parameters:
    - name: email
      in: path
      description: Email address of the user.
      required: true
      schema:
        type: string
    get:
      tags:
      - Email
      description: This API operation retrieves information about a specific email address associated with the currently authenticated Bitbucket user. By making a GET request to the endpoint with a particular email address as a path parameter, users can verify whether that email belongs to their account and obtain related metadata such as confirmation status and whether it's set as the primary email. This is useful for applications that need to validate or manage email addresses linked to a Users Bitbucket account, allowing developers to programmatically check email ownership and configuration details without requiring manual inspection of account settings.
      summary: Atlassian Get an Email Address for Current User
      responses:
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - email
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: getAnEmailAddressForCurrentUser
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
