openapi: 3.1.0
info:
  title: Atlassian Admin Account Source - Repositories API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Source - Repositories
paths:
  /repositories/{workspace}/{repo_slug}/filehistory/{commit}/{path}:
    parameters:
    - name: commit
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Source - Repositories
      description: Returns a paginated list of commits that modified the specified file.<br><br>Commits are returned in reverse chronological order. This is roughly<br>equivalent to the following commands:<br><br>    $ git log --follow --date-order  <br><br>By default, Bitbucket will follow renames and the path name in the<br>returned entries reflects that. This can be turned off using the<br>`?renames=false` query parameter.<br><br>Results are returned in descending chronological order by default, and<br>like most endpoints you can<br>[filter and sort](/cloud/bitbucket/rest/intro/#filtering) the response to<br>only provide exactly the data you want.<br><br>The example response returns commits made before 2011-05-18 against a file<br>named `README.rst`. The results are filtered to only return the path and<br>date. This request can be made using:<br><br>```<br>$ curl 'https://api.bitbucket.org/2.0/repositories/evzijst/dogslow/filehistory/master/README.rst'\<br>  '?fields=values.next,values.path,values.commit.date&q=commit.date
      summary: Atlassian List Commits That Modified A File
      responses:
        '200':
          description: A paginated list of commits that modified the specified file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_files'
              examples:
                response:
                  value:
                    values:
                    - commit:
                        date: '2011-05-17T07:32:09+00:00'
                      path: README.rst
                    - commit:
                        date: '2011-05-16T06:33:28+00:00'
                      path: README.txt
                    - commit:
                        date: '2011-05-16T06:15:39+00:00'
                      path: README.txt
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: renames
        in: query
        description: '

          When `true`, Bitbucket will follow the history of the file across

          renames (this is the default behavior). This can be turned off by

          specifying `false`.'
        required: false
        schema:
          type: string
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property sort the result by as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListCommitsThatModifiedAFile
  /repositories/{workspace}/{repo_slug}/src:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Source - Repositories
      description: This endpoint redirects the client to the directory listing of the<br>root directory on the main branch.<br><br>This is equivalent to directly hitting<br>[/2.0/repositories/{username}/{repo_slug}/src/{commit}/{path}](src/%7Bcommit%7D/%7Bpath%7D)<br>without having to know the name or SHA1 of the repo's main branch.<br><br>To create new commits, [POST to this endpoint](#post)
      summary: Atlassian Get The Root Directory Of The Main Branch
      responses:
        '200':
          description: 'If the path matches a file, then the raw contents of the file are

            returned (unless the `format=meta` query parameter was provided,

            in which case a json document containing the file''s meta data is

            returned). If the path matches a directory, then a paginated

            list of file and directory entries is returned (if the

            `format=meta` query parameter was provided, then the json document

            containing the directory''s meta data is returned).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_treeentries'
        '404':
          description: If the path or commit in the URL does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: format
        in: query
        description: Instead of returning the file's contents, return the (json) meta data for it.
        required: false
        schema:
          type: string
          enum:
          - meta
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetTheRootDirectoryOfTheMainBranch
    post:
      tags:
      - Source - Repositories
      description: 'This endpoint is used to create new commits in the repository by<br>uploading files.<br><br>To add a new file to a repository:<br><br>```<br>$ curl https://api.bitbucket.org/2.0/repositories/username/slug/src \<br>  -F /repo/path/to/image.png=@image.png<br>```<br><br>This will create a new commit on top of the main branch, inheriting the<br>contents of the main branch, but adding (or overwriting) the<br>`image.png` file to the repository in the `/repo/path/to` directory.<br><br>To create a commit that deletes files, use the `files` parameter:<br><br>```<br>$ curl https://api.bitbucket.org/2.0/repositories/username/slug/src \<br>  -F files=/file/to/delete/1.txt \<br>  -F files=/file/to/delete/2.txt<br>```<br><br>You can add/modify/delete multiple files in a request. Rename/move a<br>file by deleting the old path and adding the content at the new path.<br><br>This endpoint accepts `multipart/form-data` (as in the examples above),<br>as well as `application/x-www-form-urlencoded`.<br><br>Note: `multipart/form-data` is currently not supported by Forge apps<br>for this API.<br><br>#### multipart/form-data<br><br>A `multipart/form-data` post contains a series of "form fields" that<br>identify both the individual files that are being uploaded, as well as<br>additional, optional meta data.<br><br>Files are uploaded in file form fields (those that have a<br>`Content-Disposition` parameter) whose field names point to the remote<br>path in the repository where the file should be stored. Path field<br>names are always interpreted to be absolute from the root of the<br>repository, regardless whether the client uses a leading slash (as the<br>above `curl` example did).<br><br>File contents are treated as bytes and are not decoded as text.<br><br>The commit message, as well as other non-file meta data for the<br>request, is sent along as normal form field elements. Meta data fields<br>share the same namespace as the file objects. For `multipart/form-data`<br>bodies that should not lead to any ambiguity, as the<br>`Content-Disposition` header will contain the `filename` parameter to<br>distinguish between a file named "message" and the commit message field.<br><br>#### application/x-www-form-urlencoded<br><br>It is also possible to upload new files using a simple<br>`application/x-www-form-urlencoded` POST. This can be convenient when<br>uploading pure text files:<br><br>```<br>$ curl https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src \<br>  --data-urlencode "/path/to/me.txt=Lorem ipsum." \<br>  --data-urlencode "message=Initial commit" \<br>  --data-urlencode "author=Erik van Zijst "<br>```<br><br>There could be a field name clash if a client were to upload a file<br>named "message", as this filename clashes with the meta data property<br>for the commit message. To avoid this and to upload files whose names<br>clash with the meta data properties, use a leading slash for the files,<br>e.g. `curl --data-urlencode "/message=file contents"`.<br><br>When an explicit slash is omitted for a file whose path matches that of<br>a meta data parameter, then it is interpreted as meta data, not as a<br>file.<br><br>#### Executables and links<br><br>While this API aims to facilitate the most common use cases, it is<br>possible to perform some more advanced operations like creating a new<br>symlink in the repository, or creating an executable file.<br><br>Files can be supplied with a `x-attributes` value in the<br>`Content-Disposition` header. For example, to upload an executable<br>file, as well as create a symlink from `README.txt` to `README`:<br><br>```<br>--===============1438169132528273974==<br>Content-Type: text/plain; charset="us-ascii"<br>MIME-Version: 1.0<br>Content-Transfer-Encoding: 7bit<br>Content-ID: "bin/shutdown.sh"<br>Content-Disposition: attachment; filename="shutdown.sh"; x-attributes:"executable"<br><br>#!/bin/sh<br>halt<br><br>--===============1438169132528273974==<br>Content-Type: text/plain; charset="us-ascii"<br>MIME-Version: 1.0<br>Content-Transfer-Encoding: 7bit<br>Content-ID: "/README.txt"<br>Content-Disposition: attachment; filename="README.txt"; x-attributes:"link"<br><br>README<br>--===============1438169132528273974==--<br>```<br><br>Links are files that contain the target path and have<br>`x-attributes:"link"` set.<br><br>When overwriting links with files, or vice versa, the newly uploaded<br>file determines both the new contents, as well as the attributes. That<br>means uploading a file without specifying `x-attributes="link"` will<br>create a regular file, even if the parent commit hosted a symlink at<br>the same path.<br><br>The same applies to executables. When modifying an existing executable<br>file, the form-data file element must include<br>`x-attributes="executable"` in order to preserve the executable status<br>of the file.<br><br>Note that this API does not support the creation or manipulation of<br>subrepos / submodules.'
      summary: Atlassian Create A Commit By Uploading A File
      responses:
        '201':
          description: '

            '
        '403':
          description: If the authenticated user does not have write or admin access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: message
        in: query
        description: The commit message. When omitted, Bitbucket uses a canned string.
        required: false
        schema:
          type: string
      - name: author
        in: query
        description: '

          The raw string to be used as the new commit''s author.

          This string follows the format

          `Erik van Zijst <evzijst@atlassian.com>`.


          When omitted, Bitbucket uses the authenticated user''s

          full/display name and primary email address. Commits cannot

          be created anonymously.'
        required: false
        schema:
          type: string
      - name: parents
        in: query
        description: '

          A comma-separated list of SHA1s of the commits that should

          be the parents of the newly created commit.


          When omitted, the new commit will inherit from and become

          a child of the main branch''s tip/HEAD commit.


          When more than one SHA1 is provided, the first SHA1

          identifies the commit from which the content will be

          inherited.".'
        required: false
        schema:
          type: string
      - name: files
        in: query
        description: '

          Optional field that declares the files that the request is

          manipulating. When adding a new file to a repo, or when

          overwriting an existing file, the client can just upload

          the full contents of the file in a normal form field and

          the use of this `files` meta data field is redundant.

          However, when the `files` field contains a file path that

          does not have a corresponding, identically-named form

          field, then Bitbucket interprets that as the client wanting

          to replace the named file with the null set and the file is

          deleted instead.


          Paths in the repo that are referenced in neither files nor

          an individual file field, remain unchanged and carry over

          from the parent to the new commit.


          This API does not support renaming as an explicit feature.

          To rename a file, simply delete it and recreate it under

          the new name in the same commit.

          '
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: '

          The name of the branch that the new commit should be

          created on. When omitted, the commit will be created on top

          of the main branch and will become the main branch''s new

          head.


          When a branch name is provided that already exists in the

          repo, then the commit will be created on top of that

          branch. In this case, *if* a parent SHA1 was also provided,

          then it is asserted that the parent is the branch''s

          tip/HEAD at the time the request is made. When this is not

          the case, a 409 is returned.


          When a new branch name is specified (that does not already

          exist in the repo), and no parent SHA1s are provided, then

          the new commit will inherit from the current main branch''s

          tip/HEAD commit, but not advance the main branch. The new

          commit will be the new branch. When the request *also*

          specifies a parent SHA1, then the new commit and branch

          are created directly on top of the parent commit,

          regardless of the state of the main branch.


          When a branch name is not specified, but a parent SHA1 is

          provided, then Bitbucket asserts that it represents the

          main branch''s current HEAD/tip, or a 409 is returned.


          When a branch name is not specified and the repo is empty,

          the new commit will become the repo''s root commit and will

          be on the main branch.


          When a branch name is specified and the repo is empty, the

          new commit will become the repo''s root commit and also

          define the repo''s main branch going forward.


          This API cannot be used to create additional root commits

          in non-empty repos.


          The branch field cannot be repeated.


          As a side effect, this API can be used to create a new

          branch without modifying any files, by specifying a new

          branch name in this field, together with `parents`, but

          omitting the `files` fields, while not sending any files.

          This will create a new commit and branch with the same

          contents as the first parent. The diff of this commit

          against its first parent will be empty.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: atlassianCreateACommitByUploadingAFile
  /repositories/{workspace}/{repo_slug}/src/{commit}/{path}:
    parameters:
    - name: commit
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Source - Repositories
      description: 'This endpoints is used to retrieve the contents of a single file,<br>or the contents of a directory at a specified revision.<br><br>#### Raw file contents<br><br>When `path` points to a file, this endpoint returns the raw contents.<br>The response''s Content-Type is derived from the filename<br>extension (not from the contents). The file contents are not processed<br>and no character encoding/recoding is performed and as a result no<br>character encoding is included as part of the Content-Type.<br><br>The `Content-Disposition` header will be "attachment" to prevent<br>browsers from running executable files.<br><br>If the file is managed by LFS, then a 301 redirect pointing to<br>Atlassian''s media services platform is returned.<br><br>The response includes an ETag that is based on the contents of the file<br>and its attributes. This means that an empty `__init__.py` always<br>returns the same ETag, regardless on the directory it lives in, or the<br>commit it is on.<br><br>#### File meta data<br><br>When the request for a file path includes the query parameter<br>`?format=meta`, instead of returning the file''s raw contents, Bitbucket<br>instead returns the JSON object describing the file''s properties:<br><br>```javascript<br>$ curl https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef/tests/__init__.py?format=meta<br>{<br>  "links": {<br>    "self": {<br>      "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef5d3df01aed629f650959d6706d54cd335/tests/__init__.py"<br>    },<br>    "meta": {<br>      "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef5d3df01aed629f650959d6706d54cd335/tests/__init__.py?format=meta"<br>    }<br>  },<br>  "path": "tests/__init__.py",<br>  "commit": {<br>    "type": "commit",<br>    "hash": "eefd5ef5d3df01aed629f650959d6706d54cd335",<br>    "links": {<br>      "self": {<br>        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/commit/eefd5ef5d3df01aed629f650959d6706d54cd335"<br>      },<br>      "html": {<br>        "href": "https://bitbucket.org/atlassian/bbql/commits/eefd5ef5d3df01aed629f650959d6706d54cd335"<br>      }<br>    }<br>  },<br>  "attributes": [],<br>  "type": "commit_file",<br>  "size": 0<br>}<br>```<br><br>File objects contain an `attributes` element that contains a list of<br>possible modifiers. Currently defined values are:<br><br>* `link` -- indicates that the entry is a symbolic link. The contents<br>    of the file represent the path the link points to.<br>* `executable` -- indicates that the file has the executable bit set.<br>* `subrepository` -- indicates that the entry points to a submodule or<br>    subrepo. The contents of the file is the SHA1 of the repository<br>    pointed to.<br>* `binary` -- indicates whether Bitbucket thinks the file is binary.<br><br>This endpoint can provide an alternative to how a HEAD request can be<br>used to check for the existence of a file, or a file''s size without<br>incurring the overhead of receiving its full contents.<br><br><br>#### Directory listings<br><br>When `path` points to a directory instead of a file, the response is a<br>paginated list of directory and file objects in the same order as the<br>underlying SCM system would return them.<br><br>For example:<br><br>```javascript<br>$ curl https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef/tests<br>{<br>  "pagelen": 10,<br>  "values": [<br>    {<br>      "path": "tests/test_project",<br>      "type": "commit_directory",<br>      "links": {<br>        "self": {<br>          "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef5d3df01aed629f650959d6706d54cd335/tests/test_project/"<br>        },<br>        "meta": {<br>          "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef5d3df01aed629f650959d6706d54cd335/tests/test_project/?format=meta"<br>        }<br>      },<br>      "commit": {<br>        "type": "commit",<br>        "hash": "eefd5ef5d3df01aed629f650959d6706d54cd335",<br>        "links": {<br>          "self": {<br>            "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/commit/eefd5ef5d3df01aed629f650959d6706d54cd335"<br>          },<br>          "html": {<br>            "href": "https://bitbucket.org/atlassian/bbql/commits/eefd5ef5d3df01aed629f650959d6706d54cd335"<br>          }<br>        }<br>      }<br>    },<br>    {<br>      "links": {<br>        "self": {<br>          "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef5d3df01aed629f650959d6706d54cd335/tests/__init__.py"<br>        },<br>        "meta": {<br>          "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef5d3df01aed629f650959d6706d54cd335/tests/__init__.py?format=meta"<br>        }<br>      },<br>      "path": "tests/__init__.py",<br>      "commit": {<br>        "type": "commit",<br>        "hash": "eefd5ef5d3df01aed629f650959d6706d54cd335",<br>        "links": {<br>          "self": {<br>            "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/commit/eefd5ef5d3df01aed629f650959d6706d54cd335"<br>          },<br>          "html": {<br>            "href": "https://bitbucket.org/atlassian/bbql/commits/eefd5ef5d3df01aed629f650959d6706d54cd335"<br>          }<br>        }<br>      },<br>      "attributes": [],<br>      "type": "commit_file",<br>      "size": 0<br>    }<br>  ],<br>  "page": 1,<br>  "size": 2<br>}<br>```<br><br>When listing the contents of the repo''s root directory, the use of a<br>trailing slash at the end of the URL is required.<br><br>The response by default is not recursive, meaning that only the direct contents of<br>a path are returned. The response does not recurse down into<br>subdirectories. In order to "walk" the entire directory tree, the<br>client can either parse each response and follow the `self` links of each<br>`commit_directory` object, or can specify a `max_depth` to recurse to.<br><br>The max_depth parameter will do a breadth-first search to return the contents of the subdirectories<br>up to the depth specified. Breadth-first search was chosen as it leads to the least amount of<br>file system operations for git. If the `max_depth` parameter is specified to be too<br>large, the call will time out and return a 555.<br><br>Each returned object is either a `commit_file`, or a `commit_directory`,<br>both of which contain a `path` element. This path is the absolute path<br>from the root of the repository. Each object also contains a `commit`<br>object which embeds the commit the file is on. Note that this is merely<br>the commit that was used in the URL. It is *not* the commit that last<br>modified the file.<br><br>Directory objects have 2 representations. Their `self` link returns the<br>paginated contents of the directory. The `meta` link on the other hand<br>returns the actual `directory` object itself, e.g.:<br><br>```javascript<br>{<br>  "path": "tests/test_project",<br>  "type": "commit_directory",<br>  "links": {<br>    "self": {<br>      "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef5d3df01aed629f650959d6706d54cd335/tests/test_project/"<br>    },<br>    "meta": {<br>      "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bbql/src/eefd5ef5d3df01aed629f650959d6706d54cd335/tests/test_project/?format=meta"<br>    }<br>  },<br>  "commit": { ... }<br>}<br>```<br><br>#### Querying, filtering and sorting<br><br>Like most API endpoints, this API supports the Bitbucket<br>querying/filtering syntax and so you could filter a directory listing<br>to only include entries that match certain criteria. For instance, to<br>list all binary files over 1kb use the expression:<br><br>`size > 1024 and attributes = "binary"`<br><br>which after urlencoding yields the query string:<br><br>`?q=size%3E1024+and+attributes%3D%22binary%22`<br><br>To change the ordering of the response, use the `?sort` parameter:<br><br>`.../src/eefd5ef/?sort=-size`<br><br>See [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more<br>details.'
      summary: Atlassian Get File Or Directory Contents
      responses:
        '200':
          description: 'If the path matches a file, then the raw contents of the file are

            returned.  If the `format=meta` query parameter is provided,

            a json document containing the file''s meta data is

            returned.  If the `format=rendered` query parameter is provided,

            the contents of the file in HTML-formated rendered markup is returned.

            If the path matches a directory, then a paginated

            list of file and directory entries is returned (if the

            `format=meta` query parameter was provided, then the json document

            containing the directory''s meta data is returned.)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_treeentries'
        '404':
          description: If the path or commit in the URL does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '555':
          description: If the call times out, possibly because the specified recursion depth is too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: format
        in: query
        description: 'If ''meta'' is provided, returns the (json) meta data for the contents of the file.  If ''rendered'' is provided, returns the contents of a non-binary file in HTML-formatted rendered markup. The ''rendered'' option only supports these filetypes: `.md`, `.markdown`, `.mkd`, `.mkdn`, `.mdown`, `.text`, `.rst`, and `.textile`. Since Git does not generally track what text encoding scheme is used, this endpoint attempts to detect the most appropriate character encoding. While usually correct, determining the character encoding can be ambiguous which in exceptional cases can lead to misinterpretation of the characters. As such, the raw element in the response object should not be treated as equivalent to the file''s actual contents.'
        required: false
        schema:
          type: string
          enum:
          - meta
          - rendered
      - name: q
        in: query
        description: Optional filter expression as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Optional sorting parameter as per [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results).
        required: false
        schema:
          type: string
      - name: max_depth
        in: query
        description: If provided, returns the contents of the repository and its subdirectories recursively until the specified max_depth of nested directories. When omitted, this defaults to 1.
        required: false
        schema:
          type: integer
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetFileOrDirectoryContents
components:
  schemas:
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    team:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: Team
        description: A team object.
        properties:
          links:
            $ref: '#/components/schemas/team_links'
        additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    repository:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Repository
        description: A Bitbucket repository.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              pullrequests:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              forks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watchers:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              downloads:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              clone:
                type: array
                items:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              hooks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The repository's immutable id. This can be used as a substitute for the slug segment in URLs. Doing this guarantees your URLs will survive renaming of the repository by its owner, or even transfer of the repository to a different user.
          full_name:
            type: string
            description: The concatenation of the repository owner's username and the slugified name, e.g. "evzijst/interruptingcow". This is the same string used in Bitbucket URLs.
          is_private:
            type: boolean
          parent:
            $ref: '#/components/schemas/repository'
          scm:
            type: string
            enum:
            - git
          owner:
            $ref: '#/components/schemas/account'
          name:
            type: string
          description:
            type: string
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          size:
            type: integer
          language:
            type: string
          has_issues:
            type: boolean
            description: '

              The issue tracker for this repository is enabled. Issue Tracker

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          has_wiki:
            type: boolean
            description: '

              The wiki for this repository is enabled. Wiki

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          fork_policy:
            type: string
            description: "\nControls the rules for forking this repository.\n\n* **allow_forks**: unrestricted forking\n* **no_public_forks**: restrict forking to private forks (forks cannot\n  be made public later)\n* **no_forks**: deny all forking\n"
            enum:
            - allow_forks
            - no_public_forks
            - no_forks
          project:
            $ref: '#/components/schemas/project'
          mainbranch:
            $ref: '#/components/schemas/branch'
        additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    commit_file:
      type: object
      title: Commit File
      description: A file object, representing a file at a commit in a repository
      properties:
        type:
          type: string
        path:
          type: string
          description: The path in the repository
        commit:
          $ref: '#/components/schemas/commit'
        attributes:
          type: string
          enum:
          - link
          - executable
          - subrepository
          - binary
          - lfs
        escaped_path:
          type: string
          description: The escaped version of the path as it appears in a diff. If the path does not require escaping this will be the same as path.
      required:
      - type
      additionalProperties: true
    treeentry:
      type: object
      title: Tree Entry
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        path:
          type: string
          description: The path in the repository
        commit:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
        name:
          type: string
      additionalProperties: false
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    paginated_treeentries:
      type: object
      title: Paginated Tree Entry
      description: A paginated list of commit_file and/or commit_directory objects.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/treeentry'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    branch:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Branch
        description: A branch object, representing a branch in a repository.
        properties:
          merge_strategies:
            type: array
            description: Available merge strategies for pull requests targeting this branch.
            items:
              type: string
              enum:
              - merge_commit
              - squash
              - fast_forward
          default_merge_strategy:
            type: string
            description: The default merge strategy for pull requests targeting this branch.
        additionalProperties: true
    paginated_files:
      type: object
      title: Paginated Files
      description: A paginated list of commit_file objects.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/commit_file'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    ref:
      type: object
      title: Ref
      description: A ref object, representing a branch or tag in a repository.
      properties:
        type:
          type: string
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            commits:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            html:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
        name:
          type: string
          description: The name of the ref.
        target:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
