openapi: 3.1.0
info:
  title: Atlassian Admin Account Update API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Update
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This API endpoint allows you to update an existing pull request in a Bitbucket repository by sending a PUT request to the specified path with the workspace name, repository slug, and pull request ID. You can modify various attributes of the pull request such as the title, description, source and destination branches, reviewers, and close source branch setting. The request requires authentication and appropriate permissions to modify the pull request. Upon successful execution, it returns the updated pull request object with all its current properties, while unsuccessful requests will return appropriate error responses with status codes indicating issues like authentication failures, insufficient permissions, or invalid parameters.
      summary: Atlassian Update Pull Request
      responses:
        '200':
          description: The updated pull request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '400':
          description: If the input document was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or pull request id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest'
        description: The pull request that is to be updated.
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: updatePullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: The Update Comment On Pull Request operation in the Atlassian Bitbucket Pull Requests API allows you to modify an existing comment on a specific pull request by sending a PUT request to the endpoint /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}. This endpoint requires you to specify the workspace name, repository slug, pull request ID, and the unique comment ID you wish to update. The request typically includes the new comment content in the request body, which replaces the existing comment text while preserving the comment's metadata such as creation date and author information. This operation is commonly used when users need to correct typos, add additional information, or clarify previous feedback provided during code review processes. Authentication is required, and users must have appropriate permissions to modify comments, typically being either the comment author or having administrative access to the repository.
      summary: Atlassian Update Comment on Pull Request
      responses:
        '200':
          description: The updated comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '403':
          description: If the authenticated user does not have access to the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest_comment'
            examples:
              update-comment-on-pull-request:
                $ref: '#/components/examples/update-comment-on-pull-request'
        description: The contents of the updated comment.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: updateCommentOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pullrequest_id}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updatePullRequestApplicationProperty
      summary: Atlassian Update Pull Request Application Property
      description: This API operation allows you to update or set an application-specific property on a Bitbucket pull request within a repository. By making a PUT request to the endpoint with the workspace identifier, repository slug, pull request ID, application key, and property name, you can store custom metadata or configuration data associated with that specific pull request. This is particularly useful for third-party applications or integrations that need to maintain their own state or settings related to a pull request, such as storing build statuses, review preferences, or custom workflow information. The operation requires appropriate authentication and permissions to modify properties on the specified pull request, and it will either create a new property if it doesn't exist or update the existing value if the property is already present.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Update
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This API operation allows you to update the configuration and settings of an existing repository within a specified workspace in Bitbucket. By sending a PUT request to the endpoint with the workspace ID and repository slug as path parameters, you can modify various repository attributes such as the description, language, visibility (public or private), fork policy, and other metadata. The request body should contain a JSON payload with the fields you wish to update, and authentication is required to ensure the user has appropriate permissions to modify the repository. Upon successful execution, the API returns the updated repository object with all current settings, while failed requests will return appropriate error codes and messages indicating issues such as authentication failures, insufficient permissions, or invalid parameter values.
      summary: Atlassian Update Repository
      responses:
        '200':
          description: The existing repository has been updated
          headers:
            Location:
              description: 'The location of the repository. This header is only

                provided when the repository''s name is changed.'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined_3'
        '201':
          description: A new repository has been created
          headers:
            Location:
              description: The location of the newly created repository
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '400':
          description: If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repository'
            examples:
              update-repository:
                $ref: '#/components/examples/update-repository'
        description: 'The repository that is to be updated.


          Note that the elements "owner" and "full_name" are ignored since the

          URL implies them.

          '
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: updateRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/branch-restrictions/{id}:
    parameters:
    - name: id
      in: path
      description: The restriction rule's id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This API operation allows you to modify an existing branch restriction rule in a Bitbucket repository by specifying the workspace, repository slug, and the unique identifier of the restriction rule you want to update. The PUT request enables you to change the configuration of access controls and permissions that govern who can push, merge, or perform other operations on specific branches within the repository. You can adjust parameters such as the branch pattern the rule applies to, the type of restriction (like requiring pull requests or limiting direct pushes), and which users or groups are affected by or exempt from the rule. This is particularly useful for maintaining code quality and enforcing workflow policies as your team's requirements evolve, allowing administrators to refine branch protection rules without having to delete and recreate them from scratch.
      summary: Atlassian Update Branch Restriction Rule
      responses:
        '200':
          description: The updated branch restriction rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branchrestriction'
              examples:
                branch-restriction_2:
                  $ref: '#/components/examples/branch-restriction_2'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or branch restriction id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/branchrestriction'
            examples:
              branch-restriction:
                $ref: '#/components/examples/branch-restriction'
        description: The new version of the existing rule
        required: true
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: updateBranchRestrictionRule
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/branching-model/settings:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This PUT operation updates the branching model configuration settings for a specific Bitbucket repository within a workspace. By sending a request to this endpoint with the workspace identifier and repository slug, administrators can modify how the repository handles branch types, naming conventions, and workflow patterns such as Git Flow or trunk-based development. The operation allows teams to enforce consistent branching strategies across their codebase by configuring settings for development branches, production branches, branch prefixes, and automated merge behaviors. This is particularly useful for organizations that want to standardize their Git workflow and ensure all team members follow the same branching conventions when creating feature branches, release branches, or hotfix branches within the repository.
      summary: Atlassian Update the Branching Model Config for Repository
      responses:
        '200':
          description: The updated branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model_settings'
              examples:
                branching-model-settings_2:
                  $ref: '#/components/examples/branching-model-settings_2'
        '400':
          description: If the request contains invalid branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: updateTheBranchingModelConfigForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: Updates an existing comment on a commit in a Bitbucket repository. This operation allows users to modify the content of a previously posted comment associated with a specific commit. The endpoint requires the workspace identifier, repository slug, commit hash, and the unique comment ID to locate and update the target comment. Users must have appropriate permissions to edit the comment, typically being the original author or having administrative privileges on the repository. The request body should contain the updated comment content, and the operation returns the modified comment object with its new content and updated metadata including the modification timestamp.
      summary: Atlassian Update Commit Comment
      responses:
        '201':
          description: The newly updated comment.
          headers:
            Location:
              description: The location of the newly updated comment.
              schema:
                type: string
        '400':
          description: If the comment update was detected as spam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
            examples:
              commit-comment:
                $ref: '#/components/examples/commit-comment'
        description: The updated comment.
        required: true
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: updateCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updateCommitApplicationProperty
      summary: Atlassian Update Commit Application Property
      description: This API operation allows you to update or set an application-specific property for a particular commit within a Bitbucket repository. By making a PUT request to this endpoint, you specify the workspace, repository slug, commit hash, application key, and property name to target a specific property associated with that commit. This is useful for storing custom metadata or application-specific information linked to a commit, such as build status, deployment information, or any other contextual data your application needs to maintain. The operation will create the property if it doesn't exist or update it if it already does, providing a way to persist and manage commit-level data that extends beyond Bitbucket's standard commit attributes.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Update
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}:
    put:
      tags:
      - Update
      description: This PUT operation creates or updates a report for a specific commit in a Bitbucket repository, identified by the workspace, repository slug, commit SHA, and report ID. Reports are typically used to provide additional build, test, or code quality information about a commit, such as code coverage, security scans, or custom analysis results. The operation requires authentication and appropriate permissions to the repository, and accepts a JSON payload containing the report details including its title, reporter, result status (PASSED, FAILED, or PENDING), and optional metadata like links and data fields. If a report with the specified ID already exists for the commit, it will be updated; otherwise, a new report will be created. This endpoint is commonly used by CI/CD tools and third-party integrations to display supplementary commit status information directly within the Bitbucket interface, allowing teams to view comprehensive build and quality metrics alongside their code changes.
      operationId: createOrUpdateReport
      summary: Atlassian Create or Update Report
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/report'
            examples:
              commit-report:
                $ref: '#/components/examples/commit-report'
        description: The report to create or update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report'
              examples:
                commit-report_2:
                  $ref: '#/components/examples/commit-report_2'
        '400':
          description: The provided Report object is malformed or incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations:
    post:
      tags:
      - Update
      description: Creates or updates individual annotation objects within a specified commit report in a Bitbucket repository, allowing developers to programmatically add code analysis findings, linting errors, test results, or other automated feedback directly to a specific commit. The operation requires the workspace ID, repository slug, commit hash, and report ID as path parameters, and accepts an array of annotation objects in the request body, each containing details such as line number, severity, annotation type, summary, and optional description. This bulk operation enables CI/CD pipelines and development tools to efficiently attach multiple code quality insights to a single commit, making review feedback immediately visible within the Bitbucket interface and helping teams maintain code standards through automated checks.
      operationId: bulkCreateOrUpdateAnnotations
      summary: Atlassian Bulk Create or Update Annotations
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit for which to retrieve reports.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Uuid or external-if of the report for which to get annotations for.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/report_annotation'
              minItems: 1
              maxItems: 100
            examples:
              bulk-create-or-update-annotations_2:
                $ref: '#/components/examples/bulk-create-or-update-annotations_2'
        description: The annotations to create or update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/report_annotation'
              examples:
                undefined_2:
                  $ref: '#/components/examples/undefined_2'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations/{annotationId}:
    put:
      tags:
      - Update
      description: This PUT operation allows users to create or update a specific annotation for a code report associated with a particular commit in a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, report ID, and annotation ID in the URL path, developers can add detailed feedback or metadata about specific lines or sections of code within that commit's report. Annotations are typically used in CI/CD pipelines or code analysis tools to highlight issues, warnings, or suggestions directly within the Bitbucket interface, enabling better code review workflows and automated quality checks. If an annotation with the specified ID already exists, this operation updates it with the new information provided in the request body; otherwise, it creates a new annotation with that ID.
      operationId: createOrUpdateAnAnnotation
      summary: Atlassian Create or Update an Annotation
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      - name: annotationId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/report_annotation'
            examples:
              report-annotation_2:
                $ref: '#/components/examples/report-annotation_2'
        description: The annotation to create or update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report_annotation'
              examples:
                report-annotation_2:
                  $ref: '#/components/examples/report-annotation_2'
        '400':
          description: The provided Annotation object is malformed or incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/statuses/build/{key}:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: key
      in: path
      description: The build status' unique key
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This API operation updates the build status for a specific commit in a Bitbucket repository by making a PUT request to the endpoint that identifies a unique build status entry through the workspace name, repository slug, commit hash, and a unique key identifier. It allows developers and CI/CD systems to modify the state of an existing build status record associated with a particular commit, enabling them to update information such as whether the build is in progress, successful, failed, or stopped, along with relevant metadata like build URLs, descriptions, and timestamps. This is particularly useful for continuous integration workflows where build systems need to communicate the current state of automated builds and tests back to Bitbucket, providing visibility to team members about the health and status of code changes directly within the repository interface.
      summary: Atlassian Update Build Status for Commit
      responses:
        '200':
          description: The updated build status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository or build does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commitstatus'
            examples:
              commit-status_2:
                $ref: '#/components/examples/commit-status_2'
        description: The updated build status object
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: updateBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deploy-keys/{key_id}:
    parameters:
    - name: key_id
      in: path
      description: The key ID matching the deploy key.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This API operation updates an existing deploy key for a specific repository in Bitbucket by making a PUT request to the endpoint with the workspace ID, repository slug, and deploy key ID as path parameters. Deploy keys are SSH keys that provide read-only or read-write access to a single repository, commonly used for automated deployment processes or CI/CD pipelines. The operation allows you to modify properties of an existing deploy key such as its label, the actual key value, or access permissions, enabling administrators to maintain and update deployment credentials without having to delete and recreate them. Authentication is required to perform this operation, and the user must have administrative permissions on the repository to successfully update deploy key configurations.
      summary: Atlassian Update Repository Deploy Key
      responses:
        '200':
          description: The newly updated deploy key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy_key'
              examples:
                deploy-key_2:
                  $ref: '#/components/examples/deploy-key_2'
        '400':
          description: If the submitted key or related value is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the current user does not have permission to add a key for the specified user
        '404':
          description: If the specified user, repository, or deploy key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: updateRepositoryDeployKey
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deployments_config/environments/{environment_uuid}/variables/{variable_uuid}:
    put:
      tags:
      - Update
      description: Updates an existing deployment environment variable for a specific environment in a Bitbucket repository. This operation requires specifying the workspace, repository slug, environment UUID, and variable UUID in the request path. The PUT method allows you to modify the variable's configuration such as its key, value, secured status, and other properties. This is useful for managing environment-specific configuration values like API keys, database connection strings, or feature flags that are used during the deployment pipeline. The request must include authentication credentials with appropriate permissions to modify deployment variables in the specified repository and environment.
      summary: Atlassian Update Variable for an Environment
      operationId: updateVariableForAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to update.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deployment_variable'
            examples:
              deployment-variable_2:
                $ref: '#/components/examples/deployment-variable_2'
        description: The updated deployment variable.
        required: true
      responses:
        '200':
          description: The deployment variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment_variable'
              examples:
                deployment-variable_2:
                  $ref: '#/components/examples/deployment-variable_2'
        '404':
          description: The account, repository, environment or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/environments/{environment_uuid}/changes:
    post:
      tags:
      - Update
      description: 'This POST operation updates a specific environment within a Bitbucket repository by modifying its configuration settings. The endpoint requires three path parameters: the workspace identifier, repository slug, and the unique UUID of the environment to be updated. It allows teams to modify environment properties such as name, environment type, deployment restrictions, and other configuration details that govern how code is deployed to that particular environment. This is particularly useful for maintaining and adjusting deployment pipelines, updating access controls, or changing environment-specific settings as project requirements evolve. The operation requires appropriate authentication and permissions to modify deployment environments within the specified repository.'
      summary: Atlassian Update an Environment
      operationId: updateAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '202':
          description: The environment update request was accepted.
        '404':
          description: No account, repository or environment with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/hooks/{uid}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: uid
      in: path
      description: Installed webhook's ID
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: Updates an existing webhook subscription for a repository in Bitbucket by modifying its configuration properties such as the URL endpoint, description, active status, and event triggers. The operation requires specifying the workspace, repository slug, and the unique identifier (uid) of the webhook to be updated. This allows repository administrators to reconfigure webhook behavior, change the destination URL where events are sent, enable or disable the webhook, or modify which repository events (such as push, pull request, or issue events) trigger the webhook notifications without needing to delete and recreate the subscription.
      summary: Atlassian Update Webhook for Repository
      responses:
        '200':
          description: The webhook subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
              examples:
                webhook-subscription_2:
                  $ref: '#/components/examples/webhook-subscription_2'
        '403':
          description: If the authenticated user does not have permission to update the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: updateWebhookForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This PUT operation updates an existing comment on a specific issue within a Bitbucket repository. By providing the workspace identifier, repository slug, issue ID, and comment ID in the URL path, users can modify the content of a previously posted comment. The request requires authentication and appropriate permissions to edit the comment, typically limited to the comment's original author or users with administrative privileges. The operation accepts updated comment data in the request body and returns the modified comment object with updated metadata such as timestamps. This endpoint is commonly used to correct typos, add additional information, or revise feedback on repository issues while maintaining the comment's history and context within the issue discussion thread.
      summary: Atlassian Update Comment on an Issue
      responses:
        '200':
          description: The updated issue comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_comment'
              examples:
                issue-comment_2:
                  $ref: '#/components/examples/issue-comment_2'
        '400':
          description: 'If the input was invalid, or if the update to the comment is detected as spam '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue_comment'
            examples:
              issue-comment_2:
                $ref: '#/components/examples/issue-comment_2'
        description: The updated comment.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: updateCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/permissions-config/groups/{group_slug}:
    parameters:
    - name: group_slug
      in: path
      description: Slug of the requested group.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This API operation updates the explicit permission level for a specific group on a Bitbucket repository within a workspace. By sending a PUT request to the endpoint with the workspace identifier, repository slug, and group slug, administrators can modify the access rights granted to that group for the specified repository. The operation allows you to change permission levels such as read, write, or admin access for the group, providing fine-grained control over repository access management. This is particularly useful for managing team permissions and ensuring that user groups have appropriate access levels based on their roles and responsibilities within the organization.
      summary: Atlassian Update an Explicit Group Permission for Repository
      responses:
        '200':
          description: Group permission updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_group_permission'
              examples:
                repository-group-permission_2:
                  $ref: '#/components/examples/repository-group-permission_2'
        '400':
          description: No permission value was provided or the value is invalid(not one of read, write, or admin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '402':
          description: You have reached your plan's user limit and must upgrade before giving access to additional users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The workspace does not exist, the repository does not exist, or the group does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/BitbucketAppsPermissionsSerializersRepoPermissionUpdateSchema'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      operationId: updateAnExplicitGroupPermissionForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/permissions-config/users/{selected_user_id}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: selected_user_id
      in: path
      description: 'This can either be the UUID of the account, surrounded by curly-braces, for

        example: `{account UUID}`, OR an Atlassian Account ID.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: Updates the explicit permission level for a specific user on a Bitbucket repository within a workspace. This operation requires specifying the workspace identifier, repository slug, and the selected user's ID in the endpoint path. The PUT request allows repository administrators to modify access permissions for individual users, setting their level of access (such as read, write, or admin) directly on the repository. This is useful for managing fine-grained access control when you need to grant or modify permissions for specific team members outside of group-based permissions, enabling precise control over who can view, contribute to, or administer the repository.
      summary: Atlassian Update an Explicit User Permission for Repository
      responses:
        '200':
          description: Explicit user permission updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_user_permission'
              examples:
                repository-user-permission_2:
                  $ref: '#/components/examples/repository-user-permission_2'
        '400':
          description: No permission value was provided or the value is invalid (not one of read, write, or admin), or the selected user is not a valid user to update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '402':
          description: You have reached your plan's user limit and must upgrade before giving access to additional users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, repository, and selected user doesn't exist for the given identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/BitbucketAppsPermissionsSerializersRepoPermissionUpdateSchema'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      operationId: updateAnExplicitUserPermissionForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config:
    put:
      tags:
      - Update
      summary: Atlassian Update Configuration
      description: This API operation updates the pipelines configuration for a specific Bitbucket repository within a workspace. By sending a PUT request to the endpoint with the workspace and repository slug parameters, users can modify the CI/CD pipeline settings and configuration options for that repository. The operation requires authentication and appropriate permissions to modify pipeline configurations, and it accepts a request body containing the updated configuration parameters that will replace the existing pipelines configuration for the specified repository.
      operationId: updateConfiguration
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipelines_config'
            examples:
              pipelines-configuration_2:
                $ref: '#/components/examples/pipelines-configuration_2'
        description: The updated repository pipelines configuration.
        required: true
      responses:
        '200':
          description: The repository pipelines configuration was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipelines_config'
              examples:
                pipelines-configuration_2:
                  $ref: '#/components/examples/pipelines-configuration_2'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/build_number:
    put:
      tags:
      - Update
      summary: Atlassian Update the Next Build Number
      description: This PUT operation updates the next build number for Bitbucket Pipelines in a specific repository. By targeting the endpoint /repositories/{workspace}/{repo_slug}/pipelines_config/build_number, users can set a custom value for the next pipeline build number that will be assigned when a new pipeline is triggered. This is useful for maintaining consistent build numbering across different environments, resetting build numbers after repository migrations, or aligning build numbers with organizational versioning schemes. The operation requires workspace and repository slug parameters to identify the target repository, and the request body should contain the desired build number value. Only users with appropriate repository permissions can modify this configuration setting.
      operationId: updateTheNextBuildNumber
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_build_number'
            examples:
              pipeline-build-number:
                $ref: '#/components/examples/pipeline-build-number'
        description: The build number to update.
        required: true
      responses:
        '200':
          description: The build number has been configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_build_number'
              examples:
                pipeline-build-number_2:
                  $ref: '#/components/examples/pipeline-build-number_2'
        '400':
          description: The update failed because the next number was invalid (it should be higher than the current number).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The account or repository was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/schedules/{schedule_uuid}:
    put:
      tags:
      - Update
      summary: Atlassian Update Schedule
      description: This PUT operation updates an existing pipeline schedule in a Bitbucket repository by modifying the configuration of a scheduled pipeline execution identified by its unique UUID. The endpoint requires the workspace name, repository slug, and schedule UUID as path parameters to locate the specific schedule to be updated. Users can modify schedule properties such as the cron expression that defines when the pipeline runs, the target branch or commit, enabled/disabled state, and any pipeline variables associated with the scheduled execution. The request body must contain the updated schedule configuration in JSON format, and upon successful execution, the API returns the modified schedule object with all its current properties. This operation is useful for adjusting automated pipeline execution times, changing target branches, or updating environment variables without needing to delete and recreate the schedule.
      operationId: updateSchedule
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: schedule_uuid
        description: The uuid of the schedule.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_schedule_put_request_body'
            examples:
              request-body-for-pipeline-schedule-put-request:
                $ref: '#/components/examples/request-body-for-pipeline-schedule-put-request'
        description: The schedule to update.
        required: true
      responses:
        '200':
          description: The schedule is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_schedule'
              examples:
                pipeline-schedule_2:
                  $ref: '#/components/examples/pipeline-schedule_2'
        '404':
          description: The account, repository or schedule was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
        - write:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/ssh/key_pair:
    put:
      tags:
      - Update
      summary: Atlassian Update Ssh Key Pair
      description: Updates the SSH key pair configuration for Bitbucket Pipelines in a specific repository, allowing you to modify the private and public SSH keys used for secure authentication during pipeline builds. This operation requires you to specify the workspace and repository slug in the URL path, and you must provide the updated SSH key pair details in the request body, typically including both the private key for authentication and the corresponding public key. The endpoint is commonly used when rotating credentials, updating access to external services, or changing deployment keys that pipelines use to interact with remote servers or services during automated builds and deployments.
      operationId: updateSshKeyPair
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_ssh_key_pair'
            examples:
              pipeline-ssh-key-pair_2:
                $ref: '#/components/examples/pipeline-ssh-key-pair_2'
        description: The created or updated SSH key pair.
        required: true
      responses:
        '200':
          description: The SSH key pair was created or updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_ssh_key_pair'
              examples:
                pipeline-ssh-key-pair_2:
                  $ref: '#/components/examples/pipeline-ssh-key-pair_2'
        '404':
          description: The account, repository or SSH key pair was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/ssh/known_hosts/{known_host_uuid}:
    put:
      tags:
      - Update
      summary: Atlassian Update Known Host
      description: This API operation updates an existing known host entry in the SSH configuration for Bitbucket Pipelines within a specific repository. By sending a PUT request to this endpoint with the workspace name, repository slug, and the UUID of the known host to be updated, you can modify the SSH host key information that Pipelines uses to verify connections to external servers during build executions. This is useful when SSH host keys change due to server migrations or security updates, allowing you to maintain secure SSH connections without recreating the entire known host entry. The operation requires appropriate repository permissions and expects the updated known host details in the request body, returning the modified known host configuration upon successful execution.
      operationId: updateKnownHost
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: known_host_uuid
        description: The UUID of the known host to update.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_known_host'
            examples:
              pipeline-known-host_2:
                $ref: '#/components/examples/pipeline-known-host_2'
        description: The updated known host.
        required: true
      responses:
        '200':
          description: The known host was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_known_host'
              examples:
                pipeline-known-host_2:
                  $ref: '#/components/examples/pipeline-known-host_2'
        '404':
          description: The account, repository or known host with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/variables/{variable_uuid}:
    put:
      tags:
      - Update
      summary: Atlassian Update Variable for Repository
      description: Updates an existing pipeline variable for a specific repository in Bitbucket, identified by the workspace name, repository slug, and the variable's unique UUID. This operation allows you to modify the variable's properties such as its name, value, security settings (whether it's secured/masked), and other configuration options that control how the variable behaves within the pipeline execution context. The variable can be used across all pipelines in the repository to store configuration values, credentials, or other environment-specific data, and when marked as secured, its value will be hidden in pipeline logs and UI to protect sensitive information.
      operationId: updateVariableForRepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to update.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_variable'
            examples:
              pipeline-variable_2:
                $ref: '#/components/examples/pipeline-variable_2'
        description: The updated variable
        required: true
      responses:
        '200':
          description: The variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2'
        '404':
          description: The account, repository or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updateRepositoryApplicationProperty
      summary: Atlassian Update Repository Application Property
      description: Updates an application property value for a specific repository in Bitbucket. This endpoint allows applications to store and modify custom metadata or configuration data associated with a particular repository by specifying the workspace, repository slug, application key, and property name. The operation replaces the existing property value with the new data provided in the request body, enabling applications to maintain persistent, repository-specific settings or state information that can be retrieved and modified as needed throughout the application lifecycle.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Update
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks/{task_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: The ID of the task.
      required: true
      schema:
        type: integer
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This API operation allows you to update an existing task associated with a specific pull request in a Bitbucket repository. By making a PUT request to this endpoint, you can modify task details such as its content, state, or other properties for a task identified by its unique task_id within a pull request specified by pull_request_id in a given repository (repo_slug) under a particular workspace. This is useful for managing code review checklists, action items, or follow-up tasks that need to be tracked as part of the pull request workflow, enabling teams to keep their development processes organized and ensure all necessary steps are completed before merging code changes.
      summary: Atlassian Update Task on Pull Request
      responses:
        '200':
          description: The updated task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
              examples:
                pull-request-comment-task_2:
                  $ref: '#/components/examples/pull-request-comment-task_2'
        '400':
          description: There is a missing required field in the request or the task content is blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A_pullrequest_task_update'
            examples:
              pull-request-task-update:
                $ref: '#/components/examples/pull-request-task-update'
        description: The updated state and content of the task.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: updateTaskOnPullRequest
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: Updates an existing snippet in Bitbucket under a specified workspace. This PUT operation requires both the workspace identifier and the encoded snippet ID in the path parameters. The request allows modification of snippet properties such as title, description, files, and visibility settings. Authentication is required to perform this operation, and the user must have appropriate permissions to edit the snippet. The endpoint returns the updated snippet object with all its properties, including metadata like creation date, last updated timestamp, and ownership information. If the snippet doesn't exist or the user lacks permission, appropriate error responses will be returned.
      summary: Atlassian Update Snippet
      responses:
        '200':
          description: The updated snippet object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
              examples:
                snippet_2:
                  $ref: '#/components/examples/snippet_2'
            multipart/related:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/snippet'
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have permission to update the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: updateSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: This API operation allows you to update an existing comment on a specific snippet within a Bitbucket workspace. By sending a PUT request to the endpoint with the workspace identifier, encoded snippet ID, and comment ID, you can modify the content of a previously posted comment. This is useful for correcting mistakes, adding additional information, or clarifying previous feedback on code snippets. The operation requires appropriate authentication and permissions to modify comments, typically limited to the original comment author or workspace administrators.
      summary: Atlassian Update Comment on Snippet
      responses:
        '200':
          description: The updated comment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_comment'
              examples:
                snippet-comment_2:
                  $ref: '#/components/examples/snippet-comment_2'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment or snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_comment'
            examples:
              snippet-comment_2:
                $ref: '#/components/examples/snippet-comment_2'
        description: The contents to update the comment to.
        required: true
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
        GenerateExampleFromOperationRequestSchema: true
      operationId: updateCommentOnSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/{node_id}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: node_id
      in: path
      description: A commit revision (SHA1).
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
      description: Updates the content and metadata of a specific previous revision of a snippet in Bitbucket by targeting a particular node ID within the snippet's version history. This PUT operation allows users to modify an existing historical version of a snippet within a specified workspace, identified by the workspace slug, the snippet's encoded ID, and the specific node ID representing that revision. The operation enables retroactive changes to snippet content, properties, or metadata while maintaining the snippet's version chain, useful for correcting errors or updating information in past revisions without affecting the current version.
      summary: Atlassian Update Previous Revision of Snippet
      responses:
        '200':
          description: The updated snippet object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
              examples:
                snippet_2:
                  $ref: '#/components/examples/snippet_2'
            multipart/related:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/snippet'
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have permission to update the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet or the revision does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '405':
          description: If `{node_id}` is not the latest revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: updatePreviousRevisionOfSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /teams/{username}/pipelines_config/variables/{variable_uuid}:
    put:
      tags:
      - Update
      deprecated: true
      summary: Atlassian Update Variable for Team
      description: This API operation allows you to update an existing pipeline variable for a specific team in Atlassian Bitbucket. By making a PUT request to the endpoint with the Teams username and the variable's unique identifier (UUID), you can modify the variable's properties such as its value, security settings, or other configuration parameters. This is particularly useful for managing environment-specific settings, credentials, or other configuration values used in your Teams CI/CD pipelines without having to delete and recreate variables. The operation requires appropriate authentication and permissions to modify team-level pipeline configurations, and it will replace the existing variable configuration with the new values provided in the request body.
      operationId: updateVariableForTeam
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable'
      responses:
        '200':
          description: The variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2_2'
        '404':
          description: The account or the variable was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/pipelines_config/variables/{variable_uuid}:
    put:
      tags:
      - Update
      deprecated: true
      summary: Atlassian Update Variable for User
      description: This API operation allows you to update an existing pipeline configuration variable for a specific Bitbucket user by providing the variable's unique identifier (UUID) and the target username. Using a PUT request to the endpoint, you can modify the variable's properties such as its value, security settings, or other configuration parameters that control how the variable behaves within Bitbucket Pipelines for that particular user. This is useful for maintaining and managing pipeline variables at the user level, enabling you to adjust CI/CD configuration values without recreating variables from scratch.
      operationId: updateVariableForUser
      parameters:
      - name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable'
      responses:
        '200':
          description: The variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2_3'
        '404':
          description: The account or the variable was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updateUserApplicationProperty
      summary: Atlassian Update User Application Property
      description: This API operation allows you to update a specific application property for a selected user in Atlassian Bitbucket by sending a PUT request to the endpoint with the target username, application key, and property name as path parameters. The operation modifies an existing property value associated with a particular application for the specified user, enabling applications to store and manage user-specific configuration data or settings within Bitbucket's property storage system. This is useful for persisting application-specific user preferences, metadata, or state information that needs to be maintained across sessions and retrieved later for customized user experiences.
      parameters:
      - required: true
        in: path
        name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Update
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/ssh-keys/{key_id}:
    parameters:
    - name: key_id
      in: path
      description: The SSH key's UUID value.
      required: true
      schema:
        type: string
    - name: selected_user
      in: path
      description: 'This can either be an Atlassian Account ID OR the UUID of the account,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Update
[...]
