openapi: 3.1.0
info:
  title: Atlassian Admin Account Filter Sharing API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Filter Sharing
paths:
  /rest/api/3/filter/defaultShareScope:
    get:
      deprecated: false
      description: Returns the default sharing settings for new filters and dashboards for a user.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianGetdefaultsharescope
      parameters: []
      responses:
        '200':
          content:
            application/json:
              example: '{"scope":"GLOBAL"}'
              schema:
                $ref: '#/components/schemas/DefaultShareScope'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Default Share Scope
      tags:
      - Filter Sharing
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:filter.default-share-scope:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Sets the default sharing for new filters and dashboards for a user.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianSetdefaultsharescope
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              scope: GLOBAL
            schema:
              $ref: '#/components/schemas/DefaultShareScope'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"scope":"GLOBAL"}'
              schema:
                $ref: '#/components/schemas/DefaultShareScope'
          description: Returned if the request is successful.
        '400':
          description: Returned if an invalid scope is set.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Set Default Share Scope
      tags:
      - Filter Sharing
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:filter.default-share-scope:jira
        - read:filter.default-share-scope:jira
        state: Beta
      x-atlassian-connect-scope: WRITE
  /rest/api/3/filter/{id}/permission:
    get:
      deprecated: false
      description: Returns the share permissions for a filter. A filter can be shared with groups, projects, all logged-in users, or the public. Sharing with all logged-in users or the public is known as a global share permission.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** None, however, share permissions are only returned for:<br><br> *  filters owned by the user.<br> *  filters shared with a group that the user is a member of.<br> *  filters shared with a private project that the user has *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for.<br> *  filters shared with a public project.<br> *  filters shared with the public.
      operationId: atlassianGetsharepermissions
      parameters:
      - description: The ID of the filter.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '[{"id":10000,"type":"global"},{"id":10010,"project":{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10000"},"id":"10000","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"key":"EX","name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/EX","simplified":false,"style":"classic"},"type":"project"},{"id":10010,"project":{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10002","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10002","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10002","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10002"},"deleted":true,"deletedBy":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"deletedDate":"2022-11-11T13:35:29.000+0000","id":"10002","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"key":"MKY","name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"retentionTillDate":"2023-01-10T13:35:29.000+0000","self":"https://your-domain.atlassian.net/rest/api/3/project/MKY","simplified":false,"style":"classic"},"role":{"self":"https://your-domain.atlassian.net/rest/api/3/project/MKY/role/10360","name":"Developers","id":10360,"description":"A project role that represents developers in a project","actors":[{"actorGroup":{"name":"jira-developers","displayName":"jira-developers","groupId":"952d12c3-5b5b-4d04-bb32-44d383afc4b2"},"displayName":"jira-developers","id":10240,"name":"jira-developers","type":"atlassian-group-role-actor"},{"actorUser":{"accountId":"5b10a2844c20165700ede21g"},"displayName":"Mia Krystof","id":10241,"type":"atlassian-user-role-actor"}],"scope":{"project":{"id":"10000","key":"KEY","name":"Next Gen Project"},"type":"PROJECT"}},"type":"project"},{"group":{"groupId":"276f955c-63d7-42c8-9520-92d01dca0625","name":"jira-administrators","self":"https://your-domain.atlassian.net/rest/api/3/group?groupId=276f955c-63d7-42c8-9520-92d01dca0625"},"id":10010,"type":"group"}]'
              schema:
                items:
                  $ref: '#/components/schemas/SharePermission'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: "Returned if:\n\n *  the filter is not found.\n *  the user does not have permission to view the filter."
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Share Permissions
      tags:
      - Filter Sharing
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:filter:jira
        - read:group:jira
        - read:project:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-role:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Add a share permissions to a filter. If you add a global share permission (one for all logged-in users or the public) it will overwrite all share permissions for the filter.<br><br>Be aware that this operation uses different objects for updating share permissions compared to [Update filter](#api-rest-api-3-filter-id-put).<br><br>**[Permissions](#permissions) required:** *Share dashboards and filters* [global permission](https://confluence.atlassian.com/x/x4dKLg) and the user must own the filter.
      operationId: atlassianAddsharepermission
      parameters:
      - description: The ID of the filter.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              groupname: jira-administrators
              rights: 1
              type: group
            schema:
              $ref: '#/components/schemas/SharePermissionInputBean'
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '[{"id":10000,"type":"global"},{"id":10010,"project":{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10000"},"id":"10000","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"key":"EX","name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"self":"https://your-domain.atlassian.net/rest/api/3/project/EX","simplified":false,"style":"classic"},"type":"project"},{"id":10010,"project":{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10002","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10002","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10002","48x48":"https://your-domain.atlassian.net/secure/projectavatar?size=large&pid=10002"},"deleted":true,"deletedBy":{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},"deletedDate":"2022-11-11T13:35:29.000+0000","id":"10002","insight":{"lastIssueUpdateTime":"2021-04-22T05:37:05.000+0000","totalIssueCount":100},"key":"MKY","name":"Example","projectCategory":{"description":"First Project Category","id":"10000","name":"FIRST","self":"https://your-domain.atlassian.net/rest/api/3/projectCategory/10000"},"retentionTillDate":"2023-01-10T13:35:29.000+0000","self":"https://your-domain.atlassian.net/rest/api/3/project/MKY","simplified":false,"style":"classic"},"role":{"self":"https://your-domain.atlassian.net/rest/api/3/project/MKY/role/10360","name":"Developers","id":10360,"description":"A project role that represents developers in a project","actors":[{"actorGroup":{"name":"jira-developers","displayName":"jira-developers","groupId":"952d12c3-5b5b-4d04-bb32-44d383afc4b2"},"displayName":"jira-developers","id":10240,"name":"jira-developers","type":"atlassian-group-role-actor"},{"actorUser":{"accountId":"5b10a2844c20165700ede21g"},"displayName":"Mia Krystof","id":10241,"type":"atlassian-user-role-actor"}],"scope":{"project":{"id":"10000","key":"KEY","name":"Next Gen Project"},"type":"PROJECT"}},"type":"project"},{"group":{"groupId":"276f955c-63d7-42c8-9520-92d01dca0625","name":"jira-administrators","self":"https://your-domain.atlassian.net/rest/api/3/group?groupId=276f955c-63d7-42c8-9520-92d01dca0625"},"id":10010,"type":"group"}]'
              schema:
                items:
                  $ref: '#/components/schemas/SharePermission'
                type: array
          description: Returned if the request is successful.
        '400':
          description: "Returned if:\n\n *  the request object is invalid. For example, it contains an invalid type, the ID does not match the type, or the project or group is not found.\n *  the user does not own the filter.\n *  the user does not have the required permissions."
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: "Returned if:\n\n *  the filter is not found.\n *  the user does not have permission to view the filter."
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Add Share Permission
      tags:
      - Filter Sharing
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:filter:jira
        - read:filter:jira
        - read:group:jira
        - read:project:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-role:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: WRITE
  /rest/api/3/filter/{id}/permission/{permissionId}:
    delete:
      deprecated: false
      description: Deletes a share permission from a filter.<br><br>**[Permissions](#permissions) required:** Permission to access Jira and the user must own the filter.
      operationId: atlassianDeletesharepermission
      parameters:
      - description: The ID of the filter.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the share permission.
        in: path
        name: permissionId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: "Returned if:\n\n *  the filter is not found.\n *  the user does not own the filter."
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Delete Share Permission
      tags:
      - Filter Sharing
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:filter:jira
        state: Beta
      x-atlassian-connect-scope: DELETE
    get:
      deprecated: false
      description: Returns a share permission for a filter. A filter can be shared with groups, projects, all logged-in users, or the public. Sharing with all logged-in users or the public is known as a global share permission.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** None, however, a share permission is only returned for:<br><br> *  filters owned by the user.<br> *  filters shared with a group that the user is a member of.<br> *  filters shared with a private project that the user has *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for.<br> *  filters shared with a public project.<br> *  filters shared with the public.
      operationId: atlassianGetsharepermission
      parameters:
      - description: The ID of the filter.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the share permission.
        in: path
        name: permissionId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"id":10000,"type":"global"}'
              schema:
                $ref: '#/components/schemas/SharePermission'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: "Returned if:\n\n *  the filter is not found.\n *  the permission is not found.\n *  the user does not have permission to view the filter."
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Share Permission
      tags:
      - Filter Sharing
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:filter:jira
        - read:group:jira
        - read:project:jira
        - read:project-role:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: READ
components:
  schemas:
    ProjectLandingPageInfo:
      additionalProperties: false
      properties:
        attributes:
          additionalProperties:
            type: string
          type: object
        boardId:
          format: int64
          type: integer
        boardName:
          type: string
        projectKey:
          type: string
        projectType:
          type: string
        queueCategory:
          type: string
        queueId:
          format: int64
          type: integer
        queueName:
          type: string
        simpleBoard:
          type: boolean
        simplified:
          type: boolean
        url:
          type: string
      type: object
    Project:
      additionalProperties: false
      description: Details about a project.
      properties:
        archived:
          description: Whether the project is archived.
          readOnly: true
          type: boolean
        archivedBy:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The user who archived the project.
          readOnly: true
        archivedDate:
          description: The date when the project was archived.
          format: date-time
          readOnly: true
          type: string
        assigneeType:
          description: The default assignee when creating issues for this project.
          enum:
          - PROJECT_LEAD
          - UNASSIGNED
          readOnly: true
          type: string
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The URLs of the project's avatars.
          readOnly: true
        components:
          description: List of the components contained in the project.
          items:
            $ref: '#/components/schemas/ProjectComponent'
          readOnly: true
          type: array
        deleted:
          description: Whether the project is marked as deleted.
          readOnly: true
          type: boolean
        deletedBy:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The user who marked the project as deleted.
          readOnly: true
        deletedDate:
          description: The date when the project was marked as deleted.
          format: date-time
          readOnly: true
          type: string
        description:
          description: A brief description of the project.
          readOnly: true
          type: string
        email:
          description: An email address associated with the project.
          type: string
        expand:
          description: Expand options that include additional project details in the response.
          readOnly: true
          type: string
          xml:
            attribute: true
        favourite:
          description: Whether the project is selected as a favorite.
          type: boolean
        id:
          description: The ID of the project.
          type: string
        insight:
          allOf:
          - $ref: '#/components/schemas/ProjectInsight'
          description: Insights about the project.
          readOnly: true
        isPrivate:
          description: Whether the project is private from the user's perspective. This means the user can't see the project or any associated issues.
          readOnly: true
          type: boolean
        issueTypeHierarchy:
          allOf:
          - $ref: '#/components/schemas/Hierarchy'
          description: The issue type hierarchy for the project.
          readOnly: true
        issueTypes:
          description: List of the issue types available in the project.
          items:
            $ref: '#/components/schemas/IssueTypeDetails'
          readOnly: true
          type: array
        key:
          description: The key of the project.
          readOnly: true
          type: string
        landingPageInfo:
          allOf:
          - $ref: '#/components/schemas/ProjectLandingPageInfo'
          description: The project landing page info.
          readOnly: true
        lead:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The username of the project lead.
          readOnly: true
        name:
          description: The name of the project.
          readOnly: true
          type: string
        permissions:
          allOf:
          - $ref: '#/components/schemas/ProjectPermissions'
          description: User permissions on the project
          readOnly: true
        projectCategory:
          allOf:
          - $ref: '#/components/schemas/ProjectCategory'
          description: The category the project belongs to.
          readOnly: true
        projectTypeKey:
          description: The [project type](https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes) of the project.
          enum:
          - software
          - service_desk
          - business
          readOnly: true
          type: string
        properties:
          additionalProperties:
            readOnly: true
          description: Map of project properties
          readOnly: true
          type: object
        retentionTillDate:
          description: The date when the project is deleted permanently.
          format: date-time
          readOnly: true
          type: string
        roles:
          additionalProperties:
            format: uri
            readOnly: true
            type: string
          description: The name and self URL for each role defined in the project. For more information, see [Create project role](#api-rest-api-3-role-post).
          readOnly: true
          type: object
        self:
          description: The URL of the project details.
          format: uri
          readOnly: true
          type: string
        simplified:
          description: Whether the project is simplified.
          readOnly: true
          type: boolean
        style:
          description: The type of the project.
          enum:
          - classic
          - next-gen
          readOnly: true
          type: string
        url:
          description: A link to information about this project, such as project documentation.
          readOnly: true
          type: string
        uuid:
          description: Unique ID for next-gen projects.
          format: uuid
          readOnly: true
          type: string
        versions:
          description: The versions defined in the project. For more information, see [Create version](#api-rest-api-3-version-post).
          items:
            $ref: '#/components/schemas/Version'
          readOnly: true
          type: array
      type: object
      xml:
        name: project
    GroupName:
      additionalProperties: false
      description: Details about a group.
      properties:
        groupId:
          description: The ID of the group, which uniquely identifies the group across all Atlassian products. For example, *952d12c3-5b5b-4d04-bb32-44d383afc4b2*.
          nullable: true
          type: string
        name:
          description: The name of group.
          type: string
        self:
          description: The URL for these group details.
          format: uri
          readOnly: true
          type: string
      type: object
    SimpleLink:
      additionalProperties: false
      description: Details about the operations available in this version.
      properties:
        href:
          type: string
        iconClass:
          type: string
        id:
          type: string
        label:
          type: string
        styleClass:
          type: string
        title:
          type: string
        weight:
          format: int32
          type: integer
      type: object
      xml:
        name: link
    SharePermission:
      additionalProperties: false
      description: Details of a share permission for the filter.
      properties:
        group:
          allOf:
          - $ref: '#/components/schemas/GroupName'
          description: The group that the filter is shared with. For a request, specify the `groupId` or `name` property for the group. As a group's name can change, use of `groupId` is recommended.
        id:
          description: The unique identifier of the share permission.
          format: int64
          readOnly: true
          type: integer
        project:
          allOf:
          - $ref: '#/components/schemas/Project'
          description: "The project that the filter is shared with. This is similar to the project object returned by [Get project](#api-rest-api-3-project-projectIdOrKey-get) but it contains a subset of the properties, which are: `self`, `id`, `key`, `assigneeType`, `name`, `roles`, `avatarUrls`, `projectType`, `simplified`.  \nFor a request, specify the `id` for the project."
        role:
          allOf:
          - $ref: '#/components/schemas/ProjectRole'
          description: "The project role that the filter is shared with.  \nFor a request, specify the `id` for the role. You must also specify the `project` object and `id` for the project that the role is in."
        type:
          description: "The type of share permission:\n\n *  `user` Shared with a user.\n *  `group` Shared with a group. If set in a request, then specify `sharePermission.group` as well.\n *  `project` Shared with a project. If set in a request, then specify `sharePermission.project` as well.\n *  `projectRole` Share with a project role in a project. This value is not returned in responses. It is used in requests, where it needs to be specify with `projectId` and `projectRoleId`.\n *  `global` Shared globally. If set in a request, no other `sharePermission` properties need to be specified.\n *  `loggedin` Shared with all logged-in users. Note: This value is set in a request by specifying `authenticated` as the `type`.\n *  `project-unknown` Shared with a project that the user does not have access to. Cannot be set in a request."
          enum:
          - user
          - group
          - project
          - projectRole
          - global
          - loggedin
          - authenticated
          - project-unknown
          type: string
        user:
          allOf:
          - $ref: '#/components/schemas/UserBean'
          description: The user account ID that the filter is shared with. For a request, specify the `accountId` property for the user.
      required:
      - type
      type: object
    ListWrapperCallbackApplicationRole:
      additionalProperties: false
      type: object
    ProjectDetails:
      additionalProperties: false
      description: Details about a project.
      properties:
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The URLs of the project's avatars.
          readOnly: true
        id:
          description: The ID of the project.
          type: string
        key:
          description: The key of the project.
          readOnly: true
          type: string
        name:
          description: The name of the project.
          readOnly: true
          type: string
        projectCategory:
          allOf:
          - $ref: '#/components/schemas/UpdatedProjectCategory'
          description: The category the project belongs to.
          readOnly: true
        projectTypeKey:
          description: The [project type](https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes) of the project.
          enum:
          - software
          - service_desk
          - business
          readOnly: true
          type: string
        self:
          description: The URL of the project details.
          readOnly: true
          type: string
        simplified:
          description: Whether or not the project is simplified.
          readOnly: true
          type: boolean
      type: object
    SharePermissionInputBean:
      additionalProperties: false
      properties:
        accountId:
          description: The user account ID that the filter is shared with. For a request, specify the `accountId` property for the user.
          type: string
        groupId:
          description: The ID of the group, which uniquely identifies the group across all Atlassian products.For example, *952d12c3-5b5b-4d04-bb32-44d383afc4b2*. Cannot be provided with `groupname`.
          type: string
        groupname:
          description: The name of the group to share the filter with. Set `type` to `group`. Please note that the name of a group is mutable, to reliably identify a group use `groupId`.
          type: string
        projectId:
          description: The ID of the project to share the filter with. Set `type` to `project`.
          type: string
        projectRoleId:
          description: The ID of the project role to share the filter with. Set `type` to `projectRole` and the `projectId` for the project that the role is in.
          type: string
        rights:
          description: The rights for the share permission.
          format: int32
          type: integer
        type:
          description: "The type of the share permission.Specify the type as follows:\n\n *  `user` Share with a user.\n *  `group` Share with a group. Specify `groupname` as well.\n *  `project` Share with a project. Specify `projectId` as well.\n *  `projectRole` Share with a project role in a project. Specify `projectId` and `projectRoleId` as well.\n *  `global` Share globally, including anonymous users. If set, this type overrides all existing share permissions and must be deleted before any non-global share permissions is set.\n *  `authenticated` Share with all logged-in users. This shows as `loggedin` in the response. If set, this type overrides all existing share permissions and must be deleted before any non-global share permissions is set."
          enum:
          - user
          - project
          - group
          - projectRole
          - global
          - authenticated
          type: string
      required:
      - type
      type: object
    UserBean:
      additionalProperties: false
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
          maxLength: 128
          type: string
        active:
          description: Whether the user is active.
          type: boolean
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/UserBeanAvatarUrls'
          description: The avatars of the user.
        displayName:
          description: The display name of the user. Depending on the user’s privacy setting, this may return an alternative value.
          type: string
        key:
          description: "This property is deprecated in favor of `accountId` because of privacy changes. See the [migration guide](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.  \nThe key of the user."
          type: string
        name:
          description: "This property is deprecated in favor of `accountId` because of privacy changes. See the [migration guide](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.  \nThe username of the user."
          type: string
        self:
          description: The URL of the user.
          format: uri
          type: string
      type: object
    DefaultShareScope:
      additionalProperties: false
      description: Details of the scope of the default sharing for new filters and dashboards.
      properties:
        scope:
          description: "The scope of the default sharing for new filters and dashboards:\n\n *  `AUTHENTICATED` Shared with all logged-in users.\n *  `GLOBAL` Shared with all logged-in users. This shows as `AUTHENTICATED` in the response.\n *  `PRIVATE` Not shared with any users."
          enum:
          - GLOBAL
          - AUTHENTICATED
          - PRIVATE
          type: string
      required:
      - scope
      type: object
      xml:
        name: defaultShareScope
    ProjectCategory:
      additionalProperties: false
      description: A project category.
      properties:
        description:
          description: The description of the project category.
          type: string
        id:
          description: The ID of the project category.
          readOnly: true
          type: string
        name:
          description: The name of the project category. Required on create, optional on update.
          type: string
        self:
          description: The URL of the project category.
          format: uri
          readOnly: true
          type: string
      type: object
    Scope:
      additionalProperties: true
      description: The projects the item is associated with. Indicated for items associated with [next-gen projects](https://confluence.atlassian.com/x/loMyO).
      properties:
        project:
          allOf:
          - $ref: '#/components/schemas/ProjectDetails'
          description: The project the item has scope in.
          readOnly: true
        type:
          description: The type of scope.
          enum:
          - PROJECT
          - TEMPLATE
          readOnly: true
          type: string
      type: object
    RoleActor:
      additionalProperties: false
      description: Details about a user assigned to a project role.
      properties:
        actorGroup:
          allOf:
          - $ref: '#/components/schemas/ProjectRoleGroup'
          readOnly: true
        actorUser:
          allOf:
          - $ref: '#/components/schemas/ProjectRoleUser'
          readOnly: true
        avatarUrl:
          description: The avatar of the role actor.
          format: uri
          readOnly: true
          type: string
        displayName:
          description: The display name of the role actor. For users, depending on the user’s privacy setting, this may return an alternative value for the user's name.
          readOnly: true
          type: string
        id:
          description: The ID of the role actor.
          format: int64
          readOnly: true
          type: integer
        name:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          readOnly: true
          type: string
        type:
          description: The type of role actor.
          enum:
          - atlassian-group-role-actor
          - atlassian-user-role-actor
          readOnly: true
          type: string
      type: object
      xml:
        name: projectRoleActor
    UpdatedProjectCategory:
      additionalProperties: false
      description: A project category.
      properties:
        description:
          description: The name of the project category.
          readOnly: true
          type: string
        id:
          description: The ID of the project category.
          readOnly: true
          type: string
        name:
          description: The description of the project category.
          readOnly: true
          type: string
        self:
          description: The URL of the project category.
          readOnly: true
          type: string
      type: object
    UserBeanAvatarUrls:
      additionalProperties: false
      properties:
        16x16:
          description: The URL of the user's 16x16 pixel avatar.
          format: uri
          type: string
        24x24:
          description: The URL of the user's 24x24 pixel avatar.
          format: uri
          type: string
        32x32:
          description: The URL of the user's 32x32 pixel avatar.
          format: uri
          type: string
        48x48:
          description: The URL of the user's 48x48 pixel avatar.
          format: uri
          type: string
      type: object
    ListWrapperCallbackGroupName:
      additionalProperties: false
      type: object
    Hierarchy:
      additionalProperties: false
      description: The project issue type hierarchy.
      properties:
        baseLevelId:
          description: 'The ID of the base level. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
        levels:
          description: Details about the hierarchy level.
          items:
            $ref: '#/components/schemas/SimplifiedHierarchyLevel'
          readOnly: true
          type: array
      type: object
      xml:
        name: hierarchy
    VersionApprover:
      additionalProperties: true
      description: Contains details about a version approver.
      properties:
        accountId:
          description: The Atlassian account ID of the approver.
          readOnly: true
          type: string
        declineReason:
          description: A description of why the user is declining the approval.
          readOnly: true
          type: string
        description:
          description: A description of what the user is approving within the specified version.
          readOnly: true
          type: string
        status:
          description: The status of the approval, which can be *PENDING*, *APPROVED*, or *DECLINED*
          readOnly: true
          type: string
      type: object
    ProjectRoleGroup:
      additionalProperties: false
      description: Details of the group associated with the role.
      properties:
        displayName:
          description: The display name of the group.
          type: string
        groupId:
          description: The ID of the group.
          type: string
        name:
          description: The name of the group. As a group's name can change, use of `groupId` is recommended to identify the group.
          type: string
      type: object
    SimpleListWrapperGroupName:
      additionalProperties: false
      properties:
        callback:
          $ref: '#/components/schemas/ListWrapperCallbackGroupName'
        items:
          items:
            $ref: '#/components/schemas/GroupName'
          type: array
        max-results:
          format: int32
          type: integer
          xml:
            attribute: true
            name: max-results
        pagingCallback:
          $ref: '#/components/schemas/ListWrapperCallbackGroupName'
        size:
          format: int32
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: list
    User:
      additionalProperties: false
      description: "A user with details as permitted by the user's Atlassian Account privacy settings. However, be aware of these exceptions:\n\n *  User record deleted from Atlassian: This occurs as the result of a right to be forgotten request. In this case, `displayName` provides an indication and other parameters have default values or are blank (for example, email is blank).\n *  User record corrupted: This occurs as a results of events such as a server import and can only happen to deleted users. In this case, `accountId` returns *unknown* and all other parameters have fallback values.\n *  User record unavailable: This usually occurs due to an internal service outage. In this case, all parameters have fallback values."
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*. Required in requests.
          maxLength: 128
          type: string
        accountType:
          description: "The user account type. Can take the following values:\n\n *  `atlassian` regular Atlassian user account\n *  `app` system account used for Connect applications and OAuth to represent external systems\n *  `customer` Jira Service Desk account representing an external service desk"
          enum:
          - atlassian
          - app
          - customer
          - unknown
          readOnly: true
          type: string
        active:
          description: Whether the user is active.
          readOnly: true
          type: boolean
        applicationRoles:
          allOf:
          - $ref: '#/components/schemas/SimpleListWrapperApplicationRole'
          description: The application roles the user is assigned to.
          readOnly: true
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The avatars of the user.
          readOnly: true
        displayName:
          description: The display name of the user. Depending on the user’s privacy setting, this may return an alternative value.
          readOnly: true
          type: string
        emailAddress:
          description: The email address of the user. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
        expand:
          description: Expand options that include additional user details in the response.
          readOnly: true
          type: string
          xml:
            attribute: true
        groups:
          allOf:
          - $ref: '#/components/schemas/SimpleListWrapperGroupName'
          description: The groups that the user belongs to.
          readOnly: true
        key:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          type: string
        locale:
          description: The locale of the user. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
        name:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          type: string
        self:
          description: The URL of the user.
          format: uri
          readOnly: true
          type: string
        timeZone:
          description: The time zone specified in the user's profile. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
      type: object
      xml:
        name: user
    SimplifiedHierarchyLevel:
      additionalProperties: false
      properties:
        aboveLevelId:
          description: 'The ID of the level above this one in the hierarchy. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
        belowLevelId:
          description: 'The ID of the level below this one in the hierarchy. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
        externalUuid:
          description: 'The external UUID of the hierarchy level. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: uuid
          type: string
        hierarchyLevelNumber:
          format: int32
          type: integer
        id:
          description: 'The ID of the hierarchy level. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
        issueTypeIds:
          description: The issue types available in this hierarchy level.
          items:
            format: int64
            type: integer
          type: array
        level:
          description: The level of this item in the hierarchy.
          format: int32
          type: integer
        name:
          description: The name of this hierarchy level.
          type: string
        projectConfigurationId:
          description: 'The ID of the project configuration. This property is deprecated, see [Change oticen: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
      type: object
    SimpleListWrapperApplicationRole:
      additionalProperties: false
      properties:
        callback:
          $ref: '#/components/schemas/ListWrapperCallbackApplicationRole'
        items:
          items:
            $ref: '#/components/schemas/ApplicationRole'
          type: array
        max-results:
          format: int32
          type: integer
          xml:
            attribute: true
            name: max-results
        pagingCallback:
          $ref: '#/components/schemas/ListWrapperCallbackApplicationRole'
        size:
          format: int32
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: list
    ProjectPermissions:
      additionalProperties: false
      description: Permissions which a user has on a project.
      properties:
        canEdit:
          description: Whether the logged user can edit the project.
          readOnly: true
          type: boolean
      type: object
    Version:
      additionalProperties: false
      description: Details about a project version.
      properties:
        approvers:
          description: If the expand option `approvers` is used, returns a list containing the approvers for this version.
          items:
            $ref: '#/components/schemas/VersionApprover'
          readOnly: true
          type: array
        archived:
          description: Indicates that the version is archived. Optional when creating or updating a version.
          type: boolean
        description:
          description: The description of the version. Optional when creating or updating a version. The maximum size is 16,384 bytes.
          type: string
        driver:
          description: If the expand option `driver` is used, returns the Atlassian account ID of the driver.
          readOnly: true
          type: string
        expand:
          description: "Use [expand](em>#expansion) to include additional information about version in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `operations` Returns the list of operations available for this version.\n *  `issuesstatus` Returns the count of issues in this version for each of the status categories *to do*, *in progress*, *done*, and *unmapped*. The *unmapped* property contains a count of issues with a status other than *to do*, *in progress*, and *done*.\n *  `driver` Returns the Atlassian account ID of the version driver.\n *  `approvers` Returns a list containing approvers for this version.\n\nOptional for create and update."
          type: string
          xml:
            attribute: true
        id:
          description: The ID of the version.
          readOnly: true
          type: string
        issuesStatusForFixVersion:
          allOf:
          - $ref: '#/components/schemas/VersionIssuesStatus'
          description: If the expand option `issuesstatus` is used, returns the count of issues in this version for each of the status categories *to do*, *in progress*, *done*, and *unmapped*. The *unmapped* property contains a count of issues with a status other than *to do*, *in progress*, and *done*.
          readOnly: true
        moveUnfixedIssuesTo:
          description: The URL of the self link to the version to which all unfixed issues are moved when a version is released. Not applicable when creating a version. Optional when updating a version.
          format: uri
          type: string
        name:
          description: The unique name of the version. Required when creating a version. Optional when updating a version. The maximum length is 255 characters.
          type: string
        operations:
          description: If the expand option `operations` is used, returns the list of operations available for this version.
          items:
            $ref: '#/components/schemas/SimpleLink'
          readOnly: true
          type: array
        overdue:
          description: Indicates that the version is overdue.
          readOnly: true
          type: boolean
        project:
          description: Deprecated. Use `projectId`.
          type: string
        projectId:
          description: The ID of the project to which this version is attached. Required when creating a version. Not applicable when updating a version.
          format: int64
          type: integer
        releaseDate:
          description: The release date of the version. Expressed in ISO 8601 format (yyyy-mm-dd). Optional when creating or updating a version.
          format: date
          type: string
        released:
          description: Indicates that the version is released. If the version is released a request to release again is ignored. Not applicable when creating a version. Optional when updating a version.
          type: boolean
        self:
          description: The URL of the version.
          format: uri
          readOnly: true
          type: string
        startDate:
          description: The start date of the version. Expressed in ISO 8601 format (yyyy-mm-dd). Optional when creating or updating a version.
          format: date
          type: string
        userReleaseDate:
          description: The date on which work on this version is expected to finish, expressed in the instance's *Day/Month/Year Format* date format.
          readOnly: true
          type: string
        userStartDate:
          description: The date on which work on this version is expected to start, expressed in the instance's *Day/Month/Year Format* date format.
          readOnly: true
          type: string
      type: object
      xml:
        name: version
    ProjectRoleUser:
      additionalProperties: false
      description: Details of the user associated with the role.
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*. Returns *unknown* if the record is deleted and corrupted, for example, as the result of a server import.
          maxLength: 128
          readOnly: true
          type: string
      type: object
    ApplicationRole:
      additionalProperties: false
      description: Details of an application role.
      properties:
        defaultGroups:
          description: The groups that are granted default access for this application role. As a group's name can change, use of `defaultGroupsDetails` is recommended to identify a groups.
          items:
            type: string
          type: array
          uniqueItems: true
        defaultGroupsDetails:
          description: The groups that are granted default access for this application role.
          items:
            $ref: '#/components/schemas/GroupName'
          type: array
        defined:
          description: Deprecated.
          type: boolean
        groupDetails:
          description: The groups associated with the application role.
          items:
            $ref: '#/components/schemas/GroupName'
          type: array
        groups:
          description: The groups associated with the application role. As a group's name can change, use of `groupDetails` is recommended to identify a groups.
          items:
            type: string
          type: array
          uniqueItems: true
        hasUnlimitedSeats:
          type: boolean
        key:
          description: The key of the application role.
          type: string
        name:
          description: The display name of the application role.
          type: string
        numberOfSeats:
          description: The maximum count of users on your license.
          format: int32
          type: integer
        platform:
          description: Indicates if the application role belongs to Jira platform (`jira-core`).
          type: boolean
        remainingSeats:
          description: The count of users remaining on your license.
          format: int32
          type: integer
        selectedByDefault:
          description: Determines whether this application role should be selected by default on user creation.
          type: boolean
        userCount:
          description: The number of users counting against your license.
          format: int32
          type: integer
        userCountDescription:
          description: The [type of users](https://confluence.atlassian.com/x/lRW3Ng) being counted against your license.
          type: string
      type: object
    VersionIssuesStatus:
      additionalProperties: true
      description: Counts of the number of issues in various statuses.
      properties:
        done:
          description: Count of issues with status *done*.
          format: int64
          readOnly: true
          type: integer
        inProgress:
          description: Count of issues with status *in progress*.
          format: int64
          readOnly: true
          type: integer
        toDo:
          description: Count of issues with status *to do*.
          format: int64
          readOnly: true
          type: integer
        unmapped:
          description: Count of issues with a status other than *to do*, *in progress*, and *done*.
          format: int64
          readOnly: true
          type: integer
      type: object
    ProjectRole:
      additionalProperties: false
      description: Details about the roles in a project.
      properties:
        actors:
          description: The list of users who act in this role.
          items:
            $ref: '#/components/schemas/RoleActor'
          readOnly: true
          type: array
        admin:
          description: Whether this role is the admin role for the project.
          readOnly: true
          type: boolean
        currentUserRole:
          description: Whether the calling user is part of this role.
          type: boolean
        default:
          description: Whether this role is the default role for the project
          readOnly: true
          type: boolean
        description:
          description: The description of the project role.
          readOnly: true
          type: string
        id:
          description: The ID of the project role.
          format: int64
          readOnly: true
          type: integer
        name:
          description: The name of the project role.
          type: string
        roleConfigurable:
          description: Whether the roles are configurable for this project.
          readOnly: true
          type: boolean
        scope:
          allOf:
          - $ref: '#/components/schemas/Scope'
          description: The scope of the role. Indicated for roles associated with [next-gen projects](https://confluence.atlassian.com/x/loMyO).
          readOnly: true
        self:
          description: The URL the project role details.
          format: uri
          readOnly: true
          type: string
        translatedName:
          description: The translated name of the project role.
          type: string
      type: object
    ProjectComponent:
      additionalProperties: false
      description: Details about a project component.
      properties:
        ari:
          description: Compass component's ID. Can't be updated. Not required for creating a Project Component.
          readOnly: true
          type: string
        assignee:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The details of the user associated with `assigneeType`, if any. See `realAssignee` for details of the user assigned to issues created with this component.
          readOnly: true
        assigneeType:
          description: "The nominal user type used to determine the assignee for issues created with this component. See `realAssigneeType` for details on how the type of the user, and hence the user, assigned to issues is determined. Can take the following values:\n\n *  `PROJECT_LEAD` the assignee to any issues created with this component is nominally the lead for the project the component is in.\n *  `COMPONENT_LEAD` the assignee to any issues created with this component is nominally the lead for the component.\n *  `UNASSIGNED` an assignee is not set for issues created with this component.\n *  `PROJECT_DEFAULT` the assignee to any issues created with this component is nominally the default assignee for the project that the component is in.\n\nDefault value: `PROJECT_DEFAULT`.  \nOptional when creating or updating a component."
          enum:
          - PROJECT_DEFAULT
          - COMPONENT_LEAD
          - PROJECT_LEAD
          - UNASSIGNED
          type: string
        description:
          description: The description for the component. Optional when creating or updating a component.
          type: string
        id:
          description: The unique identifier for the component.
          readOnly: true
          type: string
        isAssigneeTypeValid:
          description: Whether a user is associated with `assigneeType`. For example, if the `assigneeType` is set to `COMPONENT_LEAD` but the component lead is not set, then `false` is returned.
          readOnly: true
          type: boolean
        lead:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The user details for the component's lead user.
          readOnly: true
        leadAccountId:
          description: The accountId of the component's lead user. The accountId uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
          maxLength: 128
          type: string
          writeOnly: true
        leadUserName:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          type: string
        metadata:
          additionalProperties:
            readOnly: true
            type: string
          description: Compass component's metadata. Can't be updated. Not required for creating a Project Component.
          readOnly: true
          type: object
        name:
          description: The unique name for the component in the project. Required when creating a component. Optional when updating a component. The maximum length is 255 characters.
          type: string
        project:
          description: The key of the project the component is assigned to. Required when creating a component. Can't be updated.
          type: string
        projectId:
          description: The ID of the project the component is assigned to.
          format: int64
          readOnly: true
          type: integer
        realAssignee:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The user assigned to issues created with this component, when `assigneeType` does not identify a valid assignee.
          readOnly: true
        realAssigneeType:
          description: "The type of the assignee that is assigned to issues created with this component, when an assignee cannot be set from the `assigneeType`. For example, `assigneeType` is set to `COMPONENT_LEAD` but no component lead is set. This property is set to one of the following values:\n\n *  `PROJECT_LEAD` when `assigneeType` is `PROJECT_LEAD` and the project lead has permission to be assigned issues in the project that the component is in.\n *  `COMPONENT_LEAD` when `assignee`Type is `COMPONENT_LEAD` and the component lead has permission to be assigned issues in the project that the component is in.\n *  `UNASSIGNED` when `assigneeType` is `UNASSIGNED` and Jira is configured to allow unassigned issues.\n *  `PROJECT_DEFAULT` when none of the preceding cases are true."
          enum:
          - PROJECT_DEFAULT
          - COMPONENT_LEAD
          - PROJECT_LEAD
          - UNASSIGNED
          readOnly: true
          type: string
        self:
          description: The URL of the component.
          format: uri
          readOnly: true
          type: string
      type: object
      xml:
        name: component
    ProjectInsight:
      additionalProperties: false
      description: Additional details about a project.
      properties:
        lastIssueUpdateTime:
          description: The last issue update time.
          format: date-time
          readOnly: true
          type: string
        totalIssueCount:
          description: Total issue count.
          format: int64
          readOnly: true
          type: integer
      type: object
    AvatarUrlsBean:
      additionalProperties: false
      properties:
        16x16:
          description: The URL of the item's 16x16 pixel avatar.
          format: uri
          type: string
        24x24:
          description: The URL of the item's 24x24 pixel avatar.
          format: uri
          type: string
        32x32:
          description: The URL of the item's 32x32 pixel avatar.
          format: uri
          type: string
        48x48:
          description: The URL of the item's 48x48 pixel avatar.
          format: uri
          type: string
      type: object
    IssueTypeDetails:
      additionalProperties: false
      description: Details about an issue type.
      properties:
        avatarId:
          description: The ID of the issue type's avatar.
          format: int64
          readOnly: true
          type: integer
        description:
          description: The description of the issue type.
          readOnly: true
          type: string
        entityId:
          description: Unique ID for next-gen projects.
          format: uuid
          readOnly: true
          type: string
        hierarchyLevel:
          description: Hierarchy level of the issue type.
          format: int32
          readOnly: true
          type: integer
        iconUrl:
          description: The URL of the issue type's avatar.
          readOnly: true
          type: string
        id:
          description: The ID of the issue type.
          readOnly: true
          type: string
        name:
          description: The name of the issue type.
          readOnly: true
          type: string
        scope:
          allOf:
          - $ref: '#/components/schemas/Scope'
          description: Details of the next-gen projects the issue type is available in.
          readOnly: true
        self:
          description: The URL of these issue type details.
          readOnly: true
          type: string
        subtask:
          description: Whether this issue type is used to create subtasks.
          readOnly: true
          type: boolean
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
