openapi: 3.1.0
info:
  title: Atlassian Admin Account Synchronously API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Synchronously
paths:
  /wiki/rest/api/content/{id}/history/{version}/macro/id/{macroId}/convert/{to}:
    get:
      tags:
      - Synchronously
      summary: Atlassian Get Macro Body by Macro Id and Convert the Representation Synchronously
      description: This API operation retrieves the body content of a specific macro from a particular version of a Confluence page and converts it to a desired representation format synchronously. By providing the content ID, version number, macro ID, and target format in the endpoint path, users can fetch macro content and have it transformed on-the-fly into formats such as view, export_view, styled_view, storage, editor, or anonymous_export_view. This is particularly useful when you need to extract and transform macro content from historical versions of pages without having to manually parse and convert the content, enabling seamless integration with external systems or programmatic content manipulation workflows.
      operationId: getMacroBodyByMacroIdAndConvertTheRepresentationSynchronously
      parameters:
      - name: id
        in: path
        description: The ID for the content that contains the macro.
        required: true
        schema:
          type: string
      - name: version
        in: path
        description: 'The version of the content that contains the macro. Specifying `0` as the `version` will return

          the macro body for the latest content version.'
        required: true
        schema:
          type: integer
          format: int32
      - name: macroId
        in: path
        description: 'The ID of the macro. This is usually passed by the app that the

          macro is in. Otherwise, find the macro ID by querying the desired

          content and version, then expanding the body in storage format.

          For example, ''/content/196611/version/7?expand=content.body.storage''.'
        required: true
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: The content representation to return the macro in.
        schema:
          type: string
      - $ref: '#/components/parameters/bodyConversionExpand'
      - name: spaceKeyContext
        in: query
        description: 'The space key used for resolving embedded content (page includes,

          files, and links) in the content body. For example, if the source content

          contains the link `<ac:link><ri:page ri:content-title="Example page" /><ac:link>`

          and the `spaceKeyContext=TEST` parameter is provided, then the link

          will be converted to a link to the "Example page" page in the "TEST" space.'
        schema:
          type: string
      - name: embeddedContentRender
        in: query
        description: 'Mode used for rendering embedded content, like attachments.


          - `current` renders the embedded content using the latest version.

          - `version-at-save` renders the embedded content using the version at

          the time of save.'
        schema:
          type: string
          default: current
          enum:
          - current
          - version-at-save
      responses:
        '200':
          description: Returned if the requested content body is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentBody'
        '400':
          description: Returned if invalid content representation is requested, or context is missing.
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '404':
          description: 'Returned if;


            - There is no content with the given ID.

            - The calling user does not have permission to view the content.

            - The macro does not exist in the specified version.

            - There is no macro matching the given macro ID or hash.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.metadata:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Embeddable:
      type: object
      additionalProperties: true
    GenericLinks:
      type: object
      additionalProperties:
        oneOf:
        - type: object
          additionalProperties: true
        - type: string
    SuperBatchWebResources:
      type: object
      properties:
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
          example: example_value
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
          example: example_value
        metatags:
          type: string
          example: example_value
        _expandable:
          type: object
          additionalProperties: true
          example: example_value
    ContentBody:
      required:
      - representation
      - value
      type: object
      properties:
        value:
          type: string
          example: example_value
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          - raw
          example: view
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
          example: []
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
          example: example_value
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    EmbeddedContent:
      type: object
      additionalProperties: true
      properties:
        entityId:
          type: integer
          format: int64
          example: '500123'
        entityType:
          type: string
          example: example_value
        entity:
          $ref: '#/components/schemas/Embeddable'
    WebResourceDependencies:
      type: object
      properties:
        _expandable:
          type: object
          additionalProperties: true
          properties:
            uris:
              oneOf:
              - type: string
              - type: object
                additionalProperties: true
          example: example_value
        keys:
          type: array
          items:
            type: string
          example: []
        contexts:
          type: array
          items:
            type: string
          example: []
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            _expandable:
              type: object
              additionalProperties: true
              properties:
                css:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
                js:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
          example: example_value
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
            _expandable:
              type: object
              additionalProperties: true
          example: example_value
        superbatch:
          $ref: '#/components/schemas/SuperBatchWebResources'
  parameters:
    bodyConversionExpand:
      name: expand
      in: query
      description: "A multi-value parameter indicating which properties of the content to expand and populate. Expands are dependent on the\n`to` conversion format and may be irrelevant for certain conversions (e.g. `macroRenderedOutput` is redundant when\nconverting to `view` format). \n\nIf rendering to `view` format, and the body content being converted includes arbitrary nested content (such as macros); then it is \nnecessary to include webresource expands in the request. Webresources for content body are the batched JS and CSS dependencies for\nany nested dynamic content (i.e. macros).\n\n- `embeddedContent` returns metadata for nested content (e.g. page included using page include macro)\n- `mediaToken` returns JWT token for retrieving attachment data from Media API\n- `macroRenderedOutput` additionally converts body to view format\n- `webresource.superbatch.uris.js` returns all common JS dependencies as static URLs\n- `webresource.superbatch.uris.css` returns all common CSS dependencies as static URLs\n- `webresource.superbatch.uris.all` returns all common dependencies as static URLs\n- `webresource.superbatch.tags.all` returns all common JS dependencies as html `<script>` tags\n- `webresource.superbatch.tags.css` returns all common CSS dependencies as html `<style>` tags\n- `webresource.superbatch.tags.js` returns all common dependencies as html `<script>` and `<style>` tags\n- `webresource.uris.js` returns JS dependencies specific to conversion\n- `webresource.uris.css` returns CSS dependencies specific to conversion\n- `webresource.uris.all` returns all dependencies specific to conversion     \n- `webresource.tags.all` returns common JS dependencies as html `<script>` tags\n- `webresource.tags.css` returns common CSS dependencies as html `<style>` tags\n- `webresource.tags.js` returns common dependencies as html `<script>` and `<style>` tags"
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
