openapi: 3.1.0
info:
  title: Atlassian Admin Account Issues API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Issues
paths:
  /repositories/{workspace}/{repo_slug}/components/{component_id}:
    parameters:
    - name: component_id
      in: path
      description: The component's id
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: This API operation retrieves detailed information about a specific component within a Bitbucket repository's issue tracking system. By providing the workspace identifier, repository slug, and component ID in the endpoint path, users can fetch metadata and configuration details for that particular component, which is typically used to categorize and organize issues within the repository. Components help teams structure their issue tracking by grouping related issues together, such as by feature area, module, or subsystem, and this GET request returns the properties and settings associated with the specified component.
      summary: Atlassian Get Component for Issues
      responses:
        '200':
          description: The specified component object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/component'
              examples:
                component:
                  $ref: '#/components/examples/component'
        '404':
          description: The specified repository or component does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getComponentForIssues
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: The List Issues operation retrieves all issues associated with a specific Bitbucket repository within a workspace. By making a GET request to this endpoint with the workspace ID and repository slug as path parameters, users can access a paginated list of issues including their metadata such as title, description, status, priority, assignee, and creation date. This endpoint supports various query parameters for filtering and sorting issues, making it useful for integrating issue tracking data into external applications, generating reports, or building custom dashboards that need to display repository issues programmatically.
      summary: Atlassian List Issues
      responses:
        '200':
          description: A paginated list of the issues matching any filter criteria that were provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_issues'
              examples:
                paginated-issues:
                  $ref: '#/components/examples/paginated-issues'
        '404':
          description: The specified repository does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: listIssues
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Issues
      description: Creates a new issue in the specified Bitbucket repository within a workspace. This POST endpoint allows users to submit issue details such as title, description, priority, and other metadata to track bugs, tasks, or feature requests. The operation requires authentication and appropriate repository permissions, with the workspace and repository slug specified in the URL path to identify the target repository where the issue will be created.
      summary: Atlassian Create an Issue
      responses:
        '201':
          description: The newly created issue.
          headers:
            Location:
              description: The (absolute) URL of the newly created issue.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
              examples:
                issue_2:
                  $ref: '#/components/examples/issue_2'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user isn't authorized to create the issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue'
            examples:
              issue:
                $ref: '#/components/examples/issue'
        description: The new issue. The only required element is `title`. All other elements can be omitted from the body.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: createAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/export:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Issues
      description: The Export Issues endpoint allows users to trigger an export of all issues from a specific repository in Bitbucket. This POST operation is accessed via the path /repositories/{workspace}/{repo_slug}/issues/export, where workspace identifies the Bitbucket workspace and repo_slug specifies the repository containing the issues to be exported. When invoked, this API initiates an asynchronous export process that generates a downloadable file containing issue data from the repository, which can be useful for backup purposes, migration to other systems, reporting, or offline analysis. The exported data typically includes issue details such as titles, descriptions, status, priority, assignees, comments, and other metadata associated with the repository's issue tracker.
      summary: Atlassian Export Issues
      responses:
        '202':
          description: The export job has been accepted
        '401':
          description: The request wasn't authenticated properly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user does not have admin permission on the repo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The repo does not exist or does not have an issue tracker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/export_options'
            examples:
              export-options:
                $ref: '#/components/examples/export-options'
        description: The options to apply to the export. Available options include `project_key` and `project_name` which, if specified, are used as the project key and name in the exported Jira json format. Option `send_email` specifies whether an email should be sent upon export result. Option `include_attachments` specifies whether attachments are included in the export.
      security:
      - oauth2:
        - issue
        - repository:admin
      - basic: []
      - api_key: []
      operationId: exportIssues
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/export/{repo_name}-issues-{task_id}.zip:
    parameters:
    - name: repo_name
      in: path
      description: The name of the repo
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: The ID of the export task
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: This GET operation checks the status of a previously initiated issue export request for a specific Bitbucket repository by polling the export endpoint using the provided task ID. When called, it queries the export job identified by the workspace, repository slug, repository name, and unique task identifier to determine whether the export process is still running, has completed successfully, or has failed. If the export is complete, the endpoint returns the ZIP file containing the exported issues data; otherwise, it provides status information about the ongoing export process. This allows users to monitor long-running export operations and retrieve the results once processing is finished without blocking or timing out during the initial export request.
      summary: Atlassian Check Issue Export Status
      responses:
        '202':
          description: Export job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_job_status'
              examples:
                response:
                  value:
                    type: issue_job_status
                    status: ACCEPTED
                    phase: Initializing
                    total: 0
                    count: 0
                    pct: 0
        '401':
          description: The request wasn't authenticated properly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user does not have admin permission on the repo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No export job has begun
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
        - repository:admin
      - basic: []
      - api_key: []
      operationId: checkIssueExportStatus
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/import:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: This API endpoint allows you to check the status of a bulk issue import operation for a specific Bitbucket repository. By making a GET request to `/repositories/{workspace}/{repo_slug}/issues/import`, you can retrieve information about a previously initiated issue import process, including whether it's still in progress, completed successfully, or encountered any errors. The endpoint requires you to specify both the workspace identifier and the repository slug in the URL path, and it returns details about the import job such as its current state, the number of issues processed, and any relevant metadata associated with the import operation.
      summary: Atlassian Check Issue Import Status
      responses:
        '200':
          description: Import job complete with either FAILURE or SUCCESS status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_job_status'
              examples:
                issue-job-status:
                  $ref: '#/components/examples/issue-job-status'
        '202':
          description: Import job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_job_status'
              examples:
                response:
                  value:
                    type: issue_job_status
                    status: ACCEPTED
                    phase: Attachments
                    total: 15
                    count: 0
                    percent: 0
        '401':
          description: The request wasn't authenticated properly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user does not have admin permission on the repo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No export job has begun
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
        - repository:admin
      - basic: []
      - api_key: []
      operationId: checkIssueImportStatus
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Issues
      description: This API endpoint allows users to import issues in bulk to a Bitbucket repository by sending a POST request to /repositories/{workspace}/{repo_slug}/issues/import. It requires specifying the workspace identifier and repository slug in the URL path, and is designed to facilitate the migration or mass creation of issues from external sources or other issue tracking systems into a Bitbucket repository's issue tracker. The endpoint accepts issue data in the request body and processes multiple issues in a single operation, making it efficient for transferring large sets of issues while maintaining their properties and metadata during the import process.
      summary: Atlassian Import Issues
      responses:
        '202':
          description: Import job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_job_status'
              examples:
                response:
                  value:
                    type: issue_job_status
                    status: ACCEPTED
                    phase: Attachments
                    total: 15
                    count: 0
                    percent: 0
        '401':
          description: The request wasn't authenticated properly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user does not have admin permission on the repo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No export job has begun
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: Import already running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
        - repository:admin
      - basic: []
      - api_key: []
      operationId: importIssues
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Issues
      description: This API operation allows you to permanently delete a specific issue from a Bitbucket repository by sending a DELETE request to the endpoint with the workspace identifier, repository slug, and issue ID as path parameters. When executed successfully, it removes the issue and all associated data from the repository's issue tracker, making it an irreversible action that should be used with caution. The operation requires appropriate permissions within the workspace and repository to perform the deletion, and it's typically used for removing duplicate, spam, or mistakenly created issues from the project's issue tracking system.
      summary: Atlassian Delete an Issue
      responses:
        '200':
          description: The issue object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
        '403':
          description: When the authenticated user isn't authorized to delete the issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: deleteAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Issues
      description: This GET operation retrieves detailed information about a specific issue from a Bitbucket repository by providing the workspace identifier, repository slug, and issue ID as path parameters. It returns comprehensive data about the requested issue including its title, description, status, priority, assignee, reporter, creation and update timestamps, comments, and other metadata associated with the issue. This endpoint is useful for developers and project managers who need to fetch complete details of a particular issue for display in dashboards, integration with third-party tools, or programmatic issue tracking and management within the Atlassian Bitbucket ecosystem.
      summary: Atlassian Get an Issue
      responses:
        '200':
          description: The issue object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
              examples:
                issue_2:
                  $ref: '#/components/examples/issue_2'
        '403':
          description: When the authenticated user isn't authorized to access the issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '410':
          description: The specified issue is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/attachments:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: Returns all attachments for the specified issue in a Bitbucket repository. This GET endpoint accepts a workspace identifier, repository slug, and issue ID as path parameters to retrieve metadata and download URLs for all files that have been attached to that particular issue. The response includes details such as attachment names, sizes, content types, and links to access each file, making it useful for displaying or downloading issue-related documents, images, or other supporting files programmatively.
      summary: Atlassian List Attachments for an Issue
      responses:
        '200':
          description: A paginated list of all attachments for this issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_issue_attachments'
              examples:
                paginated-issue-attachment:
                  $ref: '#/components/examples/paginated-issue-attachment'
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: listAttachmentsForAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Issues
      description: This API endpoint allows users to upload file attachments to a specific issue within a Bitbucket repository by making a POST request to the path /repositories/{workspace}/{repo_slug}/issues/{issue_id}/attachments, where {workspace} represents the Bitbucket workspace identifier, {repo_slug} is the repository's unique identifier, and {issue_id} is the specific issue number to which the attachment will be added. The operation requires the file to be sent as multipart/form-data in the request body, and upon successful execution, it attaches the uploaded file to the designated issue, making it accessible to other users viewing that issue. This functionality is commonly used to provide additional context, documentation, screenshots, or logs related to the issue being tracked.
      summary: Atlassian Upload an Attachment to an Issue
      responses:
        '201':
          description: An empty response document.
          headers:
            Location:
              description: The URL to the issue's collection of attachments.
              schema:
                type: string
        '400':
          description: If no files were uploaded, or if the wrong `Content-Type` was used.
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: uploadAnAttachmentToAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/attachments/{path}:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Issues
      description: This API operation allows you to delete a specific attachment from an issue in a Bitbucket repository by providing the workspace identifier, repository slug, issue ID, and the path or filename of the attachment you wish to remove. When executed, it permanently removes the designated file attachment that was previously uploaded to the specified issue, helping to manage and maintain issue-related documentation and files within your Bitbucket workspace. The operation requires appropriate permissions to modify issue attachments in the target repository.
      summary: Atlassian Delete an Attachment for an Issue
      responses:
        '204':
          description: Indicates that the deletion was successful
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: deleteAnAttachmentForAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Issues
      description: This API operation retrieves a specific attachment file associated with an issue in a Bitbucket repository by providing the workspace identifier, repository slug, issue ID, and the path to the attachment file. When called, it returns the binary content of the requested attachment, allowing users to download or access files that have been previously uploaded to an issue, such as screenshots, logs, or other supporting documentation that help describe or troubleshoot the reported issue.
      summary: Atlassian Get Attachment for an Issue
      responses:
        '302':
          description: A redirect to the file's contents
          headers:
            Location:
              schema:
                type: string
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getAttachmentForAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/changes:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: Returns all the issue changes that were made on the specified issue. This endpoint retrieves the complete change history for a particular issue in a Bitbucket repository, allowing you to track modifications such as status updates, assignee changes, priority adjustments, and other field modifications over time. The response includes details about who made each change, when it occurred, and what specifically was altered, providing full audit trail capabilities for issue tracking and management within the workspace's repository.
      summary: Atlassian List Changes on an Issue
      responses:
        '200':
          description: Returns all the issue changes that were made on the specified issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_log_entries'
              examples:
                paginated-log-entries:
                  $ref: '#/components/examples/paginated-log-entries'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for details.'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property to sort results. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results)

          for details.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: listChangesOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Issues
      description: 'This POST operation allows you to modify the state of a specific issue within a Bitbucket repository by submitting change requests to the issue''s change log. The endpoint requires three path parameters: the workspace identifier, the repository slug, and the issue ID you want to update. When called, it creates a new change entry that can update various issue properties such as status, priority, assignee, or other configurable fields depending on your repository''s issue tracker settings. This operation is particularly useful for programmatically managing issue workflows, automating state transitions, or integrating external tools with Bitbucket''s issue tracking system. The API expects the change data in the request body and returns the updated change record upon successful execution, making it essential for teams that want to maintain issue histories and track modifications across their development lifecycle.'
      summary: Atlassian Modify the State of an Issue
      responses:
        '201':
          description: The newly created issue change.
          headers:
            Location:
              description: The (absolute) URL of the newly created issue change.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_change'
              examples:
                issue-change_2:
                  $ref: '#/components/examples/issue-change_2'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user isn't authorized to modify the issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue_change'
            examples:
              issue-change:
                $ref: '#/components/examples/issue-change'
        description: The new issue state change. The only required elements are `changes.[].new`. All other elements can be omitted from the body.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: modifyTheStateOfAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/changes/{change_id}:
    parameters:
    - name: change_id
      in: path
      description: The issue change id
      required: true
      schema:
        type: string
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: This GET endpoint retrieves a specific change object associated with an issue in a Bitbucket repository, allowing users to examine the detailed history of modifications made to a particular issue. By providing the workspace identifier, repository slug, issue ID, and change ID in the URL path, the API returns comprehensive information about a single change event, including what was modified, when the change occurred, and who made the modification. This is particularly useful for tracking issue evolution, auditing purposes, or understanding the context of specific updates made to issues within the repository's issue tracking system.
      summary: Atlassian Get Issue Change Object
      responses:
        '200':
          description: The specified issue change object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_change'
              examples:
                issue-change_2:
                  $ref: '#/components/examples/issue-change_2'
        '404':
          description: The specified repository or issue change does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getIssueChangeObject
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/comments:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: This GET operation retrieves all comments associated with a specific issue in a Bitbucket repository. By providing the workspace identifier, repository slug, and issue ID as path parameters, the endpoint returns a paginated list of comments that have been posted on that particular issue. The response includes comment metadata such as the comment content, author information, creation and update timestamps, and any related links. This is useful for developers and project managers who need to review discussions, feedback, or troubleshooting information related to a specific issue within their repository's issue tracking system.
      summary: Atlassian List Comments on an Issue
      responses:
        '200':
          description: A paginated list of issue comments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_issue_comments'
              examples:
                paginated-issue-comments:
                  $ref: '#/components/examples/paginated-issue-comments'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: listCommentsOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Issues
      description: Creates a new comment on the specified issue in a Bitbucket repository. This POST endpoint requires authentication and targets a specific issue within a repository by providing the workspace identifier, repository slug, and issue ID in the URL path. The request body should contain the comment content and any additional metadata according to Bitbucket's comment schema. Upon successful execution, the API returns the newly created comment object including its unique identifier, author information, timestamp, and content. This operation is commonly used for adding feedback, updates, or discussions to existing issues in a repository's issue tracker, enabling team collaboration and communication around specific problems or feature requests.
      summary: Atlassian Create Comment on an Issue
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly issue comment.
              schema:
                type: string
        '400':
          description: 'If the input was invalid, or if the comment being created is detected as spam '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue_comment'
            examples:
              issue-comment:
                $ref: '#/components/examples/issue-comment'
        description: The new issue comment object.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: createCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Issues
      description: This API operation allows you to delete a specific comment from an issue in a Bitbucket repository. By sending a DELETE request to the endpoint with the workspace ID, repository slug, issue ID, and comment ID, you can permanently remove a comment that was previously added to an issue. This is useful for removing outdated, incorrect, or inappropriate comments from issue discussions. The authenticated user must have appropriate permissions to delete the comment, typically requiring either ownership of the comment or administrative access to the repository. Once deleted, the comment cannot be recovered and will be removed from the issue's comment thread.
      summary: Atlassian Delete Comment on an Issue
      responses:
        '204':
          description: Indicates successful deletion.
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: deleteCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Issues
      description: This API operation retrieves a specific comment from an issue within a Bitbucket repository by providing the workspace identifier, repository slug, issue ID, and comment ID in the endpoint path. It returns detailed information about the comment including its content, author, creation date, modification history, and any associated metadata. This GET request is useful for accessing individual comment details without fetching all comments on an issue, enabling efficient retrieval of specific discussion threads or responses within the repository's issue tracking system.
      summary: Atlassian Get Comment on an Issue
      responses:
        '200':
          description: The issue comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_comment'
              examples:
                issue-comment_2:
                  $ref: '#/components/examples/issue-comment_2'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Issues
      description: This PUT operation updates an existing comment on a specific issue within a Bitbucket repository. By providing the workspace identifier, repository slug, issue ID, and comment ID in the URL path, users can modify the content of a previously posted comment. The request requires authentication and appropriate permissions to edit the comment, typically limited to the comment's original author or users with administrative privileges. The operation accepts updated comment data in the request body and returns the modified comment object with updated metadata such as timestamps. This endpoint is commonly used to correct typos, add additional information, or revise feedback on repository issues while maintaining the comment's history and context within the issue discussion thread.
      summary: Atlassian Update Comment on an Issue
      responses:
        '200':
          description: The updated issue comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_comment'
              examples:
                issue-comment_2:
                  $ref: '#/components/examples/issue-comment_2'
        '400':
          description: 'If the input was invalid, or if the update to the comment is detected as spam '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue_comment'
            examples:
              issue-comment_2:
                $ref: '#/components/examples/issue-comment_2'
        description: The updated comment.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: updateCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/vote:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Issues
      description: This API operation allows you to remove your vote from a specific issue in a Bitbucket repository. By sending a DELETE request to the endpoint with the workspace identifier, repository slug, and issue ID, you can retract a previously cast vote on that issue. This is useful when you no longer wish to express support or priority for a particular issue, effectively decreasing its vote count and potentially affecting its perceived importance or ranking within the project's issue tracker.
      summary: Atlassian Remove Vote for an Issue
      responses:
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account:write
        - issue:write
      - basic: []
      - api_key: []
      operationId: removeVoteForAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Issues
      description: This GET endpoint checks whether the currently authenticated user has voted for a specific issue in a Bitbucket repository. By providing the workspace identifier, repository slug, and issue ID in the URL path, the API returns the voting status of the authenticated user for that particular issue. This operation is useful for applications that need to display voting state or manage user interactions with repository issues, allowing developers to determine if a user has already cast their vote before presenting voting options or updating the UI accordingly.
      summary: Atlassian Check if Current User Voted for an Issue
      responses:
        '204':
          description: If the authenticated user has not voted for this issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the authenticated user has not voted for this issue, or when the repo does not exist, or does not have an issue tracker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account
        - issue
      - basic: []
      - api_key: []
      operationId: checkIfCurrentUserVotedForAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Issues
      description: This API endpoint allows authenticated users to cast a vote in support of a specific issue within a Bitbucket repository. By sending a PUT request to this endpoint with the appropriate workspace identifier, repository slug, and issue ID, users can register their interest or priority for a particular issue, helping repository maintainers understand which issues are most important to the community. The voting mechanism is commonly used to gauge user sentiment and prioritize bug fixes or feature requests, with the PUT method being idempotent, meaning multiple identical requests will have the same effect as a single request.
      summary: Atlassian Vote for an Issue
      responses:
        '204':
          description: Indicating the authenticated user has cast their vote successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account:write
        - issue
      - basic: []
      - api_key: []
      operationId: voteForAnIssue
      x-api-evangelist-processing:
        ChooseTags: true
        WriteDescription: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/watch:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Issues
      description: Removes the authenticated user's watch status from a specific issue in a Bitbucket repository. This endpoint allows users to unsubscribe from notifications and updates related to a particular issue they were previously watching. By sending a DELETE request to this endpoint with the workspace identifier, repository slug, and issue ID, the user will no longer receive notifications when the issue is updated, commented on, or changes status. This is useful for managing notification preferences and reducing alert fatigue when an issue is no longer relevant to the user's work or interests.
      summary: Atlassian Stop Watching an Issue
      responses:
        '204':
          description: Indicates that the authenticated user successfully stopped watching this issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account:write
        - issue:write
      - basic: []
      - api_key: []
      operationId: stopWatchingAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Issues
      description: This GET endpoint allows you to check whether the currently authenticated user is watching a specific issue in a Bitbucket repository. By making a request to this endpoint with the workspace ID, repository slug, and issue ID, you'll receive a response indicating the watch status of the authenticated user for that particular issue. This is useful for applications that need to determine if a user has subscribed to receive notifications about updates, comments, or changes to a specific issue, enabling features like watch/unwatch toggles or displaying watch status indicators in the user interface.
      summary: Atlassian Check if Current User Is Watching Issue
      responses:
        '204':
          description: If the authenticated user is watching this issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the authenticated user is not watching this issue, or when the repo does not exist, or does not have an issue tracker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account
        - issue
      - basic: []
      - api_key: []
      operationId: checkIfCurrentUserIsWatchingIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Issues
      description: This API endpoint allows authenticated users to start watching a specific issue in a Bitbucket repository by sending a PUT request to the specified path with the workspace identifier, repository slug, and issue ID. When executed successfully, the user will receive notifications about subsequent changes, comments, and updates to that particular issue. This is useful for staying informed about issues that are relevant to a user's work or interests without needing to manually check for updates. The operation requires appropriate authentication and the user must have at least read access to the repository containing the issue. The endpoint returns a successful response once the watch has been established for the authenticated user on the specified issue.
      summary: Atlassian Watch an Issue
      responses:
        '204':
          description: Indicates that the authenticated user successfully started watching this issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the authenticated user is not watching this issue, or when the repo does not exist, or does not have an issue tracker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account:write
        - issue
      - basic: []
      - api_key: []
      operationId: watchAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/versions:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: 'This API endpoint retrieves a paginated list of all defined versions associated with a specific repository in Bitbucket. By making a GET request to /repositories/{workspace}/{repo_slug}/versions, users can access version information that is typically used for issue tracking and release management within the repository. The endpoint requires two path parameters: the workspace identifier and the repository slug, which together uniquely identify the target repository. The response returns version objects that may include details such as version names, identifiers, and metadata that teams use to categorize and track issues across different releases or milestones of their software project.'
      summary: Atlassian List Defined Versions for Issues
      responses:
        '200':
          description: The versions that have been defined in the issue tracker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_versions'
              examples:
                paginated-versions:
                  $ref: '#/components/examples/paginated-versions'
        '404':
          description: The specified repository does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: listDefinedVersionsForIssues
      x-api-evangelist-processing:
        ChooseTags: true
        WriteDescription: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/versions/{version_id}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: version_id
      in: path
      description: The version's id
      required: true
      schema:
        type: integer
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Issues
      description: 'This GET operation retrieves a specific defined version for issues within a Bitbucket repository by accessing the endpoint /repositories/{workspace}/{repo_slug}/versions/{version_id}. It requires three path parameters: the workspace identifier, the repository slug (a URL-friendly repository name), and the version_id of the specific version you want to retrieve. This endpoint is useful for fetching detailed information about a particular version or milestone that has been configured for issue tracking within a Bitbucket repository, allowing developers and project managers to access version-specific metadata, release information, and associated issue tracking details programmatically.'
      summary: Atlassian Get Defined Version for Issues
      responses:
        '200':
          description: The specified version object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'
              examples:
                version:
                  $ref: '#/components/examples/version'
        '404':
          description: The specified repository or version does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getDefinedVersionForIssues
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/api/3/issue/archive:
    post:
      deprecated: false
      description: 'Enables admins to archive up to 100,000 issues in a single request using JQL, returning the URL to check the status of the submitted request.<br><br>You can use the [get task](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-tasks/#api-rest-api-3-task-taskid-get) and [cancel task](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-tasks/#api-rest-api-3-task-taskid-cancel-post) APIs to manage the request.<br><br>**Note that:**<br><br> *  you can''t archive subtasks directly, only through their parent issues<br> *  you can only archive issues from software, service management, and business projects<br><br>**[Permissions](#permissions) required:** Jira admin or site admin: [global permission](https://confluence.atlassian.com/x/x4dKLg)<br><br>**License required:** Premium or Enterprise<br><br>**Signed-in users only:** This API can''t be accessed anonymously.<br><br>**Rate limiting:** Only a single request per jira instance can be active at any given time.<br><br>  <br>'
      operationId: atlassianArchiveissuesasync
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              jql: project = FOO AND updated < -2y
            schema:
              $ref: '#/components/schemas/ArchiveIssueAsyncRequest'
        description: A JQL query specifying the issues to archive. Note that subtasks can only be archived through their parent issues.
        required: true
      responses:
        '202':
          content:
            application/json:
              example: '"https://your-domain.atlassian.net/rest/api/3/task/1010"'
              schema:
                type: string
          description: Returns the URL to check the status of the submitted request.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["Invalid JQL. Bad request."],"errors":{}}'
          description: Returned if no issues were archived due to a bad request, for example an invalid JQL query.
        '401':
          content:
            application/json:
              example: '{"errorMessages":["User is not logged in."],"errors":{}}'
          description: Returned if no issues were archived because the provided authentication credentials are either missing or invalid.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Archiving issues is only available for premium editions of Jira."],"errors":{}}'
          description: Returned if no issues were archived because the user lacks the required Jira admin or site admin permissions.
        '412':
          content:
            application/json:
              example: '{"errorMessages":["An issue archival task is already running with ID 1010. To start a new one, cancel the task or wait for it to finish."],"errors":{}}'
          description: Returned if a request to archive issue(s) is already running.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Archive Issue S By Jql
      tags:
      - Issues
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
    put:
      deprecated: false
      description: 'Enables admins to archive up to 1000 issues in a single request using issue ID/key, returning details of the issue(s) archived in the process and the errors encountered, if any.<br><br>**Note that:**<br><br> *  you can''t archive subtasks directly, only through their parent issues<br> *  you can only archive issues from software, service management, and business projects<br><br>**[Permissions](#permissions) required:** Jira admin or site admin: [global permission](https://confluence.atlassian.com/x/x4dKLg)<br><br>**License required:** Premium or Enterprise<br><br>**Signed-in users only:** This API can''t be accessed anonymously.<br><br>  <br>'
      operationId: atlassianArchiveissues
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              issueIdsOrKeys:
              - PR-1
              - '1001'
              - PROJECT-2
            schema:
              $ref: '#/components/schemas/IssueArchivalSyncRequest'
        description: Contains a list of issue keys or IDs to be archived.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"errors":{"issueIsSubtask":{"count":3,"issueIdsOrKeys":["ST-1","ST-2","ST-3"],"message":"Issue is subtask."},"issuesInArchivedProjects":{"count":2,"issueIdsOrKeys":["AR-1","AR-2"],"message":"Issue exists in archived project."},"issuesInUnlicensedProjects":{"count":3,"issueIdsOrKeys":["UL-1","UL-2","UL-3"],"message":"Issues with these IDs are in unlicensed projects."},"issuesNotFound":{"count":3,"issueIdsOrKeys":["PR-1","PR-2","PR-3"],"message":"Issue not found."}},"numberOfIssuesUpdated":10}'
              schema:
                $ref: '#/components/schemas/IssueArchivalSyncResponse'
          description: Returned if there is at least one valid issue to archive in the request. The return message will include the count of archived issues and subtasks, as well as error details for issues which failed to get archived.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["No valid issue to archive or unarchive. Bad request."],"errors":{}}'
          description: "Returned if none of the issues in the request can be archived. Possible reasons:\n\n *  the issues weren't found\n *  the issues are subtasks\n *  the issues belong to unlicensed projects\n *  the issues belong to archived projects"
        '401':
          content:
            application/json:
              example: '{"errorMessages":["User is not logged in."],"errors":{}}'
          description: Returned if no issues were archived because the provided authentication credentials are either missing or invalid.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only admins can archive or unarchive issues. Access denied."],"errors":{}}'
          description: Returned if no issues were archived because the user lacks the required Jira admin or site admin permissions.
        '412':
          content:
            application/json:
              example: '{"errorMessages":["The number of issues to archive or unarchive exceeds the hard limit of 1000. Precondition failed."],"errors":{}}'
          description: Returned if one or more issues were successfully archived, but the operation was incomplete because the number of issue IDs or keys provided exceeds 1000.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Archive Issue S By Issue Id Key
      tags:
      - Issues
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
  /rest/api/3/issue/bulk:
    post:
      deprecated: false
      description: Creates upto **50** issues and, where the option to create subtasks is enabled in Jira, subtasks. Transitions may be applied, to move the issues or subtasks to a workflow step other than the default start step, and issue properties set.<br><br>The content of each issue or subtask is defined using `update` and `fields`. The fields that can be set in the issue or subtask are determined using the [ Get create issue metadata](#api-rest-api-3-issue-createmeta-get). These are the same fields that appear on the issues' create screens. Note that the `description`, `environment`, and any `textarea` type custom fields (multi-line text fields) take Atlassian Document Format content. Single line custom fields (`textfield`) accept a string and don't handle Atlassian Document Format content.<br><br>Creating a subtask differs from creating an issue as follows:<br><br> *  `issueType` must be set to a subtask issue type (use [ Get create issue metadata](#api-rest-api-3-issue-createmeta-get) to find subtask issue types).<br> *  `parent` the must contain the ID or key of the parent issue.<br><br>**[Permissions](#permissions) required:** *Browse projects* and *Create issues* [project permissions](https://confluence.atlassian.com/x/yodKLg) for the project in which each issue or subtask is created.
      operationId: atlassianCreateissues
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              issueUpdates:
              - fields:
                  assignee:
                    id: 5b109f2e9729b51b54dc274d
                  components:
                  - id: '10000'
                  customfield_10000: 09/Jun/19
                  customfield_20000: 06/Jul/19 3:25 PM
                  customfield_30000:
                  - '10000'
                  - '10002'
                  customfield_40000:
                    content:
                    - content:
                      - text: Occurs on all orders
                        type: text
                      type: paragraph
                    type: doc
                    version: 1
                  customfield_50000:
                    content:
                    - content:
                      - text: Could impact day-to-day work.
                        type: text
                      type: paragraph
                    type: doc
                    version: 1
                  customfield_60000: jira-software-users
                  customfield_70000:
                  - jira-administrators
                  - jira-software-users
                  customfield_80000:
                    value: red
                  description:
                    content:
                    - content:
                      - text: Order entry fails when selecting supplier.
                        type: text
                      type: paragraph
                    type: doc
                    version: 1
                  duedate: '2011-03-11'
                  environment:
                    content:
                    - content:
                      - text: UAT
                        type: text
                      type: paragraph
                    type: doc
                    version: 1
                  fixVersions:
                  - id: '10001'
                  issuetype:
                    id: '10000'
                  labels:
                  - bugfix
                  - blitz_test
                  priority:
                    id: '20000'
                  project:
                    id: '10000'
                  reporter:
                    id: 5b10a2844c20165700ede21g
                  security:
                    id: '10000'
                  summary: Main order flow broken
                  timetracking:
                    originalEstimate: '10'
                    remainingEstimate: '5'
                  versions:
                  - id: '10000'
                update:
                  worklog:
                  - add:
                      started: 2019-07-05T11:05:00.000+0000
                      timeSpent: 60m
              - fields:
                  assignee:
                    id: 5b109f2e9729b51b54dc274d
                  components:
                  - id: '10000'
                  customfield_10000: 09/Jun/19
                  customfield_20000: 06/Jul/19 3:25 PM
                  customfield_30000:
                  - '10000'
                  - '10002'
                  customfield_40000:
                    content:
                    - content:
                      - text: Occurs on all orders
                        type: text
                      type: paragraph
                    type: doc
                    version: 1
                  customfield_50000:
                    content:
                    - content:
                      - text: Could impact day-to-day work.
                        type: text
                      type: paragraph
                    type: doc
                    version: 1
                  customfield_60000: jira-software-users
                  customfield_70000:
                  - jira-administrators
                  - jira-software-users
                  customfield_80000:
                    value: red
                  description:
                    content:
                    - content:
                      - text: Order remains pending after approved.
                        type: text
                      type: paragraph
                    type: doc
                    version: 1
                  duedate: '2019-04-16'
                  environment:
                    content:
                    - content:
                      - text: UAT
                        type: text
                      type: paragraph
                    type: doc
                    version: 1
                  fixVersions:
                  - id: '10001'
                  issuetype:
                    id: '10000'
                  labels:
                  - new_release
                  priority:
                    id: '20000'
                  project:
                    id: '1000'
                  reporter:
                    id: 5b10a2844c20165700ede21g
                  security:
                    id: '10000'
                  summary: Order stuck in pending
                  timetracking:
                    originalEstimate: '15'
                    remainingEstimate: '5'
                  versions:
                  - id: '10000'
                update: {}
            schema:
              $ref: '#/components/schemas/IssuesUpdateBean'
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"issues":[{"id":"10000","key":"ED-24","self":"https://your-domain.atlassian.net/rest/api/3/issue/10000","transition":{"status":200,"errorCollection":{"errorMessages":[],"errors":{}}}},{"id":"10001","key":"ED-25","self":"https://your-domain.atlassian.net/rest/api/3/issue/10001"}],"errors":[]}'
              schema:
                $ref: '#/components/schemas/CreatedIssues'
          description: "Returned if any of the issue or subtask creation requests were successful. A request may be unsuccessful when it:\n\n *  is missing required fields.\n *  contains invalid field values.\n *  contains fields that cannot be set for the issue type.\n *  is by a user who does not have the necessary permission.\n *  is to create a subtype in a project different that of the parent issue.\n *  is for a subtask when the option to create subtasks is disabled.\n *  is invalid for any other reason."
        '400':
          content:
            application/json:
              example: '{"issues":[],"errors":[{"elementErrors":{"errorMessages":[],"errors":{"issuetype":"The issue type selected is invalid.","project":"Sub-tasks must be created in the same project as the parent."}},"failedElementNumber":0,"status":400},{"elementErrors":{"errorMessages":[],"errors":{"issuetype":"The issue type selected is invalid.","project":"Sub-tasks must be created in the same project as the parent."}},"failedElementNumber":1,"status":400}]}'
              schema:
                $ref: '#/components/schemas/CreatedIssues'
          description: "Returned if all requests are invalid. Requests may be unsuccessful when they:\n\n *  are missing required fields.\n *  contain invalid field values.\n *  contain fields that cannot be set for the issue type.\n *  are by a user who does not have the necessary permission.\n *  are to create a subtype in a project different that of the parent issue.\n *  is for a subtask when the option to create subtasks is disabled.\n *  are invalid for any other reason."
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Bulk Create Issue
      tags:
      - Issues
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue:jira
        - write:comment:jira
        - write:comment.property:jira
        - write:attachment:jira
        - read:issue:jira
        state: Beta
      x-atlassian-connect-scope: WRITE
  /rest/api/3/issue/createmeta:
    get:
      deprecated: true
      description: Returns details of projects, issue types within projects, and, when requested, the create screen fields for each issue type for the user. Use the information to populate the requests in [ Create issue](#api-rest-api-3-issue-post) and [Create issues](#api-rest-api-3-issue-bulk-post).<br><br>The request can be restricted to specific projects or issue types using the query parameters. The response will contain information for the valid projects, issue types, or project and issue type combinations requested. Note that invalid project, issue type, or project and issue type combinations do not generate errors.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Create issues* [project permission](https://confluence.atlassian.com/x/yodKLg) in the requested projects.
      operationId: atlassianGetcreateissuemeta
      parameters:
      - description: List of project IDs. This parameter accepts a comma-separated list. Multiple project IDs can also be provided using an ampersand-separated list. For example, `projectIds=10000,10001&projectIds=10020,10021`. This parameter may be provided with `projectKeys`.
        in: query
        name: projectIds
        schema:
          items:
            type: string
          type: array
      - description: List of project keys. This parameter accepts a comma-separated list. Multiple project keys can also be provided using an ampersand-separated list. For example, `projectKeys=proj1,proj2&projectKeys=proj3`. This parameter may be provided with `projectIds`.
        in: query
        name: projectKeys
        schema:
          items:
            type: string
          type: array
      - description: List of issue type IDs. This parameter accepts a comma-separated list. Multiple issue type IDs can also be provided using an ampersand-separated list. For example, `issuetypeIds=10000,10001&issuetypeIds=10020,10021`. This parameter may be provided with `issuetypeNames`.
        in: query
        name: issuetypeIds
        schema:
          items:
            type: string
          type: array
      - description: List of issue type names. This parameter accepts a comma-separated list. Multiple issue type names can also be provided using an ampersand-separated list. For example, `issuetypeNames=name1,name2&issuetypeNames=name3`. This parameter may be provided with `issuetypeIds`.
        in: query
        name: issuetypeNames
        schema:
          items:
            type: string
          type: array
      - description: Use [expand](#expansion) to include additional information about issue metadata in the response. This parameter accepts `projects.issuetypes.fields`, which returns information about the fields in the issue creation screen for each issue type. Fields hidden from the screen are not returned. Use the information to populate the `fields` and `update` fields in [Create issue](#api-rest-api-3-issue-post) and [Create issues](#api-rest-api-3-issue-bulk-post).
        in: query
        name: expand
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"projects":[{"avatarUrls":{"16x16":"https://your-domain.atlassian.net/secure/projectavatar?size=xsmall&pid=10000&avatarId=10011","24x24":"https://your-domain.atlassian.net/secure/projectavatar?size=small&pid=10000&avatarId=10011","32x32":"https://your-domain.atlassian.net/secure/projectavatar?size=medium&pid=10000&avatarId=10011","48x48":"https://your-domain.atlassian.net/secure/projectavatar?pid=10000&avatarId=10011"},"id":"10000","issuetypes":[{"description":"An error in the code","fields":{"issuetype":{"allowedValues":["set"],"autoCompleteUrl":"issuetype","hasDefaultValue":false,"key":"issuetype","name":"Issue Type","required":true}},"iconUrl":"https://your-domain.atlassian.net/images/icons/issuetypes/bug.png","id":"1","name":"Bug","self":"https://your-domain.atlassian.net/rest/api/3/issueType/1","subtask":false}],"key":"ED","name":"Edison Project","self":"https://your-domain.atlassian.net/rest/api/3/project/ED"}]}'
              schema:
                $ref: '#/components/schemas/IssueCreateMetadata'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Create Issue Metadata
      tags:
      - Issues
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-meta:jira
        - read:avatar:jira
        - read:field-configuration:jira
        state: Beta
      x-changes:
      - announced: '2023-12-11'
        details: https://developer.atlassian.com/cloud/jira/platform/changelog/#CHANGE-1304
        effective: '2024-06-03'
        type: removed
      x-atlassian-connect-scope: READ
  /rest/api/3/issue/createmeta/{projectIdOrKey}/issuetypes:
    get:
      deprecated: false
      description: Returns a page of issue type metadata for a specified project. Use the information to populate the requests in [ Create issue](#api-rest-api-3-issue-post) and [Create issues](#api-rest-api-3-issue-bulk-post).<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Create issues* [project permission](https://confluence.atlassian.com/x/yodKLg) in the requested projects.
      operationId: atlassianGetcreateissuemetaissuetypes
      parameters:
      - description: The ID or key of the project.
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int32
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          maximum: 200
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"issueTypes":[{"description":"An error in the code","iconUrl":"https://your-domain.atlassian.net/images/icons/issuetypes/bug.png","id":"1","name":"Bug","self":"https://your-domain.atlassian.net/rest/api/3/issueType/1","subtask":false}],"maxResults":1,"startAt":0,"total":1}'
              schema:
                $ref: '#/components/schemas/PageOfCreateMetaIssueTypes'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["Parameter ''maxResults'' must not exceed the limit ''200''"],"errors":{},"httpStatusCode":{"empty":false,"present":true}}'
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Create Metadata Issue Types For A Project
      tags:
      - Issues
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-meta:jira
        - read:avatar:jira
        - read:field-configuration:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/issue/createmeta/{projectIdOrKey}/issuetypes/{issueTypeId}:
    get:
      deprecated: false
      description: Returns a page of field metadata for a specified project and issuetype id. Use the information to populate the requests in [ Create issue](#api-rest-api-3-issue-post) and [Create issues](#api-rest-api-3-issue-bulk-post).<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** *Create issues* [project permission](https://confluence.atlassian.com/x/yodKLg) in the requested projects.
      operationId: atlassianGetcreateissuemetaissuetypeid
      parameters:
      - description: The ID or key of the project.
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      - description: The issuetype ID.
        in: path
        name: issueTypeId
        required: true
        schema:
          type: string
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int32
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          maximum: 200
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"fields":[{"fieldId":"assignee","hasDefaultValue":false,"key":"assignee","name":"Assignee","operations":["set"],"required":true}],"maxResults":1,"startAt":0,"total":1}'
              schema:
                $ref: '#/components/schemas/PageOfCreateMetaIssueTypeWithField'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["Parameter ''maxResults'' must not exceed the limit ''200''"],"errors":{},"httpStatusCode":{"empty":false,"present":true}}'
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Create Field Metadata For A Project And Issue Type Id
      tags:
      - Issues
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-meta:jira
        - read:avatar:jira
        - read:field-configuration:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/issue/unarchive:
    put:
      deprecated: false
      description: 'Enables admins to unarchive up to 1000 issues in a single request using issue ID/key, returning details of the issue(s) unarchived in the process and the errors encountered, if any.<br><br>**Note that:**<br><br> *  you can''t unarchive subtasks directly, only through their parent issues<br> *  you can only unarchive issues from software, service management, and business projects<br><br>**[Permissions](#permissions) required:** Jira admin or site admin: [global permission](https://confluence.atlassian.com/x/x4dKLg)<br><br>**License required:** Premium or Enterprise<br><br>**Signed-in users only:** This API can''t be accessed anonymously.<br><br>  <br>'
      operationId: atlassianUnarchiveissues
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              issueIdsOrKeys:
              - PR-1
              - '1001'
              - PROJECT-2
            schema:
              $ref: '#/components/schemas/IssueArchivalSyncRequest'
        description: Contains a list of issue keys or IDs to be unarchived.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"errors":{"issueIsSubtask":{"count":3,"issueIdsOrKeys":["ST-1","ST-2","ST-3"],"message":"Issue is subtask."},"issuesInArchivedProjects":{"count":2,"issueIdsOrKeys":["AR-1","AR-2"],"message":"Issue exists in archived project."},"issuesNotFound":{"count":3,"issueIdsOrKeys":["PR-1","PR-2","PR-3"],"message":"Issue not found."}},"numberOfIssuesUpdated":10}'
              schema:
                $ref: '#/components/schemas/IssueArchivalSyncResponse'
          description: Returned if there is at least one valid issue to unarchive in the request. It will return the count of unarchived issues, which also includes the count of the subtasks unarchived, and it will show the detailed errors for those issues which are not unarchived.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["No valid issue to archive or unarchive. Bad request."],"errors":{}}'
          description: "Returned if none of the issues in the request are eligible to be unarchived. Possible reasons:\n\n *  the issues weren't found\n *  the issues are subtasks\n *  the issues belong to archived projects"
        '401':
          content:
            application/json:
              example: '{"errorMessages":["User is not logged in."],"errors":{}}'
          description: Returned if no issues were unarchived because the provided authentication credentials are either missing or invalid.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only admins can archive or unarchive issues. Access denied."],"errors":{}}'
          description: Returned if no issues were unarchived because the user lacks the required Jira admin or site admin permissions.
        '412':
          content:
            application/json:
              example: '{"errorMessages":["The number of issues to archive or unarchive exceeds the hard limit of 1000. Precondition failed."],"errors":{}}'
          description: Returned if one or more issues were successfully unarchived, but the operation was incomplete because the number of issue IDs or keys provided exceeds 1000.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Unarchive Issue S By Issue Keys Id
      tags:
      - Issues
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
  /rest/api/3/issue/{issueIdOrKey}:
    delete:
      deprecated: false
      description: Deletes an issue.<br><br>An issue cannot be deleted if it has one or more subtasks. To delete an issue with subtasks, set `deleteSubtasks`. This causes the issue's subtasks to be deleted with the issue.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Browse projects* and *Delete issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project containing the issue.<br> *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
      operationId: atlassianDeleteissue
[...]
