openapi: 3.1.0
info:
  title: Atlassian Admin Account Log API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Log
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/activity:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Log
      description: 'The Atlassian Bitbucket Pull Requests API endpoint `/repositories/{workspace}/{repo_slug}/pullrequests/activity` using the GET method retrieves a comprehensive activity log of all pull requests within a specified repository. This endpoint requires two path parameters: `workspace` (the workspace ID or slug) and `repo_slug` (the repository identifier), and returns a chronological feed of events and activities related to pull requests, including actions such as creation, updates, comments, approvals, merges, and status changes. The response provides developers and teams with visibility into the complete lifecycle and collaboration history of pull requests in their repository, making it useful for auditing, monitoring team activity, generating reports, or building integrations that need to track pull request workflows and interactions over time.'
      summary: Atlassian List Pull Request Activity Log
      responses:
        '200':
          description: The pull request activity log
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: listPullRequestActivityLog
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/activity:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Log
      description: 'The Atlassian Bitbucket Pull Requests API endpoint `/repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/activity` with the GET method retrieves a comprehensive activity log for a specific pull request within a repository. This endpoint requires three path parameters: the workspace identifier, repository slug, and pull request ID, and returns a chronological list of all activities associated with that pull request, including comments, approvals, status changes, updates, merges, and other interactions performed by users. The activity log provides valuable insight into the collaboration history and lifecycle of the pull request, making it useful for tracking changes, understanding decision-making processes, and maintaining an audit trail of all modifications and discussions that occurred throughout the pull request''s lifetime.'
      summary: Atlassian List Pull Request Activity Log
      responses:
        '200':
          description: The pull request activity log
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: listPullRequestActivityLog
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
