openapi: 3.1.0
info:
  title: Atlassian Admin Account Policies API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Policies
  description: Manage organization-level policies.
paths:
  /v1/orgs/{orgId}/policies:
    get:
      operationId: getOrganizationPolicies
      summary: Atlassian Get Organization Policies
      description: Returns a list of policies configured for the organization. Policies define rules and controls for security, authentication, data residency, and other organizational governance settings.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/orgId'
      - name: cursor
        in: query
        description: Cursor for paginated results.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filter policies by type.
        required: false
        schema:
          type: string
          enum:
          - ip-allowlist
          - data-residency
          - authentication
          - external-user
          - user-security
      responses:
        '200':
          description: Successful response containing a paginated list of policies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyPage'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/orgs/{orgId}/policies/{policyId}:
    get:
      operationId: getPolicyById
      summary: Atlassian Get Policy by Id
      description: Returns details of a specific policy by its unique identifier.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/orgId'
      - name: policyId
        in: path
        required: true
        description: The unique identifier of the policy.
        schema:
          type: string
      responses:
        '200':
          description: Successful response containing the policy details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updatePolicy
      summary: Atlassian Update a Policy
      description: Updates an existing organization policy.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/orgId'
      - name: policyId
        in: path
        required: true
        description: The unique identifier of the policy.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyUpdateRequest'
      responses:
        '200':
          description: Policy successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PolicyPage:
      type: object
      description: A paginated list of policies.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Policy'
          description: The list of policies.
          example: []
        links:
          $ref: '#/components/schemas/PaginationLinks'
    ErrorResponse:
      type: object
      description: Standard error response.
      properties:
        code:
          type: integer
          description: The HTTP status code.
          example: 10
        message:
          type: string
          description: A human-readable error message.
          example: example_value
        errors:
          type: array
          description: Detailed error information.
          items:
            type: object
            properties:
              code:
                type: string
                description: A machine-readable error code.
              message:
                type: string
                description: A human-readable description of the error.
          example: []
    Policy:
      type: object
      description: Represents an organization-level policy that defines rules and controls for security, authentication, and governance.
      properties:
        id:
          type: string
          description: The unique identifier of the policy.
          example: abc123
        type:
          type: string
          description: The type of policy.
          enum:
          - ip-allowlist
          - data-residency
          - authentication
          - external-user
          - user-security
          example: ip-allowlist
        name:
          type: string
          description: The display name of the policy.
          example: Example Title
        status:
          type: string
          description: The current status of the policy.
          enum:
          - enabled
          - disabled
          example: enabled
        attributes:
          type: object
          description: Policy-specific configuration attributes.
          additionalProperties: true
          example: example_value
        resources:
          type: array
          description: Resources this policy applies to.
          items:
            type: object
            properties:
              id:
                type: string
                description: The resource identifier.
              type:
                type: string
                description: The resource type.
          example: []
        created:
          type: string
          format: date-time
          description: When the policy was created.
          example: '2026-01-15T10:30:00Z'
        updated:
          type: string
          format: date-time
          description: When the policy was last updated.
          example: '2026-01-15T10:30:00Z'
    PaginationLinks:
      type: object
      description: Links for cursor-based pagination.
      properties:
        self:
          type: string
          format: uri
          description: Link to the current page.
          example: https://www.example.com
        next:
          type: string
          format: uri
          description: Link to the next page of results.
          example: https://www.example.com
        prev:
          type: string
          format: uri
          description: Link to the previous page of results.
          example: https://www.example.com
    PolicyUpdateRequest:
      type: object
      description: Request body for updating a policy.
      properties:
        name:
          type: string
          description: The updated display name for the policy.
          example: Example Title
        status:
          type: string
          description: The updated status for the policy.
          enum:
          - enabled
          - disabled
          example: enabled
        attributes:
          type: object
          description: Updated policy-specific configuration attributes.
          additionalProperties: true
          example: example_value
  parameters:
    orgId:
      name: orgId
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
