openapi: 3.1.0
info:
  title: Atlassian Admin Account Content Body API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Content Body
paths:
  /wiki/rest/api/contentbody/convert/{to}:
    post:
      tags:
      - Content Body
      summary: Atlassian Convert Content Body
      description: 'Converts a content body from one format to another format.<br><br>Supported conversions:<br><br>- storage: view, export_view, styled_view, editor<br>- editor: storage<br>- view: none<br>- export_view: none<br>- styled_view: none<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>If request specifies ''contentIdContext'', ''View'' permission for the space, and permission to view the content.'
      operationId: atlassianConvertcontentbody
      parameters:
      - name: to
        in: path
        description: The name of the target format for the content body.
        required: true
        schema:
          type: string
      - name: spaceKeyContext
        in: query
        description: 'The space key used for resolving embedded content (page includes,

          files, and links) in the content body. For example, if the source content

          contains the link `<ac:link><ri:page ri:content-title="Example page" /><ac:link>`

          and the `spaceKeyContext=TEST` parameter is provided, then the link

          will be converted to a link to the "Example page" page in the "TEST" space.'
        schema:
          type: string
      - name: contentIdContext
        in: query
        description: 'The content ID used to find the space for resolving embedded content

          (page includes, files, and links) in the content body. For example,

          if the source content contains the link `<ac:link><ri:page ri:content-title="Example page" /><ac:link>`

          and the `contentIdContext=123` parameter is provided, then the link

          will be converted to a link to the "Example page" page in the same space

          that has the content with ID=123. Note, `spaceKeyContext` will be ignored

          if this parameter is provided.'
        schema:
          type: string
      - name: embeddedContentRender
        in: query
        description: 'Mode used for rendering embedded content, like attachments.


          - `current` renders the embedded content using the latest version.

          - `version-at-save` renders the embedded content using the version at

          the time of save.'
        schema:
          type: string
          default: current
          enum:
          - current
          - version-at-save
      - $ref: '#/components/parameters/bodyConversionExpand'
      requestBody:
        description: The content body to convert.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentBodyCreate'
        required: true
      responses:
        '200':
          description: Returned if the content is converted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentBody'
        '400':
          description: Returned if the content body is invalid or if the value is improperly formed.
          content: {}
        '404':
          description: Returned if content cannot be found with the provided context.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.metadata:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: READ
  /wiki/rest/api/contentbody/convert/async/{to}:
    post:
      tags:
      - Content Body
      summary: Atlassian Asynchronously Convert Content Body
      description: 'Converts a content body from one format to another format asynchronously.<br>Returns the asyncId for the asynchronous task.<br><br>Supported conversions:<br><br>- storage: export_view<br><br>No other conversions are supported at the moment.<br>Once a conversion is completed, it will be available for 5 minutes at the result endpoint.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>If request specifies ''contentIdContext'', ''View'' permission for the space, and permission to view the content.'
      operationId: atlassianAsyncconvertcontentbodyrequest
      parameters:
      - name: to
        in: path
        description: The name of the target format for the content body.
        required: true
        schema:
          type: string
          enum:
          - export_view
      - $ref: '#/components/parameters/bodyConversionExpand'
      - name: spaceKeyContext
        in: query
        description: 'The space key used for resolving embedded content (page includes,

          files, and links) in the content body. For example, if the source content

          contains the link `<ac:link><ri:page ri:content-title="Example page" /><ac:link>`

          and the `spaceKeyContext=TEST` parameter is provided, then the link

          will be converted to a link to the "Example page" page in the "TEST" space.'
        schema:
          type: string
      - name: contentIdContext
        in: query
        description: 'The content ID used to find the space for resolving embedded content

          (page includes, files, and links) in the content body. For example,

          if the source content contains the link `<ac:link><ri:page ri:content-title="Example page" /><ac:link>`

          and the `contentIdContext=123` parameter is provided, then the link

          will be converted to a link to the "Example page" page in the same space

          that has the content with ID=123. Note, `spaceKeyContext` will be ignored

          if this parameter is provided.'
        schema:
          type: string
      - name: allowCache
        in: query
        description: "If this field is false, the cache will erase its current value and begin a new conversion.\nIf this field is true, the cache will not erase its current value, and will set the status of the\nasync conversion to RERUNNING. Once the data is updated, the status will change to COMPLETED. \nLarge macros that take long to convert, and whose data need not immediately up to date (same as previous conversion's result within last 5 minutes)\nshould set this fields to true. Cache values are stored per user per content body and expansions."
        schema:
          type: boolean
          default: false
      - name: embeddedContentRender
        in: query
        description: 'Mode used for rendering embedded content, like attachments.


          - `current` renders the embedded content using the latest version.

          - `version-at-save` renders the embedded content using the version at

          the time of save.'
        schema:
          type: string
          default: current
          enum:
          - current
          - version-at-save
      requestBody:
        description: The content body to convert.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentBodyCreate'
        required: true
      responses:
        '200':
          description: Returned if the content is added to the messaging queue for conversion. This id will be available for 5 minutes after the conversion is complete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncId'
        '400':
          description: 'Returned

            - if the content body or conversion context is invalid or null

            - if the value is improperly formed

            - any conversion type other than export_view'
          content: {}
        '404':
          description: Returned if content cannot be found with the provided context.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.metadata:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: READ
  /wiki/rest/api/contentbody/convert/async/{id}:
    get:
      tags:
      - Content Body
      summary: Atlassian Get Asynchronously Converted Content Body From The Id Or The Current Status Of The Task
      description: Returns the asynchronous content body for the corresponding id if the task is complete <br>or returns the status of the task.<br><br>After the task is completed, the result can be obtained for 5 minutes, or until an identical conversion request is made again,<br>with allowCache query param set to false.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>If request specifies 'contentIdContext', 'View' permission for the space, and permission to view the content.
      operationId: atlassianAsyncconvertcontentbodyresponse
      parameters:
      - name: id
        in: path
        description: The asyncId of the macro task to get the converted body.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returned if successfully found an async conversion task associated with the id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncContentBody'
        '400':
          description: Returned if the async id is invalid.
          content: {}
        '401':
          description: Returned if the request was not made by an anonymous user and user is not authenticated.
          content: {}
        '403':
          description: Returned if the requesting user is not the user who made the conversion request.
          content: {}
        '404':
          description: Returned if async macro conversion task cannot be found with the provided id.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.metadata:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: READ
components:
  schemas:
    Embeddable:
      type: object
      additionalProperties: true
    GenericLinks:
      type: object
      additionalProperties:
        oneOf:
        - type: object
          additionalProperties: true
        - type: string
    SuperBatchWebResources:
      type: object
      properties:
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
        metatags:
          type: string
        _expandable:
          type: object
          additionalProperties: true
    AsyncId:
      required:
      - asyncId
      type: object
      properties:
        asyncId:
          type: string
    ContentBodyCreate:
      required:
      - representation
      - value
      type: object
      additionalProperties: true
      properties:
        value:
          type: string
          description: The body of the content in the relevant format.
        representation:
          type: string
          description: 'The content format type. Set the value of this property to

            the name of the format being used, e.g. ''storage''.'
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          - plain
          - raw
      description: This object is used when creating or updating content.
    ContentBody:
      required:
      - representation
      - value
      type: object
      properties:
        value:
          type: string
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          - raw
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    EmbeddedContent:
      type: object
      additionalProperties: true
      properties:
        entityId:
          type: integer
          format: int64
        entityType:
          type: string
        entity:
          $ref: '#/components/schemas/Embeddable'
    AsyncContentBody:
      type: object
      properties:
        value:
          type: string
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
        renderTaskId:
          type: string
        error:
          type: string
        status:
          description: Rerunning is reserved for when the job is working, but there is a previous run's value in the cache. You may choose to continue polling, or use the cached value.
          type: string
          enum:
          - WORKING
          - QUEUED
          - FAILED
          - COMPLETED
          - RERUNNING
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    WebResourceDependencies:
      type: object
      properties:
        _expandable:
          type: object
          additionalProperties: true
          properties:
            uris:
              oneOf:
              - type: string
              - type: object
                additionalProperties: true
        keys:
          type: array
          items:
            type: string
        contexts:
          type: array
          items:
            type: string
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            _expandable:
              type: object
              additionalProperties: true
              properties:
                css:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
                js:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
            _expandable:
              type: object
              additionalProperties: true
        superbatch:
          $ref: '#/components/schemas/SuperBatchWebResources'
  parameters:
    bodyConversionExpand:
      name: expand
      in: query
      description: "A multi-value parameter indicating which properties of the content to expand and populate. Expands are dependent on the\n`to` conversion format and may be irrelevant for certain conversions (e.g. `macroRenderedOutput` is redundant when\nconverting to `view` format). \n\nIf rendering to `view` format, and the body content being converted includes arbitrary nested content (such as macros); then it is \nnecessary to include webresource expands in the request. Webresources for content body are the batched JS and CSS dependencies for\nany nested dynamic content (i.e. macros).\n\n- `embeddedContent` returns metadata for nested content (e.g. page included using page include macro)\n- `mediaToken` returns JWT token for retrieving attachment data from Media API\n- `macroRenderedOutput` additionally converts body to view format\n- `webresource.superbatch.uris.js` returns all common JS dependencies as static URLs\n- `webresource.superbatch.uris.css` returns all common CSS dependencies as static URLs\n- `webresource.superbatch.uris.all` returns all common dependencies as static URLs\n- `webresource.superbatch.tags.all` returns all common JS dependencies as html `<script>` tags\n- `webresource.superbatch.tags.css` returns all common CSS dependencies as html `<style>` tags\n- `webresource.superbatch.tags.js` returns all common dependencies as html `<script>` and `<style>` tags\n- `webresource.uris.js` returns JS dependencies specific to conversion\n- `webresource.uris.css` returns CSS dependencies specific to conversion\n- `webresource.uris.all` returns all dependencies specific to conversion     \n- `webresource.tags.all` returns common JS dependencies as html `<script>` tags\n- `webresource.tags.css` returns common CSS dependencies as html `<style>` tags\n- `webresource.tags.js` returns common dependencies as html `<script>` and `<style>` tags"
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
