openapi: 3.1.0
info:
  title: Atlassian Admin Account Status API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Status
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/merge/task-status/{task_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: ID of the merge task
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Status
      description: This GET endpoint retrieves the current status of a merge task for a specific pull request in a Bitbucket repository. By providing the workspace identifier, repository slug, pull request ID, and task ID in the URL path, users can poll this endpoint to monitor the progress of an asynchronous merge operation. The response typically includes information about whether the merge task is pending, in progress, completed successfully, or has failed, along with any relevant error messages or completion details. This is particularly useful for tracking long-running merge operations or implementing automated workflows that need to wait for merge completion before proceeding with subsequent actions.
      summary: Atlassian Get the Merge Task Status for Pull Request
      responses:
        '200':
          description: Returns a task status if the merge is either pending or successful, and if it is successful, a pull request
        '400':
          description: If the provided task ID does not relate to this pull request, or if something went wrong during the merge operation
        '403':
          description: The user making the request does not have permission to the repo and is different from the user who queued the task
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getTheMergeTaskStatusForPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/statuses/build:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Status
      description: This POST endpoint creates a build status for a specific commit in a Bitbucket repository, allowing external CI/CD systems and build tools to report the status of automated builds back to Bitbucket. The endpoint requires the workspace ID, repository slug, and commit hash as path parameters, and accepts a JSON payload containing build status information such as state (successful, failed, in progress), key, name, URL, and description. When invoked, it associates the provided build status with the specified commit, which then becomes visible in the Bitbucket UI on pull requests and commit pages, enabling teams to track build results and prevent merging of code that fails automated checks. This integration is essential for maintaining CI/CD pipelines and ensuring code quality by providing real-time feedback on build outcomes directly within the version control interface.
      summary: Atlassian Create Build Status for Commit
      responses:
        '201':
          description: The newly created build status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository, commit, or build status key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commitstatus'
            examples:
              commit-status:
                $ref: '#/components/examples/commit-status'
        description: The new commit status object.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: createBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/statuses/build/{key}:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: key
      in: path
      description: The build status' unique key
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Status
      description: Retrieves a specific build status object associated with a commit in a Bitbucket repository, identified by a unique key. This endpoint allows you to query the detailed status information of a particular build or CI/CD pipeline execution that was reported for a given commit. You must provide the workspace identifier, repository slug, commit hash, and the unique key of the build status you want to retrieve. The response includes comprehensive details about the build execution such as its state (successful, failed, in progress), description, URL to view the build results, and timestamp information. This is particularly useful for integrating with external CI/CD systems, monitoring build pipelines, or displaying build status information in custom dashboards and applications.
      summary: Atlassian Get Build Status for Commit
      responses:
        '200':
          description: The build status object with the specified key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository, commit, or build status key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Status
      description: This API operation updates the build status for a specific commit in a Bitbucket repository by making a PUT request to the endpoint that identifies a unique build status entry through the workspace name, repository slug, commit hash, and a unique key identifier. It allows developers and CI/CD systems to modify the state of an existing build status record associated with a particular commit, enabling them to update information such as whether the build is in progress, successful, failed, or stopped, along with relevant metadata like build URLs, descriptions, and timestamps. This is particularly useful for continuous integration workflows where build systems need to communicate the current state of automated builds and tests back to Bitbucket, providing visibility to team members about the health and status of code changes directly within the repository interface.
      summary: Atlassian Update Build Status for Commit
      responses:
        '200':
          description: The updated build status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository or build does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commitstatus'
            examples:
              commit-status_2:
                $ref: '#/components/examples/commit-status_2'
        description: The updated build status object
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: updateBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/export/{repo_name}-issues-{task_id}.zip:
    parameters:
    - name: repo_name
      in: path
      description: The name of the repo
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: The ID of the export task
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Status
      description: This GET operation checks the status of a previously initiated issue export request for a specific Bitbucket repository by polling the export endpoint using the provided task ID. When called, it queries the export job identified by the workspace, repository slug, repository name, and unique task identifier to determine whether the export process is still running, has completed successfully, or has failed. If the export is complete, the endpoint returns the ZIP file containing the exported issues data; otherwise, it provides status information about the ongoing export process. This allows users to monitor long-running export operations and retrieve the results once processing is finished without blocking or timing out during the initial export request.
      summary: Atlassian Check Issue Export Status
      responses:
        '202':
          description: Export job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_job_status'
              examples:
                response:
                  value:
                    type: issue_job_status
                    status: ACCEPTED
                    phase: Initializing
                    total: 0
                    count: 0
                    pct: 0
        '401':
          description: The request wasn't authenticated properly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user does not have admin permission on the repo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No export job has begun
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
        - repository:admin
      - basic: []
      - api_key: []
      operationId: checkIssueExportStatus
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/import:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Status
      description: This API endpoint allows you to check the status of a bulk issue import operation for a specific Bitbucket repository. By making a GET request to `/repositories/{workspace}/{repo_slug}/issues/import`, you can retrieve information about a previously initiated issue import process, including whether it's still in progress, completed successfully, or encountered any errors. The endpoint requires you to specify both the workspace identifier and the repository slug in the URL path, and it returns details about the import job such as its current state, the number of issues processed, and any relevant metadata associated with the import operation.
      summary: Atlassian Check Issue Import Status
      responses:
        '200':
          description: Import job complete with either FAILURE or SUCCESS status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_job_status'
              examples:
                issue-job-status:
                  $ref: '#/components/examples/issue-job-status'
        '202':
          description: Import job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_job_status'
              examples:
                response:
                  value:
                    type: issue_job_status
                    status: ACCEPTED
                    phase: Attachments
                    total: 15
                    count: 0
                    percent: 0
        '401':
          description: The request wasn't authenticated properly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user does not have admin permission on the repo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No export job has begun
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
        - repository:admin
      - basic: []
      - api_key: []
      operationId: checkIssueImportStatus
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/restriction/byOperation/{operationKey}/group/{groupName}:
    get:
      tags:
      - Status
      summary: Atlassian Get Content Restriction Status for Group
      deprecated: true
      description: 'The Atlassian Confluence Content API endpoint `/wiki/rest/api/content/{id}/restriction/byOperation/{operationKey}/group/{groupName}` using the GET method retrieves the restriction status for a specific group on a particular piece of content. This operation allows administrators and authorized users to check whether a designated group has restrictions applied for a specific operation (such as read or update) on content identified by its unique ID. The endpoint requires three path parameters: the content ID, the operation key that defines the type of action being restricted, and the group name for which to check restrictions. The response returns details about whether the specified group is restricted from performing the given operation on the content, helping manage fine-grained access control within Confluence spaces and pages.'
      operationId: getContentRestrictionStatusForGroup
      parameters:
      - name: id
        in: path
        description: The ID of the content that the restriction applies to.
        required: true
        schema:
          type: string
      - name: operationKey
        in: path
        description: The operation that the restriction applies to.
        required: true
        schema:
          type: string
          enum:
          - read
          - update
      - name: groupName
        in: path
        description: 'The name of the group to be queried for whether the content restriction

          applies to it.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Returns true if the content restriction applies to the group. The response

            will not return a response body.'
          content: {}
        '400':
          description: 'Returned if;


            - Group name is missing'
          content: {}
        '404':
          description: 'Returned if;


            - There is no content with the given ID.

            - The calling user does not have permission to view the content.

            - An invalid operation or group is specified.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.restriction:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/restriction/byOperation/{operationKey}/byGroupId/{groupId}:
    get:
      tags:
      - Status
      summary: Atlassian Get Content Restriction Status for Group
      description: 'This API endpoint retrieves the restriction status for a specific group on a piece of Confluence content. It requires three path parameters: the content ID, an operation key (typically ''read'' or ''update''), and a group ID. When called, it returns information about whether the specified group has restrictions applied for the given operation on that content, helping administrators and developers understand access control configurations. This is useful for auditing permissions, validating security policies, or building custom permission management interfaces that need to check if a particular group''s access to content is restricted for specific operations.'
      operationId: getContentRestrictionStatusForGroup
      parameters:
      - name: id
        in: path
        description: The ID of the content that the restriction applies to.
        required: true
        schema:
          type: string
      - name: operationKey
        in: path
        description: The operation that the restriction applies to.
        required: true
        schema:
          type: string
          enum:
          - read
          - update
      - name: groupId
        in: path
        description: 'The id of the group to be queried for whether the content restriction

          applies to it.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Returns true if the content restriction applies to the group. The response

            will not return a response body.'
          content: {}
        '403':
          description: 'Returned if the calling user does not have permission to view the

            content.'
          content: {}
        '404':
          description: 'Returned if

            - There is no content with the given ID.

            - An invalid operation or group is specified.

            - Given groupId is blank or has invalid characters'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.restriction:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/restriction/byOperation/{operationKey}/user:
    get:
      tags:
      - Status
      summary: Atlassian Get Content Restriction Status for User
      description: Retrieves the restriction status for a specific user on a piece of Confluence content based on a given operation key. This endpoint allows you to check whether a particular user has access to perform a specific operation (such as read, update, or delete) on content identified by its ID. The operation key parameter specifies which type of operation restriction to check, while the request targets a specific user to determine if content restrictions apply to them. This is useful for administrators and developers who need to programmatically verify user permissions and content access controls within Confluence spaces, enabling them to enforce security policies and manage content visibility at a granular level.
      operationId: getContentRestrictionStatusForUser
      parameters:
      - name: id
        in: path
        description: The ID of the content that the restriction applies to.
        required: true
        schema:
          type: string
      - name: operationKey
        in: path
        description: The operation that is restricted.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/userLookupKey'
      - $ref: '#/components/parameters/userLookupUsername'
      - $ref: '#/components/parameters/userLookupAccountId'
      responses:
        '200':
          description: 'Return true if the content restriction applies to the user. The response

            body will be empty.'
          content: {}
        '404':
          description: 'Returned if;


            - There is no content with the given ID.

            - The calling user does not have permission to view the content.

            - An invalid operation or user is specified.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.restriction:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/contentbody/convert/async/{id}:
    get:
      tags:
      - Status
      summary: Atlassian Get Asynchronously Converted Content Body From the Id or the Current Status of the Task
      description: This API endpoint retrieves the result of an asynchronous content body conversion operation in Atlassian Confluence using a unique task identifier. When content conversion is initiated asynchronously (such as converting between different markup formats like storage format, view format, or editor format), this GET operation allows you to check the current status of the conversion task and fetch the converted content once the operation is complete. The endpoint accepts the task ID as a path parameter and returns either the converted content body if the conversion has finished successfully, the current progress status if the task is still running, or an error message if the conversion failed. This is particularly useful for handling large or complex content conversions that may take significant time to process, allowing clients to poll for completion rather than blocking while waiting for the conversion to finish.
      operationId: getAsynchronouslyConvertedContentBodyFromTheIdOrTheCurrentStatusOfTheTask
      parameters:
      - name: id
        in: path
        description: The asyncId of the macro task to get the converted body.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returned if successfully found an async conversion task associated with the id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncContentBody'
        '400':
          description: Returned if the async id is invalid.
          content: {}
        '401':
          description: Returned if the request was not made by an anonymous user and user is not authenticated.
          content: {}
        '403':
          description: Returned if the requesting user is not the user who made the conversion request.
          content: {}
        '404':
          description: Returned if async macro conversion task cannot be found with the provided id.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.metadata:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: READ
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/api/3/statuses/search:
    get:
      deprecated: false
      description: Returns a [paginated](https://developer.atlassian.com/cloud/jira/platform/rest/v3/intro/#pagination) list of statuses that match a search on name or project.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)<br> *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
      operationId: atlassianSearch
      parameters:
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `usages` Returns the project and issue types that use the status in their workflow.\n *  `workflowUsages` Returns the workflows that use the status."
        in: query
        name: expand
        schema:
          type: string
      - description: The project the status is part of or null for global statuses.
        in: query
        name: projectId
        schema:
          type: string
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 200
          format: int32
          type: integer
      - description: Term to match status names against or null to search for all statuses in the search scope.
        in: query
        name: searchString
        schema:
          maxLength: 255
          type: string
      - description: 'Category of the status to filter by. The supported values are: `TODO`, `IN_PROGRESS`, and `DONE`.'
        in: query
        name: statusCategory
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":2,"nextPage":"https://your-domain.atlassian.net/rest/api/3/statuses/search?startAt=2&maxResults=2","self":"https://your-domain.atlassian.net/rest/api/3/statuses/search?startAt=0&maxResults=2","startAt":0,"total":5,"values":[{"description":"The issue is resolved","id":"1000","name":"Finished","scope":{"project":{"id":"1"},"type":"PROJECT"},"statusCategory":"DONE","usages":[{"issueTypes":["10002"],"project":{"id":"1"}}],"workflowUsages":[{"workflowId":"545d80a3-91ff-4949-8b0d-a2bc484e70e5","workflowName":"Workflow 1"}]}]}'
              schema:
                $ref: '#/components/schemas/PageOfStatuses'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing, or the caller doesn't have permissions to perform the operation.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Search Statuses Paginated
      tags:
      - Status
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/statuses:
    delete:
      deprecated: false
      description: Deletes statuses by ID.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)<br> *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
      operationId: atlassianDeletestatusesbyid
      parameters:
      - description: 'The list of status IDs. To include multiple IDs, provide an ampersand-separated list. For example, id=10000&id=10001.


          Min items `1`, Max items `50`'
        in: query
        name: id
        required: true
        schema:
          items:
            type: string
          type: array
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The name is too long, maxSize=255"],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing, or the caller doesn't have permissions to perform the operation.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Bulk Delete Statuses
      tags:
      - Status
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:workflow:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    get:
      deprecated: false
      description: Returns a list of the statuses specified by one or more status IDs.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)<br> *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
      operationId: atlassianGetstatusesbyid
      parameters:
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `usages` Returns the project and issue types that use the status in their workflow.\n *  `workflowUsages` Returns the workflows that use the status."
        in: query
        name: expand
        schema:
          type: string
      - description: 'The list of status IDs. To include multiple IDs, provide an ampersand-separated list. For example, id=10000&id=10001.


          Min items `1`, Max items `50`'
        in: query
        name: id
        required: true
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              example: '[{"description":"The issue is resolved","id":"1000","name":"Finished","scope":{"project":{"id":"1"},"type":"PROJECT"},"statusCategory":"DONE","usages":[{"issueTypes":["10002"],"project":{"id":"1"}}],"workflowUsages":[{"workflowId":"545d80a3-91ff-4949-8b0d-a2bc484e70e5","workflowName":"Workflow 1"}]}]'
              schema:
                items:
                  $ref: '#/components/schemas/JiraStatus'
                type: array
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing, or the caller doesn't have permissions to perform the operation.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Bulk Get Statuses
      tags:
      - Status
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:workflow:jira
        state: Beta
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Creates statuses for a global or project scope.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)<br> *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
      operationId: atlassianCreatestatuses
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              scope:
                project:
                  id: '1'
                type: PROJECT
              statuses:
              - description: The issue is resolved
                name: Finished
                statusCategory: DONE
            schema:
              $ref: '#/components/schemas/StatusCreateRequest'
        description: Details of the statuses being created and their scope.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '[{"description":"The issue is resolved","id":"1000","name":"Finished","scope":{"project":{"id":"1"},"type":"PROJECT"},"statusCategory":"DONE","usages":[],"workflowUsages":[]}]'
              schema:
                items:
                  $ref: '#/components/schemas/JiraStatus'
                type: array
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The name is too long, maxSize=255"],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing, or the caller doesn't have permissions to perform the operation.
        '409':
          description: Returned if another workflow configuration update task is ongoing.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Bulk Create Statuses
      tags:
      - Status
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:workflow:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Updates statuses by ID.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)<br> *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
      operationId: atlassianUpdatestatuses
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              statuses:
              - description: The issue is resolved
                id: '1000'
                name: Finished
                statusCategory: DONE
            schema:
              $ref: '#/components/schemas/StatusUpdateRequest'
        description: The list of statuses that will be updated.
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The name is too long, maxSize=255"],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing, or the caller doesn't have permissions to perform the operation.
        '409':
          description: Returned if another workflow configuration update task is ongoing.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Bulk Update Statuses
      tags:
      - Status
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:workflow:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    commitstatus:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Commit Status
        description: A commit status object.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commit:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The commit status' id.
          key:
            type: string
            description: "An identifier for the status that's unique to\n        its type (current \"build\" is the only supported type) and the vendor,\n        e.g. BB-DEPLOY"
          refname:
            type: string
            description: '

              The name of the ref that pointed to this commit at the time the status

              object was created. Note that this the ref may since have moved off of

              the commit. This optional field can be useful for build systems whose

              build triggers and configuration are branch-dependent (e.g. a Pipeline

              build).

              It is legitimate for this field to not be set, or even apply (e.g. a

              static linting job).'
          url:
            type: string
            description: A URL linking back to the vendor or build system, for providing more information about whatever process produced this status. Accepts context variables `repository` and `commit` that Bitbucket will evaluate at runtime whenever at runtime. For example, one could use https://foo.com/builds/{repository.full_name} which Bitbucket will turn into https://foo.com/builds/foo/bar at render time.
          state:
            type: string
            description: Provides some indication of the status of this commit
            enum:
            - INPROGRESS
            - FAILED
            - STOPPED
            - SUCCESSFUL
          name:
            type: string
            description: An identifier for the build itself, e.g. BB-DEPLOY-1
          description:
            type: string
            description: A description of the build (e.g. "Unit tests in Bamboo")
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
        additionalProperties: true
    issue_job_status:
      type: object
      title: Issue Job Status
      description: The status of an import or export job
      properties:
        type:
          type: string
          example: example_value
        status:
          type: string
          description: The status of the import/export job
          enum:
          - ACCEPTED
          - STARTED
          - RUNNING
          - FAILURE
          example: ACCEPTED
        phase:
          type: string
          description: The phase of the import/export job
          example: example_value
        total:
          type: integer
          description: The total number of issues being imported/exported
          example: 10
        count:
          type: integer
          description: The total number of issues already imported/exported
          example: 10
        pct:
          type: number
          description: The percentage of issues already imported/exported
          minimum: 0
          maximum: 100
          example: 42.5
      additionalProperties: false
    StatusUpdateRequest:
      additionalProperties: false
      description: The list of statuses that will be updated.
      properties:
        statuses:
          description: The list of statuses that will be updated.
          items:
            $ref: '#/components/schemas/StatusUpdate'
          type: array
      required:
      - statuses
      type: object
    StatusCreateRequest:
      additionalProperties: false
      description: Details of the statuses being created and their scope.
      properties:
        scope:
          $ref: '#/components/schemas/StatusScope'
        statuses:
          description: Details of the statuses being created.
          items:
            $ref: '#/components/schemas/StatusCreate'
          type: array
      required:
      - scope
      - statuses
      type: object
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    WorkflowUsages:
      additionalProperties: false
      description: The workflows that use this status. Only available if the `workflowUsages` expand is requested.
      properties:
        workflowId:
          description: Workflow ID.
          type: string
        workflowName:
          description: Workflow name.
          type: string
      type: object
    StatusScope:
      additionalProperties: false
      description: The scope of the status.
      properties:
        project:
          $ref: '#/components/schemas/ProjectId'
        type:
          description: The scope of the status. `GLOBAL` for company-managed projects and `PROJECT` for team-managed projects.
          enum:
          - PROJECT
          - GLOBAL
          type: string
      required:
      - type
      type: object
    StatusCreate:
      additionalProperties: false
      description: Details of the status being created.
      properties:
        description:
          description: The description of the status.
          type: string
        name:
          description: The name of the status.
          maxLength: 255
          type: string
        statusCategory:
          description: The category of the status.
          enum:
          - TODO
          - IN_PROGRESS
          - DONE
          type: string
      required:
      - name
      - statusCategory
      type: object
    StatusUpdate:
      additionalProperties: true
      description: Details of the status being updated.
      properties:
        description:
          description: The description of the status.
          type: string
        id:
          description: The ID of the status.
          type: string
        name:
          description: The name of the status.
          type: string
        statusCategory:
          description: The category of the status.
          enum:
          - TODO
          - IN_PROGRESS
          - DONE
          type: string
      required:
      - id
      - name
      - statusCategory
      type: object
    ProjectId:
      additionalProperties: false
      description: Project ID details.
      nullable: true
      properties:
        id:
          description: The ID of the project.
          type: string
      required:
      - id
      type: object
    AsyncContentBody:
      type: object
      properties:
        value:
          type: string
          example: example_value
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          example: view
        renderTaskId:
          type: string
          example: '500123'
        error:
          type: string
          example: example_value
        status:
          description: Rerunning is reserved for when the job is working, but there is a previous run's value in the cache. You may choose to continue polling, or use the cached value.
          type: string
          enum:
          - WORKING
          - QUEUED
          - FAILED
          - COMPLETED
          - RERUNNING
          example: WORKING
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
          example: []
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
          example: example_value
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ProjectIssueTypes:
      additionalProperties: false
      description: Use the optional `workflows.usages` expand to get additional information about the projects and issue types associated with the requested workflows.
      properties:
        issueTypes:
          description: IDs of the issue types
          items:
            description: IDs of the issue types
            nullable: true
            type: string
          nullable: true
          type: array
          uniqueItems: true
        project:
          $ref: '#/components/schemas/ProjectId'
      type: object
    JiraStatus:
      additionalProperties: false
      description: Details of a status.
      properties:
        description:
          description: The description of the status.
          type: string
        id:
          description: The ID of the status.
          type: string
        name:
          description: The name of the status.
          type: string
        scope:
          $ref: '#/components/schemas/StatusScope'
        statusCategory:
          description: The category of the status.
          enum:
          - TODO
          - IN_PROGRESS
          - DONE
          type: string
        usages:
          description: Projects and issue types where the status is used. Only available if the `usages` expand is requested.
          items:
            $ref: '#/components/schemas/ProjectIssueTypes'
          type: array
          uniqueItems: true
        workflowUsages:
          description: The workflows that use this status. Only available if the `workflowUsages` expand is requested.
          items:
            $ref: '#/components/schemas/WorkflowUsages'
          type: array
          uniqueItems: true
      type: object
    PageOfStatuses:
      additionalProperties: false
      properties:
        isLast:
          description: Whether this is the last page.
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          type: integer
        nextPage:
          description: The URL of the next page of results, if any.
          type: string
        self:
          description: The URL of this page.
          type: string
        startAt:
          description: The index of the first item returned on the page.
          format: int64
          type: integer
        total:
          description: Number of items that satisfy the search.
          format: int64
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/JiraStatus'
          type: array
      type: object
  examples:
    issue-job-status:
      type: export
      status: RUNNING
      phase: Processing issues
      total: 1000
      count: 450
      pct: 45
    commit-status:
      links:
        self:
          href: https://api.bitbucket.org/2.0/repositories/example/repo/commit/abc123/statuses/build/1
          name: self
        commit:
          href: https://api.bitbucket.org/2.0/repositories/example/repo/commit/abc123
          name: commit
      uuid: '{12345678-1234-1234-1234-123456789abc}'
      key: BB-DEPLOY
      refname: main
      url: https://foo.com/builds/{repository.full_name}
      state: SUCCESSFUL
      name: BB-DEPLOY-1
      description: Unit tests in Bamboo
      created_on: '2023-11-15T10:30:00Z'
      updated_on: '2023-11-15T10:45:00Z'
    commit-status_2:
      links:
        self:
          href: https://api.bitbucket.org/2.0/repositories/my-workspace/my-repo/commit/a1b2c3d4/statuses/build/bb-deploy-123
          name: Self Link
        commit:
          href: https://api.bitbucket.org/2.0/repositories/my-workspace/my-repo/commit/a1b2c3d4
          name: Commit Link
      uuid: '{12345678-1234-5678-1234-567812345678}'
      key: BB-DEPLOY
      refname: main
      url: https://builds.example.com/repositories/{repository.full_name}/commits/{commit}
      state: SUCCESSFUL
      name: BB-DEPLOY-1
      description: Unit tests in Bamboo
      created_on: '2023-11-15T10:30:00Z'
      updated_on: '2023-11-15T10:45:00Z'
  parameters:
    userLookupAccountId:
      name: accountId
      in: query
      description: 'The account ID of the user. The accountId uniquely identifies the user across all Atlassian products.

        For example, `384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192`.'
      schema:
        type: string
    userLookupUsername:
      name: username
      in: query
      deprecated: true
      description: 'This parameter is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
      schema:
        type: string
    userLookupKey:
      name: key
      in: query
      deprecated: true
      description: 'This parameter is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
