openapi: 3.1.0
info:
  title: Atlassian Admin Account Milestones API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Milestones
paths:
  /repositories/{workspace}/{repo_slug}/milestones:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Milestones
      description: This GET operation retrieves a paginated list of milestones associated with a specific repository in Bitbucket. By providing the workspace identifier and repository slug in the URL path, users can access all milestones that have been created for that repository, which are typically used to track progress toward specific goals or releases. The response returns milestone details such as names, descriptions, due dates, and current states, allowing teams to monitor project planning and progress tracking within their Bitbucket repositories. This endpoint is useful for integration with project management tools, creating dashboards, or automating milestone-related workflows.
      summary: Atlassian List Milestones
      responses:
        '200':
          description: The milestones that have been defined in the issue tracker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_milestones'
              examples:
                paginated-milestones:
                  $ref: '#/components/examples/paginated-milestones'
        '404':
          description: The specified repository does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: listMilestones
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/milestones/{milestone_id}:
    parameters:
    - name: milestone_id
      in: path
      description: The milestone's id
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Milestones
      description: This GET operation retrieves detailed information about a specific milestone within a Bitbucket repository by providing the workspace identifier, repository slug, and milestone ID as path parameters. The endpoint returns comprehensive data about the milestone including its name, description, state (open or closed), due date, and associated metadata such as creation and update timestamps. This allows developers to programmatically access milestone information for project tracking, reporting, or integration with external project management tools, enabling them to monitor progress and deadlines for features or releases defined within their Bitbucket repositories.
      summary: Atlassian Get Milestone
      responses:
        '200':
          description: The specified milestone object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/milestone'
              examples:
                milestone:
                  $ref: '#/components/examples/milestone'
        '404':
          description: The specified repository or milestone does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getMilestone
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    milestone:
      links:
        self:
          href: https://api.example.com/repositories/my-repo/milestones/1
          name: v1.0.0
      name: v1.0.0
      id: 1
    paginated-milestones:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.example.com/milestones?page=2
      previous: https://api.example.com/milestones?page=0
      values:
        links:
          self:
            href: https://api.example.com/milestones/123
            name: self
        name: Version 1.0 Release
        id: 123
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    milestone:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Milestone
        description: A milestone as defined in a repository's issue tracker.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          name:
            type: string
          id:
            type: integer
        additionalProperties: true
    paginated_milestones:
      type: object
      title: Paginated Milestones
      description: A paginated list of issue tracker milestones.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
          example: 10
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
          example: 10
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        values:
          type: array
          items:
            $ref: '#/components/schemas/milestone'
          minItems: 0
          uniqueItems: true
          example: []
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
