openapi: 3.1.0
info:
  title: Atlassian Admin Account Inline Tasks API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Inline Tasks
paths:
  /wiki/rest/api/inlinetasks/search:
    get:
      tags:
      - Inline Tasks
      summary: Atlassian Get Inline Tasks Based on Search Parameters
      deprecated: true
      description: Deprecated, use [Confluence's v2 API](https://developer.atlassian.com/cloud/confluence/rest/v2/intro/).<br><br>Returns inline tasks based on the search query.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission). Only tasks<br>in contents that the user has permission to view are returned.
      operationId: atlassianSearchtasks
      parameters:
      - name: start
        in: query
        description: The starting offset for the results.
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: The number of results to be returned.
        schema:
          type: integer
          format: int32
          default: 20
      - name: spaceKey
        in: query
        description: The space key of a space. Multiple space keys can be specified.
        schema:
          type: string
          default: null
      - name: pageId
        in: query
        description: The page id of a page. Multiple page ids can be specified.
        schema:
          type: string
          default: null
      - name: assignee
        in: query
        description: Account ID of a user to whom a task is assigned. Multiple users can be specified.
        schema:
          type: string
          default: null
      - name: creator
        in: query
        description: Account ID of a user to who created a task. Multiple users can be specified.
        schema:
          type: string
          default: null
      - name: completedUser
        in: query
        description: Account ID of a user who completed a task. Multiple users can be specified.
        schema:
          type: string
          default: null
      - name: duedateFrom
        in: query
        description: Start of date range based on due dates (inclusive).
        schema:
          type: integer
          format: int64
      - name: duedateTo
        in: query
        description: End of date range based on due dates (inclusive).
        schema:
          type: integer
          format: int64
      - name: createdateFrom
        in: query
        description: Start of date range based on create dates (inclusive).
        schema:
          type: integer
          format: int64
      - name: createdateTo
        in: query
        description: End of date range based on create dates (inclusive).
        schema:
          type: integer
          format: int64
      - name: completedateFrom
        in: query
        description: Start of date range based on complete dates (inclusive).
        schema:
          type: integer
          format: int64
      - name: completedateTo
        in: query
        description: End of date range based on complete dates (inclusive).
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: The status of the task. (checked/unchecked)
        schema:
          type: string
          default: null
          enum:
          - complete
          - incomplete
      responses:
        '200':
          description: Returned if the query fetches zero or more results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskPageResponse'
        '403':
          description: 'Returned if the calling user does not have permission to view

            any content.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:inlinetask:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/inlinetasks/{inlineTaskId}:
    get:
      tags:
      - Inline Tasks
      summary: Atlassian Get Inline Task Based on Global Id
      deprecated: true
      description: Deprecated, use [Confluence's v2 API](https://developer.atlassian.com/cloud/confluence/rest/v2/intro/).<br><br>Returns inline task based on the global ID.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to view the content associated with the task.
      operationId: atlassianGettaskbyid
      parameters:
      - name: inlineTaskId
        in: path
        description: Global ID of the inline task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returned if the inline task was found given the global ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          description: Returned if the authentication credentials are incorrect or missing from the request.
        '403':
          description: Returned if the user does not have permission to view the content associated with the task.
        '404':
          description: Returned if task could not be found with the given global ID.
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:inlinetask:confluence
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:inlinetask:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Inline Tasks
      summary: Atlassian Update Inline Task Given Global Id
      deprecated: true
      description: Updates an inline tasks status given its global ID<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to update the content associated with the task.
      operationId: atlassianUpdatetaskbyid
      parameters:
      - name: inlineTaskId
        in: path
        description: Global ID of the inline task to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated task status.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStatusUpdate'
        required: true
      responses:
        '200':
          description: Returned if the inline task was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Returned if client input is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing from the request.
        '403':
          description: Returned if the user does not have permission to update the content associated with the task.
        '404':
          description: Returned if task could not be found with given global ID.
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:inlinetask:confluence
        - write:inlinetask:confluence
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:inlinetask:confluence
        - write:inlinetask:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: WRITE
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    GenericLinks:
      type: object
      additionalProperties:
        oneOf:
        - type: object
          additionalProperties: true
        - type: string
    Task:
      required:
      - contentId
      - createDate
      - creator
      - globalId
      - id
      - status
      type: object
      properties:
        globalId:
          type: integer
          format: int64
          example: '500123'
        id:
          type: integer
          format: int64
          example: abc123
        contentId:
          type: integer
          format: int64
          example: '500123'
        status:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        description:
          type: string
          example: A sample description.
        body:
          type: string
          example: example_value
        creator:
          type: string
          example: example_value
        assignee:
          type: string
          example: example_value
        completeUser:
          type: string
          example: example_value
        createDate:
          type: integer
          format: int64
          example: 10
        dueDate:
          type: integer
          format: int64
          example: 10
        updateDate:
          type: integer
          format: int64
          example: 10
        completeDate:
          type: integer
          format: int64
          example: 10
        _links:
          $ref: '#/components/schemas/GenericLinks'
    TaskStatusUpdate:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          enum:
          - complete
          - incomplete
    TaskPageResponse:
      required:
      - limit
      - results
      - size
      - start
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Task'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
