openapi: 3.1.0
info:
  title: Atlassian Admin Account Pullrequests API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Pullrequests
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks/{task_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: The ID of the task.
      required: true
      schema:
        type: integer
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Pullrequests
      description: This API operation updates an existing task associated with a specific pull request in a Bitbucket repository. By sending a PUT request to the endpoint with the workspace identifier, repository slug, pull request ID, and task ID, you can modify task properties such as its content, state, or other metadata. This is useful for managing and tracking action items or to-do items that are linked to code reviews within pull requests, allowing teams to update task status or details as work progresses during the review process.
      summary: Atlassian Update Task on Pull Request
      responses:
        '200':
          description: The updated task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '400':
          description: There is a missing required field in the request or the task content is blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A_pullrequest_task_update'
            examples:
              pull-request-task-update:
                $ref: '#/components/examples/pull-request-task-update'
        description: The updated state and content of the task.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: updateTaskOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Pullrequests
      description: Deletes a specific pull request task.
      summary: Atlassian Delete A Task On A Pull Request
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: If the authenticated user does not have access to delete the task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianDeleteATaskOnAPullRequest
    get:
      tags:
      - Pullrequests
      description: Returns a specific pull request task.
      summary: Atlassian Get A Task On A Pull Request
      responses:
        '200':
          description: The task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianGetATaskOnAPullRequest
  /pullrequests/{selected_user}:
    parameters:
    - name: selected_user
      in: path
      description: 'This can either be the username of the pull request author, the author''s UUID

        surrounded by curly-braces, for example: `{account UUID}`, or the author''s Atlassian ID.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Returns all pull requests authored by the specified user.<br><br>By default only open pull requests are returned. This can be controlled<br>using the `state` query parameter. To retrieve pull requests that are<br>in one of multiple states, repeat the `state` parameter for each<br>individual state.<br><br>This endpoint also supports filtering and sorting of the results. See<br>[filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more details.
      summary: Atlassian List Pull Requests For A User
      responses:
        '200':
          description: All pull requests authored by the specified user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
        '404':
          description: If the specified user does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: state
        in: query
        description: Only return pull requests that are in this state. This parameter can be repeated.
        schema:
          type: string
          enum:
          - OPEN
          - MERGED
          - DECLINED
          - SUPERSEDED
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      operationId: atlassianListPullRequestsForAUser
  /repositories/{workspace}/{repo_slug}/pullrequests:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Returns all pull requests on the specified repository.<br><br>By default only open pull requests are returned. This can be controlled<br>using the `state` query parameter. To retrieve pull requests that are<br>in one of multiple states, repeat the `state` parameter for each<br>individual state.<br><br>This endpoint also supports filtering and sorting of the results. See<br>[filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more details.
      summary: Atlassian List Pull Requests
      responses:
        '200':
          description: All pull requests on the specified repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: state
        in: query
        description: Only return pull requests that are in this state. This parameter can be repeated.
        schema:
          type: string
          enum:
          - OPEN
          - MERGED
          - DECLINED
          - SUPERSEDED
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListPullRequests
    post:
      tags:
      - Pullrequests
      description: 'Creates a new pull request where the destination repository is<br>this repository and the author is the authenticated user.<br><br>The minimum required fields to create a pull request are `title` and<br>`source`, specified by a branch name.<br><br>```<br>curl https://api.bitbucket.org/2.0/repositories/my-workspace/my-repository/pullrequests \<br>    -u my-username:my-password \<br>    --request POST \<br>    --header ''Content-Type: application/json'' \<br>    --data ''{<br>        "title": "My Title",<br>        "source": {<br>            "branch": {<br>                "name": "staging"<br>            }<br>        }<br>    }''<br>```<br><br>If the pull request''s `destination` is not specified, it will default<br>to the `repository.mainbranch`. To open a pull request to a<br>different branch, say from a feature branch to a staging branch,<br>specify a `destination` (same format as the `source`):<br><br>```<br>{<br>    "title": "My Title",<br>    "source": {<br>        "branch": {<br>            "name": "my-feature-branch"<br>        }<br>    },<br>    "destination": {<br>        "branch": {<br>            "name": "staging"<br>        }<br>    }<br>}<br>```<br><br>Reviewers can be specified by adding an array of user objects as the<br>`reviewers` property.<br><br>```<br>{<br>    "title": "My Title",<br>    "source": {<br>        "branch": {<br>            "name": "my-feature-branch"<br>        }<br>    },<br>    "reviewers": [<br>        {<br>            "uuid": "{504c3b62-8120-4f0c-a7bc-87800b9d6f70}"<br>        }<br>    ]<br>}<br>```<br><br>Other fields:<br><br>* `description` - a string<br>* `close_source_branch` - boolean that specifies if the source branch should be closed upon merging'
      summary: Atlassian Create A Pull Request
      responses:
        '201':
          description: The newly created pull request.
          headers:
            Location:
              description: The URL of new newly created pull request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest'
        '400':
          description: If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest'
        description: 'The new pull request.


          The request URL you POST to becomes the destination repository URL. For this reason, you must specify an explicit source repository in the request object if you want to pull from a different repository (fork).


          Since not all elements are required or even mutable, you only need to include the elements you want to initialize, such as the source branch and the title.'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: atlassianCreateAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/activity:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: 'Returns a paginated list of the pull request''s activity log.<br><br>This handler serves both a v20 and internal endpoint. The v20 endpoint<br>returns reviewer comments, updates, approvals and request changes. The internal<br>endpoint includes those plus tasks and attachments.<br><br>Comments created on a file or a line of code have an inline property.<br><br>Comment example:<br>```<br>{<br>    "pagelen": 20,<br>    "values": [<br>        {<br>            "comment": {<br>                "links": {<br>                    "self": {<br>                        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695/comments/118571088"<br>                    },<br>                    "html": {<br>                        "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695/_/diff#comment-118571088"<br>                    }<br>                },<br>                "deleted": false,<br>                "pullrequest": {<br>                    "type": "pullrequest",<br>                    "id": 5695,<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                        }<br>                    },<br>                    "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>                },<br>                "content": {<br>                    "raw": "inline with to a dn from lines",<br>                    "markup": "markdown",<br>                    "html": "inline with to a dn from lines",<br>                    "type": "rendered"<br>                },<br>                "created_on": "2019-09-27T00:33:46.039178+00:00",<br>                "user": {<br>                    "display_name": "Name Lastname",<br>                    "uuid": "{}",<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/users/%7B%7D"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/%7B%7D/"<br>                        },<br>                        "avatar": {<br>                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/:/128"<br>                        }<br>                    },<br>                    "type": "user",<br>                    "nickname": "Name",<br>                    "account_id": ""<br>                },<br>                "created_on": "2019-09-27T00:33:46.039178+00:00",<br>                "user": {<br>                    "display_name": "Name Lastname",<br>                    "uuid": "{}",<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/users/%7B%7D"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/%7B%7D/"<br>                        },<br>                        "avatar": {<br>                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/:/128"<br>                        }<br>                    },<br>                    "type": "user",<br>                    "nickname": "Name",<br>                    "account_id": ""<br>                },<br>                "updated_on": "2019-09-27T00:33:46.055384+00:00",<br>                "inline": {<br>                    "context_lines": "",<br>                    "to": null,<br>                    "path": "",<br>                    "outdated": false,<br>                    "from": 211<br>                },<br>                "type": "pullrequest_comment",<br>                "id": 118571088<br>            },<br>            "pull_request": {<br>                "type": "pullrequest",<br>                "id": 5695,<br>                "links": {<br>                    "self": {<br>                        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                    },<br>                    "html": {<br>                        "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                    }<br>                },<br>                "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>            }<br>        }<br>    ]<br>}<br>```<br><br>Updates include a state property of OPEN, MERGED, or DECLINED.<br><br>Update example:<br>```<br>{<br>    "pagelen": 20,<br>    "values": [<br>        {<br>            "update": {<br>                "description": "",<br>                "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it",<br>                "destination": {<br>                    "commit": {<br>                        "type": "commit",<br>                        "hash": "6a2c16e4a152",<br>                        "links": {<br>                            "self": {<br>                                "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/commit/6a2c16e4a152"<br>                            },<br>                            "html": {<br>                                "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/commits/6a2c16e4a152"<br>                            }<br>                        }<br>                    },<br>                    "branch": {<br>                        "name": "master"<br>                    },<br>                    "repository": {<br>                        "name": "Atlaskit-MK-2",<br>                        "type": "repository",<br>                        "full_name": "atlassian/atlaskit-mk-2",<br>                        "links": {<br>                            "self": {<br>                                "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2"<br>                            },<br>                            "html": {<br>                                "href": "https://bitbucket.org/atlassian/atlaskit-mk-2"<br>                            },<br>                            "avatar": {<br>                                "href": "https://bytebucket.org/ravatar/%7B%7D?ts=js"<br>                            }<br>                        },<br>                        "uuid": "{}"<br>                    }<br>                },<br>                "reason": "",<br>                "source": {<br>                    "commit": {<br>                        "type": "commit",<br>                        "hash": "728c8bad1813",<br>                        "links": {<br>                            "self": {<br>                                "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/commit/728c8bad1813"<br>                            },<br>                            "html": {<br>                                "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/commits/728c8bad1813"<br>                            }<br>                        }<br>                    },<br>                    "branch": {<br>                        "name": "username/NONE-add-onClick-prop-for-accessibility"<br>                    },<br>                    "repository": {<br>                        "name": "Atlaskit-MK-2",<br>                        "type": "repository",<br>                        "full_name": "atlassian/atlaskit-mk-2",<br>                        "links": {<br>                            "self": {<br>                                "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2"<br>                            },<br>                            "html": {<br>                                "href": "https://bitbucket.org/atlassian/atlaskit-mk-2"<br>                            },<br>                            "avatar": {<br>                                "href": "https://bytebucket.org/ravatar/%7B%7D?ts=js"<br>                            }<br>                        },<br>                        "uuid": "{}"<br>                    }<br>                },<br>                "state": "OPEN",<br>                "author": {<br>                    "display_name": "Name Lastname",<br>                    "uuid": "{}",<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/users/%7B%7D"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/%7B%7D/"<br>                        },<br>                        "avatar": {<br>                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/:/128"<br>                        }<br>                    },<br>                    "type": "user",<br>                    "nickname": "Name",<br>                    "account_id": ""<br>                },<br>                "date": "2019-05-10T06:48:25.305565+00:00"<br>            },<br>            "pull_request": {<br>                "type": "pullrequest",<br>                "id": 5695,<br>                "links": {<br>                    "self": {<br>                        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                    },<br>                    "html": {<br>                        "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                    }<br>                },<br>                "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>            }<br>        }<br>    ]<br>}<br>```<br><br>Approval example:<br>```<br>{<br>    "pagelen": 20,<br>    "values": [<br>        {<br>            "approval": {<br>                "date": "2019-09-27T00:37:19.849534+00:00",<br>                "pullrequest": {<br>                    "type": "pullrequest",<br>                    "id": 5695,<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                        }<br>                    },<br>                    "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>                },<br>                "user": {<br>                    "display_name": "Name Lastname",<br>                    "uuid": "{}",<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/users/%7B%7D"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/%7B%7D/"<br>                        },<br>                        "avatar": {<br>                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/:/128"<br>                        }<br>                    },<br>                    "type": "user",<br>                    "nickname": "Name",<br>                    "account_id": ""<br>                }<br>            },<br>            "pull_request": {<br>                "type": "pullrequest",<br>                "id": 5695,<br>                "links": {<br>                    "self": {<br>                        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                    },<br>                    "html": {<br>                        "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                    }<br>                },<br>                "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>            }<br>        }<br>    ]<br>}<br>```'
      summary: Atlassian List A Pull Request Activity Log
      responses:
        '200':
          description: The pull request activity log
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListAPullRequestActivityLog
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Returns the specified pull request.
      summary: Atlassian Get A Pull Request
      responses:
        '200':
          description: The pull request object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository or pull request does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianGetAPullRequest
    put:
      tags:
      - Pullrequests
      description: Mutates the specified pull request.<br><br>This can be used to change the pull request's branches or description.<br><br>Only open pull requests can be mutated.
      summary: Atlassian Update A Pull Request
      responses:
        '200':
          description: The updated pull request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest'
        '400':
          description: If the input document was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or pull request id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest'
        description: The pull request that is to be updated.
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: atlassianUpdateAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/activity:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: 'Returns a paginated list of the pull request''s activity log.<br><br>This handler serves both a v20 and internal endpoint. The v20 endpoint<br>returns reviewer comments, updates, approvals and request changes. The internal<br>endpoint includes those plus tasks and attachments.<br><br>Comments created on a file or a line of code have an inline property.<br><br>Comment example:<br>```<br>{<br>    "pagelen": 20,<br>    "values": [<br>        {<br>            "comment": {<br>                "links": {<br>                    "self": {<br>                        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695/comments/118571088"<br>                    },<br>                    "html": {<br>                        "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695/_/diff#comment-118571088"<br>                    }<br>                },<br>                "deleted": false,<br>                "pullrequest": {<br>                    "type": "pullrequest",<br>                    "id": 5695,<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                        }<br>                    },<br>                    "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>                },<br>                "content": {<br>                    "raw": "inline with to a dn from lines",<br>                    "markup": "markdown",<br>                    "html": "inline with to a dn from lines",<br>                    "type": "rendered"<br>                },<br>                "created_on": "2019-09-27T00:33:46.039178+00:00",<br>                "user": {<br>                    "display_name": "Name Lastname",<br>                    "uuid": "{}",<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/users/%7B%7D"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/%7B%7D/"<br>                        },<br>                        "avatar": {<br>                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/:/128"<br>                        }<br>                    },<br>                    "type": "user",<br>                    "nickname": "Name",<br>                    "account_id": ""<br>                },<br>                "created_on": "2019-09-27T00:33:46.039178+00:00",<br>                "user": {<br>                    "display_name": "Name Lastname",<br>                    "uuid": "{}",<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/users/%7B%7D"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/%7B%7D/"<br>                        },<br>                        "avatar": {<br>                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/:/128"<br>                        }<br>                    },<br>                    "type": "user",<br>                    "nickname": "Name",<br>                    "account_id": ""<br>                },<br>                "updated_on": "2019-09-27T00:33:46.055384+00:00",<br>                "inline": {<br>                    "context_lines": "",<br>                    "to": null,<br>                    "path": "",<br>                    "outdated": false,<br>                    "from": 211<br>                },<br>                "type": "pullrequest_comment",<br>                "id": 118571088<br>            },<br>            "pull_request": {<br>                "type": "pullrequest",<br>                "id": 5695,<br>                "links": {<br>                    "self": {<br>                        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                    },<br>                    "html": {<br>                        "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                    }<br>                },<br>                "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>            }<br>        }<br>    ]<br>}<br>```<br><br>Updates include a state property of OPEN, MERGED, or DECLINED.<br><br>Update example:<br>```<br>{<br>    "pagelen": 20,<br>    "values": [<br>        {<br>            "update": {<br>                "description": "",<br>                "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it",<br>                "destination": {<br>                    "commit": {<br>                        "type": "commit",<br>                        "hash": "6a2c16e4a152",<br>                        "links": {<br>                            "self": {<br>                                "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/commit/6a2c16e4a152"<br>                            },<br>                            "html": {<br>                                "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/commits/6a2c16e4a152"<br>                            }<br>                        }<br>                    },<br>                    "branch": {<br>                        "name": "master"<br>                    },<br>                    "repository": {<br>                        "name": "Atlaskit-MK-2",<br>                        "type": "repository",<br>                        "full_name": "atlassian/atlaskit-mk-2",<br>                        "links": {<br>                            "self": {<br>                                "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2"<br>                            },<br>                            "html": {<br>                                "href": "https://bitbucket.org/atlassian/atlaskit-mk-2"<br>                            },<br>                            "avatar": {<br>                                "href": "https://bytebucket.org/ravatar/%7B%7D?ts=js"<br>                            }<br>                        },<br>                        "uuid": "{}"<br>                    }<br>                },<br>                "reason": "",<br>                "source": {<br>                    "commit": {<br>                        "type": "commit",<br>                        "hash": "728c8bad1813",<br>                        "links": {<br>                            "self": {<br>                                "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/commit/728c8bad1813"<br>                            },<br>                            "html": {<br>                                "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/commits/728c8bad1813"<br>                            }<br>                        }<br>                    },<br>                    "branch": {<br>                        "name": "username/NONE-add-onClick-prop-for-accessibility"<br>                    },<br>                    "repository": {<br>                        "name": "Atlaskit-MK-2",<br>                        "type": "repository",<br>                        "full_name": "atlassian/atlaskit-mk-2",<br>                        "links": {<br>                            "self": {<br>                                "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2"<br>                            },<br>                            "html": {<br>                                "href": "https://bitbucket.org/atlassian/atlaskit-mk-2"<br>                            },<br>                            "avatar": {<br>                                "href": "https://bytebucket.org/ravatar/%7B%7D?ts=js"<br>                            }<br>                        },<br>                        "uuid": "{}"<br>                    }<br>                },<br>                "state": "OPEN",<br>                "author": {<br>                    "display_name": "Name Lastname",<br>                    "uuid": "{}",<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/users/%7B%7D"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/%7B%7D/"<br>                        },<br>                        "avatar": {<br>                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/:/128"<br>                        }<br>                    },<br>                    "type": "user",<br>                    "nickname": "Name",<br>                    "account_id": ""<br>                },<br>                "date": "2019-05-10T06:48:25.305565+00:00"<br>            },<br>            "pull_request": {<br>                "type": "pullrequest",<br>                "id": 5695,<br>                "links": {<br>                    "self": {<br>                        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                    },<br>                    "html": {<br>                        "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                    }<br>                },<br>                "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>            }<br>        }<br>    ]<br>}<br>```<br><br>Approval example:<br>```<br>{<br>    "pagelen": 20,<br>    "values": [<br>        {<br>            "approval": {<br>                "date": "2019-09-27T00:37:19.849534+00:00",<br>                "pullrequest": {<br>                    "type": "pullrequest",<br>                    "id": 5695,<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                        }<br>                    },<br>                    "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>                },<br>                "user": {<br>                    "display_name": "Name Lastname",<br>                    "uuid": "{}",<br>                    "links": {<br>                        "self": {<br>                            "href": "https://api.bitbucket.org/2.0/users/%7B%7D"<br>                        },<br>                        "html": {<br>                            "href": "https://bitbucket.org/%7B%7D/"<br>                        },<br>                        "avatar": {<br>                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/:/128"<br>                        }<br>                    },<br>                    "type": "user",<br>                    "nickname": "Name",<br>                    "account_id": ""<br>                }<br>            },<br>            "pull_request": {<br>                "type": "pullrequest",<br>                "id": 5695,<br>                "links": {<br>                    "self": {<br>                        "href": "https://api.bitbucket.org/2.0/repositories/atlassian/atlaskit-mk-2/pullrequests/5695"<br>                    },<br>                    "html": {<br>                        "href": "https://bitbucket.org/atlassian/atlaskit-mk-2/pull-requests/5695"<br>                    }<br>                },<br>                "title": "username/NONE: small change from onFocus to onClick to handle tabbing through the page and not expand the editor unless a click event triggers it"<br>            }<br>        }<br>    ]<br>}<br>```'
      summary: Atlassian List A Pull Request Activity Log
      responses:
        '200':
          description: The pull request activity log
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListAPullRequestActivityLog
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/approve:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Pullrequests
      description: Redact the authenticated user's approval of the specified pull<br>request.
      summary: Atlassian Unapprove A Pull Request
      responses:
        '204':
          description: An empty response indicating the authenticated user's approval has been withdrawn.
        '400':
          description: Pull request cannot be unapproved because the pull request has already been merged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified pull request or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:pullrequest:bitbucket
      operationId: atlassianUnapproveAPullRequest
    post:
      tags:
      - Pullrequests
      description: Approve the specified pull request as the authenticated user.
      summary: Atlassian Approve A Pull Request
      responses:
        '200':
          description: The `participant` object recording that the authenticated user approved the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participant'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified pull request or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: atlassianApproveAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Returns a paginated list of the pull request's comments.<br><br>This includes both global, inline comments and replies.<br><br>The default sorting is oldest to newest and can be overridden with<br>the `sort` query parameter.<br><br>This endpoint also supports filtering and sorting of the results. See<br>[filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more<br>details.
      summary: Atlassian List Comments On A Pull Request
      responses:
        '200':
          description: A paginated list of comments made on the given pull request, in chronological order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequest_comments'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListCommentsOnAPullRequest
    post:
      tags:
      - Pullrequests
      description: Creates a new pull request comment.<br><br>Returns the newly created pull request comment.
      summary: Atlassian Create A Comment On A Pull Request
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The URL of the new comment
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest_comment'
        description: The comment object.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianCreateACommentOnAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Pullrequests
      description: Deletes a specific pull request comment.
      summary: Atlassian Delete A Comment On A Pull Request
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: If the authenticated user does not have access to delete the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianDeleteACommentOnAPullRequest
    get:
      tags:
      - Pullrequests
      description: Returns a specific pull request comment.
      summary: Atlassian Get A Comment On A Pull Request
      responses:
        '200':
          description: The comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianGetACommentOnAPullRequest
    put:
      tags:
      - Pullrequests
      description: Updates a specific pull request comment.
      summary: Atlassian Update A Comment On A Pull Request
      responses:
        '200':
          description: The updated comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
        '403':
          description: If the authenticated user does not have access to the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest_comment'
        description: The contents of the updated comment.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianUpdateACommentOnAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}/resolve:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Pullrequests
      description: Needs a more full description created.
      summary: Atlassian Reopen A Comment Thread
      responses:
        '204':
          description: The comment is reopened.
        '403':
          description: 'If the authenticated user does not have access to the pull request,

            or if the provided comment is not a top-level comment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist, or if the comment has not been resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianReopenACommentThread
    post:
      tags:
      - Pullrequests
      description: Needs a more full description created.
      summary: Atlassian Resolve A Comment Thread
      responses:
        '200':
          description: The comment resolution details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_resolution'
        '403':
          description: 'If the authenticated user does not have access to the pull request,

            if the provided comment is not a top-level comment,

            or if the comment is not on the diff.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: If the comment has already been resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianResolveACommentThread
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/commits:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Returns a paginated list of the pull request's commits.<br><br>These are the commits that are being merged into the destination<br>branch when the pull requests gets accepted.
      summary: Atlassian List Commits On A Pull Request
      responses:
        '200':
          description: A paginated list of commits made on the given pull request, in chronological order. This list will be empty if the source branch no longer exists.
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist or the source branch is from a forked repository which no longer exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListCommitsOnAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/decline:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Pullrequests
      description: Declines the pull request.
      summary: Atlassian Decline A Pull Request
      responses:
        '200':
          description: The pull request was successfully declined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest'
        '555':
          description: 'If the decline took too long and timed out.

            In this case the caller should retry the request later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: atlassianDeclineAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/diff:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Redirects to the [repository diff](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-diff-spec-get)<br>with the revspec that corresponds to the pull request.
      summary: Atlassian List Changes In A Pull Request
      responses:
        '302':
          description: 'Redirects to the [repository diff](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-diff-spec-get) with the

            revspec that corresponds to the pull request.

            '
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListChangesInAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/diffstat:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Redirects to the [repository diffstat](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-diffstat-spec-get)<br>with the revspec that corresponds to the pull request.
      summary: Atlassian Get The Diff Stat For A Pull Request
      responses:
        '302':
          description: 'Redirects to the [repository diffstat](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-diffstat-spec-get) with

            the revspec that corresponds to pull request.

            '
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianGetTheDiffStatForAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/merge:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Pullrequests
      description: Merges the pull request.
      summary: Atlassian Merge A Pull Request
      responses:
        '200':
          description: The pull request object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest'
        '202':
          description: In the Location header, the URL to poll for the pull request merge status
        '555':
          description: 'If the merge took too long and timed out.

            In this case the caller should retry the request later'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: async
        in: query
        description: 'Default value is false.



          When set to true, runs merge asynchronously and

          immediately returns a 202 with polling link to

          the task-status API in the Location header.



          When set to false, runs merge and waits for it to

          complete, returning 200 when it succeeds. If the

          duration of the merge exceeds a timeout threshold,

          the API returns a 202 with polling link to the

          task-status API in the Location header.'
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest_merge_parameters'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: atlassianMergeAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/merge/task-status/{task_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: ID of the merge task
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: 'When merging a pull request takes too long, the client receives a<br>task ID along with a 202 status code. The task ID can be used in a call<br>to this endpoint to check the status of a merge task.<br><br>```<br>curl -X GET https://api.bitbucket.org/2.0/repositories/atlassian/bitbucket/pullrequests/2286/merge/task-status/<br>```<br><br>If the merge task is not yet finished, a PENDING status will be returned.<br><br>```<br>HTTP/2 200<br>{<br>    "task_status": "PENDING",<br>    "links": {<br>        "self": {<br>            "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bitbucket/pullrequests/2286/merge/task-status/"<br>        }<br>    }<br>}<br>```<br><br>If the merge was successful, a SUCCESS status will be returned.<br><br>```<br>HTTP/2 200<br>{<br>    "task_status": "SUCCESS",<br>    "links": {<br>        "self": {<br>            "href": "https://api.bitbucket.org/2.0/repositories/atlassian/bitbucket/pullrequests/2286/merge/task-status/"<br>        }<br>    },<br>    "merge_result": <br>}<br>```<br><br>If the merge task failed, an error will be returned.<br><br>```<br>{<br>    "type": "error",<br>    "error": {<br>        "message": ""<br>    }<br>}<br>```'
      summary: Atlassian Get The Merge Task Status For A Pull Request
      responses:
        '200':
          description: Returns a task status if the merge is either pending or successful, and if it is successful, a pull request
        '400':
          description: If the provided task ID does not relate to this pull request, or if something went wrong during the merge operation
        '403':
          description: The user making the request does not have permission to the repo and is different from the user who queued the task
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianGetTheMergeTaskStatusForAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/patch:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Redirects to the [repository patch](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-patch-spec-get)<br>with the revspec that corresponds to pull request.
      summary: Atlassian Get The Patch For A Pull Request
      responses:
        '302':
          description: 'Redirects to the [repository patch](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-patch-spec-get) with

            the revspec that corresponds to pull request.

            '
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianGetThePatchForAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/request-changes:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Pullrequests
      description: Needs a more full description created.
      summary: Atlassian Remove Change Request For A Pull Request
      responses:
        '204':
          description: An empty response indicating the authenticated user's request for change has been withdrawn.
        '400':
          description: Pull request requested changes cannot be removed because the pull request has already been merged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified pull request or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:pullrequest:bitbucket
      operationId: atlassianRemoveChangeRequestForAPullRequest
    post:
      tags:
      - Pullrequests
      description: Needs a more full description created.
      summary: Atlassian Request Changes For A Pull Request
      responses:
        '200':
          description: The `participant` object recording that the authenticated user requested changes on the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participant'
        '400':
          description: Pull request changes cannot be requested because the pull request has already been merged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified pull request or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: atlassianRequestChangesForAPullRequest
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Returns a paginated list of the pull request's tasks.<br><br>This endpoint supports filtering and sorting of the results by the 'task' field.<br>See [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more details.
      summary: Atlassian List Tasks On A Pull Request
      responses:
        '200':
          description: A paginated list of pull request tasks for the given pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_tasks'
        '400':
          description: If the user provides an invalid filter, sort, or fields query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for details.'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          Defaults to `created_on`.

          '
        required: false
        schema:
          type: string
      - name: pagelen
        in: query
        description: '

          Current number of objects on the existing page.

          The default value is 10 with 100 being the maximum allowed value.

          Individual APIs may enforce different values.

          '
        required: false
        schema:
          type: integer
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListTasksOnAPullRequest
    post:
      tags:
      - Pullrequests
      description: Creates a new pull request task.<br><br>Returns the newly created pull request task.<br><br>Tasks can optionally be created in relation to a comment specified by the comment's ID which<br>will cause the task to appear below the comment on a pull request when viewed in Bitbucket.
      summary: Atlassian Create A Task On A Pull Request
      responses:
        '201':
          description: The newly created task.
          headers:
            Location:
              description: The URL of the new task
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
        '400':
          description: There is a missing required field in the request or the task content is blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A_pullrequest_task_create'
        description: The contents of the task
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianCreateATaskOnAPullRequest
  /repositories/{workspace}/{repo_slug}/commit/{commit}/pullrequests:
    get:
      tags:
      - Pullrequests
      summary: Atlassian List Pull Requests That Contain A Commit
      description: Returns a paginated list of all pull requests as part of which this commit was reviewed. Pull Request Commit Links app must be installed first before using this API; installation automatically occurs when 'Go to pull request' is clicked from the web interface for a commit's details.
      operationId: atlassianGetpullrequestsforcommit
      parameters:
      - name: workspace
        in: path
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces
        required: true
        schema:
          type: string
      - name: repo_slug
        in: path
        description: The repository; either the UUID in curly braces, or the slug
        required: true
        schema:
          type: string
      - name: commit
        in: path
        description: The SHA1 of the commit
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Which page to retrieve
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pagelen
        in: query
        description: How many pull requests to retrieve per page
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      responses:
        '200':
          description: The paginated list of pull requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
        '202':
          description: The repository's pull requests are still being indexed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
        '404':
          description: Either the repository does not exist, or pull request commit links have not yet been indexed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
  /repositories/{workspace}/{repo_slug}/default-reviewers:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Returns the repository's default reviewers.<br><br>These are the users that are automatically added as reviewers on every<br>new pull request that is created. To obtain the repository's default reviewers<br>as well as the default reviewers inherited from the project, use the<br>[effective-default-reveiwers](#api-repositories-workspace-repo-slug-effective-default-reviewers-get) endpoint.
      summary: Atlassian List Default Reviewers
      responses:
        '200':
          description: The paginated list of default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_accounts'
        '403':
          description: If the authenticated user does not have access to view the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListDefaultReviewers
  /repositories/{workspace}/{repo_slug}/default-reviewers/{target_username}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: target_username
      in: path
      description: 'This can either be the username or the UUID of the default reviewer,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Pullrequests
      description: Removes a default reviewer from the repository.
      summary: Atlassian Remove A User From The Default Reviewers
      responses:
        '204':
          description: The specified user successfully removed from the default reviewers
        '403':
          description: If the authenticated user does not have access modify the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: atlassianRemoveAUserFromTheDefaultReviewers
    get:
      tags:
      - Pullrequests
      description: Returns the specified reviewer.<br><br>This can be used to test whether a user is among the repository's<br>default reviewers list. A 404 indicates that that specified user is not<br>a default reviewer.
      summary: Atlassian Get A Default Reviewer
      responses:
        '200':
          description: The specified user is a default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
        '403':
          description: If the authenticated user does not have access to check if the specified user is a default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user does not exist or is not a default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianGetADefaultReviewer
    put:
      tags:
      - Pullrequests
      description: Adds the specified user to the repository's list of default<br>reviewers.<br><br>This method is idempotent. Adding a user a second time has no effect.
      summary: Atlassian Add A User To The Default Reviewers
      responses:
        '200':
          description: The specified user was successfully added to the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
        '400':
          description: If the authenticated user tried to add a team, bot user, or user without access to the repository to the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have permission to modify the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: atlassianAddAUserToTheDefaultReviewers
  /repositories/{workspace}/{repo_slug}/effective-default-reviewers:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Pullrequests
      description: Returns the repository's effective default reviewers. This includes both default<br>reviewers defined at the repository level as well as those inherited from its project.<br><br>These are the users that are automatically added as reviewers on every<br>new pull request that is created.
      summary: Atlassian List Effective Default Reviewers
      responses:
        '200':
          description: The paginated list of effective default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_default_reviewer_and_type'
              examples:
                response:
                  value:
                    pagelen: 20
                    values:
                    - user:
                        display_name: Patrick Wolf
                        uuid: '{9565301a-a3cf-4b5d-88f4-dd6af8078d7e}'
                      reviewer_type: project
                      type: default_reviewer
                    - user:
                        display_name: Davis Lee
                        uuid: '{f0e0e8e9-66c1-4b85-a784-44a9eb9ef1a6}'
                      reviewer_type: repository
                      type: default_reviewer
                    page: 1
                    size: 2
        '403':
          description: If the authenticated user does not have access to view the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: atlassianListEffectiveDefaultReviewers
components:
  schemas:
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    A_pullrequest_task_create:
      type: object
      title: Pull Request Task Create
      description: A pullrequest task create
      properties:
        content:
          type: object
          title: Task Raw Content
          description: task raw content
          properties:
            raw:
              type: string
              description: The task contents
          required:
          - raw
          additionalProperties: false
        comment:
          $ref: '#/components/schemas/comment'
        pending:
          type: boolean
      required:
      - content
      additionalProperties: false
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    paginated_tasks:
      type: object
      title: Paginated Tasks
      description: A paginated list of tasks.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
[...]
