openapi: 3.1.0
info:
  title: Atlassian Admin Account Tasks API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Tasks
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Tasks
      description: This API endpoint allows you to create a new task on a specific pull request within a Bitbucket repository. By sending a POST request to the specified path with the workspace identifier, repository slug, and pull request ID, you can add actionable tasks or to-do items that need to be completed as part of the pull request review process. The endpoint is useful for tracking specific action items, code changes, or requirements that reviewers or contributors need to address before the pull request can be merged. Tasks created through this endpoint become part of the pull request's workflow and can be checked off as they are completed, providing better collaboration and visibility into outstanding work items during the code review process.
      summary: Atlassian Create Task on Pull Request
      responses:
        '201':
          description: The newly created task.
          headers:
            Location:
              description: The URL of the new task
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
              examples:
                pull-request-comment-task:
                  $ref: '#/components/examples/pull-request-comment-task'
        '400':
          description: There is a missing required field in the request or the task content is blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A_pullrequest_task_create'
            examples:
              pull-request-task-create:
                $ref: '#/components/examples/pull-request-task-create'
        description: The contents of the task
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: createTaskOnPullRequest
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks/{task_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: The ID of the task.
      required: true
      schema:
        type: integer
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Tasks
      description: This API operation allows you to delete a specific task associated with a pull request in a Bitbucket repository. By sending a DELETE request to the endpoint with the workspace identifier, repository slug, pull request ID, and task ID, you can permanently remove a task that was previously created on a pull request. This is useful for cleaning up completed tasks, removing tasks that were created in error, or managing the task list associated with code review workflows. The operation requires appropriate permissions to modify tasks on the specified pull request within the repository.
      summary: Atlassian Delete Task on Pull Request
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: If the authenticated user does not have access to delete the task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: deleteTaskOnPullRequest
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Tasks
      description: This API operation retrieves detailed information about a specific task associated with a pull request in a Bitbucket repository. By providing the workspace identifier, repository slug, pull request ID, and task ID in the endpoint path, developers can fetch the task's current state, description, assignee information, creation date, and completion status. This is useful for tracking code review action items, follow-up work, or specific issues that need to be addressed within the context of a pull request, enabling teams to manage their code review workflow more effectively and ensure all tasks are completed before merging changes into the codebase.
      summary: Atlassian Get Task on Pull Request
      responses:
        '200':
          description: The task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
              examples:
                pull-request-comment-task_2:
                  $ref: '#/components/examples/pull-request-comment-task_2'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getTaskOnPullRequest
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Tasks
      description: This API operation allows you to update an existing task associated with a specific pull request in a Bitbucket repository. By making a PUT request to this endpoint, you can modify task details such as its content, state, or other properties for a task identified by its unique task_id within a pull request specified by pull_request_id in a given repository (repo_slug) under a particular workspace. This is useful for managing code review checklists, action items, or follow-up tasks that need to be tracked as part of the pull request workflow, enabling teams to keep their development processes organized and ensure all necessary steps are completed before merging code changes.
      summary: Atlassian Update Task on Pull Request
      responses:
        '200':
          description: The updated task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
              examples:
                pull-request-comment-task_2:
                  $ref: '#/components/examples/pull-request-comment-task_2'
        '400':
          description: There is a missing required field in the request or the task content is blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A_pullrequest_task_update'
            examples:
              pull-request-task-update:
                $ref: '#/components/examples/pull-request-task-update'
        description: The updated state and content of the task.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: updateTaskOnPullRequest
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/contentbody/convert/async/{id}:
    get:
      tags:
      - Tasks
      summary: Atlassian Get Asynchronously Converted Content Body From the Id or the Current Status of the Task
      description: This API endpoint retrieves the result of an asynchronous content body conversion operation in Atlassian Confluence using a unique task identifier. When content conversion is initiated asynchronously (such as converting between different markup formats like storage format, view format, or editor format), this GET operation allows you to check the current status of the conversion task and fetch the converted content once the operation is complete. The endpoint accepts the task ID as a path parameter and returns either the converted content body if the conversion has finished successfully, the current progress status if the task is still running, or an error message if the conversion failed. This is particularly useful for handling large or complex content conversions that may take significant time to process, allowing clients to poll for completion rather than blocking while waiting for the conversion to finish.
      operationId: getAsynchronouslyConvertedContentBodyFromTheIdOrTheCurrentStatusOfTheTask
      parameters:
      - name: id
        in: path
        description: The asyncId of the macro task to get the converted body.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returned if successfully found an async conversion task associated with the id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncContentBody'
        '400':
          description: Returned if the async id is invalid.
          content: {}
        '401':
          description: Returned if the request was not made by an anonymous user and user is not authenticated.
          content: {}
        '403':
          description: Returned if the requesting user is not the user who made the conversion request.
          content: {}
        '404':
          description: Returned if async macro conversion task cannot be found with the provided id.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.metadata:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: READ
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/api/3/task/{taskId}:
    get:
      deprecated: false
      description: Returns the status of a [long-running asynchronous task](#async).<br><br>When a task has finished, this operation returns the JSON blob applicable to the task. See the documentation of the operation that created the task for details. Task details are not permanently retained. As of September 2019, details are retained for 14 days although this period may change without notice.<br><br>**Deprecation notice:** The required OAuth 2.0 scopes will be updated on June 15, 2024.<br><br> *  `read:jira-work`<br><br>**[Permissions](#permissions) required:** either of:<br><br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).<br> *  Creator of the task.
      operationId: atlassianGettask
      parameters:
      - description: The ID of the task.
        in: path
        name: taskId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"self":"https://your-domain.atlassian.net/rest/api/3/task/1","id":"1","description":"Task description","status":"COMPLETE","result":"the task result, this may be any JSON","submittedBy":10000,"progress":100,"elapsedRuntime":156,"submitted":1501708132800,"started":1501708132900,"finished":1501708133000,"lastUpdate":1501708133000}'
              schema:
                $ref: '#/components/schemas/TaskProgressBeanObject'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the task is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      summary: Atlassian Get Task
      tags:
      - Tasks
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes: []
        state: Beta
      x-atlassian-connect-scope: NONE
  /rest/api/3/task/{taskId}/cancel:
    post:
      deprecated: false
      description: Cancels a task.<br><br>**[Permissions](#permissions) required:** either of:<br><br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).<br> *  Creator of the task.
      operationId: atlassianCanceltask
      parameters:
      - description: The ID of the task.
        in: path
        name: taskId
        required: true
        schema:
          type: string
      responses:
        '202':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Returned if cancellation of the task is not possible.
        '401':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Returned if the user does not have the necessary permission.
        '404':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Returned if the task is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      summary: Atlassian Cancel Task
      tags:
      - Tasks
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:async-task:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: NONE
components:
  schemas:
    task:
      type: object
      title: Task
      description: A task object.
      properties:
        id:
          type: integer
          example: abc123
        created_on:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_on:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        state:
          type: string
          enum:
          - RESOLVED
          - UNRESOLVED
          example: RESOLVED
        content:
          type: object
          properties:
            raw:
              type: string
              description: The text as it was typed by a user.
            markup:
              type: string
              description: The type of markup language the raw content is to be interpreted in.
              enum:
              - markdown
              - creole
              - plaintext
            html:
              type: string
              description: The user's content rendered as HTML.
          additionalProperties: false
          example: example_value
        creator:
          $ref: '#/components/schemas/account'
        pending:
          type: boolean
          example: true
        resolved_on:
          type: string
          description: The ISO8601 timestamp for when the task was resolved.
          format: date-time
          example: '2026-01-15T10:30:00Z'
        resolved_by:
          $ref: '#/components/schemas/account'
      required:
      - created_on
      - updated_on
      - state
      - content
      - creator
      additionalProperties: false
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    A_pullrequest_task_create:
      type: object
      title: Pull Request Task Create
      description: A pullrequest task create
      properties:
        content:
          type: object
          title: Task Raw Content
          description: task raw content
          properties:
            raw:
              type: string
              description: The task contents
          required:
          - raw
          additionalProperties: false
          example: example_value
        comment:
          $ref: '#/components/schemas/comment'
        pending:
          type: boolean
          example: true
      required:
      - content
      additionalProperties: false
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    A_pullrequest_comment_task:
      allOf:
      - $ref: '#/components/schemas/A_pull_request_task'
      - type: object
        title: Pull Request Comment Task
        description: A pullrequest comment task
        properties:
          comment:
            $ref: '#/components/schemas/comment'
        additionalProperties: false
    A_pullrequest_task_update:
      type: object
      title: Pull Request Task Update
      description: A pullrequest task update
      properties:
        content:
          type: object
          title: Task Raw Content
          description: task raw content
          properties:
            raw:
              type: string
              description: The task contents
          required:
          - raw
          additionalProperties: false
          example: example_value
        state:
          type: string
          enum:
          - RESOLVED
          - UNRESOLVED
          example: RESOLVED
      additionalProperties: false
    A_pull_request_task:
      allOf:
      - $ref: '#/components/schemas/task'
      - type: object
        title: Pull Request Task
        description: A pull request task.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
        additionalProperties: false
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    TaskProgressBeanObject:
      additionalProperties: false
      description: Details about a task.
      properties:
        description:
          description: The description of the task.
          type: string
        elapsedRuntime:
          description: The execution time of the task, in milliseconds.
          format: int64
          type: integer
        finished:
          description: A timestamp recording when the task was finished.
          format: int64
          type: integer
        id:
          description: The ID of the task.
          type: string
        lastUpdate:
          description: A timestamp recording when the task progress was last updated.
          format: int64
          type: integer
        message:
          description: Information about the progress of the task.
          type: string
        progress:
          description: The progress of the task, as a percentage complete.
          format: int64
          type: integer
        result:
          description: The result of the task execution.
        self:
          description: The URL of the task.
          format: uri
          type: string
        started:
          description: A timestamp recording when the task was started.
          format: int64
          type: integer
        status:
          description: The status of the task.
          enum:
          - ENQUEUED
          - RUNNING
          - COMPLETE
          - FAILED
          - CANCEL_REQUESTED
          - CANCELLED
          - DEAD
          type: string
        submitted:
          description: A timestamp recording when the task was submitted.
          format: int64
          type: integer
        submittedBy:
          description: The ID of the user who submitted the task.
          format: int64
          type: integer
      required:
      - elapsedRuntime
      - id
      - lastUpdate
      - progress
      - self
      - status
      - submitted
      - submittedBy
      type: object
    comment:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Comment
        description: The base type for all comments. This type should be considered abstract. Each of the "commentable" resources defines its own subtypes (e.g. `issue_comment`).
        properties:
          id:
            type: integer
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          content:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          user:
            $ref: '#/components/schemas/account'
          deleted:
            type: boolean
          parent:
            $ref: '#/components/schemas/comment'
          inline:
            type: object
            properties:
              from:
                type: integer
                description: The comment's anchor line in the old version of the file.
                minimum: 1
              to:
                type: integer
                description: The comment's anchor line in the new version of the file. If the 'from' line is also provided, this value will be removed.
                minimum: 1
              path:
                type: string
                description: The path of the file this comment is anchored to.
            required:
            - path
            additionalProperties: false
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              code:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
        additionalProperties: true
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
          example: https://www.example.com
        name:
          type: string
          example: Example Title
      additionalProperties: false
    AsyncContentBody:
      type: object
      properties:
        value:
          type: string
          example: example_value
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          example: view
        renderTaskId:
          type: string
          example: '500123'
        error:
          type: string
          example: example_value
        status:
          description: Rerunning is reserved for when the job is working, but there is a previous run's value in the cache. You may choose to continue polling, or use the cached value.
          type: string
          enum:
          - WORKING
          - QUEUED
          - FAILED
          - COMPLETED
          - RERUNNING
          example: WORKING
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
          example: []
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
          example: example_value
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
  examples:
    pull-request-comment-task:
      comment:
        id: '12345'
        text: Please review the changes in the authentication module
        author: john.doe
        createdAt: '2024-01-15T10:30:00Z'
    pull-request-comment-task_2:
      comment:
        id: 123e4567-e89b-12d3-a456-426614174000
        text: Please review the changes in the authentication module
        author: john.doe
        created_at: '2024-01-15T10:30:00Z'
    pull-request-task-create:
      content:
        raw: Please review the authentication logic in the login module
      comment:
        id: 12345
      pending: false
    pull-request-task-update:
      content:
        raw: Review the authentication logic in the login module
      state: RESOLVED
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
