openapi: 3.1.0
info:
  title: Atlassian Admin Account Space API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Space
paths:
  /wiki/rest/api/space/_private:
    post:
      tags:
      - Space
      summary: Atlassian Create Private Space
      description: Creates a new space that is only visible to the creator. This method is<br>the same as the [Create space](#api-space-post) method with permissions<br>set to the current user only. Note, currently you cannot set space<br>labels when creating a space.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'Create Space(s)' global permission.
      operationId: atlassianCreateprivatespace
      requestBody:
        description: The space to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceCreate'
        required: true
      responses:
        '200':
          description: Returned if the space is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
        '400':
          description: 'Returned if any of the following is true:


            - The request is invalid.

            - The space already exists.'
          content: {}
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '403':
          description: Returned if the user does not have permission to create a space.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-space
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-space
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:space-details:confluence
        - write:space:confluence
        - write:space.permission:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: SpacePrivateCreate
      x-atlassian-connect-scope: WRITE
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/space/{spaceKey}:
    get:
      tags:
      - Space
      summary: Atlassian Get Space
      deprecated: true
      description: Deprecated, use [Confluence's v2 API](https://developer.atlassian.com/cloud/confluence/rest/v2/intro/).<br><br>Returns a space. This includes information like the name, description,<br>and permissions, but not the content in the space.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'View' permission for the space.
      operationId: atlassianGetspace
      parameters:
      - name: spaceKey
        in: path
        description: The key of the space to be returned.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/spaceExpand'
      responses:
        '200':
          description: Returned if the requested space is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '404':
          description: 'Returned if any of the following is true:


            - There is no space with the given key.

            - The calling user does not have permission to view the space.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-space.summary
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-space.summary
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Space
      summary: Atlassian Update Space
      description: Updates the name, description, or homepage of a space.<br><br>-   For security reasons, permissions cannot be updated via the API and<br>must be changed via the user interface instead.<br>-   Currently you cannot set space labels when updating a space.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'Admin' permission for the space.
      operationId: atlassianUpdatespace
      parameters:
      - name: spaceKey
        in: path
        description: The key of the space to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The updated space.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceUpdate'
        required: true
      responses:
        '200':
          description: Returned if the space is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '404':
          description: 'Returned if any of the following is true:


            - There is no space with the given key

            - The calling user does not have permission to update the space.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-space
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-space
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:space-details:confluence
        - write:space:confluence
        - write:space.permission:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: WRITE
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Space
      summary: Atlassian Delete Space
      description: Deletes a space. Note, the space will be deleted in a long running task.<br>Therefore, the space may not be deleted yet when this method has<br>returned. Clients should poll the status link that is returned in the<br>response until the task completes.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'Admin' permission for the space.
      operationId: atlassianDeletespace
      parameters:
      - name: spaceKey
        in: path
        description: The key of the space to delete.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Returns a pointer to the status of the space deletion task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongTask'
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '404':
          description: 'Returned if any of the following is true:


            - There is no space with the given key.

            - The calling user does not have permission to delete the space.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-space
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-space
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.metadata:confluence
        - delete:space:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: DELETE
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/space/{spaceKey}/content:
    get:
      tags:
      - Space
      summary: Atlassian Get Content for Space
      deprecated: true
      description: Deprecated, use [Confluence's v2 API](https://developer.atlassian.com/cloud/confluence/rest/v2/intro/).<br><br>Returns all content in a space. The returned content is grouped by type<br>(pages then blogposts), then ordered by content ID in ascending order.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'View' permission for the space. Note, the returned list will only<br>contain content that the current user has permission to view.
      operationId: atlassianGetcontentforspace
      parameters:
      - name: spaceKey
        in: path
        description: The key of the space to be queried for its content.
        required: true
        schema:
          type: string
      - name: depth
        in: query
        description: Filter the results to content at the root level of the space or all content.
        schema:
          type: string
          default: all
          enum:
          - all
          - root
      - $ref: '#/components/parameters/contentExpand'
      - name: start
        in: query
        description: The starting index of the returned content.
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: 'The maximum number of content objects to return per page. Note, this

          may be restricted by fixed system limits.'
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Returned if the requested content is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    $ref: '#/components/schemas/ContentArray'
                  blogpost:
                    $ref: '#/components/schemas/ContentArray'
                  _links:
                    $ref: '#/components/schemas/GenericLinks'
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '404':
          description: 'Returned if any of the following is true:


            - There is no space with the given key.

            - The calling user does not have permission to view the space.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.summary
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.summary
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/space/{spaceKey}/content/{type}:
    get:
      tags:
      - Space
      summary: Atlassian Get Content by Type for Space
      deprecated: true
      description: Deprecated, use [Confluence's v2 API](https://developer.atlassian.com/cloud/confluence/rest/v2/intro/).<br><br>Returns all content of a given type, in a space. The returned content is<br>ordered by content ID in ascending order.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'View' permission for the space. Note, the returned list will only<br>contain content that the current user has permission to view.
      operationId: atlassianGetcontentbytypeforspace
      parameters:
      - name: spaceKey
        in: path
        description: The key of the space to be queried for its content.
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: The type of content to return. `page`, `blogpost`, `<some_customContentType>`.
        required: true
        schema:
          type: string
      - name: depth
        in: query
        description: 'Filter the results to content at the root level of the space or all

          content.'
        schema:
          type: string
          default: all
          enum:
          - all
          - root
      - $ref: '#/components/parameters/contentExpand'
      - name: start
        in: query
        description: The starting index of the returned content.
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: 'The maximum number of content objects to return per page. Note, this

          may be restricted by fixed system limits.'
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Returned if the requested content is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArray'
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '404':
          description: 'Returned if any of the following is true:


            - There is no space with the given key.

            - The calling user does not have permission to view the space.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.summary
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.summary
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/space:
    get:
      tags:
      - Space
      summary: Atlassian Get Spaces
      deprecated: true
      description: Deprecated, use [Confluence's v2 API](https://developer.atlassian.com/cloud/confluence/rest/v2/intro/).<br><br>Returns all spaces. The returned spaces are ordered alphabetically in<br>ascending order by space key.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).<br>Note, the returned list will only contain spaces that the current user<br>has permission to view.
      operationId: atlassianGetspaces
      parameters:
      - name: spaceKey
        in: query
        description: 'The key of the space to be returned. To return multiple spaces,

          specify this parameter multiple times with different values.'
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: spaceId
        in: query
        description: 'The id of the space to be returned. To return multiple spaces,

          specify this parameter multiple times with different values.'
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: type
        in: query
        description: Filter the results to spaces based on their type.
        schema:
          type: string
          enum:
          - global
          - personal
      - name: status
        in: query
        description: Filter the results to spaces based on their status.
        schema:
          type: string
          enum:
          - current
          - archived
      - name: label
        in: query
        description: Filter the results to spaces based on their label.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: favourite
        in: query
        description: 'Filter the results to the favourite spaces of the user specified by

          `favouriteUserKey`. Note, ''favourite'' spaces are also

          known as ''saved for later'' spaces.'
        schema:
          type: boolean
      - name: favouriteUserKey
        in: query
        description: 'The userKey of the user, whose favourite spaces are used to filter

          the results when using the `favourite` parameter.


          Leave blank for the current user. Use [Get user](#api-user-get) to

          get the userKey for a user.'
        schema:
          type: string
      - $ref: '#/components/parameters/spaceExpand'
      - name: start
        in: query
        description: The starting index of the returned spaces.
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: 'The maximum number of spaces to return per page. Note, this may be

          restricted by fixed system limits.'
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Returned if the requested spaces are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceArray'
        '400':
          description: Returned if spaces could not be fetched due to an invalid status being provided.
          content: {}
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-space.summary
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-space.summary
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
    post:
      tags:
      - Space
      summary: Atlassian Create Space
      description: Creates a new space. Note, currently you cannot set space labels when<br>creating a space.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>'Create Space(s)' global permission.
      operationId: atlassianCreatespace
      requestBody:
        description: The space to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceCreate'
        required: true
      responses:
        '200':
          description: Returned if the space is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space_3'
        '400':
          description: 'Returned if any of the following is true:


            - The request is invalid.

            - The space already exists.'
          content: {}
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '403':
          description: Returned if the callig user does not have permission to create a space.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-space
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-space
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:space-details:confluence
        - write:space:confluence
        - write:space.permission:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: WRITE
components:
  schemas:
    LabelArray:
      required:
      - results
      - size
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Label'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
        _links:
          $ref: '#/components/schemas/GenericLinks'
    HorizontalHeaderLookAndFeel:
      required:
      - backgroundColor
      - primaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/TopNavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    SpaceDescriptionCreate:
      required:
      - plain
      type: object
      nullable: true
      properties:
        plain:
          type: object
          additionalProperties: true
          properties:
            value:
              type: string
              description: The space description.
            representation:
              type: string
              description: Set to 'plain'.
      description: 'The description of the new/updated space. Note, only the ''plain'' representation

        can be used for the description when creating or updating a space.'
    GenericLinks:
      type: object
      additionalProperties:
        oneOf:
        - type: object
          additionalProperties: true
        - type: string
    SpacePermissionCreate:
      required:
      - anonymousAccess
      - operation
      - unlicensedAccess
      type: object
      additionalProperties: true
      properties:
        subjects:
          type: object
          properties:
            user:
              required:
              - results
              - size
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
                size:
                  type: integer
                  format: int32
            group:
              required:
              - results
              - size
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/GroupCreate'
                size:
                  type: integer
                  format: int32
          description: The users and/or groups that the permission applies to.
        operation:
          $ref: '#/components/schemas/OperationCheckResult'
        anonymousAccess:
          type: boolean
          description: Grant anonymous users permission to use the operation.
          default: false
        unlicensedAccess:
          type: boolean
          description: 'Grants access to unlicensed users from JIRA Service Desk when used

            with the ''read space'' operation.'
          default: false
      description: "This object represents a permission for given space. Permissions consist of\nat least one operation object with an accompanying subjects object.\n\nThe following combinations of `operation` and `targetType` values are\nvalid for the `operation` object:\n\n  - 'create': 'page', 'blogpost', 'comment', 'attachment'\n  - 'read': 'space'\n  - 'delete': 'page', 'blogpost', 'comment', 'attachment'\n  - 'export': 'space'\n  - 'administer': 'space'"
    ButtonLookAndFeel:
      required:
      - backgroundColor
      - color
      type: object
      nullable: true
      properties:
        backgroundColor:
          type: string
        color:
          type: string
    Space:
      required:
      - _expandable
      - _links
      - key
      - name
      - status
      - type
      nullable: true
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: abc123
        key:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        icon:
          $ref: '#/components/schemas/Icon'
        description:
          type: object
          properties:
            plain:
              $ref: '#/components/schemas/SpaceDescription'
            view:
              $ref: '#/components/schemas/SpaceDescription'
            _expandable:
              type: object
              properties:
                view:
                  type: string
                plain:
                  type: string
          example: A sample description.
        homepage:
          $ref: '#/components/schemas/Content'
        type:
          type: string
          example: example_value
        metadata:
          type: object
          properties:
            labels:
              $ref: '#/components/schemas/LabelArray'
            _expandable:
              type: object
          example: example_value
        operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationCheckResult'
          example: []
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/SpacePermission'
          example: []
        status:
          type: string
          example: example_value
        settings:
          $ref: '#/components/schemas/SpaceSettings'
        theme:
          $ref: '#/components/schemas/Theme'
        lookAndFeel:
          $ref: '#/components/schemas/LookAndFeel'
        history:
          required:
          - createdDate
          type: object
          properties:
            createdDate:
              type: string
              format: date-time
            createdBy:
              $ref: '#/components/schemas/User'
          example: example_value
        _expandable:
          type: object
          properties:
            settings:
              type: string
            metadata:
              type: string
            operations:
              type: string
            lookAndFeel:
              type: string
            permissions:
              type: string
            icon:
              type: string
            description:
              type: string
            theme:
              type: string
            history:
              type: string
            homepage:
              type: string
            identifiers:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    UsersUserKeys:
      required:
      - userAccountIds
      nullable: true
      type: object
      additionalProperties: true
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        userKeys:
          type: array
          items:
            type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ContainerLookAndFeel:
      required:
      - background
      - backgroundColor
      - backgroundImage
      - backgroundSize
      - borderRadius
      - padding
      type: object
      nullable: true
      properties:
        background:
          type: string
        backgroundAttachment:
          type: string
          nullable: true
        backgroundBlendMode:
          type: string
          nullable: true
        backgroundClip:
          type: string
          nullable: true
        backgroundColor:
          type: string
          nullable: true
        backgroundImage:
          type: string
          nullable: true
        backgroundOrigin:
          type: string
          nullable: true
        backgroundPosition:
          type: string
          nullable: true
        backgroundRepeat:
          type: string
          nullable: true
        backgroundSize:
          type: string
          nullable: true
        padding:
          type: string
        borderRadius:
          type: string
    ContentChildType:
      type: object
      properties:
        attachment:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
        comment:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
        page:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
        _expandable:
          type: object
          properties:
            all:
              type: string
            attachment:
              type: string
            comment:
              type: string
            page:
              type: string
            whiteboard:
              type: string
      additionalProperties: true
      description: 'Shows whether a piece of content has attachments, comments, or child pages/whiteboards.

        Note, this doesn''t actually contain the child objects.'
    SearchFieldLookAndFeel:
      required:
      - backgroundColor
      - color
      type: object
      nullable: true
      properties:
        backgroundColor:
          type: string
        color:
          type: string
    MenusLookAndFeel:
      required:
      - color
      - hoverOrFocus
      type: object
      properties:
        hoverOrFocus:
          required:
          - backgroundColor
          type: object
          properties:
            backgroundColor:
              type: string
        color:
          type: string
    ContentHistory:
      required:
      - latest
      type: object
      nullable: true
      properties:
        latest:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/User'
        ownedBy:
          $ref: '#/components/schemas/User'
        lastOwnedBy:
          $ref: '#/components/schemas/User'
        createdDate:
          type: string
          format: date-time
        lastUpdated:
          $ref: '#/components/schemas/Version'
        previousVersion:
          $ref: '#/components/schemas/Version'
        contributors:
          type: object
          properties:
            publishers:
              $ref: '#/components/schemas/UsersUserKeys'
        nextVersion:
          $ref: '#/components/schemas/Version'
        _expandable:
          type: object
          properties:
            lastUpdated:
              type: string
            previousVersion:
              type: string
            contributors:
              type: string
            nextVersion:
              type: string
            ownedBy:
              type: string
            lastOwnedBy:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    Space_3:
      required:
      - _expandable
      - _links
      - key
      - name
      - status
      - type
      nullable: true
      type: object
      properties:
        id:
          type: integer
          format: int64
        key:
          type: string
        name:
          type: string
        icon:
          $ref: '#/components/schemas/Icon'
        description:
          type: object
          properties:
            plain:
              $ref: '#/components/schemas/SpaceDescription'
            view:
              $ref: '#/components/schemas/SpaceDescription'
            _expandable:
              type: object
              properties:
                view:
                  type: string
                plain:
                  type: string
        homepage:
          $ref: '#/components/schemas/Content'
        type:
          type: string
        metadata:
          type: object
          properties:
            labels:
              $ref: '#/components/schemas/LabelArray_3'
            _expandable:
              type: object
        operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationCheckResult'
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/SpacePermission'
        status:
          type: string
        settings:
          $ref: '#/components/schemas/SpaceSettings_3'
        theme:
          $ref: '#/components/schemas/Theme_3'
        lookAndFeel:
          $ref: '#/components/schemas/LookAndFeel'
        history:
          required:
          - createdDate
          type: object
          properties:
            createdDate:
              type: string
              format: date-time
            createdBy:
              $ref: '#/components/schemas/User'
        _expandable:
          type: object
          properties:
            settings:
              type: string
            metadata:
              type: string
            operations:
              type: string
            lookAndFeel:
              type: string
            permissions:
              type: string
            icon:
              type: string
            description:
              type: string
            theme:
              type: string
            history:
              type: string
            homepage:
              type: string
            identifiers:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    GroupCreate:
      required:
      - type
      type: object
      description: The name property will soon be deprecated in favor of using id.
      additionalProperties: true
      properties:
        type:
          type: string
          default: group
          enum:
          - group
        name:
          type: string
          deprecated: true
        id:
          type: string
    EmbeddedContent:
      type: object
      additionalProperties: true
      properties:
        entityId:
          type: integer
          format: int64
        entityType:
          type: string
        entity:
          $ref: '#/components/schemas/Embeddable'
    WebResourceDependencies:
      type: object
      properties:
        _expandable:
          type: object
          additionalProperties: true
          properties:
            uris:
              oneOf:
              - type: string
              - type: object
                additionalProperties: true
        keys:
          type: array
          items:
            type: string
        contexts:
          type: array
          items:
            type: string
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            _expandable:
              type: object
              additionalProperties: true
              properties:
                css:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
                js:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
            _expandable:
              type: object
              additionalProperties: true
        superbatch:
          $ref: '#/components/schemas/SuperBatchWebResources'
    ContentArray_3:
      required:
      - _links
      - results
      - size
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Content'
        start:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ScreenLookAndFeel:
      required:
      - background
      type: object
      properties:
        background:
          type: string
        backgroundAttachment:
          type: string
          nullable: true
        backgroundBlendMode:
          type: string
          nullable: true
        backgroundClip:
          type: string
          nullable: true
        backgroundColor:
          type: string
          nullable: true
        backgroundImage:
          type: string
          nullable: true
        backgroundOrigin:
          type: string
          nullable: true
        backgroundPosition:
          type: string
          nullable: true
        backgroundRepeat:
          type: string
          nullable: true
        backgroundSize:
          type: string
          nullable: true
        layer:
          type: object
          properties:
            width:
              type: string
            height:
              type: string
          nullable: true
        gutterTop:
          type: string
          nullable: true
        gutterRight:
          type: string
          nullable: true
        gutterBottom:
          type: string
          nullable: true
        gutterLeft:
          type: string
          nullable: true
    TopNavigationLookAndFeel:
      required:
      - highlightColor
      type: object
      properties:
        color:
          type: string
          nullable: true
        highlightColor:
          type: string
        hoverOrFocus:
          type: object
          properties:
            backgroundColor:
              type: string
            color:
              type: string
    LabelArray_3:
      required:
      - results
      - size
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        start:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        _links:
          $ref: '#/components/schemas/GenericLinks'
    HeaderLookAndFeel:
      required:
      - backgroundColor
      - button
      - primaryNavigation
      - search
      - secondaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    SpaceUpdate:
      type: object
      additionalProperties: true
      properties:
        name:
          nullable: true
          maxLength: 200
          type: string
          description: The updated name of the space.
        description:
          $ref: '#/components/schemas/SpaceDescriptionCreate'
        homepage:
          nullable: true
          description: The updated homepage for this space
          type: object
        type:
          description: The updated type for this space.
          type: string
        status:
          nullable: true
          description: The updated status for this space.
          type: string
      description: The properties of a space that can be updated.
    Group:
      required:
      - name
      - type
      - id
      type: object
      properties:
        type:
          type: string
          default: group
          enum:
          - group
        name:
          type: string
        id:
          type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    SuperBatchWebResources:
      type: object
      properties:
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
        metatags:
          type: string
        _expandable:
          type: object
          additionalProperties: true
    SpaceArray:
      required:
      - _links
      - limit
      - results
      - size
      - start
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Space_3'
        start:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        _links:
          $ref: '#/components/schemas/GenericLinks'
    UserArray:
      required:
      - results
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        start:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        totalSize:
          type: integer
          format: int64
          default: 0
          description: 'This property will return total count of the objects before pagination is applied.

            This value is returned if `shouldReturnTotalSize` is set to `true`.'
        _links:
          $ref: '#/components/schemas/GenericLinks'
    Icon:
      required:
      - height
      - isDefault
      - path
      - width
      type: object
      nullable: true
      properties:
        path:
          type: string
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        isDefault:
          type: boolean
      description: This object represents an icon. If used as a profilePicture, this may be returned as null, depending on the user's privacy setting.
    GenericAccountId:
      type: string
      nullable: true
      description: 'The account ID of the user, which uniquely identifies the user across all Atlassian products.

        For example, `384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192`.'
    Label:
      required:
      - id
      - label
      - name
      - prefix
      type: object
      properties:
        prefix:
          type: string
        name:
          type: string
        id:
          type: string
        label:
          type: string
    Theme:
      required:
      - themeKey
      type: object
      properties:
        themeKey:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        description:
          type: string
          example: A sample description.
        icon:
          $ref: '#/components/schemas/Icon'
        _links:
          $ref: '#/components/schemas/GenericLinks'
    SpaceDescription:
      required:
      - embeddedContent
      - representation
      - value
      type: object
      additionalProperties: true
      properties:
        value:
          type: string
        representation:
          type: string
          enum:
          - plain
          - view
        embeddedContent:
          type: array
          items:
            type: object
            properties: {}
    GenericUserKey:
      type: string
      nullable: true
      description: 'This property is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
    Theme_3:
      required:
      - themeKey
      type: object
      properties:
        themeKey:
          type: string
        name:
          type: string
        description:
          type: string
        icon:
          $ref: '#/components/schemas/Icon'
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ContentChildren:
      type: object
      additionalProperties: true
      properties:
        attachment:
          $ref: '#/components/schemas/ContentArray_3'
        comment:
          $ref: '#/components/schemas/ContentArray_3'
        page:
          $ref: '#/components/schemas/ContentArray_3'
        _expandable:
          type: object
          additionalProperties: true
          properties:
            attachment:
              type: string
            comment:
              type: string
            page:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ContentMetadata:
      type: object
      additionalProperties: true
      properties:
        currentuser:
          type: object
          properties:
            favourited:
              type: object
              properties:
                isFavourite:
                  type: boolean
                favouritedDate:
                  type: string
                  format: date-time
            lastmodified:
              type: object
              properties:
                version:
                  $ref: '#/components/schemas/Version'
                friendlyLastModified:
                  type: string
            lastcontributed:
              type: object
              properties:
                status:
                  type: string
                when:
                  type: string
                  format: date-time
            viewed:
              type: object
              properties:
                lastSeen:
                  type: string
                  format: date-time
                friendlyLastSeen:
                  type: string
            scheduled:
              type: object
            _expandable:
              type: object
              properties:
                favourited:
                  type: string
                lastmodified:
                  type: string
                lastcontributed:
                  type: string
                viewed:
                  type: string
                scheduled:
                  type: string
        properties:
          $ref: '#/components/schemas/GenericLinks'
        frontend:
          type: object
          additionalProperties: true
        labels:
          oneOf:
          - $ref: '#/components/schemas/LabelArray_3'
          - type: array
            items:
              $ref: '#/components/schemas/Label'
      description: Metadata object for page, blogpost, comment content
    ContentBody:
      required:
      - representation
      - value
      type: object
      properties:
        value:
          type: string
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          - raw
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    LookAndFeel:
      required:
      - bordersAndDividers
      - content
      - header
      - headings
      - links
      - menus
      type: object
      properties:
        headings:
          required:
          - color
          type: object
          properties:
            color:
              type: string
        links:
          required:
          - color
          type: object
          properties:
            color:
              type: string
        menus:
          $ref: '#/components/schemas/MenusLookAndFeel'
        header:
          $ref: '#/components/schemas/HeaderLookAndFeel'
        horizontalHeader:
          $ref: '#/components/schemas/HorizontalHeaderLookAndFeel'
        content:
          $ref: '#/components/schemas/ContentLookAndFeel'
        bordersAndDividers:
          required:
          - color
          type: object
          properties:
            color:
              type: string
        spaceReference:
          type: object
          nullable: true
    Container:
      type: object
      nullable: true
      additionalProperties: true
      description: 'Container for content. This can be either a space (containing a page or blogpost)

        or a page/blog post (containing an attachment or comment)'
    OperationCheckResult:
      required:
      - operation
      - targetType
      type: object
      properties:
        operation:
          type: string
          description: The operation itself.
          enum:
          - administer
          - archive
          - clear_permissions
          - copy
          - create
          - create_space
          - delete
          - export
          - move
          - purge
          - purge_version
          - read
          - restore
          - restrict_content
          - update
          - use
        targetType:
          type: string
          description: The space or content type that the operation applies to. Could be one of- - application - page - blogpost - comment - attachment - space
      description: An operation and the target entity that it applies to, e.g. create page.
    SpaceSettings_3:
      nullable: true
      required:
      - _links
      - routeOverrideEnabled
      type: object
      properties:
        routeOverrideEnabled:
          type: boolean
          description: 'Defines whether an override for the space home should be used. This is

            used in conjunction with a space theme provided by an app. For

            example, if this property is set to true, a theme can display a page

            other than the space homepage when users visit the root URL for a

            space. This property allows apps to provide content-only theming

            without overriding the space home.'
        editor:
          required:
          - page
          - blogpost
          - default
          type: object
          properties:
            page:
              type: string
            blogpost:
              type: string
            default:
              type: string
        spaceKey:
          type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    User:
      required:
      - type
      type: object
      additionalProperties: true
      nullable: true
      properties:
        type:
          type: string
          enum:
          - known
          - unknown
          - anonymous
          - user
        username:
          $ref: '#/components/schemas/GenericUserName'
        userKey:
          $ref: '#/components/schemas/GenericUserKey'
        accountId:
          $ref: '#/components/schemas/GenericAccountId'
        accountType:
          type: string
          description: The account type of the user, may return empty string if unavailable. App is if the user is a bot user created on behalf of an Atlassian app.
          enum:
          - atlassian
          - app
          - ''
        email:
          nullable: true
          type: string
          description: The email address of the user. Depending on the user's privacy setting, this may return an empty string.
        publicName:
          type: string
          description: The public name or nickname of the user. Will always contain a value.
        profilePicture:
          $ref: '#/components/schemas/Icon'
        displayName:
          nullable: true
          type: string
          description: The displays name of the user. Depending on the user's privacy setting, this may be the same as publicName.
        timeZone:
          nullable: true
          type: string
          description: This displays user time zone. Depending on the user's privacy setting, this may return null.
        isExternalCollaborator:
          type: boolean
          description: Whether the user is an external collaborator user
        externalCollaborator:
          type: boolean
          description: Whether the user is an external collaborator user
        operations:
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/OperationCheckResult'
        details:
          $ref: '#/components/schemas/UserDetails'
        personalSpace:
          $ref: '#/components/schemas/Space_3'
        _expandable:
          type: object
          properties:
            operations:
              type: string
            details:
              type: string
            personalSpace:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    SpacePermission:
      required:
      - anonymousAccess
      - operation
      - unlicensedAccess
      type: object
      properties:
        id:
          type: integer
          format: int64
        subjects:
          type: object
          properties:
            user:
              required:
              - results
              - size
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
                size:
                  type: integer
                  format: int32
                start:
                  type: integer
                  format: int32
                limit:
                  type: integer
                  format: int32
            group:
              required:
              - results
              - size
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/Group'
                size:
                  type: integer
                  format: int32
                start:
                  type: integer
                  format: int32
                limit:
                  type: integer
                  format: int32
            _expandable:
              type: object
              properties:
                user:
                  type: string
                group:
                  type: string
          description: The users and/or groups that the permission applies to.
        operation:
          $ref: '#/components/schemas/OperationCheckResult'
        anonymousAccess:
          type: boolean
          description: Grant anonymous users permission to use the operation.
          default: false
        unlicensedAccess:
          type: boolean
          description: 'Grants access to unlicensed users from JIRA Service Desk when used

            with the ''read space'' operation.'
          default: false
      description: "This object represents a permission for given space. Permissions consist of\nat least one operation object with an accompanying subjects object.\n\nThe following combinations of `operation` and `targetType` values are\nvalid for the `operation` object:\n\n  - 'create': 'page', 'blogpost', 'comment', 'attachment'\n  - 'read': 'space'\n  - 'delete': 'page', 'blogpost', 'comment', 'attachment'\n  - 'export': 'space'\n  - 'administer': 'space'"
    ContentLookAndFeel:
      type: object
      properties:
        screen:
          $ref: '#/components/schemas/ScreenLookAndFeel'
        container:
          $ref: '#/components/schemas/ContainerLookAndFeel'
        header:
          $ref: '#/components/schemas/ContainerLookAndFeel'
        body:
          $ref: '#/components/schemas/ContainerLookAndFeel'
    ContentArray:
      required:
      - _links
      - results
      - size
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Content'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
        _links:
          $ref: '#/components/schemas/GenericLinks'
    NavigationLookAndFeel:
      required:
      - color
      - hoverOrFocus
      type: object
      nullable: true
      properties:
        color:
          type: string
        highlightColor:
          type: string
          nullable: true
        hoverOrFocus:
          required:
          - backgroundColor
          - color
          type: object
          properties:
            backgroundColor:
              type: string
            color:
              type: string
    GroupArray:
      required:
      - limit
      - results
      - size
      - start
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        start:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
    LongTask:
      required:
      - id
      - links
      type: object
      properties:
        ari:
          type: string
          description: the ARI for the long task, based on its ID
        id:
          type: string
          description: a unique identifier for the long task
        links:
          type: object
          additionalProperties: true
          properties:
            status:
              type: string
              description: The URL to retrive status of long task.
    ContentRestriction:
      required:
      - _expandable
      - _links
      - operation
      type: object
      properties:
        operation:
          type: string
          enum:
          - administer
          - copy
          - create
          - delete
          - export
          - move
          - purge
          - purge_version
          - read
          - restore
          - update
          - use
        restrictions:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/UserArray'
            group:
              $ref: '#/components/schemas/GroupArray'
            _expandable:
              type: object
              properties:
                user:
                  type: string
                group:
                  type: string
        content:
          $ref: '#/components/schemas/Content'
        _expandable:
          type: object
          properties:
            restrictions:
              type: string
            content:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    Content:
      required:
      - status
      - type
      nullable: true
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        type:
          type: string
          description: Can be "page", "blogpost", "attachment" or "content"
        status:
          type: string
        title:
          type: string
        space:
          $ref: '#/components/schemas/Space_3'
        history:
          $ref: '#/components/schemas/ContentHistory'
        version:
          $ref: '#/components/schemas/Version'
        ancestors:
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/Content'
        operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationCheckResult'
        children:
          $ref: '#/components/schemas/ContentChildren'
        childTypes:
          $ref: '#/components/schemas/ContentChildType'
        descendants:
          $ref: '#/components/schemas/ContentChildren'
        container:
          $ref: '#/components/schemas/Container'
        body:
          type: object
          properties:
            view:
              $ref: '#/components/schemas/ContentBody'
            export_view:
              $ref: '#/components/schemas/ContentBody'
            styled_view:
              $ref: '#/components/schemas/ContentBody'
            storage:
              $ref: '#/components/schemas/ContentBody'
            wiki:
              $ref: '#/components/schemas/ContentBody'
            editor:
              $ref: '#/components/schemas/ContentBody'
            editor2:
              $ref: '#/components/schemas/ContentBody'
            anonymous_export_view:
              $ref: '#/components/schemas/ContentBody'
            atlas_doc_format:
              $ref: '#/components/schemas/ContentBody'
            dynamic:
              $ref: '#/components/schemas/ContentBody'
            raw:
              $ref: '#/components/schemas/ContentBody'
            _expandable:
              type: object
              properties:
                editor:
                  type: string
                view:
                  type: string
                export_view:
                  type: string
                styled_view:
                  type: string
                storage:
                  type: string
                editor2:
                  type: string
                anonymous_export_view:
                  type: string
                atlas_doc_format:
                  type: string
                wiki:
                  type: string
                dynamic:
                  type: string
                raw:
                  type: string
        restrictions:
          type: object
          properties:
            read:
              $ref: '#/components/schemas/ContentRestriction'
            update:
              $ref: '#/components/schemas/ContentRestriction'
            _expandable:
              type: object
              properties:
                read:
                  type: string
                update:
                  type: string
            _links:
              $ref: '#/components/schemas/GenericLinks'
        metadata:
          $ref: '#/components/schemas/ContentMetadata'
        macroRenderedOutput:
          type: object
          additionalProperties:
            type: object
        extensions:
          type: object
        _expandable:
          type: object
          properties:
            childTypes:
              type: string
            container:
              type: string
            metadata:
              type: string
            operations:
              type: string
            children:
              type: string
            restrictions:
              type: string
            history:
              type: string
            ancestors:
              type: string
            body:
              type: string
            version:
              type: string
            descendants:
              type: string
            space:
              type: string
            extensions:
              type: string
            schedulePublishDate:
              type: string
            schedulePublishInfo:
              type: string
            macroRenderedOutput:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
      description: Base object for all content types.
    Version:
      required:
      - minorEdit
      - number
      - when
      type: object
      nullable: true
      additionalProperties: true
      properties:
        by:
          $ref: '#/components/schemas/User'
        when:
          type: string
          format: date-time
          nullable: true
        friendlyWhen:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        number:
          type: integer
          format: int32
          description: Set this to the current version number incremented by one
        minorEdit:
          description: 'If `minorEdit` is set to ''true'', no notification email or activity

            stream will be generated for the change.'
          type: boolean
        content:
          $ref: '#/components/schemas/Content'
        collaborators:
          $ref: '#/components/schemas/UsersUserKeys'
        _expandable:
          type: object
          properties:
            content:
              type: string
            collaborators:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
        contentTypeModified:
          type: boolean
          description: True if content type is modifed in this version (e.g. page to blog)
        confRev:
          type: string
          nullable: true
          description: The revision id provided by confluence to be used as a revision in Synchrony
        syncRev:
          type: string
          nullable: true
          description: The revision id provided by Synchrony
        syncRevSource:
          type: string
          nullable: true
          description: Source of the synchrony revision
    SpaceCreate:
      required:
      - key
      - name
      type: object
      additionalProperties: true
      properties:
        key:
          type: string
          description: 'The key for the new space. Format: See [Space

            keys](https://confluence.atlassian.com/x/lqNMMQ).'
        name:
          maxLength: 200
          type: string
          description: The name of the new space.
        description:
          $ref: '#/components/schemas/SpaceDescriptionCreate'
        permissions:
          type: array
          nullable: true
          description: 'The permissions for the new space. If no permissions are provided, the

            [Confluence default space permissions](https://confluence.atlassian.com/x/UAgzKw#CreateaSpace-Spacepermissions)

            are applied. Note that if permissions are provided, the space is

            created with only the provided set of permissions, not

            including the default space permissions. Space permissions

            can be modified after creation using the space permissions

            endpoints, and a private space can be created using the

            create private space endpoint.'
          items:
            $ref: '#/components/schemas/SpacePermissionCreate'
      description: This is the request object used when creating a new space.
    GenericUserName:
      type: string
      nullable: true
      description: 'This property is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
    Embeddable:
      type: object
      additionalProperties: true
    SpaceSettings:
      nullable: true
      required:
      - _links
      - routeOverrideEnabled
      type: object
      properties:
        routeOverrideEnabled:
          type: boolean
          description: 'Defines whether an override for the space home should be used. This is

            used in conjunction with a space theme provided by an app. For

            example, if this property is set to true, a theme can display a page

            other than the space homepage when users visit the root URL for a

            space. This property allows apps to provide content-only theming

            without overriding the space home.'
          example: true
        editor:
          required:
          - page
          - blogpost
          - default
          type: object
          properties:
            page:
              type: string
            blogpost:
              type: string
            default:
              type: string
          example: example_value
        spaceKey:
          type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    UserDetails:
      type: object
      properties:
        business:
          type: object
          properties:
            position:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            department:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            location:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
        personal:
          type: object
          properties:
            phone:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            im:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            website:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            email:
              type: string
              description: 'This property has been deprecated due to privacy changes. Use the `User.email` property instead. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
  parameters:
    contentExpand:
      name: expand
      in: query
      description: 'A multi-value parameter indicating which properties of the content to expand.


        - `childTypes.all` returns whether the content has attachments, comments, or child pages/whiteboards.

        Use this if you only need to check whether the content has children of a particular type.

        - `childTypes.attachment` returns whether the content has attachments.

        - `childTypes.comment` returns whether the content has comments.

        - `childTypes.page` returns whether the content has child pages.

        - `container` returns the space that the content is in. This is the same as the information

        returned by [Get space](#api-space-spaceKey-get).

        - `metadata.currentuser` returns information about the current user in relation to the content,

        including when they last viewed it, modified it, contributed to it, or added it as a favorite.

        - `metadata.properties` returns content properties that have been set via the Confluence REST API.

        - `metadata.labels` returns the labels that have been added to the content.

        - `metadata.frontend` this property is only used by Atlassian.

        - `operations` returns the operations for the content, which are used when setting permissions.

        - `children.page` returns pages that are descendants at the level immediately below the content.

        - `children.attachment` returns all attachments for the content.

        - `children.comment` returns all comments on the content.

        - `restrictions.read.restrictions.user` returns the users that have permission to read the content.

        - `restrictions.read.restrictions.group` returns the groups that have permission to read the content. Note that

        this may return deleted groups, because deleting a group doesn''t remove associated restrictions.

        - `restrictions.update.restrictions.user` returns the users that have permission to update the content.

        - `restrictions.update.restrictions.group` returns the groups that have permission to update the content. Note that

        this may return deleted groups because deleting a group doesn''t remove associated restrictions.

        - `history` returns the history of the content, including the date it was created.

        - `history.lastUpdated` returns information about the most recent update of the content, including

        who updated it and when it was updated.

        - `history.previousVersion` returns information about the update prior to the current content update.

        - `history.contributors` returns all of the users who have contributed to the content.

        - `history.nextVersion` returns information about the update after to the current content update.

        - `ancestors` returns the parent content, if the content is a page or whiteboard.

        - `body` returns the body of the content in different formats, including the editor format,

        view format, and export format.

        - `body.storage` returns the body of content in storage format.

        - `body.view` returns the body of content in view format.

        - `version` returns information about the most recent update of the content, including who updated it

        and when it was updated.

        - `descendants.page` returns pages that are descendants at any level below the content.

        - `descendants.attachment` returns all attachments for the content, same as `children.attachment`.

        - `descendants.comment` returns all comments on the content, same as `children.comment`.

        - `space` returns the space that the content is in. This is the same as the information returned by

        [Get space](#api-space-spaceKey-get).


        In addition, the following comment-specific expansions can be used:

        - `extensions.inlineProperties` returns inline comment-specific properties.

        - `extensions.resolution` returns the resolution status of each comment.'
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    spaceExpand:
      name: expand
      in: query
      description: "A multi-value parameter indicating which properties of the spaces to\nexpand, where:\n\n  - `settings` returns the settings for the space, similar to [Get space settings](#api-space-spaceKey-settings-get).\n  - `metadata` returns the space metadata.\n  - `metadata.labels` returns the space labels, which are used to categorize the space.\n  - `operations` returns the operations for a space, which are used when setting permissions.\n  - `lookAndFeel` returns information about the look and feel of the space, including the color scheme.\n  - `permissions` returns the permissions for the space. Note that this may return permissions for deleted groups,\n  because deleting a group doesn't remove associated space permissions.\n  - `icon` returns information about space icon.\n  - `description` returns the description of the space.\n  - `description.plain` returns the description of the space, the plain format.\n  - `description.view` returns the description of the space, the view format.\n  - `theme` returns information about the space theme.\n  - `homepage` returns information about the space homepage.\n  - `history` returns information about the history of the space."
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
          - settings
          - metadata
          - metadata.labels
          - operations
          - lookAndFeel
          - permissions
          - icon
          - description
          - description.plain
          - description.view
          - theme
          - homepage
          - history
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
