openapi: 3.2.0
info:
  title: Atlassian Users API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Users across 4 of this provider''s published API definitions: atlassian-admin-api-openapi.yml, bitbucket-openapi-original.yml, confluence-openapi-original.yml, jira-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
- url: https://api.bitbucket.org/2.0
- url: //your-domain.atlassian.net
- url: https://your-domain.atlassian.net
tags:
- name: Users
  description: Manage users within an organization.
paths:
  /v1/orgs/{orgId}/users:
    get:
      operationId: getOrganizationUsers
      summary: Atlassian Get Managed Accounts
      description: Returns a list of managed user accounts in the organization. Results are paginated using cursor-based pagination.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - name: cursor
        in: query
        description: Cursor for paginated results.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response containing a paginated list of users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v2/orgs/{orgId}/directories/{directoryId}/users:
    get:
      operationId: getDirectoryUsers
      summary: Atlassian Get Users in Directory
      description: Returns a paginated list of users in a specific directory within the organization.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/directoryId'
      - name: cursor
        in: query
        description: Cursor for paginated results.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response containing directory users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization or directory not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v2/orgs/{orgId}/directories/{directoryId}/users/{accountId}:
    get:
      operationId: getDirectoryUser
      summary: Atlassian Get User in Directory
      description: Returns details of a specific user in a directory within the organization.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/directoryId'
      - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Successful response containing user details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    delete:
      operationId: removeDirectoryUser
      summary: Atlassian Remove User From Directory
      description: Removes a user from a specific directory within the organization.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/directoryId'
      - $ref: '#/components/parameters/accountId'
      responses:
        '204':
          description: User successfully removed from the directory.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v2/orgs/{orgId}/directories/{directoryId}/users/count:
    get:
      operationId: getDirectoryUserCount
      summary: Atlassian Get Directory User Count
      description: Returns the count of users in a specific directory.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/directoryId'
      responses:
        '200':
          description: Successful response containing the user count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: The number of users in the directory.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization or directory not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v2/orgs/{orgId}/users/invite:
    post:
      operationId: inviteUsers
      summary: Atlassian Invite Users to Organization
      description: Invites one or more users to the organization, optionally assigning them to directories, groups, and application roles.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUsersRequest'
      responses:
        '200':
          description: Users successfully invited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUsersResponse'
        '400':
          description: Bad request. Invalid invitation parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v2/orgs/{orgId}/directories/{directoryId}/users/{accountId}/suspend:
    post:
      operationId: suspendUser
      summary: Atlassian Suspend User Access
      description: Suspends a user's access within a specific directory of the organization.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/directoryId'
      - $ref: '#/components/parameters/accountId'
      responses:
        '204':
          description: User access successfully suspended.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v2/orgs/{orgId}/directories/{directoryId}/users/{accountId}/restore:
    post:
      operationId: restoreUser
      summary: Atlassian Restore User Access
      description: Restores a previously suspended user's access within a specific directory of the organization.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/directoryId'
      - $ref: '#/components/parameters/accountId'
      responses:
        '204':
          description: User access successfully restored.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v1/orgs/{orgId}/users/{userId}/roles/assign:
    post:
      operationId: grantUserAccess
      summary: Atlassian Grant User Product Access
      description: Grants a user access to organization products by assigning roles.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/userId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignmentRequest'
      responses:
        '200':
          description: Role successfully assigned.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User or organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v1/orgs/{orgId}/users/{userId}/roles/revoke:
    post:
      operationId: revokeUserAccess
      summary: Atlassian Revoke User Product Access
      description: Revokes a user's access to organization products by removing roles.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/userId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignmentRequest'
      responses:
        '200':
          description: Role successfully revoked.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User or organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v2/orgs/{orgId}/directories/{directoryId}/users/{accountId}/role-assignments:
    get:
      operationId: getUserRoleAssignments
      summary: Atlassian List User Role Assignments
      description: Returns a list of role assignments for a specific user in a directory.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/directoryId'
      - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Successful response containing role assignments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoleAssignment'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v1/orgs/{orgId}/users/{userId}/role-assignments/assign:
    post:
      operationId: assignOrganizationRole
      summary: Atlassian Assign Organization-level Role
      description: Assigns an organization-level role to a user.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/userId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgRoleAssignmentRequest'
      responses:
        '204':
          description: Organization role successfully assigned.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User or organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /v1/orgs/{orgId}/users/{userId}/role-assignments/revoke:
    post:
      operationId: revokeOrganizationRole
      summary: Atlassian Remove Organization-level Role
      description: Removes an organization-level role from a user.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/userId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgRoleAssignmentRequest'
      responses:
        '204':
          description: Organization role successfully removed.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User or organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /user:
    parameters: []
    get:
      tags:
      - Users
      description: Returns the currently logged in user.
      summary: Atlassian Get Current User
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      operationId: atlassianGetCurrentUser
    servers:
    - url: https://api.bitbucket.org/2.0
  /user/emails:
    parameters: []
    get:
      tags:
      - Users
      description: Returns all the authenticated user's email addresses. Both<br>confirmed and unconfirmed.
      summary: Atlassian List Email Addresses For Current User
      responses:
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - email
      - basic: []
      - api_key: []
      operationId: atlassianListEmailAddressesForCurrentUser
    servers:
    - url: https://api.bitbucket.org/2.0
  /user/emails/{email}:
    parameters:
    - name: email
      in: path
      description: Email address of the user.
      required: true
      schema:
        type: string
    get:
      tags:
      - Users
      description: Returns details about a specific one of the authenticated user's<br>email addresses.<br><br>Details describe whether the address has been confirmed by the user and<br>whether it is the user's primary address or not.
      summary: Atlassian Get An Email Address For Current User
      responses:
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - email
      - basic: []
      - api_key: []
      operationId: atlassianGetAnEmailAddressForCurrentUser
    servers:
    - url: https://api.bitbucket.org/2.0
  /users/{selected_user}:
    parameters:
    - name: selected_user
      in: path
      description: 'This can either be an Atlassian Account ID OR the UUID of the account,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Users
      description: Gets the public information associated with a user account.<br><br>If the user's profile is private, `location`, `website` and<br>`created_on` elements are omitted.<br><br>Note that the user object returned by this operation is changing significantly, due to privacy changes.<br>See the [announcement](https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-changes-gdpr/#changes-to-bitbucket-user-objects) for details.
      summary: Atlassian Get A User
      responses:
        '200':
          description: The user object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
        '404':
          description: If no user exists for the specified UUID, or if the specified account is a team account, not a personal account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianGetAUser
    servers:
    - url: https://api.bitbucket.org/2.0
  /wiki/rest/api/user:
    get:
      tags:
      - Users
      summary: Atlassian Get User
      description: Returns a user. This includes information about the user, such as the<br>display name, account ID, profile picture, and more. The information returned may be<br>restricted by the user's profile visibility settings.<br><br>**Note:** to add, edit, or delete users in your organization, see the<br>[user management REST API](/cloud/admin/user-management/about/).<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).
      operationId: atlassianGetuser
      parameters:
      - name: accountId
        in: query
        description: 'The account ID of the user. The accountId uniquely identifies the user across all Atlassian products.

          For example, `384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192`.'
        required: true
        schema:
          type: string
      - name: expand
        in: query
        description: "A multi-value parameter indicating which properties of the user to\nexpand.\n\n  - `operations` returns the operations that the user is allowed to do.\n  - `personalSpace` returns the user's personal space, if it exists.\n  - `isExternalCollaborator` returns whether the user is an external collaborator user."
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - operations
            - personalSpace
            - isExternalCollaborator
      responses:
        '200':
          description: Returned if the requested user is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_2'
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '403':
          description: Returned if the calling user does not have permission to view users.
          content: {}
        '404':
          description: Returned if a user with the given accountId does not exist.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-user
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-user
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
    servers:
    - url: //your-domain.atlassian.net
  /wiki/rest/api/user/anonymous:
    get:
      tags:
      - Users
      summary: Atlassian Get Anonymous User
      description: Returns information about how anonymous users are represented, like the<br>profile picture and display name.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).
      operationId: atlassianGetanonymoususer
      parameters:
      - name: expand
        in: query
        description: "A multi-value parameter indicating which properties of the user to\nexpand.\n\n  - `operations` returns the operations that the user is allowed to do."
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - operations
      responses:
        '200':
          description: Returned if the anonymous user representation is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAnonymous'
        '403':
          description: 'Returned if the calling user does not have permission to use

            Confluence.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-user
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-user
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:user:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
    servers:
    - url: //your-domain.atlassian.net
  /wiki/rest/api/user/current:
    get:
      tags:
      - Users
      summary: Atlassian Get Current User
      description: Returns the currently logged-in user. This includes information about<br>the user, like the display name, userKey, account ID, profile picture,<br>and more.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).
      operationId: atlassianGetcurrentuser
      parameters:
      - name: expand
        in: query
        description: "A multi-value parameter indicating which properties of the user to\nexpand.\n\n  - `operations` returns the operations that the user is allowed to do.\n  - `personalSpace` returns the user's personal space, if it exists.\n  - `isExternalCollaborator` returns whether the user is an external collaborator user."
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - operations
            - personalSpace
            - isExternalCollaborator
      responses:
        '200':
          description: Returned if the current user is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_2'
        '403':
          description: 'Returned if the calling user does not have permission to use

            Confluence.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-user
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-user
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
    servers:
    - url: //your-domain.atlassian.net
  /wiki/rest/api/user/memberof:
    get:
      tags:
      - Users
      summary: Atlassian Get Group Memberships For User
      description: Returns the groups that a user is a member of.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).
      operationId: atlassianGetgroupmembershipsforuser
      parameters:
      - name: accountId
        in: query
        description: 'The account ID of the user. The accountId uniquely identifies the user across all Atlassian products.

          For example, `384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192`.'
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: The starting index of the returned groups.
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: 'The maximum number of groups to return per page.

          Note, this may be restricted by fixed system limits.'
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 200
      responses:
        '200':
          description: Returned if the requested groups are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupArrayWithLinks'
        '403':
          description: 'Returned if the calling user does not have permission to use

            Confluence.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-user
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-user
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:user:confluence
        - read:group:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
    servers:
    - url: //your-domain.atlassian.net
  /wiki/rest/api/user/bulk:
    get:
      tags:
      - Users
      summary: Atlassian Get Multiple Users Using Ids
      description: Returns user details for the ids provided in request.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).
      operationId: atlassianGetbulkuserlookup
      parameters:
      - name: accountId
        in: query
        description: A list of accountId's of users to be returned.
        required: true
        schema:
          type: string
      - name: expand
        in: query
        description: "A multi-value parameter indicating which properties of the user to\nexpand.\n\n  - `operations` returns the operations that the user is allowed to do.\n  - `personalSpace` returns the user's personal space, if it exists.\n  - `isExternalCollaborator` returns whether the user is an external collaborator user."
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - operations
            - personalSpace
            - isExternalCollaborator
      - name: limit
        in: query
        description: 'The maximum number of results returned.

          Currently API returns 200 results max.

          If more that 200 ids are passed first 200 will be returned.'
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Returned if, the list of users is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUserLookupArray'
        '403':
          description: 'Returned if the calling user does not have permission to use

            Confluence.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-user
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-user
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
    servers:
    - url: //your-domain.atlassian.net
  /wiki/rest/api/user/email:
    get:
      tags:
      - Users
      summary: Atlassian Get User Email Address
      description: Returns a user's email address. This API is only available to apps approved by<br>Atlassian, according to these [guidelines](https://community.developer.atlassian.com/t/guidelines-for-requesting-access-to-email-address/27603).<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).
      operationId: atlassianGetprivacyunsafeuseremail
      parameters:
      - name: accountId
        in: query
        description: 'The account ID of the user, which uniquely identifies the user across all Atlassian products.

          For example, `384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192`. Required.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returned if the requested user's email is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIdEmailRecord'
        '400':
          description: Returned if the calling app is not approved to use this API.
          content: {}
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '404':
          description: Returned if a user with the given accountId does not exist.
          content: {}
        '501':
          description: Indicates that the API is not currently enabled.
          content: {}
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: ACCESS_EMAIL_ADDRESSES
    servers:
    - url: //your-domain.atlassian.net
  /wiki/rest/api/user/email/bulk:
    get:
      tags:
      - Users
      summary: Atlassian Get User Email Addresses In Batch
      description: Returns user email addresses for a set of accountIds. This API is only available to apps approved by<br>Atlassian, according to these [guidelines](https://community.developer.atlassian.com/t/guidelines-for-requesting-access-to-email-address/27603).<br><br>Any accounts which are not available will not be included in the result.<br><br>**[Permissions](https://confluence.atlassian.com/x/_AozKw) required**:<br>Permission to access the Confluence site ('Can use' global permission).
      operationId: atlassianGetprivacyunsafeuseremailbulk
      parameters:
      - name: accountId
        in: query
        description: The account IDs of the users.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Returned if the request is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIdEmailRecordArray'
        '400':
          description: Returned if the calling app is not approved to use this API.
          content: {}
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '501':
          description: Indicates that the API is not currently enabled.
          content: {}
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: ACCESS_EMAIL_ADDRESSES
    servers:
    - url: //your-domain.atlassian.net
  /rest/api/3/user:
    delete:
      deprecated: false
      description: Deletes a user. If the operation completes successfully then the user is removed from Jira's user base. This operation does not delete the user's Atlassian account.<br><br>**[Permissions](#permissions) required:** Site administration (that is, membership of the *site-admin* [group](https://confluence.atlassian.com/x/24xjL)).
      operationId: atlassianRemoveuser
      parameters:
      - description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
        in: query
        name: accountId
        required: true
        schema:
          example: 5b10ac8d82e05b22cc7d4ef5
          maxLength: 128
          type: string
        x-showInExample: 'true'
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: username
        schema:
          type: string
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: key
        schema:
          type: string
      responses:
        '204':
          description: Returned if the request is successful.
        '400':
          description: Returned if the user cannot be removed.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the user is not found.
      security:
      - basicAuth: []
      - {}
      summary: Atlassian Delete User
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-experimental: true
      x-atlassian-connect-scope: INACCESSIBLE
    get:
      deprecated: false
      description: Returns a user.<br><br>Privacy controls are applied to the response based on the user's preferences. This could mean, for example, that the user's email address is hidden. See the [Profile visibility overview](https://developer.atlassian.com/cloud/jira/platform/profile-visibility/) for more details.<br><br>**[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetuser
      parameters:
      - description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*. Required.
        in: query
        name: accountId
        schema:
          example: 5b10ac8d82e05b22cc7d4ef5
          maxLength: 128
          type: string
        x-showInExample: 'true'
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide) for details.
        in: query
        name: username
        schema:
          type: string
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide) for details.
        in: query
        name: key
        schema:
          type: string
      - description: "Use [expand](#expansion) to include additional information about users in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `groups` includes all groups and nested groups to which the user belongs.\n *  `applicationRoles` includes details of all the applications to which the user has access."
        in: query
        name: expand
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":true,"applicationRoles":{"items":[],"size":1},"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","emailAddress":"mia@example.com","groups":{"items":[],"size":3},"key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g","timeZone":"Australia/Sydney"}'
              schema:
                $ref: '#/components/schemas/User_3'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the calling user does not have the *Browse users and groups* global permission.
        '404':
          description: Returned if the user is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      - {}
      summary: Atlassian Get User
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:application-role:jira
        - read:group:jira
        - read:user:jira
        - read:avatar:jira
        state: Beta
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Creates a user. This resource is retained for legacy compatibility. As soon as a more suitable alternative is available this resource will be deprecated.<br><br>If the user exists and has access to Jira, the operation returns a 201 status. If the user exists but does not have access to Jira, the operation returns a 400 status.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianCreateuser
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              emailAddress: mia@atlassian.com
            schema:
              $ref: '#/components/schemas/NewUserDetails'
        description: Details about the user to be created.
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":true,"applicationRoles":{"items":[],"size":1},"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","emailAddress":"mia@example.com","groups":{"items":[],"size":3},"key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g","timeZone":"Australia/Sydney"}'
              schema:
                $ref: '#/components/schemas/User_3'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid or the number of licensed users is exceeded.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
      security:
      - basicAuth: []
      - {}
      summary: Atlassian Create User
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-experimental: true
      x-atlassian-connect-scope: INACCESSIBLE
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/user/bulk:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of the users specified by one or more account IDs.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianBulkgetusers
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 10
          format: int32
          type: integer
      - description: This parameter is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: username
        schema:
          items:
            type: string
          type: array
      - description: This parameter is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: key
        schema:
          items:
            type: string
          type: array
      - description: The account ID of a user. To specify multiple users, pass multiple `accountId` parameters. For example, `accountId=5b10a2844c20165700ede21g&accountId=5b10ac8d82e05b22cc7d4ef5`.
        in: query
        name: accountId
        required: true
        schema:
          example: 5b10ac8d82e05b22cc7d4ef5
          items:
            example: 5b10ac8d82e05b22cc7d4ef5
            maxLength: 128
            type: string
          maxLength: 128
          type: array
        x-showInExample: 'true'
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"startAt":0,"total":1,"values":[{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":true,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","emailAddress":"mia@example.com","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g","timeZone":"Australia/Sydney"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanUser'
          description: Returned if the request is successful.
        '400':
          description: Returned if `accountID` is missing.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      summary: Atlassian Bulk Get Users
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:application-role:jira
        - read:group:jira
        - read:user:jira
        - read:avatar:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/user/bulk/migration:
    get:
      deprecated: false
      description: Returns the account IDs for the users specified in the `key` or `username` parameters. Note that multiple `key` or `username` parameters can be specified.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianBulkgetusersmigration
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 10
          format: int32
          type: integer
      - description: Username of a user. To specify multiple users, pass multiple copies of this parameter. For example, `username=fred&username=barney`. Required if `key` isn't provided. Cannot be provided if `key` is present.
        in: query
        name: username
        schema:
          items:
            type: string
          type: array
      - description: Key of a user. To specify multiple users, pass multiple copies of this parameter. For example, `key=fred&key=barney`. Required if `username` isn't provided. Cannot be provided if `username` is present.
        in: query
        name: key
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              example: '[{"username":"mia","accountId":"5b10a2844c20165700ede21g"},{"username":"emma","accountId":"5b10ac8d82e05b22cc7d4ef5"}]'
              schema:
                items:
                  $ref: '#/components/schemas/UserMigrationBean'
                type: array
          description: Returned if the request is successful.
        '400':
          description: Returned if `key` or `username`
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      summary: Atlassian Get Account Ids For Users
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:user:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/user/columns:
    delete:
      deprecated: false
      description: Resets the default [ issue table columns](https://confluence.atlassian.com/x/XYdKLg) for the user to the system default. If `accountId` is not passed, the calling user's default columns are reset.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), to set the columns on any user.<br> *  Permission to access Jira, to set the calling user's columns.
      operationId: atlassianResetusercolumns
      parameters:
      - description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
        in: query
        name: accountId
        schema:
          example: 5b10ac8d82e05b22cc7d4ef5
          maxLength: 128
          type: string
        x-showInExample: 'true'
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: username
        schema:
          type: string
      responses:
        '204':
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission or is not accessing their user record.
      security:
      - basicAuth: []
      - {}
      summary: Atlassian Reset User Default Columns
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: INACCESSIBLE
    get:
      deprecated: false
      description: Returns the default [issue table columns](https://confluence.atlassian.com/x/XYdKLg) for the user. If `accountId` is not passed in the request, the calling user's details are returned.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLgl), to get the column details for any user.<br> *  Permission to access Jira, to get the calling user's column details.
      operationId: atlassianGetuserdefaultcolumns
      parameters:
      - description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
        in: query
        name: accountId
        schema:
          example: 5b10ac8d82e05b22cc7d4ef5
          maxLength: 128
          type: string
        x-showInExample: 'true'
      - description: This parameter is no longer available See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: username
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ColumnItem'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission or is not accessing their user record.
        '404':
          description: Returned if the requested user is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      - {}
      summary: Atlassian Get User Default Columns
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:user.columns:jira
        - read:filter.column:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Sets the default [ issue table columns](https://confluence.atlassian.com/x/XYdKLg) for the user. If an account ID is not passed, the calling user's default columns are set. If no column details are sent, then all default columns are removed.<br><br>The parameters for this resource are expressed as HTML form data. For example, in curl:<br><br>`curl -X PUT -d columns=summary -d columns=description https://your-domain.atlassian.net/rest/api/3/user/columns?accountId=5b10ac8d82e05b22cc7d4ef5'`<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), to set the columns on any user.<br> *  Permission to access Jira, to set the calling user's columns.
      operationId: atlassianSetusercolumns
      parameters:
      - description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
        in: query
        name: accountId
        schema:
          example: 5b10ac8d82e05b22cc7d4ef5
          maxLength: 128
          type: string
        x-showInExample: 'true'
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UserColumnRequestBody'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserColumnRequestBody'
        description: The ID of a column to set. To set multiple columns, send multiple `columns` parameters.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission or is not accessing their user record.
        '404':
          description: Returned if the requested user is not found.
        '429':
          description: Returned if the rate limit is exceeded. User search endpoints share a collective rate limit for the tenant, in addition to Jira's normal rate limiting you may receive a rate limit for user search. Please respect the Retry-After header.
        '500':
          description: Returned if an invalid issue table column ID is sent.
      security:
      - basicAuth: []
      - {}
      summary: Atlassian Set User Default Columns
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: INACCESSIBLE
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/user/email:
    get:
      deprecated: false
      description: Returns a user's email address. This API is only available to apps approved by Atlassian, according to these [guidelines](https://community.developer.atlassian.com/t/guidelines-for-requesting-access-to-email-address/27603).
      operationId: atlassianGetuseremail
      parameters:
      - description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, `5b10ac8d82e05b22cc7d4ef5`.
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 128
          type: string
      responses:
        '200':
          content:
            application/json:
              example: name@example.com
              schema:
                $ref: '#/components/schemas/UnrestrictedUserEmail'
          description: Returned if the request is successful.
        '400':
          description: Returned if the calling app is not approved to use this API.
        '401':
          description: Returned if the authentication credentials are incorrect or missing from the request (for example if a user is trying to access this API).
        '404':
          description: Returned if a user with the given `accountId` doesn't exist
        '503':
          description: Indicates the API is not currently enabled
      security:
      - basicAuth: []
      summary: Atlassian Get User Email
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: ACCESS_EMAIL_ADDRESSES
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/user/email/bulk:
    get:
      deprecated: false
      description: Returns a user's email address. This API is only available to apps approved by Atlassian, according to these [guidelines](https://community.developer.atlassian.com/t/guidelines-for-requesting-access-to-email-address/27603).
      operationId: atlassianGetuseremailbulk
      parameters:
      - description: The account IDs of the users for which emails are required. An `accountId` is an identifier that uniquely identifies the user across all Atlassian products. For example, `5b10ac8d82e05b22cc7d4ef5`. Note, this should be treated as an opaque identifier (that is, do not assume any structure in the value).
        in: query
        name: accountId
        required: true
        schema:
          items:
            maxLength: 128
            type: string
          maxLength: 128
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnrestrictedUserEmail'
          description: Returned if the request is successful.
        '400':
          description: Returned if the calling app is not approved to use this API.
        '401':
          description: Returned if the authentication credentials are incorrect, or missing from the request (for example if a user is trying to access this API).
        '503':
          description: Indicates the API is not currently enabled.
      security:
      - basicAuth: []
      summary: Atlassian Get User Email Bulk
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: ACCESS_EMAIL_ADDRESSES
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/user/groups:
    get:
      deprecated: false
      description: Returns the groups to which a user belongs.<br><br>**[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetusergroups
      parameters:
      - description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
        in: query
        name: accountId
        required: true
        schema:
          example: 5b10ac8d82e05b22cc7d4ef5
          maxLength: 128
          type: string
        x-showInExample: 'true'
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: username
        schema:
          type: string
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: key
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"groupId":"276f955c-63d7-42c8-9520-92d01dca0625","name":"jira-administrators","self":"https://your-domain.atlassian.net/rest/api/3/group?groupId=276f955c-63d7-42c8-9520-92d01dca0625"}'
              schema:
                items:
                  $ref: '#/components/schemas/GroupName'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the calling user does not have the *Browse users and groups* global permission.
        '404':
          description: Returned if the user is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      - {}
      summary: Atlassian Get User Groups
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:group:jira
        state: Beta
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/users:
    get:
      deprecated: false
      description: Returns a list of all users, including active users, inactive users and previously deleted users that have an Atlassian account.<br><br>Privacy controls are applied to the response based on the users' preferences. This could mean, for example, that the user's email address is hidden. See the [Profile visibility overview](https://developer.atlassian.com/cloud/jira/platform/profile-visibility/) for more details.<br><br>**[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetallusersdefault
      parameters:
      - description: The index of the first item to return.
        in: query
        name: startAt
        schema:
          default: 0
          format: int32
          type: integer
      - description: The maximum number of items to return.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '[{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},{"accountId":"5b10ac8d82e05b22cc7d4ef5","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/AA-3.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/AA-3.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/AA-3.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/AA-3.png?size=48&s=48"},"displayName":"Emma Richards","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10ac8d82e05b22cc7d4ef5"}]'
              schema:
                items:
                  $ref: '#/components/schemas/User_3'
                type: array
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '403':
          description: Returned if the user doesn't have the necessary permission.
        '409':
          description: Returned if the request takes longer than 10 seconds or is interrupted.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      - {}
      summary: Atlassian Get All Users Default
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        state: Beta
      x-atlassian-connect-scope: INACCESSIBLE
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/users/search:
    get:
      deprecated: false
      description: Returns a list of all users, including active users, inactive users and previously deleted users that have an Atlassian account.<br><br>Privacy controls are applied to the response based on the users' preferences. This could mean, for example, that the user's email address is hidden. See the [Profile visibility overview](https://developer.atlassian.com/cloud/jira/platform/profile-visibility/) for more details.<br><br>**[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetallusers
      parameters:
      - description: The index of the first item to return.
        in: query
        name: startAt
        schema:
          default: 0
          format: int32
          type: integer
      - description: The maximum number of items to return.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '[{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"},"displayName":"Mia Krystof","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"},{"accountId":"5b10ac8d82e05b22cc7d4ef5","accountType":"atlassian","active":false,"avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/AA-3.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/AA-3.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/AA-3.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/AA-3.png?size=48&s=48"},"displayName":"Emma Richards","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10ac8d82e05b22cc7d4ef5"}]'
              schema:
                items:
                  $ref: '#/components/schemas/User_3'
                type: array
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '403':
          description: Returned if the user doesn't have the necessary permission.
        '409':
          description: Returned if the request takes longer than 10 seconds or is interrupted.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      - {}
      summary: Atlassian Get All Users
      tags:
      - Users
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:group:jira
        state: Beta
      x-atlassian-connect-scope: INACCESSIBLE
    servers:
    - url: https://your-domain.atlassian.net
components:
  schemas:
    UserPage:
      type: object
      description: A paginated list of users.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
          description: The list of users.
          example: []
        links:
          $ref: '#/components/schemas/PaginationLinks'
    InviteUsersRequest:
      type: object
      description: Request body for inviting users to the organization.
      properties:
        emails:
          type: array
          description: Email addresses of users to invite.
          items:
            type: string
            format: email
          example: user@example.com
        directoryId:
          type: string
          description: The directory to add the invited users to.
          example: '500123'
        groupIds:
          type: array
          description: Groups to assign the invited users to.
          items:
            type: string
          example: []
        roleAssignments:
          type: array
          description: Application roles to assign to the invited users.
          items:
            type: object
            properties:
              role:
                type: string
              resource:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
          example: []
    PaginationLinks:
      type: object
      description: Links for cursor-based pagination.
      properties:
        self:
          type: string
          format: uri
          description: Link to the current page.
          example: https://www.example.com
        next:
          type: string
          format: uri
          description: Link to the next page of results.
          example: https://www.example.com
        prev:
          type: string
          format: uri
          description: Link to the previous page of results.
          example: https://www.example.com
    RoleAssignment:
      type: object
      description: Represents a role assignment for a user.
      properties:
        role:
          type: string
          description: The role identifier.
          example: example_value
        resource:
          type: object
          description: The resource the role is assigned to.
          properties:
            id:
              type: string
              description: The resource identifier.
            type:
              type: string
              description: The resource type.
          example: example_value
    InviteUsersResponse:
      type: object
      description: Response for user invitation requests.
      properties:
        data:
          type: object
          properties:
            invited:
              type: array
              description: Users that were successfully invited.
              items:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  accountId:
                    type: string
            failed:
              type: array
              description: Users that failed to be invited.
              items:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  reason:
                    type: string
          example: example_value
    RoleAssignmentRequest:
      type: object
      description: Request body for assigning or revoking product roles.
      properties:
        roles:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
                description: The role to assign or revoke.
              resource:
                type: object
                properties:
                  id:
                    type: string
                    description: The resource identifier.
                  type:
                    type: string
                    description: The resource type.
          example: []
    ErrorResponse:
      type: object
      description: Standard error response.
      properties:
        code:
          type: integer
          description: The HTTP status code.
          example: 10
        message:
          type: string
          description: A human-readable error message.
          example: example_value
        errors:
          type: array
          description: Detailed error information.
          items:
            type: object
            properties:
              code:
                type: string
                description: A machine-readable error code.
              message:
                type: string
                description: A human-readable description of the error.
          example: []
    User:
      type: object
      description: Represents a user account in an Atlassian organization.
      properties:
        account_id:
          type: string
          description: The unique Atlassian account identifier.
          example: '500123'
        account_type:
          type: string
          description: The type of account.
          enum:
          - atlassian
          - customer
          - app
          example: atlassian
        account_status:
          type: string
          description: The current status of the account.
          enum:
          - active
          - inactive
          - closed
          example: active
        name:
          type: string
          description: The display name of the user.
          example: Example Title
        email:
          type: string
          format: email
          description: The email address of the user.
          example: user@example.com
        picture:
          type: string
          format: uri
          description: URL of the user's profile picture.
          example: https://www.example.com
        nickname:
          type: string
          description: The nickname of the user.
          example: example_value
        last_active:
          type: string
          format: date-time
          description: The last time the user was active.
          example: '2026-01-15T10:30:00Z'
        created:
          type: string
          format: date-time
          description: When the user account was created.
          example: '2026-01-15T10:30:00Z'
        product_access:
          type: array
          description: Products the user has access to.
          items:
            type: object
            properties:
              key:
                type: string
                description: The product key.
              name:
                type: string
                description: The product name.
              url:
                type: string
                format: uri
                description: The URL of the product site.
              last_active:
                type: string
                format: date-time
                description: Last time the user accessed this product.
          example: []
    OrgRoleAssignmentRequest:
      type: object
      description: Request body for assigning or revoking organization-level roles.
      properties:
        role:
          type: string
          description: The organization-level role to assign or revoke. Common roles include org-admin, trusted-user, and user.
          enum:
          - org-admin
          - trusted-user
          - user
          example: org-admin
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
        name:
          type: string
      additionalProperties: false
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    ContentLookAndFeel:
      type: object
      properties:
        screen:
          $ref: '#/components/schemas/ScreenLookAndFeel'
        container:
          $ref: '#/components/schemas/ContainerLookAndFeel'
        header:
          $ref: '#/components/schemas/ContainerLookAndFeel'
        body:
          $ref: '#/components/schemas/ContainerLookAndFeel'
    GenericAccountId:
      type:
      - string
      - 'null'
      description: 'The account ID of the user, which uniquely identifies the user across all Atlassian products.

        For example, `384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192`.'
    ContentBody:
      required:
      - representation
      - value
      type: object
      properties:
        value:
          type: string
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          - raw
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    HeaderLookAndFeel:
      required:
      - backgroundColor
      - button
      - primaryNavigation
      - search
      - secondaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    ContentArray:
      required:
      - _links
      - results
      - size
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Content'
        start:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        _links:
          $ref: '#/components/schemas/GenericLinks'
    SearchFieldLookAndFeel:
      required:
      - backgroundColor
      - color
      type:
      - object
      - 'null'
      properties:
        backgroundColor:
          type: string
        color:
          type: string
    ButtonLookAndFeel:
      required:
      - backgroundColor
      - color
      type:
      - object
      - 'null'
      properties:
        backgroundColor:
          type: string
        color:
          type: string
    GenericUserKey:
      type:
      - string
      - 'null'
      description: 'This property is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
    ScreenLookAndFeel:
      required:
      - background
      type: object
      properties:
        background:
          type: string
        backgroundAttachment:
          type:
          - string
          - 'null'
        backgroundBlendMode:
          type:
          - string
          - 'null'
        backgroundClip:
          type:
          - string
          - 'null'
        backgroundColor:
          type:
          - string
          - 'null'
        backgroundImage:
          type:
          - string
          - 'null'
        backgroundOrigin:
          type:
          - string
          - 'null'
        backgroundPosition:
          type:
          - string
          - 'null'
        backgroundRepeat:
          type:
          - string
          - 'null'
        backgroundSize:
          type:
          - string
          - 'null'
        layer:
          type:
          - object
          - 'null'
          properties:
            width:
              type: string
            height:
              type: string
        gutterTop:
          type:
          - string
          - 'null'
        gutterRight:
          type:
          - string
          - 'null'
        gutterBottom:
          type:
          - string
          - 'null'
        gutterLeft:
          type:
          - string
          - 'null'
    HorizontalHeaderLookAndFeel:
      required:
      - backgroundColor
      - primaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/TopNavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    Embeddable:
      type: object
      additionalProperties: true
    Icon:
      required:
      - height
      - isDefault
      - path
      - width
      type:
      - object
      - 'null'
      properties:
        path:
          type: string
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        isDefault:
          type: boolean
      description: This object represents an icon. If used as a profilePicture, this may be returned as null, depending on the user's privacy setting.
    SpaceSettings:
      required:
      - _links
      - routeOverrideEnabled
      type:
      - object
      - 'null'
      properties:
        routeOverrideEnabled:
          type: boolean
          description: 'Defines whether an override for the space home should be used. This is

            used in conjunction with a space theme provided by an app. For

            example, if this property is set to true, a theme can display a page

            other than the space homepage when users visit the root URL for a

            space. This property allows apps to provide content-only theming

            without overriding the space home.'
        editor:
          required:
          - page
          - blogpost
          - default
          type: object
          properties:
            page:
              type: string
            blogpost:
              type: string
            default:
              type: string
        spaceKey:
          type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ContentRestriction:
      required:
      - _expandable
      - _links
      - operation
      type: object
      properties:
        operation:
          type: string
          enum:
          - administer
          - copy
          - create
          - delete
          - export
          - move
          - purge
          - purge_version
          - read
          - restore
          - update
          - use
        restrictions:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/UserArray'
            group:
              $ref: '#/components/schemas/GroupArray'
            _expandable:
              type: object
              properties:
                user:
                  type: string
                group:
                  type: string
        content:
          $ref: '#/components/schemas/Content'
        _expandable:
          type: object
          properties:
            restrictions:
              type: string
            content:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    AccountIdEmailRecord:
      required:
      - accountId
      - email
      type: object
      properties:
        accountId:
          type: string
        email:
          type: string
    ContentChildren:
      type: object
      additionalProperties: true
      properties:
        attachment:
          $ref: '#/components/schemas/ContentArray'
        comment:
          $ref: '#/components/schemas/ContentArray'
        page:
          $ref: '#/components/schemas/ContentArray'
        _expandable:
          type: object
          additionalProperties: true
          properties:
            attachment:
              type: string
            comment:
              type: string
            page:
              type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    TopNavigationLookAndFeel:
      required:
      - highlightColor
      type: object
      properties:
        color:
          type:
          - string
          - 'null'
        highlightColor:
          type: string
        hoverOrFocus:
          type: object
          properties:
            backgroundColor:
              type: string
            color:
              type: string
    Group:
      required:
      - name
      - type
      - id
      type: object
      properties:
        type:
          type: string
          default: group
          enum:
          - group
        name:
          type: string
        id:
          type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    SuperBatchWebResources:
      type: object
      properties:
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
        metatags:
          type: string
        _expandable:
          type: object
          additionalProperties: true
    UsersUserKeys:
      required:
      - userAccountIds
      type:
      - object
      - 'null'
      additionalProperties: true
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User_2'
        userKeys:
          type: array
          items:
            type: string
        _links:
          $ref: '#/components/schemas/GenericLinks'
    GenericUserName:
      type:
      - string
      - 'null'
      description: 'This property is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
    Label:
      required:
      - id
      - label
      - name
      - prefix
      type: object
      properties:
        prefix:
          type: string
        name:
          type: string
        id:
          type: string
        label:
          type: string
    Content:
      required:
      - status
      - type
      type:
      - object
      - 'null'
      additionalProperties: true
      properties:
        id:
          type: string
        type:
          type: string
          description: Can be "page", "blogpost", "attachment" or "content"
        status:
          type: string
        title:
          type: string
        space:
          $ref: '#/components/schemas/Space'
        history:
          $ref: '#/components/schemas/ContentHistory'
        version:
          $ref: '#/components/schemas/Version'
        ancestors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Content'
        operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationCheckResult'
        children:
          $ref: '#/components/schemas/ContentChildren'
        childTypes:
          $ref: '#/components/schemas/ContentChildType'
        descendants:
          $ref: '#/components/schemas/ContentChildren'
        container:
          $ref: '#/components/schemas/Container'
        body:
          type: object
          properties:
            view:
              $ref: '#/components/schemas/ContentBody'
            export_view:
              $ref: '#/components/schemas/ContentBody'
            styled_view:
              $ref: '#/components/schemas/ContentBody'
            storage:
              $ref: '#/components/schemas/ContentBody'
            wiki:
              $ref: '#/components/schemas/ContentBody'
            editor:
              $ref: '#/components/schemas/ContentBody'
            editor2:
              $ref: '#/components/schemas/ContentBody'
            anonymous_export_view:
              $ref: '#/components/schemas/ContentBody'
            atlas_doc_format:
              $ref: '#/components/schemas/ContentBody'
            dynamic:
              $ref: '#/components/schemas/ContentBody'
            raw:
              $ref: '#/components/schemas/ContentBody'
            _expandable:
              type: object
              properties:
                editor:
                  type: string
                view:
                  type: string
                export_view:
                  type: string
                styled_view:
                  type: string
                storage:
                  type: string
                editor2:
                  type: string
                anonymous_export_view:
                  type: string
                atlas_doc_format:
                  type: string
                wiki:
                  type: string
                dynamic:
                  type: string
                raw:
                  type: string
        restrictions:
          type: object
          properties:
            read:
              $ref: '#/components/schemas/ContentRestriction'
            update:
              $ref: '#/components/schemas/ContentRestriction'
            _expandable:
              type: object
              properties:
                read:
                  type: string
                update:
                  type: string
            _links:
              $ref: '#/components/schemas/GenericLinks'
        metadata:
          $ref: '#/components/schemas/ContentMetadata'
        macroRenderedOutput:
          type: object
          additionalProperties:
            type: object
        extensions:
          type: object
        _expandable:
          type: object
          properties:
            childTypes:
              type: string
            container:
              type: string
            metadata:
              type: string
            operations:
              type: string
            children:
[...]
