openapi: 3.1.0
info:
  title: Atlassian Admin Account Commits API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Commits
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/commits:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API endpoint retrieves a paginated list of all commits associated with a specific pull request in a Bitbucket repository. By making a GET request to this endpoint with the required workspace identifier, repository slug, and pull request ID, developers can access detailed information about each commit included in the pull request, such as commit hashes, authors, timestamps, and commit messages. This is particularly useful for code review processes, tracking changes within a pull request, understanding the development history, and verifying what modifications will be merged when the pull request is accepted.
      summary: Atlassian List Commits on Pull Request
      responses:
        '200':
          description: A paginated list of commits made on the given pull request, in chronological order. This list will be empty if the source branch no longer exists.
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist or the source branch is from a forked repository which no longer exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: listCommitsOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/statuses:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API operation retrieves all commit statuses associated with a specific pull request in a Bitbucket repository. By providing the workspace identifier, repository slug, and pull request ID in the endpoint path, users can fetch a comprehensive list of build statuses, test results, and other automated checks that have been reported for the commits within that pull request. This is particularly useful for monitoring CI/CD pipeline results, understanding the current state of code quality checks, and determining whether a pull request is ready to be merged based on the status of various automated validations and builds that have been executed against its commits.
      summary: Atlassian List Commit Statuses for Pull Request
      responses:
        '200':
          description: A paginated list of all commit statuses for this pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_commitstatuses'
              examples:
                paginated-commit-statuses:
                  $ref: '#/components/examples/paginated-commit-statuses'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the specified repository or pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: 'Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          Defaults to `created_on`.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: listCommitStatusesForPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API operation retrieves detailed information about a specific commit in a Bitbucket repository by making a GET request to the endpoint with the workspace identifier, repository slug, and commit hash as path parameters. It returns comprehensive commit data including the commit message, author information, timestamp, changed files, diff statistics, parent commits, and any associated metadata. This endpoint is useful for examining the details of individual commits, auditing code changes, building commit history visualizations, or integrating commit information into external tools and workflows.
      summary: Atlassian Get Commit
      responses:
        '200':
          description: The commit object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit'
              examples:
                commit_2:
                  $ref: '#/components/examples/commit_2'
        '404':
          description: If the specified commit or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/approve:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Commits
      description: 'This API operation removes an approval from a specific commit in a Bitbucket repository by sending a DELETE request to the endpoint. When a user has previously approved a commit, this operation revokes that approval, effectively indicating that the commit no longer has their endorsement. The operation requires three path parameters: the workspace identifier, the repository slug, and the commit hash or reference. This is particularly useful in code review workflows where approvals may need to be withdrawn due to newly discovered issues, changes in requirements, or mistakes in the initial review, allowing teams to maintain accurate approval states throughout their development process.'
      summary: Atlassian Unapprove Commit
      responses:
        '204':
          description: An empty response indicating the authenticated user's approval has been withdrawn.
        '404':
          description: If the specified commit, or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: unapproveCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Commits
      description: This API operation allows authenticated users to approve a specific commit in a Bitbucket repository by sending a POST request to the endpoint with the workspace identifier, repository slug, and commit hash as path parameters. When executed, it records the user's approval of the changes introduced in that particular commit, which is useful for code review workflows and tracking which team members have endorsed specific changes. The approval is associated with the authenticated user making the request and can be used as part of merge requirements or quality gates in the development process. This operation is idempotent, meaning multiple calls with the same parameters will have the same effect as a single call, and it returns information about the approval that was created or already exists.
      summary: Atlassian Approve Commit
      responses:
        '200':
          description: The `participant` object recording that the authenticated user approved the commit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participant'
              examples:
                participant:
                  $ref: '#/components/examples/participant'
        '404':
          description: If the specified commit, or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - write:repository:bitbucket
      operationId: approveCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API operation retrieves all comments associated with a specific commit in a Bitbucket repository. By providing the workspace identifier, repository slug, and commit hash in the endpoint path, users can fetch a paginated list of comments that have been made on that particular commit. The response includes comment details such as the comment text, author information, creation timestamp, and any associated metadata. This is useful for reviewing feedback, discussions, or code review notes that team members have left on specific commits, enabling better collaboration and tracking of conversations around code changes within the repository's version history.
      summary: Atlassian List Commits Comments
      responses:
        '200':
          description: A paginated list of commit comments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_commit_comments'
              examples:
                paginated-commit-comments_2:
                  $ref: '#/components/examples/paginated-commit-comments_2'
      parameters:
      - name: q
        in: query
        description: 'Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: listCommitsComments
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Commits
      description: This API operation allows you to create a new comment on a specific commit within a Bitbucket repository. By sending a POST request to the endpoint with the workspace ID, repository slug, and commit hash, along with the comment content in the request body, you can add feedback, notes, or discussion points directly associated with that particular commit. This is useful for code review processes, documenting changes, or collaborating with team members on specific code modifications. The operation requires appropriate authentication and permissions to comment on commits within the specified repository.
      summary: Atlassian Create Comment for Commit
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly created comment.
              schema:
                type: string
        '400':
          description: If the comment was detected as spam, or if the parent comment is not attached to the same node as the new comment
        '404':
          description: If a parent ID was passed in that cannot be found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
            examples:
              commit-comment:
                $ref: '#/components/examples/commit-comment'
        description: The specified comment.
        required: true
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: createCommentForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Commits
      description: This API operation allows you to delete a specific comment from a commit in a Bitbucket repository. By making a DELETE request to the endpoint with the appropriate workspace identifier, repository slug, commit hash, and comment ID, you can permanently remove a comment that was previously added to a commit. This is useful for managing discussions around code changes, removing outdated feedback, or cleaning up inappropriate comments. The operation requires proper authentication and authorization, ensuring that only users with sufficient permissions can delete comments from commits in the specified repository.
      summary: Atlassian Delete Commit Comment
      responses:
        '204':
          description: Indicates the comment was deleted by this action or a previous delete.
        '404':
          description: If the comment doesn't exist
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: deleteCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Commits
      description: This API endpoint retrieves a specific comment on a commit within a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, and comment ID in the request path, users can fetch detailed information about a particular comment that was made on a commit, including the comment content, author information, timestamps, and any associated metadata. This is useful for applications that need to display, process, or analyze individual commit comments, such as code review tools, notification systems, or audit logs that track discussion and feedback on specific code changes.
      summary: Atlassian Get Commit Comment
      responses:
        '200':
          description: The commit comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit_comment'
              examples:
                commit-comment_2:
                  $ref: '#/components/examples/commit-comment_2'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Commits
      description: Updates an existing comment on a commit in a Bitbucket repository. This operation allows users to modify the content of a previously posted comment associated with a specific commit. The endpoint requires the workspace identifier, repository slug, commit hash, and the unique comment ID to locate and update the target comment. Users must have appropriate permissions to edit the comment, typically being the original author or having administrative privileges on the repository. The request body should contain the updated comment content, and the operation returns the modified comment object with its new content and updated metadata including the modification timestamp.
      summary: Atlassian Update Commit Comment
      responses:
        '201':
          description: The newly updated comment.
          headers:
            Location:
              description: The location of the newly updated comment.
              schema:
                type: string
        '400':
          description: If the comment update was detected as spam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
            examples:
              commit-comment:
                $ref: '#/components/examples/commit-comment'
        description: The updated comment.
        required: true
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: updateCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updateCommitApplicationProperty
      summary: Atlassian Update Commit Application Property
      description: This API operation allows you to update or set an application-specific property for a particular commit within a Bitbucket repository. By making a PUT request to this endpoint, you specify the workspace, repository slug, commit hash, application key, and property name to target a specific property associated with that commit. This is useful for storing custom metadata or application-specific information linked to a commit, such as build status, deployment information, or any other contextual data your application needs to maintain. The operation will create the property if it doesn't exist or update it if it already does, providing a way to persist and manage commit-level data that extends beyond Bitbucket's standard commit attributes.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Commits
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deleteCommitApplicationProperty
      summary: Atlassian Delete Commit Application Property
      description: Removes a specific application property associated with a commit in a Bitbucket repository. This operation allows applications to delete custom metadata they previously stored against a particular commit, identified by the workspace, repository slug, commit hash, application key, and property name. Once deleted, the property and its associated value are permanently removed from the commit's application properties collection. This is useful for cleaning up outdated or no longer needed custom data that applications have attached to commits for tracking, automation, or integration purposes.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Commits
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
              examples:
                application-property:
                  $ref: '#/components/examples/application-property'
      operationId: getCommitApplicationProperty
      summary: Atlassian Get Commit Application Property
      description: This GET operation retrieves a specific application property associated with a commit in a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, application key, and property name in the URL path, the API returns the value of the custom property that was previously set on that commit by a specific application. This allows applications to store and retrieve metadata or custom attributes tied to individual commits, enabling features like tracking deployment status, code review approvals, or other application-specific information linked to particular commits in the repository's history.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Commits
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/pullrequests:
    get:
      tags:
      - Commits
      summary: Atlassian List Pull Requests That Contain Commit
      description: This API operation retrieves a list of pull requests that contain a specific commit within a Bitbucket repository. By making a GET request to the endpoint with the workspace identifier, repository slug, and commit hash, developers can discover which pull requests include the specified commit in their change history. This is particularly useful for tracking how code changes have propagated through the development workflow, understanding the context in which a commit was merged, performing impact analysis, or auditing which features or fixes include specific changes. The response returns pull request metadata including titles, authors, status, and related information for all pull requests containing the referenced commit.
      operationId: listPullRequestsThatContainCommit
      parameters:
      - name: workspace
        in: path
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces
        required: true
        schema:
          type: string
      - name: repo_slug
        in: path
        description: The repository; either the UUID in curly braces, or the slug
        required: true
        schema:
          type: string
      - name: commit
        in: path
        description: The SHA1 of the commit
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Which page to retrieve
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pagelen
        in: query
        description: How many pull requests to retrieve per page
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      responses:
        '200':
          description: The paginated list of pull requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
              examples:
                paginated-pull-requests:
                  $ref: '#/components/examples/paginated-pull-requests'
        '202':
          description: The repository's pull requests are still being indexed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
        '404':
          description: Either the repository does not exist, or pull request commit links have not yet been indexed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/statuses:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API operation retrieves all build statuses associated with a specific commit in a Bitbucket repository. By providing the workspace ID, repository slug, and commit hash, you can fetch a paginated list of status objects that represent the state of various CI/CD builds, deployments, or other automated checks that have been reported for that particular commit. Each status includes information such as the state (successful, failed, in progress), key, name, URL, description, and timestamp, allowing developers and integrations to track and display the overall health and validation results of a commit across multiple build systems and tools.
      summary: Atlassian List Commit Statuses for Commit
      responses:
        '200':
          description: A paginated list of all commit statuses for this commit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_commitstatuses'
              examples:
                paginated-commit-statuses:
                  $ref: '#/components/examples/paginated-commit-statuses_3'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository or commit does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: 'Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          Defaults to `created_on`.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: listCommitStatusesForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/statuses/build:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Commits
      description: This POST endpoint creates a build status for a specific commit in a Bitbucket repository, allowing external CI/CD systems and build tools to report the status of automated builds back to Bitbucket. The endpoint requires the workspace ID, repository slug, and commit hash as path parameters, and accepts a JSON payload containing build status information such as state (successful, failed, in progress), key, name, URL, and description. When invoked, it associates the provided build status with the specified commit, which then becomes visible in the Bitbucket UI on pull requests and commit pages, enabling teams to track build results and prevent merging of code that fails automated checks. This integration is essential for maintaining CI/CD pipelines and ensuring code quality by providing real-time feedback on build outcomes directly within the version control interface.
      summary: Atlassian Create Build Status for Commit
      responses:
        '201':
          description: The newly created build status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository, commit, or build status key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commitstatus'
            examples:
              commit-status:
                $ref: '#/components/examples/commit-status'
        description: The new commit status object.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: createBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/statuses/build/{key}:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: key
      in: path
      description: The build status' unique key
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: Retrieves a specific build status object associated with a commit in a Bitbucket repository, identified by a unique key. This endpoint allows you to query the detailed status information of a particular build or CI/CD pipeline execution that was reported for a given commit. You must provide the workspace identifier, repository slug, commit hash, and the unique key of the build status you want to retrieve. The response includes comprehensive details about the build execution such as its state (successful, failed, in progress), description, URL to view the build results, and timestamp information. This is particularly useful for integrating with external CI/CD systems, monitoring build pipelines, or displaying build status information in custom dashboards and applications.
      summary: Atlassian Get Build Status for Commit
      responses:
        '200':
          description: The build status object with the specified key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository, commit, or build status key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Commits
      description: This API operation updates the build status for a specific commit in a Bitbucket repository by making a PUT request to the endpoint that identifies a unique build status entry through the workspace name, repository slug, commit hash, and a unique key identifier. It allows developers and CI/CD systems to modify the state of an existing build status record associated with a particular commit, enabling them to update information such as whether the build is in progress, successful, failed, or stopped, along with relevant metadata like build URLs, descriptions, and timestamps. This is particularly useful for continuous integration workflows where build systems need to communicate the current state of automated builds and tests back to Bitbucket, providing visibility to team members about the health and status of code changes directly within the repository interface.
      summary: Atlassian Update Build Status for Commit
      responses:
        '200':
          description: The updated build status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository or build does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commitstatus'
            examples:
              commit-status_2:
                $ref: '#/components/examples/commit-status_2'
        description: The updated build status object
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: updateBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commits:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: 'The List Commits operation in the Atlassian Bitbucket Repositories API retrieves a paginated list of commits from a specific repository by making a GET request to the endpoint /repositories/{workspace}/{repo_slug}/commits. This endpoint requires two path parameters: the workspace ID or slug that owns the repository, and the repo_slug which uniquely identifies the repository within that workspace. The response returns commit objects in reverse chronological order by default, with each commit containing metadata such as the commit hash, author information, timestamp, commit message, and parent commit references. Optional query parameters can be used to filter the results by branch, tag, or specific commit ranges, and to control pagination through the result set. This API operation is commonly used for displaying commit history, tracking changes, or integrating repository activity into external tools and dashboards.'
      summary: Atlassian List Commits
      responses:
        '200':
          description: A paginated list of commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_changeset'
              examples:
                page:
                  $ref: '#/components/examples/page'
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: listCommits
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Commits
      description: The Atlassian Bitbucket Repositories API endpoint /repositories/{workspace}/{repo_slug}/commits allows users to retrieve a paginated list of commits from a specific repository by making a POST request. This operation provides advanced filtering capabilities through include and exclude parameters, enabling developers to narrow down commits based on branches, tags, bookmarks, or specific commit hashes. Users can specify the workspace identifier and repository slug in the path parameters to target a particular repository, while the request body can contain arrays of references to include or exclude from the results. The response returns commit objects containing metadata such as commit hash, author information, commit message, timestamp, and parent references, making it useful for analyzing repository history, generating changelogs, or implementing custom git workflows that require filtered commit information.
      summary: Atlassian List Commits With Include/exclude
      responses:
        '200':
          description: A paginated list of commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_changeset'
              examples:
                page_2:
                  $ref: '#/components/examples/page_2'
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: listCommitsWithIncludeExclude
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commits/{revision}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: revision
      in: path
      description: A commit SHA1 or ref name.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API endpoint retrieves a paginated list of commits for a specific revision in a Bitbucket repository. By making a GET request to /repositories/{workspace}/{repo_slug}/commits/{revision}, you can access commit history starting from the specified revision, which can be a branch name, tag, or commit SHA. The endpoint returns commit details including author information, commit messages, timestamps, and parent commit references. The response is paginated to handle repositories with extensive commit histories, and you can use query parameters to control pagination and filter results. This operation is useful for tracking changes, auditing code history, or building integrations that need to analyze commit data for a particular branch or point in the repository's timeline.
      summary: Atlassian List Commits for Revision
      responses:
        '200':
          description: A paginated list of commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_changeset'
              examples:
                page_2:
                  $ref: '#/components/examples/page_2'
        '404':
          description: If the specified revision does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: listCommitsForRevision
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Commits
      description: This API operation retrieves a paginated list of commits from a specific repository in Bitbucket that are reachable from a given revision. The endpoint accepts a workspace identifier, repository slug, and a revision parameter (such as a branch name, tag, or commit SHA) in the URL path. It supports POST method to allow for more complex filtering through include and exclude parameters in the request body, enabling users to specify which commits to include or exclude from the results based on branches, tags, or other revisions. This is particularly useful for generating commit histories between specific points in the repository's history or for filtering out commits from certain branches while focusing on others. The response returns commit objects containing information such as commit hash, author, date, message, and parent commits in a paginated format.
      summary: Atlassian List Commits for Revision Using Include/exclude
      responses:
        '200':
          description: A paginated list of commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_changeset'
              examples:
                page_2:
                  $ref: '#/components/examples/page_2'
        '404':
          description: If the specified revision does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - readRepositoryBitbucket
      operationId: listCommitsForRevisionUsingInclude/Exclude
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/diff/{spec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: spec
      in: path
      description: 'A commit SHA (e.g. `3a8b42`) or a commit range using double dot

        notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API operation retrieves the diff between two commits in a Bitbucket repository, allowing developers to see the changes made between specified points in the code history. By providing the workspace identifier, repository slug, and a spec parameter that defines the commits to compare (typically in the format of commit1..commit2 or a single commit reference), the endpoint returns detailed information about added, modified, and deleted lines across all affected files. The response includes unified diff format data that shows line-by-line changes, file paths, and metadata about the modifications, making it useful for code review processes, analyzing changes between branches or releases, and understanding the evolution of the codebase over time.
      summary: Atlassian Compare Two Commits
      responses:
        '200':
          description: The raw diff
        '555':
          description: 'If the diff was too large and timed out.


            Since this endpoint does not employ any form of pagination, but

            instead returns the diff as a single document, it can run into

            trouble on very large diffs. If Bitbucket times out in cases

            like these, a 555 status code is returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: context
        in: query
        description: Generate diffs with <n> lines of context instead of the usual three.
        required: false
        schema:
          type: integer
      - name: path
        in: query
        description: 'Limit the diff to a particular file (this parameter

          can be repeated for multiple paths).'
        required: false
        schema:
          type: string
      - name: ignore_whitespace
        in: query
        description: Generate diffs that ignore whitespace.
        required: false
        schema:
          type: boolean
      - name: binary
        in: query
        description: Generate diffs that include binary files, true if omitted.
        required: false
        schema:
          type: boolean
      - name: renames
        in: query
        description: Whether to perform rename detection, true if omitted.
        required: false
        schema:
          type: boolean
      - name: merge
        in: query
        description: 'This parameter is deprecated. The ''topic'' parameter should be used

          instead. The ''merge'' and ''topic'' parameters cannot be both used at

          the same time.


          If true, the source commit is merged into the

          destination commit, and then a diff from the

          destination to the merge result is returned. If false,

          a simple ''two dot'' diff between the source and

          destination is returned. True if omitted.'
        required: false
        schema:
          type: boolean
      - name: topic
        in: query
        description: 'If true, returns 2-way ''three-dot'' diff.

          This is a diff between the source commit and the merge base

          of the source commit and the destination commit.

          If false, a simple ''two dot'' diff between the source and

          destination is returned.'
        required: false
        schema:
          type: boolean
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: compareTwoCommits
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/diffstat/{spec}:
    parameters:
    - name: ignore_whitespace
      in: query
      description: Generate diffs that ignore whitespace
      required: false
      schema:
        type: boolean
    - name: merge
      in: query
      description: 'This parameter is deprecated. The ''topic'' parameter should be used

        instead. The ''merge'' and ''topic'' parameters cannot be both used at

        the same time.


        If true, the source commit is merged into the

        destination commit, and then a diffstat from the

        destination to the merge result is returned. If false,

        a simple ''two dot'' diffstat between the source and

        destination is returned. True if omitted.'
      required: false
      schema:
        type: boolean
    - name: path
      in: query
      description: 'Limit the diffstat to a particular file (this parameter

        can be repeated for multiple paths).'
      required: false
      schema:
        type: string
    - name: renames
      in: query
      description: Whether to perform rename detection, true if omitted.
      required: false
      schema:
        type: boolean
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: spec
      in: path
      description: 'A commit SHA (e.g. `3a8b42`) or a commit range using double dot

        notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: topic
      in: query
      description: 'If true, returns 2-way ''three-dot'' diff.

        This is a diff between the source commit and the merge base

        of the source commit and the destination commit.

        If false, a simple ''two dot'' diff between the source and

        destination is returned.'
      required: false
      schema:
        type: boolean
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API endpoint retrieves diff statistics comparing changes between two commits in a Bitbucket repository. By specifying the workspace, repository slug, and a spec parameter (which typically contains the commit range or comparison specification), it returns statistical information about the differences between the specified commits, including metrics such as the number of files changed, lines added, and lines removed. This is particularly useful for analyzing the scope and impact of changes between different points in a repository's history without retrieving the full diff content, making it more efficient for generating summaries or reports of code changes.
      summary: Atlassian Compare Two Commit Diff Stats
      responses:
        '200':
          description: The diff stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_diffstats'
              examples:
                paginated-diff-stat:
                  $ref: '#/components/examples/paginated-diff-stat'
        '555':
          description: If generating the diffstat timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: compareTwoCommitDiffStats
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/filehistory/{commit}/{path}:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API operation retrieves the commit history for a specific file in a Bitbucket repository by listing all commits that have modified the file at the given path. The endpoint requires the workspace ID, repository slug, a specific commit SHA, and the file path as parameters. It returns a paginated list of commits in reverse chronological order, showing each commit that touched the specified file up to and including the provided commit reference. This is particularly useful for tracking changes to individual files, understanding file evolution, performing code archaeology, or identifying when specific changes were introduced to a particular file in the repository's history.
      summary: Atlassian List Commits That Modified File
      responses:
        '200':
          description: A paginated list of commits that modified the specified file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_files'
              examples:
                paginated-files:
                  $ref: '#/components/examples/paginated-files'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: renames
        in: query
        description: '

          When `true`, Bitbucket will follow the history of the file across

          renames (this is the default behavior). This can be turned off by

          specifying `false`.'
        required: false
        schema:
          type: string
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property sort the result by as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: listCommitsThatModifiedFile
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/merge-base/{revspec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: revspec
      in: path
      description: 'A commit range using double dot notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API endpoint retrieves the common ancestor commit between two specified commits in a Bitbucket repository. By providing the workspace identifier, repository slug, and a revspec parameter that identifies two commits (typically in the format "commit1...commit2"), the operation returns information about the most recent commit that exists in both commits' histories. This is particularly useful for understanding the branching point between two lines of development, determining what changes have diverged between branches, or preparing for merge operations by identifying the base commit from which both branches originated.
      summary: Atlassian Get the Common Ancestor Between Two Commits
      responses:
        '200':
          description: The merge base of the provided spec.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit'
              examples:
                commit_2:
                  $ref: '#/components/examples/commit_2'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to any of the repositories specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or ref in the spec does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getTheCommonAncestorBetweenTwoCommits
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/patch/{spec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: spec
      in: path
      description: 'A commit SHA (e.g. `3a8b42`) or a commit range using double dot

        notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: This API endpoint retrieves a raw unified diff patch comparing two commits within a specific Bitbucket repository. By providing the workspace identifier, repository slug, and a commit specification (typically in the format "commit1..commit2"), the endpoint returns the patch content showing the line-by-line differences between the two commits. This is particularly useful for code review processes, examining specific changes between versions, or programmatically analyzing modifications made to a codebase. The patch follows the standard unified diff format, making it compatible with various version control tools and patch application utilities.
      summary: Atlassian Get Patch for Two Commits
      responses:
        '200':
          description: The raw patches
        '555':
          description: 'If the diff was too large and timed out.


            Since this endpoint does not employ any form of pagination, but

            instead returns the diff as a single document, it can run into

            trouble on very large diffs. If Bitbucket times out in cases

            like these, a 555 status code is returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getPatchForTwoCommits
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/src:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Commits
      description: This operation allows you to create a new commit in a Bitbucket repository by uploading one or more files directly through the API. You specify the target workspace and repository via the path parameters, then provide the file content along with commit metadata such as the commit message, branch name, author information, and optional parent commit references in the request body. The files are uploaded as multipart form data, where each file can be specified with its path in the repository and its content. Upon successful execution, the API creates a new commit containing the uploaded files and returns details about the newly created commit including its hash, timestamp, and author information. This is particularly useful for automating file updates, CI/CD pipelines, or any workflow that needs to programmatically modify repository contents without requiring a local git clone or manual file operations.
      summary: Atlassian Create Commit by Uploading File
      responses:
        '201':
          description: '

            '
        '403':
          description: If the authenticated user does not have write or admin access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: message
        in: query
        description: The commit message. When omitted, Bitbucket uses a canned string.
        required: false
        schema:
          type: string
      - name: author
        in: query
        description: '

          The raw string to be used as the new Commits author.

          This string follows the format

          `Erik van Zijst <evzijst@atlassian.com>`.


          When omitted, Bitbucket uses the authenticated user''s

          full/display name and primary email address. Commits cannot

          be created anonymously.'
        required: false
        schema:
          type: string
      - name: parents
        in: query
        description: '

          A comma-separated list of SHA1s of the commits that should

          be the parents of the newly created commit.


          When omitted, the new commit will inherit from and become

          a child of the main branch''s tip/HEAD commit.


          When more than one SHA1 is provided, the first SHA1

          identifies the commit from which the content will be

          inherited.".'
        required: false
        schema:
          type: string
      - name: files
        in: query
        description: '

          Optional field that declares the files that the request is

          manipulating. When adding a new file to a repo, or when

          overwriting an existing file, the client can just upload

          the full contents of the file in a normal form field and

          the use of this `files` meta data field is redundant.

          However, when the `files` field contains a file path that

          does not have a corresponding, identically-named form

          field, then Bitbucket interprets that as the client wanting

          to replace the named file with the null set and the file is

          deleted instead.


          Paths in the repo that are referenced in neither files nor

          an individual file field, remain unchanged and carry over

          from the parent to the new commit.


          This API does not support renaming as an explicit feature.

          To rename a file, simply delete it and recreate it under

          the new name in the same commit.

          '
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: '

          The name of the branch that the new commit should be

          created on. When omitted, the commit will be created on top

          of the main branch and will become the main branch''s new

          head.


          When a branch name is provided that already exists in the

          repo, then the commit will be created on top of that

          branch. In this case, *if* a parent SHA1 was also provided,

          then it is asserted that the parent is the branch''s

          tip/HEAD at the time the request is made. When this is not

          the case, a 409 is returned.


          When a new branch name is specified (that does not already

          exist in the repo), and no parent SHA1s are provided, then

          the new commit will inherit from the current main branch''s

          tip/HEAD commit, but not advance the main branch. The new

          commit will be the new branch. When the request *also*

          specifies a parent SHA1, then the new commit and branch

          are created directly on top of the parent commit,

          regardless of the state of the main branch.


          When a branch name is not specified, but a parent SHA1 is

          provided, then Bitbucket asserts that it represents the

          main branch''s current HEAD/tip, or a 409 is returned.


          When a branch name is not specified and the repo is empty,

          the new commit will become the repo''s root commit and will

          be on the main branch.


          When a branch name is specified and the repo is empty, the

          new commit will become the repo''s root commit and also

          define the repo''s main branch going forward.


          This API cannot be used to create additional root commits

          in non-empty repos.


          The branch field cannot be repeated.


          As a side effect, this API can be used to create a new

          branch without modifying any files, by specifying a new

          branch name in this field, together with `parents`, but

          omitting the `files` fields, while not sending any files.

          This will create a new commit and branch with the same

          contents as the first parent. The diff of this commit

          against its first parent will be empty.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: createCommitByUploadingFile
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    page_2:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories/example/repo/commits?page=2
      previous: https://api.bitbucket.org/2.0/repositories/example/repo/commits?page=0
      values:
        hash: a1b2c3d4e5f
        date: '2024-01-15T10:30:00Z'
        author: {}
        message: Initial commit
        summary:
          raw: Initial commit with basic structure
          markup: markdown
          html: <p>Initial commit with basic structure</p>
        parents: []
    application-property:
      _attributes:
        readPermission: public
        writePermission: admin
      customKey1: customValue1
      customKey2: 12345
      customKey3:
        nestedProperty: true
    paginated-files:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.example.com/repositories/user/repo/commits/abc123/files?page=2
      previous: https://api.example.com/repositories/user/repo/commits/abc123/files?page=0
      values: []
    paginated-pull-requests:
      size: 50
      page: 1
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests?page=2
      previous: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests?page=0
      values:
        links:
          self:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1
            name: 'Pull Request #1'
          html:
            href: https://bitbucket.org/myworkspace/myrepo/pull-requests/1
            name: View PR
          commits:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1/commits
          approve:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1/approve
          diff:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1/diff
          diffstat:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1/diffstat
          comments:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1/comments
          activity:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1/activity
          merge:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1/merge
          decline:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/1/decline
        id: 1
        title: Add new feature implementation
        rendered:
          title:
            raw: Add new feature implementation
            markup: markdown
            html: <p>Add new feature implementation</p>
          description:
            raw: This PR implements the new authentication feature
            markup: markdown
            html: <p>This PR implements the new authentication feature</p>
          reason:
            raw: ''
            markup: markdown
            html: ''
        summary:
          raw: This PR implements the new authentication feature
          markup: markdown
          html: <p>This PR implements the new authentication feature</p>
        state: OPEN
        merge_commit:
          hash: a1b2c3d4e5f
        comment_count: 5
        task_count: 2
        close_source_branch: true
        reason: ''
        created_on: '2024-01-15T10:30:00Z'
        updated_on: '2024-01-16T14:45:00Z'
    commit-status:
      links:
        self:
          href: https://api.bitbucket.org/2.0/repositories/example/repo/commit/abc123/statuses/build/1
          name: self
        commit:
          href: https://api.bitbucket.org/2.0/repositories/example/repo/commit/abc123
          name: commit
      uuid: '{12345678-1234-1234-1234-123456789abc}'
      key: BB-DEPLOY
      refname: main
      url: https://foo.com/builds/{repository.full_name}
      state: SUCCESSFUL
      name: BB-DEPLOY-1
      description: Unit tests in Bamboo
      created_on: '2023-11-15T10:30:00Z'
      updated_on: '2023-11-15T10:45:00Z'
    commit_2:
      repository:
        name: my-repo
        full_name: myuser/my-repo
        uuid: '{12345678-1234-1234-1234-123456789012}'
      participants:
        user:
          username: john_doe
          display_name: John Doe
          uuid: '{87654321-4321-4321-4321-210987654321}'
          account_id: 557058:12345678-abcd-efgh-ijkl-123456789012
        role: REVIEWER
        approved: true
        state: approved
        participated_on: '2023-11-15T14:30:00Z'
    page:
      size: 50
      page: 1
      pagelen: 10
      next: https://api.example.com/repositories/commits?page=2
      previous: https://api.example.com/repositories/commits?page=0
      values:
        hash: a1b2c3d4e5f6789
        date: '2024-01-15T10:30:00Z'
        author: {}
        message: Fix bug in authentication module
        summary:
          raw: 'Fix bug in authentication module


            This commit resolves the issue with token validation.'
          markup: markdown
          html: <p>Fix bug in authentication module</p><p>This commit resolves the issue with token validation.</p>
        parents: []
    paginated-commit-comments_2:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.example.com/repositories/commits/comments?page=2
      previous: https://api.example.com/repositories/commits/comments?page=0
      values:
        commit: {}
    commit-status_2:
      links:
        self:
          href: https://api.bitbucket.org/2.0/repositories/my-workspace/my-repo/commit/a1b2c3d4/statuses/build/bb-deploy-123
          name: Self Link
        commit:
          href: https://api.bitbucket.org/2.0/repositories/my-workspace/my-repo/commit/a1b2c3d4
          name: Commit Link
      uuid: '{12345678-1234-5678-1234-567812345678}'
      key: BB-DEPLOY
      refname: main
      url: https://builds.example.com/repositories/{repository.full_name}/commits/{commit}
      state: SUCCESSFUL
      name: BB-DEPLOY-1
      description: Unit tests in Bamboo
      created_on: '2023-11-15T10:30:00Z'
      updated_on: '2023-11-15T10:45:00Z'
    commit-comment_2:
      commit:
        sha: 6dcb09b5b57875f334f61aebed695e2e4193db5e
        url: https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e
        message: Fix all the bugs
        author:
          name: Monalisa Octocat
          email: octocat@github.com
          date: '2011-04-14T16:00:49Z'
        committer:
          name: Monalisa Octocat
          email: octocat@github.com
          date: '2011-04-14T16:00:49Z'
    paginated-commit-statuses_3:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/commit/abc123/statuses?page=2
      previous: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/commit/abc123/statuses?page=0
      values:
        links:
          self:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/commit/abc123/statuses/build/1
            name: Build Status
          commit:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/commit/abc123
            name: Commit
        uuid: '{a1b2c3d4-e5f6-7890-abcd-ef1234567890}'
        key: BB-DEPLOY
        refname: main
        url: https://builds.example.com/repositories/{repository.full_name}/commits/{commit}
        state: SUCCESSFUL
        name: BB-DEPLOY-1
        description: Unit tests in Bamboo
        created_on: '2023-10-15T14:30:00Z'
        updated_on: '2023-10-15T14:45:00Z'
    paginated-diff-stat:
      size: 150
      page: 2
      pagelen: 50
      next: https://api.example.com/diffstats?page=3
      previous: https://api.example.com/diffstats?page=1
      values: {}
    participant:
      user:
        type: user
        username: johndoe
        display_name: John Doe
        uuid: '{12345678-1234-1234-1234-123456789abc}'
        links:
          self:
            href: https://api.bitbucket.org/2.0/users/johndoe
          avatar:
            href: https://avatar-management.services.bitbucket.org/avatar/123456789
      role: REVIEWER
      approved: true
      state: approved
      participated_on: '2024-01-15T14:30:00.000Z'
    paginated-commit-statuses:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.example.com/commits/statuses?page=2
      previous: https://api.example.com/commits/statuses?page=0
      values: []
    commit-comment:
      commit:
        sha: 6dcb09b5b57875f334f61aebed695e2e4193db5e
        url: https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e
        author:
          name: Monalisa Octocat
          email: octocat@github.com
          date: '2011-04-14T16:00:49Z'
        committer:
          name: Monalisa Octocat
          email: octocat@github.com
          date: '2011-04-14T16:00:49Z'
        message: Fix all the bugs
  schemas:
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    pullrequest:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Pull Request
        description: A pull request object.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              approve:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              diff:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              diffstat:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              comments:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              activity:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              merge:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              decline:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          id:
            type: integer
            description: The pull request's unique ID. Note that pull request IDs are only unique within their associated repository.
          title:
            type: string
            description: Title of the pull request.
          rendered:
            type: object
            title: Rendered Pull Request Markup
            description: User provided pull request text, interpreted in a markup language and rendered in HTML
            properties:
              title:
                type: object
                properties:
                  raw:
                    type: string
                    description: The text as it was typed by a user.
                  markup:
                    type: string
                    description: The type of markup language the raw content is to be interpreted in.
                    enum:
                    - markdown
                    - creole
                    - plaintext
                  html:
                    type: string
                    description: The user's content rendered as HTML.
                additionalProperties: false
              description:
                type: object
                properties:
                  raw:
                    type: string
                    description: The text as it was typed by a user.
                  markup:
                    type: string
                    description: The type of markup language the raw content is to be interpreted in.
                    enum:
                    - markdown
                    - creole
                    - plaintext
                  html:
                    type: string
                    description: The user's content rendered as HTML.
                additionalProperties: false
              reason:
[...]
