openapi: 3.1.0
info:
  title: Atlassian Admin Account Add API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Add
paths:
  /repositories/{workspace}/{repo_slug}/default-reviewers/{target_username}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: target_username
      in: path
      description: 'This can either be the username or the UUID of the default reviewer,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Add
      description: This API operation adds a specific user to the default reviewers list for a Bitbucket repository within a given workspace. By making a PUT request to the endpoint with the workspace identifier, repository slug, and target username, administrators can configure automatic reviewer assignments for pull requests in that repository. When a user is added as a default reviewer, they will be automatically included in the reviewer list whenever a new pull request is created in the repository, streamlining the code review process and ensuring consistent oversight from designated team members.
      summary: Atlassian Add User to the Default Reviewers
      responses:
        '200':
          description: The specified user was successfully added to the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
              examples:
                account_2:
                  $ref: '#/components/examples/account_2'
        '400':
          description: If the authenticated user tried to add a team, bot user, or user without access to the repository to the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have permission to modify the default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: addUserToTheDefaultReviewers
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deploy-keys:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Add
      description: This API operation allows you to add a new deploy key to a specific Bitbucket repository within a workspace. Deploy keys are SSH keys that grant read-only or read-write access to a repository, typically used for automated deployment processes or CI/CD pipelines. By making a POST request to this endpoint with the workspace identifier and repository slug, along with the required key details in the request body (such as the SSH public key and an optional label), you can programmatically register a new deploy key that will enable secure, automated access to the repository without requiring user credentials.
      summary: Atlassian Add Repository Deploy Key
      responses:
        '200':
          description: The deploy key that was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy_key'
              examples:
                deploy-key:
                  $ref: '#/components/examples/deploy-key'
        '400':
          description: Invalid deploy key inputs
        '403':
          description: If the specified user or repository is not accessible to the current user
        '404':
          description: If the specified user or repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: addRepositoryDeployKey
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/ssh-keys:
    parameters:
    - name: selected_user
      in: path
      description: 'This can either be an Atlassian Account ID OR the UUID of the account,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Add
      description: This API operation allows you to add a new SSH key to a specific Bitbucket user's account by making a POST request to the /users/{selected_user}/ssh-keys endpoint, where {selected_user} represents the username of the target account. The operation requires you to provide SSH key details in the request body, typically including the key content and an optional label for identification purposes. Once successfully added, the SSH key enables secure authentication for Git operations and other SSH-based interactions with Bitbucket repositories associated with that user account. This is commonly used for setting up automated deployments, CI/CD pipelines, or allowing developers to securely push and pull code without password authentication.
      summary: Atlassian Add New Ssh Key
      responses:
        '201':
          description: The newly created SSH key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ssh_account_key'
              examples:
                ssh-account-key:
                  $ref: '#/components/examples/ssh-account-key'
        '400':
          description: If the submitted key or related value is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the current user does not have permission to add a key for the specified user
        '404':
          description: If the specified user does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ssh_account_key'
            examples:
              ssh-account-key_2:
                $ref: '#/components/examples/ssh-account-key_2'
        description: The new SSH key object. Note that the username property has been deprecated due to [privacy changes](https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-changes-gdpr/#removal-of-usernames-from-user-referencing-apis).
      security:
      - oauth2:
        - account:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
        GenerateExampleFromOperationRequestSchema: true
      operationId: addNewSshKey
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects/{project_key}/default-reviewers/{selected_user}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This can either be the actual `key` assigned

        to the project or the `UUID` (surrounded by curly-braces (`{}`)).

        '
      required: true
      schema:
        type: string
    - name: selected_user
      in: path
      description: 'This can either be the username or the UUID of the default reviewer,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Add
      description: This PUT operation adds a specified user as a default reviewer for a particular project within a Bitbucket workspace. By targeting the endpoint with the workspace slug, project key, and the selected user's identifier, it configures that user to be automatically added as a reviewer on all new pull requests created in the project. This helps streamline the code review process by ensuring designated team members are consistently included in pull request reviews without manual assignment, making it useful for maintaining quality control and ensuring appropriate oversight across a project's development workflow.
      summary: Atlassian Add the Specific User as a Default Reviewer for the Project
      responses:
        '200':
          description: The specified user was added as a project default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
              examples:
                user_2:
                  $ref: '#/components/examples/user_2'
        '400':
          description: If the specified user cannot be added as a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianAddTheSpecificUserAsADefaultReviewerForTheProject
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/label:
    post:
      tags:
      - Add
      summary: Atlassian Add Labels to Content
      description: This API operation allows you to add one or more labels to a specific piece of Confluence content by making a POST request to the endpoint with the content's unique identifier. Labels are metadata tags that help organize, categorize, and improve the discoverability of pages, blog posts, and other content within Confluence. When calling this endpoint, you must provide the content ID in the URL path and include an array of label objects in the request body, specifying properties such as the label prefix (typically 'global') and the label name. The operation requires appropriate permissions to modify the target content, and upon successful execution, it returns the newly added labels along with their metadata. This functionality is commonly used for bulk tagging operations, automated content categorization workflows, or integrating external systems that need to apply consistent labeling schemes across Confluence spaces.
      operationId: addLabelsToContent
      parameters:
      - name: id
        in: path
        description: The ID of the content that will have labels added to it.
        required: true
        schema:
          type: string
      requestBody:
        description: The labels to add to the content.
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/LabelCreateArray'
              - $ref: '#/components/schemas/LabelCreate'
        required: true
      responses:
        '200':
          description: Returned if the labels are added to the content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelArray'
        '400':
          description: 'Returned if;


            - The body contains labels with invalid characters or too many characters.

            - The body contains too many labels.

            - The target content would contain too many labels after the operation.

            - The calling user does not have permission to edit labels.'
          content: {}
        '403':
          description: Returned if the calling user can view but not edit the content.
          content: {}
        '404':
          description: 'Returned if;


            - There is no content with the given ID.

            - The calling user does not have permission to view the content.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-content
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-content
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:label:confluence
        - write:label:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: WRITE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/restriction:
    post:
      tags:
      - Add
      summary: Atlassian Add Restrictions
      description: The Add Restrictions operation in the Atlassian Confluence Content API allows you to apply access controls to a specific piece of content by sending a POST request to /wiki/rest/api/content/{id}/restriction, where {id} represents the unique identifier of the content you want to restrict. This endpoint enables administrators and authorized users to define who can view or edit the content by specifying user accounts, groups, or both in the request payload. The restrictions can be applied at different operation levels such as read or update permissions, effectively controlling content visibility and editability within a Confluence space. When successfully executed, the API returns the newly created restriction details, allowing you to implement fine-grained security policies and maintain proper content governance across your Confluence instance.
      operationId: addRestrictions
      parameters:
      - name: id
        in: path
        description: The ID of the content to add restrictions to.
        required: true
        schema:
          type: string
      - name: expand
        in: query
        description: 'A multi-value parameter indicating which properties of the content

          restrictions (returned in response) to expand.


          - `restrictions.user` returns the piece of content that the restrictions are

          applied to. Expanded by default.

          - `restrictions.group` returns the piece of content that the restrictions are

          applied to. Expanded by default.

          - `content` returns the piece of content that the restrictions are

          applied to.'
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - restrictions.user
            - read.restrictions.user
            - update.restrictions.user
            - restrictions.group
            - read.restrictions.group
            - update.restrictions.group
            - content
      requestBody:
        description: The restrictions to be added to the content.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentRestrictionAddOrUpdateArray'
        required: true
      responses:
        '200':
          description: Returned if the requested restrictions are added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRestrictionArray'
        '404':
          description: 'Returned if;


            - There is no content with the given ID.

            - The calling user does not have permission to add restrictions to

            the content.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-content
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-content
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
        - write:content.restriction:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: WRITE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/restriction/byOperation/{operationKey}/group/{groupName}:
    put:
      tags:
      - Add
      summary: Atlassian Add Group to Content Restriction
      deprecated: true
      description: 'The PUT operation on the Atlassian Confluence Content API endpoint `/wiki/rest/api/content/{id}/restriction/byOperation/{operationKey}/group/{groupName}` adds a specified group to an existing content restriction for a particular operation type. This allows administrators to grant a group access to perform specific operations (such as read, update, or delete) on restricted Confluence content by including the group in the restriction''s allowed list. The endpoint requires three path parameters: the content ID identifying the specific page or blog post, the operation key specifying the type of operation being restricted (like ''read'' or ''update''), and the group name identifying which user group should be granted access. This operation is essential for managing collaborative permissions and implementing fine-grained access control within Confluence spaces, enabling teams to secure sensitive content while selectively allowing specific groups to interact with it based on their operational needs.'
      operationId: addGroupToContentRestriction
      parameters:
      - name: id
        in: path
        description: The ID of the content that the restriction applies to.
        required: true
        schema:
          type: string
      - name: operationKey
        in: path
        description: The operation that the restriction applies to.
        required: true
        schema:
          type: string
          enum:
          - read
          - update
      - name: groupName
        in: path
        description: The name of the group to add to the content restriction.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Returned if the group is added to the content restriction. The response

            body will be empty.'
          content: {}
        '404':
          description: 'Returned if;


            - There is no content with the given ID.

            - The calling user does not have permission to view the content.

            - An invalid operation or group is specified.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-content
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-content
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - write:content.restriction:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: WRITE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/restriction/byOperation/{operationKey}/byGroupId/{groupId}:
    put:
      tags:
      - Add
      summary: Atlassian Add Group to Content Restriction
      description: 'This PUT operation adds a specified group to content restrictions for a particular operation on a Confluence page or blog post. The endpoint requires three path parameters: the content ID, an operation key (such as ''read'' or ''update''), and the group ID to be added to the restriction. When executed, it grants the specified group permission to perform the designated operation on the content, effectively managing fine-grained access control at the group level. This is useful for administrators who need to programmatically control which groups can view, edit, or otherwise interact with specific Confluence content while maintaining existing restrictions for other operations or groups.'
      operationId: addGroupToContentRestriction
      parameters:
      - name: id
        in: path
        description: The ID of the content that the restriction applies to.
        required: true
        schema:
          type: string
      - name: operationKey
        in: path
        description: The operation that the restriction applies to.
        required: true
        schema:
          type: string
          enum:
          - read
          - update
      - name: groupId
        in: path
        description: The groupId of the group to add to the content restriction.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Returned if the group is added to the content restriction by Group Id. The response

            body will be empty.'
          content: {}
        '400':
          description: 'Returned if;

            - Group Id is not valid'
          content: {}
        '403':
          description: 'Returned if the calling user does not have permission to update the

            content.'
          content: {}
        '404':
          description: 'Returned if;

            - There is no content with the given ID.

            - The calling user does not have permission to view the content.

            - An invalid operation or group id is specified.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-content
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-content
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - write:content.restriction:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: WRITE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/restriction/byOperation/{operationKey}/user:
    put:
      tags:
      - Add
      summary: Atlassian Add User to Content Restriction
      description: Updates content restrictions by adding a user to a specific operation-based restriction on a Confluence content item. This endpoint allows administrators to grant a particular user permission to perform a specified operation (such as 'read' or 'update') on restricted content by adding them to the allowlist for that operation. The request requires the content ID, the operation key (the type of restriction being modified), and the user details to be added. This is useful for managing granular access control on individual pages or blog posts when you need to give specific users access to restricted content without changing the broader space or content permissions.
      operationId: addUserToContentRestriction
      parameters:
      - name: id
        in: path
        description: The ID of the content that the restriction applies to.
        required: true
        schema:
          type: string
      - name: operationKey
        in: path
        description: The operation that the restriction applies to.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/userLookupKey'
      - $ref: '#/components/parameters/userLookupUsername'
      - $ref: '#/components/parameters/userLookupAccountId'
      responses:
        '200':
          description: 'Returned if the user is added to the content restriction. The response

            body will be empty.'
          content: {}
        '400':
          description: 'Returned if;


            - Provided restrictions are invalid'
          content: {}
        '404':
          description: 'Returned if;


            - There is no content with the given ID.

            - The calling user does not have permission to view the content.

            - An invalid operation or group is specified.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-content
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-content
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - write:content.restriction:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: WRITE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ssh_account_key:
      allOf:
      - $ref: '#/components/schemas/ssh_key'
      - type: object
        title: SSH Account Key
        description: Represents an SSH public key for a user.
        properties:
          owner:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    UsersUserKeys:
      required:
      - userAccountIds
      nullable: true
      type: object
      additionalProperties: true
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
          example: []
        userKeys:
          type: array
          items:
            type: string
          example: []
        _links:
          $ref: '#/components/schemas/GenericLinks'
    TopNavigationLookAndFeel:
      required:
      - highlightColor
      type: object
      properties:
        color:
          type: string
          nullable: true
          example: example_value
        highlightColor:
          type: string
          example: example_value
        hoverOrFocus:
          type: object
          properties:
            backgroundColor:
              type: string
            color:
              type: string
          example: example_value
    HeaderLookAndFeel:
      required:
      - backgroundColor
      - button
      - primaryNavigation
      - search
      - secondaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
          example: example_value
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    SuperBatchWebResources:
      type: object
      properties:
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
          example: example_value
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
          example: example_value
        metatags:
          type: string
          example: example_value
        _expandable:
          type: object
          additionalProperties: true
          example: example_value
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    ssh_key:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: SSH Key
        description: Base type for representing SSH public keys.
        properties:
          uuid:
            type: string
            description: The SSH key's immutable ID.
          key:
            type: string
            description: The SSH public key value in OpenSSH format.
          comment:
            type: string
            description: The comment parsed from the SSH key (if present)
          label:
            type: string
            description: The user-defined label for the SSH key
          created_on:
            type: string
            format: date-time
          last_used:
            type: string
            format: date-time
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
        additionalProperties: true
    SpaceDescription:
      required:
      - embeddedContent
      - representation
      - value
      type: object
      additionalProperties: true
      properties:
        value:
          type: string
          example: example_value
        representation:
          type: string
          enum:
          - plain
          - view
          example: plain
        embeddedContent:
          type: array
          items:
            type: object
            properties: {}
          example: []
    GenericUserKey:
      type: string
      nullable: true
      description: 'This property is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
    ContentRestrictionAddOrUpdateArray:
      oneOf:
      - type: object
        required:
        - results
        properties:
          results:
            type: array
            items:
              $ref: '#/components/schemas/ContentRestrictionUpdate'
          start:
            type: integer
            format: int32
          limit:
            type: integer
            format: int32
          size:
            type: integer
            format: int32
          restrictionsHash:
            type: string
            description: 'This property is used by the UI to figure out whether a set of restrictions

              has changed.'
          _links:
            $ref: '#/components/schemas/GenericLinks'
      - type: array
        items:
          $ref: '#/components/schemas/ContentRestrictionUpdate'
    ContentMetadata:
      type: object
      additionalProperties: true
      properties:
        currentuser:
          type: object
          properties:
            favourited:
              type: object
              properties:
                isFavourite:
                  type: boolean
                favouritedDate:
                  type: string
                  format: date-time
            lastmodified:
              type: object
              properties:
                version:
                  $ref: '#/components/schemas/Version'
                friendlyLastModified:
                  type: string
            lastcontributed:
              type: object
              properties:
                status:
                  type: string
                when:
                  type: string
                  format: date-time
            viewed:
              type: object
              properties:
                lastSeen:
                  type: string
                  format: date-time
                friendlyLastSeen:
                  type: string
            scheduled:
              type: object
            _expandable:
              type: object
              properties:
                favourited:
                  type: string
                lastmodified:
                  type: string
                lastcontributed:
                  type: string
                viewed:
                  type: string
                scheduled:
                  type: string
          example: example_value
        properties:
          $ref: '#/components/schemas/GenericLinks'
        frontend:
          type: object
          additionalProperties: true
          example: example_value
        labels:
          oneOf:
          - $ref: '#/components/schemas/LabelArray'
          - type: array
            items:
              $ref: '#/components/schemas/Label'
          example: example_value
      description: Metadata object for page, blogpost, comment content
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
          example: https://www.example.com
        name:
          type: string
          example: Example Title
      additionalProperties: false
    SpacePermission:
      required:
      - anonymousAccess
      - operation
      - unlicensedAccess
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: abc123
        subjects:
          type: object
          properties:
            user:
              required:
              - results
              - size
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
                size:
                  type: integer
                  format: int32
                start:
                  type: integer
                  format: int32
                limit:
                  type: integer
                  format: int32
            group:
              required:
              - results
              - size
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/Group'
                size:
                  type: integer
                  format: int32
                start:
                  type: integer
                  format: int32
                limit:
                  type: integer
                  format: int32
            _expandable:
              type: object
              properties:
                user:
                  type: string
                group:
                  type: string
          description: The users and/or groups that the permission applies to.
          example: example_value
        operation:
          $ref: '#/components/schemas/OperationCheckResult'
        anonymousAccess:
          type: boolean
          description: Grant anonymous users permission to use the operation.
          default: false
          example: true
        unlicensedAccess:
          type: boolean
          description: 'Grants access to unlicensed users from JIRA Service Desk when used

            with the ''read space'' operation.'
          default: false
          example: true
      description: "This object represents a permission for given space. Permissions consist of\nat least one operation object with an accompanying subjects object.\n\nThe following combinations of `operation` and `targetType` values are\nvalid for the `operation` object:\n\n  - 'create': 'page', 'blogpost', 'comment', 'attachment'\n  - 'read': 'space'\n  - 'delete': 'page', 'blogpost', 'comment', 'attachment'\n  - 'export': 'space'\n  - 'administer': 'space'"
    ContentArray:
      required:
      - _links
      - results
      - size
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Content'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ContentRestriction:
      required:
      - _expandable
      - _links
      - operation
      type: object
      properties:
        operation:
          type: string
          enum:
          - administer
          - copy
          - create
          - delete
          - export
          - move
          - purge
          - purge_version
          - read
          - restore
          - update
          - use
          example: administer
        restrictions:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/UserArray'
            group:
              $ref: '#/components/schemas/GroupArray'
            _expandable:
              type: object
              properties:
                user:
                  type: string
                group:
                  type: string
          example: example_value
        content:
          $ref: '#/components/schemas/Content'
        _expandable:
          type: object
          properties:
            restrictions:
              type: string
            content:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    deploy_key:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Deploy Key
        description: Represents deploy key for a repository.
        properties:
          key:
            type: string
            description: The deploy key value.
          repository:
            $ref: '#/components/schemas/repository'
          comment:
            type: string
            description: The comment parsed from the deploy key (if present)
          label:
            type: string
            description: The user-defined label for the deploy key
          added_on:
            type: string
            format: date-time
          last_used:
            type: string
            format: date-time
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          owner:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    Embeddable:
      type: object
      additionalProperties: true
    ContentRestrictionArray:
      required:
      - _links
      - limit
      - restrictionsHash
      - results
      - size
      - start
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ContentRestriction'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
        restrictionsHash:
          type: string
          description: 'This property is used by the UI to figure out whether a set of restrictions

            has changed.'
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    ContainerLookAndFeel:
      required:
      - background
      - backgroundColor
      - backgroundImage
      - backgroundSize
      - borderRadius
      - padding
      type: object
      nullable: true
      properties:
        background:
          type: string
          example: example_value
        backgroundAttachment:
          type: string
          nullable: true
          example: example_value
        backgroundBlendMode:
          type: string
          nullable: true
          example: example_value
        backgroundClip:
          type: string
          nullable: true
          example: example_value
        backgroundColor:
          type: string
          nullable: true
          example: example_value
        backgroundImage:
          type: string
          nullable: true
          example: example_value
        backgroundOrigin:
          type: string
          nullable: true
          example: example_value
        backgroundPosition:
          type: string
          nullable: true
          example: example_value
        backgroundRepeat:
          type: string
          nullable: true
          example: example_value
        backgroundSize:
          type: string
          nullable: true
          example: example_value
        padding:
          type: string
          example: example_value
        borderRadius:
          type: string
          example: example_value
    MenusLookAndFeel:
      required:
      - color
      - hoverOrFocus
      type: object
      properties:
        hoverOrFocus:
          required:
          - backgroundColor
          type: object
          properties:
            backgroundColor:
              type: string
          example: example_value
        color:
          type: string
          example: example_value
    Icon:
      required:
      - height
      - isDefault
      - path
      - width
      type: object
      nullable: true
      properties:
        path:
          type: string
          example: example_value
        width:
          type: integer
          format: int32
          example: 10
        height:
          type: integer
          format: int32
          example: 10
        isDefault:
          type: boolean
          example: true
      description: This object represents an icon. If used as a profilePicture, this may be returned as null, depending on the user's privacy setting.
    GenericAccountId:
      type: string
      nullable: true
      description: 'The account ID of the user, which uniquely identifies the user across all Atlassian products.

        For example, `384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192`.'
    repository:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Repository
        description: A Bitbucket repository.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              pullrequests:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              forks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watchers:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              downloads:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              clone:
                type: array
                items:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              hooks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The repository's immutable id. This can be used as a substitute for the slug segment in URLs. Doing this guarantees your URLs will survive renaming of the repository by its owner, or even transfer of the repository to a different user.
          full_name:
            type: string
            description: The concatenation of the repository owner's username and the slugified name, e.g. "evzijst/interruptingcow". This is the same string used in Bitbucket URLs.
          is_private:
            type: boolean
          parent:
            $ref: '#/components/schemas/repository'
          scm:
            type: string
            enum:
            - git
          owner:
            $ref: '#/components/schemas/account'
          name:
            type: string
          description:
            type: string
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          size:
            type: integer
          language:
            type: string
          has_issues:
            type: boolean
            description: '

              The issue tracker for this repository is enabled. Issue Tracker

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          has_wiki:
            type: boolean
            description: '

              The wiki for this repository is enabled. Wiki

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          fork_policy:
            type: string
            description: "\nControls the rules for forking this repository.\n\n* **allow_forks**: unrestricted forking\n* **no_public_forks**: restrict forking to private forks (forks cannot\n  be made public later)\n* **no_forks**: deny all forking\n"
            enum:
            - allow_forks
            - no_public_forks
            - no_forks
          project:
            $ref: '#/components/schemas/project'
          mainbranch:
            $ref: '#/components/schemas/branch'
        additionalProperties: true
    ContentBody:
      required:
      - representation
      - value
      type: object
      properties:
        value:
          type: string
          example: example_value
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          - raw
          example: view
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
          example: []
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
          example: example_value
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    Version:
      required:
      - minorEdit
      - number
      - when
      type: object
      nullable: true
      additionalProperties: true
      properties:
        by:
          $ref: '#/components/schemas/User'
        when:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        friendlyWhen:
          type: string
          nullable: true
          example: example_value
        message:
          type: string
          nullable: true
          example: example_value
        number:
          type: integer
          format: int32
          description: Set this to the current version number incremented by one
          example: 10
        minorEdit:
          description: 'If `minorEdit` is set to ''true'', no notification email or activity

            stream will be generated for the change.'
          type: boolean
          example: true
        content:
          $ref: '#/components/schemas/Content'
        collaborators:
          $ref: '#/components/schemas/UsersUserKeys'
        _expandable:
          type: object
          properties:
            content:
              type: string
            collaborators:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
        contentTypeModified:
          type: boolean
          description: True if content type is modifed in this version (e.g. page to blog)
          example: true
        confRev:
          type: string
          nullable: true
          description: The revision id provided by confluence to be used as a revision in Synchrony
          example: example_value
        syncRev:
          type: string
          nullable: true
          description: The revision id provided by Synchrony
          example: example_value
        syncRevSource:
          type: string
          nullable: true
          description: Source of the synchrony revision
          example: example_value
    UserDetails:
      type: object
      properties:
        business:
          type: object
          properties:
            position:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            department:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            location:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
          example: example_value
        personal:
          type: object
          properties:
            phone:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            im:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            website:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            email:
              type: string
              description: 'This property has been deprecated due to privacy changes. Use the `User.email` property instead. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
          example: example_value
    HorizontalHeaderLookAndFeel:
      required:
      - backgroundColor
      - primaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
          example: example_value
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/TopNavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    ButtonLookAndFeel:
      required:
      - backgroundColor
      - color
      type: object
      nullable: true
      properties:
        backgroundColor:
          type: string
          example: example_value
        color:
          type: string
          example: example_value
    LabelCreate:
      required:
      - name
      - prefix
      type: object
      additionalProperties: true
      properties:
        prefix:
          type: string
          description: The prefix for the label. `global`, `my` `team`, etc.
          example: example_value
        name:
          type: string
          description: The name of the label, which will be shown in the UI.
          example: Example Title
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    ContentChildType:
      type: object
      properties:
        attachment:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
          example: example_value
        comment:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
          example: example_value
        page:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
          example: example_value
        _expandable:
          type: object
          properties:
            all:
              type: string
            attachment:
              type: string
            comment:
              type: string
            page:
              type: string
            whiteboard:
              type: string
          example: example_value
      additionalProperties: true
      description: 'Shows whether a piece of content has attachments, comments, or child pages/whiteboards.

        Note, this doesn''t actually contain the child objects.'
    ContentHistory:
      required:
      - latest
      type: object
      nullable: true
      properties:
        latest:
          type: boolean
          example: true
        createdBy:
          $ref: '#/components/schemas/User'
        ownedBy:
          $ref: '#/components/schemas/User'
        lastOwnedBy:
          $ref: '#/components/schemas/User'
        createdDate:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        lastUpdated:
          $ref: '#/components/schemas/Version'
        previousVersion:
          $ref: '#/components/schemas/Version'
        contributors:
          type: object
          properties:
            publishers:
              $ref: '#/components/schemas/UsersUserKeys'
          example: example_value
        nextVersion:
          $ref: '#/components/schemas/Version'
        _expandable:
          type: object
          properties:
            lastUpdated:
              type: string
            previousVersion:
              type: string
            contributors:
              type: string
            nextVersion:
              type: string
            ownedBy:
              type: string
            lastOwnedBy:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ScreenLookAndFeel:
      required:
      - background
      type: object
      properties:
        background:
          type: string
          example: example_value
        backgroundAttachment:
          type: string
          nullable: true
          example: example_value
        backgroundBlendMode:
          type: string
          nullable: true
          example: example_value
        backgroundClip:
          type: string
          nullable: true
          example: example_value
        backgroundColor:
          type: string
          nullable: true
          example: example_value
        backgroundImage:
          type: string
          nullable: true
          example: example_value
        backgroundOrigin:
          type: string
          nullable: true
          example: example_value
        backgroundPosition:
          type: string
          nullable: true
          example: example_value
        backgroundRepeat:
          type: string
          nullable: true
          example: example_value
        backgroundSize:
          type: string
          nullable: true
          example: example_value
        layer:
          type: object
          properties:
            width:
              type: string
            height:
              type: string
          nullable: true
          example: example_value
        gutterTop:
          type: string
          nullable: true
          example: example_value
        gutterRight:
          type: string
          nullable: true
          example: example_value
        gutterBottom:
          type: string
          nullable: true
          example: example_value
        gutterLeft:
          type: string
          nullable: true
          example: example_value
    Group:
      required:
      - name
      - type
      - id
      type: object
      properties:
        type:
          type: string
          default: group
          enum:
          - group
          example: group
        name:
          type: string
          example: Example Title
        id:
          type: string
          example: abc123
        _links:
          $ref: '#/components/schemas/GenericLinks'
    UserArray:
      required:
      - results
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
        totalSize:
          type: integer
          format: int64
          default: 0
          description: 'This property will return total count of the objects before pagination is applied.

            This value is returned if `shouldReturnTotalSize` is set to `true`.'
          example: 10
        _links:
          $ref: '#/components/schemas/GenericLinks'
    Label:
      required:
      - id
      - label
      - name
      - prefix
      type: object
      properties:
        prefix:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        id:
          type: string
          example: abc123
        label:
          type: string
          example: Example Title
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    ContentChildren:
      type: object
      additionalProperties: true
      properties:
        attachment:
          $ref: '#/components/schemas/ContentArray'
        comment:
          $ref: '#/components/schemas/ContentArray'
        page:
          $ref: '#/components/schemas/ContentArray'
        _expandable:
          type: object
          additionalProperties: true
          properties:
            attachment:
              type: string
            comment:
              type: string
            page:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    LookAndFeel:
      required:
      - bordersAndDividers
      - content
      - header
      - headings
      - links
      - menus
      type: object
      properties:
        headings:
          required:
          - color
          type: object
          properties:
            color:
              type: string
          example: example_value
        links:
          required:
          - color
          type: object
          properties:
            color:
              type: string
          example: example_value
        menus:
          $ref: '#/components/schemas/MenusLookAndFeel'
        header:
          $ref: '#/components/schemas/HeaderLookAndFeel'
        horizontalHeader:
          $ref: '#/components/schemas/HorizontalHeaderLookAndFeel'
        content:
          $ref: '#/components/schemas/ContentLookAndFeel'
        bordersAndDividers:
          required:
          - color
          type: object
          properties:
            color:
              type: string
          example: example_value
        spaceReference:
          type: object
          nullable: true
          example: example_value
    OperationCheckResult:
      required:
      - operation
      - targetType
      type: object
      properties:
        operation:
          type: string
          description: The operation itself.
          enum:
          - administer
          - archive
          - clear_permissions
          - copy
          - create
          - create_space
          - delete
          - export
          - move
          - purge
          - purge_version
          - read
          - restore
          - restrict_content
          - update
          - use
          example: administer
        targetType:
          type: string
          description: The space or content type that the operation applies to. Could be one of- - application - page - blogpost - comment - attachment - space
          example: example_value
      description: An operation and the target entity that it applies to, e.g. create page.
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    ContentLookAndFeel:
      type: object
      properties:
        screen:
          $ref: '#/components/schemas/ScreenLookAndFeel'
        container:
          $ref: '#/components/schemas/ContainerLookAndFeel'
        header:
          $ref: '#/components/schemas/ContainerLookAndFeel'
        body:
          $ref: '#/components/schemas/ContainerLookAndFeel'
    NavigationLookAndFeel:
      required:
      - color
      - hoverOrFocus
      type: object
      nullable: true
      properties:
        color:
          type: string
          example: example_value
        highlightColor:
          type: string
          nullable: true
          example: example_value
        hoverOrFocus:
          required:
          - backgroundColor
          - color
          type: object
          properties:
            backgroundColor:
              type: string
            color:
              type: string
          example: example_value
    branch:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Branch
        description: A branch object, representing a branch in a repository.
        properties:
          merge_strategies:
            type: array
            description: Available merge strategies for pull requests targeting this branch.
            items:
              type: string
              enum:
              - merge_commit
              - squash
              - fast_forward
          default_merge_strategy:
            type: string
            description: The default merge strategy for pull requests targeting this branch.
        additionalProperties: true
    ContentRestrictionUpdate:
      required:
      - operation
      - restrictions
      type: object
      properties:
        operation:
          type: string
          description: The restriction operation applied to content.
          enum:
          - administer
          - copy
          - create
          - delete
          - export
          - move
          - purge
          - purge_version
          - read
          - restore
          - update
          - use
          example: administer
        restrictions:
          type: object
          properties:
            group:
              type: array
              description: 'The groups that the restrictions will be applied to. This array must

                have at least one item, otherwise it should be omitted. At least one of `name` or `id` is required,

                and `id` should be used where possible in advance of the `name` deprecation.'
              items:
                required:
                - type
                type: object
                properties:
                  type:
                    type: string
                    description: Set to 'group'.
                    enum:
                    - group
                  name:
                    type: string
                    description: The name of the group.
                    deprecated: true
                  id:
                    type: string
                    description: The id of the group.
                description: A group that the restriction will be applied to.
            user:
              oneOf:
              - type: array
                items:
                  $ref: '#/components/schemas/User'
              - $ref: '#/components/schemas/UserArray'
          description: 'The users/groups that the restrictions will be applied to. At least one of

            `user` or `group` must be specified for this object.'
          example: example_value
        content:
          $ref: '#/components/schemas/Content'
    LabelCreateArray:
      type: array
      items:
        $ref: '#/components/schemas/LabelCreate'
    user:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: User
        description: A user object.
        properties:
          links:
            $ref: '#/components/schemas/user_links'
          account_id:
            type: string
            description: The user's Atlassian account ID.
          account_status:
            type: string
            description: The status of the account. Currently the only possible value is "active", but more values may be added in the future.
          has_2fa_enabled:
            type: boolean
          nickname:
            type: string
            description: Account name defined by the owner. Should be used instead of the "username" field. Note that "nickname" cannot be used in place of "username" in URLs and queries, as "nickname" is not guaranteed to be unique.
          is_staff:
            type: boolean
          website:
            type: string
        additionalProperties: true
    ref:
      type: object
      title: Ref
      description: A ref object, representing a branch or tag in a repository.
      properties:
        type:
          type: string
          example: example_value
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            commits:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            html:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
          example: example_value
        name:
          type: string
          description: The name of the ref.
          example: Example Title
        target:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
    LabelArray:
      required:
      - results
      - size
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Label'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
        _links:
          $ref: '#/components/schemas/GenericLinks'
    Space:
      required:
      - _expandable
      - _links
      - key
      - name
      - status
      - type
      nullable: true
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: abc123
        key:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        icon:
          $ref: '#/components/schemas/Icon'
        description:
          type: object
          properties:
            plain:
              $ref: '#/components/schemas/SpaceDescription'
            view:
              $ref: '#/components/schemas/SpaceDescription'
            _expandable:
              type: object
              properties:
                view:
                  type: string
                plain:
                  type: string
          example: A sample description.
        homepage:
          $ref: '#/components/schemas/Content'
        type:
          type: string
          example: example_value
        metadata:
          type: object
          properties:
            labels:
              $ref: '#/components/schemas/LabelArray'
            _expandable:
              type: object
          example: example_value
        operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationCheckResult'
          example: []
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/SpacePermission'
          example: []
        status:
          type: string
          example: example_value
        settings:
          $ref: '#/components/schemas/SpaceSettings'
        theme:
          $ref: '#/components/schemas/Theme'
        lookAndFeel:
          $ref: '#/components/schemas/LookAndFeel'
        history:
          required:
          - createdDate
          type: object
          properties:
            createdDate:
              type: string
              format: date-time
            createdBy:
              $ref: '#/components/schemas/User'
          example: example_value
        _expandable:
          type: object
          properties:
            settings:
              type: string
            metadata:
              type: string
            operations:
              type: string
            lookAndFeel:
              type: string
            permissions:
              type: string
            icon:
              type: string
            description:
              type: string
            theme:
              type: string
            history:
              type: string
            homepage:
              type: string
            identifiers:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    GenericLinks:
      type: object
      additionalProperties:
        oneOf:
        - type: object
          additionalProperties: true
        - type: string
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    SearchFieldLookAndFeel:
      required:
      - backgroundColor
      - color
      type: object
      nullable: true
      properties:
        backgroundColor:
          type: string
          example: example_value
        color:
          type: string
          example: example_value
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    EmbeddedContent:
      type: object
      additionalProperties: true
      properties:
        entityId:
          type: integer
          format: int64
          example: '500123'
        entityType:
          type: string
          example: example_value
        entity:
          $ref: '#/components/schemas/Embeddable'
    WebResourceDependencies:
      type: object
      properties:
        _expandable:
          type: object
          additionalProperties: true
          properties:
            uris:
              oneOf:
              - type: string
              - type: object
                additionalProperties: true
          example: example_value
        keys:
          type: array
          items:
            type: string
          example: []
        contexts:
          type: array
          items:
            type: string
          example: []
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            _expandable:
              type: object
              additionalProperties: true
              properties:
                css:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
                js:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
          example: example_value
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
            _expandable:
              type: object
              additionalProperties: true
          example: example_value
        superbatch:
          $ref: '#/components/schemas/SuperBatchWebResources'
    team:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: Team
        description: A team object.
        properties:
          links:
            $ref: '#/components/schemas/team_links'
        additionalProperties: true
    user_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: User Links
        description: Links related to a User.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    Theme:
      required:
      - themeKey
      type: object
      properties:
        themeKey:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        description:
          type: string
          example: A sample description.
        icon:
          $ref: '#/components/schemas/Icon'
        _links:
          $ref: '#/components/schemas/GenericLinks'
    Container:
      type: object
      nullable: true
      additionalProperties: true
      description: 'Container for content. This can be either a space (containing a page or blogpost)

        or a page/blog post (containing an attachment or comment)'
    User:
      required:
      - type
      type: object
      additionalProperties: true
      nullable: true
      properties:
        type:
          type: string
          enum:
          - known
          - unknown
          - anonymous
          - user
          example: known
        username:
          $ref: '#/components/schemas/GenericUserName'
        userKey:
          $ref: '#/components/schemas/GenericUserKey'
        accountId:
          $ref: '#/components/schemas/GenericAccountId'
        accountType:
          type: string
          description: The account type of the user, may return empty string if unavailable. App is if the user is a bot user created on behalf of an Atlassian app.
          enum:
          - atlassian
          - app
          - ''
          example: atlassian
        email:
          nullable: true
          type: string
          description: The email address of the user. Depending on the user's privacy setting, this may return an empty string.
          example: user@example.com
        publicName:
          type: string
          description: The public name or nickname of the user. Will always contain a value.
          example: example_value
        profilePicture:
          $ref: '#/components/schemas/Icon'
        displayName:
          nullable: true
          type: string
          description: The displays name of the user. Depending on the user's privacy setting, this may be the same as publicName.
          example: example_value
        timeZone:
          nullable: true
          type: string
          description: This displays user time zone. Depending on the user's privacy setting, this may return null.
          example: example_value
        isExternalCollaborator:
          type: boolean
          description: Whether the user is an external collaborator user
          example: true
        externalCollaborator:
          type: boolean
          description: Whether the user is an external collaborator user
          example: true
        operations:
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/OperationCheckResult'
          example: []
        details:
          $ref: '#/components/schemas/UserDetails'
        personalSpace:
          $ref: '#/components/schemas/Space'
        _expandable:
          type: object
          properties:
            operations:
              type: string
            details:
              type: string
            personalSpace:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    GroupArray:
      required:
      - limit
      - results
      - size
      - start
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Group'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
    Content:
      required:
      - status
      - type
      nullable: true
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          description: Can be "page", "blogpost", "attachment" or "content"
          example: example_value
        status:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        space:
          $ref: '#/components/schemas/Space'
        history:
          $ref: '#/components/schemas/ContentHistory'
        version:
          $ref: '#/components/schemas/Version'
        ancestors:
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/Content'
          example: []
        operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationCheckResult'
          example: []
        children:
          $ref: '#/components/schemas/ContentChildren'
        childTypes:
          $ref: '#/components/schemas/ContentChildType'
        descendants:
          $ref: '#/components/schemas/ContentChildren'
        container:
          $ref: '#/components/schemas/Container'
        body:
          type: object
          properties:
            view:
              $ref: '#/components/schemas/ContentBody'
            export_view:
              $ref: '#/components/schemas/ContentBody'
            styled_view:
              $ref: '#/components/schemas/ContentBody'
            storage:
              $ref: '#/components/schemas/ContentBody'
            wiki:
              $ref: '#/components/schemas/ContentBody'
            editor:
              $ref: '#/components/schemas/ContentBody'
            editor2:
              $ref: '#/components/schemas/ContentBody'
            anonymous_export_view:
              $ref: '#/components/schemas/ContentBody'
            atlas_doc_format:
              $ref: '#/components/schemas/ContentBody'
            dynamic:
              $ref: '#/components/schemas/ContentBody'
            raw:
              $ref: '#/components/schemas/ContentBody'
            _expandable:
              type: object
              properties:
                editor:
                  type: string
                view:
                  type: string
                export_view:
                  type: string
                styled_view:
                  type: string
                storage:
                  type: string
                editor2:
                  type: string
                anonymous_export_view:
                  type: string
                atlas_doc_format:
                  type: string
                wiki:
                  type: string
                dynamic:
                  type: string
                raw:
                  type: string
          example: example_value
        restrictions:
          type: object
          properties:
            read:
              $ref: '#/components/schemas/ContentRestriction'
            update:
              $ref: '#/components/schemas/ContentRestriction'
            _expandable:
              type: object
              properties:
                read:
                  type: string
                update:
                  type: string
            _links:
              $ref: '#/components/schemas/GenericLinks'
          example: example_value
        metadata:
          $ref: '#/components/schemas/ContentMetadata'
        macroRenderedOutput:
          type: object
          additionalProperties:
            type: object
          example: example_value
        extensions:
          type: object
          example: example_value
        _expandable:
          type: object
          properties:
            childTypes:
              type: string
            container:
              type: string
            metadata:
              type: string
            operations:
              type: string
            children:
              type: string
            restrictions:
              type: string
            history:
              type: string
            ancestors:
              type: string
            body:
              type: string
            version:
              type: string
            descendants:
              type: string
            space:
              type: string
            extensions:
              type: string
            schedulePublishDate:
              type: string
            schedulePublishInfo:
              type: string
            macroRenderedOutput:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
      description: Base object for all content types.
    GenericUserName:
      type: string
      nullable: true
      description: 'This property is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
    SpaceSettings:
      nullable: true
      required:
      - _links
      - routeOverrideEnabled
      type: object
      properties:
        routeOverrideEnabled:
          type: boolean
          description: 'Defines whether an override for the space home should be used. This is

            used in conjunction with a space theme provided by an app. For

            example, if this property is set to true, a theme can display a page

            other than the space homepage when users visit the root URL for a

            space. This property allows apps to provide content-only theming

            without overriding the space home.'
          example: true
        editor:
          required:
          - page
          - blogpost
          - default
          type: object
          properties:
            page:
              type: string
            blogpost:
              type: string
            default:
              type: string
          example: example_value
        spaceKey:
          type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
  examples:
    user_2:
      links:
        self:
          href: https://api.bitbucket.org/2.0/users/example-user
        html:
          href: https://bitbucket.org/example-user
        avatar:
          href: https://avatar-management.example.com/avatar/123
[...]
