openapi: 3.1.0
info:
  title: Atlassian Admin Account Get API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Get
paths:
  /addon/linkers:
    parameters: []
    get:
      tags:
      - Get
      description: 'Gets a list of all [linkers](/cloud/bitbucket/modules/linker/)

        for the authenticated application.'
      summary: Atlassian Get Addon Linkers
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: getAddonLinkers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /addon/linkers/{linker_key}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: Gets a [linker](/cloud/bitbucket/modules/linker/) specified by `linker_key` for the authenticated application.
      summary: Atlassian Get Addon Linkers Key
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: getAddonLinkersLinkerKey
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /addon/linkers/{linker_key}/values:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: 'Gets a list of all [linker](/cloud/bitbucket/modules/linker/) values for the

        specified linker of the authenticated application.


        A linker value lets applications supply values to modify its regular expression.


        The base regular expression must use a Bitbucket-specific match group `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this pattern.


        [Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)'
      summary: Atlassian Get Addon Linkers Key Values
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: getAddonLinkersLinkerKeyValues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /addon/linkers/{linker_key}/values/{value_id}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    - name: value_id
      in: path
      description: The numeric ID of the linker value.
      required: true
      schema:
        type: integer
    get:
      tags:
      - Get
      description: 'Get a single [linker](/cloud/bitbucket/modules/linker/) value

        of the authenticated application.'
      summary: Atlassian Get Addon Linkers Key Values Value Id
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: getAddonLinkersLinkerKeyValuesValueId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: 'The Get Pull Request operation retrieves detailed information about a specific pull request within a Bitbucket repository by making a GET request to the endpoint /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}. This API call requires three path parameters: the workspace identifier, the repository slug, and the unique pull request ID. When invoked, it returns comprehensive data about the specified pull request, including its title, description, source and destination branches, author information, creation and update timestamps, current state (open, merged, declined), reviewer details, approval status, merge commit information if applicable, and associated metadata such as task counts and comment statistics. This operation is commonly used by developers and tools to inspect pull request details, monitor review progress, and integrate pull request workflows into CI/CD pipelines or project management systems.'
      summary: Atlassian Get Pull Request
      responses:
        '200':
          description: The pull request object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository or pull request does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API endpoint retrieves a specific comment from a pull request in a Bitbucket repository. By providing the workspace identifier, repository slug, pull request ID, and comment ID in the URL path, you can fetch detailed information about an individual comment, including its content, author, creation timestamp, and any associated metadata. This is useful when you need to access or display a particular comment without retrieving all comments on the pull request, making it more efficient for targeted comment operations such as displaying comment details, implementing deep linking to specific comments, or performing comment-specific actions in your application.
      summary: Atlassian Get Comment on Pull Request
      responses:
        '200':
          description: The comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getCommentOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/diffstat:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: 'This API endpoint retrieves the diffstat for a specific pull request in a Bitbucket repository, providing statistical information about the changes introduced by the pull request. It requires three path parameters: the workspace identifier, the repository slug, and the pull request ID. When called, it returns a summary of file modifications including the number of lines added, removed, and modified for each file affected by the pull request, which helps developers quickly understand the scope and impact of the proposed changes without reviewing the full diff.'
      summary: Atlassian Get the Diff Stat for Pull Request
      responses:
        '302':
          description: 'Redirects to the [repository diffstat](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-diffstat-spec-get) with

            the revspec that corresponds to pull request.

            '
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getTheDiffStatForPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/merge/task-status/{task_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: ID of the merge task
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This GET endpoint retrieves the current status of a merge task for a specific pull request in a Bitbucket repository. By providing the workspace identifier, repository slug, pull request ID, and task ID in the URL path, users can poll this endpoint to monitor the progress of an asynchronous merge operation. The response typically includes information about whether the merge task is pending, in progress, completed successfully, or has failed, along with any relevant error messages or completion details. This is particularly useful for tracking long-running merge operations or implementing automated workflows that need to wait for merge completion before proceeding with subsequent actions.
      summary: Atlassian Get the Merge Task Status for Pull Request
      responses:
        '200':
          description: Returns a task status if the merge is either pending or successful, and if it is successful, a pull request
        '400':
          description: If the provided task ID does not relate to this pull request, or if something went wrong during the merge operation
        '403':
          description: The user making the request does not have permission to the repo and is different from the user who queued the task
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getTheMergeTaskStatusForPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/patch:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: 'The Atlassian Bitbucket Pull Requests API endpoint `/repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/patch` using the GET method retrieves the raw patch file representation of a specific pull request, which contains the unified diff format showing all code changes between the source and destination branches. This endpoint requires three path parameters: the workspace identifier, the repository slug, and the pull request ID, and returns the patch in text format that can be applied using standard patch utilities or version control commands. The patch output includes metadata such as commit information, file modifications, additions, and deletions, making it useful for code review processes, automated testing pipelines, or applying changes across different repositories without performing a full merge operation.'
      summary: Atlassian Get the Patch for Pull Request
      responses:
        '302':
          description: 'Redirects to the [repository patch](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-patch-spec-get) with

            the revspec that corresponds to pull request.

            '
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getThePatchForPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks/{task_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: The ID of the task.
      required: true
      schema:
        type: integer
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: The Get Task On Pull Request operation retrieves detailed information about a specific task associated with a pull request in a Bitbucket repository. By providing the workspace identifier, repository slug, pull request ID, and task ID in the endpoint path, this GET request returns the task's complete details including its content, status, creation date, assignee information, and any related metadata. This endpoint is useful for tracking individual tasks within a pull request's review process, allowing developers and team members to monitor task completion, view task descriptions, and understand task-specific requirements without having to fetch all tasks associated with the pull request.
      summary: Atlassian Get Task on Pull Request
      responses:
        '200':
          description: The task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getTaskOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pullrequest_id}/properties/{app_key}/{property_name}:
    get:
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
              examples:
                application-property:
                  $ref: '#/components/examples/application-property'
      operationId: getPullRequestApplicationProperty
      summary: Atlassian Get Pull Request Application Property
      description: This API endpoint retrieves a specific application property value associated with a pull request in a Bitbucket repository, identified by the workspace, repository slug, pull request ID, application key, and property name parameters in the URL path. Application properties allow third-party apps and integrations to store custom metadata or configuration data against individual pull requests, enabling extended functionality beyond Bitbucket's native features. The GET operation returns the stored property value for the specified property name under the given app key, allowing applications to retrieve their previously stored data for use in workflows, automation, or custom UI elements related to the pull request.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Get
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves detailed information about a specific Bitbucket repository within a workspace by providing the workspace identifier and repository slug as path parameters. When you make a GET request to this endpoint, it returns comprehensive metadata about the repository including its name, description, visibility settings (public or private), creation date, size, language, fork information, owner details, and various URLs for accessing the repository through different protocols. This is useful for applications that need to display repository information, verify repository existence, check permissions, or gather data about a repository before performing other operations on it.
      summary: Atlassian Get Repository
      responses:
        '200':
          description: The repository object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
              examples:
                repository:
                  $ref: '#/components/examples/repository'
        '403':
          description: If the repository is private and the authenticated user does not have access to it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If no repository exists at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/branch-restrictions/{id}:
    parameters:
    - name: id
      in: path
      description: The restriction rule's id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: The GET operation on the /repositories/{workspace}/{repo_slug}/branch-restrictions/{id} endpoint in the Atlassian Bitbucket Repositories API retrieves detailed information about a specific branch restriction rule within a repository. By providing the workspace identifier, repository slug, and the unique ID of the branch restriction, this operation returns the complete configuration of that particular rule, including its type (such as requiring pull request approvals, restricting pushes, or enforcing merge checks), the branch pattern it applies to, the users or groups it affects, and any associated permissions or conditions. This endpoint is useful for administrators and developers who need to audit existing branch protection settings, verify security policies, or programmatically inspect repository governance rules before making modifications.
      summary: Atlassian Get Branch Restriction Rule
      responses:
        '200':
          description: The branch restriction rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branchrestriction'
              examples:
                branch-restriction_2:
                  $ref: '#/components/examples/branch-restriction_2'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or branch restriction id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: getBranchRestrictionRule
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/branching-model:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves the branching model configuration for a specific Bitbucket repository within a given workspace. By making a GET request to the endpoint with the appropriate workspace identifier and repository slug, it returns details about the repository's branching strategy, including information about production, development, and feature branch configurations, as well as any custom branch prefixes and patterns that have been defined. This is particularly useful for understanding how a team has structured their Git workflow, whether they're using Git Flow, trunk-based development, or a custom branching strategy, and helps developers and automation tools align with the repository's established branching conventions.
      summary: Atlassian Get the Branching Model for Repository
      responses:
        '200':
          description: The branching model object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model'
              examples:
                branching-model_2:
                  $ref: '#/components/examples/branching-model_2'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have read access to the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getTheBranchingModelForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/branching-model/settings:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves the branching model configuration settings for a specific repository within an Atlassian Bitbucket workspace. By making a GET request to the endpoint with the workspace identifier and repository slug as path parameters, users can access the repository's configured branching strategy, which may include settings for development branches, production branches, branch prefixes, and other workflow-related configurations that govern how branches are created and managed within that repository. This information is useful for understanding the repository's branching conventions and automating branch creation processes according to the established model.
      summary: Atlassian Get the Branching Model Config for Repository
      responses:
        '200':
          description: The branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model_settings'
              examples:
                branching-model-settings_2:
                  $ref: '#/components/examples/branching-model-settings_2'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: getTheBranchingModelConfigForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves detailed information about a specific commit in a Bitbucket repository by making a GET request to the endpoint with the workspace identifier, repository slug, and commit hash as path parameters. It returns comprehensive commit data including the commit message, author information, timestamp, changed files, diff statistics, parent commits, and any associated metadata. This endpoint is useful for examining the details of individual commits, auditing code changes, building commit history visualizations, or integrating commit information into external tools and workflows.
      summary: Atlassian Get Commit
      responses:
        '200':
          description: The commit object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit'
              examples:
                commit_2:
                  $ref: '#/components/examples/commit_2'
        '404':
          description: If the specified commit or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API endpoint retrieves a specific comment on a commit within a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, and comment ID in the request path, users can fetch detailed information about a particular comment that was made on a commit, including the comment content, author information, timestamps, and any associated metadata. This is useful for applications that need to display, process, or analyze individual commit comments, such as code review tools, notification systems, or audit logs that track discussion and feedback on specific code changes.
      summary: Atlassian Get Commit Comment
      responses:
        '200':
          description: The commit comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit_comment'
              examples:
                commit-comment_2:
                  $ref: '#/components/examples/commit-comment_2'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}:
    get:
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
              examples:
                application-property:
                  $ref: '#/components/examples/application-property_3'
      operationId: getCommitApplicationProperty
      summary: Atlassian Get Commit Application Property
      description: This GET operation retrieves a specific application property associated with a commit in a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, application key, and property name in the URL path, the API returns the value of the custom property that was previously set on that commit by a specific application. This allows applications to store and retrieve metadata or custom attributes tied to individual commits, enabling features like tracking deployment status, code review approvals, or other application-specific information linked to particular commits in the repository's history.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Get
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}:
    get:
      tags:
      - Get
      description: The Get Report operation in the Atlassian Bitbucket Repositories API retrieves details of a specific report associated with a commit in a repository. By providing the workspace identifier, repository slug, commit hash, and report ID as path parameters, this endpoint returns comprehensive information about a particular report that has been created for the specified commit. Reports are typically used to provide feedback on code quality, test results, security scans, or other automated checks that run as part of a CI/CD pipeline. The response includes the report's status, title, description, reporter details, result summary, and any additional metadata associated with the report, allowing developers and automated systems to programmatically access and review commit-level analysis results within their Bitbucket workflows.
      summary: Atlassian Get Report
      operationId: getReport
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report'
              examples:
                commit-report_2:
                  $ref: '#/components/examples/commit-report_2'
        '404':
          description: The report with the given ID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations/{annotationId}:
    get:
      tags:
      - Get
      description: This API operation retrieves a specific annotation associated with a code insights report for a particular commit in a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, report ID, and annotation ID in the URL path, users can fetch detailed information about a single annotation that was previously created for code quality, security findings, or other automated analysis results. The annotation typically contains metadata such as the file path, line number, severity level, and description of an issue or finding detected in the code at that specific commit point.
      summary: Atlassian Get an Annotation
      operationId: getAnAnnotation
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      - name: annotationId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report_annotation'
              examples:
                report-annotation:
                  $ref: '#/components/examples/report-annotation'
        '404':
          description: The annotation with the given ID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/statuses/build/{key}:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: key
      in: path
      description: The build status' unique key
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: Retrieves a specific build status object associated with a commit in a Bitbucket repository, identified by a unique key. This endpoint allows you to query the detailed status information of a particular build or CI/CD pipeline execution that was reported for a given commit. You must provide the workspace identifier, repository slug, commit hash, and the unique key of the build status you want to retrieve. The response includes comprehensive details about the build execution such as its state (successful, failed, in progress), description, URL to view the build results, and timestamp information. This is particularly useful for integrating with external CI/CD systems, monitoring build pipelines, or displaying build status information in custom dashboards and applications.
      summary: Atlassian Get Build Status for Commit
      responses:
        '200':
          description: The build status object with the specified key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository, commit, or build status key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/components/{component_id}:
    parameters:
    - name: component_id
      in: path
      description: The component's id
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves detailed information about a specific component within a Bitbucket repository's issue tracking system. By providing the workspace identifier, repository slug, and component ID in the endpoint path, users can fetch metadata and configuration details for that particular component, which is typically used to categorize and organize issues within the repository. Components help teams structure their issue tracking by grouping related issues together, such as by feature area, module, or subsystem, and this GET request returns the properties and settings associated with the specified component.
      summary: Atlassian Get Component for Issues
      responses:
        '200':
          description: The specified component object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/component'
              examples:
                component:
                  $ref: '#/components/examples/component'
        '404':
          description: The specified repository or component does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getComponentForIssues
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/default-reviewers/{target_username}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: target_username
      in: path
      description: 'This can either be the username or the UUID of the default reviewer,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: Retrieves information about a specific default reviewer for a Bitbucket repository within a workspace. This GET endpoint allows you to fetch details of a user who has been designated as a default reviewer for pull requests in the specified repository by providing the workspace identifier, repository slug, and the target username of the reviewer. The operation returns the default reviewer's configuration and user details, enabling you to verify reviewer assignments and understand the current code review workflow settings for the repository.
      summary: Atlassian Get Default Reviewer
      responses:
        '200':
          description: The specified user is a default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
              examples:
                account:
                  $ref: '#/components/examples/account'
        '403':
          description: If the authenticated user does not have access to check if the specified user is a default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user does not exist or is not a default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getDefaultReviewer
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deploy-keys/{key_id}:
    parameters:
    - name: key_id
      in: path
      description: The key ID matching the deploy key.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves detailed information about a specific deploy key that has been added to a Bitbucket repository. By providing the workspace identifier, repository slug, and the unique key ID, you can fetch the complete configuration and metadata associated with that particular SSH deploy key, including its label, the actual public key content, creation timestamp, and access permissions. Deploy keys are typically used to grant read-only or read-write access to repositories for automated deployment systems and CI/CD pipelines without requiring a user account, and this endpoint allows administrators to verify and audit the deploy keys currently configured for their repository.
      summary: Atlassian Get Repository Deploy Key
      responses:
        '200':
          description: Deploy key matching the key ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy_key'
              examples:
                deploy-key_2:
                  $ref: '#/components/examples/deploy-key_2'
        '403':
          description: If the specified user or repository is not accessible to the current user
        '404':
          description: If the specified user or repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: getRepositoryDeployKey
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deployments/{deployment_uuid}:
    get:
      tags:
      - Get
      description: This GET operation retrieves detailed information about a specific deployment in a Bitbucket repository by providing the workspace identifier, repository slug, and unique deployment UUID in the endpoint path. It allows users to fetch comprehensive deployment data including deployment status, environment details, timestamps, and associated metadata for a particular deployment instance within the specified repository, enabling monitoring and tracking of deployment activities across different environments in the Bitbucket deployment pipeline.
      summary: Atlassian Get Deployment
      operationId: getDeployment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: deployment_uuid
        description: The deployment UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
              examples:
                deployment:
                  $ref: '#/components/examples/deployment'
        '404':
          description: No account, repository or deployment with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/downloads/{filename}:
    parameters:
    - name: filename
      in: path
      description: Name of the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: 'The Atlassian Bitbucket Repositories API endpoint `/repositories/{workspace}/{repo_slug}/downloads/{filename}` using the GET method retrieves a redirect link to download a specific file artifact that has been uploaded to a repository''s downloads section. This operation requires three path parameters: the workspace ID or slug that owns the repository, the repository slug identifier, and the exact filename of the download artifact you want to access. When called, instead of returning the file content directly, the API responds with a 302 redirect to the actual download URL where the file is stored, allowing clients to fetch the artifact from Bitbucket''s storage infrastructure. This is particularly useful for accessing release binaries, documentation archives, or other supplementary files associated with a repository that aren''t part of the source code itself.'
      summary: Atlassian Get Download Artifact Link
      responses:
        '302':
          description: Redirects to the url of the specified download artifact.
        '403':
          description: User is not authorized to read from the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified download artifact does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      operationId: getDownloadArtifactLink
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/effective-branching-model:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves the effective branching model currently applied to a specific Bitbucket repository within a given workspace. By providing the workspace identifier and repository slug as path parameters, it returns the active branching model configuration that governs how branches are organized and managed in that repository, including details about production branches, development branches, and any branch prefixes or patterns that are in use. This is particularly useful for understanding the workflow strategy implemented for the repository, whether it follows Git Flow, trunk-based development, or a custom branching strategy, and helps developers align their work with the established branch management conventions.
      summary: Atlassian Get the Effective, or Currently Applied, Branching Model for Repository
      responses:
        '200':
          description: The effective branching model object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/effective_repo_branching_model'
              examples:
                effective-repository-branching-model:
                  $ref: '#/components/examples/effective-repository-branching-model'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have read access to the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repositoryBitbucket
      operationId: getTheEffective,OrCurrentlyApplied,BranchingModelForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/environments/{environment_uuid}:
    get:
      tags:
      - Get
      summary: Atlassian Get an Environment
      description: Retrieves detailed information about a specific deployment environment within a Bitbucket repository. This endpoint requires the workspace identifier, repository slug, and the unique UUID of the environment you want to retrieve. The operation returns comprehensive details about the environment including its name, type, environment variables, deployment restrictions, and any associated configuration. This is useful for auditing environment settings, verifying deployment configurations, or integrating environment data into external tools and workflows. Access to this endpoint typically requires appropriate repository permissions and authentication credentials.
      operationId: getAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment_environment'
              examples:
                deployment-environment_2:
                  $ref: '#/components/examples/deployment-environment_2'
        '404':
          description: No account, repository or environment with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/hooks/{uid}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: uid
      in: path
      description: Installed webhook's ID
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves details about a specific webhook configured for a Bitbucket repository. By providing the workspace identifier, repository slug, and unique webhook ID (uid) in the endpoint path, users can fetch comprehensive information about that particular webhook including its URL, events it subscribes to, configuration settings, and current status. This GET request is useful for inspecting existing webhook configurations, verifying webhook properties, or retrieving webhook details before performing update or delete operations. The response returns a complete webhook object containing all its attributes and settings as configured for the specified repository.
      summary: Atlassian Get Webhook for Repository
      responses:
        '200':
          description: The webhook subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
              examples:
                webhook-subscription_2:
                  $ref: '#/components/examples/webhook-subscription_2'
        '404':
          description: If the webhook or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: getWebhookForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This GET operation retrieves detailed information about a specific issue from a Bitbucket repository by providing the workspace identifier, repository slug, and issue ID as path parameters. It returns comprehensive data about the requested issue including its title, description, status, priority, assignee, reporter, creation and update timestamps, comments, and other metadata associated with the issue. This endpoint is useful for developers and project managers who need to fetch complete details of a particular issue for display in dashboards, integration with third-party tools, or programmatic issue tracking and management within the Atlassian Bitbucket ecosystem.
      summary: Atlassian Get an Issue
      responses:
        '200':
          description: The issue object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
              examples:
                issue_2:
                  $ref: '#/components/examples/issue_2'
        '403':
          description: When the authenticated user isn't authorized to access the issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '410':
          description: The specified issue is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/attachments/{path}:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves a specific attachment file associated with an issue in a Bitbucket repository by providing the workspace identifier, repository slug, issue ID, and the path to the attachment file. When called, it returns the binary content of the requested attachment, allowing users to download or access files that have been previously uploaded to an issue, such as screenshots, logs, or other supporting documentation that help describe or troubleshoot the reported issue.
      summary: Atlassian Get Attachment for an Issue
      responses:
        '302':
          description: A redirect to the file's contents
          headers:
            Location:
              schema:
                type: string
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getAttachmentForAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/changes/{change_id}:
    parameters:
    - name: change_id
      in: path
      description: The issue change id
      required: true
      schema:
        type: string
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This GET endpoint retrieves a specific change object associated with an issue in a Bitbucket repository, allowing users to examine the detailed history of modifications made to a particular issue. By providing the workspace identifier, repository slug, issue ID, and change ID in the URL path, the API returns comprehensive information about a single change event, including what was modified, when the change occurred, and who made the modification. This is particularly useful for tracking issue evolution, auditing purposes, or understanding the context of specific updates made to issues within the repository's issue tracking system.
      summary: Atlassian Get Issue Change Object
      responses:
        '200':
          description: The specified issue change object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_change'
              examples:
                issue-change_2:
                  $ref: '#/components/examples/issue-change_2'
        '404':
          description: The specified repository or issue change does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getIssueChangeObject
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves a specific comment from an issue within a Bitbucket repository by providing the workspace identifier, repository slug, issue ID, and comment ID in the endpoint path. It returns detailed information about the comment including its content, author, creation date, modification history, and any associated metadata. This GET request is useful for accessing individual comment details without fetching all comments on an issue, enabling efficient retrieval of specific discussion threads or responses within the repository's issue tracking system.
      summary: Atlassian Get Comment on an Issue
      responses:
        '200':
          description: The issue comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_comment'
              examples:
                issue-comment_2:
                  $ref: '#/components/examples/issue-comment_2'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/merge-base/{revspec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: revspec
      in: path
      description: 'A commit range using double dot notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API endpoint retrieves the common ancestor commit between two specified commits in a Bitbucket repository. By providing the workspace identifier, repository slug, and a revspec parameter that identifies two commits (typically in the format "commit1...commit2"), the operation returns information about the most recent commit that exists in both commits' histories. This is particularly useful for understanding the branching point between two lines of development, determining what changes have diverged between branches, or preparing for merge operations by identifying the base commit from which both branches originated.
      summary: Atlassian Get the Common Ancestor Between Two Commits
      responses:
        '200':
          description: The merge base of the provided spec.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit'
              examples:
                commit_2:
                  $ref: '#/components/examples/commit_2'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to any of the repositories specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or ref in the spec does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getTheCommonAncestorBetweenTwoCommits
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/milestones/{milestone_id}:
    parameters:
    - name: milestone_id
      in: path
      description: The milestone's id
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This GET operation retrieves detailed information about a specific milestone within a Bitbucket repository by providing the workspace identifier, repository slug, and milestone ID as path parameters. The endpoint returns comprehensive data about the milestone including its name, description, state (open or closed), due date, and associated metadata such as creation and update timestamps. This allows developers to programmatically access milestone information for project tracking, reporting, or integration with external project management tools, enabling them to monitor progress and deadlines for features or releases defined within their Bitbucket repositories.
      summary: Atlassian Get Milestone
      responses:
        '200':
          description: The specified milestone object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/milestone'
              examples:
                milestone:
                  $ref: '#/components/examples/milestone'
        '404':
          description: The specified repository or milestone does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getMilestone
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/patch/{spec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: spec
      in: path
      description: 'A commit SHA (e.g. `3a8b42`) or a commit range using double dot

        notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API endpoint retrieves a raw unified diff patch comparing two commits within a specific Bitbucket repository. By providing the workspace identifier, repository slug, and a commit specification (typically in the format "commit1..commit2"), the endpoint returns the patch content showing the line-by-line differences between the two commits. This is particularly useful for code review processes, examining specific changes between versions, or programmatically analyzing modifications made to a codebase. The patch follows the standard unified diff format, making it compatible with various version control tools and patch application utilities.
      summary: Atlassian Get Patch for Two Commits
      responses:
        '200':
          description: The raw patches
        '555':
          description: 'If the diff was too large and timed out.


            Since this endpoint does not employ any form of pagination, but

            instead returns the diff as a single document, it can run into

            trouble on very large diffs. If Bitbucket times out in cases

            like these, a 555 status code is returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getPatchForTwoCommits
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/permissions-config/groups/{group_slug}:
    parameters:
    - name: group_slug
      in: path
      description: Slug of the requested group.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API operation retrieves explicit permission settings assigned to a specific group for a given repository in Bitbucket. By providing the workspace identifier, repository slug, and group slug as path parameters, it returns detailed information about the permission level that has been directly granted to that group for accessing and managing the specified repository. This is useful for administrators who need to audit or verify group-level access controls, as it shows only explicitly configured permissions rather than inherited or default permissions. The response typically includes the group's identifier, the permission level (such as read, write, or admin), and potentially additional metadata about when and how the permission was assigned.
      summary: Atlassian Get an Explicit Group Permission for Repository
      responses:
        '200':
          description: Group permission for group slug and repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_group_permission'
              examples:
                repository-group-permission:
                  $ref: '#/components/examples/repository-group-permission'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The given user, workspace, and/or repository could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - read:user:bitbucket
      operationId: getAnExplicitGroupPermissionForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/permissions-config/users/{selected_user_id}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: selected_user_id
      in: path
      description: 'This can either be the UUID of the account, surrounded by curly-braces, for

        example: `{account UUID}`, OR an Atlassian Account ID.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Get
      description: This API endpoint retrieves the explicit permission settings for a specific user on a particular Bitbucket repository within a workspace. By providing the workspace identifier, repository slug, and the selected user's ID in the path parameters, it returns detailed information about what level of access (such as read, write, or admin) has been directly granted to that user for the specified repository. This is useful for auditing user permissions, managing repository access control, and understanding who has been explicitly granted permissions rather than inheriting them through group memberships or workspace-level settings.
      summary: Atlassian Get an Explicit User Permission for Repository
      responses:
        '200':
          description: Explicit user permission for user and repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository_user_permission'
              examples:
                repository-user-permission:
                  $ref: '#/components/examples/repository-user-permission'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or both of the workspace and repository doesn't exist for the given identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - read:user:bitbucket
      operationId: getAnExplicitUserPermissionForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines-config/caches/{cache_uuid}/content-uri:
    get:
      tags:
      - Get
      summary: Atlassian Get Cache Content Uri
      description: This API operation retrieves a temporary content URI for accessing a specific pipeline cache in a Bitbucket repository. By providing the workspace ID, repository slug, and cache UUID as path parameters, you can obtain a pre-signed URL that allows direct access to download the cached content. This is useful for retrieving build artifacts, dependencies, or other cached data that was stored during previous pipeline executions, enabling faster build times by reusing previously downloaded or generated files. The returned URI is typically time-limited and provides secure, temporary access to the cache content without requiring additional authentication once generated.
      operationId: getCacheContentUri
      parameters:
      - name: workspace
        description: The account.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: cache_uuid
        description: The UUID of the cache.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The cache content uri.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_cache_content_uri'
              examples:
                pipeline-cache-content-uri:
                  $ref: '#/components/examples/pipeline-cache-content-uri'
        '404':
          description: The workspace, repository or cache_uuid with given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines/{pipeline_uuid}:
    get:
      tags:
      - Get
      summary: Atlassian Get Pipeline
      description: Retrieves detailed information about a specific pipeline execution in a Bitbucket repository. This endpoint requires the workspace slug, repository slug, and the unique pipeline UUID to fetch comprehensive data about a particular pipeline run, including its current status, configuration, build number, duration, creator information, and associated commit details. The response provides insights into the pipeline's execution history and can be used to monitor CI/CD processes, track build progress, or integrate pipeline status into external tools and dashboards.
      operationId: getPipeline
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: pipeline_uuid
        description: The pipeline UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The pipeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline'
              examples:
                pipeline_2:
                  $ref: '#/components/examples/pipeline_2'
        '404':
          description: No account, repository or pipeline with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines/{pipeline_uuid}/steps/{step_uuid}:
    get:
      tags:
      - Get
      summary: Atlassian Get Step of Pipeline
[...]
