openapi: 3.1.0
info:
  title: Atlassian Admin Account Publishes API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Publishes
paths:
  /wiki/rest/api/content/{id}/state:
    put:
      tags:
      - Publishes
      summary: Atlassian Set the Content State of Content and Publishes New Version of the Content
      description: This API operation allows you to set or update the content state of a specific Confluence page or blog post by its ID, which triggers the creation and publication of a new version of that content. When invoked via a PUT request to the endpoint, it accepts the content ID as a path parameter and the desired state information in the request body, then applies that state to the content item while automatically incrementing its version number. This is particularly useful for implementing workflow states, approval processes, or status tracking within Confluence content, as it not only changes the state metadata but also ensures the change is captured as a new version in the content's history, maintaining a complete audit trail of state transitions.
      operationId: setTheContentStateOfContentAndPublishesNewVersionOfTheContent
      requestBody:
        description: Content state fields for state. Pass in id for an existing state, or new name and color for best matching existing state, or new state if allowed in space.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentStateRestInput'
        required: true
      parameters:
      - name: id
        in: path
        description: The Id of the content whose content state is to be set.
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of content onto which state will be placed. If draft, then draft state will change.

          If current, state will be placed onto a new version of the content with same body as previous version.'
        schema:
          type: string
          enum:
          - current
          - draft
      responses:
        '200':
          description: Returned if content state is set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentStateResponse'
        '400':
          description: 'Invalid Name/Color, non-existent id of content state, or type of state desired is not allowed.

            Name must be less than or exactly 20 characters. Color must be a valid hex string.

            Status must be in [draft,current].'
        '401':
          description: Returned if the authentication credentials are incorrect or missing from the request.
        '403':
          description: Returned if user does not have content edit permission.
        '404':
          description: Returned if the content with given id can not be found.
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-content
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-content
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - write:content:confluence
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: WRITE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Publishes
      summary: Atlassian Removes the Content State of Content and Publishes New Version
      description: This API operation removes the current content state from a specified Confluence page or blog post and automatically publishes a new version of that content. By sending a DELETE request to the endpoint with the content ID, the system clears any workflow or review state that was previously applied to the content item, essentially resetting it to a stateless condition. This action is irreversible and creates a new version in the content's history, allowing teams to track when state information was removed while ensuring the content returns to a neutral status that can be freely edited or assigned a new state as needed.
      operationId: removesTheContentStateOfContentAndPublishesNewVersion
      parameters:
      - name: id
        in: path
        description: The Id of the content whose content state is to be set.
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: status of content state from which to delete state. Can be draft or archived
        schema:
          type: string
          enum:
          - current
          - draft
      responses:
        '200':
          description: Returned if content state is removed from content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentStateResponse'
        '401':
          description: Returned if the authentication credentials are incorrect or missing from the request.
        '403':
          description: Returned if user does not have content edit permission.
        '404':
          description: Returned if the content with given id can not be found.
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-content
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-content
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - write:content:confluence
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: WRITE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ContentStateResponse:
      type: object
      properties:
        contentState:
          $ref: '#/components/schemas/ContentState'
          description: Null or content state
        lastUpdated:
          type: string
          description: Timestamp of last publish event where content state changed
          example: example_value
    ContentStateRestInput:
      type: object
      properties:
        name:
          type: string
          description: Name of content state. Maximum 20 characters.
          example: Example Title
        color:
          type: string
          description: "Color of state. Must be in 6 digit hex form (#FFFFFF). The default colors offered in the UI are:\n #ff7452 (red),\n #2684ff (blue),\n #ffc400 (yellow),\n #57d9a3 (green), and\n #8777d9 (purple)"
          example: example_value
        id:
          type: integer
          description: id of state. This can be 0,1, or 2 if you wish to specify a default space state.
          format: int64
          example: abc123
    ContentState:
      required:
      - id
      - name
      - color
      type: object
      properties:
        id:
          type: integer
          description: identifier of content state. If 0, 1, or 2, this is a default space state
          format: int64
          example: abc123
        name:
          type: string
          description: name of content state.
          example: Example Title
        color:
          type: string
          description: hex string representing color of state
          example: example_value
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
