openapi: 3.1.0
info:
  title: Atlassian Admin Account Current API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Current
paths:
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/vote:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Current
      description: This GET endpoint checks whether the currently authenticated user has voted for a specific issue in a Bitbucket repository. By providing the workspace identifier, repository slug, and issue ID in the URL path, the API returns the voting status of the authenticated user for that particular issue. This operation is useful for applications that need to display voting state or manage user interactions with repository issues, allowing developers to determine if a user has already cast their vote before presenting voting options or updating the UI accordingly.
      summary: Atlassian Check if Current User Voted for an Issue
      responses:
        '204':
          description: If the authenticated user has not voted for this issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the authenticated user has not voted for this issue, or when the repo does not exist, or does not have an issue tracker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account
        - issue
      - basic: []
      - api_key: []
      operationId: checkIfCurrentUserVotedForAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/watch:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Current
      description: This GET endpoint allows you to check whether the currently authenticated user is watching a specific issue in a Bitbucket repository. By making a request to this endpoint with the workspace ID, repository slug, and issue ID, you'll receive a response indicating the watch status of the authenticated user for that particular issue. This is useful for applications that need to determine if a user has subscribed to receive notifications about updates, comments, or changes to a specific issue, enabling features like watch/unwatch toggles or displaying watch status indicators in the user interface.
      summary: Atlassian Check if Current User Is Watching Issue
      responses:
        '204':
          description: If the authenticated user is watching this issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the authenticated user is not watching this issue, or when the repo does not exist, or does not have an issue tracker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account
        - issue
      - basic: []
      - api_key: []
      operationId: checkIfCurrentUserIsWatchingIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/watch:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Current
      description: Used to check whether the authenticated user is watching a specific code snippet in a Bitbucket workspace. This endpoint accepts the workspace identifier and the encoded snippet ID as path parameters, returning the watch status for the current user. When called, it indicates if the user has subscribed to notifications for changes or updates to that particular snippet, helping users manage their snippet subscriptions and stay informed about modifications to code snippets they're interested in tracking.
      summary: Atlassian Check if the Current User Is Watching Snippet
      responses:
        '204':
          description: If the authenticated user is watching the snippet.
        '404':
          description: If the snippet does not exist, or if the authenticated user is not watching the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: checkIfTheCurrentUserIsWatchingSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /user:
    parameters: []
    get:
      tags:
      - Current
      description: The Atlassian Bitbucket User API's GET /user endpoint retrieves detailed information about the currently authenticated user making the request. This operation returns a user object containing profile data such as the Users display name, username, account ID, avatar URL, and other associated account details. Authentication is required to access this endpoint, typically using OAuth 2.0, Basic Authentication with app passwords, or personal access tokens. The response provides comprehensive information about the authenticated Users account, making it useful for applications that need to display user profile information, verify user identity, or customize the user experience based on the current Users account details.
      summary: Atlassian Get Current User
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
              examples:
                account:
                  $ref: '#/components/examples/account'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: getCurrentUser
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /user/emails:
    parameters: []
    get:
      tags:
      - Current
      description: This API operation retrieves all email addresses associated with the currently authenticated Bitbucket Users account. When invoked with a GET request to the /user/emails endpoint, it returns a collection of email addresses linked to the user, typically including details such as the email address itself, whether it's the primary email, and its verification status. This endpoint is useful for applications that need to access or display the Users registered email addresses, manage email preferences, or verify communication channels for the authenticated user within the Bitbucket platform.
      summary: Atlassian List Email Addresses for Current User
      responses:
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - email
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: listEmailAddressesForCurrentUser
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /user/emails/{email}:
    parameters:
    - name: email
      in: path
      description: Email address of the user.
      required: true
      schema:
        type: string
    get:
      tags:
      - Current
      description: This API operation retrieves information about a specific email address associated with the currently authenticated Bitbucket user. By making a GET request to the endpoint with a particular email address as a path parameter, users can verify whether that email belongs to their account and obtain related metadata such as confirmation status and whether it's set as the primary email. This is useful for applications that need to validate or manage email addresses linked to a Users Bitbucket account, allowing developers to programmatically check email ownership and configuration details without requiring manual inspection of account settings.
      summary: Atlassian Get an Email Address for Current User
      responses:
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - email
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: getAnEmailAddressForCurrentUser
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /user/permissions/workspaces:
    parameters: []
    get:
      tags:
      - Current
      description: This API operation retrieves a list of workspaces that the currently authenticated user has permissions to access in Atlassian Bitbucket. By making a GET request to the /user/permissions/workspaces endpoint, developers can programmatically discover which workspaces are available to the authenticated user based on their account permissions and access rights. This is particularly useful for applications that need to dynamically populate workspace selection interfaces, validate user access before performing operations, or build administrative tools that work across multiple Bitbucket workspaces. The endpoint returns workspace information including workspace identifiers, names, and the specific permission levels the user holds within each workspace.
      summary: Atlassian List Workspaces for the Current User
      responses:
        '200':
          description: All of the workspace memberships for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_workspace_memberships'
              examples:
                paginated-workspace-memberships:
                  $ref: '#/components/examples/paginated-workspace-memberships'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for details.'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property to sort results. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results)

          for details.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: listWorkspacesForTheCurrentUser
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/contentbody/convert/async/{id}:
    get:
      tags:
      - Current
      summary: Atlassian Get Asynchronously Converted Content Body From the Id or the Current Status of the Task
      description: This API endpoint retrieves the result of an asynchronous content body conversion operation in Atlassian Confluence using a unique task identifier. When content conversion is initiated asynchronously (such as converting between different markup formats like storage format, view format, or editor format), this GET operation allows you to check the current status of the conversion task and fetch the converted content once the operation is complete. The endpoint accepts the task ID as a path parameter and returns either the converted content body if the conversion has finished successfully, the current progress status if the task is still running, or an error message if the conversion failed. This is particularly useful for handling large or complex content conversions that may take significant time to process, allowing clients to poll for completion rather than blocking while waiting for the conversion to finish.
      operationId: getAsynchronouslyConvertedContentBodyFromTheIdOrTheCurrentStatusOfTheTask
      parameters:
      - name: id
        in: path
        description: The asyncId of the macro task to get the converted body.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returned if successfully found an async conversion task associated with the id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncContentBody'
        '400':
          description: Returned if the async id is invalid.
          content: {}
        '401':
          description: Returned if the request was not made by an anonymous user and user is not authenticated.
          content: {}
        '403':
          description: Returned if the requesting user is not the user who made the conversion request.
          content: {}
        '404':
          description: Returned if async macro conversion task cannot be found with the provided id.
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.all
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.all
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content.metadata:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-codegen-request-body-name: body
      x-atlassian-connect-scope: READ
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    paginated-workspace-memberships:
      size: 50
      page: 1
      pagelen: 10
      next: https://api.example.com/workspaces/memberships?page=2
      previous: https://api.example.com/workspaces/memberships?page=0
      values: []
    account:
      links:
        self:
          href: https://api.bitbucket.org/2.0/users/example_user
        avatar:
          href: https://bitbucket.org/account/example_user/avatar/
      created_on: '2024-01-15T14:30:00Z'
      display_name: Example User
      username: example_user
      uuid: '{a1b2c3d4-e5f6-7890-abcd-ef1234567890}'
  schemas:
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    workspace:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Workspace
        description: "A Bitbucket workspace.\n            Workspaces are used to organize repositories."
        properties:
          links:
            type: object
            properties:
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              members:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              owners:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              projects:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              repositories:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              snippets:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The workspace's immutable id.
          name:
            type: string
            description: The name of the workspace.
          slug:
            type: string
            description: The short label that identifies this workspace.
          is_private:
            type: boolean
            description: 'Indicates whether the workspace is publicly accessible, or whether it is

              private to the members and consequently only visible to members.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    paginated_workspace_memberships:
      type: object
      title: Paginated Workspace Memberships
      description: A paginated list of workspace memberships.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
          example: 10
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
          example: 10
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        values:
          type: array
          items:
            $ref: '#/components/schemas/workspace_membership'
          minItems: 0
          uniqueItems: true
          example: []
      additionalProperties: false
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
          example: https://www.example.com
        name:
          type: string
          example: Example Title
      additionalProperties: false
    AsyncContentBody:
      type: object
      properties:
        value:
          type: string
          example: example_value
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          example: view
        renderTaskId:
          type: string
          example: '500123'
        error:
          type: string
          example: example_value
        status:
          description: Rerunning is reserved for when the job is working, but there is a previous run's value in the cache. You may choose to continue polling, or use the cached value.
          type: string
          enum:
          - WORKING
          - QUEUED
          - FAILED
          - COMPLETED
          - RERUNNING
          example: WORKING
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
          example: []
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
          example: example_value
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    workspace_membership:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Workspace Membership
        description: "A Bitbucket workspace membership.\n            Links a user to a workspace."
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          user:
            $ref: '#/components/schemas/account'
          workspace:
            $ref: '#/components/schemas/workspace'
        additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
