openapi: 3.1.0
info:
  title: Atlassian Admin Account API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Account
paths:
  /teams/{username}/pipelines_config/variables:
    get:
      tags:
      - Account
      summary: Atlassian List Variables for an Account
      deprecated: true
      description: The List Variables for an Account operation in the Atlassian Bitbucket Teams API retrieves all pipeline variables configured at the account level for a specified team or workspace. By making a GET request to the `/teams/{username}/pipelines_config/variables` endpoint with the appropriate team username, developers can access a collection of environment variables that are available across all repositories within that account's Bitbucket Pipelines configuration. These variables typically include sensitive configuration data such as API keys, credentials, and deployment settings that are secured and reusable across multiple pipeline executions. The response returns details about each variable including its name, value (if not secured), UUID, and whether it is marked as secured or encrypted, allowing teams to audit and manage their pipeline configuration effectively.
      operationId: listVariablesForAnAccount
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The found account level variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pipeline_variables'
              examples:
                paginated-pipeline-variables:
                  $ref: '#/components/examples/paginated-pipeline-variables'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    paginated-pipeline-variables:
      page: 1
      values:
        uuid: 3c7a5c08-8b2e-4f9a-9d3e-1a2b3c4d5e6f
        key: API_KEY
        value: my-secret-value
        secured: true
      size: 42
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pipelines_config/variables?page=2
      previous: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pipelines_config/variables?page=0
  schemas:
    pipeline_variable:
      allOf:
      - $ref: '#/components/schemas/object'
      - additionalProperties: true
        type: object
        title: Pipeline Variable
        description: A Pipelines variable.
        properties:
          uuid:
            type: string
            description: The UUID identifying the variable.
          key:
            type: string
            description: The unique name of the variable.
          value:
            type: string
            description: The value of the variable. If the variable is secured, this will be empty.
          secured:
            type: boolean
            description: If true, this variable will be treated as secured. The value will never be exposed in the logs or the REST API.
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    paginated_pipeline_variables:
      type: object
      title: Paginated Pipeline Variables
      description: A paged list of variables.
      properties:
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          example: 10
        values:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/pipeline_variable'
          description: The values of the current page.
          example: []
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          example: 10
        next:
          type: string
          format: uri
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          example: https://www.example.com
        previous:
          type: string
          format: uri
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          example: https://www.example.com
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
