openapi: 3.1.0
info:
  title: Atlassian Admin Account Create API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Create
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation creates a new pull request in a specified Bitbucket repository within a given workspace. By sending a POST request to the endpoint with the workspace identifier and repository slug as path parameters, users can programmatically initiate a pull request that proposes merging changes from a source branch into a destination branch. The request typically requires a JSON payload containing essential details such as the title, description, source branch, destination branch, and optionally reviewers or other metadata. Upon successful creation, the API returns the newly created pull request object with its unique identifier and associated properties, enabling automated workflows for code review processes and integration with CI/CD pipelines or project management tools.
      summary: Atlassian Create Pull Request
      responses:
        '201':
          description: The newly created pull request.
          headers:
            Location:
              description: The URL of new newly created pull request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest'
        '400':
          description: If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest'
            examples:
              create-pull-request:
                $ref: '#/components/examples/create-pull-request'
        description: 'The new pull request.


          The request URL you POST to becomes the destination repository URL. For this reason, you must specify an explicit source repository in the request object if you want to pull from a different repository (fork).


          Since not all elements are required or even mutable, you only need to include the elements you want to initialize, such as the source branch and the title.'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: createPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: 'The Create Comment On Pull Request operation allows developers to add new comments to a specific pull request in a Bitbucket repository by sending a POST request to the endpoint /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments. This API call requires authentication and takes three path parameters: the workspace identifier, the repository slug, and the pull request ID. The request body must include the comment content, and optionally can specify properties like inline comment positioning (file path, line numbers) for code-specific feedback, parent comment ID for threaded replies, and anchor information. Upon successful execution, the API returns the newly created comment object with details including the comment ID, author information, creation timestamp, and the comment content. This operation is commonly used in code review workflows to facilitate collaboration and discussion among team members regarding code changes proposed in pull requests.'
      summary: Atlassian Create Comment on Pull Request
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The URL of the new comment
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest_comment'
            examples:
              create-comment-on-pull-request:
                $ref: '#/components/examples/create-comment-on-pull-request'
        description: The comment object.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: createCommentOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API endpoint allows you to create a new task on a specific pull request within a Bitbucket repository. By sending a POST request to /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks, you can add actionable items or to-do items that need to be completed as part of the pull request review process. You must specify the workspace (team or user account), repository slug, and pull request ID in the URL path, along with task details in the request body such as the task description and its associated content. This is useful for tracking specific review requirements, requested changes, or action items that reviewers or contributors need to address before the pull request can be merged.
      summary: Atlassian Create Task on Pull Request
      responses:
        '201':
          description: The newly created task.
          headers:
            Location:
              description: The URL of the new task
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A_pullrequest_comment_task'
        '400':
          description: There is a missing required field in the request or the task content is blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A_pullrequest_task_create'
            examples:
              pull-request-task-create:
                $ref: '#/components/examples/pull-request-task-create'
        description: The contents of the task
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: createTaskOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation creates a new repository within a specified workspace in Atlassian Bitbucket. By sending a POST request to the endpoint with the workspace identifier and desired repository slug as path parameters, users can programmatically initialize a new repository with configurable settings such as project assignment, description, privacy settings (public or private), and other repository-specific properties passed in the request body. The operation returns the newly created repository object including its UUID, full name, creation timestamp, and links to related resources, making it essential for automated repository provisioning and DevOps workflows that need to dynamically set up version control repositories without manual intervention through the Bitbucket web interface.
      summary: Atlassian Create Repository
      responses:
        '200':
          description: The newly created repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '400':
          description: If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repository'
            examples:
              repository:
                $ref: '#/components/examples/repository'
        description: The repository that is to be created. Note that most object elements are optional. Elements "owner" and "full_name" are ignored as the URL implies them.
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: createRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/branch-restrictions:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation creates a new branch restriction rule for a specific repository in Bitbucket Cloud, allowing workspace administrators to enforce policies on branches within a given repository. By sending a POST request to the endpoint with the workspace ID and repository slug as path parameters, users can define restrictions such as preventing force pushes, requiring pull request approvals, limiting who can merge or push to specific branches, or enforcing other branch protection policies. The request body typically includes details like the restriction type, the branch pattern to which the rule applies (using glob patterns or specific branch names), and the users or groups affected by the restriction. This functionality is essential for maintaining code quality and implementing workflow controls in collaborative development environments, ensuring that critical branches like main or production are protected from unauthorized or potentially harmful changes.
      summary: Atlassian Create Branch Restriction Rule
      responses:
        '201':
          description: A paginated list of branch restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branchrestriction'
              examples:
                branch-restriction_2:
                  $ref: '#/components/examples/branch-restriction_2'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/branchrestriction'
            examples:
              branch-restriction:
                $ref: '#/components/examples/branch-restriction'
        description: The new rule
        required: true
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: createBranchRestrictionRule
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation allows you to create a new comment on a specific commit within a Bitbucket repository. By sending a POST request to the endpoint with the workspace ID, repository slug, and commit hash, along with the comment content in the request body, you can add feedback, notes, or discussion points directly associated with that particular commit. This is useful for code review processes, documenting changes, or collaborating with team members on specific code modifications. The operation requires appropriate authentication and permissions to comment on commits within the specified repository.
      summary: Atlassian Create Comment for Commit
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly created comment.
              schema:
                type: string
        '400':
          description: If the comment was detected as spam, or if the parent comment is not attached to the same node as the new comment
        '404':
          description: If a parent ID was passed in that cannot be found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
            examples:
              commit-comment:
                $ref: '#/components/examples/commit-comment'
        description: The specified comment.
        required: true
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: createCommentForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}:
    put:
      tags:
      - Create
      description: This PUT operation creates or updates a report for a specific commit in a Bitbucket repository, identified by the workspace, repository slug, commit SHA, and report ID. Reports are typically used to provide additional build, test, or code quality information about a commit, such as code coverage, security scans, or custom analysis results. The operation requires authentication and appropriate permissions to the repository, and accepts a JSON payload containing the report details including its title, reporter, result status (PASSED, FAILED, or PENDING), and optional metadata like links and data fields. If a report with the specified ID already exists for the commit, it will be updated; otherwise, a new report will be created. This endpoint is commonly used by CI/CD tools and third-party integrations to display supplementary commit status information directly within the Bitbucket interface, allowing teams to view comprehensive build and quality metrics alongside their code changes.
      operationId: createOrUpdateReport
      summary: Atlassian Create or Update Report
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/report'
            examples:
              commit-report:
                $ref: '#/components/examples/commit-report'
        description: The report to create or update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report'
              examples:
                commit-report_2:
                  $ref: '#/components/examples/commit-report_2'
        '400':
          description: The provided Report object is malformed or incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations:
    post:
      tags:
      - Create
      description: Creates or updates individual annotation objects within a specified commit report in a Bitbucket repository, allowing developers to programmatically add code analysis findings, linting errors, test results, or other automated feedback directly to a specific commit. The operation requires the workspace ID, repository slug, commit hash, and report ID as path parameters, and accepts an array of annotation objects in the request body, each containing details such as line number, severity, annotation type, summary, and optional description. This bulk operation enables CI/CD pipelines and development tools to efficiently attach multiple code quality insights to a single commit, making review feedback immediately visible within the Bitbucket interface and helping teams maintain code standards through automated checks.
      operationId: bulkCreateOrUpdateAnnotations
      summary: Atlassian Bulk Create or Update Annotations
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit for which to retrieve reports.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Uuid or external-if of the report for which to get annotations for.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/report_annotation'
              minItems: 1
              maxItems: 100
            examples:
              bulk-create-or-update-annotations_2:
                $ref: '#/components/examples/bulk-create-or-update-annotations_2'
        description: The annotations to create or update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/report_annotation'
              examples:
                undefined_2:
                  $ref: '#/components/examples/undefined_2'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations/{annotationId}:
    put:
      tags:
      - Create
      description: This PUT operation allows users to create or update a specific annotation for a code report associated with a particular commit in a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, report ID, and annotation ID in the URL path, developers can add detailed feedback or metadata about specific lines or sections of code within that commit's report. Annotations are typically used in CI/CD pipelines or code analysis tools to highlight issues, warnings, or suggestions directly within the Bitbucket interface, enabling better code review workflows and automated quality checks. If an annotation with the specified ID already exists, this operation updates it with the new information provided in the request body; otherwise, it creates a new annotation with that ID.
      operationId: createOrUpdateAnAnnotation
      summary: Atlassian Create or Update an Annotation
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      - name: annotationId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/report_annotation'
            examples:
              report-annotation_2:
                $ref: '#/components/examples/report-annotation_2'
        description: The annotation to create or update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report_annotation'
              examples:
                report-annotation_2:
                  $ref: '#/components/examples/report-annotation_2'
        '400':
          description: The provided Annotation object is malformed or incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/statuses/build:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This POST endpoint creates a build status for a specific commit in a Bitbucket repository, allowing external CI/CD systems and build tools to report the status of automated builds back to Bitbucket. The endpoint requires the workspace ID, repository slug, and commit hash as path parameters, and accepts a JSON payload containing build status information such as state (successful, failed, in progress), key, name, URL, and description. When invoked, it associates the provided build status with the specified commit, which then becomes visible in the Bitbucket UI on pull requests and commit pages, enabling teams to track build results and prevent merging of code that fails automated checks. This integration is essential for maintaining CI/CD pipelines and ensuring code quality by providing real-time feedback on build outcomes directly within the version control interface.
      summary: Atlassian Create Build Status for Commit
      responses:
        '201':
          description: The newly created build status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commitstatus'
              examples:
                commit-status_2:
                  $ref: '#/components/examples/commit-status_2'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository, commit, or build status key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commitstatus'
            examples:
              commit-status:
                $ref: '#/components/examples/commit-status'
        description: The new commit status object.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: createBuildStatusForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deployments_config/environments/{environment_uuid}/variables:
    post:
      tags:
      - Create
      description: Creates a new deployment variable for a specific environment within a Bitbucket repository's deployment configuration. This operation requires specifying the workspace, repository slug, and environment UUID in the path, allowing teams to define environment-specific variables such as API keys, connection strings, or configuration values that will be available during the deployment process. The variable details including the key name, value, and optionally whether it should be secured or hidden are provided in the request body. This enables teams to manage configuration across different deployment environments like development, staging, and production while maintaining security and flexibility in their CI/CD pipelines.
      summary: Atlassian Create Variable for an Environment
      operationId: createVariableForAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deployment_variable'
            examples:
              deployment-variable:
                $ref: '#/components/examples/deployment-variable'
        description: The variable to create
        required: true
      responses:
        '201':
          description: The variable was created.
          headers:
            Location:
              description: The URL of the newly created variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment_variable'
              examples:
                deployment-variable_2:
                  $ref: '#/components/examples/deployment-variable_2'
        '404':
          description: The account, repository, environment or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/environments:
    post:
      tags:
      - Create
      description: The Create an Environment operation in the Atlassian Bitbucket Repositories API allows users to create a new deployment environment within a specific repository by sending a POST request to the /repositories/{workspace}/{repo_slug}/environments endpoint. This operation requires specifying both the workspace identifier and repository slug in the URL path, and enables teams to define distinct deployment targets such as development, staging, or production environments for their code. The created environment can then be referenced in deployment pipelines and used to manage environment-specific variables, restrictions, and deployment history, providing better control over the software delivery process within Bitbucket's CI/CD workflow.
      summary: Atlassian Create an Environment
      operationId: createAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deployment_environment'
            examples:
              deployment-environment:
                $ref: '#/components/examples/deployment-environment'
        description: The environment to create.
        required: true
      responses:
        '201':
          description: The environment was created.
          headers:
            Location:
              description: The URL of the newly created environment.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment_environment'
              examples:
                deployment-environment_2:
                  $ref: '#/components/examples/deployment-environment_2'
        '404':
          description: The account or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: An environment host with the provided name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/hooks:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation creates a new webhook for a specific Bitbucket repository within a workspace. When invoked via POST request to the endpoint /repositories/{workspace}/{repo_slug}/hooks, it allows you to configure automated notifications that trigger HTTP callbacks to a specified URL whenever certain events occur in the repository, such as push events, pull request updates, or issue changes. The workspace parameter identifies the Bitbucket workspace (formerly team), while repo_slug specifies the repository identifier. The request typically requires authentication and a JSON payload defining the webhook configuration, including the target URL, events to monitor, and optional settings like active status and description. Upon successful creation, the API returns the webhook details including a unique identifier that can be used for subsequent management operations like updates or deletion.
      summary: Atlassian Create Webhook for Repository
      responses:
        '201':
          description: If the webhook was registered successfully.
          headers:
            Location:
              description: The URL of new newly created webhook.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
              examples:
                webhook-subscription:
                  $ref: '#/components/examples/webhook-subscription'
        '403':
          description: If the authenticated user does not have permission to install webhooks on the specified repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: createWebhookForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: Creates a new issue in the specified Bitbucket repository within a workspace. This POST endpoint allows users to submit issue details such as title, description, priority, and other metadata to track bugs, tasks, or feature requests. The operation requires authentication and appropriate repository permissions, with the workspace and repository slug specified in the URL path to identify the target repository where the issue will be created.
      summary: Atlassian Create an Issue
      responses:
        '201':
          description: The newly created issue.
          headers:
            Location:
              description: The (absolute) URL of the newly created issue.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
              examples:
                issue_2:
                  $ref: '#/components/examples/issue_2'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: When the authenticated user isn't authorized to create the issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue'
            examples:
              issue:
                $ref: '#/components/examples/issue'
        description: The new issue. The only required element is `title`. All other elements can be omitted from the body.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: createAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/comments:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: Creates a new comment on the specified issue in a Bitbucket repository. This POST endpoint requires authentication and targets a specific issue within a repository by providing the workspace identifier, repository slug, and issue ID in the URL path. The request body should contain the comment content and any additional metadata according to Bitbucket's comment schema. Upon successful execution, the API returns the newly created comment object including its unique identifier, author information, timestamp, and content. This operation is commonly used for adding feedback, updates, or discussions to existing issues in a repository's issue tracker, enabling team collaboration and communication around specific problems or feature requests.
      summary: Atlassian Create Comment on an Issue
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly issue comment.
              schema:
                type: string
        '400':
          description: 'If the input was invalid, or if the comment being created is detected as spam '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue_comment'
            examples:
              issue-comment:
                $ref: '#/components/examples/issue-comment'
        description: The new issue comment object.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: createCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/schedules:
    post:
      tags:
      - Create
      summary: Atlassian Create Schedule
      description: Creates a new pipeline schedule for the specified repository in Bitbucket, allowing you to automate pipeline executions at defined intervals or specific times. This endpoint requires you to provide the workspace identifier and repository slug in the path, along with schedule configuration details in the request body such as the cron expression, target branch or tag, and whether the schedule is enabled. The schedule determines when pipelines will automatically trigger without manual intervention, useful for recurring tasks like nightly builds, periodic tests, or scheduled deployments. Upon successful creation, the API returns the newly created schedule object containing its unique identifier and configuration details.
      operationId: createSchedule
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_schedule_post_request_body'
            examples:
              request-body-for-pipeline-schedule-post-request:
                $ref: '#/components/examples/request-body-for-pipeline-schedule-post-request'
        description: The schedule to create.
        required: true
      responses:
        '201':
          description: The created schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_schedule'
              examples:
                pipeline-schedule:
                  $ref: '#/components/examples/pipeline-schedule'
        '400':
          description: There were errors validating the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The maximum limit of schedules for this repository was reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The account or repository was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
        - write:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/ssh/known_hosts:
    post:
      tags:
      - Create
      summary: Atlassian Create Known Host
      description: Creates a new known host entry in the Bitbucket Pipelines SSH configuration for a specified repository, allowing the pipeline to establish secure SSH connections to external servers by adding their public key fingerprints to the trusted known hosts list. This endpoint requires authentication and accepts the workspace identifier and repository slug as path parameters, along with the host details in the request body, which typically includes the hostname and its corresponding SSH public key. Once configured, Bitbucket Pipelines can securely connect to the specified host during build and deployment processes without manual verification prompts.
      operationId: createKnownHost
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_known_host'
            examples:
              pipeline-known-host:
                $ref: '#/components/examples/pipeline-known-host'
        description: The known host to create.
        required: true
      responses:
        '201':
          description: The known host was created.
          headers:
            Location:
              description: The URL of the newly created pipeline known host.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_known_host'
              examples:
                pipeline-known-host_2:
                  $ref: '#/components/examples/pipeline-known-host_2'
        '404':
          description: The account or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A known host with the provided hostname already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/variables:
    post:
      tags:
      - Create
      summary: Atlassian Create Variable for Repository
      description: This API operation creates a new pipeline variable for a specific Bitbucket repository within a workspace. By sending a POST request to the endpoint with the workspace ID and repository slug, users can define custom variables that will be available during pipeline executions. These variables are commonly used to store configuration values, credentials, or environment-specific settings that pipelines need to access during build, test, or deployment processes. The operation requires appropriate authentication and permissions to modify pipeline configurations for the specified repository, and the variable data is typically provided in the request body with properties such as the variable name, value, and whether it should be secured or masked in pipeline logs.
      operationId: createVariableForRepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_variable'
            examples:
              pipeline-variable:
                $ref: '#/components/examples/pipeline-variable'
        description: The variable to create.
        required: true
      responses:
        '201':
          description: The variable was created.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2'
        '404':
          description: The account or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/refs/branches:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: The Create Branch operation in the Atlassian Bitbucket Repositories API allows developers to programmatically create a new branch within a specified repository by sending a POST request to the /repositories/{workspace}/{repo_slug}/refs/branches endpoint. This operation requires authentication and takes the workspace identifier and repository slug as path parameters, along with a request body that typically includes the new branch name and the source commit or existing branch from which to create it. Upon successful execution, the API returns details about the newly created branch including its name, target commit hash, and associated metadata, enabling automated branch management workflows for version control and continuous integration processes.
      summary: Atlassian Create Branch
      responses:
        '201':
          description: The newly created branch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branch'
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or branch does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
        - read:repository:bitbucket
      operationId: createBranch
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/refs/tags:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: The Create Tag operation in the Atlassian Bitbucket Repositories API allows users to create a new tag in a specified repository by sending a POST request to the /repositories/{workspace}/{repo_slug}/refs/tags endpoint. This operation requires the workspace identifier and repository slug as path parameters to target the specific repository where the tag should be created. The request typically includes details such as the tag name, the target commit hash or reference to which the tag should point, and optional metadata like a message or tagger information. This endpoint is commonly used in version control workflows to mark specific points in a repository's history, such as releases or important milestones, making it easier to reference and retrieve specific versions of the codebase. Successful execution returns the newly created tag object with its properties, while authentication and appropriate repository permissions are required to perform this operation.
      summary: Atlassian Create Tag
      responses:
        '201':
          description: The newly created tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
              examples:
                tag_2:
                  $ref: '#/components/examples/tag_2'
        '400':
          description: If the target hash is missing, ambiguous, or invalid, or if the name is not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
            examples:
              tag:
                $ref: '#/components/examples/tag'
        required: true
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
        - read:repository:bitbucket
      operationId: createTag
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/src:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This operation allows you to create a new commit in a Bitbucket repository by uploading one or more files directly through the API. You specify the target workspace and repository via the path parameters, then provide the file content along with commit metadata such as the commit message, branch name, author information, and optional parent commit references in the request body. The files are uploaded as multipart form data, where each file can be specified with its path in the repository and its content. Upon successful execution, the API creates a new commit containing the uploaded files and returns details about the newly created commit including its hash, timestamp, and author information. This is particularly useful for automating file updates, CI/CD pipelines, or any workflow that needs to programmatically modify repository contents without requiring a local git clone or manual file operations.
      summary: Atlassian Create Commit by Uploading File
      responses:
        '201':
          description: '

            '
        '403':
          description: If the authenticated user does not have write or admin access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: message
        in: query
        description: The commit message. When omitted, Bitbucket uses a canned string.
        required: false
        schema:
          type: string
      - name: author
        in: query
        description: '

          The raw string to be used as the new Commits author.

          This string follows the format

          `Erik van Zijst <evzijst@atlassian.com>`.


          When omitted, Bitbucket uses the authenticated user''s

          full/display name and primary email address. Commits cannot

          be created anonymously.'
        required: false
        schema:
          type: string
      - name: parents
        in: query
        description: '

          A comma-separated list of SHA1s of the commits that should

          be the parents of the newly created commit.


          When omitted, the new commit will inherit from and become

          a child of the main branch''s tip/HEAD commit.


          When more than one SHA1 is provided, the first SHA1

          identifies the commit from which the content will be

          inherited.".'
        required: false
        schema:
          type: string
      - name: files
        in: query
        description: '

          Optional field that declares the files that the request is

          manipulating. When adding a new file to a repo, or when

          overwriting an existing file, the client can just upload

          the full contents of the file in a normal form field and

          the use of this `files` meta data field is redundant.

          However, when the `files` field contains a file path that

          does not have a corresponding, identically-named form

          field, then Bitbucket interprets that as the client wanting

          to replace the named file with the null set and the file is

          deleted instead.


          Paths in the repo that are referenced in neither files nor

          an individual file field, remain unchanged and carry over

          from the parent to the new commit.


          This API does not support renaming as an explicit feature.

          To rename a file, simply delete it and recreate it under

          the new name in the same commit.

          '
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: '

          The name of the branch that the new commit should be

          created on. When omitted, the commit will be created on top

          of the main branch and will become the main branch''s new

          head.


          When a branch name is provided that already exists in the

          repo, then the commit will be created on top of that

          branch. In this case, *if* a parent SHA1 was also provided,

          then it is asserted that the parent is the branch''s

          tip/HEAD at the time the request is made. When this is not

          the case, a 409 is returned.


          When a new branch name is specified (that does not already

          exist in the repo), and no parent SHA1s are provided, then

          the new commit will inherit from the current main branch''s

          tip/HEAD commit, but not advance the main branch. The new

          commit will be the new branch. When the request *also*

          specifies a parent SHA1, then the new commit and branch

          are created directly on top of the parent commit,

          regardless of the state of the main branch.


          When a branch name is not specified, but a parent SHA1 is

          provided, then Bitbucket asserts that it represents the

          main branch''s current HEAD/tip, or a 409 is returned.


          When a branch name is not specified and the repo is empty,

          the new commit will become the repo''s root commit and will

          be on the main branch.


          When a branch name is specified and the repo is empty, the

          new commit will become the repo''s root commit and also

          define the repo''s main branch going forward.


          This API cannot be used to create additional root commits

          in non-empty repos.


          The branch field cannot be repeated.


          As a side effect, this API can be used to create a new

          branch without modifying any files, by specifying a new

          branch name in this field, together with `parents`, but

          omitting the `files` fields, while not sending any files.

          This will create a new commit and branch with the same

          contents as the first parent. The diff of this commit

          against its first parent will be empty.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: createCommitByUploadingFile
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation creates a new code snippet within a specified Atlassian Bitbucket workspace by sending a POST request to the /snippets/{workspace} endpoint, where {workspace} is replaced with the unique identifier or name of the target workspace. The operation allows authenticated users to programmatically submit code snippets, which can include multiple files, descriptions, and metadata, to be stored and shared within the designated workspace, making it useful for developers who want to save and organize reusable code fragments, documentation, or configuration examples that can be accessed by team members with appropriate permissions.
      summary: Atlassian Create Snippet for Workspace
      responses:
        '201':
          description: The newly created snippet object.
          headers:
            Location:
              description: The URL of the newly created snippet.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
              examples:
                snippet:
                  $ref: '#/components/examples/snippet'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have permission to create snippets in the specified workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/snippet'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
        WriteDescription: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: createSnippetForWorkspace
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/comments:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: 'The Atlassian Bitbucket Snippets API POST operation to /snippets/{workspace}/{encoded_id}/comments allows authenticated users to create a new comment on a specific code snippet within a designated workspace. This endpoint requires two path parameters: the workspace identifier and the encoded snippet ID, enabling precise targeting of the snippet to be commented on. When invoked, it accepts comment content in the request body and creates a new comment thread or adds to an existing discussion on the specified snippet. This functionality facilitates code review, collaboration, and feedback mechanisms within Bitbucket''s snippet sharing feature, allowing team members to provide inline commentary, suggestions, or questions about shared code fragments. The operation returns the newly created comment object upon successful execution, including metadata such as comment ID, author information, timestamp, and the comment content itself.'
      summary: Atlassian Create Comment on Snippet
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The URL of the new comment
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_comment'
              examples:
                snippet-comment_2:
                  $ref: '#/components/examples/snippet-comment_2'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_comment'
            examples:
              snippet-comment:
                $ref: '#/components/examples/snippet-comment'
        description: The contents of the new comment.
        required: true
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: createCommentOnSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /teams/{username}/pipelines_config/variables:
    post:
      tags:
      - Create
      deprecated: true
      summary: Atlassian Create Variable for User
      description: This API operation creates a new pipeline configuration variable for a specific Bitbucket team identified by the username parameter in the path. It allows administrators to define custom variables that can be used across pipeline configurations for the team, enabling centralized management of configuration values such as credentials, API keys, or environment-specific settings. The operation requires a POST request to the endpoint with the Teams username and the variable details in the request body, which typically includes the variable name, value, and whether it should be secured or masked in pipeline logs. Upon successful creation, the API returns the newly created variable object with its configuration details, making it available for use in any pipeline within that Teams repositories.
      operationId: createVariableForUser
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable2'
      responses:
        '201':
          description: The created variable.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable:
                  $ref: '#/components/examples/pipeline-variable_3'
        '404':
          description: The account does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/pipelines_config/variables:
    post:
      tags:
      - Create
      deprecated: true
      summary: Atlassian Create Variable for User
      description: This API operation creates a new pipeline configuration variable for a specified Bitbucket user account. By sending a POST request to the endpoint with the target Users identifier, administrators can define custom variables that will be available across all pipelines associated with that Users repositories. The variables typically include key-value pairs used for storing configuration settings, credentials, or other data needed during pipeline execution, and can be marked as secured to protect sensitive information. This allows for centralized management of user-level pipeline configurations without having to define the same variables repeatedly across multiple repositories owned by the user.
      operationId: createVariableForUser
      parameters:
      - name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable2'
      responses:
        '201':
          description: The created variable.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable:
                  $ref: '#/components/examples/pipeline-variable_4'
        '404':
          description: The account does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/hooks:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation creates a new webhook for a specified Bitbucket workspace by sending a POST request to the /workspaces/{workspace}/hooks endpoint. Webhooks allow workspaces to receive real-time HTTP callbacks when specific events occur within the workspace, such as repository pushes, pull requests, or issue updates. The workspace is identified by the {workspace} path parameter, which represents the workspace ID or slug. The request typically requires authentication and a JSON payload containing webhook configuration details including the target URL where events should be sent, a description, and the specific events to subscribe to. Upon successful creation, the API returns the newly created webhook object with its unique identifier and configuration details, enabling automated integrations and event-driven workflows between Bitbucket and external systems or services.
      summary: Atlassian Create a Webhook for a Workspace
      responses:
        '201':
          description: If the webhook was registered successfully.
          headers:
            Location:
              description: The URL of new newly created webhook.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
              examples:
                webhook-subscription:
                  $ref: '#/components/examples/webhook-subscription_2'
        '403':
          description: If the authenticated user does not have permission to install webhooks on the specified workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: atlassianCreateAWebhookForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/pipelines-config/variables:
    post:
      tags:
      - Create
      summary: Atlassian Create a Variable for a Workspace
      description: The POST operation on the /workspaces/{workspace}/pipelines-config/variables endpoint allows you to create a new pipeline variable within a specific Bitbucket workspace, enabling you to define configuration values that can be used across multiple pipelines in that workspace. This endpoint requires you to specify the workspace slug in the path parameter and provide the variable details in the request body, typically including the variable's key (name), value, and whether it should be secured/encrypted. Workspace-level pipeline variables are useful for storing shared configuration data, credentials, or environment-specific values that need to be accessible to all repositories within the workspace without having to duplicate the variable definitions in each individual repository. The API returns the created variable object upon successful execution, and requires appropriate authentication and workspace admin permissions to perform this operation.
      operationId: atlassianCreatepipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable2'
      responses:
        '201':
          description: The created variable.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable:
                  $ref: '#/components/examples/pipeline-variable_5'
        '404':
          description: The workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation creates a new project within a specified Bitbucket workspace by sending a POST request to the /workspaces/{workspace}/projects endpoint, where {workspace} is replaced with the unique identifier or slug of the target workspace. The operation allows workspace administrators to programmatically establish new projects that serve as containers for organizing related repositories, enabling better code management and team collaboration. When invoked, the endpoint accepts project details in the request body such as project name, key, description, and access permissions, then returns the newly created project object with its assigned metadata including a unique project identifier, timestamps, and configuration settings. This operation requires appropriate authentication credentials and workspace-level permissions, typically administrator or write access, to successfully create projects within the organizational structure of the Bitbucket workspace.
      summary: Atlassian Create a Project in a Workspace
      responses:
        '201':
          description: A new project has been created.
          headers:
            Location:
              description: The location of the newly created project
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
              examples:
                project:
                  $ref: '#/components/examples/project'
        '403':
          description: The requesting user isn't authorized to create the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A workspace doesn't exist at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/project'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianCreateAProjectInAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects/{project_key}/deploy-keys:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Create
      description: This API operation creates a new deploy key for a specific project within a Bitbucket workspace, allowing secure, read-only SSH access to repositories within that project. By making a POST request to the endpoint with the workspace slug and project key as path parameters, users can generate an SSH key that can be used for automated deployments or CI/CD pipelines without requiring personal credentials. The deploy key is scoped to the project level, meaning it can access all repositories within the specified project, and the request body typically includes the SSH public key content and an optional label for identification purposes. This is particularly useful for granting automated systems or external services controlled access to project repositories for deployment purposes while maintaining security best practices by avoiding the use of user account credentials.
      summary: Atlassian Create a Project Deploy Key
      responses:
        '200':
          description: The project deploy key that was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_deploy_key'
              examples:
                project-deploy-key:
                  $ref: '#/components/examples/project-deploy-key'
        '400':
          description: Invalid deploy key inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the specified workspace or project is not accessible to the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace or project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianCreateAProjectDeployKey
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/child/attachment:
    put:
      tags:
      - Create
      summary: Atlassian Create or Update Attachment
      description: This API operation allows you to create a new attachment or update an existing attachment for a specific Confluence page or blog post identified by its content ID. When uploading a file, you must use multipart/form-data encoding and include the file in the request body along with optional metadata such as comments or minor edit flags. If an attachment with the same filename already exists, this operation will create a new version of that attachment rather than replacing it entirely, maintaining the version history. The operation requires appropriate permissions on the parent content and returns detailed information about the created or updated attachment, including its download URL, file size, media type, and version number. This is particularly useful for programmatically managing documentation assets, images, or any supplementary files associated with Confluence content.
      operationId: createOrUpdateAttachment
      parameters:
      - name: id
        in: path
        description: The ID of the content to add the attachment to.
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: 'The status of the content that the attachment is being added to.

          This should always be set to ''current''.'
        schema:
          type: string
          default: current
          enum:
          - current
          - draft
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              - minorEdit
              properties:
                file:
                  type: string
                  description: 'The relative location and name of the attachment to be added to

                    the content.'
                  format: binary
                comment:
                  type: string
                  description: 'The comment for the attachment that is being added.

                    If you specify a comment, then every file must have a comment and

                    the comments must be in the same order as the files. Alternatively,

                    don''t specify any comments.'
                  format: binary
                minorEdit:
                  type: string
                  description: 'If `minorEdits` is set to ''true'', no notification email or activity stream

                    will be generated when the attachment is added to the content.'
                  format: binary
        required: true
      responses:
        '200':
          description: Returned if the attachments were added to the content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArray'
        '403':
          description: 'Returned if;


            - Attachments are disabled.

            - The calling user does not have permission to add attachments to the

            content.'
          content: {}
        '404':
          description: 'Returned if;


            - The requested content is not found.

            - The user does not have permission to view it.

            - The attachment exceeds the maximum configured attachment size.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-file
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-file
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
        - write:attachment:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: WRITE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Create
      summary: Atlassian Create Attachment
      description: This POST operation allows you to create and upload new attachments to a specific Confluence page or blog post by providing the content ID in the URL path. The endpoint accepts multipart/form-data requests containing the file to be uploaded along with optional metadata such as comments or attachment properties. Upon successful execution, it returns details about the newly created attachment including its ID, title, download URL, media type, file size, and version information. The authenticated user must have permission to edit the specified content in order to add attachments to it. This operation is commonly used for programmatically adding files, images, documents, or other resources to Confluence pages as part of automated workflows or integrations.
      operationId: createAttachment
      parameters:
      - name: id
        in: path
        description: The ID of the content to add the attachment to.
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: The status of the content that the attachment is being added to.
        schema:
          type: string
          default: current
          enum:
          - current
          - draft
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              - minorEdit
              properties:
                file:
                  type: string
                  description: 'The relative location and name of the attachment to be added to

                    the content.'
                  format: binary
                comment:
                  type: string
                  description: 'The comment for the attachment that is being added.

                    If you specify a comment, then every file must have a comment and

                    the comments must be in the same order as the files. Alternatively,

                    don''t specify any comments.'
                  format: binary
                minorEdit:
                  type: string
                  description: 'If `minorEdits` is set to ''true'', no notification email or activity stream

                    will be generated when the attachment is added to the content.'
                  format: binary
        required: true
      responses:
        '200':
          description: Returned if the attachments were added to the content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArray'
        '400':
          description: Returned if the content already has an attachment with the same filename.
          content: {}
        '403':
          description: 'Returned if;


            - Attachments are disabled in Confluence.

            - The calling user does not have permission to add attachments to the

            content.'
          content: {}
        '404':
          description: 'Returned if;


            - The requested content is not found.

[...]
