openapi: 3.1.0
info:
  title: Atlassian Admin Account Project Classification Levels API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Project Classification Levels
paths:
  /rest/api/3/project/{projectIdOrKey}/classification-level/default:
    delete:
      deprecated: false
      description: Remove the default data classification level for a project.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.<br> *  *Administer jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianRemovedefaultprojectclassification
      parameters:
      - description: The project ID or project key (case-sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the project is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      summary: Atlassian Remove The Default Data Classification Level From A Project
      tags:
      - Project Classification Levels
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
    get:
      deprecated: false
      description: Returns the default data classification for a project.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Browse Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.<br> *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.<br> *  *Administer jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetdefaultprojectclassification
      parameters:
      - description: The project ID or project key (case-sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"classification":{"id":"ari:cloud:platform::classification-tag/5bfa70f7-4af1-44f5-9e12-1ce185f15a38","status":"published","name":"Restricted","rank":1,"description":"Data we hold that would be very damaging and would cause loss of trust with customers and present legal risk if mishandled","guideline":"Access to data must be restricted to only individuals who need access in order to perform their job duties.","color":"RED"}}'
              schema: {}
          description: Returned if the request is successful.
        '401':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the project is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      summary: Atlassian Get The Default Data Classification Level Of A Project
      tags:
      - Project Classification Levels
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:project:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Updates the default data classification level for a project.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.<br> *  *Administer jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdatedefaultprojectclassification
      parameters:
      - description: The project ID or project key (case-sensitive).
        in: path
        name: projectIdOrKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              id: ari:cloud:platform::classification-tag/dec24c48-5073-4c25-8fef-9d81a992c30c
            schema:
              $ref: '#/components/schemas/UpdateDefaultProjectClassificationBean'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the project is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      summary: Atlassian Update The Default Data Classification Level Of A Project
      tags:
      - Project Classification Levels
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    UpdateDefaultProjectClassificationBean:
      additionalProperties: false
      description: The request for updating the default project classification level.
      properties:
        id:
          description: The ID of the project classification.
          type: string
      required:
      - id
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
