openapi: 3.1.0
info:
  title: Atlassian Admin Account App Migration API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: App Migration
paths:
  /rest/atlassian-connect/1/migration/field:
    put:
      deprecated: false
      description: Updates the value of a custom field added by Connect apps on one or more issues.<br>The values of up to 200 custom fields can be updated.<br><br>**[Permissions](#permissions) required:** Only Connect apps can make this request
      operationId: atlassianAppissuefieldvalueupdateresourceUpdateissuefieldsPut
      parameters:
      - description: The ID of the transfer.
        in: header
        name: Atlassian-Transfer-Id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            example:
              updateValueList:
              - _type: StringIssueField
                issueID: 10001
                fieldID: 10076
                string: new string value
              - _type: TextIssueField
                issueID: 10002
                fieldID: 10077
                text: new text value
              - _type: SingleSelectIssueField
                issueID: 10003
                fieldID: 10078
                optionID: '1'
              - _type: MultiSelectIssueField
                issueID: 10004
                fieldID: 10079
                optionID: '2'
              - _type: RichTextIssueField
                issueID: 10005
                fieldID: 10080
                richText: new rich text value
              - _type: NumberIssueField
                issueID: 10006
                fieldID: 10082
                number: 54
            schema:
              $ref: '#/components/schemas/ConnectCustomFieldValues'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '403':
          description: 'Returned if:

            * the transfer ID is not found.

            * the authorisation credentials are incorrect or missing.'
      summary: Atlassian Bulk Update Custom Field Value
      tags:
      - App Migration
      x-atlassian-connect-scope: NONE
  /rest/atlassian-connect/1/migration/properties/{entityType}:
    put:
      description: Updates the values of multiple entity properties for an object, up to 50 updates per request. This operation is for use by Connect apps during app migration.
      operationId: atlassianMigrationresourceUpdateentitypropertiesvaluePut
      parameters:
      - description: The app migration transfer ID.
        in: header
        name: Atlassian-Transfer-Id
        required: true
        schema:
          format: uuid
          type: string
      - description: The type indicating the object that contains the entity properties.
        in: path
        name: entityType
        required: true
        schema:
          enum:
          - IssueProperty
          - CommentProperty
          - DashboardItemProperty
          - IssueTypeProperty
          - ProjectProperty
          - UserProperty
          - WorklogProperty
          - BoardProperty
          - SprintProperty
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/EntityPropertyDetails'
              maxItems: 50
              minItems: 1
              type: array
        required: true
      responses:
        '200':
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '403':
          description: Returned if the authorisation credentials are incorrect or missing.
      summary: Atlassian Bulk Update Entity Properties
      tags:
      - App Migration
      x-atlassian-connect-scope: NONE
  /rest/atlassian-connect/1/migration/workflow/rule/search:
    post:
      description: Returns configurations for workflow transition rules migrated from server to cloud and owned by the calling Connect app.
      operationId: atlassianMigrationresourceWorkflowrulesearchPost
      parameters:
      - description: The app migration transfer ID.
        in: header
        name: Atlassian-Transfer-Id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowRulesSearch'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                workflowEntityId: a498d711-685d-428d-8c3e-bc03bb450ea7
                invalidRules:
                - 55d44f1d-c859-42e5-9c27-2c5ec3f340b1
                validRules:
                - workflowId:
                    name: Workflow name
                    draft: true
                  postFunctions:
                  - id: '123'
                    key: WorkflowKey
                    configuration:
                      value: WorkflowValidator
                    transition:
                      name: transition
                      id: 123
                  conditions:
                  - id: '123'
                    key: WorkflowKey
                    configuration:
                      value: WorkflowValidator
                    transition:
                      name: transition
                      id: 123
                  validators:
                  - id: '123'
                    key: WorkflowKey
                    configuration:
                      value: WorkflowValidator
                    transition:
                      name: transition
                      id: 123
              schema:
                $ref: '#/components/schemas/WorkflowRulesSearchDetails'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '403':
          description: Returned if the authorisation credentials are incorrect or missing.
      summary: Atlassian Get Workflow Transition Rule Configurations
      tags:
      - App Migration
      x-atlassian-connect-scope: NONE
components:
  schemas:
    WorkflowRulesSearchDetails:
      description: Details of workflow transition rules.
      properties:
        invalidRules:
          description: List of workflow rule IDs that do not belong to the workflow or can not be found.
          items:
            description: Workflow rule ID.
            example: 55d44f1d-c859-42e5-9c27-2c5ec3f340b1
            format: uuid
            type: string
          type: array
        validRules:
          description: List of valid workflow transition rules.
          items:
            $ref: '#/components/schemas/WorkflowTransitionRules'
          type: array
        workflowEntityId:
          description: The workflow ID.
          example: a498d711-685d-428d-8c3e-bc03bb450ea7
          format: uuid
          type: string
      type: object
    RuleConfiguration:
      additionalProperties: false
      description: A rule configuration.
      properties:
        disabled:
          default: false
          description: Whether the rule is disabled.
          type: boolean
        tag:
          description: A tag used to filter rules in [Get workflow transition rule configurations](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-workflow-transition-rules/#api-rest-api-3-workflow-rule-config-get).
          maxLength: 255
          type: string
        value:
          description: Configuration of the rule, as it is stored by the Connect or the Forge app on the rule configuration page.
          type: string
      required:
      - value
      type: object
    ConnectCustomFieldValues:
      additionalProperties: false
      description: Details of updates for a custom field.
      properties:
        updateValueList:
          description: The list of custom field update details.
          items:
            $ref: '#/components/schemas/ConnectCustomFieldValue'
          type: array
      type: object
      writeOnly: true
    WorkflowId:
      additionalProperties: false
      description: Properties that identify a workflow.
      properties:
        draft:
          description: Whether the workflow is in the draft state.
          type: boolean
        name:
          description: The name of the workflow.
          type: string
      required:
      - draft
      - name
      type: object
    ConnectCustomFieldValue:
      description: A list of custom field details.
      properties:
        _type:
          description: The type of custom field.
          enum:
          - StringIssueField
          - NumberIssueField
          - RichTextIssueField
          - SingleSelectIssueField
          - MultiSelectIssueField
          - TextIssueField
          type: string
          writeOnly: true
        fieldID:
          description: The custom field ID.
          type: integer
          writeOnly: true
        issueID:
          description: The issue ID.
          type: integer
          writeOnly: true
        number:
          description: The value of number type custom field when `_type` is `NumberIssueField`.
          type: number
        optionID:
          description: The value of single select and multiselect custom field type when `_type` is `SingleSelectIssueField` or `MultiSelectIssueField`.
          type: string
        richText:
          description: The value of richText type custom field when `_type` is `RichTextIssueField`.
          type: string
        string:
          description: The value of string type custom field when `_type` is `StringIssueField`.
          type: string
        text:
          description: The value of of text custom field type when `_type` is `TextIssueField`.
          type: string
      required:
      - _type
      - fieldID
      - issueID
      type: object
      writeOnly: true
    AppWorkflowTransitionRule:
      additionalProperties: false
      description: A workflow transition rule.
      properties:
        configuration:
          $ref: '#/components/schemas/RuleConfiguration'
        id:
          description: The ID of the transition rule.
          type: string
        key:
          description: The key of the rule, as defined in the Connect or the Forge app descriptor.
          readOnly: true
          type: string
        transition:
          allOf:
          - $ref: '#/components/schemas/WorkflowTransition'
          readOnly: true
      required:
      - configuration
      - id
      - key
      type: object
    WorkflowTransition:
      additionalProperties: false
      description: A workflow transition.
      properties:
        id:
          description: The transition ID.
          format: int32
          type: integer
        name:
          description: The transition name.
          type: string
      required:
      - id
      - name
      type: object
    WorkflowRulesSearch:
      description: Details of the workflow and its transition rules.
      properties:
        expand:
          description: Use expand to include additional information in the response. This parameter accepts `transition` which, for each rule, returns information about the transition the rule is assigned to.
          example: transition
          type: string
        ruleIds:
          description: The list of workflow rule IDs.
          items:
            description: Workflow rule ID.
            example: 55d44f1d-c859-42e5-9c27-2c5ec3f340b1
            format: uuid
            type: string
          maxItems: 10
          minItems: 1
          type: array
        workflowEntityId:
          description: The workflow ID.
          example: a498d711-685d-428d-8c3e-bc03bb450ea7
          format: uuid
          type: string
      required:
      - ruleIds
      - workflowEntityId
      type: object
    WorkflowTransitionRules:
      additionalProperties: false
      description: A workflow with transition rules.
      properties:
        conditions:
          description: The list of conditions within the workflow.
          items:
            $ref: '#/components/schemas/AppWorkflowTransitionRule'
          type: array
        postFunctions:
          description: The list of post functions within the workflow.
          items:
            $ref: '#/components/schemas/AppWorkflowTransitionRule'
          type: array
        validators:
          description: The list of validators within the workflow.
          items:
            $ref: '#/components/schemas/AppWorkflowTransitionRule'
          type: array
        workflowId:
          $ref: '#/components/schemas/WorkflowId'
      required:
      - workflowId
      type: object
    EntityPropertyDetails:
      properties:
        entityId:
          description: The entity property ID.
          example: 123
          type: number
        key:
          description: The entity property key.
          example: mykey
          type: string
        value:
          description: The new value of the entity property.
          example: newValue
          type: string
      required:
      - entityId
      - key
      - value
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
