openapi: 3.2.0
info:
  title: Atlassian Addon API
  version: '2.0'
  contact:
    name: Bitbucket Support
    url: https://support.atlassian.com/bitbucket-cloud/
    email: support@bitbucket.org
  termsOfService: https://www.atlassian.com/legal/customer-agreement
  description: 'Operations tagged Addon across 2 of this provider''s published API definitions: bitbucket-openapi-original.yml, bitbucket-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bitbucket.org/2.0
tags:
- name: Addon
paths:
  /addon:
    parameters: []
    delete:
      tags:
      - Addon
      description: 'Deletes the application for the user.


        This endpoint is intended to be used by Bitbucket Connect apps

        and only supports JWT authentication -- that is how Bitbucket

        identifies the particular installation of the app. Developers

        with applications registered in the "Develop Apps" section

        of Bitbucket Marketplace need not use this endpoint as

        updates for those applications can be sent out via the

        UI of that section.


        ```

        $ curl -X DELETE https://api.bitbucket.org/2.0/addon \

        -H "Authorization: JWT "

        ```'
      summary: Atlassian Delete An App
      responses:
        '204':
          description: Request has succeeded. The application has been deleted for the user.
        '401':
          description: No authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Improper authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAnApp
    put:
      tags:
      - Addon
      description: 'Updates the application installation for the user.


        This endpoint is intended to be used by Bitbucket Connect apps

        and only supports JWT authentication -- that is how Bitbucket

        identifies the particular installation of the app. Developers

        with applications registered in the "Develop Apps" section

        of Bitbucket need not use this endpoint as updates for those

        applications can be sent out via the UI of that section.


        Passing an empty body will update the installation using the

        existing descriptor URL.


        ```

        $ curl -X PUT https://api.bitbucket.org/2.0/addon \

        -H "Authorization: JWT " \

        --header "Content-Type: application/json" \

        --data ''{}''

        ```


        The new `descriptor` for the installation can be also provided

        in the body directly.


        ```

        $ curl -X PUT https://api.bitbucket.org/2.0/addon \

        -H "Authorization: JWT " \

        --header "Content-Type: application/json" \

        --data ''{"descriptor": $NEW_DESCRIPTOR}''

        ```


        In both these modes the URL of the descriptor cannot be changed. To

        change the descriptor location and upgrade an installation

        the request must be made exclusively with a `descriptor_url`.


        ```

        $ curl -X PUT https://api.bitbucket.org/2.0/addon \

        -H "Authorization: JWT " \

        --header "Content-Type: application/json" \

        --data ''{"descriptor_url": $NEW_URL}''

        ```


        The `descriptor_url` must exactly match the marketplace registration

        that Atlassian has for the application. Contact your Atlassian

        developer advocate to update this registration. Once the registration

        has been updated you may call this resource for each installation.


        Note that the scopes of the application cannot be increased

        in the new descriptor nor reduced to none.'
      summary: Atlassian Update An Installed App
      responses:
        '204':
          description: Request has succeeded. The installation has been updated to the new descriptor.
        '400':
          description: Scopes have increased or decreased to none.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: No authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Improper authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianUpdateAnInstalledApp
    servers:
    - url: https://api.bitbucket.org/2.0
  /addon/linkers:
    parameters: []
    get:
      tags:
      - Addon
      description: 'Gets a list of all linkers

        for the authenticated application.'
      summary: Atlassian List Linkers For An App
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianListLinkersForAnApp
    servers:
    - url: https://api.bitbucket.org/2.0
  /addon/linkers/{linker_key}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    get:
      tags:
      - Addon
      description: 'Gets a linker specified by `linker_key`

        for the authenticated application.'
      summary: Atlassian Get A Linker For An App
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianGetALinkerForAnApp
    servers:
    - url: https://api.bitbucket.org/2.0
  /addon/linkers/{linker_key}/values:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    delete:
      tags:
      - Addon
      description: 'Delete all linker values for the

        specified linker of the authenticated application.'
      summary: Atlassian Delete All Linker Values
      responses:
        '204':
          description: Successfully deleted the linker values.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAllLinkerValues
    get:
      tags:
      - Addon
      description: 'Gets a list of all linker values for the

        specified linker of the authenticated application.


        A linker value lets applications supply values to modify its regular expression.


        The base regular expression must use a Bitbucket-specific match group `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this pattern.


        Read more about linker values'
      summary: Atlassian List Linker Values For A Linker
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianListLinkerValuesForALinker
    post:
      tags:
      - Addon
      description: 'Creates a linker value for the specified

        linker of authenticated application.


        A linker value lets applications supply values to modify its regular expression.


        The base regular expression must use a Bitbucket-specific match group `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this pattern.


        Read more about linker values'
      summary: Atlassian Create A Linker Value
      responses:
        '201':
          description: Successfully created the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: The linker already has the value being added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianCreateALinkerValue
    put:
      tags:
      - Addon
      description: 'Bulk update linker values for the specified

        linker of the authenticated application.


        A linker value lets applications supply values to modify its regular expression.


        The base regular expression must use a Bitbucket-specific match group `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this pattern.


        Read more about linker values'
      summary: Atlassian Update A Linker Value
      responses:
        '204':
          description: Successfully updated the linker values.
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianUpdateALinkerValue
    servers:
    - url: https://api.bitbucket.org/2.0
  /addon/linkers/{linker_key}/values/{value_id}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    - name: value_id
      in: path
      description: The numeric ID of the linker value.
      required: true
      schema:
        type: integer
    delete:
      tags:
      - Addon
      description: 'Delete a single linker value

        of the authenticated application.'
      summary: Atlassian Delete A Linker Value
      responses:
        '204':
          description: Successfully deleted the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianDeleteALinkerValue
    get:
      tags:
      - Addon
      description: 'Get a single linker value

        of the authenticated application.'
      summary: Atlassian Get A Linker Value
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianGetALinkerValue
    servers:
    - url: https://api.bitbucket.org/2.0
  /addon/{addon_key}/client-key:
    parameters:
    - name: addon_key
      in: path
      description: 'The Connect addon key as defined in an application descriptor.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Addon
      description: 'Get the client key of the Connect addon associated with a Forge app install via forgeAppId linkage.


        This endpoint is part of the Connect -> Forge migration tooling. It is intended to be used by a Forge app

        using `asApp().requestBitbucket()` only.

        Prerequisite: app developer needs to register the linkage between their Connect and Forge app by setting

        `forgeAppId` in the Connect addon descriptor to `app.id` from Forge app manifest, then update the installations.

        If the request came from an installation of a registered Forge app, the client key of the linked Connect addon

        installed in the same workspace will be returned.


        ```

        api.asApp().requestBitbucket(route`/2.0/addon/{addon-key}/client-key`)

        ```'
      summary: Get the client key of a Connect addon
      responses:
        '200':
          description: The client key of the Connect addon linked to the Forge app installation where the request was made
        '401':
          description: Invalid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Improper authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The Connect addon or the Forge app does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:workspace:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      operationId: getAddonByAddonKeyClientKey
      x-operation-id-source: derived
    servers:
    - url: https://api.bitbucket.org/2.0
components:
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
  securitySchemes:
    basic:
      type: http
      description: Basic HTTP Authentication as per [RFC-2617](https://tools.ietf.org/html/rfc2617) (Digest not supported). Note that Basic Auth is available only with username and app password as credentials.
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2 as per [RFC-6749](https://tools.ietf.org/html/rfc6749).
      flows:
        authorizationCode:
          authorizationUrl: https://bitbucket.org/site/oauth2/authorize
          tokenUrl: https://bitbucket.org/site/oauth2/access_token
          scopes:
            email: Read your account's primary email address
            account: Read your account information
            account:write: Read and modify your account information
            team: Read your team membership information
            team:write: Read and modify your team membership information
            repository: Read your repositories
            repository:write: Read and modify your repositories
            repository:admin: Administer your repositories
            repository:delete: Delete your repositories
            project: Read your workspace's project settings and read repositories contained within your workspace's projects
            project:admin: Read and modify settings for projects in your workspace
            pipeline: Access your repositories' build pipelines
            pipeline:write: Access and rerun your repositories' build pipelines
            pipeline:variable: Access your repositories' build pipelines and configure their variables
            runner: Access your workspaces/repositories' runners
            runner:write: Access and edit your workspaces/repositories' runners
            pullrequest: Read your repositories and their pull requests
            pullrequest:write: Read and modify your repositories and their pull requests
            webhook: Read and modify your repositories' webhooks
            issue: Read your repositories' issues
            issue:write: Read and modify your repositories' issues
            snippet: Read your snippets
            snippet:write: Read and modify your snippets
            wiki: Read and modify your repositories' wikis
    api_key:
      name: Authorization
      type: apiKey
      description: API Keys can be used as Basic HTTP Authentication credentials and provide a substitute for the account's actual username and password. API Keys are only available to team accounts and there is only 1 key per account. API Keys do not support scopes and have therefore access to all contents of the account.
      in: header
x-refined-from:
- bitbucket-openapi-original.yml
- bitbucket-swagger.json
