openapi: 3.1.0
info:
  title: Atlassian Admin Account Issue Type Schemes API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Issue Type Schemes
paths:
  /rest/api/3/issuetypescheme/mapping:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of issue type scheme items.<br><br>Only issue type scheme items used in classic projects are returned.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetissuetypeschemesmapping
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: The list of issue type scheme IDs. To include multiple IDs, provide an ampersand-separated list. For example, `issueTypeSchemeId=10000&issueTypeSchemeId=10001`.
        in: query
        name: issueTypeSchemeId
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"startAt":0,"total":4,"values":[{"issueTypeSchemeId":"10000","issueTypeId":"10000"},{"issueTypeSchemeId":"10000","issueTypeId":"10001"},{"issueTypeSchemeId":"10000","issueTypeId":"10002"},{"issueTypeSchemeId":"10001","issueTypeId":"10000"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanIssueTypeSchemeMapping'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the required permissions.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Issue Type Scheme Items
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/issuetypescheme/project:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of issue type schemes and, for each issue type scheme, a list of the projects that use it.<br><br>Only issue type schemes used in classic projects are returned.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetissuetypeschemeforprojects
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: The list of project IDs. To include multiple project IDs, provide an ampersand-separated list. For example, `projectId=10000&projectId=10001`.
        in: query
        name: projectId
        required: true
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"startAt":0,"total":3,"values":[{"issueTypeScheme":{"id":"10000","name":"Default Issue Type Scheme","description":"Default issue type scheme is the list of global issue types. All newly created issue types will automatically be added to this scheme.","defaultIssueTypeId":"10003","isDefault":true},"projectIds":["10000","10001"]},{"issueTypeScheme":{"id":"10001","name":"SUP: Kanban Issue Type Scheme","description":"A collection of issue types suited to use in a kanban style project."},"projectIds":["10002"]},{"issueTypeScheme":{"id":"10002","name":"HR: Scrum issue type scheme","description":"","defaultIssueTypeId":"10004","issueTypes":{"isLast":true,"maxResults":100,"startAt":0,"total":1,"values":[{"description":"Improvement Issue Type","hierarchyLevel":-1,"iconUrl":"www.example.com","id":"1000L","name":"Improvements","subtask":true}]}},"projectIds":["10003","10004","10005"]}]}'
              schema:
                $ref: '#/components/schemas/PageBeanIssueTypeSchemeProjects'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the required permissions.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Issue Type Schemes For Projects
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Assigns an issue type scheme to a project.<br><br>If any issues in the project are assigned issue types not present in the new scheme, the operation will fail. To complete the assignment those issues must be updated to use issue types in the new scheme.<br><br>Issue type schemes can only be assigned to classic projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianAssignissuetypeschemetoproject
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              issueTypeSchemeId: '10000'
              projectId: '10000'
            schema:
              $ref: '#/components/schemas/IssueTypeSchemeProjectAssociation'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["This issue type scheme can''t be assigned to the project. This is because some issues in this project use issue types not present in the scheme. Before assigning the scheme to the project, update the issue types on these issues: 7"],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access issue type schemes."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The issue type scheme was not found."],"errors":{}}'
          description: Returned if the issue type scheme or the project is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Assign Issue Type Scheme To Project
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue-type-scheme:jira
        - write:project:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/issuetypescheme/{issueTypeSchemeId}:
    delete:
      deprecated: false
      description: Deletes an issue type scheme.<br><br>Only issue type schemes used in classic projects can be deleted.<br><br>Any projects assigned to the scheme are reassigned to the default issue type scheme.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeleteissuetypescheme
      parameters:
      - description: The ID of the issue type scheme.
        in: path
        name: issueTypeSchemeId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the issue type scheme is deleted.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The default issue type scheme can''t be removed."],"errors":{}}'
          description: Returned if the request is to delete the default issue type scheme.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access issue type schemes."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The issue type scheme was not found."],"errors":{}}'
          description: Returned if the issue type scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Issue Type Scheme
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:issue-type-scheme:jira
        - write:project:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Updates an issue type scheme.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdateissuetypescheme
      parameters:
      - description: The ID of the issue type scheme.
        in: path
        name: issueTypeSchemeId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              defaultIssueTypeId: '10002'
              description: A collection of issue types suited to use in a kanban style project.
              name: Kanban Issue Type Scheme
            schema:
              $ref: '#/components/schemas/IssueTypeSchemeUpdateDetails'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The default issue type has to be one of the issue types of the scheme."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access issue type schemes."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The issue type scheme was not found."],"errors":{}}'
          description: Returned if the issue type scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Issue Type Scheme
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue-type-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/issuetypescheme/{issueTypeSchemeId}/issuetype:
    put:
      deprecated: false
      description: Adds issue types to an issue type scheme.<br><br>The added issue types are appended to the issue types list.<br><br>If any of the issue types exist in the issue type scheme, the operation fails and no issue types are added.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianAddissuetypestoissuetypescheme
      parameters:
      - description: The ID of the issue type scheme.
        in: path
        name: issueTypeSchemeId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              issueTypeIds:
              - '10000'
              - '10002'
              - '10003'
            schema:
              $ref: '#/components/schemas/IssueTypeIds'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["These issue types were not added because they are already present in the issue type scheme: 10002, 10003"],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access issue type schemes."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["These issue types were not found: 10000, 10002"],"errors":{}}'
          description: Returned if the issue type or the issue type scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Add Issue Types To Issue Type Scheme
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue-type-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/issuetypescheme/{issueTypeSchemeId}/issuetype/move:
    put:
      deprecated: false
      description: Changes the order of issue types in an issue type scheme.<br><br>The request body parameters must meet the following requirements:<br><br> *  all of the issue types must belong to the issue type scheme.<br> *  either `after` or `position` must be provided.<br> *  the issue type in `after` must not be in the issue type list.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianReorderissuetypesinissuetypescheme
      parameters:
      - description: The ID of the issue type scheme.
        in: path
        name: issueTypeSchemeId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              after: '10008'
              issueTypeIds:
              - '10001'
              - '10004'
              - '10002'
            schema:
              $ref: '#/components/schemas/OrderOfIssueTypes'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The issue type scheme does not include some of the specified issue types. Issue type IDs missing from the scheme are:  10007, 10008"],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access issue type schemes."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The issue type scheme was not found."],"errors":{}}'
          description: Returned if the issue type scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Change Order Of Issue Types
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue-type-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/issuetypescheme/{issueTypeSchemeId}/issuetype/{issueTypeId}:
    delete:
      deprecated: false
      description: Removes an issue type from an issue type scheme.<br><br>This operation cannot remove:<br><br> *  any issue type used by issues.<br> *  any issue types from the default issue type scheme.<br> *  the last standard issue type from an issue type scheme.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianRemoveissuetypefromissuetypescheme
      parameters:
      - description: The ID of the issue type scheme.
        in: path
        name: issueTypeSchemeId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the issue type.
        in: path
        name: issueTypeId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["Can''t remove the last standard issue type from the issue type scheme."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access issue type schemes."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The issue type was not found in the issue type scheme."],"errors":{}}'
          description: Returned if the issue type scheme is missing or the issue type is not found in the issue type scheme.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Remove Issue Type From Issue Type Scheme
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue-type-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/issuetypescheme:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of issue type schemes.<br><br>Only issue type schemes used in classic projects are returned.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetallissuetypeschemes
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: The list of issue type schemes IDs. To include multiple IDs, provide an ampersand-separated list. For example, `id=10000&id=10001`.
        in: query
        name: id
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      - description: "[Order](#ordering) the results by a field:\n\n *  `name` Sorts by issue type scheme name.\n *  `id` Sorts by issue type scheme ID."
        in: query
        name: orderBy
        schema:
          default: id
          enum:
          - name
          - -name
          - +name
          - id
          - -id
          - +id
          type: string
      - description: "Use [expand](#expansion) to include additional information in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `projects` For each issue type schemes, returns information about the projects the issue type scheme is assigned to.\n *  `issueTypes` For each issue type schemes, returns information about the issueTypes the issue type scheme have."
        in: query
        name: expand
        schema:
          default: ''
          type: string
      - description: String used to perform a case-insensitive partial match with issue type scheme name.
        in: query
        name: queryString
        schema:
          default: ''
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"startAt":0,"total":3,"values":[{"id":"10000","name":"Default Issue Type Scheme","description":"Default issue type scheme is the list of global issue types. All newly created issue types will automatically be added to this scheme.","defaultIssueTypeId":"10003","isDefault":true},{"id":"10001","name":"SUP: Kanban Issue Type Scheme","description":"A collection of issue types suited to use in a kanban style project.","projects":{"isLast":true,"maxResults":100,"startAt":0,"total":1,"values":[{"avatarUrls":{"16x16":"secure/projectavatar?size=xsmall&pid=10000","24x24":"secure/projectavatar?size=small&pid=10000","32x32":"secure/projectavatar?size=medium&pid=10000","48x48":"secure/projectavatar?size=large&pid=10000"},"id":"10000","key":"EX","name":"Example","projectCategory":{"description":"Project category description","id":"10000","name":"A project category"},"projectTypeKey":"ProjectTypeKey{key=''software''}","self":"project/EX","simplified":false}]}},{"id":"10002","name":"HR: Scrum issue type scheme","description":"","defaultIssueTypeId":"10004","issueTypes":{"isLast":true,"maxResults":100,"startAt":0,"total":1,"values":[{"description":"Improvement Issue Type","hierarchyLevel":-1,"iconUrl":"www.example.com","id":"1000L","name":"Improvements","subtask":true}]}}]}'
              schema:
                $ref: '#/components/schemas/PageBeanIssueTypeScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the required permissions.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get All Issue Type Schemes
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:issue-type-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    post:
      deprecated: false
      description: Creates an issue type scheme.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianCreateissuetypescheme
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              defaultIssueTypeId: '10002'
              description: A collection of issue types suited to use in a kanban style project.
              issueTypeIds:
              - '10001'
              - '10002'
              - '10003'
              name: Kanban Issue Type Scheme
            schema:
              $ref: '#/components/schemas/IssueTypeSchemeDetails'
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"issueTypeSchemeId":"10010"}'
              schema:
                $ref: '#/components/schemas/IssueTypeSchemeID'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The default issue type ID has to be present in issue type IDs list."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access issue type schemes."],"errors":{}}'
          description: Returned if the user does not have the required permissions.
        '409':
          content:
            application/json:
              example: '{"errorMessages":["The name is used by another scheme."],"errors":{}}'
          description: Returned if the scheme name is used by another scheme.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Create Issue Type Scheme
      tags:
      - Issue Type Schemes
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:issue-type-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    IssueTypeSchemeDetails:
      additionalProperties: false
      description: Details of an issue type scheme and its associated issue types.
      properties:
        defaultIssueTypeId:
          description: The ID of the default issue type of the issue type scheme. This ID must be included in `issueTypeIds`.
          type: string
          writeOnly: true
        description:
          description: The description of the issue type scheme. The maximum length is 4000 characters.
          type: string
          writeOnly: true
        issueTypeIds:
          description: The list of issue types IDs of the issue type scheme. At least one standard issue type ID is required.
          items:
            type: string
            writeOnly: true
          type: array
          writeOnly: true
        name:
          description: The name of the issue type scheme. The name must be unique. The maximum length is 255 characters.
          type: string
          writeOnly: true
      required:
      - issueTypeIds
      - name
      type: object
    PageBeanIssueTypeSchemeMapping:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/IssueTypeSchemeMapping'
          readOnly: true
          type: array
      type: object
    IssueTypeSchemeMapping:
      additionalProperties: false
      description: Issue type scheme item.
      properties:
        issueTypeId:
          description: The ID of the issue type.
          type: string
        issueTypeSchemeId:
          description: The ID of the issue type scheme.
          type: string
      required:
      - issueTypeId
      - issueTypeSchemeId
      type: object
    IssueTypeScheme:
      additionalProperties: false
      description: Details of an issue type scheme.
      properties:
        defaultIssueTypeId:
          description: The ID of the default issue type of the issue type scheme.
          type: string
        description:
          description: The description of the issue type scheme.
          type: string
        id:
          description: The ID of the issue type scheme.
          type: string
        isDefault:
          description: Whether the issue type scheme is the default.
          type: boolean
        name:
          description: The name of the issue type scheme.
          type: string
      required:
      - id
      - name
      type: object
    OrderOfIssueTypes:
      additionalProperties: false
      description: An ordered list of issue type IDs and information about where to move them.
      properties:
        after:
          description: The ID of the issue type to place the moved issue types after. Required if `position` isn't provided.
          type: string
          writeOnly: true
        issueTypeIds:
          description: A list of the issue type IDs to move. The order of the issue type IDs in the list is the order they are given after the move.
          items:
            type: string
            writeOnly: true
          type: array
          writeOnly: true
        position:
          description: The position the issue types should be moved to. Required if `after` isn't provided.
          enum:
          - First
          - Last
          type: string
          writeOnly: true
      required:
      - issueTypeIds
      type: object
    IssueTypeSchemeUpdateDetails:
      additionalProperties: false
      description: Details of the name, description, and default issue type for an issue type scheme.
      properties:
        defaultIssueTypeId:
          description: The ID of the default issue type of the issue type scheme.
          type: string
          writeOnly: true
        description:
          description: The description of the issue type scheme. The maximum length is 4000 characters.
          type: string
          writeOnly: true
        name:
          description: The name of the issue type scheme. The name must be unique. The maximum length is 255 characters.
          type: string
          writeOnly: true
      type: object
    IssueTypeSchemeProjectAssociation:
      additionalProperties: false
      description: Details of the association between an issue type scheme and project.
      properties:
        issueTypeSchemeId:
          description: The ID of the issue type scheme.
          type: string
          writeOnly: true
        projectId:
          description: The ID of the project.
          type: string
          writeOnly: true
      required:
      - issueTypeSchemeId
      - projectId
      type: object
    IssueTypeSchemeProjects:
      additionalProperties: false
      description: Issue type scheme with a list of the projects that use it.
      properties:
        issueTypeScheme:
          allOf:
          - $ref: '#/components/schemas/IssueTypeScheme'
          description: Details of an issue type scheme.
        projectIds:
          description: The IDs of the projects using the issue type scheme.
          items:
            type: string
          type: array
      required:
      - issueTypeScheme
      - projectIds
      type: object
    PageBeanIssueTypeSchemeProjects:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/IssueTypeSchemeProjects'
          readOnly: true
          type: array
      type: object
    IssueTypeSchemeID:
      additionalProperties: false
      description: The ID of an issue type scheme.
      properties:
        issueTypeSchemeId:
          description: The ID of the issue type scheme.
          readOnly: true
          type: string
      required:
      - issueTypeSchemeId
      type: object
    IssueTypeIds:
      additionalProperties: false
      description: The list of issue type IDs.
      properties:
        issueTypeIds:
          description: The list of issue type IDs.
          items:
            type: string
            writeOnly: true
          type: array
          writeOnly: true
      required:
      - issueTypeIds
      type: object
    PageBeanIssueTypeScheme:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/IssueTypeScheme'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
