openapi: 3.1.0
info:
  title: Atlassian Admin Account Pairs API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Pairs
paths:
  /repositories/{workspace}/{repo_slug}/pipelines_config/ssh/key_pair:
    get:
      tags:
      - Pairs
      summary: Atlassian Get Ssh Key Pair
      description: Retrieves the SSH key pair configured for Bitbucket Pipelines in a specific repository within a workspace. This endpoint returns the public and private SSH key that Pipelines uses to authenticate and access external resources during build and deployment processes. The key pair enables secure connections to remote servers, allowing pipelines to perform operations like deploying code or accessing private dependencies. Authentication is required to access this endpoint, and the requesting user must have appropriate permissions on the repository to view its pipeline configuration settings.
      operationId: getSshKeyPair
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The SSH key pair.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_ssh_key_pair'
              examples:
                pipeline-ssh-key-pair:
                  $ref: '#/components/examples/pipeline-ssh-key-pair'
        '404':
          description: The account, repository or SSH key pair was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Pairs
      summary: Atlassian Update Ssh Key Pair
      description: Updates the SSH key pair configuration for Bitbucket Pipelines in a specific repository, allowing you to modify the private and public SSH keys used for secure authentication during pipeline builds. This operation requires you to specify the workspace and repository slug in the URL path, and you must provide the updated SSH key pair details in the request body, typically including both the private key for authentication and the corresponding public key. The endpoint is commonly used when rotating credentials, updating access to external services, or changing deployment keys that pipelines use to interact with remote servers or services during automated builds and deployments.
      operationId: updateSshKeyPair
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipeline_ssh_key_pair'
            examples:
              pipeline-ssh-key-pair_2:
                $ref: '#/components/examples/pipeline-ssh-key-pair_2'
        description: The created or updated SSH key pair.
        required: true
      responses:
        '200':
          description: The SSH key pair was created or updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_ssh_key_pair'
              examples:
                pipeline-ssh-key-pair_2:
                  $ref: '#/components/examples/pipeline-ssh-key-pair_2'
        '404':
          description: The account, repository or SSH key pair was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Pairs
      summary: Atlassian Delete Ssh Key Pair
      description: This API operation deletes the configured SSH key pair associated with a specific Bitbucket Pipelines configuration for a repository. By sending a DELETE request to this endpoint with the workspace identifier and repository slug, administrators can remove the SSH key pair that was previously set up for secure authentication during pipeline executions. This is typically used when rotating credentials, revoking access, or when the key pair is no longer needed for the repository's CI/CD pipeline operations. Once deleted, pipelines that relied on this SSH key pair for authentication to external services or remote servers will no longer have access until a new key pair is configured.
      operationId: deleteSshKeyPair
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The SSH key pair was deleted.
        '404':
          description: The account, repository or SSH key pair was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    pipeline_ssh_key_pair:
      allOf:
      - $ref: '#/components/schemas/object'
      - additionalProperties: true
        type: object
        title: Pipeline SSH Key Pair
        description: A Pipelines SSH key pair.
        properties:
          private_key:
            type: string
            description: The SSH private key. This value will be empty when retrieving the SSH key pair.
          public_key:
            type: string
            description: The SSH public key.
  examples:
    pipeline-ssh-key-pair_2:
      private_key: '-----BEGIN RSA PRIVATE KEY-----

        MIIEpAIBAAKCAQEA...

        -----END RSA PRIVATE KEY-----'
      public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... user@example.com
    pipeline-ssh-key-pair:
      private_key: '-----BEGIN OPENSSH PRIVATE KEY-----

        b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn

        NhAAAAAwEAAQAAAYEAw5...

        -----END OPENSSH PRIVATE KEY-----'
      public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDDl5Z8xYzKj3pQ7vXmF2wN4Hx9rL8mK1pR9tE= user@example.com
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
