openapi: 3.1.0
info:
  title: Atlassian Admin Account Delete API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Delete
paths:
  /addon/linkers/{linker_key}/values:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: 'Delete all [linker](/cloud/bitbucket/modules/linker/) values for the

        specified linker of the authenticated application.'
      summary: Atlassian Delete Addon Linkers Key Values
      responses:
        '204':
          description: Successfully deleted the linker values.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: deleteAddonLinkersLinkerKeyValues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /addon/linkers/{linker_key}/values/{value_id}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    - name: value_id
      in: path
      description: The numeric ID of the linker value.
      required: true
      schema:
        type: integer
    delete:
      tags:
      - Delete
      description: 'Delete a single [linker](/cloud/bitbucket/modules/linker/) value

        of the authenticated application.'
      summary: Atlassian Delete Addon Linkers Key Values Value Id
      responses:
        '204':
          description: Successfully deleted the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: deleteAddonLinkersLinkerKeyValuesValueId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to permanently delete a specific comment from a pull request in a Bitbucket repository. By sending a DELETE request to the endpoint with the workspace identifier, repository slug, pull request ID, and comment ID, you can remove a previously posted comment from the pull request's discussion thread. This is useful for removing outdated, irrelevant, or erroneous comments, and typically requires appropriate permissions such as being the comment author or having administrative access to the repository. Once deleted, the comment cannot be recovered and will no longer be visible to other users reviewing the pull request.
      summary: Atlassian Delete Comment on Pull Request
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: If the authenticated user does not have access to delete the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: deleteCommentOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks/{task_id}:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: task_id
      in: path
      description: The ID of the task.
      required: true
      schema:
        type: integer
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: 'The Delete Task On Pull Request operation in the Atlassian Bitbucket Pull Requests API removes a specific task from a pull request by sending a DELETE request to the endpoint /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/tasks/{task_id}. This operation requires four path parameters: the workspace identifier, the repository slug, the pull request ID, and the task ID that uniquely identifies the task to be deleted. When successfully executed, this endpoint permanently removes the specified task from the pull request, which is useful for cleaning up completed tasks, removing obsolete action items, or managing the task list associated with code review processes. The operation requires appropriate authentication and permissions to modify tasks within the specified repository and pull request.'
      summary: Atlassian Delete Task on Pull Request
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: If the authenticated user does not have access to delete the task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the task does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: deleteTaskOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pullrequest_id}/properties/{app_key}/{property_name}:
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deletePullRequestApplicationProperty
      summary: Atlassian Delete Pull Request Application Property
      description: This API operation allows you to delete a specific application property associated with a pull request in a Bitbucket repository. The endpoint requires you to specify the workspace, repository slug, pull request ID, application key, and property name in the URL path. When executed with a DELETE request, it removes the custom property data that was previously stored by an application for that particular pull request, effectively cleaning up application-specific metadata. This is useful for Bitbucket Connect apps or integrations that need to manage their own custom data associated with pull requests and want to remove properties that are no longer needed or relevant.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Delete
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: The Delete Repository operation in the Atlassian Bitbucket Repositories API allows you to permanently remove a repository from a workspace by sending a DELETE request to the `/repositories/{workspace}/{repo_slug}` endpoint. This operation requires you to specify both the workspace identifier and the repository slug in the URL path. Once executed, the repository and all its associated data, including source code, branches, commits, and pull requests, will be irreversibly deleted from Bitbucket. This is a destructive action that typically requires appropriate permissions, such as administrator access to the repository, and should be used with caution as it cannot be undone.
      summary: Atlassian Delete Repository
      responses:
        '204':
          description: Indicates successful deletion.
        '403':
          description: If the caller either does not have admin access to the repository, or the repository is set to read-only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: redirect_to
        in: query
        description: 'If a repository has been moved to a new location, use this parameter to

          show users a friendly message in the Bitbucket UI that the repository

          has moved to a new location. However, a GET to this endpoint will still

          return a 404.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository:delete
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - delete:repository:bitbucket
      operationId: deleteRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/branch-restrictions/{id}:
    parameters:
    - name: id
      in: path
      description: The restriction rule's id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: The Delete Branch Restriction Rule operation in the Atlassian Bitbucket Repositories API allows you to remove a specific branch restriction rule from a repository by making a DELETE request to the endpoint /repositories/{workspace}/{repo_slug}/branch-restrictions/{id}. This operation requires you to specify the workspace name, repository slug, and the unique identifier of the branch restriction rule you want to delete. Branch restrictions are used to enforce policies on branches, such as preventing direct pushes, requiring pull requests, or limiting who can merge changes. By deleting a branch restriction rule, you effectively remove those constraints from the specified branches in your repository. This operation is useful when you need to modify your repository's branch protection strategy, remove outdated restrictions, or adjust team workflows. Authentication and appropriate permissions are required to execute this operation successfully, as it affects repository security and collaboration policies.
      summary: Atlassian Delete Branch Restriction Rule
      responses:
        '204':
          description: ''
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or branch restriction id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:repository:bitbucket
      operationId: deleteBranchRestrictionRule
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to delete a specific comment from a commit in a Bitbucket repository. By making a DELETE request to the endpoint with the appropriate workspace identifier, repository slug, commit hash, and comment ID, you can permanently remove a comment that was previously added to a commit. This is useful for managing discussions around code changes, removing outdated feedback, or cleaning up inappropriate comments. The operation requires proper authentication and authorization, ensuring that only users with sufficient permissions can delete comments from commits in the specified repository.
      summary: Atlassian Delete Commit Comment
      responses:
        '204':
          description: Indicates the comment was deleted by this action or a previous delete.
        '404':
          description: If the comment doesn't exist
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: deleteCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}:
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deleteCommitApplicationProperty
      summary: Atlassian Delete Commit Application Property
      description: Removes a specific application property associated with a commit in a Bitbucket repository. This operation allows applications to delete custom metadata they previously stored against a particular commit, identified by the workspace, repository slug, commit hash, application key, and property name. Once deleted, the property and its associated value are permanently removed from the commit's application properties collection. This is useful for cleaning up outdated or no longer needed custom data that applications have attached to commits for tracking, automation, or integration purposes.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: commit
        description: The commit.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Delete
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}:
    delete:
      tags:
      - Delete
      description: This API operation removes a specific code insights report that was previously created for a particular commit in a Bitbucket repository. By sending a DELETE request to this endpoint with the workspace identifier, repository slug, commit hash, and report ID, you can permanently delete the associated report and all its data, including any annotations or results that were attached to it. This is useful when you want to clean up outdated or erroneous reports, or when a CI/CD pipeline needs to remove reports from previous analysis runs before creating new ones.
      summary: Atlassian Delete Report
      operationId: deleteReport
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: No content
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations/{annotationId}:
    delete:
      tags:
      - Delete
      description: Deletes a specific annotation from a report associated with a commit in a Bitbucket repository. This operation removes an individual annotation identified by its unique annotationId from a report (specified by reportId) that was previously attached to a particular commit. The annotation could represent various code analysis findings such as linting errors, security vulnerabilities, or test failures that were previously reported through Bitbucket's commit insights feature. Once deleted, the annotation will no longer appear in the commit's report overview or affect the overall report status, allowing teams to clean up outdated or incorrect analysis results while maintaining the integrity of their code review and CI/CD workflows.
      summary: Atlassian Delete an Annotation
      operationId: deleteAnAnnotation
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the annotation belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      - name: annotationId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: No content
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deploy-keys/{key_id}:
    parameters:
    - name: key_id
      in: path
      description: The key ID matching the deploy key.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation removes a specific deploy key from a Bitbucket repository by sending a DELETE request to the endpoint with the workspace identifier, repository slug, and deploy key ID as path parameters. Deploy keys are SSH keys that grant read-only or read-write access to a repository, typically used for automated deployment processes or CI/CD pipelines. When this operation is executed successfully, it permanently deletes the specified deploy key from the repository, revoking any access that was previously granted through that key. This is useful for security management, such as when rotating keys, removing access for deprecated deployment systems, or cleaning up unused authentication credentials. The operation requires appropriate permissions on the repository to manage deploy keys.
      summary: Atlassian Delete Repository Deploy Key
      responses:
        '204':
          description: The key has been deleted
        '403':
          description: If the current user does not have permission to delete a key for the specified user
        '404':
          description: If the specified user, repository, or deploy key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: deleteRepositoryDeployKey
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deployments_config/environments/{environment_uuid}/variables/{variable_uuid}:
    delete:
      tags:
      - Delete
      description: This API operation allows you to delete a specific deployment variable associated with an environment in a Bitbucket repository. By providing the workspace identifier, repository slug, environment UUID, and variable UUID in the request path, you can permanently remove a variable that was previously configured for deployment purposes. This is useful when cleaning up unused configuration variables or removing sensitive information that is no longer needed for your deployment pipeline. The deletion is performed via an HTTP DELETE request and requires appropriate authentication and permissions to modify deployment environment settings within the specified Bitbucket repository.
      summary: Atlassian Delete Variable for an Environment
      operationId: deleteVariableForAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted.
        '404':
          description: The account, repository, environment or variable with given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/downloads/{filename}:
    parameters:
    - name: filename
      in: path
      description: Name of the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: 'The Delete Download Artifact operation in the Atlassian Bitbucket Repositories API allows users to remove a specific download artifact from a repository by making a DELETE request to the endpoint /repositories/{workspace}/{repo_slug}/downloads/{filename}. This operation requires three path parameters: the workspace identifier, the repository slug, and the exact filename of the artifact to be deleted. When executed successfully, it permanently removes the specified file from the repository''s downloads section, which is typically used for storing release artifacts, binaries, or other distributable files associated with the repository. This operation is useful for managing repository storage, removing outdated releases, or cleaning up unnecessary files from the downloads area.'
      summary: Atlassian Delete Download Artifact
      responses:
        '204':
          description: The specified download artifact was deleted.
        '403':
          description: User is not authorized to write to the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified download does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: deleteDownloadArtifact
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/environments/{environment_uuid}:
    delete:
      tags:
      - Delete
      description: This API operation allows you to permanently remove a specific deployment environment from a Bitbucket repository by sending a DELETE request to the endpoint with the workspace identifier, repository slug, and environment UUID as path parameters. When executed, it deletes the environment configuration and all associated settings, which may include environment variables, deployment restrictions, and deployment history tied to that particular environment. This is typically used when an environment is no longer needed, such as when decommissioning a staging or testing environment, and requires appropriate permissions to execute successfully.
      summary: Atlassian Delete an Environment
      operationId: deleteAnEnvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The environment was deleted.
        '404':
          description: No account or repository with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/hooks/{uid}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: uid
      in: path
      description: Installed webhook's ID
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: Deletes a specific webhook from a Bitbucket repository by removing the webhook configuration identified by its unique identifier (uid) from the specified repository within a workspace. This operation requires the workspace slug, repository slug, and the webhook's unique ID as path parameters, and upon successful execution, permanently removes the webhook so it will no longer trigger for repository events. Authentication with appropriate permissions is required to perform this destructive action, and the deletion cannot be undone through the API.
      summary: Atlassian Delete Webhook for Repository
      responses:
        '204':
          description: When the webhook was deleted successfully
        '403':
          description: If the authenticated user does not have permission to delete the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: deleteWebhookForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to permanently delete a specific issue from a Bitbucket repository by sending a DELETE request to the endpoint with the workspace identifier, repository slug, and issue ID as path parameters. When executed successfully, it removes the issue and all associated data from the repository's issue tracker, making it an irreversible action that should be used with caution. The operation requires appropriate permissions within the workspace and repository to perform the deletion, and it's typically used for removing duplicate, spam, or mistakenly created issues from the project's issue tracking system.
      summary: Atlassian Delete an Issue
      responses:
        '200':
          description: The issue object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
        '403':
          description: When the authenticated user isn't authorized to delete the issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: deleteAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/attachments/{path}:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to delete a specific attachment from an issue in a Bitbucket repository by providing the workspace identifier, repository slug, issue ID, and the path or filename of the attachment you wish to remove. When executed, it permanently removes the designated file attachment that was previously uploaded to the specified issue, helping to manage and maintain issue-related documentation and files within your Bitbucket workspace. The operation requires appropriate permissions to modify issue attachments in the target repository.
      summary: Atlassian Delete an Attachment for an Issue
      responses:
        '204':
          description: Indicates that the deletion was successful
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: deleteAnAttachmentForAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to delete a specific comment from an issue in a Bitbucket repository. By sending a DELETE request to the endpoint with the workspace ID, repository slug, issue ID, and comment ID, you can permanently remove a comment that was previously added to an issue. This is useful for removing outdated, incorrect, or inappropriate comments from issue discussions. The authenticated user must have appropriate permissions to delete the comment, typically requiring either ownership of the comment or administrative access to the repository. Once deleted, the comment cannot be recovered and will be removed from the issue's comment thread.
      summary: Atlassian Delete Comment on an Issue
      responses:
        '204':
          description: Indicates successful deletion.
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: deleteCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/permissions-config/groups/{group_slug}:
    parameters:
    - name: group_slug
      in: path
      description: Slug of the requested group.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation removes an explicitly granted permission for a specific group from a Bitbucket repository. It targets a particular group identified by its slug within a repository (specified by workspace and repository slug) and deletes the permission configuration that was directly assigned to that group. This endpoint is useful when you need to revoke repository access rights that were previously granted to a team or group, requiring authentication and appropriate administrative privileges. The operation uses the DELETE HTTP method and returns a success status when the group permission is successfully removed from the repository's access control list.
      summary: Atlassian Delete an Explicit Group Permission for Repository
      responses:
        '204':
          description: Group permission deleted
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The workspace does not exist, the repository does not exist, or the group does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      operationId: deleteAnExplicitGroupPermissionForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/permissions-config/users/{selected_user_id}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: selected_user_id
      in: path
      description: 'This can either be the UUID of the account, surrounded by curly-braces, for

        example: `{account UUID}`, OR an Atlassian Account ID.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: 'This API operation removes an explicitly granted permission for a specific user from a Bitbucket repository by sending a DELETE request to the endpoint /repositories/{workspace}/{repo_slug}/permissions-config/users/{selected_user_id}. The operation requires three path parameters: the workspace identifier, the repository slug, and the selected user''s ID whose permission is being revoked. When executed, it deletes the direct permission assignment for that user on the specified repository, meaning the user will no longer have the explicitly granted access level unless they inherit permissions through group membership or workspace-level settings. This is useful for repository administrators who need to revoke individual user access without affecting other users or group-based permissions.'
      summary: Atlassian Delete an Explicit User Permission for Repository
      responses:
        '204':
          description: The repository user permission was deleted and no content returned.
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the repository, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, repository, and user doesn't exist for the given identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      operationId: deleteAnExplicitUserPermissionForRepository
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines-config/caches:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete Caches
      description: The Atlassian Bitbucket Repositories API delete operation on the /repositories/{workspace}/{repo_slug}/pipelines-config/caches endpoint allows users to remove cached data associated with a specific repository's pipeline configuration. This operation requires authentication and proper permissions within the specified workspace and repository. When invoked, it clears the pipeline caches that have been stored to optimize build times, forcing subsequent pipeline runs to rebuild dependencies and artifacts from scratch. This is particularly useful when cached data becomes corrupted, outdated, or when you need to ensure a clean build environment. The operation accepts the workspace identifier and repository slug as path parameters to target the specific repository whose pipeline caches should be deleted.
      operationId: deleteCaches
      parameters:
      - name: workspace
        description: The account.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: name
        description: The cache name.
        required: true
        in: query
        schema:
          type: string
      responses:
        '204':
          description: The caches were deleted.
        '404':
          description: The workspace, repository or cache name was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines-config/caches/{cache_uuid}:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete Cache
      description: Deletes a specific build cache from a Bitbucket repository's pipeline configuration using the cache's unique identifier. This operation removes cached dependencies, compiled artifacts, or other stored data that pipelines use to speed up build times, requiring authentication and appropriate permissions for the specified workspace and repository. Once deleted, the cache cannot be recovered and pipelines will need to rebuild the cache on subsequent runs.
      operationId: deleteCache
      parameters:
      - name: workspace
        description: The account.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: cache_uuid
        description: The UUID of the cache to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The cache was deleted.
        '404':
          description: The workspace, repository or cache_uuid with given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/schedules/{schedule_uuid}:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete Schedule
      description: 'The Delete Schedule operation in the Atlassian Bitbucket Repositories API allows users to remove a specific pipeline schedule from a repository by making a DELETE request to the endpoint /repositories/{workspace}/{repo_slug}/pipelines_config/schedules/{schedule_uuid}. This operation requires three path parameters: the workspace identifier, the repository slug, and the unique UUID of the schedule to be deleted. When executed successfully, it permanently removes the automated pipeline execution schedule from the specified repository, preventing any future pipeline runs that were configured under that schedule. This is useful for cleaning up outdated or no longer needed automation configurations, and typically requires appropriate permissions within the workspace and repository to execute.'
      operationId: deleteSchedule
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: schedule_uuid
        description: The uuid of the schedule.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The schedule was deleted.
        '404':
          description: The account, repository or schedule was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/ssh/key_pair:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete Ssh Key Pair
      description: This API operation deletes the configured SSH key pair associated with a specific Bitbucket Pipelines configuration for a repository. By sending a DELETE request to this endpoint with the workspace identifier and repository slug, administrators can remove the SSH key pair that was previously set up for secure authentication during pipeline executions. This is typically used when rotating credentials, revoking access, or when the key pair is no longer needed for the repository's CI/CD pipeline operations. Once deleted, pipelines that relied on this SSH key pair for authentication to external services or remote servers will no longer have access until a new key pair is configured.
      operationId: deleteSshKeyPair
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The SSH key pair was deleted.
        '404':
          description: The account, repository or SSH key pair was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/ssh/known_hosts/{known_host_uuid}:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete Known Host
      description: This API operation removes a specific SSH known host entry from a Bitbucket repository's Pipelines configuration by providing the workspace identifier, repository slug, and the unique UUID of the known host to be deleted. Known hosts are SSH server fingerprints that Pipelines uses to verify the identity of remote servers during SSH connections, and deleting a known host entry means that the repository's pipeline will no longer have that server's SSH key fingerprint stored for authentication purposes. This DELETE request is typically used when a known host is no longer needed, has been compromised, or when the server's SSH keys have changed and need to be re-added with updated fingerprints. The operation requires appropriate authentication and authorization permissions for the specified repository and workspace, and upon successful deletion, the known host will be permanently removed from the Pipelines SSH configuration for that repository.
      operationId: deleteKnownHost
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: known_host_uuid
        description: The UUID of the known host to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The known host was deleted.
        '404':
          description: The account, repository or known host with given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pipelines_config/variables/{variable_uuid}:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete Variable for Repository
      description: Deletes a specific pipeline variable from a Bitbucket repository's configuration by targeting its unique identifier. This operation removes the variable identified by the variable_uuid parameter from the specified repository within the given workspace, permanently eliminating it from the pipeline's environment variables. Once deleted, the variable will no longer be available for use in any pipeline executions for that repository, and this action cannot be undone. The operation requires appropriate permissions on the repository and is commonly used when cleaning up unused variables, removing sensitive information, or managing pipeline configuration changes. Authentication is required, and the workspace, repository slug, and variable UUID must all be provided as path parameters to successfully identify and delete the target variable.
      operationId: deleteVariableForRepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted.
        '404':
          description: The account, repository or variable with given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/properties/{app_key}/{property_name}:
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deleteRepositoryApplicationProperty
      summary: Atlassian Delete Repository Application Property
      description: This API operation allows you to delete a specific application property associated with a Bitbucket repository within a given workspace. By sending a DELETE request to the endpoint with the workspace identifier, repository slug, application key, and property name as path parameters, you can remove custom metadata or configuration data that was previously stored against the repository by a specific application. This is particularly useful for cleaning up application-specific settings, removing obsolete configuration values, or managing the lifecycle of properties created by Atlassian Connect apps or other integrations that extend Bitbucket's functionality. The operation requires appropriate permissions to modify repository settings and will permanently remove the specified property from the repository's application property collection.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Delete
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/refs/branches/{name}:
    parameters:
    - name: name
      in: path
      description: The name of the branch.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to delete a specific branch from a repository in Bitbucket Cloud. By sending a DELETE request to the endpoint with the workspace ID, repository slug, and branch name, you can permanently remove the specified branch from the repository. This is useful for cleaning up merged feature branches, removing obsolete code branches, or managing your repository's branch structure. The operation requires appropriate permissions on the repository, and once executed, the branch and its reference will be removed, though the commits themselves may still be accessible through the repository's history if they were previously merged or referenced elsewhere.
      summary: Atlassian Delete Branch
      responses:
        '204':
          description: Indicates that the specified branch was successfully deleted.
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or branch does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: deleteBranch
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/refs/tags/{name}:
    parameters:
    - name: name
      in: path
      description: The name of the tag.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to delete a specific tag from a Bitbucket repository by making a DELETE request to the endpoint with the workspace identifier, repository slug, and tag name as path parameters. When executed, it permanently removes the named tag reference from the specified repository, though it's important to note that this action does not delete the commit that the tag was pointing to, only the tag reference itself. This is useful for removing obsolete or incorrectly created tags from your repository's version control system, and typically requires appropriate write permissions on the repository to execute successfully.
      summary: Atlassian Delete Tag
      responses:
        '204':
          description: Indicates the specified tag was successfully deleted.
        '403':
          description: 'If the repository is private and the authenticated user does not have

            access to it.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified repository or tag does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: deleteTag
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: The Delete Snippet operation in the Atlassian Bitbucket Snippets API allows users to permanently remove a specific snippet from a workspace by sending a DELETE request to the endpoint /snippets/{workspace}/{encoded_id}, where {workspace} represents the workspace identifier and {encoded_id} is the unique encoded identifier of the snippet to be deleted. This operation requires appropriate authentication and permissions, as only the snippet owner or users with sufficient workspace privileges can delete snippets. Once executed successfully, the snippet and all its associated data, including files, comments, and revision history, are permanently removed from the system and cannot be recovered. The API typically returns a 204 No Content status code upon successful deletion or appropriate error codes if the snippet doesn't exist, the user lacks permissions, or other issues occur during the deletion process.
      summary: Atlassian Delete Snippet
      responses:
        '204':
          description: If the snippet was deleted successfully.
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have permission to delete the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: deleteSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: 'This API operation allows you to delete a specific comment from a snippet in a Bitbucket workspace. The endpoint requires three path parameters: the workspace identifier where the snippet resides, the encoded ID of the snippet itself, and the unique comment ID that you want to remove. When invoked with a DELETE HTTP method, it permanently removes the specified comment from the snippet, requiring appropriate authentication and permissions to execute successfully. This is useful for moderating discussions, removing outdated information, or cleaning up unwanted comments on code snippets shared within your Bitbucket workspace.'
      summary: Atlassian Delete Comment on Snippet
      responses:
        '204':
          description: Indicates the comment was deleted successfully.
        '403':
          description: If the authenticated user is not the author of the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment or the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: deleteCommentOnSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/{node_id}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: node_id
      in: path
      description: A commit revision (SHA1).
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to delete a specific previous revision of a snippet in Atlassian Bitbucket by providing the workspace identifier, the encoded snippet ID, and the node ID of the particular revision you want to remove. The deletion is permanent and removes only the specified historical version while preserving other revisions and the current state of the snippet. This is useful for managing snippet history, removing outdated or incorrect versions, or cleaning up revision clutter within a workspace. Authentication is required to perform this operation, and the user must have appropriate permissions to modify snippets within the specified workspace.
      summary: Atlassian Delete Previous Revision of Snippet
      responses:
        '204':
          description: If the snippet was deleted successfully.
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have permission to delete the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '405':
          description: If `{node_id}` is not the latest revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: deletePreviousRevisionOfSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /teams/{username}/pipelines_config/variables/{variable_uuid}:
    delete:
      tags:
      - Delete
      deprecated: true
      summary: Atlassian Delete Variable for Team
      description: This API operation allows you to permanently remove a specific pipeline configuration variable from a Teams settings in Bitbucket. By sending a DELETE request to the endpoint with the Teams username and the unique identifier (UUID) of the variable you want to remove, you can delete variables that were previously configured for use in the Teams CI/CD pipelines. This is useful when cleaning up obsolete configuration values, removing sensitive information that's no longer needed, or managing the Teams pipeline environment variables as part of regular maintenance operations.
      operationId: deleteVariableForTeam
      parameters:
      - name: username
        description: The account.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted
        '404':
          description: The account or the variable with the provided UUID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/pipelines_config/variables/{variable_uuid}:
    delete:
      tags:
      - Delete
      deprecated: true
      summary: Atlassian Delete Variable for User
      description: This API operation removes a specific pipeline configuration variable associated with a Bitbucket user account by referencing the variable's unique identifier (UUID) and the target user. When executed, it permanently deletes the specified variable from the Users pipelines configuration, which means the variable will no longer be available for use in any pipeline executions related to that user. This DELETE operation requires both the selected_user parameter to identify the Bitbucket user account and the variable_uuid parameter to specify which exact variable should be removed from the Users pipeline configuration settings.
      operationId: deleteVariableForUser
      parameters:
      - name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted
        '404':
          description: The account or the variable with the provided UUID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/properties/{app_key}/{property_name}:
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deleteUserApplicationProperty
      summary: Atlassian Delete User Application Property
      description: This API operation allows you to delete a specific application property associated with a Bitbucket user. By providing the selected Users identifier, the application key, and the property name in the request path, you can remove custom metadata or configuration data that was previously stored for that user within a particular application context. This is useful for cleaning up user-specific settings, removing outdated configuration values, or managing application data lifecycle when certain properties are no longer needed for a given user and application combination.
      parameters:
      - required: true
        in: path
        name: selected_user
        description: Either the UUID of the account surrounded by curly-braces, for example `{account UUID}`, OR an Atlassian Account ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Delete
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{selected_user}/ssh-keys/{key_id}:
    parameters:
    - name: key_id
      in: path
      description: The SSH key's UUID value.
      required: true
      schema:
        type: string
    - name: selected_user
      in: path
      description: 'This can either be an Atlassian Account ID OR the UUID of the account,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation allows you to delete a specific SSH key associated with a Bitbucket user account by providing the username and the unique key identifier in the endpoint path. When executed via a DELETE request to `/users/{selected_user}/ssh-keys/{key_id}`, it permanently removes the specified SSH key from the user's account, revoking that key's access to Bitbucket repositories. This is commonly used when rotating security credentials, removing access for compromised keys, or cleaning up unused SSH keys from user accounts. The operation requires appropriate authentication and authorization to ensure only authorized parties can remove SSH keys from user accounts.
      summary: Atlassian Delete Ssh Key
      responses:
        '204':
          description: The key has been deleted
        '400':
          description: If the submitted key or related value is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the current user does not have permission to add a key for the specified user
        '404':
          description: If the specified user does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: deleteSshKey
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects/{project_key}/permissions-config/users/{selected_user_id}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: selected_user_id
      in: path
      description: 'This can either be the username, the Users UUID surrounded by curly-braces,

        for example: {account UUID}, or the Users Atlassian ID.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation removes an explicitly assigned permission for a specific user within a Bitbucket project by making a DELETE request to the specified endpoint. It requires the workspace slug, project key, and the selected user's ID as path parameters to identify and revoke the user's direct access rights to the project. This operation is useful for project administrators who need to manage team access by removing individual user permissions, though it only affects explicit permissions and does not impact permissions inherited through group memberships or workspace-level access. Upon successful deletion, the user will lose their direct permission assignment for the specified project unless they retain access through other means.
      summary: Atlassian Delete an Explicit User Permission for Project
      responses:
        '204':
          description: The project user permission was deleted and no content returned.
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and selected user doesn't exist for the given identifiers or the requesting user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: deleteAnExplicitUserPermissionForProject
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/hooks/{uid}:
    parameters:
    - name: uid
      in: path
      description: Installed webhook's ID
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: 'The DELETE operation on the /workspaces/{workspace}/hooks/{uid} endpoint in the Atlassian Bitbucket Workspaces API removes a specific webhook from a workspace. This endpoint requires two path parameters: the workspace identifier and the unique identifier (uid) of the webhook to be deleted. When executed successfully, it permanently removes the webhook configuration, stopping all future webhook event notifications from being sent to the previously configured URL for that workspace. This operation is typically used when a webhook is no longer needed, when cleaning up old integrations, or when reconfiguring webhook settings by removing the old webhook before creating a new one. Authentication and appropriate workspace permissions are required to perform this delete operation.'
      summary: Atlassian Delete a Webhook for a Workspace
      responses:
        '204':
          description: When the webhook was deleted successfully
        '403':
          description: If the authenticated user does not have permission to delete the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAWebhookForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/pipelines-config/variables/{variable_uuid}:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete a Variable for a Workspace
      description: This API operation allows you to delete a specific pipeline variable from an Atlassian Bitbucket workspace by making a DELETE request to the endpoint with the workspace identifier and the unique UUID of the variable you wish to remove. Pipeline variables are typically used to store configuration values, secrets, or environment-specific settings that are used during the execution of Bitbucket Pipelines, and removing a variable through this endpoint will permanently delete it from the workspace's pipeline configuration, making it unavailable for any future pipeline runs that previously referenced it.
      operationId: atlassianDeletepipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted
        '404':
          description: The workspace or the variable with the provided UUID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects/{project_key}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: 'The delete operation on the `/workspaces/{workspace}/projects/{project_key}` endpoint in the Atlassian Bitbucket Workspaces API permanently removes a specified project from a workspace. This operation requires authentication and appropriate permissions to delete projects within the designated workspace. When executed, it takes two path parameters: the workspace identifier and the project key that uniquely identifies the project to be deleted. Upon successful deletion, the project and its associated metadata are removed from the workspace, though this typically does not affect the repositories contained within the project unless specifically configured to do so. This is a destructive operation that cannot be undone, so it should be used with caution in production environments.'
      summary: Atlassian Delete a Project for a Workspace
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: The requesting user isn't authorized to delete the project or the project isn't empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A project isn't hosted at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianDeleteAProjectForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects/{project_key}/permissions-config/groups/{group_slug}:
    parameters:
    - name: group_slug
      in: path
      description: Slug of the requested group.
      required: true
      schema:
        type: string
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Delete
      description: This API operation removes an explicitly granted group permission from a specific project within a Bitbucket workspace by sending a DELETE request to the designated endpoint, which requires the workspace identifier, project key, and group slug as path parameters to target the exact permission configuration that needs to be revoked, effectively revoking that group's direct access rights to the project while potentially leaving inherited or other permission types intact, allowing workspace administrators to maintain granular control over project-level access by selectively removing group permissions without affecting individual user permissions or other security settings associated with the project.
      summary: Atlassian Delete an Explicit Group Permission for a Project
      responses:
        '204':
          description: The project group permission was deleted and no content returned.
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and group doesn't exist                               for the given identifiers or the requesting user is not                               authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAnExplicitGroupPermissionForAProject
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/pageTree:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete Page Tree
      description: This API operation permanently deletes an entire page tree in Atlassian Confluence, starting from the specified page ID and including all of its child pages and descendants. When executed via a DELETE request to the endpoint, it removes not just the target page but cascades the deletion through the complete hierarchical structure beneath it, making it a powerful but potentially destructive operation that should be used with caution. The operation requires appropriate permissions and the page ID must be provided as a path parameter to identify which page tree to delete.
      operationId: deletePageTree
      parameters:
      - name: id
        in: path
        description: The ID of the content which forms root of the page tree, to be deleted.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Returned if the request to trash content and all its current page descendants, is successfully accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongTask'
        '400':
          description: Returned if the content id is invalid or id does not represents a 'CURRENT' page.
          content: {}
        '401':
          description: 'Returned if the authentication credentials are incorrect or missing

            from the request.'
          content: {}
        '403':
          description: Returned if the calling user can not delete the content with specified id.
          content: {}
        '404':
          description: 'Returned if;


            - There is no content with the given ID.

            - The requesting user does not have permission to trash the content or any of it''s descendant pages.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - write:confluence-content
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - write:confluence-content
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - delete:content:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: DELETE
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/property/{key}:
    delete:
      tags:
      - Delete
      summary: Atlassian Delete Content Property
      deprecated: true
      description: The Delete Content Property operation removes a specific property from a Confluence content item by making a DELETE request to the endpoint with the content ID and property key as path parameters. This API call permanently deletes custom metadata or additional information that was previously attached to a page, blog post, or other content type, allowing developers to clean up obsolete properties or manage content attributes programmatically. Authentication is required, and successful deletion typically returns a 204 No Content response, while attempting to delete a non-existent property will result in a 404 error.
      operationId: deleteContentProperty
      parameters:
      - name: id
        in: path
        description: The ID of the content that the property belongs to.
        required: true
        schema:
          type: string
      - name: key
        in: path
[...]
