openapi: 3.1.0
info:
  title: Atlassian Admin Account Specific API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Specific
paths:
  /workspaces/{workspace}/projects/{project_key}/default-reviewers/{selected_user}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This can either be the actual `key` assigned

        to the project or the `UUID` (surrounded by curly-braces (`{}`)).

        '
      required: true
      schema:
        type: string
    - name: selected_user
      in: path
      description: 'This can either be the username or the UUID of the default reviewer,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Specific
      description: This API operation removes a specific user from the default reviewers list for a given project within a Bitbucket workspace. When invoked, it performs a DELETE request to the endpoint /workspaces/{workspace}/projects/{project_key}/default-reviewers/{selected_user}, where the workspace parameter identifies the workspace containing the project, project_key specifies the particular project, and selected_user indicates the user to be removed from the default reviewers. Once executed, the specified user will no longer be automatically added as a reviewer for new pull requests created in that project, though existing pull request assignments remain unaffected. This operation requires appropriate administrative permissions for the project and helps teams manage their code review workflows by controlling who is automatically involved in the review process.
      summary: Atlassian Remove the Specific User From the Project S Default Reviewers
      responses:
        '204':
          description: The specified user was removed from the list of project default reviewers
        '400':
          description: If the specified user is not a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianRemoveTheSpecificUserFromTheProjectSDefaultReviewers
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Specific
      description: This PUT operation adds a specified user as a default reviewer for a particular project within a Bitbucket workspace. By targeting the endpoint with the workspace slug, project key, and the selected user's identifier, it configures that user to be automatically added as a reviewer on all new pull requests created in the project. This helps streamline the code review process by ensuring designated team members are consistently included in pull request reviews without manual assignment, making it useful for maintaining quality control and ensuring appropriate oversight across a project's development workflow.
      summary: Atlassian Add the Specific User as a Default Reviewer for the Project
      responses:
        '200':
          description: The specified user was added as a project default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
              examples:
                user_2:
                  $ref: '#/components/examples/user_2'
        '400':
          description: If the specified user cannot be added as a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianAddTheSpecificUserAsADefaultReviewerForTheProject
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    user_2:
      links:
        self:
          href: https://api.bitbucket.org/2.0/users/example-user
        html:
          href: https://bitbucket.org/example-user
        avatar:
          href: https://avatar-management.example.com/avatar/123
      account_id: 5d5355e8c6b9320d9ea5b28d
      account_status: active
      has_2fa_enabled: true
      nickname: john_doe
      is_staff: false
      website: https://johndoe.example.com
  schemas:
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    user_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: User Links
        description: Links related to a User.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
          example: https://www.example.com
        name:
          type: string
          example: Example Title
      additionalProperties: false
    user:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: User
        description: A user object.
        properties:
          links:
            $ref: '#/components/schemas/user_links'
          account_id:
            type: string
            description: The user's Atlassian account ID.
          account_status:
            type: string
            description: The status of the account. Currently the only possible value is "active", but more values may be added in the future.
          has_2fa_enabled:
            type: boolean
          nickname:
            type: string
            description: Account name defined by the owner. Should be used instead of the "username" field. Note that "nickname" cannot be used in place of "username" in URLs and queries, as "nickname" is not guaranteed to be unique.
          is_staff:
            type: boolean
          website:
            type: string
        additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
