openapi: 3.1.0
info:
  title: Atlassian Admin Account Service Registry API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- description: This resource represents a service registry. Use it to retrieve attributes related to a [service registry](https://support.atlassian.com/jira-service-management-cloud/docs/what-is-services/) in JSM.
  name: Service Registry
paths:
  /rest/atlassian-connect/1/service-registry:
    get:
      deprecated: false
      description: Retrieve the attributes of given service registries.<br><br>**[Permissions](#permissions) required:** Only Connect apps can make this request and the servicesIds belong to the tenant you are requesting
      operationId: atlassianServiceregistryresourceServicesGet
      parameters:
      - description: The ID of the services (the strings starting with "b:" need to be decoded in Base64).
        example: '["ari:cloud:graph::service/ca075ed7-6ea7-4563-acb3-000000000000/f51d7252-61e0-11ee-b94d-000000000000", "ari:cloud:graph::service/ca075ed7-6ea7-4563-acb3-000000000000/f51d7252-61e0-11ee-b94d-000000000001"]'
        explode: true
        in: query
        name: serviceIds
        required: true
        schema:
          items:
            type: string
          maxItems: 20
          minItems: 1
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceRegistry'
                type: array
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: The request needs to be authenticated.
        '403':
          description: The request isn't authorized.
        '500':
          description: The endpoint failed internally.
        '501':
          description: The endpoint isn't ready for receiving requests.
        '504':
          description: The upstream service is busy.
      summary: Atlassian Retrieve The Attributes Of Service Registries
      tags:
      - Service Registry
      x-experimental: true
      x-atlassian-connect-scope: INACCESSIBLE
components:
  schemas:
    ServiceRegistryTier:
      properties:
        description:
          description: tier description
          nullable: true
          type: string
        id:
          description: tier ID
          format: uuid
          type: string
        level:
          description: tier level
          type: integer
        name:
          description: tier name
          nullable: true
          type: string
        nameKey:
          description: name key of the tier
          example: service-registry.tier1.name
          type: string
      type: object
    ServiceRegistry:
      properties:
        description:
          description: service description
          nullable: true
          type: string
        id:
          description: service ID
          format: uuid
          type: string
        name:
          description: service name
          type: string
        organizationId:
          description: organization ID
          type: string
        revision:
          description: service revision
          type: string
        serviceTier:
          $ref: '#/components/schemas/ServiceRegistryTier'
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
