openapi: 3.2.0
info:
  title: Atlassian Snippets API
  version: '2.0'
  contact:
    name: Bitbucket Support
    url: https://support.atlassian.com/bitbucket-cloud/
    email: support@bitbucket.org
  termsOfService: https://www.atlassian.com/legal/customer-agreement
  description: 'Operations tagged Snippets across 2 of this provider''s published API definitions: bitbucket-openapi-original.yml, bitbucket-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bitbucket.org/2.0
tags:
- name: Snippets
  description: 'Snippets allow you share code segments or files with yourself, members of

    your workspace, or the world.


    Like pull requests, repositories and workspaces, the full set of snippets

    is defined by what the current user has access to. This includes all

    snippets owned by any of the workspaces the user is a member of, or

    snippets by other users that the current user is either watching or has

    collaborated on (for instance by commenting on it).'
paths:
  /snippets:
    parameters: []
    get:
      tags:
      - Snippets
      description: 'Returns all snippets. Like pull requests, repositories and workspaces, the

        full set of snippets is defined by what the current user has access to.


        This includes all snippets owned by any of the workspaces the user is a member of,

        or snippets by other users that the current user is either watching or has collaborated

        on (for instance by commenting on it).


        To limit the set of returned snippets, apply the

        `?role=[owner|contributor|member]` query parameter where the roles are

        defined as follows:


        * `owner`: all snippets owned by the current user

        * `contributor`: all snippets owned by, or watched by the current user

        * `member`: created in a workspaces or watched by the current user


        When no role is specified, all public snippets are returned, as well as all

        privately owned snippets watched or commented on.


        The returned response is a normal paginated JSON list. This endpoint

        only supports `application/json` responses and no

        `multipart/form-data` or `multipart/related`. As a result, it is not

        possible to include the file contents.'
      summary: Atlassian List Snippets
      responses:
        '200':
          description: A paginated list of snippets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_snippets'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: role
        in: query
        description: Filter down the result based on the authenticated user's role (`owner`, `contributor`, or `member`).
        required: false
        schema:
          type: string
          enum:
          - owner
          - contributor
          - member
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianListSnippets
    post:
      tags:
      - Snippets
      description: Creates a new snippet under the authenticated user's account.
      summary: Atlassian Create A Snippet
      responses:
        '201':
          description: The newly created snippet object.
          headers:
            Location:
              description: The URL of the newly created snippet.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/snippet'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      operationId: atlassianCreateASnippet
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: 'Identical to `/snippets`, except that the result is further filtered

        by the snippet owner and only those that are owned by `{workspace}` are

        returned.'
      summary: Atlassian List Snippets In A Workspace
      responses:
        '200':
          description: A paginated list of snippets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_snippets'
        '404':
          description: If the user does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: role
        in: query
        description: Filter down the result based on the authenticated user's role (`owner`, `contributor`, or `member`).
        required: false
        schema:
          type: string
          enum:
          - owner
          - contributor
          - member
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianListSnippetsInAWorkspace
    post:
      tags:
      - Snippets
      description: 'Identical to `/snippets`, except that the new snippet will be

        created under the workspace specified in the path parameter

        `{workspace}`.'
      summary: Atlassian Create A Snippet For A Workspace
      responses:
        '201':
          description: The newly created snippet object.
          headers:
            Location:
              description: The URL of the newly created snippet.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have permission to create snippets in the specified workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/snippet'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      operationId: atlassianCreateASnippetForAWorkspace
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Snippets
      description: Deletes a snippet and returns an empty response.
      summary: Atlassian Delete A Snippet
      responses:
        '204':
          description: If the snippet was deleted successfully.
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have permission to delete the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      operationId: atlassianDeleteASnippet
    get:
      tags:
      - Snippets
      description: Retrieves a single snippet.
      summary: Atlassian Get A Snippet
      responses:
        '200':
          description: The snippet object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/related:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/snippet'
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have access to the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '410':
          description: If the snippet marked as spam.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianGetASnippet
    put:
      tags:
      - Snippets
      description: Used to update a snippet.
      summary: Atlassian Update A Snippet
      responses:
        '200':
          description: The updated snippet object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/related:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/snippet'
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have permission to update the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      operationId: atlassianUpdateASnippet
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/comments:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: 'Used to retrieve a paginated list of all comments for a specific

        snippet.


        This resource works identical to commit and pull request comments.


        The default sorting is oldest to newest and can be overridden with

        the `sort` query parameter.'
      summary: Atlassian List Comments On A Snippet
      responses:
        '200':
          description: A paginated list of snippet comments, ordered by creation date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_snippet_comments'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianListCommentsOnASnippet
    post:
      tags:
      - Snippets
      description: 'Creates a new comment.


        The only required field in the body is `content.raw`.


        To create a threaded reply to an existing comment, include `parent.id`.'
      summary: Atlassian Create A Comment On A Snippet
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The URL of the new comment
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_comment'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_comment'
        description: The contents of the new comment.
        required: true
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianCreateACommentOnASnippet
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Snippets
      description: 'Deletes a snippet comment.


        Comments can only be removed by the comment author, snippet creator, or workspace admin.'
      summary: Atlassian Delete A Comment On A Snippet
      responses:
        '204':
          description: Indicates the comment was deleted successfully.
        '403':
          description: If the authenticated user is not the author of the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment or the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianDeleteACommentOnASnippet
    get:
      tags:
      - Snippets
      description: Returns the specific snippet comment.
      summary: Atlassian Get A Comment On A Snippet
      responses:
        '200':
          description: The specified comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_comment'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment or snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianGetACommentOnASnippet
    put:
      tags:
      - Snippets
      description: 'Updates a comment.


        The only required field in the body is `content.raw`.


        Comments can only be updated by their author.'
      summary: Atlassian Update A Comment On A Snippet
      responses:
        '200':
          description: The updated comment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_comment'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment or snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_comment'
        description: The contents to update the comment to.
        required: true
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianUpdateACommentOnASnippet
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/commits:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: Returns the changes (commits) made on this snippet.
      summary: Atlassian List Snippet Changes
      responses:
        '200':
          description: The paginated list of snippet commits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_snippet_commit'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianListSnippetChanges
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/commits/{revision}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: revision
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: Returns the changes made on this snippet in this commit.
      summary: Atlassian Get A Previous Snippet Change
      responses:
        '200':
          description: The specified snippet commit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_commit'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the commit or the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianGetAPreviousSnippetChange
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/files/{path}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: 'Convenience resource for getting to a snippet''s raw files without the

        need for first having to retrieve the snippet itself and having to pull

        out the versioned file links.'
      summary: Atlassian Get A Snippet S Raw File At Head
      responses:
        '302':
          description: A redirect to the most recent revision of the specified file.
          headers:
            Location:
              description: The URL of the most recent file revision.
              schema:
                type: string
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianGetASnippetSRawFileAtHEAD
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/watch:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Snippets
      description: 'Used to stop watching a specific snippet. Returns 204 (No Content)

        to indicate success.'
      summary: Atlassian Stop Watching A Snippet
      responses:
        '204':
          description: Indicates the user stopped watching the snippet successfully.
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      operationId: atlassianStopWatchingASnippet
    get:
      tags:
      - Snippets
      description: 'Used to check if the current user is watching a specific snippet.


        Returns 204 (No Content) if the user is watching the snippet and 404 if

        not.


        Hitting this endpoint anonymously always returns a 404.'
      summary: Atlassian Check If The Current User Is Watching A Snippet
      responses:
        '204':
          description: If the authenticated user is watching the snippet.
        '404':
          description: If the snippet does not exist, or if the authenticated user is not watching the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianCheckIfTheCurrentUserIsWatchingASnippet
    put:
      tags:
      - Snippets
      description: Used to start watching a specific snippet. Returns 204 (No Content).
      summary: Atlassian Watch A Snippet
      responses:
        '204':
          description: Indicates the authenticated user is now watching the snippet.
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      operationId: atlassianWatchASnippet
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/watchers:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: Returns a paginated list of all users watching a specific snippet.
      summary: Atlassian List Users Watching A Snippet
      responses:
        '200':
          description: The paginated list of users watching this snippet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_accounts'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      deprecated: true
      operationId: atlassianListUsersWatchingASnippet
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/{node_id}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: node_id
      in: path
      description: A commit revision (SHA1).
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Snippets
      description: 'Deletes the snippet.


        Note that this only works for versioned URLs that point to the latest

        commit of the snippet. Pointing to an older commit results in a 405

        status code.


        To delete a snippet, regardless of whether or not concurrent changes

        are being made to it, use `DELETE /snippets/{encoded_id}` instead.'
      summary: Atlassian Delete A Previous Revision Of A Snippet
      responses:
        '204':
          description: If the snippet was deleted successfully.
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have permission to delete the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '405':
          description: If `{node_id}` is not the latest revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAPreviousRevisionOfASnippet
    get:
      tags:
      - Snippets
      description: 'Identical to `GET /snippets/encoded_id`, except that this endpoint

        can be used to retrieve the contents of the snippet as it was at an

        older revision, while `/snippets/encoded_id` always returns the

        snippet''s current revision.


        Note that only the snippet''s file contents are versioned, not its

        meta data properties like the title.


        Other than that, the two endpoints are identical in behavior.'
      summary: Atlassian Get A Previous Revision Of A Snippet
      responses:
        '200':
          description: The snippet object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/related:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/snippet'
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have access to the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet, or the revision does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianGetAPreviousRevisionOfASnippet
    put:
      tags:
      - Snippets
      description: 'Identical to `UPDATE /snippets/encoded_id`, except that this endpoint

        takes an explicit commit revision. Only the snippet''s "HEAD"/"tip"

        (most recent) version can be updated and requests on all other,

        older revisions fail by returning a 405 status.


        Usage of this endpoint over the unrestricted `/snippets/encoded_id`

        could be desired if the caller wants to be sure no concurrent

        modifications have taken place between the moment of the UPDATE

        request and the original GET.


        This can be considered a so-called "Compare And Swap", or CAS

        operation.


        Other than that, the two endpoints are identical in behavior.'
      summary: Atlassian Update A Previous Revision Of A Snippet
      responses:
        '200':
          description: The updated snippet object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/related:
              schema:
                $ref: '#/components/schemas/snippet'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/snippet'
        '401':
          description: If the snippet is private and the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If authenticated user does not have permission to update the private snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet or the revision does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
        '405':
          description: If `{node_id}` is not the latest revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            multipart/related:
              schema:
                $ref: '#/components/schemas/error'
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      operationId: atlassianUpdateAPreviousRevisionOfASnippet
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/{node_id}/files/{path}:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: node_id
      in: path
      description: A commit revision (SHA1).
      required: true
      schema:
        type: string
    - name: path
      in: path
      description: Path to the file.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: 'Retrieves the raw contents of a specific file in the snippet. The

        `Content-Disposition` header will be "attachment" to avoid issues with

        malevolent executable files.


        The file''s mime type is derived from its filename and returned in the

        `Content-Type` header.


        Note that for text files, no character encoding is included as part of

        the content type.'
      summary: Atlassian Get A Snippet S Raw File
      responses:
        '200':
          description: Returns the contents of the specified file.
          headers:
            Content-Type:
              description: The mime type as derived from the filename
              schema:
                type: string
            Content-Disposition:
              description: attachment
              schema:
                type: string
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the file or snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianGetASnippetSRawFile
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/{revision}/diff:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: revision
      in: path
      description: A revspec expression. This can simply be a commit SHA1, a ref name, or a compare expression like `staging..production`.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: 'Returns the diff of the specified commit against its first parent.


        Note that this resource is different in functionality from the `patch`

        resource.


        The differences between a diff and a patch are:


        * patches have a commit header with the username, message, etc

        * diffs support the optional `path=foo/bar.py` query param to filter the

        diff to just that one file diff (not supported for patches)

        * for a merge, the diff will show the diff between the merge commit and

        its first parent (identical to how PRs work), while patch returns a

        response containing separate patches for each commit on the second

        parent''s ancestry, up to the oldest common ancestor (identical to

        its reachability).


        Note that the character encoding of the contents of the diff is

        unspecified as Git does not track this, making it hard for

        Bitbucket to reliably determine this.'
      summary: Atlassian Get Snippet Changes Between Versions
      responses:
        '200':
          description: The raw diff contents.
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: path
        in: query
        description: When used, only one the diff of the specified file will be returned.
        schema:
          type: string
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianGetSnippetChangesBetweenVersions
    servers:
    - url: https://api.bitbucket.org/2.0
  /snippets/{workspace}/{encoded_id}/{revision}/patch:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: revision
      in: path
      description: A revspec expression. This can simply be a commit SHA1, a ref name, or a compare expression like `staging..production`.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Snippets
      description: 'Returns the patch of the specified commit against its first

        parent.


        Note that this resource is different in functionality from the `diff`

        resource.


        The differences between a diff and a patch are:


        * patches have a commit header with the username, message, etc

        * diffs support the optional `path=foo/bar.py` query param to filter the

        diff to just that one file diff (not supported for patches)

        * for a merge, the diff will show the diff between the merge commit and

        its first parent (identical to how PRs work), while patch returns a

        response containing separate patches for each commit on the second

        parent''s ancestry, up to the oldest common ancestor (identical to

        its reachability).


        Note that the character encoding of the contents of the patch is

        unspecified as Git does not track this, making it hard for

        Bitbucket to reliably determine this.'
      summary: Atlassian Get Snippet Patch Between Versions
      responses:
        '200':
          description: The raw patch contents.
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      operationId: atlassianGetSnippetPatchBetweenVersions
    servers:
    - url: https://api.bitbucket.org/2.0
components:
  schemas:
    snippet:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Snippet
        description: A snippet object.
        properties:
          id:
            type: integer
            minimum: 0
          title:
            type: string
          scm:
            type: string
            description: The DVCS used to store the snippet.
            enum:
            - git
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          owner:
            $ref: '#/components/schemas/account'
          creator:
            $ref: '#/components/schemas/account'
          is_private:
            type: boolean
        additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
        name:
          type: string
      additionalProperties: false
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    snippet_comment:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Snippet Comment
        description: A comment on a snippet.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          snippet:
            $ref: '#/components/schemas/snippet'
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    paginated_snippet_comments:
      type: object
      title: Paginated Snippet Comments
      description: A paginated list of snippet comments.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/snippet_comment'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    snippet_commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Snippet Commit
        description: ''
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              diff:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          snippet:
            $ref: '#/components/schemas/snippet'
        additionalProperties: true
    paginated_accounts:
      type: object
      title: Paginated Accounts
      description: A paginated list of accounts.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/account'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    paginated_snippet_commit:
      type: object
      title: Paginated Snippet Commits
      description: A paginated list of snippet commits.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/snippet_commit'
          minItems: 0
      additionalProperties: false
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    paginated_snippets:
      type: object
      title: Paginated Snippets
      description: A paginated list of snippets.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/snippet'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    base_commit_2:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          committer:
            $ref: '#/components/schemas/committer'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit_2'
            minItems: 0
        additionalProperties: true
    committer:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Committer
        description: The committer of a change in a repository
        properties:
          raw:
            type: string
            description: The raw committer value from the repository. This may be the only value available if the committer does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account_2'
        additionalProperties: true
    account_2:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          uuid:
            type: string
        additionalProperties: true
  requestBodies:
    snippet:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/snippet'
      description: The new snippet object.
      required: true
  securitySchemes:
    basic:
      type: http
      description: Basic HTTP Authentication as per [RFC-2617](https://tools.ietf.org/html/rfc2617) (Digest not supported). Note that Basic Auth is available only with username and app password as credentials.
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2 as per [RFC-6749](https://tools.ietf.org/html/rfc6749).
      flows:
        authorizationCode:
          authorizationUrl: https://bitbucket.org/site/oauth2/authorize
          tokenUrl: https://bitbucket.org/site/oauth2/access_token
          scopes:
            email: Read your account's primary email address
            account: Read your account information
            account:write: Read and modify your account information
            team: Read your team membership information
            team:write: Read and modify your team membership information
            repository: Read your repositories
            repository:write: Read and modify your repositories
            repository:admin: Administer your repositories
            repository:delete: Delete your repositories
            project: Read your workspace's project settings and read repositories contained within your workspace's projects
            project:admin: Read and modify settings for projects in your workspace
            pipeline: Access your repositories' build pipelines
            pipeline:write: Access and rerun your repositories' build pipelines
            pipeline:variable: Access your repositories' build pipelines and configure their variables
            runner: Access your workspaces/repositories' runners
            runner:write: Access and edit your workspaces/repositories' runners
            pullrequest: Read your repositories and their pull requests
            pullrequest:write: Read and modify your repositories and their pull requests
            webhook: Read and modify your repositories' webhooks
            issue: Read your repositories' issues
            issue:write: Read and modify your repositories' issues
            snippet: Read your snippets
            snippet:write: Read and modify your snippets
            wiki: Read and modify your repositories' wikis
    api_key:
      name: Authorization
      type: apiKey
      description: API Keys can be used as Basic HTTP Authentication credentials and provide a substitute for the account's actual username and password. API Keys are only available to team accounts and there is only 1 key per account. API Keys do not support scopes and have therefore access to all contents of the account.
      in: header
x-refined-from:
- bitbucket-openapi-original.yml
- bitbucket-swagger.json
