openapi: 3.1.0
info:
  title: Atlassian Admin Account App Properties API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: App Properties
paths:
  /rest/atlassian-connect/1/addons/{addonKey}/properties:
    get:
      deprecated: false
      description: Gets all the properties of an app.<br><br>**[Permissions](#permissions) required:** Only a Connect app whose key matches `addonKey` can make this request.<br>Additionally, Forge apps can access Connect app properties (stored against the same `app.connect.key`).
      operationId: atlassianAddonpropertiesresourceGetaddonpropertiesGet
      parameters:
      - description: The key of the app, as defined in its descriptor.
        in: path
        name: addonKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                keys:
                - self: https://your-domain.atlassian.net/jira/rest/atlassian-connect/1/addon/example.app.key/properties/propertyKey
                  key: propertyKey
              schema:
                $ref: '#/components/schemas/PropertyKeys'
          description: Returned if the request is successful.
        '401':
          content:
            application/json:
              example:
                message: Access to this resource must be authenticated as an app.
                statusCode: 401
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2: []
      summary: Atlassian Get App Properties
      tags:
      - App Properties
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes: []
        state: Current
      - scheme: OAuth2
        scopes: []
        state: Beta
      x-atlassian-connect-scope: NONE
  /rest/atlassian-connect/1/addons/{addonKey}/properties/{propertyKey}:
    delete:
      deprecated: false
      description: Deletes an app's property.<br><br>**[Permissions](#permissions) required:** Only a Connect app whose key matches `addonKey` can make this request.<br>Additionally, Forge apps can access Connect app properties (stored against the same `app.connect.key`).
      operationId: atlassianAddonpropertiesresourceDeleteaddonpropertyDelete
      parameters:
      - description: The key of the app, as defined in its descriptor.
        in: path
        name: addonKey
        required: true
        schema:
          type: string
      - description: The key of the property.
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example:
                message: The property key cannot be longer than 127 characters.
                statusCode: 400
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the property key is longer than 127 characters.
        '401':
          content:
            application/json:
              example:
                message: Access to this resource must be authenticated as an app.
                statusCode: 401
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              example:
                message: Property with key not found.
                statusCode: 404
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the property is not found or doesn't belong to the app.
      security:
      - basicAuth: []
      - OAuth2: []
      summary: Atlassian Delete App Property
      tags:
      - App Properties
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes: []
        state: Current
      - scheme: OAuth2
        scopes: []
        state: Beta
      x-atlassian-connect-scope: NONE
    get:
      deprecated: false
      description: Returns the key and value of an app's property.<br><br>**[Permissions](#permissions) required:** Only a Connect app whose key matches `addonKey` can make this request.<br>Additionally, Forge apps can access Connect app properties (stored against the same `app.connect.key`).
      operationId: atlassianAddonpropertiesresourceGetaddonpropertyGet
      parameters:
      - description: The key of the app, as defined in its descriptor.
        in: path
        name: addonKey
        required: true
        schema:
          type: string
      - description: The key of the property.
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                self: https://your-domain.atlassian.net/jira/rest/atlassian-connect/1/addon/example.app.key/properties/propertyKey
                key: propertyKey
                value: propertyValue
              schema:
                $ref: '#/components/schemas/EntityProperty'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example:
                message: The property key cannot be longer than 127 characters.
                statusCode: 400
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the property key is longer than 127 characters.
        '401':
          content:
            application/json:
              example:
                message: Access to this resource must be authenticated as an app.
                statusCode: 401
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              example:
                message: Property with key not found.
                statusCode: 404
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the property is not found or doesn't belong to the app.
      security:
      - basicAuth: []
      - OAuth2: []
      summary: Atlassian Get App Property
      tags:
      - App Properties
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes: []
        state: Current
      - scheme: OAuth2
        scopes: []
        state: Beta
      x-atlassian-connect-scope: NONE
    put:
      deprecated: false
      description: Sets the value of an app's property. Use this resource to store custom data for your app.<br><br>The value of the request body must be a [valid](http://tools.ietf.org/html/rfc4627), non-empty JSON blob. The maximum length is 32768 characters.<br><br>**[Permissions](#permissions) required:** Only a Connect app whose key matches `addonKey` can make this request.<br>Additionally, Forge apps can access Connect app properties (stored against the same `app.connect.key`).
      operationId: atlassianAddonpropertiesresourcePutaddonpropertyPut
      parameters:
      - description: The key of the app, as defined in its descriptor.
        in: path
        name: addonKey
        required: true
        schema:
          type: string
      - description: The key of the property.
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                message: Property updated.
                statusCode: 200
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the property is updated.
        '201':
          content:
            application/json:
              example:
                message: Property created.
                statusCode: 201
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned is the property is created.
        '400':
          content:
            application/json:
              example:
                message: The property key cannot be longer than 127 characters.
                statusCode: 400
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: "Returned if:\n  * the property key is longer than 127 characters.\n  * the value is not valid JSON.\n  * the value is longer than 32768 characters."
        '401':
          content:
            application/json:
              example:
                message: Access to this resource must be authenticated as an app.
                statusCode: 401
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2: []
      summary: Atlassian Set App Property
      tags:
      - App Properties
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes: []
        state: Current
      - scheme: OAuth2
        scopes: []
        state: Beta
      x-atlassian-connect-scope: NONE
  /rest/forge/1/app/properties/{propertyKey}:
    delete:
      deprecated: false
      description: Deletes a Forge app's property.<br><br>**[Permissions](#permissions) required:** Only Forge apps can make this request.
      operationId: atlassianAddonpropertiesresourceDeleteapppropertyDelete
      parameters:
      - description: The key of the property.
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example:
                message: The property key cannot be longer than 127 characters.
                statusCode: 400
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the property key is longer than 127 characters.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example:
                errorMessages:
                - Access to this resource must be authenticated as an app.
          description: Returned if the request isn't made directly by an app or if it's an impersonated request.
        '404':
          content:
            application/json:
              example:
                message: Property with key not found.
                statusCode: 404
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the property isn't found or doesn't belong to the app.
      security:
      - basicAuth: []
      - OAuth2: []
      summary: Atlassian Delete App Property Forge
      tags:
      - App Properties
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes: []
        state: Current
      - scheme: OAuth2
        scopes: []
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: INACCESSIBLE
    put:
      deprecated: false
      description: Sets the value of a Forge app's property.<br>These values can be retrieved in [Jira expressions](https://developer.atlassian.com/cloud/jira/platform/jira-expressions/)<br>through the `app` [context variable](https://developer.atlassian.com/cloud/jira/platform/jira-expressions/#context-variables).<br><br>For other use cases, use the [Storage API](https://developer.atlassian.com/platform/forge/runtime-reference/storage-api/).<br><br>The value of the request body must be a [valid](http://tools.ietf.org/html/rfc4627), non-empty JSON blob. The maximum length is 32768 characters.<br><br>**[Permissions](#permissions) required:** Only Forge apps can make this request.
      operationId: atlassianAddonpropertiesresourcePutapppropertyPut
      parameters:
      - description: The key of the property.
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                message: Property updated.
                statusCode: 200
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned if the property is updated.
        '201':
          content:
            application/json:
              example:
                message: Property created.
                statusCode: 201
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: Returned is the property is created.
        '400':
          content:
            application/json:
              example:
                message: The property key can't be longer than 127 characters.
                statusCode: 400
              schema:
                $ref: '#/components/schemas/OperationMessage'
          description: "Returned if:\n  * the property key is longer than 127 characters.\n  * the value isn't valid JSON.\n  * the value is longer than 32768 characters."
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example:
                errorMessages:
                - Access to this resource must be authenticated as an app.
          description: Returned if the request isn't made directly by an app or if it's an impersonated request.
      security:
      - basicAuth: []
      - OAuth2: []
      summary: Atlassian Set App Property Forge
      tags:
      - App Properties
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes: []
        state: Current
      - scheme: OAuth2
        scopes: []
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: INACCESSIBLE
components:
  schemas:
    PropertyKeys:
      additionalProperties: false
      description: List of property keys.
      properties:
        keys:
          description: Property key details.
          items:
            $ref: '#/components/schemas/PropertyKey'
          readOnly: true
          type: array
      type: object
    OperationMessage:
      additionalProperties: false
      example:
        message: An example message.
        statusCode: 200
      properties:
        message:
          description: The human-readable message that describes the result.
          type: string
        statusCode:
          description: The status code of the response.
          type: integer
      required:
      - message
      - statusCode
      type: object
    EntityProperty:
      additionalProperties: false
      description: An entity property, for more information see [Entity properties](https://developer.atlassian.com/cloud/jira/platform/jira-entity-properties/).
      properties:
        key:
          description: The key of the property. Required on create and update.
          type: string
        value:
          description: The value of the property. Required on create and update.
      type: object
    PropertyKey:
      additionalProperties: false
      description: Property key details.
      properties:
        key:
          description: The key of the property.
          readOnly: true
          type: string
        self:
          description: The URL of the property.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
