openapi: 3.1.0
info:
  title: Atlassian Admin Account Upload API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Upload
paths:
  /repositories/{workspace}/{repo_slug}/downloads:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Upload
      description: This API operation allows you to upload a download artifact to a specific Bitbucket repository within a workspace. By sending a POST request to the endpoint with the workspace ID and repository slug as path parameters, you can attach files that will be made available as downloads for the repository. These artifacts are typically binary files, releases, or other distributable assets that you want to make accessible to users who have access to the repository. The uploaded files are stored separately from the repository's version control system and can be downloaded directly through Bitbucket's download interface, making this useful for sharing compiled binaries, documentation packages, or other supplementary materials related to your project.
      summary: Atlassian Upload Download Artifact
      responses:
        '201':
          description: The artifact was uploaded sucessfully.
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: User is not authorized to write to the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '406':
          description: Unsupported Content-Type. Use multiplart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      operationId: uploadDownloadArtifact
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/attachments:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Upload
      description: This API endpoint allows users to upload file attachments to a specific issue within a Bitbucket repository by making a POST request to the path /repositories/{workspace}/{repo_slug}/issues/{issue_id}/attachments, where {workspace} represents the Bitbucket workspace identifier, {repo_slug} is the repository's unique identifier, and {issue_id} is the specific issue number to which the attachment will be added. The operation requires the file to be sent as multipart/form-data in the request body, and upon successful execution, it attaches the uploaded file to the designated issue, making it accessible to other users viewing that issue. This functionality is commonly used to provide additional context, documentation, screenshots, or logs related to the issue being tracked.
      summary: Atlassian Upload an Attachment to an Issue
      responses:
        '201':
          description: An empty response document.
          headers:
            Location:
              description: The URL to the issue's collection of attachments.
              schema:
                type: string
        '400':
          description: If no files were uploaded, or if the wrong `Content-Type` was used.
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: uploadAnAttachmentToAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
