openapi: 3.1.0
info:
  title: Atlassian Admin Account Addons API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Addons
paths:
  /addon/linkers:
    parameters: []
    get:
      tags:
      - Addons
      description: 'Gets a list of all [linkers](/cloud/bitbucket/modules/linker/)

        for the authenticated application.'
      summary: Atlassian Get Addon Linkers
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: getAddonLinkers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /addon/linkers/{linker_key}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    get:
      tags:
      - Addons
      description: Gets a [linker](/cloud/bitbucket/modules/linker/) specified by `linker_key` for the authenticated application.
      summary: Atlassian Get Addon Linkers Key
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: getAddonLinkersLinkerKey
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /addon/linkers/{linker_key}/values:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    delete:
      tags:
      - Addons
      description: 'Delete all [linker](/cloud/bitbucket/modules/linker/) values for the

        specified linker of the authenticated application.'
      summary: Atlassian Delete Addon Linkers Key Values
      responses:
        '204':
          description: Successfully deleted the linker values.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: deleteAddonLinkersLinkerKeyValues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Addons
      description: 'Gets a list of all [linker](/cloud/bitbucket/modules/linker/) values for the

        specified linker of the authenticated application.


        A linker value lets applications supply values to modify its regular expression.


        The base regular expression must use a Bitbucket-specific match group `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this pattern.


        [Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)'
      summary: Atlassian Get Addon Linkers Key Values
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: getAddonLinkersLinkerKeyValues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Addons
      description: 'Creates a [linker](/cloud/bitbucket/modules/linker/) value for the specified

        linker of authenticated application.


        A linker value lets applications supply values to modify its regular expression.


        The base regular expression must use a Bitbucket-specific match group `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this pattern.


        [Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)'
      summary: Atlassian Post Addon Linkers Key Values
      responses:
        '201':
          description: Successfully created the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: The linker already has the value being added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: postAddonLinkersLinkerKeyValues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Addons
      description: 'Bulk update [linker](/cloud/bitbucket/modules/linker/) values for the specified

        linker of the authenticated application.


        A linker value lets applications supply values to modify its regular expression.


        The base regular expression must use a Bitbucket-specific match group `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this pattern.


        [Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)'
      summary: Atlassian Put Addon Linkers Key Values
      responses:
        '204':
          description: Successfully updated the linker values.
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: putAddonLinkersLinkerKeyValues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /addon/linkers/{linker_key}/values/{value_id}:
    parameters:
    - name: linker_key
      in: path
      description: 'The unique key of a [linker module](/cloud/bitbucket/modules/linker/)

        as defined in an application descriptor.'
      required: true
      schema:
        type: string
    - name: value_id
      in: path
      description: The numeric ID of the linker value.
      required: true
      schema:
        type: integer
    delete:
      tags:
      - Addons
      description: 'Delete a single [linker](/cloud/bitbucket/modules/linker/) value

        of the authenticated application.'
      summary: Atlassian Delete Addon Linkers Key Values Value Id
      responses:
        '204':
          description: Successfully deleted the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: deleteAddonLinkersLinkerKeyValuesValueId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Addons
      description: 'Get a single [linker](/cloud/bitbucket/modules/linker/) value

        of the authenticated application.'
      summary: Atlassian Get Addon Linkers Key Values Value Id
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: getAddonLinkersLinkerKeyValuesValueId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
