openapi: 3.1.0
info:
  title: Atlassian Admin Account Jira Settings API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Jira Settings
paths:
  /rest/api/3/application-properties/advanced-settings:
    get:
      deprecated: false
      description: Returns the application properties that are accessible on the *Advanced Settings* page. To navigate to the *Advanced Settings* page in Jira, choose the Jira icon > **Jira settings** > **System**, **General Configuration** and then click **Advanced Settings** (in the upper right).<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetadvancedsettings
      parameters: []
      responses:
        '200':
          content:
            application/json:
              example: '[{"defaultValue":"","desc":"Jira home directory","id":"jira.home","key":"jira.home","name":"jira.home","type":"string","value":"/var/jira/jira-home"},{"defaultValue":"CLONE -","id":"jira.clone.prefix","key":"jira.clone.prefix","name":"The prefix added to the Summary field of cloned issues","type":"string","value":"CLONE -"}]'
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationProperty'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user is not an administrator.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Advanced Settings
      tags:
      - Jira Settings
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:instance-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/application-properties/{id}:
    put:
      deprecated: false
      description: 'Changes the value of an application property. For example, you can change the value of the `jira.clone.prefix` from its default value of *CLONE -* to *Clone -* if you prefer sentence case capitalization. Editable properties are described below along with their default values.<br><br>#### Advanced settings ####<br><br>The advanced settings below are also accessible in [Jira](https://confluence.atlassian.com/x/vYXKM).<br><br>| Key | Description | Default value |  <br>| -- | -- | -- |  <br>| `jira.clone.prefix` | The string of text prefixed to the title of a cloned issue. | `CLONE -` |  <br>| `jira.date.picker.java.format` | The date format for the Java (server-side) generated dates. This must be the same as the `jira.date.picker.javascript.format` format setting. | `d/MMM/yy` |  <br>| `jira.date.picker.javascript.format` | The date format for the JavaScript (client-side) generated dates. This must be the same as the `jira.date.picker.java.format` format setting. | `%e/%b/%y` |  <br>| `jira.date.time.picker.java.format` | The date format for the Java (server-side) generated date times. This must be the same as the `jira.date.time.picker.javascript.format` format setting. | `dd/MMM/yy h:mm a` |  <br>| `jira.date.time.picker.javascript.format` | The date format for the JavaScript (client-side) generated date times. This must be the same as the `jira.date.time.picker.java.format` format setting. | `%e/%b/%y %I:%M %p` |  <br>| `jira.issue.actions.order` | The default order of actions (such as *Comments* or *Change history*) displayed on the issue view. | `asc` |  <br>| `jira.view.issue.links.sort.order` | The sort order of the list of issue links on the issue view. | `type, status, priority` |  <br>| `jira.comment.collapsing.minimum.hidden` | The minimum number of comments required for comment collapsing to occur. A value of `0` disables comment collapsing. | `4` |  <br>| `jira.newsletter.tip.delay.days` | The number of days before a prompt to sign up to the Jira Insiders newsletter is shown. A value of `-1` disables this feature. | `7` |  <br><br><br>#### Look and feel ####<br><br>The settings listed below adjust the [look and feel](https://confluence.atlassian.com/x/VwCLLg).<br><br>| Key | Description | Default value |  <br>| -- | -- | -- |  <br>| `jira.lf.date.time` | The [ time format](https://docs.oracle.com/javase/6/docs/api/index.html?java/text/SimpleDateFormat.html). | `h:mm a` |  <br>| `jira.lf.date.day` | The [ day format](https://docs.oracle.com/javase/6/docs/api/index.html?java/text/SimpleDateFormat.html). | `EEEE h:mm a` |  <br>| `jira.lf.date.complete` | The [ date and time format](https://docs.oracle.com/javase/6/docs/api/index.html?java/text/SimpleDateFormat.html). | `dd/MMM/yy h:mm a` |  <br>| `jira.lf.date.dmy` | The [ date format](https://docs.oracle.com/javase/6/docs/api/index.html?java/text/SimpleDateFormat.html). | `dd/MMM/yy` |  <br>| `jira.date.time.picker.use.iso8061` | When enabled, sets Monday as the first day of the week in the date picker, as specified by the ISO8601 standard. | `false` |  <br>| `jira.lf.logo.url` | The URL of the logo image file. | `/images/icon-jira-logo.png` |  <br>| `jira.lf.logo.show.application.title` | Controls the visibility of the application title on the sidebar. | `false` |  <br>| `jira.lf.favicon.url` | The URL of the favicon. | `/favicon.ico` |  <br>| `jira.lf.favicon.hires.url` | The URL of the high-resolution favicon. | `/images/64jira.png` |  <br>| `jira.lf.navigation.bgcolour` | The background color of the sidebar. | `#0747A6` |  <br>| `jira.lf.navigation.highlightcolour` | The color of the text and logo of the sidebar. | `#DEEBFF` |  <br>| `jira.lf.hero.button.base.bg.colour` | The background color of the hero button. | `#3b7fc4` |  <br>| `jira.title` | The text for the application title. The application title can also be set in *General settings*. | `Jira` |  <br>| `jira.option.globalsharing` | Whether filters and dashboards can be shared with anyone signed into Jira. | `true` |  <br>| `xflow.product.suggestions.enabled` | Whether to expose product suggestions for other Atlassian products within Jira. | `true` |  <br><br><br>#### Other settings ####<br><br>| Key | Description | Default value |  <br>| -- | -- | -- |  <br>| `jira.issuenav.criteria.autoupdate` | Whether instant updates to search criteria is active. | `true` |  <br><br><br>*Note: Be careful when changing [application properties and advanced settings](https://confluence.atlassian.com/x/vYXKM).*<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).'
      operationId: atlassianSetapplicationproperty
      parameters:
      - description: The key of the application property to update.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              id: jira.home
              value: /var/jira/jira-home
            schema:
              $ref: '#/components/schemas/SimpleApplicationPropertyBean'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationProperty'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the data type of the `value` does not match the application property's data type. For example, a string is provided instead of an integer.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user does not have permission to edit the property.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the property is not found or the user does not have permission to view it.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Set Application Property
      tags:
      - Jira Settings
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:instance-configuration:jira
        - read:instance-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/application-properties:
    get:
      deprecated: false
      description: Returns all application properties or an application property.<br><br>If you specify a value for the `key` parameter, then an application property is returned as an object (not in an array). Otherwise, an array of all editable application properties is returned. See [Set application property](#api-rest-api-3-application-properties-id-put) for descriptions of editable properties.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetapplicationproperty
      parameters:
      - description: The key of the application property.
        in: query
        name: key
        schema:
          type: string
      - description: The permission level of all items being returned in the list.
        in: query
        name: permissionLevel
        schema:
          type: string
      - description: When a `key` isn't provided, this filters the list of results by the application property `key` using a regular expression. For example, using `jira.lf.*` will return all application properties with keys that start with *jira.lf.*.
        in: query
        name: keyFilter
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '[{"defaultValue":"","desc":"Jira home directory","id":"jira.home","key":"jira.home","name":"jira.home","type":"string","value":"/var/jira/jira-home"},{"defaultValue":"CLONE -","id":"jira.clone.prefix","key":"jira.clone.prefix","name":"The prefix added to the Summary field of cloned issues","type":"string","value":"CLONE -"}]'
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationProperty'
                type: array
          description: Returned if the request is successful.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the application property is not found or the user does not have permission to view it.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Application Property
      tags:
      - Jira Settings
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:instance-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/configuration:
    get:
      deprecated: false
      description: Returns the [global settings](https://confluence.atlassian.com/x/qYXKM) in Jira. These settings determine whether optional features (for example, subtasks, time tracking, and others) are enabled. If time tracking is enabled, this operation also returns the time tracking configuration.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianGetconfiguration
      parameters: []
      responses:
        '200':
          content:
            application/json:
              example: '{"attachmentsEnabled":true,"issueLinkingEnabled":true,"subTasksEnabled":false,"timeTrackingConfiguration":{"defaultUnit":"day","timeFormat":"pretty","workingDaysPerWeek":5.0,"workingHoursPerDay":8.0},"timeTrackingEnabled":true,"unassignedIssuesAllowed":false,"votingEnabled":true,"watchingEnabled":true}'
              schema:
                $ref: '#/components/schemas/Configuration'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      summary: Atlassian Get Global Settings
      tags:
      - Jira Settings
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:instance-configuration:jira
        - read:issue.time-tracking:jira
        state: Beta
      x-atlassian-connect-scope: READ
components:
  schemas:
    Configuration:
      additionalProperties: false
      description: Details about the configuration of Jira.
      properties:
        attachmentsEnabled:
          description: Whether the ability to add attachments to issues is enabled.
          readOnly: true
          type: boolean
        issueLinkingEnabled:
          description: Whether the ability to link issues is enabled.
          readOnly: true
          type: boolean
        subTasksEnabled:
          description: Whether the ability to create subtasks for issues is enabled.
          readOnly: true
          type: boolean
        timeTrackingConfiguration:
          allOf:
          - $ref: '#/components/schemas/TimeTrackingConfiguration'
          description: The configuration of time tracking.
          readOnly: true
        timeTrackingEnabled:
          description: Whether the ability to track time is enabled. This property is deprecated.
          readOnly: true
          type: boolean
        unassignedIssuesAllowed:
          description: Whether the ability to create unassigned issues is enabled. See [Configuring Jira application options](https://confluence.atlassian.com/x/uYXKM) for details.
          readOnly: true
          type: boolean
        votingEnabled:
          description: Whether the ability for users to vote on issues is enabled. See [Configuring Jira application options](https://confluence.atlassian.com/x/uYXKM) for details.
          readOnly: true
          type: boolean
        watchingEnabled:
          description: Whether the ability for users to watch issues is enabled. See [Configuring Jira application options](https://confluence.atlassian.com/x/uYXKM) for details.
          readOnly: true
          type: boolean
      type: object
    SimpleApplicationPropertyBean:
      additionalProperties: false
      properties:
        id:
          description: The ID of the application property.
          type: string
        value:
          description: The new value.
          type: string
      type: object
      xml:
        name: applicationProperty
    ApplicationProperty:
      additionalProperties: false
      description: Details of an application property.
      properties:
        allowedValues:
          description: The allowed values, if applicable.
          items:
            type: string
          type: array
        defaultValue:
          description: The default value of the application property.
          type: string
        desc:
          description: The description of the application property.
          type: string
        example:
          type: string
        id:
          description: The ID of the application property. The ID and key are the same.
          type: string
        key:
          description: The key of the application property. The ID and key are the same.
          type: string
        name:
          description: The name of the application property.
          type: string
        type:
          description: The data type of the application property.
          type: string
        value:
          description: The new value.
          type: string
      type: object
    TimeTrackingConfiguration:
      additionalProperties: false
      description: Details of the time tracking configuration.
      properties:
        defaultUnit:
          description: The default unit of time applied to logged time.
          enum:
          - minute
          - hour
          - day
          - week
          type: string
        timeFormat:
          description: The format that will appear on an issue's *Time Spent* field.
          enum:
          - pretty
          - days
          - hours
          type: string
        workingDaysPerWeek:
          description: The number of days in a working week.
          format: double
          type: number
        workingHoursPerDay:
          description: The number of hours in a working day.
          format: double
          type: number
      required:
      - defaultUnit
      - timeFormat
      - workingDaysPerWeek
      - workingHoursPerDay
      type: object
    ErrorCollection:
      additionalProperties: false
      description: Error messages from an operation.
      properties:
        errorMessages:
          description: The list of error messages produced by this operation. For example, "input parameter 'key' must be provided"
          items:
            type: string
          type: array
        errors:
          additionalProperties:
            type: string
          description: 'The list of errors by parameter returned by the operation. For example,"projectKey": "Project keys must start with an uppercase letter, followed by one or more uppercase alphanumeric characters."'
          type: object
        status:
          format: int32
          type: integer
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
