openapi: 3.1.0
info:
  title: Atlassian Admin Account Changes API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Changes
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/diff:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Changes
      description: 'The Bitbucket Pull Requests API endpoint `/repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/diff` retrieves the raw diff or patch output for a specific pull request, showing all code changes between the source and destination branches. This GET operation requires three path parameters: the workspace identifier, repository slug, and pull request ID, and returns the complete textual representation of file modifications, additions, and deletions in unified diff format. The response is particularly useful for code review processes, automated analysis tools, or integration with external systems that need to examine the exact line-by-line changes introduced by a pull request without using the Bitbucket web interface.'
      summary: Atlassian List Changes in Pull Request
      responses:
        '302':
          description: 'Redirects to the [repository diff](/cloud/bitbucket/rest/api-group-commits/#api-repositories-workspace-repo-slug-diff-spec-get) with the

            revspec that corresponds to the pull request.

            '
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: listChangesInPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/request-changes:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    post:
      tags:
      - Changes
      description: This API operation allows users to formally request changes on a specific pull request in a Bitbucket repository by submitting a POST request to the endpoint with the workspace identifier, repository slug, and pull request ID. When invoked, it marks the pull request with a "changes requested" status, indicating that the reviewer has identified issues or improvements that need to be addressed before the pull request can be approved and merged. This is part of Bitbucket's code review workflow, enabling collaborative development by providing a structured way for team members to communicate that modifications are necessary, typically accompanied by comments or feedback explaining what changes are needed.
      summary: Atlassian Request Changes for Pull Request
      responses:
        '200':
          description: The `participant` object recording that the authenticated user requested changes on the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participant'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '400':
          description: Pull request changes cannot be requested because the pull request has already been merged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The specified pull request or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
        - write:pullrequest:bitbucket
      operationId: requestChangesForPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/changes:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Changes
      description: Returns all the issue changes that were made on the specified issue. This endpoint retrieves the complete change history for a particular issue in a Bitbucket repository, allowing you to track modifications such as status updates, assignee changes, priority adjustments, and other field modifications over time. The response includes details about who made each change, when it occurred, and what specifically was altered, providing full audit trail capabilities for issue tracking and management within the workspace's repository.
      summary: Atlassian List Changes on an Issue
      responses:
        '200':
          description: Returns all the issue changes that were made on the specified issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_log_entries'
              examples:
                paginated-log-entries:
                  $ref: '#/components/examples/paginated-log-entries'
        '404':
          description: The specified repository or issue does not exist or does not have the issue tracker enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for details.'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property to sort results. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results)

          for details.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: listChangesOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/commits:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Changes
      description: This API operation retrieves a paginated list of commits that have been made to a specific snippet within an Atlassian Bitbucket workspace. By providing the workspace identifier and the encoded snippet ID in the endpoint path, users can track the revision history and changes made to the snippet over time. The GET request returns commit information including details such as commit hashes, authors, timestamps, and commit messages, allowing developers to audit modifications, understand the evolution of code snippets, and potentially revert to previous versions if needed. This is particularly useful for teams collaborating on shared code snippets who need visibility into who changed what and when.
      summary: Atlassian List Snippet Changes
      responses:
        '200':
          description: The paginated list of snippet commits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_snippet_commit'
              examples:
                paginated-snippet-commits:
                  $ref: '#/components/examples/paginated-snippet-commits'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: listSnippetChanges
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/{revision}/diff:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: revision
      in: path
      description: A revspec expression. This can simply be a commit SHA1, a ref name, or a compare expression like `staging..production`.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Changes
      description: This API endpoint retrieves the differences between two versions of a snippet in Atlassian Bitbucket by comparing a specified revision against its parent or another revision. It accepts the workspace identifier, the encoded snippet ID, and a revision hash as path parameters, allowing users to view what content has changed between versions of a code snippet. The response typically returns a unified diff format showing the additions, deletions, and modifications made to the snippet's content, which is useful for tracking changes, reviewing edits, or understanding the evolution of a code snippet over time within a Bitbucket workspace.
      summary: Atlassian Get Snippet Changes Between Versions
      responses:
        '200':
          description: The raw diff contents.
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: path
        in: query
        description: When used, only one the diff of the specified file will be returned.
        schema:
          type: string
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: getSnippetChangesBetweenVersions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    issue:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Issue
        description: An issue.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              comments:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              attachments:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watch:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              vote:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          id:
            type: integer
          repository:
            $ref: '#/components/schemas/repository'
          title:
            type: string
          reporter:
            $ref: '#/components/schemas/account'
          assignee:
            $ref: '#/components/schemas/account'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          edited_on:
            type: string
            format: date-time
          state:
            type: string
            enum:
            - submitted
            - new
            - open
            - resolved
            - on hold
            - invalid
            - duplicate
            - wontfix
            - closed
          kind:
            type: string
            enum:
            - bug
            - enhancement
            - proposal
            - task
          priority:
            type: string
            enum:
            - trivial
            - minor
            - major
            - critical
            - blocker
          milestone:
            $ref: '#/components/schemas/milestone'
          version:
            $ref: '#/components/schemas/version'
          component:
            $ref: '#/components/schemas/component'
          votes:
            type: integer
          content:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
        additionalProperties: true
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    team:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: Team
        description: A team object.
        properties:
          links:
            $ref: '#/components/schemas/team_links'
        additionalProperties: true
    component:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Component
        description: A component as defined in a repository's issue tracker.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          name:
            type: string
          id:
            type: integer
        additionalProperties: true
    snippet:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Snippet
        description: A snippet object.
        properties:
          id:
            type: integer
            minimum: 0
          title:
            type: string
          scm:
            type: string
            description: The DVCS used to store the snippet.
            enum:
            - git
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          owner:
            $ref: '#/components/schemas/account'
          creator:
            $ref: '#/components/schemas/account'
          is_private:
            type: boolean
        additionalProperties: true
    version:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Version
        description: A version as defined in a repository's issue tracker.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          name:
            type: string
          id:
            type: integer
        additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    repository:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Repository
        description: A Bitbucket repository.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              pullrequests:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              forks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watchers:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              downloads:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              clone:
                type: array
                items:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              hooks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The repository's immutable id. This can be used as a substitute for the slug segment in URLs. Doing this guarantees your URLs will survive renaming of the repository by its owner, or even transfer of the repository to a different user.
          full_name:
            type: string
            description: The concatenation of the repository owner's username and the slugified name, e.g. "evzijst/interruptingcow". This is the same string used in Bitbucket URLs.
          is_private:
            type: boolean
          parent:
            $ref: '#/components/schemas/repository'
          scm:
            type: string
            enum:
            - git
          owner:
            $ref: '#/components/schemas/account'
          name:
            type: string
          description:
            type: string
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          size:
            type: integer
          language:
            type: string
          has_issues:
            type: boolean
            description: '

              The issue tracker for this repository is enabled. Issue Tracker

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          has_wiki:
            type: boolean
            description: '

              The wiki for this repository is enabled. Wiki

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          fork_policy:
            type: string
            description: "\nControls the rules for forking this repository.\n\n* **allow_forks**: unrestricted forking\n* **no_public_forks**: restrict forking to private forks (forks cannot\n  be made public later)\n* **no_forks**: deny all forking\n"
            enum:
            - allow_forks
            - no_public_forks
            - no_forks
          project:
            $ref: '#/components/schemas/project'
          mainbranch:
            $ref: '#/components/schemas/branch'
        additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    paginated_log_entries:
      type: object
      title: Paginated Log Entries
      description: A paginated list of issue changes.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
          example: 10
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
          example: 10
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        values:
          type: array
          items:
            $ref: '#/components/schemas/issue_change'
          minItems: 0
          example: []
      additionalProperties: false
    issue_change:
      type: object
      title: Issue Change
      description: An issue change.
      properties:
        type:
          type: string
          example: example_value
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            issue:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
          example: example_value
        name:
          type: string
          example: Example Title
        created_on:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        user:
          $ref: '#/components/schemas/account'
        issue:
          $ref: '#/components/schemas/issue'
        changes:
          type: object
          properties:
            assignee:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
            state:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
            title:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
            kind:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
            milestone:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
            component:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
            priority:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
            version:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
            content:
              type: object
              properties:
                old:
                  type: string
                new:
                  type: string
              additionalProperties: false
          additionalProperties: false
          example: example_value
        message:
          type: object
          properties:
            raw:
              type: string
              description: The text as it was typed by a user.
            markup:
              type: string
              description: The type of markup language the raw content is to be interpreted in.
              enum:
              - markdown
              - creole
              - plaintext
            html:
              type: string
              description: The user's content rendered as HTML.
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
          example: https://www.example.com
        name:
          type: string
          example: Example Title
      additionalProperties: false
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    branch:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Branch
        description: A branch object, representing a branch in a repository.
        properties:
          merge_strategies:
            type: array
            description: Available merge strategies for pull requests targeting this branch.
            items:
              type: string
              enum:
              - merge_commit
              - squash
              - fast_forward
          default_merge_strategy:
            type: string
            description: The default merge strategy for pull requests targeting this branch.
        additionalProperties: true
    paginated_snippet_commit:
      type: object
      title: Paginated Snippet Commits
      description: A paginated list of snippet commits.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
          example: 10
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
          example: 10
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
          example: https://www.example.com
        values:
          type: object
          title: Snippet Commit
          description: ''
          properties:
            links:
              type: object
              properties:
                self:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
                html:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
                diff:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              additionalProperties: false
            snippet:
              $ref: '#/components/schemas/snippet'
          additionalProperties: true
          example: example_value
      additionalProperties: false
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    milestone:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Milestone
        description: A milestone as defined in a repository's issue tracker.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          name:
            type: string
          id:
            type: integer
        additionalProperties: true
    ref:
      type: object
      title: Ref
      description: A ref object, representing a branch or tag in a repository.
      properties:
        type:
          type: string
          example: example_value
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            commits:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            html:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
          example: example_value
        name:
          type: string
          description: The name of the ref.
          example: Example Title
        target:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
  examples:
    paginated-log-entries:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.example.com/logs?page=2
      previous: https://api.example.com/logs?page=0
      values: []
    undefined:
      id: 12345
      created_on: '2023-10-15T14:30:00.000000+00:00'
      updated_on: '2023-10-15T15:45:00.000000+00:00'
      content:
        raw: This looks good to me!
        markup: markdown
        html: <p>This looks good to me!</p>
      user:
        display_name: John Doe
        uuid: '{a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6}'
        username: johndoe
        type: user
      deleted: false
      parent:
        id: 12340
      inline:
        to: 15
        from: 10
        path: src/main.py
      type: pullrequest_comment
      pullrequest:
        id: 789
        title: Add new feature
        type: pullrequest
      resolution:
        status: resolved
        timestamp: '2023-10-15T16:00:00.000000+00:00'
      pending: false
    paginated-snippet-commits:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.bitbucket.org/2.0/snippets/commits?page=2
      previous: https://api.bitbucket.org/2.0/snippets/commits?page=0
      values:
        links:
          self:
            href: https://api.bitbucket.org/2.0/snippets/workspace/snippet_id/commits/commit_hash
            name: Snippet Commit
          html:
            href: https://bitbucket.org/workspace/snippet_id/commits/commit_hash
            name: HTML View
          diff:
            href: https://api.bitbucket.org/2.0/snippets/workspace/snippet_id/commits/commit_hash/diff
            name: Diff
        snippet: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
