openapi: 3.2.0
info:
  title: Atlassian Commits API
  version: '2.0'
  contact:
    name: Bitbucket Support
    url: https://support.atlassian.com/bitbucket-cloud/
    email: support@bitbucket.org
  termsOfService: https://www.atlassian.com/legal/customer-agreement
  description: 'Operations tagged Commits across 2 of this provider''s published API definitions: bitbucket-openapi-original.yml, bitbucket-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bitbucket.org/2.0
tags:
- name: Commits
  description: 'These are the repository''s commits. They are paginated and returned in

    reverse chronological order, similar to the output of git log.'
paths:
  /repositories/{workspace}/{repo_slug}/commit/{commit}:
    parameters:
    - name: commit
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: Returns the specified commit.
      summary: Atlassian Get A Commit
      responses:
        '200':
          description: The commit object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit'
              examples:
                response:
                  value:
                    rendered:
                      message:
                        raw: Add a GEORDI_OUTPUT_DIR setting
                        markup: markdown
                        html: <p>Add a GEORDI_OUTPUT_DIR setting</p>
                        type: rendered
                    hash: f7591a13eda445d9a9167f98eb870319f4b6c2d8
                    repository:
                      name: geordi
                      type: repository
                      full_name: bitbucket/geordi
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi
                        html:
                          href: https://bitbucket.org/bitbucket/geordi
                        avatar:
                          href: https://bytebucket.org/ravatar/%7B85d08b4e-571d-44e9-a507-fa476535aa98%7D?ts=1730260
                      uuid: '{85d08b4e-571d-44e9-a507-fa476535aa98}'
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8
                      comments:
                        href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/comments
                      patch:
                        href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/patch/f7591a13eda445d9a9167f98eb870319f4b6c2d8
                      html:
                        href: https://bitbucket.org/bitbucket/geordi/commits/f7591a13eda445d9a9167f98eb870319f4b6c2d8
                      diff:
                        href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/diff/f7591a13eda445d9a9167f98eb870319f4b6c2d8
                      approve:
                        href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/approve
                      statuses:
                        href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/statuses
                    author:
                      raw: Brodie Rao <a@b.c>
                      type: author
                      user:
                        display_name: Brodie Rao
                        uuid: '{9484702e-c663-4afd-aefb-c93a8cd31c28}'
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/users/%7B9484702e-c663-4afd-aefb-c93a8cd31c28%7D
                          html:
                            href: https://bitbucket.org/%7B9484702e-c663-4afd-aefb-c93a8cd31c28%7D/
                          avatar:
                            href: https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:3aae1e05-702a-41e5-81c8-f36f29afb6ca/613070db-28b0-421f-8dba-ae8a87e2a5c7/128
                        type: user
                        nickname: brodie
                        account_id: 557058:3aae1e05-702a-41e5-81c8-f36f29afb6ca
                    summary:
                      raw: Add a GEORDI_OUTPUT_DIR setting
                      markup: markdown
                      html: <p>Add a GEORDI_OUTPUT_DIR setting</p>
                      type: rendered
                    participants: []
                    parents:
                    - type: commit
                      hash: f06941fec4ef6bcb0c2456927a0cf258fa4f899b
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f06941fec4ef6bcb0c2456927a0cf258fa4f899b
                        html:
                          href: https://bitbucket.org/bitbucket/geordi/commits/f06941fec4ef6bcb0c2456927a0cf258fa4f899b
                    date: '2012-07-16T19:37:54+00:00'
                    message: Add a GEORDI_OUTPUT_DIR setting
                    type: commit
        '404':
          description: If the specified commit or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetACommit
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commit/{commit}/approve:
    parameters:
    - name: commit
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Commits
      description: 'Redact the authenticated user''s approval of the specified commit.


        This operation is only available to users that have explicit access to

        the repository. In contrast, just the fact that a repository is

        publicly accessible to users does not give them the ability to approve

        commits.'
      summary: Atlassian Unapprove A Commit
      responses:
        '204':
          description: An empty response indicating the authenticated user's approval has been withdrawn.
        '404':
          description: If the specified commit, or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - write:repository:bitbucket
      operationId: atlassianUnapproveACommit
    post:
      tags:
      - Commits
      description: 'Approve the specified commit as the authenticated user.


        This operation is only available to users that have explicit access to

        the repository. In contrast, just the fact that a repository is

        publicly accessible to users does not give them the ability to approve

        commits.'
      summary: Atlassian Approve A Commit
      responses:
        '200':
          description: The `participant` object recording that the authenticated user approved the commit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participant'
        '404':
          description: If the specified commit, or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - write:repository:bitbucket
      operationId: atlassianApproveACommit
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments:
    parameters:
    - name: commit
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: 'Returns the commit''s comments.


        This includes both global and inline comments.


        The default sorting is oldest to newest and can be overridden with

        the `sort` query parameter.'
      summary: Atlassian List A Commit S Comments
      responses:
        '200':
          description: A paginated list of commit comments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_commit_comments'
      parameters:
      - name: q
        in: query
        description: 'Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListACommitSComments
    post:
      tags:
      - Commits
      description: 'Creates new comment on the specified commit.


        To post a reply to an existing comment, include the `parent.id` field:


        ```

        $ curl https://api.bitbucket.org/2.0/repositories/atlassian/prlinks/commit/db9ba1e031d07a02603eae0e559a7adc010257fc/comments/ \

        -X POST -u evzijst \

        -H ''Content-Type: application/json'' \

        -d ''{"content": {"raw": "One more thing!"},

        "parent": {"id": 5728901}}''

        ```'
      summary: Atlassian Create Comment For A Commit
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly created comment.
              schema:
                type: string
        '400':
          description: If the comment was detected as spam, or if the parent comment is not attached to the same node as the new comment
        '404':
          description: If a parent ID was passed in that cannot be found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
        description: The specified comment.
        required: true
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianCreateCommentForACommit
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: commit
      in: path
      description: The commit's SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Commits
      description: 'Deletes the specified commit comment.


        Note that deleting comments that have visible replies that point to

        them will not really delete the resource. This is to retain the integrity

        of the original comment tree. Instead, the `deleted` element is set to

        `true` and the content is blanked out. The comment will continue to be

        returned by the collections and self endpoints.'
      summary: Atlassian Delete A Commit Comment
      responses:
        '204':
          description: Indicates the comment was deleted by this action or a previous delete.
        '404':
          description: If the comment doesn't exist
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianDeleteACommitComment
    get:
      tags:
      - Commits
      description: Returns the specified commit comment.
      summary: Atlassian Get A Commit Comment
      responses:
        '200':
          description: The commit comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit_comment'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetACommitComment
    put:
      tags:
      - Commits
      description: 'Used to update the contents of a comment. Only the content of the comment can be updated.


        ```

        $ curl https://api.bitbucket.org/2.0/repositories/atlassian/prlinks/commit/7f71b5/comments/5728901 \

        -X PUT -u evzijst \

        -H ''Content-Type: application/json'' \

        -d ''{"content": {"raw": "One more thing!"}''

        ```'
      summary: Atlassian Update A Commit Comment
      responses:
        '201':
          description: The newly updated comment.
          headers:
            Location:
              description: The location of the newly updated comment.
              schema:
                type: string
        '400':
          description: If the comment update was detected as spam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
        description: The updated comment.
        required: true
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianUpdateACommitComment
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commits:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: 'These are the repository''s commits. They are paginated and returned

        in reverse chronological order, similar to the output of `git log`.

        Like these tools, the DAG can be filtered.


        #### GET /repositories/{workspace}/{repo_slug}/commits/


        Returns all commits in the repo in topological order (newest commit

        first). All branches and tags are included (similar to

        `git log --all`).


        #### GET /repositories/{workspace}/{repo_slug}/commits/?exclude=master


        Returns all commits in the repo that are not on master

        (similar to `git log --all ^master`).


        #### GET /repositories/{workspace}/{repo_slug}/commits/?include=foo&include=bar&exclude=fu&exclude=fubar


        Returns all commits that are on refs `foo` or `bar`, but not on `fu` or

        `fubar` (similar to `git log foo bar ^fu ^fubar`).


        An optional `path` parameter can be specified that will limit the

        results to commits that affect that path. `path` can either be a file

        or a directory. If a directory is specified, commits are returned that

        have modified any file in the directory tree rooted by `path`. It is

        important to note that if the `path` parameter is specified, the commits

        returned by this endpoint may no longer be a DAG, parent commits that

        do not modify the path will be omitted from the response.


        #### GET /repositories/{workspace}/{repo_slug}/commits/?path=README.md&include=foo&include=bar&exclude=master


        Returns all commits that are on refs `foo` or `bar`, but not on `master`

        that changed the file README.md.


        #### GET /repositories/{workspace}/{repo_slug}/commits/?path=src/&include=foo&include=bar&exclude=master


        Returns all commits that are on refs `foo` or `bar`, but not on `master`

        that changed to a file in any file in the directory src or its children.


        Because the response could include a very large number of commits, it

        is paginated. Follow the ''next'' link in the response to navigate to the

        next page of commits. As with other paginated resources, do not

        construct your own links.


        When the include and exclude parameters are more than can fit in a

        query string, clients can use a `x-www-form-urlencoded` POST instead.'
      summary: Atlassian List Commits
      responses:
        '200':
          description: A paginated list of commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_changeset'
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListCommits
    post:
      tags:
      - Commits
      description: 'Identical to `GET /repositories/{workspace}/{repo_slug}/commits`,

        except that POST allows clients to place the include and exclude

        parameters in the request body to avoid URL length issues.


        **Note that this resource does NOT support new commit creation.**'
      summary: Atlassian List Commits With Include Exclude
      responses:
        '200':
          description: A paginated list of commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_changeset'
        '404':
          description: If the specified repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListCommitsWithIncludeExclude
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commits/{revision}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: revision
      in: path
      description: A commit SHA1 or ref name.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: 'These are the repository''s commits. They are paginated and returned

        in reverse chronological order, similar to the output of `git log`.

        Like these tools, the DAG can be filtered.


        #### GET /repositories/{workspace}/{repo_slug}/commits/master


        Returns all commits on ref `master` (similar to `git log master`).


        #### GET /repositories/{workspace}/{repo_slug}/commits/dev?include=foo&exclude=master


        Returns all commits on ref `dev` or `foo`, except those that are reachable on

        `master` (similar to `git log dev foo ^master`).


        An optional `path` parameter can be specified that will limit the

        results to commits that affect that path. `path` can either be a file

        or a directory. If a directory is specified, commits are returned that

        have modified any file in the directory tree rooted by `path`. It is

        important to note that if the `path` parameter is specified, the commits

        returned by this endpoint may no longer be a DAG, parent commits that

        do not modify the path will be omitted from the response.


        #### GET /repositories/{workspace}/{repo_slug}/commits/dev?path=README.md&include=foo&include=bar&exclude=master


        Returns all commits that are on refs `dev` or `foo` or `bar`, but not on `master`

        that changed the file README.md.


        #### GET /repositories/{workspace}/{repo_slug}/commits/dev?path=src/&include=foo&exclude=master


        Returns all commits that are on refs `dev` or `foo`, but not on `master`

        that changed to a file in any file in the directory src or its children.


        Because the response could include a very large number of commits, it

        is paginated. Follow the ''next'' link in the response to navigate to the

        next page of commits. As with other paginated resources, do not

        construct your own links.


        When the include and exclude parameters are more than can fit in a

        query string, clients can use a `x-www-form-urlencoded` POST instead.'
      summary: Atlassian List Commits For Revision
      responses:
        '200':
          description: A paginated list of commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_changeset'
        '404':
          description: If the specified revision does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListCommitsForRevision
    post:
      tags:
      - Commits
      description: 'Identical to `GET /repositories/{workspace}/{repo_slug}/commits/{revision}`,

        except that POST allows clients to place the include and exclude

        parameters in the request body to avoid URL length issues.


        **Note that this resource does NOT support new commit creation.**'
      summary: Atlassian List Commits For Revision Using Include Exclude
      responses:
        '200':
          description: A paginated list of commits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_changeset'
        '404':
          description: If the specified revision does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianListCommitsForRevisionUsingIncludeExclude
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/diff/{spec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: spec
      in: path
      description: 'A commit SHA (e.g. `3a8b42`) or a commit range using double dot

        notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: 'Produces a raw git-style diff.


        #### Single commit spec


        If the `spec` argument to this API is a single commit, the diff is

        produced against the first parent of the specified commit.


        #### Two commit spec


        Two commits separated by `..` may be provided as the `spec`, e.g.,

        `3a8b42..9ff173`. When two commits are provided and the `topic` query

        parameter is true, this API produces a 2-way three dot diff.

        This is the diff between source commit and the merge base of the source

        commit and the destination commit. When the `topic` query param is false,

        a simple git-style diff is produced.


        The two commits are interpreted as follows:


        * First commit: the commit containing the changes we wish to preview

        * Second commit: the commit representing the state to which we want to

        compare the first commit

        * **Note**: This is the opposite of the order used in `git diff`.


        #### Comparison to patches


        While similar to patches, diffs:


        * Don''t have a commit header (username, commit message, etc)

        * Support the optional `path=foo/bar.py` query param to filter

        the diff to just that one file diff


        #### Response


        The raw diff is returned as-is, in whatever encoding the files in the

        repository use. It is not decoded into unicode. As such, the

        content-type is `text/plain`.'
      summary: Atlassian Compare Two Commits
      responses:
        '200':
          description: The raw diff
        '555':
          description: 'If the diff was too large and timed out.


            Since this endpoint does not employ any form of pagination, but

            instead returns the diff as a single document, it can run into

            trouble on very large diffs. If Bitbucket times out in cases

            like these, a 555 status code is returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: context
        in: query
        description: Generate diffs with <n> lines of context instead of the usual three.
        required: false
        schema:
          type: integer
      - name: path
        in: query
        description: 'Limit the diff to a particular file (this parameter

          can be repeated for multiple paths).'
        required: false
        schema:
          type: string
      - name: ignore_whitespace
        in: query
        description: Generate diffs that ignore whitespace.
        required: false
        schema:
          type: boolean
      - name: binary
        in: query
        description: Generate diffs that include binary files, true if omitted.
        required: false
        schema:
          type: boolean
      - name: renames
        in: query
        description: Whether to perform rename detection, true if omitted.
        required: false
        schema:
          type: boolean
      - name: merge
        in: query
        description: 'This parameter is deprecated. The ''topic'' parameter should be used

          instead. The ''merge'' and ''topic'' parameters cannot be both used at

          the same time.


          If true, the source commit is merged into the

          destination commit, and then a diff from the

          destination to the merge result is returned. If false,

          a simple ''two dot'' diff between the source and

          destination is returned. True if omitted.'
        required: false
        schema:
          type: boolean
      - name: topic
        in: query
        description: 'If true, returns 2-way ''three-dot'' diff.

          This is a diff between the source commit and the merge base

          of the source commit and the destination commit.

          If false, a simple ''two dot'' diff between the source and

          destination is returned.'
        required: false
        schema:
          type: boolean
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianCompareTwoCommits
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/diffstat/{spec}:
    parameters:
    - name: ignore_whitespace
      in: query
      description: Generate diffs that ignore whitespace
      required: false
      schema:
        type: boolean
    - name: merge
      in: query
      description: 'This parameter is deprecated. The ''topic'' parameter should be used

        instead. The ''merge'' and ''topic'' parameters cannot be both used at

        the same time.


        If true, the source commit is merged into the

        destination commit, and then a diffstat from the

        destination to the merge result is returned. If false,

        a simple ''two dot'' diffstat between the source and

        destination is returned. True if omitted.'
      required: false
      schema:
        type: boolean
    - name: path
      in: query
      description: 'Limit the diffstat to a particular file (this parameter

        can be repeated for multiple paths).'
      required: false
      schema:
        type: string
    - name: renames
      in: query
      description: Whether to perform rename detection, true if omitted.
      required: false
      schema:
        type: boolean
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: spec
      in: path
      description: 'A commit SHA (e.g. `3a8b42`) or a commit range using double dot

        notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: topic
      in: query
      description: 'If true, returns 2-way ''three-dot'' diff.

        This is a diff between the source commit and the merge base

        of the source commit and the destination commit.

        If false, a simple ''two dot'' diff between the source and

        destination is returned.'
      required: false
      schema:
        type: boolean
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: 'Produces a response in JSON format with a record for every path

        modified, including information on the type of the change and the

        number of lines added and removed.


        #### Single commit spec


        If the `spec` argument to this API is a single commit, the diff is

        produced against the first parent of the specified commit.


        #### Two commit spec


        Two commits separated by `..` may be provided as the `spec`, e.g.,

        `3a8b42..9ff173`. When two commits are provided and the `topic` query

        parameter is true, this API produces a 2-way three dot diff.

        This is the diff between source commit and the merge base of the source

        commit and the destination commit. When the `topic` query param is false,

        a simple git-style diff is produced.


        The two commits are interpreted as follows:


        * First commit: the commit containing the changes we wish to preview

        * Second commit: the commit representing the state to which we want to

        compare the first commit

        * **Note**: This is the opposite of the order used in `git diff`.'
      summary: Atlassian Compare Two Commit Diff Stats
      responses:
        '200':
          description: The diff stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_diffstats'
              examples:
                response:
                  value:
                    pagelen: 500
                    values:
                    - type: diffstat
                      status: modified
                      lines_removed: 1
                      lines_added: 2
                      old:
                        path: setup.py
                        escaped_path: setup.py
                        type: commit_file
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/src/e1749643d655d7c7014001a6c0f58abaf42ad850/setup.py
                      new:
                        path: setup.py
                        escaped_path: setup.py
                        type: commit_file
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/src/d222fa235229c55dad20b190b0b571adf737d5a6/setup.py
                    page: 1
                    size: 1
        '555':
          description: If generating the diffstat timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianCompareTwoCommitDiffStats
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/merge-base/{revspec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: revspec
      in: path
      description: 'A commit range using double dot notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: 'Returns the best common ancestor between two commits, specified in a revspec

        of 2 commits (e.g. 3a8b42..9ff173).


        If more than one best common ancestor exists, only one will be returned. It is

        unspecified which will be returned.'
      summary: Atlassian Get The Common Ancestor Between Two Commits
      responses:
        '200':
          description: The merge base of the provided spec.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have access to any of the repositories specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or ref in the spec does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetTheCommonAncestorBetweenTwoCommits
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/patch/{spec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: spec
      in: path
      description: 'A commit SHA (e.g. `3a8b42`) or a commit range using double dot

        notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      description: 'Produces a raw patch for a single commit (diffed against its first

        parent), or a patch-series for a revspec of 2 commits (e.g.

        `3a8b42..9ff173` where the first commit represents the source and the

        second commit the destination).


        In case of the latter (diffing a revspec), a patch series is returned

        for the commits on the source branch (`3a8b42` and its ancestors in

        our example).


        While similar to diffs, patches:


        * Have a commit header (username, commit message, etc)

        * Do not support the `path=foo/bar.py` query parameter


        The raw patch is returned as-is, in whatever encoding the files in the

        repository use. It is not decoded into unicode. As such, the

        content-type is `text/plain`.'
      summary: Atlassian Get A Patch For Two Commits
      responses:
        '200':
          description: The raw patches
        '555':
          description: 'If the diff was too large and timed out.


            Since this endpoint does not employ any form of pagination, but

            instead returns the diff as a single document, it can run into

            trouble on very large diffs. If Bitbucket times out in cases

            like these, a 555 status code is returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: atlassianGetAPatchForTwoCommits
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports:
    get:
      tags:
      - Commits
      description: Returns a paginated list of Reports linked to this commit.
      summary: List reports
      operationId: getReportsForCommit
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit for which to retrieve reports.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_reports'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}:
    put:
      tags:
      - Commits
      description: 'Creates or updates a report for the specified commit.

        To upload a report, make sure to generate an ID that is unique across all reports for that commit. If you want to use an existing id from your own system, we recommend prefixing it with your system''s name to avoid collisions, for example, mySystem-001.


        ### Sample cURL request:

        ```

        curl --request PUT ''https://api.bitbucket.org/2.0/repositories///commit//reports/mysystem-001'' \

        --header ''Content-Type: application/json'' \

        --data-raw ''{

        "title": "Security scan report",

        "details": "This pull request introduces 10 new dependency vulnerabilities.",

        "report_type": "SECURITY",

        "reporter": "mySystem",

        "link": "http://www.mysystem.com/reports/001",

        "result": "FAILED",

        "data": [

        {

        "title": "Duration (seconds)",

        "type": "DURATION",

        "value": 14

        },

        {

        "title": "Safe to merge?",

        "type": "BOOLEAN",

        "value": false

        }

        ]

        }''

        ```


        ### Possible field values:

        report_type: SECURITY, COVERAGE, TEST, BUG

        result: PASSED, FAILED, PENDING

        data.type: BOOLEAN, DATE, DURATION, LINK, NUMBER, PERCENTAGE, TEXT


        #### Data field formats

        | Type Field | Value Field Type | Value Field Display |

        |:--------------|:------------------|:--------------------|

        | None/ Omitted | Number, String or Boolean (not an array or object) | Plain text |

        | BOOLEAN | Boolean | The value will be read as a JSON boolean and displayed as ''Yes'' or ''No''. |

        | DATE | Number | The value will be read as a JSON number in the form of a Unix timestamp (milliseconds) and will be displayed as a relative date if the date is less than one week ago, otherwise it will be displayed as an absolute date. |

        | DURATION | Number | The value will be read as a JSON number in milliseconds and will be displayed in a human readable duration format. |

        | LINK | Object: `{"text": "Link text here", "href": "https://link.to.annotation/in/external/tool"}` | The value will be read as a JSON object containing the fields "text" and "href" and will be displayed as a clickable link on the report. |

        | NUMBER | Number | The value will be read as a JSON number and large numbers will be displayed in a human readable format (e.g. 14.3k). |

        | PERCENTAGE | Number (between 0 and 100) | The value will be read as a JSON number between 0 and 100 and will be displayed with a percentage sign. |

        | TEXT | String | The value will be read as a JSON string and will be displayed as-is |


        Please refer to the Code Insights documentation for more information.'
      operationId: createOrUpdateReport
      summary: Create or update a report
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report'
        '400':
          description: The provided Report object is malformed or incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/report'
        description: The report to create or update
        required: true
    get:
      tags:
      - Commits
      description: Returns a single Report matching the provided ID.
      summary: Get a report
      operationId: getReport
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report'
        '404':
          description: The report with the given ID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
    delete:
      tags:
      - Commits
      description: Deletes a single Report matching the provided ID.
      summary: Delete a report
      operationId: deleteReport
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: No content
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations:
    get:
      tags:
      - Commits
      description: Returns a paginated list of Annotations for a specified report.
      summary: List annotations
      operationId: getAnnotationsForReport
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit for which to retrieve reports.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Uuid or external-if of the report for which to get annotations for.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_annotations'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
    post:
      tags:
      - Commits
      description: 'Bulk upload of annotations.

        Annotations are individual findings that have been identified as part of a report, for example, a line of code that represents a vulnerability. These annotations can be attached to a specific file and even a specific line in that file, however, that is optional. Annotations are not mandatory and a report can contain up to 1000 annotations.


        Add the annotations you want to upload as objects in a JSON array and make sure each annotation has the external_id field set to a unique value. If you want to use an existing id from your own system, we recommend prefixing it with your system''s name to avoid collisions, for example, mySystem-annotation001. The external id can later be used to identify the report as an alternative to the generated UUID. You can upload up to 100 annotations per POST request.


        ### Sample cURL request:

        ```

        curl --location ''https://api.bitbucket.org/2.0/repositories///commit//reports/mysystem-001/annotations'' \

        --header ''Content-Type: application/json'' \

        --data-raw ''[

        {

        "external_id": "mysystem-annotation001",

        "title": "Security scan report",

        "annotation_type": "VULNERABILITY",

        "summary": "This line represents a security threat.",

        "severity": "HIGH",

        "path": "my-service/src/main/java/com/myCompany/mysystem/logic/Main.java",

        "line": 42

        },

        {

        "external_id": "mySystem-annotation002",

        "title": "Bug report",

        "annotation_type": "BUG",

        "result": "FAILED",

        "summary": "This line might introduce a bug.",

        "severity": "MEDIUM",

        "path": "my-service/src/main/java/com/myCompany/mysystem/logic/Helper.java",

        "line": 13

        }

        ]''

        ```


        ### Possible field values:

        annotation_type: VULNERABILITY, CODE_SMELL, BUG

        result: PASSED, FAILED, IGNORED, SKIPPED

        severity: HIGH, MEDIUM, LOW, CRITICAL


        Please refer to the Code Insights documentation for more information.'
      operationId: bulkCreateOrUpdateAnnotations
      summary: Bulk create or update annotations
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit for which to retrieve reports.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Uuid or external-if of the report for which to get annotations for.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/report_annotation'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/report_annotation'
              minItems: 1
              maxItems: 100
        description: The annotations to create or update
        required: true
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations/{annotationId}:
    get:
      tags:
      - Commits
      description: Returns a single Annotation matching the provided ID.
      summary: Get an annotation
      operationId: getAnnotation
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      - name: annotationId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report_annotation'
        '404':
          description: The annotation with the given ID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
    put:
      tags:
      - Commits
      description: 'Creates or updates an individual annotation for the specified report.

        Annotations are individual findings that have been identified as part of a report, for example, a line of code that represents a vulnerability. These annotations can be attached to a specific file and even a specific line in that file, however, that is optional. Annotations are not mandatory and a report can contain up to 1000 annotations.


        Just as reports, annotation needs to be uploaded with a unique ID that can later be used to identify the report as an alternative to the generated UUID. If you want to use an existing id from your own system, we recommend prefixing it with your system''s name to avoid collisions, for example, mySystem-annotation001.


        ### Sample cURL request:

        ```

        curl --request PUT ''https://api.bitbucket.org/2.0/repositories///commit//reports/mySystem-001/annotations/mysystem-annotation001'' \

        --header ''Content-Type: application/json'' \

        --data-raw ''{

        "title": "Security scan report",

        "annotation_type": "VULNERABILITY",

        "summary": "This line represents a security thread.",

        "severity": "HIGH",

        "path": "my-service/src/main/java/com/myCompany/mysystem/logic/Main.java",

        "line": 42

        }''

        ```


        ### Possible field values:

        annotation_type: VULNERABILITY, CODE_SMELL, BUG

        result: PASSED, FAILED, IGNORED, SKIPPED

        severity: HIGH, MEDIUM, LOW, CRITICAL


        Please refer to the Code Insights documentation for more information.'
      operationId: createOrUpdateAnnotation
      summary: Create or update an annotation
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the report belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the report.
        required: true
        in: path
        schema:
          type: string
      - name: annotationId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report_annotation'
        '400':
          description: The provided Annotation object is malformed or incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/report_annotation'
        description: The annotation to create or update
        required: true
    delete:
      tags:
      - Commits
      description: Deletes a single Annotation matching the provided ID.
      summary: Delete an annotation
      operationId: deleteAnnotation
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: commit
        description: The commit the annotation belongs to.
        required: true
        in: path
        schema:
          type: string
      - name: reportId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      - name: annotationId
        description: Either the uuid or external-id of the annotation.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: No content
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
    servers:
    - url: https://api.bitbucket.org/2.0
  /repositories/{workspace}/{repo_slug}/file-conflicts/{spec}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: spec
      in: path
      description: 'A commit SHA (e.g. `3a8b42`) or a commit range using double dot

        notation (e.g. `3a8b42..9ff173`).

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Commits
      summary: Get file conflicts for a commit spec
      responses:
        '200':
          description: A paginated list of file conflicts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_file_conflicts'
              example:
                pagelen: 500
                page: 1
                size: 2
                values:
                - path: src/main/App.java
                  scenario: content
                  message: File modified in both source and destination
                - path: README.md
                  scenario: content
                  message: File modified in both source and destination
        '404':
          description: If the spec cannot be resolved, which may be due to an invalid spec, or commits/refs not present in the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      x-atlassian-auth-types:
      - forge-oauth2
      - api-token
      operationId: getRepositoriesByWorkspaceByRepoSlugFileConflictsBySpec
      x-operation-id-source: derived
    servers:
    - url: https://api.bitbucket.org/2.0
components:
  schemas:
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    ref:
      type: object
      title: Ref
      description: A ref object, representing a branch or tag in a repository.
      properties:
        type:
          type: string
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            commits:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            html:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
        name:
          type: string
          description: The name of the ref.
        target:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
    commit_file:
      type: object
      title: Commit File
      description: A file object, representing a file at a commit in a repository
      properties:
        type:
          type: string
        path:
          type: string
          description: The path in the repository
        commit:
          $ref: '#/components/schemas/commit'
        attributes:
          type: string
          enum:
          - link
          - executable
          - subrepository
          - binary
          - lfs
        escaped_path:
          type: string
          description: The escaped version of the path as it appears in a diff. If the path does not require escaping this will be the same as path.
      required:
      - type
      additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    commit_comment:
      allOf:
      - $ref: '#/components/schemas/comment'
      - type: object
        title: Commit Comment
        description: A commit comment.
        properties:
          commit:
            $ref: '#/components/schemas/commit'
        additionalProperties: true
    comment:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Comment
        description: The base type for all comments. This type should be considered abstract. Each of the "commentable" resources defines its own subtypes (e.g. `issue_comment`).
        properties:
          id:
            type: integer
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          content:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          user:
            $ref: '#/components/schemas/account'
          deleted:
            type: boolean
          parent:
            $ref: '#/components/schemas/comment'
          inline:
            type: object
            properties:
              from:
                type: integer
                description: The comment's anchor line in the old version of the file.
                minimum: 1
              to:
                type: integer
                description: The comment's anchor line in the new version of the file. If the 'from' line is also provided, this value will be removed.
                minimum: 1
              path:
                type: string
                description: The path of the file this comment is anchored to.
            required:
            - path
            additionalProperties: false
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              code:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    team:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: Team
        description: A team object.
        properties:
          links:
            $ref: '#/components/schemas/team_links'
        additionalProperties: true
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    diffstat:
      type: object
      title: Diff Stat
      description: A diffstat object that includes a summary of changes made to a file between two commits.
      properties:
        type:
          type: string
        status:
          type: string
          enum:
          - added
          - removed
          - modified
          - renamed
        lines_added:
          type: integer
        lines_removed:
          type: integer
        old:
          $ref: '#/components/schemas/commit_file'
        new:
          $ref: '#/components/schemas/commit_file'
      required:
      - type
      additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    paginated_diffstats:
      type: object
      title: Paginated Diff Stat
      description: A paginated list of diffstats.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 500 with 5000 being the maximum allowed value.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/diffstat'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    branch:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Branch
        description: A branch object, representing a branch in a repository.
        properties:
          merge_strategies:
            type: array
            description: Available merge strategies for pull requests targeting this branch.
            items:
              type: string
              enum:
              - merge_commit
              - squash
              - fast_forward
          default_merge_strategy:
            type: string
            description: The default merge strategy for pull requests targeting this branch.
        additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    repository:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Repository
        description: A Bitbucket repository.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              pullrequests:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              forks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watchers:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              downloads:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              clone:
                type: array
                items:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              hooks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The repository's immutable id. This can be used as a substitute for the slug segment in URLs. Doing this guarantees your URLs will survive renaming of the repository by its owner, or even transfer of the repository to a different user.
          full_name:
            type: string
            description: The concatenation of the repository owner's username and the slugified name, e.g. "evzijst/interruptingcow". This is the same string used in Bitbucket URLs.
          is_private:
            type: boolean
          parent:
            $ref: '#/components/schemas/repository'
          scm:
            type: string
            enum:
            - git
          owner:
            $ref: '#/components/schemas/account'
          name:
            type: string
          description:
            type: string
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          size:
            type: integer
          language:
            type: string
          has_issues:
            type: boolean
            description: '

              The issue tracker for this repository is enabled. Issue Tracker

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          has_wiki:
            type: boolean
            description: '

              The wiki for this repository is enabled. Wiki

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          fork_policy:
            type: string
            description: "\nControls the rules for forking this repository.\n\n* **allow_forks**: unrestricted forking\n* **no_public_forks**: restrict forking to private forks (forks cannot\n  be made public later)\n* **no_forks**: deny all forking\n"
            enum:
            - allow_forks
            - no_public_forks
            - no_forks
          project:
            $ref: '#/components/schemas/project'
          mainbranch:
            $ref: '#/components/schemas/branch'
        additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    paginated_commit_comments:
      type: object
      title: Paginated Commit Comments
      description: A paginated list of commit comments.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/commit_comment'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
        name:
          type: string
      additionalProperties: false
    paginated_changeset:
      type: object
      title: Page
      description: A paginated list of commits.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/base_commit'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    report_data:
      type: object
      title: Report Data
      description: A key-value element that will be displayed along with the report.
      properties:
        type:
          enum:
          - BOOLEAN
          - DATE
          - DURATION
          - LINK
          - NUMBER
          - PERCENTAGE
          - TEXT
          type: string
          description: The type of data contained in the value field. If not provided, then the value will be detected as a boolean, number or string.
        title:
          type: string
          description: A string describing what this data field represents.
        value:
          type: object
          description: The value of the data element.
    file_conflict:
      type: object
      title: File Conflict
      description: A file conflict object.
      properties:
        type:
          type: string
        path:
          type: string
        scenario:
          type: string
          enum:
          - delete_modify
          - modify_delete
          - content
          - binary
          - flags
          - mode
          - type
          - symlink
          - directory_file
          - file_directory
          - add_rename
          - rename_add
          - delete_rename
          - rename_delete
          - rename
          - subrepo
          - unknown
        message:
          type: string
      required:
      - type
      additionalProperties: true
    paginated_reports:
      type: object
      title: Paginated Reports
      description: A paginated list of reports.
      properties:
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
        values:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/report'
          description: The values of the current page.
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
        next:
          type: string
          format: uri
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
        previous:
          type: string
          format: uri
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
    comment_2:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Comment
        description: The base type for all comments. This type should be considered abstract. Each of the "commentable" resources defines its own subtypes (e.g. `issue_comment`).
        properties:
          id:
            type: integer
            format: int64
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          content:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          user:
            $ref: '#/components/schemas/account_2'
          deleted:
            type: boolean
          parent:
            $ref: '#/components/schemas/comment_2'
          inline:
            type: object
            properties:
              from:
                type: integer
                description: The comment's anchor line in the old version of the file. If the comment is a multi-line comment, this is the ending line number in the old version of the file.
                minimum: 1
              to:
                type: integer
                description: The comment's anchor line in the new version of the file. If the comment is a multi-line comment, this is the ending line number in the new version of the file.
                minimum: 1
              start_from:
                type: integer
                description: The starting line number in the old version of the file, if the comment is a multi-line comment. This is null otherwise.
                minimum: 1
              start_to:
                type: integer
                description: The starting line number in the new version of the file, if the comment is a multi-line comment. This is null otherwise.
                minimum: 1
              path:
                type: string
                description: The path of the file this comment is anchored to.
            required:
            - path
            additionalProperties: false
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              code:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
        additionalProperties: true
    base_commit_2:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
[...]
