openapi: 3.1.0
info:
  title: Atlassian Admin Account Watch API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Watch
paths:
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/watch:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Watch
      description: This API endpoint allows authenticated users to start watching a specific issue in a Bitbucket repository by sending a PUT request to the specified path with the workspace identifier, repository slug, and issue ID. When executed successfully, the user will receive notifications about subsequent changes, comments, and updates to that particular issue. This is useful for staying informed about issues that are relevant to a user's work or interests without needing to manually check for updates. The operation requires appropriate authentication and the user must have at least read access to the repository containing the issue. The endpoint returns a successful response once the watch has been established for the authenticated user on the specified issue.
      summary: Atlassian Watch an Issue
      responses:
        '204':
          description: Indicates that the authenticated user successfully started watching this issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: When the request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the authenticated user is not watching this issue, or when the repo does not exist, or does not have an issue tracker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account:write
        - issue
      - basic: []
      - api_key: []
      operationId: watchAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/watch:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    put:
      tags:
      - Watch
      description: Used to start watching a specific snippet in a Bitbucket workspace, enabling the authenticated user to receive notifications about changes or updates to that snippet. The operation requires the workspace identifier and the encoded snippet ID as path parameters, and when executed successfully, the user will be subscribed to notifications for activities related to that particular snippet, such as comments, modifications, or other relevant events.
      summary: Atlassian Watch Snippet
      responses:
        '204':
          description: Indicates the authenticated user is now watching the snippet.
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet:write
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: watchSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
