openapi: 3.1.0
info:
  title: Atlassian Admin Account Property API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Property
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pullrequest_id}/properties/{app_key}/{property_name}:
    put:
      responses:
        '204':
          description: An empty response.
      operationId: updatePullRequestApplicationProperty
      summary: Atlassian Update Pull Request Application Property
      description: This API operation allows you to update or set an application-specific property on a Bitbucket pull request within a repository. By making a PUT request to the endpoint with the workspace identifier, repository slug, pull request ID, application key, and property name, you can store custom metadata or configuration data associated with that specific pull request. This is particularly useful for third-party applications or integrations that need to maintain their own state or settings related to a pull request, such as storing build statuses, review preferences, or custom workflow information. The operation requires appropriate authentication and permissions to modify properties on the specified pull request, and it will either create a new property if it doesn't exist or update the existing value if the property is already present.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      tags:
      - Property
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      responses:
        '204':
          description: An empty response.
      operationId: deletePullRequestApplicationProperty
      summary: Atlassian Delete Pull Request Application Property
      description: This API operation allows you to delete a specific application property associated with a pull request in a Bitbucket repository. The endpoint requires you to specify the workspace, repository slug, pull request ID, application key, and property name in the URL path. When executed with a DELETE request, it removes the custom property data that was previously stored by an application for that particular pull request, effectively cleaning up application-specific metadata. This is useful for Bitbucket Connect apps or integrations that need to manage their own custom data associated with pull requests and want to remove properties that are no longer needed or relevant.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Property
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
              examples:
                application-property:
                  $ref: '#/components/examples/application-property'
      operationId: getPullRequestApplicationProperty
      summary: Atlassian Get Pull Request Application Property
      description: This API endpoint retrieves a specific application property value associated with a pull request in a Bitbucket repository, identified by the workspace, repository slug, pull request ID, application key, and property name parameters in the URL path. Application properties allow third-party apps and integrations to store custom metadata or configuration data against individual pull requests, enabling extended functionality beyond Bitbucket's native features. The GET operation returns the stored property value for the specified property name under the given app key, allowing applications to retrieve their previously stored data for use in workflows, automation, or custom UI elements related to the pull request.
      parameters:
      - required: true
        in: path
        name: workspace
        description: The repository container; either the workspace slug or the UUID in curly braces.
        schema:
          type: string
      - required: true
        in: path
        name: repo_slug
        description: The repository.
        schema:
          type: string
      - required: true
        in: path
        name: pullrequest_id
        description: The pull request ID.
        schema:
          type: string
      - required: true
        in: path
        name: app_key
        description: The key of the Connect app.
        schema:
          type: string
      - required: true
        in: path
        name: property_name
        description: The name of the property.
        schema:
          type: string
      tags:
      - Property
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    application-property:
      _attributes:
      - public
      - read_only
      customField1: example value
      customField2: 123
      nestedObject:
        key: value
  schemas:
    application_property:
      additionalProperties: true
      type: object
      title: Application Property
      description: "An application property. It is a caller defined JSON object that Bitbucket will store and return. \nThe `_attributes` field at its top level can be used to control who is allowed to read and update the property. \nThe keys of the JSON object must match an allowed pattern. For details, \nsee [Application properties](/cloud/bitbucket/application-properties/).\n"
      properties:
        _attributes:
          type: array
          items:
            type: string
            enum:
            - public
            - read_only
          example: []
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
