openapi: 3.1.0
info:
  title: Atlassian Admin Account Dashboards API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Dashboards
paths:
  /rest/api/3/dashboard/bulk/edit:
    put:
      deprecated: false
      description: Bulk edit dashboards. Maximum number of dashboards to be edited at the same time is 100.<br><br>**[Permissions](#permissions) required:** None<br><br>The dashboards to be updated must be owned by the user, or the user must be an administrator.
      operationId: atlassianBulkeditdashboards
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              action: changePermission
              entityIds:
              - 10001
              - 10002
              extendAdminPermissions: true
              permissionDetails:
                editPermissions:
                - group:
                    groupId: 276f955c-63d7-42c8-9520-92d01dca0625
                    name: jira-administrators
                    self: https://your-domain.atlassian.net/rest/api/~ver~/group?groupId=276f955c-63d7-42c8-9520-92d01dca0625
                  id: 10010
                  type: group
                sharePermissions:
                - id: 10000
                  type: global
            schema:
              $ref: '#/components/schemas/BulkEditShareableEntityRequest'
        description: The details of dashboards being updated in bulk.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"action":"changePermission","entityErrors":{"10002":{"errorMessages":["Only owner or editors of the dashboard can change permissions."],"errors":{}}}}'
              schema:
                $ref: '#/components/schemas/BulkEditShareableEntityResponse'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is not valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      summary: Atlassian Bulk Edit Dashboards
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        - read:group:jira
        - read:project:jira
        - read:project-role:jira
        - read:user:jira
        - write:dashboard:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
  /rest/api/3/dashboard/gadgets:
    get:
      deprecated: false
      description: Gets a list of all available gadgets that can be added to all dashboards.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianGetallavailabledashboardgadgets
      parameters: []
      responses:
        '200':
          content:
            application/json:
              example: '{"gadgets":[{"moduleKey":"com.atlassian.plugins.atlassian-connect-plugin:com.atlassian.connect.node.sample-addon__sample-dashboard-item","title":"Issue statistics"},{"uri":"rest/gadgets/1.0/g/com.atlassian.streams.streams-jira-plugin:activitystream-gadget/gadgets/activitystream-gadget.xml","title":"Activity Stream"}]}'
              schema:
                $ref: '#/components/schemas/AvailableDashboardGadgetsResponse'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: 400 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      summary: Atlassian Get Available Gadgets
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
  /rest/api/3/dashboard/search:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of dashboards. This operation is similar to [Get dashboards](#api-rest-api-3-dashboard-get) except that the results can be refined to include dashboards that have specific attributes. For example, dashboards with a particular name. When multiple attributes are specified only filters matching all attributes are returned.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** The following dashboards that match the query parameters are returned:<br><br> *  Dashboards owned by the user. Not returned for anonymous users.<br> *  Dashboards shared with a group that the user is a member of. Not returned for anonymous users.<br> *  Dashboards shared with a private project that the user can browse. Not returned for anonymous users.<br> *  Dashboards shared with a public project.<br> *  Dashboards shared with the public.
      operationId: atlassianGetdashboardspaginated
      parameters:
      - description: String used to perform a case-insensitive partial match with `name`.
        in: query
        name: dashboardName
        schema:
          type: string
      - description: User account ID used to return dashboards with the matching `owner.accountId`. This parameter cannot be used with the `owner` parameter.
        in: query
        name: accountId
        schema:
          maxLength: 128
          type: string
      - description: This parameter is deprecated because of privacy changes. Use `accountId` instead. See the [migration guide](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details. User name used to return dashboards with the matching `owner.name`. This parameter cannot be used with the `accountId` parameter.
        in: query
        name: owner
        schema:
          type: string
      - description: As a group's name can change, use of `groupId` is recommended. Group name used to return dashboards that are shared with a group that matches `sharePermissions.group.name`. This parameter cannot be used with the `groupId` parameter.
        in: query
        name: groupname
        schema:
          type: string
      - description: Group ID used to return dashboards that are shared with a group that matches `sharePermissions.group.groupId`. This parameter cannot be used with the `groupname` parameter.
        in: query
        name: groupId
        schema:
          type: string
      - description: Project ID used to returns dashboards that are shared with a project that matches `sharePermissions.project.id`.
        in: query
        name: projectId
        schema:
          format: int64
          type: integer
      - description: "[Order](#ordering) the results by a field:\n\n *  `description` Sorts by dashboard description. Note that this sort works independently of whether the expand to display the description field is in use.\n *  `favourite_count` Sorts by dashboard popularity.\n *  `id` Sorts by dashboard ID.\n *  `is_favourite` Sorts by whether the dashboard is marked as a favorite.\n *  `name` Sorts by dashboard name.\n *  `owner` Sorts by dashboard owner name."
        in: query
        name: orderBy
        schema:
          default: name
          enum:
          - description
          - -description
          - +description
          - favorite_count
          - -favorite_count
          - +favorite_count
          - id
          - -id
          - +id
          - is_favorite
          - -is_favorite
          - +is_favorite
          - name
          - -name
          - +name
          - owner
          - -owner
          - +owner
          type: string
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: The status to filter by. It may be active, archived or deleted.
        in: query
        name: status
        schema:
          default: active
          enum:
          - active
          - archived
          - deleted
          type: string
      - description: "Use [expand](#expansion) to include additional information about dashboard in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `description` Returns the description of the dashboard.\n *  `owner` Returns the owner of the dashboard.\n *  `viewUrl` Returns the URL that is used to view the dashboard.\n *  `favourite` Returns `isFavourite`, an indicator of whether the user has set the dashboard as a favorite.\n *  `favouritedCount` Returns `popularity`, a count of how many users have set this dashboard as a favorite.\n *  `sharePermissions` Returns details of the share permissions defined for the dashboard.\n *  `editPermissions` Returns details of the edit permissions defined for the dashboard.\n *  `isWritable` Returns whether the current user has permission to edit the dashboard."
        in: query
        name: expand
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/search?expand=owner&maxResults=50&startAt=0","startAt":0,"total":2,"values":[{"description":"Testing program","id":"1","isFavourite":true,"name":"Testing","owner":{"self":"https://your-domain.atlassian.net/user?accountId=5b10a2844c20165700ede21g","displayName":"Mia","active":true,"accountId":"5b10a2844c20165700ede21g","avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"}},"popularity":1,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/1","sharePermissions":[{"type":"global"}],"view":"https://your-domain.atlassian.net/Dashboard.jspa?selectPageId=1"},{"description":"Quantum initiative","id":"2","isFavourite":false,"name":"Quantum ","owner":{"self":"https://your-domain.atlassian.net/user?accountId=5b10a2844c20165700ede21g","displayName":"Mia","active":true,"accountId":"5b10a2844c20165700ede21g","avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"}},"popularity":0,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/2","sharePermissions":[{"type":"loggedin"}],"view":"https://your-domain.atlassian.net/Dashboard.jspa?selectPageId=2"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanDashboard'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: "Returned if:\n\n *  `orderBy` is invalid.\n *  `expand` includes an invalid value.\n *  `accountId` and `owner` are provided.\n *  `groupname` and `groupId` are provided."
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: 401 response
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Search For Dashboards
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        - read:group:jira
        - read:project:jira
        - read:project-role:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/dashboard/{dashboardId}/gadget:
    get:
      deprecated: false
      description: Returns a list of dashboard gadgets on a dashboard.<br><br>This operation returns:<br><br> *  Gadgets from a list of IDs, when `id` is set.<br> *  Gadgets with a module key, when `moduleKey` is set.<br> *  Gadgets from a list of URIs, when `uri` is set.<br> *  All gadgets, when no other parameters are set.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianGetallgadgets
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: dashboardId
        required: true
        schema:
          format: int64
          type: integer
      - description: 'The list of gadgets module keys. To include multiple module keys, separate module keys with ampersand: `moduleKey=key:one&moduleKey=key:two`.'
        in: query
        name: moduleKey
        schema:
          items:
            default: ''
            type: string
          type: array
      - description: 'The list of gadgets URIs. To include multiple URIs, separate URIs with ampersand: `uri=/rest/example/uri/1&uri=/rest/example/uri/2`.'
        in: query
        name: uri
        schema:
          items:
            default: ''
            type: string
          type: array
      - description: 'The list of gadgets IDs. To include multiple IDs, separate IDs with ampersand: `gadgetId=10000&gadgetId=10001`.'
        in: query
        name: gadgetId
        schema:
          items:
            format: int64
            type: integer
          type: array
      responses:
        '200':
          content:
            application/json:
              example: '{"gadgets":[{"id":10001,"moduleKey":"com.atlassian.plugins.atlassian-connect-plugin:com.atlassian.connect.node.sample-addon__sample-dashboard-item","color":"blue","position":{"row":0,"column":0},"title":"Issue statistics"},{"id":10002,"moduleKey":"com.atlassian.plugins.atlassian-connect-plugin:com.atlassian.connect.node.sample-addon__sample-dashboard-graph","color":"red","position":{"row":1,"column":0},"title":"Activity stream"},{"id":10003,"moduleKey":"com.atlassian.plugins.atlassian-connect-plugin:com.atlassian.connect.node.sample-addon__sample-dashboard-item","color":"yellow","position":{"row":0,"column":1},"title":"Bubble chart"}]}'
              schema:
                $ref: '#/components/schemas/DashboardGadgetResponse'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The dashboard you requested either does not exist or you don''t have the required permissions to perform this action."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Gadgets
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Adds a gadget to a dashboard.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianAddgadget
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: dashboardId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              color: blue
              ignoreUriAndModuleKeyValidation: false
              moduleKey: com.atlassian.plugins.atlassian-connect-plugin:com.atlassian.connect.node.sample-addon__sample-dashboard-item
              position:
                column: 1
                row: 0
              title: Issue statistics
            schema:
              $ref: '#/components/schemas/DashboardGadgetSettings'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"id":10001,"moduleKey":"com.atlassian.plugins.atlassian-connect-plugin:com.atlassian.connect.node.sample-addon__sample-dashboard-item","color":"blue","position":{"row":0,"column":1},"title":"Issue statistics"}'
              schema:
                $ref: '#/components/schemas/DashboardGadget'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["Cannot add another gadget. The maximum number of gadgets the dashboard can hold has been reached."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The dashboard you requested either does not exist or you don''t have the required permissions to perform this action."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
        - read:jira-work
      summary: Atlassian Add Gadget To Dashboard
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:dashboard:jira
        - read:dashboard:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
  /rest/api/3/dashboard/{dashboardId}/gadget/{gadgetId}:
    delete:
      deprecated: false
      description: Removes a dashboard gadget from a dashboard.<br><br>When a gadget is removed from a dashboard, other gadgets in the same column are moved up to fill the emptied position.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianRemovegadget
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: dashboardId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the gadget.
        in: path
        name: gadgetId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The dashboard gadget was not found."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the gadget or the dashboard is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      summary: Atlassian Remove Gadget From Dashboard
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:dashboard:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: DELETE
    put:
      deprecated: false
      description: Changes the title, position, and color of the gadget on a dashboard.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianUpdategadget
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: dashboardId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the gadget.
        in: path
        name: gadgetId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              color: red
              position:
                column: 1
                row: 1
              title: My new gadget title
            schema:
              $ref: '#/components/schemas/DashboardGadgetUpdateRequest'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The gadget cannot be placed in the selected row. The selected row does not exist on the dashboard."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The dashboard you requested either does not exist or you don''t have the required permissions to perform this action."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the gadget or the dashboard is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      summary: Atlassian Update Gadget On Dashboard
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:dashboard:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
  /rest/api/3/dashboard/{dashboardId}/items/{itemId}/properties:
    get:
      deprecated: false
      description: Returns the keys of all properties for a dashboard item.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** The user must be the owner of the dashboard or have the dashboard shared with them. Note, users with the *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) are considered owners of the System dashboard. The System dashboard is considered to be shared with all other users, and is accessible to anonymous users when Jira\\u2019s anonymous access is permitted.
      operationId: atlassianGetdashboarditempropertykeys
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
      - description: The ID of the dashboard item.
        in: path
        name: itemId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"keys":[{"key":"issue.support","self":"https://your-domain.atlassian.net/rest/api/3/issue/EX-2/properties/issue.support"}]}'
              schema:
                $ref: '#/components/schemas/PropertyKeys'
          description: Returned if the request is successful.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard or dashboard item is not found, or the dashboard is not owned by or shared with the user.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Dashboard Item Property Keys
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard.property:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/dashboard/{dashboardId}/items/{itemId}/properties/{propertyKey}:
    delete:
      deprecated: false
      description: Deletes a dashboard item property.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** The user must be the owner of the dashboard. Note, users with the *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) are considered owners of the System dashboard.
      operationId: atlassianDeletedashboarditemproperty
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
      - description: The ID of the dashboard item.
        in: path
        name: itemId
        required: true
        schema:
          type: string
      - description: The key of the dashboard item property.
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the dashboard item property is deleted.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard or dashboard item ID is invalid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user is not the owner of the dashboard.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard item is not found or the dashboard is not shared with the user.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Delete Dashboard Item Property
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:dashboard.property:jira
        state: Beta
      x-atlassian-connect-scope: DELETE
    get:
      deprecated: false
      description: Returns the key and value of a dashboard item property.<br><br>A dashboard item enables an app to add user-specific information to a user dashboard. Dashboard items are exposed to users as gadgets that users can add to their dashboards. For more information on how users do this, see [Adding and customizing gadgets](https://confluence.atlassian.com/x/7AeiLQ).<br><br>When an app creates a dashboard item it registers a callback to receive the dashboard item ID. The callback fires whenever the item is rendered or, where the item is configurable, the user edits the item. The app then uses this resource to store the item's content or configuration details. For more information on working with dashboard items, see [ Building a dashboard item for a JIRA Connect add-on](https://developer.atlassian.com/server/jira/platform/guide-building-a-dashboard-item-for-a-jira-connect-add-on-33746254/) and the [Dashboard Item](https://developer.atlassian.com/cloud/jira/platform/modules/dashboard-item/) documentation.<br><br>There is no resource to set or get dashboard items.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** The user must be the owner of the dashboard or have the dashboard shared with them. Note, users with the *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) are considered owners of the System dashboard. The System dashboard is considered to be shared with all other users, and is accessible to anonymous users when Jira\\u2019s anonymous access is permitted.
      operationId: atlassianGetdashboarditemproperty
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
      - description: The ID of the dashboard item.
        in: path
        name: itemId
        required: true
        schema:
          type: string
      - description: The key of the dashboard item property.
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"key":"issue.support","value":{"system.conversation.id":"b1bf38be-5e94-4b40-a3b8-9278735ee1e6","system.support.time":"1m"}}'
              schema:
                $ref: '#/components/schemas/EntityProperty'
          description: Returned if the request is successful.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard, the dashboard item, or dashboard item property is not found, or the dashboard is not owned by or shared with the user.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Dashboard Item Property
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard.property:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Sets the value of a dashboard item property. Use this resource in apps to store custom data against a dashboard item.<br><br>A dashboard item enables an app to add user-specific information to a user dashboard. Dashboard items are exposed to users as gadgets that users can add to their dashboards. For more information on how users do this, see [Adding and customizing gadgets](https://confluence.atlassian.com/x/7AeiLQ).<br><br>When an app creates a dashboard item it registers a callback to receive the dashboard item ID. The callback fires whenever the item is rendered or, where the item is configurable, the user edits the item. The app then uses this resource to store the item's content or configuration details. For more information on working with dashboard items, see [ Building a dashboard item for a JIRA Connect add-on](https://developer.atlassian.com/server/jira/platform/guide-building-a-dashboard-item-for-a-jira-connect-add-on-33746254/) and the [Dashboard Item](https://developer.atlassian.com/cloud/jira/platform/modules/dashboard-item/) documentation.<br><br>There is no resource to set or get dashboard items.<br><br>The value of the request body must be a [valid](http://tools.ietf.org/html/rfc4627), non-empty JSON blob. The maximum length is 32768 characters.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** The user must be the owner of the dashboard. Note, users with the *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) are considered owners of the System dashboard.
      operationId: atlassianSetdashboarditemproperty
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
      - description: The ID of the dashboard item.
        in: path
        name: itemId
        required: true
        schema:
          type: string
      - description: The key of the dashboard item property. The maximum length is 255 characters. For dashboard items with a spec URI and no complete module key, if the provided propertyKey is equal to "config", the request body's JSON must be an object with all keys and values as strings.
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              number: 5
              string: string-value
            schema: {}
        description: The value of the property. The value has to be a valid, non-empty [JSON](https://tools.ietf.org/html/rfc4627) value. The maximum length of the property value is 32768 bytes.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Returned if the dashboard item property is updated.
        '201':
          content:
            application/json:
              schema: {}
          description: Returned if the dashboard item property is created.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The JSON data provided for the property has too many levels. It must be an object with all keys and values as strings."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: "Returned if:\n\n *  Request is invalid\n *  Or if all of these conditions are met in the request:\n    \n     *  The dashboard item has a spec URI and no complete module key\n     *  The value of propertyKey is equal to \"config\"\n     *  The request body contains a JSON object whose keys and values are not strings."
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user is not the owner of the dashboard.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard item is not found or the dashboard is not shared with the user.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Set Dashboard Item Property
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - write:dashboard.property:jira
        state: Beta
      x-atlassian-connect-scope: WRITE
  /rest/api/3/dashboard/{id}:
    delete:
      deprecated: false
      description: Deletes a dashboard.<br><br>**[Permissions](#permissions) required:** None<br><br>The dashboard to be deleted must be owned by the user.
      operationId: atlassianDeletedashboard
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Returned if the dashboard is deleted.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: 400 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Delete Dashboard
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:dashboard:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: DELETE
    get:
      deprecated: false
      description: Returns a dashboard.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** None.<br><br>However, to get a dashboard, the dashboard must be shared with the user or the user must own it. Note, users with the *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) are considered owners of the System dashboard. The System dashboard is considered to be shared with all other users.
      operationId: atlassianGetdashboard
      parameters:
      - description: The ID of the dashboard.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"id":"10000","isFavourite":false,"name":"System Dashboard","popularity":1,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/10000","sharePermissions":[{"type":"global"}],"view":"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=10000"}'
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: 400 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the dashboard is not found or the dashboard is not owned by or shared with the user.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get Dashboard
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        - read:group:jira
        - read:project:jira
        - read:project-role:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Updates a dashboard, replacing all the dashboard details with those provided.<br><br>**[Permissions](#permissions) required:** None<br><br>The dashboard to be updated must be owned by the user.
      operationId: atlassianUpdatedashboard
      parameters:
      - description: The ID of the dashboard to update.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              description: A dashboard to help auditors identify sample of issues to check.
              editPermissions: []
              name: Auditors dashboard
              sharePermissions:
              - type: global
            schema:
              $ref: '#/components/schemas/DashboardDetails'
        description: Replacement dashboard details.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"id":"10000","isFavourite":false,"name":"System Dashboard","popularity":1,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/10000","sharePermissions":[{"type":"global"}],"view":"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=10000"}'
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is not valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard is not found or the dashboard is not owned by the user.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Update Dashboard
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        - read:group:jira
        - read:project:jira
        - read:project-role:jira
        - read:user:jira
        - write:dashboard:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
  /rest/api/3/dashboard/{id}/copy:
    post:
      deprecated: false
      description: Copies a dashboard. Any values provided in the `dashboard` parameter replace those in the copied dashboard.<br><br>**[Permissions](#permissions) required:** None<br><br>The dashboard to be copied must be owned by or shared with the user.
      operationId: atlassianCopydashboard
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              description: A dashboard to help auditors identify sample of issues to check.
              editPermissions: []
              name: Auditors dashboard
              sharePermissions:
              - type: global
            schema:
              $ref: '#/components/schemas/DashboardDetails'
        description: Dashboard details.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"id":"10000","isFavourite":false,"name":"System Dashboard","popularity":1,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/10000","sharePermissions":[{"type":"global"}],"view":"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=10000"}'
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is not valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the dashboard is not found or the dashboard is not owned by or shared with the user.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Copy Dashboard
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        - read:group:jira
        - read:project:jira
        - read:project-role:jira
        - read:user:jira
        - write:dashboard:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
  /rest/api/3/dashboard:
    get:
      deprecated: false
      description: Returns a list of dashboards owned by or shared with the user. The list may be filtered to include only favorite or owned dashboards.<br><br>This operation can be accessed anonymously.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianGetalldashboards
      parameters:
      - description: "The filter applied to the list of dashboards. Valid values are:\n\n *  `favourite` Returns dashboards the user has marked as favorite.\n *  `my` Returns dashboards owned by the user."
        in: query
        name: filter
        schema:
          enum:
          - my
          - favourite
          type: string
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int32
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 20
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"dashboards":[{"id":"10000","isFavourite":false,"name":"System Dashboard","popularity":1,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/10000","sharePermissions":[{"type":"global"}],"view":"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=10000"},{"id":"20000","isFavourite":true,"name":"Build Engineering","owner":{"key":"Mia","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g","name":"mia","displayName":"Mia Krystof","avatarUrls":{"16x16":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16","24x24":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24","32x32":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32","48x48":"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48"}},"popularity":1,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/20000","sharePermissions":[{"group":{"name":"administrators","self":"https://your-domain.atlassian.net/rest/api/3/group?groupname=administrators"},"id":10105,"type":"group"}],"view":"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=20000"}],"maxResults":10,"next":"https://your-domain.atlassian.net/rest/api/3/dashboard?startAt=10","prev":"https://your-domain.atlassian.net/rest/api/3/dashboard?startAt=0","startAt":10,"total":143}'
              schema:
                $ref: '#/components/schemas/PageOfDashboards'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is invalid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      - {}
      summary: Atlassian Get All Dashboards
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        - read:group:jira
        - read:project:jira
        - read:project-role:jira
        - read:user:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-atlassian-connect-scope: READ
    post:
      deprecated: false
      description: Creates a dashboard.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianCreatedashboard
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              description: A dashboard to help auditors identify sample of issues to check.
              editPermissions: []
              name: Auditors dashboard
              sharePermissions:
              - type: global
            schema:
              $ref: '#/components/schemas/DashboardDetails'
        description: Dashboard details.
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"id":"10000","isFavourite":false,"name":"System Dashboard","popularity":1,"self":"https://your-domain.atlassian.net/rest/api/3/dashboard/10000","sharePermissions":[{"type":"global"}],"view":"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=10000"}'
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is not valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
      security:
      - basicAuth: []
      - OAuth2:
        - write:jira-work
      - {}
      summary: Atlassian Create Dashboard
      tags:
      - Dashboards
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - write:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:dashboard:jira
        - read:group:jira
        - read:project:jira
        - read:project-role:jira
        - read:user:jira
        - write:dashboard:jira
        - read:application-role:jira
        - read:avatar:jira
        - read:issue-type-hierarchy:jira
        - read:issue-type:jira
        - read:project-category:jira
        - read:project-version:jira
        - read:project.component:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: WRITE
components:
  schemas:
    AvailableDashboardGadget:
      additionalProperties: false
      description: The details of the available dashboard gadget.
      properties:
        moduleKey:
          description: The module key of the gadget type.
          readOnly: true
          type: string
        title:
          description: The title of the gadget.
          readOnly: true
          type: string
        uri:
          description: The URI of the gadget type.
          readOnly: true
          type: string
      required:
      - title
      type: object
    ProjectLandingPageInfo:
      additionalProperties: false
      properties:
        attributes:
          additionalProperties:
            type: string
          type: object
        boardId:
          format: int64
          type: integer
        boardName:
          type: string
        projectKey:
          type: string
        projectType:
          type: string
        queueCategory:
          type: string
        queueId:
          format: int64
          type: integer
        queueName:
          type: string
        simpleBoard:
          type: boolean
        simplified:
          type: boolean
        url:
          type: string
      type: object
    Project:
      additionalProperties: false
      description: Details about a project.
      properties:
        archived:
          description: Whether the project is archived.
          readOnly: true
          type: boolean
        archivedBy:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The user who archived the project.
          readOnly: true
        archivedDate:
          description: The date when the project was archived.
          format: date-time
          readOnly: true
          type: string
        assigneeType:
          description: The default assignee when creating issues for this project.
          enum:
          - PROJECT_LEAD
          - UNASSIGNED
          readOnly: true
          type: string
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The URLs of the project's avatars.
          readOnly: true
        components:
          description: List of the components contained in the project.
          items:
            $ref: '#/components/schemas/ProjectComponent'
          readOnly: true
          type: array
        deleted:
          description: Whether the project is marked as deleted.
          readOnly: true
          type: boolean
        deletedBy:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The user who marked the project as deleted.
          readOnly: true
        deletedDate:
          description: The date when the project was marked as deleted.
          format: date-time
          readOnly: true
          type: string
        description:
          description: A brief description of the project.
          readOnly: true
          type: string
        email:
          description: An email address associated with the project.
          type: string
        expand:
          description: Expand options that include additional project details in the response.
          readOnly: true
          type: string
          xml:
            attribute: true
        favourite:
          description: Whether the project is selected as a favorite.
          type: boolean
        id:
          description: The ID of the project.
          type: string
        insight:
          allOf:
          - $ref: '#/components/schemas/ProjectInsight'
          description: Insights about the project.
          readOnly: true
        isPrivate:
          description: Whether the project is private from the user's perspective. This means the user can't see the project or any associated issues.
          readOnly: true
          type: boolean
        issueTypeHierarchy:
          allOf:
          - $ref: '#/components/schemas/Hierarchy'
          description: The issue type hierarchy for the project.
          readOnly: true
        issueTypes:
          description: List of the issue types available in the project.
          items:
            $ref: '#/components/schemas/IssueTypeDetails'
          readOnly: true
          type: array
        key:
          description: The key of the project.
          readOnly: true
          type: string
        landingPageInfo:
          allOf:
          - $ref: '#/components/schemas/ProjectLandingPageInfo'
          description: The project landing page info.
          readOnly: true
        lead:
          allOf:
          - $ref: '#/components/schemas/User'
          description: The username of the project lead.
          readOnly: true
        name:
          description: The name of the project.
          readOnly: true
          type: string
        permissions:
          allOf:
          - $ref: '#/components/schemas/ProjectPermissions'
          description: User permissions on the project
          readOnly: true
        projectCategory:
          allOf:
          - $ref: '#/components/schemas/ProjectCategory'
          description: The category the project belongs to.
          readOnly: true
        projectTypeKey:
          description: The [project type](https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes) of the project.
          enum:
          - software
          - service_desk
          - business
          readOnly: true
          type: string
        properties:
          additionalProperties:
            readOnly: true
          description: Map of project properties
          readOnly: true
          type: object
        retentionTillDate:
          description: The date when the project is deleted permanently.
          format: date-time
          readOnly: true
          type: string
        roles:
          additionalProperties:
            format: uri
            readOnly: true
            type: string
          description: The name and self URL for each role defined in the project. For more information, see [Create project role](#api-rest-api-3-role-post).
          readOnly: true
          type: object
        self:
          description: The URL of the project details.
          format: uri
          readOnly: true
          type: string
        simplified:
          description: Whether the project is simplified.
          readOnly: true
          type: boolean
        style:
          description: The type of the project.
          enum:
          - classic
          - next-gen
          readOnly: true
          type: string
        url:
          description: A link to information about this project, such as project documentation.
          readOnly: true
          type: string
        uuid:
          description: Unique ID for next-gen projects.
          format: uuid
          readOnly: true
          type: string
        versions:
          description: The versions defined in the project. For more information, see [Create version](#api-rest-api-3-version-post).
          items:
            $ref: '#/components/schemas/Version'
          readOnly: true
          type: array
      type: object
      xml:
        name: project
    GroupName:
      additionalProperties: false
      description: Details about a group.
      properties:
        groupId:
          description: The ID of the group, which uniquely identifies the group across all Atlassian products. For example, *952d12c3-5b5b-4d04-bb32-44d383afc4b2*.
          nullable: true
          type: string
        name:
          description: The name of group.
          type: string
        self:
          description: The URL for these group details.
          format: uri
          readOnly: true
          type: string
      type: object
    BulkEditShareableEntityResponse:
      additionalProperties: false
      description: Details of a request to bulk edit shareable entity.
      properties:
        action:
          description: Allowed action for bulk edit shareable entity
          enum:
          - changeOwner
          - changePermission
          - addPermission
          - removePermission
          type: string
        entityErrors:
          additionalProperties:
            $ref: '#/components/schemas/BulkEditActionError'
          description: The mapping dashboard id to errors if any.
          type: object
      required:
      - action
      type: object
    Dashboard:
      additionalProperties: false
      description: Details of a dashboard.
      properties:
        automaticRefreshMs:
          description: The automatic refresh interval for the dashboard in milliseconds.
          format: int32
          readOnly: true
          type: integer
        description:
          type: string
        editPermissions:
          description: The details of any edit share permissions for the dashboard.
          items:
            $ref: '#/components/schemas/SharePermission'
          readOnly: true
          type: array
        id:
          description: The ID of the dashboard.
          readOnly: true
          type: string
        isFavourite:
          description: Whether the dashboard is selected as a favorite by the user.
          readOnly: true
          type: boolean
        isWritable:
          description: Whether the current user has permission to edit the dashboard.
          readOnly: true
          type: boolean
        name:
          description: The name of the dashboard.
          readOnly: true
          type: string
        owner:
          allOf:
          - $ref: '#/components/schemas/UserBean'
          description: The owner of the dashboard.
          readOnly: true
        popularity:
          description: The number of users who have this dashboard as a favorite.
          format: int64
          readOnly: true
          type: integer
        rank:
          description: The rank of this dashboard.
          format: int32
          readOnly: true
          type: integer
        self:
          description: The URL of these dashboard details.
          format: uri
          readOnly: true
          type: string
        sharePermissions:
          description: The details of any view share permissions for the dashboard.
          items:
            $ref: '#/components/schemas/SharePermission'
          readOnly: true
          type: array
        systemDashboard:
          description: Whether the current dashboard is system dashboard.
          readOnly: true
          type: boolean
        view:
          description: The URL of the dashboard.
          readOnly: true
          type: string
      type: object
    SimpleLink:
      additionalProperties: false
      description: Details about the operations available in this version.
      properties:
        href:
          type: string
        iconClass:
          type: string
        id:
          type: string
        label:
          type: string
        styleClass:
          type: string
        title:
          type: string
        weight:
          format: int32
          type: integer
      type: object
      xml:
        name: link
    SharePermission:
      additionalProperties: false
      description: Details of a share permission for the filter.
      properties:
        group:
          allOf:
          - $ref: '#/components/schemas/GroupName'
          description: The group that the filter is shared with. For a request, specify the `groupId` or `name` property for the group. As a group's name can change, use of `groupId` is recommended.
        id:
          description: The unique identifier of the share permission.
          format: int64
          readOnly: true
          type: integer
        project:
          allOf:
          - $ref: '#/components/schemas/Project'
          description: "The project that the filter is shared with. This is similar to the project object returned by [Get project](#api-rest-api-3-project-projectIdOrKey-get) but it contains a subset of the properties, which are: `self`, `id`, `key`, `assigneeType`, `name`, `roles`, `avatarUrls`, `projectType`, `simplified`.  \nFor a request, specify the `id` for the project."
        role:
          allOf:
          - $ref: '#/components/schemas/ProjectRole'
          description: "The project role that the filter is shared with.  \nFor a request, specify the `id` for the role. You must also specify the `project` object and `id` for the project that the role is in."
        type:
          description: "The type of share permission:\n\n *  `user` Shared with a user.\n *  `group` Shared with a group. If set in a request, then specify `sharePermission.group` as well.\n *  `project` Shared with a project. If set in a request, then specify `sharePermission.project` as well.\n *  `projectRole` Share with a project role in a project. This value is not returned in responses. It is used in requests, where it needs to be specify with `projectId` and `projectRoleId`.\n *  `global` Shared globally. If set in a request, no other `sharePermission` properties need to be specified.\n *  `loggedin` Shared with all logged-in users. Note: This value is set in a request by specifying `authenticated` as the `type`.\n *  `project-unknown` Shared with a project that the user does not have access to. Cannot be set in a request."
          enum:
          - user
          - group
          - project
          - projectRole
          - global
          - loggedin
          - authenticated
          - project-unknown
          type: string
        user:
          allOf:
          - $ref: '#/components/schemas/UserBean'
          description: The user account ID that the filter is shared with. For a request, specify the `accountId` property for the user.
      required:
      - type
      type: object
    ListWrapperCallbackApplicationRole:
      additionalProperties: false
      type: object
    ErrorCollection:
      additionalProperties: false
      description: Error messages from an operation.
      properties:
        errorMessages:
          description: The list of error messages produced by this operation. For example, "input parameter 'key' must be provided"
          items:
            type: string
          type: array
        errors:
          additionalProperties:
            type: string
          description: 'The list of errors by parameter returned by the operation. For example,"projectKey": "Project keys must start with an uppercase letter, followed by one or more uppercase alphanumeric characters."'
          type: object
        status:
          format: int32
          type: integer
      type: object
    ProjectDetails:
      additionalProperties: false
      description: Details about a project.
      properties:
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The URLs of the project's avatars.
          readOnly: true
        id:
          description: The ID of the project.
          type: string
        key:
          description: The key of the project.
          readOnly: true
          type: string
        name:
          description: The name of the project.
          readOnly: true
          type: string
        projectCategory:
          allOf:
          - $ref: '#/components/schemas/UpdatedProjectCategory'
          description: The category the project belongs to.
          readOnly: true
        projectTypeKey:
          description: The [project type](https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes) of the project.
          enum:
          - software
          - service_desk
          - business
          readOnly: true
          type: string
        self:
          description: The URL of the project details.
          readOnly: true
          type: string
        simplified:
          description: Whether or not the project is simplified.
          readOnly: true
          type: boolean
      type: object
    BulkEditShareableEntityRequest:
      additionalProperties: false
      description: Details of a request to bulk edit shareable entity.
      properties:
        action:
          description: Allowed action for bulk edit shareable entity
          enum:
          - changeOwner
          - changePermission
          - addPermission
          - removePermission
          type: string
        changeOwnerDetails:
          allOf:
          - $ref: '#/components/schemas/BulkChangeOwnerDetails'
          description: The details of change owner action.
        entityIds:
          description: The id list of shareable entities to be changed.
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
        extendAdminPermissions:
          description: Whether the actions are executed by users with Administer Jira global permission.
          type: boolean
        permissionDetails:
          allOf:
          - $ref: '#/components/schemas/PermissionDetails'
          description: The permission details to be changed.
      required:
      - action
      - entityIds
      type: object
    BulkEditActionError:
      additionalProperties: false
      description: Errors of bulk edit action.
      properties:
        errorMessages:
          description: The error messages.
          items:
            type: string
          type: array
        errors:
          additionalProperties:
            type: string
          description: The errors.
          type: object
      required:
      - errorMessages
      - errors
      type: object
    DashboardGadgetResponse:
      additionalProperties: false
      description: The list of gadgets on the dashboard.
      properties:
        gadgets:
          description: The list of gadgets.
          items:
            $ref: '#/components/schemas/DashboardGadget'
          readOnly: true
          type: array
      required:
      - gadgets
      type: object
    UserBean:
      additionalProperties: false
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
          maxLength: 128
          type: string
        active:
          description: Whether the user is active.
          type: boolean
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/UserBeanAvatarUrls'
          description: The avatars of the user.
        displayName:
          description: The display name of the user. Depending on the user’s privacy setting, this may return an alternative value.
          type: string
        key:
          description: "This property is deprecated in favor of `accountId` because of privacy changes. See the [migration guide](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.  \nThe key of the user."
          type: string
        name:
          description: "This property is deprecated in favor of `accountId` because of privacy changes. See the [migration guide](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.  \nThe username of the user."
          type: string
        self:
          description: The URL of the user.
          format: uri
          type: string
      type: object
    PageOfDashboards:
      additionalProperties: false
      description: A page containing dashboard details.
      properties:
        dashboards:
          description: List of dashboards.
          items:
            $ref: '#/components/schemas/Dashboard'
          readOnly: true
          type: array
        maxResults:
          description: The maximum number of results that could be on the page.
          format: int32
          readOnly: true
          type: integer
        next:
          description: The URL of the next page of results, if any.
          readOnly: true
          type: string
        prev:
          description: The URL of the previous page of results, if any.
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned on the page.
          format: int32
          readOnly: true
          type: integer
        total:
          description: The number of results on the page.
          format: int32
          readOnly: true
          type: integer
      type: object
    DashboardGadget:
      additionalProperties: false
      description: Details of a gadget.
      properties:
        color:
          description: The color of the gadget. Should be one of `blue`, `red`, `yellow`, `green`, `cyan`, `purple`, `gray`, or `white`.
          enum:
          - blue
          - red
          - yellow
          - green
          - cyan
          - purple
          - gray
          - white
          readOnly: true
          type: string
        id:
          description: The ID of the gadget instance.
          format: int64
          readOnly: true
          type: integer
        moduleKey:
          description: The module key of the gadget type.
          readOnly: true
          type: string
        position:
          allOf:
          - $ref: '#/components/schemas/DashboardGadgetPosition'
          description: The position of the gadget.
          readOnly: true
        title:
          description: The title of the gadget.
          readOnly: true
          type: string
        uri:
          description: The URI of the gadget type.
          readOnly: true
          type: string
      required:
      - color
      - id
      - position
      - title
      type: object
    ProjectCategory:
      additionalProperties: false
      description: A project category.
      properties:
        description:
          description: The description of the project category.
          type: string
        id:
          description: The ID of the project category.
          readOnly: true
          type: string
        name:
          description: The name of the project category. Required on create, optional on update.
          type: string
        self:
          description: The URL of the project category.
          format: uri
          readOnly: true
          type: string
      type: object
    Scope:
      additionalProperties: true
      description: The projects the item is associated with. Indicated for items associated with [next-gen projects](https://confluence.atlassian.com/x/loMyO).
      properties:
        project:
          allOf:
          - $ref: '#/components/schemas/ProjectDetails'
          description: The project the item has scope in.
          readOnly: true
        type:
          description: The type of scope.
          enum:
          - PROJECT
          - TEMPLATE
          readOnly: true
          type: string
      type: object
    RoleActor:
      additionalProperties: false
      description: Details about a user assigned to a project role.
      properties:
        actorGroup:
          allOf:
          - $ref: '#/components/schemas/ProjectRoleGroup'
          readOnly: true
        actorUser:
          allOf:
          - $ref: '#/components/schemas/ProjectRoleUser'
          readOnly: true
        avatarUrl:
          description: The avatar of the role actor.
          format: uri
          readOnly: true
          type: string
        displayName:
          description: The display name of the role actor. For users, depending on the user’s privacy setting, this may return an alternative value for the user's name.
          readOnly: true
          type: string
        id:
          description: The ID of the role actor.
          format: int64
          readOnly: true
          type: integer
        name:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          readOnly: true
          type: string
        type:
          description: The type of role actor.
          enum:
          - atlassian-group-role-actor
          - atlassian-user-role-actor
          readOnly: true
          type: string
      type: object
      xml:
        name: projectRoleActor
    UpdatedProjectCategory:
      additionalProperties: false
      description: A project category.
      properties:
        description:
          description: The name of the project category.
          readOnly: true
          type: string
        id:
          description: The ID of the project category.
          readOnly: true
          type: string
        name:
          description: The description of the project category.
          readOnly: true
          type: string
        self:
          description: The URL of the project category.
          readOnly: true
          type: string
      type: object
    PageBeanDashboard:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/Dashboard'
          readOnly: true
          type: array
      type: object
    DashboardGadgetUpdateRequest:
      additionalProperties: false
      description: The details of the gadget to update.
      properties:
        color:
          description: The color of the gadget. Should be one of `blue`, `red`, `yellow`, `green`, `cyan`, `purple`, `gray`, or `white`.
          type: string
          writeOnly: true
        position:
          allOf:
          - $ref: '#/components/schemas/DashboardGadgetPosition'
          description: The position of the gadget.
        title:
          description: The title of the gadget.
          type: string
          writeOnly: true
      type: object
    DashboardGadgetPosition:
      additionalProperties: false
      description: Details of a gadget position.
      properties:
        The column position of the gadget.:
          format: int32
          type: integer
        The row position of the gadget.:
          format: int32
          type: integer
      required:
      - The column position of the gadget.
      - The row position of the gadget.
      type: object
      writeOnly: true
    UserBeanAvatarUrls:
      additionalProperties: false
      properties:
        16x16:
          description: The URL of the user's 16x16 pixel avatar.
          format: uri
          type: string
        24x24:
          description: The URL of the user's 24x24 pixel avatar.
          format: uri
          type: string
        32x32:
          description: The URL of the user's 32x32 pixel avatar.
          format: uri
          type: string
        48x48:
          description: The URL of the user's 48x48 pixel avatar.
          format: uri
          type: string
      type: object
    PropertyKey:
      additionalProperties: false
      description: Property key details.
      properties:
        key:
          description: The key of the property.
          readOnly: true
          type: string
        self:
          description: The URL of the property.
          readOnly: true
          type: string
      type: object
    ListWrapperCallbackGroupName:
      additionalProperties: false
      type: object
    Hierarchy:
      additionalProperties: false
      description: The project issue type hierarchy.
      properties:
        baseLevelId:
          description: 'The ID of the base level. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
        levels:
          description: Details about the hierarchy level.
          items:
            $ref: '#/components/schemas/SimplifiedHierarchyLevel'
          readOnly: true
          type: array
      type: object
      xml:
        name: hierarchy
    VersionApprover:
      additionalProperties: true
      description: Contains details about a version approver.
      properties:
        accountId:
          description: The Atlassian account ID of the approver.
          readOnly: true
          type: string
        declineReason:
          description: A description of why the user is declining the approval.
          readOnly: true
          type: string
        description:
          description: A description of what the user is approving within the specified version.
          readOnly: true
          type: string
        status:
          description: The status of the approval, which can be *PENDING*, *APPROVED*, or *DECLINED*
          readOnly: true
          type: string
      type: object
    ProjectRoleGroup:
      additionalProperties: false
      description: Details of the group associated with the role.
      properties:
        displayName:
          description: The display name of the group.
          type: string
        groupId:
          description: The ID of the group.
          type: string
        name:
          description: The name of the group. As a group's name can change, use of `groupId` is recommended to identify the group.
          type: string
      type: object
    AvailableDashboardGadgetsResponse:
      additionalProperties: false
      description: The list of available gadgets.
      properties:
        gadgets:
          description: The list of available gadgets.
          items:
            $ref: '#/components/schemas/AvailableDashboardGadget'
          readOnly: true
          type: array
      required:
      - gadgets
      type: object
    PermissionDetails:
      additionalProperties: false
      description: Details for permissions of shareable entities
      properties:
        editPermissions:
          description: The edit permissions for the shareable entities.
          items:
            $ref: '#/components/schemas/SharePermission'
          type: array
        sharePermissions:
          description: The share permissions for the shareable entities.
          items:
            $ref: '#/components/schemas/SharePermission'
          type: array
      required:
      - editPermissions
      - sharePermissions
      type: object
    SimpleListWrapperGroupName:
      additionalProperties: false
      properties:
        callback:
          $ref: '#/components/schemas/ListWrapperCallbackGroupName'
        items:
          items:
            $ref: '#/components/schemas/GroupName'
          type: array
        max-results:
          format: int32
          type: integer
          xml:
            attribute: true
            name: max-results
        pagingCallback:
          $ref: '#/components/schemas/ListWrapperCallbackGroupName'
        size:
          format: int32
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: list
    PropertyKeys:
      additionalProperties: false
      description: List of property keys.
      properties:
        keys:
          description: Property key details.
          items:
            $ref: '#/components/schemas/PropertyKey'
          readOnly: true
          type: array
      type: object
    User:
      additionalProperties: false
      description: "A user with details as permitted by the user's Atlassian Account privacy settings. However, be aware of these exceptions:\n\n *  User record deleted from Atlassian: This occurs as the result of a right to be forgotten request. In this case, `displayName` provides an indication and other parameters have default values or are blank (for example, email is blank).\n *  User record corrupted: This occurs as a results of events such as a server import and can only happen to deleted users. In this case, `accountId` returns *unknown* and all other parameters have fallback values.\n *  User record unavailable: This usually occurs due to an internal service outage. In this case, all parameters have fallback values."
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*. Required in requests.
          maxLength: 128
          type: string
        accountType:
          description: "The user account type. Can take the following values:\n\n *  `atlassian` regular Atlassian user account\n *  `app` system account used for Connect applications and OAuth to represent external systems\n *  `customer` Jira Service Desk account representing an external service desk"
          enum:
          - atlassian
          - app
          - customer
          - unknown
          readOnly: true
          type: string
        active:
          description: Whether the user is active.
          readOnly: true
          type: boolean
        applicationRoles:
          allOf:
          - $ref: '#/components/schemas/SimpleListWrapperApplicationRole'
          description: The application roles the user is assigned to.
          readOnly: true
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The avatars of the user.
          readOnly: true
        displayName:
          description: The display name of the user. Depending on the user’s privacy setting, this may return an alternative value.
          readOnly: true
          type: string
        emailAddress:
          description: The email address of the user. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
        expand:
          description: Expand options that include additional user details in the response.
          readOnly: true
          type: string
          xml:
            attribute: true
        groups:
          allOf:
          - $ref: '#/components/schemas/SimpleListWrapperGroupName'
          description: The groups that the user belongs to.
          readOnly: true
        key:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          type: string
        locale:
          description: The locale of the user. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
        name:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          type: string
        self:
          description: The URL of the user.
          format: uri
          readOnly: true
          type: string
        timeZone:
          description: The time zone specified in the user's profile. Depending on the user’s privacy setting, this may be returned as null.
          readOnly: true
          type: string
      type: object
      xml:
        name: user
    BulkChangeOwnerDetails:
      additionalProperties: false
      description: Details for changing owners of shareable entities
      properties:
        autofixName:
          description: Whether the name is fixed automatically if it's duplicated after changing owner.
          type: boolean
        newOwner:
          description: The account id of the new owner.
          type: string
      required:
      - autofixName
      - newOwner
      type: object
    SimplifiedHierarchyLevel:
      additionalProperties: false
      properties:
        aboveLevelId:
          description: 'The ID of the level above this one in the hierarchy. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
        belowLevelId:
          description: 'The ID of the level below this one in the hierarchy. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
        externalUuid:
          description: 'The external UUID of the hierarchy level. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: uuid
          type: string
        hierarchyLevelNumber:
          format: int32
          type: integer
        id:
          description: 'The ID of the hierarchy level. This property is deprecated, see [Change notice: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
        issueTypeIds:
          description: The issue types available in this hierarchy level.
          items:
            format: int64
            type: integer
          type: array
        level:
          description: The level of this item in the hierarchy.
          format: int32
          type: integer
        name:
          description: The name of this hierarchy level.
          type: string
        projectConfigurationId:
          description: 'The ID of the project configuration. This property is deprecated, see [Change oticen: Removing hierarchy level IDs from next-gen APIs](https://developer.atlassian.com/cloud/jira/platform/change-notice-removing-hierarchy-level-ids-from-next-gen-apis/).'
          format: int64
          type: integer
      type: object
    SimpleListWrapperApplicationRole:
      additionalProperties: false
      properties:
        callback:
          $ref: '#/components/schemas/ListWrapperCallbackApplicationRole'
        items:
          items:
            $ref: '#/components/schemas/ApplicationRole'
          type: array
        max-results:
          format: int32
          type: integer
          xml:
            attribute: true
            name: max-results
        pagingCallback:
          $ref: '#/components/schemas/ListWrapperCallbackApplicationRole'
        size:
          format: int32
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: list
    ProjectPermissions:
      additionalProperties: false
      description: Permissions which a user has on a project.
      properties:
        canEdit:
          description: Whether the logged user can edit the project.
          readOnly: true
          type: boolean
      type: object
    Version:
      additionalProperties: false
      description: Details about a project version.
      properties:
        approvers:
          description: If the expand option `approvers` is used, returns a list containing the approvers for this version.
          items:
            $ref: '#/components/schemas/VersionApprover'
          readOnly: true
          type: array
        archived:
          description: Indicates that the version is archived. Optional when creating or updating a version.
          type: boolean
        description:
          description: The description of the version. Optional when creating or updating a version. The maximum size is 16,384 bytes.
          type: string
        driver:
          description: If the expand option `driver` is used, returns the Atlassian account ID of the driver.
          readOnly: true
          type: string
        expand:
          description: "Use [expand](em>#expansion) to include additional information about version in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `operations` Returns the list of operations available for this version.\n *  `issuesstatus` Returns the count of issues in this version for each of the status categories *to do*, *in progress*, *done*, and *unmapped*. The *unmapped* property contains a count of issues with a status other than *to do*, *in progress*, and *done*.\n *  `driver` Returns the Atlassian account ID of the version driver.\n *  `approvers` Returns a list containing approvers for this version.\n\nOptional for create and update."
          type: string
          xml:
            attribute: true
        id:
          description: The ID of the version.
          readOnly: true
          type: string
        issuesStatusForFixVersion:
          allOf:
          - $ref: '#/components/schemas/VersionIssuesStatus'
          description: If the expand option `issuesstatus` is used, returns the count of issues in this version for each of the status categories *to do*, *in progress*, *done*, and *unmapped*. The *unmapped* property contains a count of issues with a status other than *to do*, *in progress*, and *done*.
          readOnly: true
        moveUnfixedIssuesTo:
          description: The URL of the self link to the version to which all unfixed issues are moved when a version is released. Not applicable when creating a version. Optional when updating a version.
          format: uri
          type: string
        name:
          description: The unique name of the version. Required when creating a version. Optional when updating a version. The maximum length is 255 characters.
          type: string
        operations:
          description: If the expand option `operations` is used, returns the list of operations available for this version.
          items:
            $ref: '#/components/schemas/SimpleLink'
          readOnly: true
          type: array
        overdue:
          description: Indicates that the version is overdue.
          readOnly: true
          type: boolean
        project:
          description: Deprecated. Use `projectId`.
          type: string
        projectId:
          description: The ID of the project to which this version is attached. Required when creating a version. Not applicable when updating a version.
          format: int64
          type: integer
        releaseDate:
          description: The release date of the version. Expressed in ISO 8601 format (yyyy-mm-dd). Optional when creating or updating a version.
          format: date
          type: string
        released:
[...]
