openapi: 3.1.0
info:
  title: Atlassian Admin Account Project Email API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Project Email
paths:
  /rest/api/3/project/{projectId}/email:
    get:
      deprecated: false
      description: Returns the [project's sender email address](https://confluence.atlassian.com/x/dolKLg).<br><br>**[Permissions](#permissions) required:** *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project.
      operationId: atlassianGetprojectemail
      parameters:
      - description: The project ID.
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"emailAddress":"jira@example.customdomain.com","emailAddressStatus":["Email address or domain not verified."]}'
              schema:
                $ref: '#/components/schemas/ProjectEmailAddress'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have permission to read project.
        '404':
          description: Returned if the project or project's sender email address is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      summary: Atlassian Get Project S Sender Email
      tags:
      - Project Email
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - read:project.email:jira
        state: Beta
      x-atlassian-connect-scope: READ
    put:
      deprecated: false
      description: Sets the [project's sender email address](https://confluence.atlassian.com/x/dolKLg).<br><br>If `emailAddress` is an empty string, the default email address is restored.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) or *Administer Projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)
      operationId: atlassianUpdateprojectemail
      parameters:
      - description: The project ID.
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              emailAddress: jira@example.atlassian.net
            schema:
              $ref: '#/components/schemas/ProjectEmailAddress'
        description: The project's sender email address to be set.
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the project's sender email address is successfully set.
        '400':
          description: Returned if the request is not valid, if the email address is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have permission to administer the project.
        '404':
          description: Returned if the project is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      summary: Atlassian Set Project S Sender Email
      tags:
      - Project Email
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - write:project.email:jira
        state: Beta
      x-atlassian-connect-scope: PROJECT_ADMIN
components:
  schemas:
    ProjectEmailAddress:
      additionalProperties: false
      description: A project's sender email address.
      properties:
        emailAddress:
          description: The email address.
          type: string
        emailAddressStatus:
          description: When using a custom domain, the status of the email address.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
