openapi: 3.1.0
info:
  title: Atlassian Admin Account Screen Tab Fields API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Screen Tab Fields
paths:
  /rest/api/3/screens/{screenId}/tabs/{tabId}/fields:
    get:
      deprecated: false
      description: Returns all fields for a screen tab.<br><br>**[Permissions](#permissions) required:**<br><br> *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).<br> *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) when the project key is specified, providing that the screen is associated with the project through a Screen Scheme and Issue Type Screen Scheme.
      operationId: atlassianGetallscreentabfields
      parameters:
      - description: The ID of the screen.
        in: path
        name: screenId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the screen tab.
        in: path
        name: tabId
        required: true
        schema:
          format: int64
          type: integer
      - description: The key of the project.
        in: query
        name: projectKey
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScreenableField'
                type: array
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the screen or screen tab is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Get All Screen Tab Fields
      tags:
      - Screen Tab Fields
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - read:screenable-field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    post:
      deprecated: false
      description: Adds a field to a screen tab.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianAddscreentabfield
      parameters:
      - description: The ID of the screen.
        in: path
        name: screenId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the screen tab.
        in: path
        name: tabId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              fieldId: summary
            schema:
              $ref: '#/components/schemas/AddFieldBean'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"id":"summary","name":"Summary"}'
              schema:
                $ref: '#/components/schemas/ScreenableField'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the screen, screen tab, or field is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Add Screen Tab Field
      tags:
      - Screen Tab Fields
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - read:screenable-field:jira
        - write:screenable-field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/screens/{screenId}/tabs/{tabId}/fields/{id}:
    delete:
      deprecated: false
      description: Removes a field from a screen tab.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianRemovescreentabfield
      parameters:
      - description: The ID of the screen.
        in: path
        name: screenId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the screen tab.
        in: path
        name: tabId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the field.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the screen, screen tab, or field is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Remove Screen Tab Field
      tags:
      - Screen Tab Fields
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:screenable-field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/screens/{screenId}/tabs/{tabId}/fields/{id}/move:
    post:
      deprecated: false
      description: Moves a screen tab field.<br><br>If `after` and `position` are provided in the request, `position` is ignored.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianMovescreentabfield
      parameters:
      - description: The ID of the screen.
        in: path
        name: screenId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the screen tab.
        in: path
        name: tabId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the field.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveFieldBean'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the screen, screen tab, or field is not found or the field can't be moved to the requested position.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-project
      - {}
      summary: Atlassian Move Screen Tab Field
      tags:
      - Screen Tab Fields
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-project
        state: Current
      - scheme: OAuth2
        scopes:
        - write:screenable-field:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    AddFieldBean:
      additionalProperties: false
      properties:
        fieldId:
          description: The ID of the field to add.
          type: string
      required:
      - fieldId
      type: object
    ScreenableField:
      additionalProperties: false
      description: A screen tab field.
      properties:
        id:
          description: The ID of the screen tab field.
          readOnly: true
          type: string
        name:
          description: The name of the screen tab field. Required on create and update. The maximum length is 255 characters.
          type: string
      type: object
    MoveFieldBean:
      additionalProperties: false
      properties:
        after:
          description: The ID of the screen tab field after which to place the moved screen tab field. Required if `position` isn't provided.
          format: uri
          type: string
        position:
          description: The named position to which the screen tab field should be moved. Required if `after` isn't provided.
          enum:
          - Earlier
          - Later
          - First
          - Last
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
