openapi: 3.1.0
info:
  title: Atlassian Admin Account Project Key and Name Validation API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Project Key and Name Validation
paths:
  /rest/api/3/projectvalidate/key:
    get:
      deprecated: false
      description: Validates a project key by confirming the key is a valid string and not in use.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianValidateprojectkey
      parameters:
      - description: The project key.
        in: query
        name: key
        schema:
          example: HSP
          type: string
        x-showInExample: 'true'
      responses:
        '200':
          content:
            application/json:
              example: '{"errorMessages":[],"errors":{"projectKey":"A project with that project key already exists."}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      summary: Atlassian Validate Project Key
      tags:
      - Project Key and Name Validation
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:project:jira
        state: Beta
      x-atlassian-connect-scope: READ
  /rest/api/3/projectvalidate/validProjectKey:
    get:
      deprecated: false
      description: Validates a project key and, if the key is invalid or in use, generates a valid random string for the project key.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianGetvalidprojectkey
      parameters:
      - description: The project key.
        in: query
        name: key
        schema:
          example: HSP
          type: string
        x-showInExample: 'true'
      responses:
        '200':
          content:
            application/json:
              example: '"VPNE"'
              schema:
                type: string
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect.
      security:
      - basicAuth: []
      summary: Atlassian Get Valid Project Key
      tags:
      - Project Key and Name Validation
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
  /rest/api/3/projectvalidate/validProjectName:
    get:
      deprecated: false
      description: Checks that a project name isn't in use. If the name isn't in use, the passed string is returned. If the name is in use, this operation attempts to generate a valid project name based on the one supplied, usually by adding a sequence number. If a valid project name cannot be generated, a 404 response is returned.<br><br>**[Permissions](#permissions) required:** None.
      operationId: atlassianGetvalidprojectname
      parameters:
      - description: The project name.
        in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '"Valid Project Name Example"'
              schema:
                type: string
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect.
        '404':
          description: Returned if a valid project name cannot be generated.
      security:
      - basicAuth: []
      summary: Atlassian Get Valid Project Name
      tags:
      - Project Key and Name Validation
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-connect-scope: READ
components:
  schemas:
    ErrorCollection:
      additionalProperties: false
      description: Error messages from an operation.
      properties:
        errorMessages:
          description: The list of error messages produced by this operation. For example, "input parameter 'key' must be provided"
          items:
            type: string
          type: array
        errors:
          additionalProperties:
            type: string
          description: 'The list of errors by parameter returned by the operation. For example,"projectKey": "Project keys must start with an uppercase letter, followed by one or more uppercase alphanumeric characters."'
          type: object
        status:
          format: int32
          type: integer
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
