openapi: 3.1.0
info:
  title: Atlassian Admin Account Analytics API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Analytics
paths:
  /wiki/rest/api/analytics/content/{contentId}/views:
    get:
      tags:
      - Analytics
      summary: Atlassian Get Views
      description: Get the total number of views a piece of content has.
      operationId: atlassianGetviews
      parameters:
      - name: contentId
        in: path
        description: The ID of the content to get the views for.
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        description: The number of views for the content since the date.
        schema:
          type: string
        example: '2021-03-21T00:00:00.000Z'
      responses:
        '200':
          description: Returns the total number of views for the content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The content ID.
                  count:
                    type: integer
                    description: The total number of views for the content.
        '400':
          description: Returned if client input is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect.
          content: {}
        '403':
          description: 'Returned if the authentication credentials are missing

            from the request.'
          content: {}
        '404':
          description: 'Returned if;

            - There is no content with the given ID.'
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.summary
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.summary
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:analytics.content:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
  /wiki/rest/api/analytics/content/{contentId}/viewers:
    get:
      tags:
      - Analytics
      summary: Atlassian Get Viewers
      description: Get the total number of distinct viewers a piece of content has.
      operationId: atlassianGetviewers
      parameters:
      - name: contentId
        in: path
        description: The ID of the content to get the viewers for.
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        description: The number of views for the content since the date.
        schema:
          type: string
        example: '2021-03-21T00:00:00.000Z'
      responses:
        '200':
          description: Returns the total number of distinct viewers for the content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The content ID.
                  count:
                    type: integer
                    description: The total number of distinct viewers for the content.
        '400':
          description: Returned if client input is invalid.
        '401':
          description: Returned if the authentication credentials are incorrect.
          content: {}
        '403':
          description: 'Returned if the authentication credentials are missing

            from the request.'
          content: {}
        '404':
          description: 'Returned if;

            - There is no content with the given ID.'
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.summary
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.summary
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:analytics.content:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
