openapi: 3.1.0
info:
  title: Atlassian Admin Account Issue Custom Field Options (Apps) API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Issue Custom Field Options (Apps)
paths:
  /rest/api/3/field/{fieldKey}/option:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of all the options of a select list issue field. A select list issue field is a type of [issue field](https://developer.atlassian.com/cloud/jira/platform/modules/issue-field/) that enables a user to select a value from a list of options.<br><br>Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.
      operationId: atlassianGetallissuefieldoptions
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: "The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:\n\n *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.\n *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`"
        in: path
        name: fieldKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":false,"maxResults":1,"nextPage":"https://your-domain.atlassian.net/rest/api/3/field/fieldKey/option?startAt=1&maxResults=1","self":"https://your-domain.atlassian.net/rest/api/3/field/fieldKey/option?startAt=0&maxResults=1","startAt":0,"total":10,"values":[{"id":1,"value":"Team 1","properties":{"leader":{"name":"Leader Name","email":"lname@example.com"},"members":42,"description":"The team''s description","founded":"2016-06-06"},"config":{"scope":{"projects":[],"projects2":[{"id":1001,"attributes":["notSelectable"]},{"id":1002,"attributes":["notSelectable"]}],"global":{}},"attributes":[]}}]}'
              schema:
                $ref: '#/components/schemas/PageBeanIssueFieldOption'
          description: Returned if the request is successful.
        '400':
          description: Returned if the field is not found or does not support options.
        '403':
          description: Returned if the request is not authenticated as a Jira administrator or the app that provided the field.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get All Issue Field Options
      tags:
      - Issue Custom Field Options (Apps)
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field.option:jira
        state: Beta
      x-atlassian-connect-scope: NONE
    post:
      deprecated: false
      description: Creates an option for a select list issue field.<br><br>Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.<br><br>Each field can have a maximum of 10000 options, and each option can have a maximum of 10000 scopes.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.
      operationId: atlassianCreateissuefieldoption
      parameters:
      - description: "The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:\n\n *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.\n *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`"
        in: path
        name: fieldKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              config:
                attributes: []
                scope:
                  global: {}
                  projects: []
                  projects2:
                  - attributes:
                    - notSelectable
                    id: 1001
                  - attributes:
                    - notSelectable
                    id: 1002
              properties:
                description: The team's description
                founded: '2016-06-06'
                leader:
                  email: lname@example.com
                  name: Leader Name
                members: 42
              value: Team 1
            schema:
              $ref: '#/components/schemas/IssueFieldOptionCreateBean'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"id":1,"value":"Team 1","properties":{"leader":{"name":"Leader Name","email":"lname@example.com"},"members":42,"description":"The team''s description","founded":"2016-06-06"},"config":{"scope":{"projects":[],"projects2":[{"id":1001,"attributes":["notSelectable"]},{"id":1002,"attributes":["notSelectable"]}],"global":{}},"attributes":[]}}'
              schema:
                $ref: '#/components/schemas/IssueFieldOption'
          description: Returned if the request is successful.
        '400':
          description: Returned if the option is invalid.
        '403':
          description: Returned if the request is not authenticated as a Jira administrator or the app that provided the field.
        '404':
          description: Returned if the field is not found or does not support options.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Create Issue Field Option
      tags:
      - Issue Custom Field Options (Apps)
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field.option:jira
        state: Beta
      x-atlassian-connect-scope: NONE
  /rest/api/3/field/{fieldKey}/option/suggestions/edit:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of options for a select list issue field that can be viewed and selected by the user.<br><br>Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianGetselectableissuefieldoptions
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: Filters the results to options that are only available in the specified project.
        in: query
        name: projectId
        schema:
          format: int64
          type: integer
      - description: "The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:\n\n *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.\n *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`"
        in: path
        name: fieldKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":false,"maxResults":1,"nextPage":"https://your-domain.atlassian.net/rest/api/3/field/fieldKey/option/suggestions?startAt=1&maxResults=1","self":"https://your-domain.atlassian.net/rest/api/3/field/fieldKey/option/suggestions?startAt=0&maxResults=1","startAt":0,"total":10,"values":[{"id":1,"value":"Team 1","properties":{"leader":{"name":"Leader Name","email":"lname@example.com"},"members":42,"description":"The team''s description","founded":"2016-06-06"}}]}'
              schema:
                $ref: '#/components/schemas/PageBeanIssueFieldOption'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the field is not found or does not support options.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      summary: Atlassian Get Selectable Issue Field Options
      tags:
      - Issue Custom Field Options (Apps)
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field.option:jira
        state: Beta
      x-atlassian-connect-scope: NONE
  /rest/api/3/field/{fieldKey}/option/suggestions/search:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of options for a select list issue field that can be viewed by the user.<br><br>Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.<br><br>**[Permissions](#permissions) required:** Permission to access Jira.
      operationId: atlassianGetvisibleissuefieldoptions
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: Filters the results to options that are only available in the specified project.
        in: query
        name: projectId
        schema:
          format: int64
          type: integer
      - description: "The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:\n\n *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.\n *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`"
        in: path
        name: fieldKey
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":false,"maxResults":1,"nextPage":"https://your-domain.atlassian.net/rest/api/3/field/fieldKey/option/suggestions?startAt=1&maxResults=1","self":"https://your-domain.atlassian.net/rest/api/3/field/fieldKey/option/suggestions?startAt=0&maxResults=1","startAt":0,"total":10,"values":[{"id":1,"value":"Team 1","properties":{"leader":{"name":"Leader Name","email":"lname@example.com"},"members":42,"description":"The team''s description","founded":"2016-06-06"}}]}'
              schema:
                $ref: '#/components/schemas/PageBeanIssueFieldOption'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '404':
          description: Returned if the field is not found or does not support options.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-work
      summary: Atlassian Get Visible Issue Field Options
      tags:
      - Issue Custom Field Options (Apps)
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-work
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field.option:jira
        state: Beta
      x-atlassian-connect-scope: NONE
  /rest/api/3/field/{fieldKey}/option/{optionId}:
    delete:
      deprecated: false
      description: Deletes an option from a select list issue field.<br><br>Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.
      operationId: atlassianDeleteissuefieldoption
      parameters:
      - description: "The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:\n\n *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.\n *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`"
        in: path
        name: fieldKey
        required: true
        schema:
          type: string
      - description: The ID of the option to be deleted.
        in: path
        name: optionId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the field option is deleted.
        '403':
          description: Returned if the request is not authenticated as a Jira administrator or the app that provided the field.
        '404':
          description: Returned if the field or option is not found.
        '409':
          description: Returned if the option is selected for the field in any issue.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Issue Field Option
      tags:
      - Issue Custom Field Options (Apps)
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:field.option:jira
        state: Beta
      x-atlassian-connect-scope: NONE
    get:
      deprecated: false
      description: Returns an option from a select list issue field.<br><br>Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.
      operationId: atlassianGetissuefieldoption
      parameters:
      - description: "The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:\n\n *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.\n *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`"
        in: path
        name: fieldKey
        required: true
        schema:
          type: string
      - description: The ID of the option to be returned.
        in: path
        name: optionId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"id":1,"value":"Team 1","properties":{"leader":{"name":"Leader Name","email":"lname@example.com"},"members":42,"description":"The team''s description","founded":"2016-06-06"},"config":{"scope":{"projects":[],"projects2":[{"id":1001,"attributes":["notSelectable"]},{"id":1002,"attributes":["notSelectable"]}],"global":{}},"attributes":[]}}'
              schema:
                $ref: '#/components/schemas/IssueFieldOption'
          description: Returned if the requested option is returned.
        '400':
          description: Returned if the field is not found or does not support options.
        '403':
          description: Returned if the request is not authenticated as a Jira administrator or the app that provided the field.
        '404':
          description: Returned if the option is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Issue Field Option
      tags:
      - Issue Custom Field Options (Apps)
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field.option:jira
        state: Beta
      x-atlassian-connect-scope: NONE
    put:
      deprecated: false
      description: Updates or creates an option for a select list issue field. This operation requires that the option ID is provided when creating an option, therefore, the option ID needs to be specified as a path and body parameter. The option ID provided in the path and body must be identical.<br><br>Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.
      operationId: atlassianUpdateissuefieldoption
      parameters:
      - description: "The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:\n\n *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.\n *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`"
        in: path
        name: fieldKey
        required: true
        schema:
          type: string
      - description: The ID of the option to be updated.
        in: path
        name: optionId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              config:
                attributes: []
                scope:
                  global: {}
                  projects: []
                  projects2:
                  - attributes:
                    - notSelectable
                    id: 1001
                  - attributes:
                    - notSelectable
                    id: 1002
              id: 1
              properties:
                description: The team's description
                founded: '2016-06-06'
                leader:
                  email: lname@example.com
                  name: Leader Name
                members: 42
              value: Team 1
            schema:
              $ref: '#/components/schemas/IssueFieldOption'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"id":1,"value":"Team 1","properties":{"leader":{"name":"Leader Name","email":"lname@example.com"},"members":42,"description":"The team''s description","founded":"2016-06-06"},"config":{"scope":{"projects":[],"projects2":[{"id":1001,"attributes":["notSelectable"]},{"id":1002,"attributes":["notSelectable"]}],"global":{}},"attributes":[]}}'
              schema:
                $ref: '#/components/schemas/IssueFieldOption'
          description: Returned if the option is updated or created.
        '400':
          description: Returned if the option is invalid, or the *ID* in the request object does not match the *optionId* parameter.
        '403':
          description: Returned if the request is not authenticated as a Jira administrator or the app that provided the field.
        '404':
          description: Returned if field is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Issue Field Option
      tags:
      - Issue Custom Field Options (Apps)
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field.option:jira
        state: Beta
      x-atlassian-connect-scope: NONE
  /rest/api/3/field/{fieldKey}/option/{optionId}/issue:
    delete:
      deprecated: false
      description: Deselects an issue-field select-list option from all issues where it is selected. A different option can be selected to replace the deselected option. The update can also be limited to a smaller set of issues by using a JQL query.<br><br>Connect and Forge app users with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) can override the screen security configuration using `overrideScreenSecurity` and `overrideEditableFlag`.<br><br>This is an [asynchronous operation](#async). The response object contains a link to the long-running task.<br><br>Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.
      operationId: atlassianReplaceissuefieldoption
      parameters:
      - description: The ID of the option that will replace the currently selected option.
        in: query
        name: replaceWith
        schema:
          format: int64
          type: integer
      - description: A JQL query that specifies the issues to be updated. For example, *project=10000*.
        in: query
        name: jql
        schema:
          type: string
      - description: Whether screen security is overridden to enable hidden fields to be edited. Available to Connect and Forge app users with admin permission.
        in: query
        name: overrideScreenSecurity
        schema:
          default: false
          type: boolean
      - description: Whether screen security is overridden to enable uneditable fields to be edited. Available to Connect and Forge app users with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
        in: query
        name: overrideEditableFlag
        schema:
          default: false
          type: boolean
      - description: "The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:\n\n *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.\n *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`"
        in: path
        name: fieldKey
        required: true
        schema:
          type: string
      - description: The ID of the option to be deselected.
        in: path
        name: optionId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '303':
          content:
            application/json:
              example: '{"self":"https://your-domain.atlassian.net/rest/api/3/task/1","id":"1","description":"Remove option 1 from issues matched by ''*'', and replace with option 3","status":"COMPLETE","result":{"errors":{"errorMessages":["Option 2 cannot be set on issue MKY-5 as it is not in the correct scope"],"errors":{},"httpStatusCode":{"empty":false,"present":true}},"modifiedIssues":[10001,10010],"unmodifiedIssues":[10005]},"elapsedRuntime":42}'
              schema:
                $ref: '#/components/schemas/TaskProgressBeanRemoveOptionFromIssuesResult'
          description: Returned if the long-running task to deselect the option is started.
        '400':
          description: Returned if the request is not valid.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Connect and Forge app users with Administer Jira global permission can override screen security."],"errors":{}}'
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the field is not found or does not support options, or the options to be replaced are not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Replace Issue Field Option
      tags:
      - Issue Custom Field Options (Apps)
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field.option:jira
        - delete:field.option:jira
        state: Beta
      x-atlassian-connect-scope: NONE
components:
  schemas:
    IssueFieldOptionScopeBean:
      additionalProperties: false
      properties:
        global:
          allOf:
          - $ref: '#/components/schemas/GlobalScopeBean'
          description: Defines the behavior of the option within the global context. If this property is set, even if set to an empty object, then the option is available in all projects.
        projects:
          description: DEPRECATED
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
        projects2:
          description: Defines the projects in which the option is available and the behavior of the option within each project. Specify one object per project. The behavior of the option in a project context overrides the behavior in the global context.
          items:
            $ref: '#/components/schemas/ProjectScopeBean'
          type: array
          uniqueItems: true
      type: object
    PageBeanIssueFieldOption:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/IssueFieldOption'
          readOnly: true
          type: array
      type: object
    GlobalScopeBean:
      additionalProperties: false
      properties:
        attributes:
          description: Defines the behavior of the option in the global context.If notSelectable is set, the option cannot be set as the field's value. This is useful for archiving an option that has previously been selected but shouldn't be used anymore.If defaultValue is set, the option is selected by default.
          items:
            enum:
            - notSelectable
            - defaultValue
            type: string
          type: array
          uniqueItems: true
      type: object
    SimpleErrorCollection:
      additionalProperties: false
      properties:
        errorMessages:
          description: The list of error messages produced by this operation. For example, "input parameter 'key' must be provided"
          items:
            type: string
          type: array
        errors:
          additionalProperties:
            type: string
          description: 'The list of errors by parameter returned by the operation. For example,"projectKey": "Project keys must start with an uppercase letter, followed by one or more uppercase alphanumeric characters."'
          type: object
        httpStatusCode:
          format: int32
          type: integer
      type: object
    IssueFieldOptionConfiguration:
      additionalProperties: false
      description: Details of the projects the option is available in.
      properties:
        attributes:
          description: DEPRECATED
          items:
            enum:
            - notSelectable
            - defaultValue
            type: string
          type: array
          uniqueItems: true
        scope:
          allOf:
          - $ref: '#/components/schemas/IssueFieldOptionScopeBean'
          description: Defines the projects that the option is available in. If the scope is not defined, then the option is available in all projects.
      type: object
    IssueFieldOption:
      additionalProperties: false
      description: Details of the options for a select list issue field.
      properties:
        config:
          $ref: '#/components/schemas/IssueFieldOptionConfiguration'
        id:
          description: The unique identifier for the option. This is only unique within the select field's set of options.
          format: int64
          type: integer
        properties:
          additionalProperties: {}
          description: The properties of the object, as arbitrary key-value pairs. These properties can be searched using JQL, if the extractions (see [Issue Field Option Property Index](https://developer.atlassian.com/cloud/jira/platform/modules/issue-field-option-property-index/)) are defined in the descriptor for the issue field module.
          type: object
        value:
          description: The option's name, which is displayed in Jira.
          type: string
      required:
      - id
      - value
      type: object
    ProjectScopeBean:
      additionalProperties: false
      properties:
        attributes:
          description: Defines the behavior of the option in the project.If notSelectable is set, the option cannot be set as the field's value. This is useful for archiving an option that has previously been selected but shouldn't be used anymore.If defaultValue is set, the option is selected by default.
          items:
            enum:
            - notSelectable
            - defaultValue
            type: string
          type: array
          uniqueItems: true
        id:
          description: The ID of the project that the option's behavior applies to.
          format: int64
          type: integer
      type: object
    IssueFieldOptionCreateBean:
      additionalProperties: true
      properties:
        config:
          $ref: '#/components/schemas/IssueFieldOptionConfiguration'
        properties:
          additionalProperties: {}
          description: The properties of the option as arbitrary key-value pairs. These properties can be searched using JQL, if the extractions (see https://developer.atlassian.com/cloud/jira/platform/modules/issue-field-option-property-index/) are defined in the descriptor for the issue field module.
          type: object
        value:
          description: The option's name, which is displayed in Jira.
          type: string
      required:
      - value
      type: object
    RemoveOptionFromIssuesResult:
      additionalProperties: false
      properties:
        errors:
          allOf:
          - $ref: '#/components/schemas/SimpleErrorCollection'
          description: A collection of errors related to unchanged issues. The collection size is limited, which means not all errors may be returned.
        modifiedIssues:
          description: The IDs of the modified issues.
          items:
            format: int64
            type: integer
          type: array
        unmodifiedIssues:
          description: The IDs of the unchanged issues, those issues where errors prevent modification.
          items:
            format: int64
            type: integer
          type: array
      type: object
    TaskProgressBeanRemoveOptionFromIssuesResult:
      additionalProperties: false
      description: Details about a task.
      properties:
        description:
          description: The description of the task.
          type: string
        elapsedRuntime:
          description: The execution time of the task, in milliseconds.
          format: int64
          type: integer
        finished:
          description: A timestamp recording when the task was finished.
          format: int64
          type: integer
        id:
          description: The ID of the task.
          type: string
        lastUpdate:
          description: A timestamp recording when the task progress was last updated.
          format: int64
          type: integer
        message:
          description: Information about the progress of the task.
          type: string
        progress:
          description: The progress of the task, as a percentage complete.
          format: int64
          type: integer
        result:
          allOf:
          - $ref: '#/components/schemas/RemoveOptionFromIssuesResult'
          description: The result of the task execution.
        self:
          description: The URL of the task.
          format: uri
          type: string
        started:
          description: A timestamp recording when the task was started.
          format: int64
          type: integer
        status:
          description: The status of the task.
          enum:
          - ENQUEUED
          - RUNNING
          - COMPLETE
          - FAILED
          - CANCEL_REQUESTED
          - CANCELLED
          - DEAD
          type: string
        submitted:
          description: A timestamp recording when the task was submitted.
          format: int64
          type: integer
        submittedBy:
          description: The ID of the user who submitted the task.
          format: int64
          type: integer
      required:
      - elapsedRuntime
      - id
      - lastUpdate
      - progress
      - self
      - status
      - submitted
      - submittedBy
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
