openapi: 3.2.0
info:
  title: Atlassian Groups API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Groups across 2 of this provider''s published API definitions: atlassian-admin-api-openapi.yml, jira-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
- url: https://your-domain.atlassian.net
tags:
- name: Groups
  description: Manage groups within an organization.
paths:
  /v1/orgs/{orgId}/groups:
    get:
      operationId: getOrganizationGroups
      summary: Atlassian Get Organization Groups
      description: Returns a list of groups within the organization. Groups are used to organize users and assign collective permissions.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/orgId'
      - name: cursor
        in: query
        description: Cursor for paginated results.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response containing a paginated list of groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPage'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
      - oauth2: []
    servers:
    - url: https://api.atlassian.com
      description: Atlassian Cloud API
  /rest/api/3/group:
    delete:
      deprecated: false
      description: 'Deletes a group.


        **Permissions required:** Site administration (that is, member of the *site-admin* strategic group).'
      operationId: atlassianRemovegroup
      parameters:
      - in: query
        name: groupname
        schema:
          type: string
      - description: The ID of the group. This parameter cannot be used with the `groupname` parameter.
        in: query
        name: groupId
        schema:
          type: string
        x-showInExample: 'true'
      - description: "As a group's name can change, use of `swapGroupId` is recommended to identify a group.  \nThe group to transfer restrictions to. Only comments and worklogs are transferred. If restrictions are not transferred, comments and worklogs are inaccessible after the deletion. This parameter cannot be used with the `swapGroupId` parameter."
        in: query
        name: swapGroup
        schema:
          type: string
      - description: The ID of the group to transfer restrictions to. Only comments and worklogs are transferred. If restrictions are not transferred, comments and worklogs are inaccessible after the deletion. This parameter cannot be used with the `swapGroup` parameter.
        in: query
        name: swapGroupId
        schema:
          type: string
      responses:
        '200':
          description: Returned if the request is successful.
        '400':
          description: Returned if the group name is not specified.
        '401':
          description: Returned if the authentication credentials are incorrect or missing from the request.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the group is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Remove Group
      tags:
      - Groups
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:group:jira
        state: Beta
      x-atlassian-connect-scope: INACCESSIBLE
    get:
      deprecated: true
      description: 'This operation is deprecated, use `group/member`.


        Returns all users in a group.


        **Permissions required:** *Administer Jira* global permission.'
      operationId: atlassianGetgroup
      parameters:
      - description: "As a group's name can change, use of `groupId` is recommended to identify a group.  \nThe name of the group. This parameter cannot be used with the `groupId` parameter."
        in: query
        name: groupname
        schema:
          type: string
      - description: The ID of the group. This parameter cannot be used with the `groupName` parameter.
        in: query
        name: groupId
        schema:
          type: string
        x-showInExample: 'true'
      - description: List of fields to expand.
        in: query
        name: expand
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_2'
          description: Returned if the request is successful.
        '400':
          description: Returned if the group name is not specified.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the calling user does not have the Administer Jira global permission.
        '404':
          description: Returned if the group is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      summary: Atlassian Get Group
      tags:
      - Groups
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:group:jira
        - read:user:jira
        - read:avatar:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    post:
      deprecated: false
      description: 'Creates a group.


        **Permissions required:** Site administration (that is, member of the *site-admin* group).'
      operationId: atlassianCreategroup
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: power-users
            schema:
              $ref: '#/components/schemas/AddGroupBean'
        description: The name of the group.
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"expand":"users","groupId":"276f955c-63d7-42c8-9520-92d01dca0625","name":"power-users","self":"https://your-domain.atlassian.net/rest/api/3/group?groupId=276f955c-63d7-42c8-9520-92d01dca0625","users":{"end-index":0,"items":[{"accountId":"5b10a2844c20165700ede21g","active":false,"displayName":"Mia Krystof","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g"}],"max-results":50,"size":1,"start-index":0}}'
              schema:
                $ref: '#/components/schemas/Group_2'
          description: Returned if the request is successful.
        '400':
          description: Returned if group name is not specified or the group name is in use.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Create Group
      tags:
      - Groups
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:group:jira
        - read:user:jira
        - write:group:jira
        - read:avatar:jira
        state: Beta
      x-atlassian-connect-scope: INACCESSIBLE
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/group/bulk:
    get:
      deprecated: false
      description: 'Returns a paginated list of groups.


        **Permissions required:** *Browse users and groups* global permission.'
      operationId: atlassianBulkgetgroups
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: The ID of a group. To specify multiple IDs, pass multiple `groupId` parameters. For example, `groupId=5b10a2844c20165700ede21g&groupId=5b10ac8d82e05b22cc7d4ef5`.
        in: query
        name: groupId
        schema:
          example: 3571b9a7-348f-414a-9087-8e1ea03a7df8
          items:
            default: ''
            example: 3571b9a7-348f-414a-9087-8e1ea03a7df8
            type: string
          type: array
          uniqueItems: true
        x-showInExample: 'true'
      - description: The name of a group. To specify multiple names, pass multiple `groupName` parameters. For example, `groupName=administrators&groupName=jira-software-users`.
        in: query
        name: groupName
        schema:
          items:
            default: ''
            type: string
          type: array
          uniqueItems: true
      - description: 'The access level of a group. Valid values: ''site-admin'', ''admin'', ''user''.'
        in: query
        name: accessType
        schema:
          type: string
      - description: 'The application key of the product user groups to search for. Valid values: ''jira-servicedesk'', ''jira-software'', ''jira-product-discovery'', ''jira-core''.'
        in: query
        name: applicationKey
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":10,"startAt":0,"total":2,"values":[{"groupId":"276f955c-63d7-42c8-9520-92d01dca0625","name":"jdog-developers"},{"groupId":"6e87dc72-4f1f-421f-9382-2fee8b652487","name":"juvenal-bot"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanGroupDetails'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Browse users and groups permission is required to view groups."],"errors":{}}'
          description: Returned if the user does not have the necessary permission.
        '500':
          content:
            application/json:
              example: '{"errorMessages":["Couldn''t retrieve groups with the site-admin accessType."],"errors":{}}'
          description: Returned if the group with the given access level can't be retrieved.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      summary: Atlassian Bulk Get Groups
      tags:
      - Groups
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:group:jira
        state: Beta
      x-experimental: true
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/group/member:
    get:
      deprecated: false
      description: 'Returns a paginated list of all users in a group.


        Note that users are ordered by username, however the username is not returned in the results due to privacy reasons.


        **Permissions required:** *Administer Jira* global permission.'
      operationId: atlassianGetusersfromgroup
      parameters:
      - description: "As a group's name can change, use of `groupId` is recommended to identify a group.  \nThe name of the group. This parameter cannot be used with the `groupId` parameter."
        in: query
        name: groupname
        schema:
          type: string
      - description: The ID of the group. This parameter cannot be used with the `groupName` parameter.
        in: query
        name: groupId
        schema:
          type: string
        x-showInExample: 'true'
      - description: Include inactive users.
        in: query
        name: includeInactiveUsers
        schema:
          default: false
          type: boolean
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":false,"maxResults":2,"nextPage":"https://your-domain.atlassian.net/rest/api/3/group/member?groupId=276f955c-63d7-42c8-9520-92d01dca0625&includeInactiveUsers=false&startAt=4&maxResults=2","self":"https://your-domain.atlassian.net/rest/api/3/group/member?groupId=276f955c-63d7-42c8-9520-92d01dca0625&includeInactiveUsers=false&startAt=2&maxResults=2","startAt":3,"total":5,"values":[{"accountId":"5b10a2844c20165700ede21g","accountType":"atlassian","active":true,"avatarUrls":{},"displayName":"Mia","emailAddress":"mia@example.com","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g","timeZone":"Australia/Sydney"},{"accountId":"5b10a0effa615349cb016cd8","accountType":"atlassian","active":false,"avatarUrls":{},"displayName":"Will","emailAddress":"will@example.com","key":"","name":"","self":"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a0effa615349cb016cd8","timeZone":"Australia/Sydney"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanUserDetails'
          description: Returned if the request is successful.
        '400':
          description: Returned if the group name is not specified.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the calling user does not have the Administer Jira global permission.
        '404':
          description: Returned if the group is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Users From Group
      tags:
      - Groups
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:group:jira
        - read:user:jira
        - read:avatar:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/group/user:
    delete:
      deprecated: false
      description: 'Removes a user from a group.


        **Permissions required:** Site administration (that is, member of the *site-admin* group).'
      operationId: atlassianRemoveuserfromgroup
      parameters:
      - description: "As a group's name can change, use of `groupId` is recommended to identify a group.  \nThe name of the group. This parameter cannot be used with the `groupId` parameter."
        in: query
        name: groupname
        schema:
          type: string
      - description: The ID of the group. This parameter cannot be used with the `groupName` parameter.
        in: query
        name: groupId
        schema:
          type: string
        x-showInExample: 'true'
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: username
        schema:
          type: string
      - description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
        in: query
        name: accountId
        required: true
        schema:
          example: 5b10ac8d82e05b22cc7d4ef5
          maxLength: 128
          type: string
        x-showInExample: 'true'
      responses:
        '200':
          description: Returned if the request is successful.
        '400':
          description: "Returned if:\n\n *  `groupName` is missing.\n *  `accountId` is missing."
        '401':
          description: Returned if the authentication credentials are incorrect or missing from the request.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the group or user are not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Remove User From Group
      tags:
      - Groups
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:group:jira
        state: Beta
      x-atlassian-connect-scope: INACCESSIBLE
    post:
      deprecated: false
      description: 'Adds a user to a group.


        **Permissions required:** Site administration (that is, member of the *site-admin* group).'
      operationId: atlassianAddusertogroup
      parameters:
      - description: "As a group's name can change, use of `groupId` is recommended to identify a group.  \nThe name of the group. This parameter cannot be used with the `groupId` parameter."
        in: query
        name: groupname
        schema:
          type: string
      - description: The ID of the group. This parameter cannot be used with the `groupName` parameter.
        in: query
        name: groupId
        schema:
          type: string
        x-showInExample: 'true'
      requestBody:
        content:
          application/json:
            example:
              accountId: 5b10ac8d82e05b22cc7d4ef5
            schema:
              $ref: '#/components/schemas/UpdateUserToGroupBean'
        description: The user to add to the group.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_2'
          description: Returned if the request is successful.
        '400':
          description: "Returned if:\n\n *  `groupname` is not provided.\n *  `accountId` is missing."
        '401':
          description: Returned if the authentication credentials are incorrect or missing from the request.
        '403':
          description: Returned if the calling user does not have the necessary permission.
        '404':
          description: Returned if the group or user are not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Add User To Group
      tags:
      - Groups
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:group:jira
        - read:avatar:jira
        - read:group:jira
        - read:user:jira
        state: Beta
      x-atlassian-connect-scope: INACCESSIBLE
    servers:
    - url: https://your-domain.atlassian.net
  /rest/api/3/groups/picker:
    get:
      deprecated: false
      description: 'Returns a list of groups whose names contain a query string. A list of group names can be provided to exclude groups from the results.


        The primary use case for this resource is to populate a group picker suggestions list. To this end, the returned object includes the `html` field where the matched query term is highlighted in the group name with the HTML strong tag. Also, the groups list is wrapped in a response object that contains a header for use in the picker, specifically *Showing X of Y matching groups*.


        The list returns with the groups sorted. If no groups match the list criteria, an empty list is returned.


        This operation can be accessed anonymously.


        **Permissions required:** *Browse projects* project permission. Anonymous calls and calls by users without the required permission return an empty list.


        *Browse users and groups* global permission. Without this permission, calls where query is not an exact match to an existing group will return an empty list.'
      operationId: atlassianFindgroups
      parameters:
      - description: This parameter is deprecated, setting it does not affect the results. To find groups containing a particular user, use [Get user groups](#api-rest-api-3-user-groups-get).
        in: query
        name: accountId
        schema:
          type: string
      - description: The string to find in group names.
        in: query
        name: query
        schema:
          example: query
          type: string
      - description: "As a group's name can change, use of `excludeGroupIds` is recommended to identify a group.  \nA group to exclude from the result. To exclude multiple groups, provide an ampersand-separated list. For example, `exclude=group1&exclude=group2`. This parameter cannot be used with the `excludeGroupIds` parameter."
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
      - description: A group ID to exclude from the result. To exclude multiple groups, provide an ampersand-separated list. For example, `excludeId=group1-id&excludeId=group2-id`. This parameter cannot be used with the `excludeGroups` parameter.
        in: query
        name: excludeId
        schema:
          items:
            type: string
          type: array
      - description: The maximum number of groups to return. The maximum number of groups that can be returned is limited by the system property `jira.ajax.autocomplete.limit`.
        in: query
        name: maxResults
        schema:
          format: int32
          type: integer
      - description: Whether the search for groups should be case insensitive.
        in: query
        name: caseInsensitive
        schema:
          default: false
          type: boolean
      - description: This parameter is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
        in: query
        name: userName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"groups":[{"groupId":"276f955c-63d7-42c8-9520-92d01dca0625","html":"<b>j</b>dog-developers","name":"jdog-developers"},{"groupId":"6e87dc72-4f1f-421f-9382-2fee8b652487","html":"<b>j</b>uvenal-bot","name":"juvenal-bot"}],"header":"Showing 20 of 25 matching groups","total":25}'
              schema:
                $ref: '#/components/schemas/FoundGroups'
          description: Returned if the request is successful.
      security:
      - basicAuth: []
      - OAuth2:
        - read:jira-user
      - {}
      summary: Atlassian Find Groups
      tags:
      - Groups
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - read:jira-user
        state: Current
      - scheme: OAuth2
        scopes:
        - read:group:jira
        state: Beta
      x-atlassian-connect-scope: READ
    servers:
    - url: https://your-domain.atlassian.net
components:
  schemas:
    Group:
      type: object
      description: Represents a group within an organization.
      properties:
        id:
          type: string
          description: The unique identifier of the group.
          example: abc123
        type:
          type: string
          description: The resource type.
          enum:
          - group
          example: group
        attributes:
          type: object
          description: The attributes of the group.
          properties:
            name:
              type: string
              description: The display name of the group.
            description:
              type: string
              description: A description of the group.
            member_count:
              type: integer
              description: The number of members in the group.
          example: example_value
    GroupPage:
      type: object
      description: A paginated list of groups.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Group'
          description: The list of groups.
          example: []
        links:
          $ref: '#/components/schemas/PaginationLinks'
    PaginationLinks:
      type: object
      description: Links for cursor-based pagination.
      properties:
        self:
          type: string
          format: uri
          description: Link to the current page.
          example: https://www.example.com
        next:
          type: string
          format: uri
          description: Link to the next page of results.
          example: https://www.example.com
        prev:
          type: string
          format: uri
          description: Link to the previous page of results.
          example: https://www.example.com
    ErrorResponse:
      type: object
      description: Standard error response.
      properties:
        code:
          type: integer
          description: The HTTP status code.
          example: 10
        message:
          type: string
          description: A human-readable error message.
          example: example_value
        errors:
          type: array
          description: Detailed error information.
          items:
            type: object
            properties:
              code:
                type: string
                description: A machine-readable error code.
              message:
                type: string
                description: A human-readable description of the error.
          example: []
    Group_2:
      additionalProperties: false
      properties:
        expand:
          description: Expand options that include additional group details in the response.
          readOnly: true
          type: string
          xml:
            attribute: true
        groupId:
          description: The ID of the group, which uniquely identifies the group across all Atlassian products. For example, *952d12c3-5b5b-4d04-bb32-44d383afc4b2*.
          type:
          - string
          - 'null'
        name:
          description: The name of group.
          type: string
        self:
          description: The URL for these group details.
          format: uri
          readOnly: true
          type: string
        users:
          allOf:
          - $ref: '#/components/schemas/PagedListUserDetailsApplicationUser'
          description: A paginated list of the users that are members of the group. A maximum of 50 users is returned in the list, to access additional users append `[start-index:end-index]` to the expand request. For example, to access the next 50 users, use`?expand=users[51:100]`.
          readOnly: true
      type: object
    PagedListUserDetailsApplicationUser:
      additionalProperties: false
      description: A paged list. To access additional details append `[start-index:end-index]` to the expand request. For example, `?expand=sharedUsers[10:40]` returns a list starting at item 10 and finishing at item 40.
      properties:
        end-index:
          description: The index of the last item returned on the page.
          format: int32
          readOnly: true
          type: integer
          xml:
            attribute: true
            name: end-index
        items:
          description: The list of items.
          items:
            $ref: '#/components/schemas/UserDetails'
          readOnly: true
          type: array
        max-results:
          description: The maximum number of results that could be on the page.
          format: int32
          readOnly: true
          type: integer
          xml:
            attribute: true
            name: max-results
        size:
          description: The number of items on the page.
          format: int32
          readOnly: true
          type: integer
          xml:
            attribute: true
        start-index:
          description: The index of the first item returned on the page.
          format: int32
          readOnly: true
          type: integer
          xml:
            attribute: true
            name: start-index
      type: object
    PageBeanUserDetails:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/UserDetails'
          readOnly: true
          type: array
      type: object
    UpdateUserToGroupBean:
      additionalProperties: true
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
          maxLength: 128
          type: string
        name:
          description: This property is no longer available. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          type: string
      type: object
    AddGroupBean:
      additionalProperties: true
      properties:
        name:
          description: The name of the group.
          type: string
      required:
      - name
      type: object
    UserDetails:
      additionalProperties: false
      description: "User details permitted by the user's Atlassian Account privacy settings. However, be aware of these exceptions:\n\n *  User record deleted from Atlassian: This occurs as the result of a right to be forgotten request. In this case, `displayName` provides an indication and other parameters have default values or are blank (for example, email is blank).\n *  User record corrupted: This occurs as a results of events such as a server import and can only happen to deleted users. In this case, `accountId` returns *unknown* and all other parameters have fallback values.\n *  User record unavailable: This usually occurs due to an internal service outage. In this case, all parameters have fallback values."
      properties:
        accountId:
          description: The account ID of the user, which uniquely identifies the user across all Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
          maxLength: 128
          type: string
        accountType:
          description: The type of account represented by this user. This will be one of 'atlassian' (normal users), 'app' (application user) or 'customer' (Jira Service Desk customer user)
          readOnly: true
          type: string
        active:
          description: Whether the user is active.
          readOnly: true
          type: boolean
        avatarUrls:
          allOf:
          - $ref: '#/components/schemas/AvatarUrlsBean'
          description: The avatars of the user.
          readOnly: true
        displayName:
          description: The display name of the user. Depending on the user’s privacy settings, this may return an alternative value.
          readOnly: true
          type: string
        emailAddress:
          description: The email address of the user. Depending on the user’s privacy settings, this may be returned as null.
          readOnly: true
          type: string
        key:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          readOnly: true
          type: string
        name:
          description: This property is no longer available and will be removed from the documentation soon. See the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details.
          readOnly: true
          type: string
        self:
          description: The URL of the user.
          readOnly: true
          type: string
        timeZone:
          description: The time zone specified in the user's profile. Depending on the user’s privacy settings, this may be returned as null.
          readOnly: true
          type: string
      type: object
    GroupLabel:
      additionalProperties: false
      description: A group label.
      properties:
        text:
          description: The group label name.
          type: string
        title:
          description: The title of the group label.
          type: string
        type:
          description: The type of the group label.
          enum:
          - ADMIN
          - SINGLE
          - MULTIPLE
          type: string
      type: object
      xml:
        name: grouplabel
    GroupDetails:
      additionalProperties: false
      description: Details about a group.
      properties:
        groupId:
          description: The ID of the group, which uniquely identifies the group across all Atlassian products. For example, *952d12c3-5b5b-4d04-bb32-44d383afc4b2*.
          type:
          - string
          - 'null'
        name:
          description: The name of the group.
          type: string
      type: object
    PageBeanGroupDetails:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/GroupDetails'
          readOnly: true
          type: array
      type: object
    AvatarUrlsBean:
      additionalProperties: false
      properties:
        16x16:
          description: The URL of the item's 16x16 pixel avatar.
          format: uri
          type: string
        24x24:
          description: The URL of the item's 24x24 pixel avatar.
          format: uri
          type: string
        32x32:
          description: The URL of the item's 32x32 pixel avatar.
          format: uri
          type: string
        48x48:
          description: The URL of the item's 48x48 pixel avatar.
          format: uri
          type: string
      type: object
    FoundGroups:
      additionalProperties: false
      description: The list of groups found in a search, including header text (Showing X of Y matching groups) and total of matched groups.
      properties:
        groups:
          items:
            $ref: '#/components/schemas/FoundGroup'
          type: array
        header:
          description: Header text indicating the number of groups in the response and the total number of groups found in the search.
          type: string
        total:
          description: The total number of groups found in the search.
          format: int32
          type: integer
      type: object
      xml:
        name: groupsuggestions
    FoundGroup:
      additionalProperties: false
      description: A group found in a search.
      properties:
        groupId:
          description: The ID of the group, which uniquely identifies the group across all Atlassian products. For example, *952d12c3-5b5b-4d04-bb32-44d383afc4b2*.
          type: string
        html:
          description: The group name with the matched query string highlighted with the HTML bold tag.
          type: string
        labels:
          items:
            $ref: '#/components/schemas/GroupLabel'
          type: array
        name:
          description: The name of the group. The name of a group is mutable, to reliably identify a group use ``groupId`.`
          type: string
      type: object
      xml:
        name: group
  parameters:
    orgId:
      name: orgId
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
    OAuth2:
      description: OAuth2 scopes for Jira
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          scopes:
            delete:async-task:jira: Delete asynchronous task.
            delete:attachment:jira: Delete issue attachments.
            delete:avatar:jira: Delete system and custom avatars.
            delete:comment.property:jira: Delete issue comment properties.
            delete:comment:jira: Delete issue comments.
            delete:dashboard.property:jira: Delete dashboard properties.
            delete:dashboard:jira: Delete dashboards.
            delete:field-configuration-scheme:jira: Delete field configuration schemes.
            delete:field-configuration:jira: Delete field configurations.
            delete:field.option:jira: Delete field options.
            delete:field:jira: Delete fields.
            delete:filter.column:jira: Delete filter columns.
            delete:filter:jira: Delete filters.
            delete:group:jira: Delete user groups.
            delete:issue-link-type:jira: Delete issue link types.
            delete:issue-link:jira: Delete issue links.
            delete:issue-type-scheme:jira: Delete issue type schemes.
            delete:issue-type-screen-scheme:jira: Delete issue type screen schemes.
            delete:issue-type.property:jira: Delete issue type properties.
            delete:issue-type:jira: Delete issue types.
            delete:issue-worklog.property:jira: Delete issue worklog properties.
            delete:issue-worklog:jira: Delete issue worklogs.
            delete:issue.property:jira: Delete issue properties.
            delete:issue.remote-link:jira: Delete issue remote links.
            delete:issue:jira: Delete issues.
            delete:permission-scheme:jira: Delete permission schemes.
            delete:permission:jira: Delete permissions.
            delete:project-category:jira: Delete project categories.
            delete:project-role:jira: Delete project roles.
            delete:project-version:jira: Delete project versions.
            delete:project.avatar:jira: Delete project avatars.
            delete:project.component:jira: Delete project components.
            delete:project.property:jira: Delete project properties.
            delete:project:jira: Delete projects and their details, such as issue types, project lead, and avatars.
            delete:screen-scheme:jira: Delete screen schemes.
            delete:screen-tab:jira: Delete screen tabs.
            delete:screen:jira: Delete screens.
            delete:screenable-field:jira: Delete screenable fields.
            delete:user-configuration:jira: Delete user configurations.
            delete:user.property:jira: Delete user properties.
            delete:webhook:jira: Delete webhooks.
            delete:workflow-scheme:jira: Delete workflow schemes.
            delete:workflow.property:jira: Delete workflow properties.
            delete:workflow:jira: Delete workflows.
            manage:jira-configuration: Configure Jira settings that require the Jira administrators permission, for example, create projects and custom fields, view workflows, manage issue link types.
            manage:jira-project: Create and edit project settings and create new project-level objects, for example, versions, components.
            manage:jira-webhook: Manage Jira webhooks. Enables an OAuth app to register and unregister dynamic webhooks in Jira. It also provides for fetching of registered webhooks.
            read:application-role:jira: View application roles.
            read:attachment:jira: View issue attachments.
            read:audit-log:jira: View audit logs.
            read:avatar:jira: View system and custom avatars.
            read:comment.property:jira: View issue comment properties.
            read:comment:jira: View issue comments.
            read:custom-field-contextual-configuration:jira: Read custom field contextual configurations.
            read:dashboard.property:jira: View dashboard properties.
            read:dashboard:jira: View dashboards.
            read:field-configuration-scheme:jira: View field configuration schemes.
            read:field-configuration:jira: Read field configurations.
            read:field.default-value:jira: View field default values.
            read:field.option:jira: View field options.
            read:field.options:jira: Read field options.
            read:field:jira: View fields.
            read:filter.column:jira: View filter columns.
            read:filter.default-share-scope:jira: View filter default share scopes.
            read:filter:jira: View filters.
            read:group:jira: View user groups.
            read:instance-configuration:jira: View instance configurations.
            read:issue-details:jira: View issue details.
            read:issue-event:jira: Read issue events.
            read:issue-field-values:jira: View issue field valueses.
            read:issue-link-type:jira: View issue link types.
            read:issue-link:jira: View issue links.
            read:issue-meta:jira: View issue meta.
            read:issue-security-level:jira: View issue security levels.
            read:issue-security-scheme:jira: View issue security schemes.
            read:issue-status:jira: View issue statuses.
            read:issue-type-hierarchy:jira: Read issue type hierarchies.
            read:issue-type-scheme:jira: View issue type schemes.
            read:issue-type-screen-scheme:jira: View issue type screen schemes.
            read:issue-type.property:jira: View issue type properties.
            read:issue-type:jira: View issue types.
            read:issue-worklog.property:jira: View issue worklog properties.
            read:issue-worklog:jira: View issue worklogs.
            read:issue.changelog:jira: View issue changelogs.
            read:issue.property:jira: View issue properties.
            read:issue.remote-link:jira: View issue remote links.
            read:issue.time-tracking:jira: View issue time trackings.
            read:issue.transition:jira: View issue transitions.
            read:issue.vote:jira: View issue votes.
            read:issue.votes:jira: View issue voteses.
            read:issue.watcher:jira: View issue watchers.
            read:issue:jira: View issues.
            read:jira-expressions:jira: View jira expressions.
            read:jira-user: View user information in Jira that you have access to, including usernames, email addresses, and avatars.
            read:jira-work: Read project and issue data. Search for issues and objects associated with issues (such as attachments and worklogs).
            read:jql:jira: View JQL.
            read:label:jira: View labels.
            read:license:jira: View licenses.
            read:notification-scheme:jira: View notification schemes.
            read:permission-scheme:jira: View permission schemes.
            read:permission:jira: View permissions.
            read:priority:jira: View priorities.
            read:project-category:jira: View project categories.
            read:project-role:jira: View project roles.
            read:project-type:jira: View project types.
            read:project-version:jira: View project versions.
            read:project.avatar:jira: Read project avatars.
            read:project.component:jira: View project components.
            read:project.email:jira: View project emails.
            read:project.feature:jira: Read project features.
            read:project.property:jira: View project properties.
            read:project:jira: View projects.
            read:resolution:jira: View resolutions.
            read:role:jira: View roles.
            read:screen-field:jira: View screen fields.
            read:screen-scheme:jira: View screen schemes.
            read:screen-tab:jira: View screen tabs.
            read:screen:jira: View screens.
            read:screenable-field:jira: View screenable fields.
            read:status:jira: View statuses.
            read:user-configuration:jira: View user configurations.
            read:user.columns:jira: View user columnses.
            read:user.property:jira: View user properties.
            read:user:jira: View users.
            read:webhook:jira: View webhooks.
            read:workflow-scheme:jira: View workflow schemes.
            read:workflow.property:jira: View workflow properties.
            read:workflow:jira: View workflows.
            send:notification:jira: Send notifications.
            validate:jql:jira: Validate JQL.
            write:attachment:jira: Create and update issue attachments.
            write:avatar:jira: Create and update system and custom avatars.
            write:comment.property:jira: Create and update issue comment properties.
            write:comment:jira: Create and update issue comments.
            write:custom-field-contextual-configuration:jira: Save custom field contextual configurations.
            write:dashboard.property:jira: Create and update dashboard properties.
            write:dashboard:jira: Create and update dashboards.
            write:field-configuration-scheme:jira: Create and update field configuration schemes.
            write:field-configuration:jira: Save field configurations.
            write:field.default-value:jira: Create and update field default values.
            write:field.option:jira: Create and update field options.
            write:field:jira: Create and update fields.
            write:filter.column:jira: Create and update filter columns.
            write:filter.default-share-scope:jira: Create and update filter default share scopes.
            write:filter:jira: Create and update filters.
            write:group:jira: Create and update user groups.
            write:instance-configuration:jira: Create and update instance configurations.
            write:issue-link-type:jira: Create and update issue link types.
            write:issue-link:jira: Create and update issue links.
            write:issue-type-scheme:jira: Create and update issue type schemes.
            write:issue-type-screen-scheme:jira: Create and update issue type screen schemes.
            write:issue-type.property:jira: Create and update issue type properties.
            write:issue-type:jira: Create and update issue types.
            write:issue-worklog.property:jira: Create and update issue worklog properties.
            write:issue-worklog:jira: Create and update issue worklogs.
            write:issue.property:jira: Create and update issue properties.
            write:issue.remote-link:jira: Create and update issue remote links.
            write:issue.time-tracking:jira: Create and update issue time trackings.
            write:issue.vote:jira: Create and update issue votes.
            write:issue.watcher:jira: Create and update issue watchers.
            write:issue:jira: Create and update issues.
            write:jira-work: Create and edit issues in Jira, post comments, create worklogs, and delete issues.
            write:permission-scheme:jira: Create and update permission schemes.
            write:permission:jira: Create and update permissions.
            write:project-category:jira: Create and update project categories.
            write:project-role:jira: Create and update project roles.
            write:project-version:jira: Create and update project versions.
            write:project.avatar:jira: Create and update project avatars.
            write:project.component:jira: Create and update project components.
            write:project.email:jira: Create and update project emails.
            write:project.feature:jira: Save project features.
            write:project.property:jira: Create and update project properties.
            write:project:jira: Create and update projects.
            write:screen-scheme:jira: Create and update screen schemes.
            write:screen-tab:jira: Create and update screen tabs.
            write:screen:jira: Create and update screens.
            write:screenable-field:jira: Create and update screenable fields.
            write:user-configuration:jira: Create and update user configurations.
            write:user.property:jira: Create and update user properties.
            write:webhook:jira: Create and update webhooks.
            write:workflow-scheme:jira: Create and update workflow schemes.
            write:workflow.property:jira: Create and update workflow properties.
            write:workflow:jira: Create and update workflows.
          tokenUrl: https://auth.atlassian.com/oauth/token
      type: oauth2
    basicAuth:
      description: You can access this resource via basic auth.
      scheme: basic
      type: http
x-refined-from:
- atlassian-admin-api-openapi.yml
- jira-openapi-original.yml
