openapi: 3.1.0
info:
  title: Atlassian Admin Account Comments API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Comments
paths:
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments:
    parameters:
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Comments
      description: Returns a paginated list of the pull request's comments.<br><br>This includes both global, inline comments and replies.<br><br>The default sorting is oldest to newest and can be overridden with<br>the `sort` query parameter.<br><br>This endpoint also supports filtering and sorting of the results. See<br>[filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more<br>details.
      summary: Atlassian List Comments on Pull Request
      responses:
        '200':
          description: A paginated list of comments made on the given pull request, in chronological order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequest_comments'
              examples:
                paginated-pull-request-comments:
                  $ref: '#/components/examples/paginated-pull-request-comments'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: listCommentsOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      description: 'The Create Comment On Pull Request operation allows developers to add new comments to a specific pull request in a Bitbucket repository by sending a POST request to the endpoint /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments. This API call requires authentication and takes three path parameters: the workspace identifier, the repository slug, and the pull request ID. The request body must include the comment content, and optionally can specify properties like inline comment positioning (file path, line numbers) for code-specific feedback, parent comment ID for threaded replies, and anchor information. Upon successful execution, the API returns the newly created comment object with details including the comment ID, author information, creation timestamp, and the comment content. This operation is commonly used in code review workflows to facilitate collaboration and discussion among team members regarding code changes proposed in pull requests.'
      summary: Atlassian Create Comment on Pull Request
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The URL of the new comment
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the pull request does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest_comment'
            examples:
              create-comment-on-pull-request:
                $ref: '#/components/examples/create-comment-on-pull-request'
        description: The comment object.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: createCommentOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Comments
      description: This API operation allows you to permanently delete a specific comment from a pull request in a Bitbucket repository. By sending a DELETE request to the endpoint with the workspace identifier, repository slug, pull request ID, and comment ID, you can remove a previously posted comment from the pull request's discussion thread. This is useful for removing outdated, irrelevant, or erroneous comments, and typically requires appropriate permissions such as being the comment author or having administrative access to the repository. Once deleted, the comment cannot be recovered and will no longer be visible to other users reviewing the pull request.
      summary: Atlassian Delete Comment on Pull Request
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: If the authenticated user does not have access to delete the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: deleteCommentOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Comments
      description: This API endpoint retrieves a specific comment from a pull request in a Bitbucket repository. By providing the workspace identifier, repository slug, pull request ID, and comment ID in the URL path, you can fetch detailed information about an individual comment, including its content, author, creation timestamp, and any associated metadata. This is useful when you need to access or display a particular comment without retrieving all comments on the pull request, making it more efficient for targeted comment operations such as displaying comment details, implementing deep linking to specific comments, or performing comment-specific actions in your application.
      summary: Atlassian Get Comment on Pull Request
      responses:
        '200':
          description: The comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '403':
          description: If the authenticated user does not have access to the pull request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: getCommentOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Comments
      description: The Update Comment On Pull Request operation in the Atlassian Bitbucket Pull Requests API allows you to modify an existing comment on a specific pull request by sending a PUT request to the endpoint /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}. This endpoint requires you to specify the workspace name, repository slug, pull request ID, and the unique comment ID you wish to update. The request typically includes the new comment content in the request body, which replaces the existing comment text while preserving the comment's metadata such as creation date and author information. This operation is commonly used when users need to correct typos, add additional information, or clarify previous feedback provided during code review processes. Authentication is required, and users must have appropriate permissions to modify comments, typically being either the comment author or having administrative access to the repository.
      summary: Atlassian Update Comment on Pull Request
      responses:
        '200':
          description: The updated comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pullrequest_comment'
              examples:
                undefined:
                  $ref: '#/components/examples/undefined'
        '403':
          description: If the authenticated user does not have access to the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pullrequest_comment'
            examples:
              update-comment-on-pull-request:
                $ref: '#/components/examples/update-comment-on-pull-request'
        description: The contents of the updated comment.
        required: true
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: updateCommentOnPullRequest
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}/resolve:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: pull_request_id
      in: path
      description: The id of the pull request.
      required: true
      schema:
        type: integer
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Comments
      description: This API operation is used to reopen a previously resolved comment thread on a specific pull request in a Bitbucket repository. By sending a DELETE request to the endpoint with the workspace identifier, repository slug, pull request ID, and comment ID, users can mark a resolved comment thread as unresolved again, allowing for continued discussion or indicating that the issue addressed by the comment needs further attention. This is particularly useful when a comment was prematurely marked as resolved or when new information surfaces that requires revisiting a previously closed discussion thread within the pull request review process.
      summary: Atlassian Reopen Comment Thread
      responses:
        '204':
          description: The comment is reopened.
        '403':
          description: 'If the authenticated user does not have access to the pull request,

            or if the provided comment is not a top-level comment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist, or if the comment has not been resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: reopenCommentThread
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      description: This API endpoint allows users to resolve a comment thread on a specific pull request in a Bitbucket repository. By making a POST request to this endpoint with the appropriate workspace, repository slug, pull request ID, and comment ID parameters, users can mark a comment thread as resolved, indicating that the discussion or issue raised in that comment has been addressed. This is particularly useful for managing code review feedback and tracking which comments have been acted upon during the pull request review process. Resolving comments helps keep pull request discussions organized and provides clear visibility into which feedback items are still pending versus completed.
      summary: Atlassian Resolve Comment Thread
      responses:
        '200':
          description: The comment resolution details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_resolution'
              examples:
                comment-resolution:
                  $ref: '#/components/examples/comment-resolution'
        '403':
          description: 'If the authenticated user does not have access to the pull request,

            if the provided comment is not a top-level comment,

            or if the comment is not on the diff.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: If the comment has already been resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
      operationId: resolveCommentThread
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments:
    parameters:
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Comments
      description: This API operation retrieves all comments associated with a specific commit in a Bitbucket repository. By providing the workspace identifier, repository slug, and commit hash in the endpoint path, users can fetch a paginated list of comments that have been made on that particular commit. The response includes comment details such as the comment text, author information, creation timestamp, and any associated metadata. This is useful for reviewing feedback, discussions, or code review notes that team members have left on specific commits, enabling better collaboration and tracking of conversations around code changes within the repository's version history.
      summary: Atlassian List Commits Comments
      responses:
        '200':
          description: A paginated list of commit comments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_commit_comments'
              examples:
                paginated-commit-comments_2:
                  $ref: '#/components/examples/paginated-commit-comments_2'
      parameters:
      - name: q
        in: query
        description: 'Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Field by which the results should be sorted as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: listCommitsComments
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      description: This API operation allows you to create a new comment on a specific commit within a Bitbucket repository. By sending a POST request to the endpoint with the workspace ID, repository slug, and commit hash, along with the comment content in the request body, you can add feedback, notes, or discussion points directly associated with that particular commit. This is useful for code review processes, documenting changes, or collaborating with team members on specific code modifications. The operation requires appropriate authentication and permissions to comment on commits within the specified repository.
      summary: Atlassian Create Comment for Commit
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly created comment.
              schema:
                type: string
        '400':
          description: If the comment was detected as spam, or if the parent comment is not attached to the same node as the new comment
        '404':
          description: If a parent ID was passed in that cannot be found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
            examples:
              commit-comment:
                $ref: '#/components/examples/commit-comment'
        description: The specified comment.
        required: true
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: createCommentForCommit
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: commit
      in: path
      description: The Commits SHA1.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Comments
      description: This API operation allows you to delete a specific comment from a commit in a Bitbucket repository. By making a DELETE request to the endpoint with the appropriate workspace identifier, repository slug, commit hash, and comment ID, you can permanently remove a comment that was previously added to a commit. This is useful for managing discussions around code changes, removing outdated feedback, or cleaning up inappropriate comments. The operation requires proper authentication and authorization, ensuring that only users with sufficient permissions can delete comments from commits in the specified repository.
      summary: Atlassian Delete Commit Comment
      responses:
        '204':
          description: Indicates the comment was deleted by this action or a previous delete.
        '404':
          description: If the comment doesn't exist
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: deleteCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Comments
      description: This API endpoint retrieves a specific comment on a commit within a Bitbucket repository. By providing the workspace identifier, repository slug, commit hash, and comment ID in the request path, users can fetch detailed information about a particular comment that was made on a commit, including the comment content, author information, timestamps, and any associated metadata. This is useful for applications that need to display, process, or analyze individual commit comments, such as code review tools, notification systems, or audit logs that track discussion and feedback on specific code changes.
      summary: Atlassian Get Commit Comment
      responses:
        '200':
          description: The commit comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit_comment'
              examples:
                commit-comment_2:
                  $ref: '#/components/examples/commit-comment_2'
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: getCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Comments
      description: Updates an existing comment on a commit in a Bitbucket repository. This operation allows users to modify the content of a previously posted comment associated with a specific commit. The endpoint requires the workspace identifier, repository slug, commit hash, and the unique comment ID to locate and update the target comment. Users must have appropriate permissions to edit the comment, typically being the original author or having administrative privileges on the repository. The request body should contain the updated comment content, and the operation returns the modified comment object with its new content and updated metadata including the modification timestamp.
      summary: Atlassian Update Commit Comment
      responses:
        '201':
          description: The newly updated comment.
          headers:
            Location:
              description: The location of the newly updated comment.
              schema:
                type: string
        '400':
          description: If the comment update was detected as spam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
            examples:
              commit-comment:
                $ref: '#/components/examples/commit-comment'
        description: The updated comment.
        required: true
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      operationId: updateCommitComment
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/comments:
    parameters:
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Comments
      description: This GET operation retrieves all comments associated with a specific issue in a Bitbucket repository. By providing the workspace identifier, repository slug, and issue ID as path parameters, the endpoint returns a paginated list of comments that have been posted on that particular issue. The response includes comment metadata such as the comment content, author information, creation and update timestamps, and any related links. This is useful for developers and project managers who need to review discussions, feedback, or troubleshooting information related to a specific issue within their repository's issue tracking system.
      summary: Atlassian List Comments on an Issue
      responses:
        '200':
          description: A paginated list of issue comments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_issue_comments'
              examples:
                paginated-issue-comments:
                  $ref: '#/components/examples/paginated-issue-comments'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: listCommentsOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      description: Creates a new comment on the specified issue in a Bitbucket repository. This POST endpoint requires authentication and targets a specific issue within a repository by providing the workspace identifier, repository slug, and issue ID in the URL path. The request body should contain the comment content and any additional metadata according to Bitbucket's comment schema. Upon successful execution, the API returns the newly created comment object including its unique identifier, author information, timestamp, and content. This operation is commonly used for adding feedback, updates, or discussions to existing issues in a repository's issue tracker, enabling team collaboration and communication around specific problems or feature requests.
      summary: Atlassian Create Comment on an Issue
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly issue comment.
              schema:
                type: string
        '400':
          description: 'If the input was invalid, or if the comment being created is detected as spam '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue_comment'
            examples:
              issue-comment:
                $ref: '#/components/examples/issue-comment'
        description: The new issue comment object.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: createCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: issue_id
      in: path
      description: The issue id
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Comments
      description: This API operation allows you to delete a specific comment from an issue in a Bitbucket repository. By sending a DELETE request to the endpoint with the workspace ID, repository slug, issue ID, and comment ID, you can permanently remove a comment that was previously added to an issue. This is useful for removing outdated, incorrect, or inappropriate comments from issue discussions. The authenticated user must have appropriate permissions to delete the comment, typically requiring either ownership of the comment or administrative access to the repository. Once deleted, the comment cannot be recovered and will be removed from the issue's comment thread.
      summary: Atlassian Delete Comment on an Issue
      responses:
        '204':
          description: Indicates successful deletion.
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: deleteCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Comments
      description: This API operation retrieves a specific comment from an issue within a Bitbucket repository by providing the workspace identifier, repository slug, issue ID, and comment ID in the endpoint path. It returns detailed information about the comment including its content, author, creation date, modification history, and any associated metadata. This GET request is useful for accessing individual comment details without fetching all comments on an issue, enabling efficient retrieval of specific discussion threads or responses within the repository's issue tracking system.
      summary: Atlassian Get Comment on an Issue
      responses:
        '200':
          description: The issue comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_comment'
              examples:
                issue-comment_2:
                  $ref: '#/components/examples/issue-comment_2'
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      operationId: getCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Comments
      description: This PUT operation updates an existing comment on a specific issue within a Bitbucket repository. By providing the workspace identifier, repository slug, issue ID, and comment ID in the URL path, users can modify the content of a previously posted comment. The request requires authentication and appropriate permissions to edit the comment, typically limited to the comment's original author or users with administrative privileges. The operation accepts updated comment data in the request body and returns the modified comment object with updated metadata such as timestamps. This endpoint is commonly used to correct typos, add additional information, or revise feedback on repository issues while maintaining the comment's history and context within the issue discussion thread.
      summary: Atlassian Update Comment on an Issue
      responses:
        '200':
          description: The updated issue comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_comment'
              examples:
                issue-comment_2:
                  $ref: '#/components/examples/issue-comment_2'
        '400':
          description: 'If the input was invalid, or if the update to the comment is detected as spam '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue_comment'
            examples:
              issue-comment_2:
                $ref: '#/components/examples/issue-comment_2'
        description: The updated comment.
        required: true
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      operationId: updateCommentOnAnIssue
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/comments:
    parameters:
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Comments
      description: The Get Comments endpoint retrieves all comments associated with a specific snippet in Bitbucket by providing the workspace identifier and the encoded snippet ID in the URL path. This operation returns a paginated list of comments that users have added to the snippet, allowing developers to display discussion threads, feedback, or collaborative notes related to the code snippet. The response includes comment metadata such as the author, timestamp, and comment content, enabling applications to build interactive commenting features or analyze snippet discussions within a workspace.
      summary: Atlassian List Comments on Snippet
      responses:
        '200':
          description: A paginated list of snippet comments, ordered by creation date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_snippet_comments'
              examples:
                paginated-snippet-comments:
                  $ref: '#/components/examples/paginated-snippet-comments'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: listCommentsOnSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      description: 'The Atlassian Bitbucket Snippets API POST operation to /snippets/{workspace}/{encoded_id}/comments allows authenticated users to create a new comment on a specific code snippet within a designated workspace. This endpoint requires two path parameters: the workspace identifier and the encoded snippet ID, enabling precise targeting of the snippet to be commented on. When invoked, it accepts comment content in the request body and creates a new comment thread or adds to an existing discussion on the specified snippet. This functionality facilitates code review, collaboration, and feedback mechanisms within Bitbucket''s snippet sharing feature, allowing team members to provide inline commentary, suggestions, or questions about shared code fragments. The operation returns the newly created comment object upon successful execution, including metadata such as comment ID, author information, timestamp, and the comment content itself.'
      summary: Atlassian Create Comment on Snippet
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The URL of the new comment
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_comment'
              examples:
                snippet-comment_2:
                  $ref: '#/components/examples/snippet-comment_2'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_comment'
            examples:
              snippet-comment:
                $ref: '#/components/examples/snippet-comment'
        description: The contents of the new comment.
        required: true
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationRequestSchema: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: createCommentOnSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /snippets/{workspace}/{encoded_id}/comments/{comment_id}:
    parameters:
    - name: comment_id
      in: path
      description: The id of the comment.
      required: true
      schema:
        type: integer
    - name: encoded_id
      in: path
      description: The snippet id.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Comments
      description: 'This API operation allows you to delete a specific comment from a snippet in a Bitbucket workspace. The endpoint requires three path parameters: the workspace identifier where the snippet resides, the encoded ID of the snippet itself, and the unique comment ID that you want to remove. When invoked with a DELETE HTTP method, it permanently removes the specified comment from the snippet, requiring appropriate authentication and permissions to execute successfully. This is useful for moderating discussions, removing outdated information, or cleaning up unwanted comments on code snippets shared within your Bitbucket workspace.'
      summary: Atlassian Delete Comment on Snippet
      responses:
        '204':
          description: Indicates the comment was deleted successfully.
        '403':
          description: If the authenticated user is not the author of the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment or the snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      operationId: deleteCommentOnSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Comments
      description: This API operation retrieves a specific comment from a snippet in Atlassian Bitbucket by providing the workspace identifier, the encoded snippet ID, and the comment ID as path parameters. It performs a GET request to access the detailed information about an individual comment that was previously posted on a snippet, allowing users to view the comment's content, author details, timestamps, and other metadata associated with that particular comment within the specified workspace and snippet context.
      summary: Atlassian Get Comment on Snippet
      responses:
        '200':
          description: The specified comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_comment'
              examples:
                snippet-comment_2:
                  $ref: '#/components/examples/snippet-comment_2'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment or snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: getCommentOnSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Comments
      description: This API operation allows you to update an existing comment on a specific snippet within a Bitbucket workspace. By sending a PUT request to the endpoint with the workspace identifier, encoded snippet ID, and comment ID, you can modify the content of a previously posted comment. This is useful for correcting mistakes, adding additional information, or clarifying previous feedback on code snippets. The operation requires appropriate authentication and permissions to modify comments, typically limited to the original comment author or workspace administrators.
      summary: Atlassian Update Comment on Snippet
      responses:
        '200':
          description: The updated comment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_comment'
              examples:
                snippet-comment_2:
                  $ref: '#/components/examples/snippet-comment_2'
        '403':
          description: If the authenticated user does not have access to the snippet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the comment or snippet does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_comment'
            examples:
              snippet-comment_2:
                $ref: '#/components/examples/snippet-comment_2'
        description: The contents to update the comment to.
        required: true
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
        GenerateExampleFromOperationRequestSchema: true
      operationId: updateCommentOnSnippet
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /wiki/rest/api/content/{id}/child/comment:
    get:
      tags:
      - Comments
      summary: Atlassian Get Content Comments
      deprecated: true
      description: This API operation retrieves all comments that are children of a specific piece of content in Atlassian Confluence. By making a GET request to the endpoint with a content ID, you can fetch a paginated list of comments associated with that content, which may include inline comments, page comments, or footer comments. The response typically includes comment metadata such as the comment body, author information, creation date, modification history, and version details. This endpoint is useful for applications that need to display, analyze, or process user feedback and discussions related to Confluence pages, blog posts, or other content types. Optional query parameters can be used to expand specific fields, limit the number of results, or control pagination through the comment collection.
      operationId: getContentComments
      parameters:
      - name: id
        in: path
        description: The ID of the content to be queried for its comments.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/contentExpand'
      - name: parentVersion
        in: query
        description: 'The version of the parent content to retrieve children for.

          Currently, this only works for the latest version.'
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: start
        in: query
        description: The starting index of the returned comments.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: 'The maximum number of comments to return per page. Note,

          this may be restricted by fixed system limits.'
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 25
      - name: location
        in: query
        description: 'The location of the comments in the page. Multiple locations can be specified.

          If no location is specified, comments from all locations are returned.'
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - inline
          - footer
          - resolved
      - name: depth
        in: query
        description: 'Currently, this parameter is not used.

          Comments are returned at the root level only.'
        schema:
          type: string
      responses:
        '200':
          description: Returned if the requested comments are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArray'
        '404':
          description: 'Returned if;


            - There is no parent content with the given ID.

            - The calling user does not have permission to view the parent content.'
          content: {}
      security:
      - basicAuth: []
      - oAuthDefinitions:
        - read:confluence-content.summary
      x-atlassian-oauth2-scopes:
      - scheme: oAuthDefinitions
        state: Current
        scopes:
        - read:confluence-content.summary
      - scheme: oAuthDefinitions
        state: Beta
        scopes:
        - read:content-details:confluence
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: false
      x-atlassian-connect-scope: READ
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    update-comment-on-pull-request:
      type: pullrequest_comment
      id: 12345
      created_on: '2023-11-15T10:30:00.000Z'
      updated_on: '2023-11-15T14:45:00.000Z'
      content:
        raw: This looks good, but please consider refactoring this section.
        markup: markdown
        html: <p>This looks good, but please consider refactoring this section.</p>
      user:
        type: user
        display_name: John Doe
        uuid: '{a1b2c3d4-e5f6-7890-abcd-ef1234567890}'
        username: johndoe
      deleted: false
      inline:
        to: 45
        from: 42
        path: src/main.js
      pullrequest:
        type: pullrequest
        id: 789
        title: Add new feature
        links:
          self:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/789
      resolution:
        state: resolved
        user:
          type: user
          display_name: Jane Smith
          uuid: '{b2c3d4e5-f6g7-8901-bcde-f12345678901}'
          username: janesmith
        created_on: '2023-11-15T15:00:00.000Z'
      pending: false
    undefined:
      id: 12345
      created_on: '2023-10-15T14:30:00.000000+00:00'
      updated_on: '2023-10-15T15:45:00.000000+00:00'
      content:
        raw: This looks good to me!
        markup: markdown
        html: <p>This looks good to me!</p>
      user:
        display_name: John Doe
        uuid: '{a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6}'
        username: johndoe
        type: user
      deleted: false
      parent:
        id: 12340
      inline:
        to: 15
        from: 10
        path: src/main.py
      type: pullrequest_comment
      pullrequest:
        id: 789
        title: Add new feature
        type: pullrequest
      resolution:
        status: resolved
        timestamp: '2023-10-15T16:00:00.000000+00:00'
      pending: false
    commit-comment_2:
      commit:
        sha: 6dcb09b5b57875f334f61aebed695e2e4193db5e
        url: https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e
        message: Fix all the bugs
        author:
          name: Monalisa Octocat
          email: octocat@github.com
          date: '2011-04-14T16:00:49Z'
        committer:
          name: Monalisa Octocat
          email: octocat@github.com
          date: '2011-04-14T16:00:49Z'
    issue-comment:
      issue:
        id: 1
        title: Example issue
        status: open
      comment: This is an example comment on the issue
      author: user123
      timestamp: '2024-01-15T10:30:00Z'
    issue-comment_2:
      issue:
        id: 1
        title: Bug in login functionality
        description: Users cannot log in with valid credentials
        status: open
        created_at: '2024-01-15T10:30:00Z'
      id: 101
      author: john.doe
      comment: I can confirm this issue. It happens on Chrome browser.
      created_at: '2024-01-15T14:45:00Z'
    paginated-pull-request-comments:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.bitbucket.org/2.0/repositories/example/repo/pullrequests/1/comments?page=2
      previous: https://api.bitbucket.org/2.0/repositories/example/repo/pullrequests/1/comments?page=0
      values: []
    paginated-issue-comments:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.example.com/issues/comments?page=2
      previous: https://api.example.com/issues/comments?page=0
      values:
        issue: {}
    create-comment-on-pull-request:
      id: 12345
      created_on: '2023-10-15T14:30:00.000Z'
      updated_on: '2023-10-15T15:45:00.000Z'
      content:
        raw: This looks good, but could you add some tests?
        markup: markdown
        html: <p>This looks good, but could you add some tests?</p>
      user:
        display_name: John Doe
        uuid: '{user-uuid}'
        username: johndoe
      deleted: false
      inline:
        to: 42
        from: 38
        path: src/main.js
      pullrequest:
        id: 789
        title: Add new feature
        type: pullrequest
        links:
          self:
            href: https://api.bitbucket.org/2.0/repositories/myworkspace/myrepo/pullrequests/789
      resolution:
        type: resolved
        created_on: '2023-10-15T16:00:00.000Z'
        user:
          display_name: Jane Smith
          uuid: '{user-uuid-2}'
          username: janesmith
      pending: false
    snippet-comment:
      links:
        self:
          href: https://api.example.com/snippets/123/comments/456
          name: self
        html:
          href: https://example.com/snippets/123/comments/456
          name: html
      snippet: {}
    snippet-comment_2:
      links:
        self:
          href: https://api.bitbucket.org/2.0/snippets/example/comments/1
          name: Self Link
        html:
          href: https://bitbucket.org/snippets/example/comments/1
          name: HTML Link
      snippet: {}
    paginated-snippet-comments:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.bitbucket.org/2.0/snippets/comments?page=2
      previous: https://api.bitbucket.org/2.0/snippets/comments?page=0
      values:
        links:
          self:
            href: https://api.bitbucket.org/2.0/snippets/workspace/snippet-id/comments/1
            name: Self Link
          html:
            href: https://bitbucket.org/workspace/snippet-id#comment-1
            name: HTML Link
        snippet: {}
    commit-comment:
      commit:
        sha: 6dcb09b5b57875f334f61aebed695e2e4193db5e
        url: https://api.github.com/repos/octocat/Hello-World/commits/6dcb09b5b57875f334f61aebed695e2e4193db5e
        author:
          name: Monalisa Octocat
          email: octocat@github.com
          date: '2011-04-14T16:00:49Z'
        committer:
          name: Monalisa Octocat
          email: octocat@github.com
          date: '2011-04-14T16:00:49Z'
        message: Fix all the bugs
    comment-resolution:
      type: resolved
      user:
        username: john_doe
        display_name: John Doe
        uuid: '{a1b2c3d4-e5f6-7890-abcd-ef1234567890}'
        account_id: 123456:a1b2c3d4-e5f6-7890-abcd-ef1234567890
      created_on: '2024-01-15T10:30:00.000Z'
    paginated-commit-comments_2:
      size: 42
      page: 1
      pagelen: 10
      next: https://api.example.com/repositories/commits/comments?page=2
      previous: https://api.example.com/repositories/commits/comments?page=0
      values:
        commit: {}
  schemas:
    UsersUserKeys:
      required:
      - userAccountIds
      nullable: true
      type: object
      additionalProperties: true
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
          example: []
        userKeys:
          type: array
          items:
            type: string
          example: []
        _links:
          $ref: '#/components/schemas/GenericLinks'
    TopNavigationLookAndFeel:
      required:
      - highlightColor
      type: object
      properties:
        color:
          type: string
          nullable: true
          example: example_value
        highlightColor:
          type: string
          example: example_value
        hoverOrFocus:
          type: object
          properties:
            backgroundColor:
              type: string
            color:
              type: string
          example: example_value
    HeaderLookAndFeel:
      required:
      - backgroundColor
      - button
      - primaryNavigation
      - search
      - secondaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
          example: example_value
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    SuperBatchWebResources:
      type: object
      properties:
        uris:
          type: object
          properties:
            all:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            css:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
            js:
              oneOf:
              - type: array
                items:
                  type: string
              - type: string
          example: example_value
        tags:
          type: object
          properties:
            all:
              type: string
            css:
              type: string
            data:
              type: string
            js:
              type: string
          example: example_value
        metatags:
          type: string
          example: example_value
        _expandable:
          type: object
          additionalProperties: true
          example: example_value
    comment_resolution:
      type: object
      title: Comment Resolution
      description: The resolution object for a Comment.
      properties:
        type:
          type: string
          example: example_value
        user:
          $ref: '#/components/schemas/account'
        created_on:
          type: string
          description: The ISO8601 timestamp the resolution was created.
          format: date-time
          example: '2026-01-15T10:30:00Z'
      required:
      - type
      additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    SpaceDescription:
      required:
      - embeddedContent
      - representation
      - value
      type: object
      additionalProperties: true
      properties:
        value:
          type: string
          example: example_value
        representation:
          type: string
          enum:
          - plain
          - view
          example: plain
        embeddedContent:
          type: array
          items:
            type: object
            properties: {}
          example: []
    GenericUserKey:
      type: string
      nullable: true
      description: 'This property is no longer available and will be removed from the documentation soon.

        Use `accountId` instead.

        See the [deprecation notice](/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/) for details.'
    ContentMetadata:
      type: object
      additionalProperties: true
      properties:
        currentuser:
          type: object
          properties:
            favourited:
              type: object
              properties:
                isFavourite:
                  type: boolean
                favouritedDate:
                  type: string
                  format: date-time
            lastmodified:
              type: object
              properties:
                version:
                  $ref: '#/components/schemas/Version'
                friendlyLastModified:
                  type: string
            lastcontributed:
              type: object
              properties:
                status:
                  type: string
                when:
                  type: string
                  format: date-time
            viewed:
              type: object
              properties:
                lastSeen:
                  type: string
                  format: date-time
                friendlyLastSeen:
                  type: string
            scheduled:
              type: object
            _expandable:
              type: object
              properties:
                favourited:
                  type: string
                lastmodified:
                  type: string
                lastcontributed:
                  type: string
                viewed:
                  type: string
                scheduled:
                  type: string
          example: example_value
        properties:
          $ref: '#/components/schemas/GenericLinks'
        frontend:
          type: object
          additionalProperties: true
          example: example_value
        labels:
          oneOf:
          - $ref: '#/components/schemas/LabelArray'
          - type: array
            items:
              $ref: '#/components/schemas/Label'
          example: example_value
      description: Metadata object for page, blogpost, comment content
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
          example: https://www.example.com
        name:
          type: string
          example: Example Title
      additionalProperties: false
    SpacePermission:
      required:
      - anonymousAccess
      - operation
      - unlicensedAccess
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: abc123
        subjects:
          type: object
          properties:
            user:
              required:
              - results
              - size
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
                size:
                  type: integer
                  format: int32
                start:
                  type: integer
                  format: int32
                limit:
                  type: integer
                  format: int32
            group:
              required:
              - results
              - size
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/Group'
                size:
                  type: integer
                  format: int32
                start:
                  type: integer
                  format: int32
                limit:
                  type: integer
                  format: int32
            _expandable:
              type: object
              properties:
                user:
                  type: string
                group:
                  type: string
          description: The users and/or groups that the permission applies to.
          example: example_value
        operation:
          $ref: '#/components/schemas/OperationCheckResult'
        anonymousAccess:
          type: boolean
          description: Grant anonymous users permission to use the operation.
          default: false
          example: true
        unlicensedAccess:
          type: boolean
          description: 'Grants access to unlicensed users from JIRA Service Desk when used

            with the ''read space'' operation.'
          default: false
          example: true
      description: "This object represents a permission for given space. Permissions consist of\nat least one operation object with an accompanying subjects object.\n\nThe following combinations of `operation` and `targetType` values are\nvalid for the `operation` object:\n\n  - 'create': 'page', 'blogpost', 'comment', 'attachment'\n  - 'read': 'space'\n  - 'delete': 'page', 'blogpost', 'comment', 'attachment'\n  - 'export': 'space'\n  - 'administer': 'space'"
    ContentArray:
      required:
      - _links
      - results
      - size
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Content'
          example: []
        start:
          type: integer
          format: int32
          example: 10
        limit:
          type: integer
          format: int32
          example: 10
        size:
          type: integer
          format: int32
          example: 10
        _links:
          $ref: '#/components/schemas/GenericLinks'
    ContentRestriction:
      required:
      - _expandable
      - _links
      - operation
      type: object
      properties:
        operation:
          type: string
          enum:
          - administer
          - copy
          - create
          - delete
          - export
          - move
          - purge
          - purge_version
          - read
          - restore
          - update
          - use
          example: administer
        restrictions:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/UserArray'
            group:
              $ref: '#/components/schemas/GroupArray'
            _expandable:
              type: object
              properties:
                user:
                  type: string
                group:
                  type: string
          example: example_value
        content:
          $ref: '#/components/schemas/Content'
        _expandable:
          type: object
          properties:
            restrictions:
              type: string
            content:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    issue_comment:
      allOf:
      - $ref: '#/components/schemas/comment'
      - type: object
        title: Issue Comment
        description: A issue comment.
        properties:
          issue:
            $ref: '#/components/schemas/issue'
        additionalProperties: true
    snippet_comment:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Snippet Comment
        description: A comment on a snippet.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          snippet:
            $ref: '#/components/schemas/snippet'
        additionalProperties: true
    Embeddable:
      type: object
      additionalProperties: true
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    ContainerLookAndFeel:
      required:
      - background
      - backgroundColor
      - backgroundImage
      - backgroundSize
      - borderRadius
      - padding
      type: object
      nullable: true
      properties:
        background:
          type: string
          example: example_value
        backgroundAttachment:
          type: string
          nullable: true
          example: example_value
        backgroundBlendMode:
          type: string
          nullable: true
          example: example_value
        backgroundClip:
          type: string
          nullable: true
          example: example_value
        backgroundColor:
          type: string
          nullable: true
          example: example_value
        backgroundImage:
          type: string
          nullable: true
          example: example_value
        backgroundOrigin:
          type: string
          nullable: true
          example: example_value
        backgroundPosition:
          type: string
          nullable: true
          example: example_value
        backgroundRepeat:
          type: string
          nullable: true
          example: example_value
        backgroundSize:
          type: string
          nullable: true
          example: example_value
        padding:
          type: string
          example: example_value
        borderRadius:
          type: string
          example: example_value
    MenusLookAndFeel:
      required:
      - color
      - hoverOrFocus
      type: object
      properties:
        hoverOrFocus:
          required:
          - backgroundColor
          type: object
          properties:
            backgroundColor:
              type: string
          example: example_value
        color:
          type: string
          example: example_value
    pullrequest_endpoint:
      type: object
      title: Pull Request Endpoint
      properties:
        repository:
          $ref: '#/components/schemas/repository'
        branch:
          type: object
          title: Pull Request Branch
          properties:
            name:
              type: string
            merge_strategies:
              type: array
              description: Available merge strategies, when this endpoint is the destination of the pull request.
              items:
                type: string
                enum:
                - merge_commit
                - squash
                - fast_forward
            default_merge_strategy:
              type: string
              description: The default merge strategy, when this endpoint is the destination of the pull request.
          additionalProperties: false
          example: example_value
        commit:
          type: object
          title: Pull Request Commit
          properties:
            hash:
              type: string
              pattern: '[0-9a-f]{7,}?'
          additionalProperties: false
          example: example_value
      additionalProperties: false
    Icon:
      required:
      - height
      - isDefault
      - path
      - width
      type: object
      nullable: true
      properties:
        path:
          type: string
          example: example_value
        width:
          type: integer
          format: int32
          example: 10
        height:
          type: integer
          format: int32
          example: 10
        isDefault:
          type: boolean
          example: true
      description: This object represents an icon. If used as a profilePicture, this may be returned as null, depending on the user's privacy setting.
    GenericAccountId:
      type: string
      nullable: true
      description: 'The account ID of the user, which uniquely identifies the user across all Atlassian products.

        For example, `384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192`.'
    comment:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Comment
        description: The base type for all comments. This type should be considered abstract. Each of the "commentable" resources defines its own subtypes (e.g. `issue_comment`).
        properties:
          id:
            type: integer
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          content:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          user:
            $ref: '#/components/schemas/account'
          deleted:
            type: boolean
          parent:
            $ref: '#/components/schemas/comment'
          inline:
            type: object
            properties:
              from:
                type: integer
                description: The comment's anchor line in the old version of the file.
                minimum: 1
              to:
                type: integer
                description: The comment's anchor line in the new version of the file. If the 'from' line is also provided, this value will be removed.
                minimum: 1
              path:
                type: string
                description: The path of the file this comment is anchored to.
            required:
            - path
            additionalProperties: false
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              code:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
        additionalProperties: true
    repository:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Repository
        description: A Bitbucket repository.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              pullrequests:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              forks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watchers:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              downloads:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              clone:
                type: array
                items:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              hooks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The repository's immutable id. This can be used as a substitute for the slug segment in URLs. Doing this guarantees your URLs will survive renaming of the repository by its owner, or even transfer of the repository to a different user.
          full_name:
            type: string
            description: The concatenation of the repository owner's username and the slugified name, e.g. "evzijst/interruptingcow". This is the same string used in Bitbucket URLs.
          is_private:
            type: boolean
          parent:
            $ref: '#/components/schemas/repository'
          scm:
            type: string
            enum:
            - git
          owner:
            $ref: '#/components/schemas/account'
          name:
            type: string
          description:
            type: string
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          size:
            type: integer
          language:
            type: string
          has_issues:
            type: boolean
            description: '

              The issue tracker for this repository is enabled. Issue Tracker

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          has_wiki:
            type: boolean
            description: '

              The wiki for this repository is enabled. Wiki

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          fork_policy:
            type: string
            description: "\nControls the rules for forking this repository.\n\n* **allow_forks**: unrestricted forking\n* **no_public_forks**: restrict forking to private forks (forks cannot\n  be made public later)\n* **no_forks**: deny all forking\n"
            enum:
            - allow_forks
            - no_public_forks
            - no_forks
          project:
            $ref: '#/components/schemas/project'
          mainbranch:
            $ref: '#/components/schemas/branch'
        additionalProperties: true
    commit_comment:
      allOf:
      - $ref: '#/components/schemas/comment'
      - type: object
        title: Commit Comment
        description: A commit comment.
        properties:
          commit:
            $ref: '#/components/schemas/commit'
        additionalProperties: true
    ContentBody:
      required:
      - representation
      - value
      type: object
      properties:
        value:
          type: string
          example: example_value
        representation:
          type: string
          enum:
          - view
          - export_view
          - styled_view
          - storage
          - editor
          - editor2
          - anonymous_export_view
          - wiki
          - atlas_doc_format
          - raw
          example: view
        embeddedContent:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedContent'
          example: []
        webresource:
          $ref: '#/components/schemas/WebResourceDependencies'
        mediaToken:
          type: object
          properties:
            collectionIds:
              type: array
              items:
                type: string
            contentId:
              type: string
            expiryDateTime:
              type: string
            fileIds:
              type: array
              items:
                type: string
            token:
              type: string
          example: example_value
        _expandable:
          type: object
          properties:
            content:
              type: string
            embeddedContent:
              type: string
            webresource:
              type: string
            mediaToken:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    Version:
      required:
      - minorEdit
      - number
      - when
      type: object
      nullable: true
      additionalProperties: true
      properties:
        by:
          $ref: '#/components/schemas/User'
        when:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        friendlyWhen:
          type: string
          nullable: true
          example: example_value
        message:
          type: string
          nullable: true
          example: example_value
        number:
          type: integer
          format: int32
          description: Set this to the current version number incremented by one
          example: 10
        minorEdit:
          description: 'If `minorEdit` is set to ''true'', no notification email or activity

            stream will be generated for the change.'
          type: boolean
          example: true
        content:
          $ref: '#/components/schemas/Content'
        collaborators:
          $ref: '#/components/schemas/UsersUserKeys'
        _expandable:
          type: object
          properties:
            content:
              type: string
            collaborators:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
        contentTypeModified:
          type: boolean
          description: True if content type is modifed in this version (e.g. page to blog)
          example: true
        confRev:
          type: string
          nullable: true
          description: The revision id provided by confluence to be used as a revision in Synchrony
          example: example_value
        syncRev:
          type: string
          nullable: true
          description: The revision id provided by Synchrony
          example: example_value
        syncRevSource:
          type: string
          nullable: true
          description: Source of the synchrony revision
          example: example_value
    UserDetails:
      type: object
      properties:
        business:
          type: object
          properties:
            position:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            department:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            location:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
          example: example_value
        personal:
          type: object
          properties:
            phone:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            im:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            website:
              type: string
              description: 'This property has been deprecated due to privacy changes. There is no replacement. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
            email:
              type: string
              description: 'This property has been deprecated due to privacy changes. Use the `User.email` property instead. See the

                [migration guide](https://developer.atlassian.com/cloud/confluence/deprecation-notice-user-privacy-api-migration-guide/)

                for details.'
          example: example_value
    HorizontalHeaderLookAndFeel:
      required:
      - backgroundColor
      - primaryNavigation
      type: object
      properties:
        backgroundColor:
          type: string
          example: example_value
        button:
          $ref: '#/components/schemas/ButtonLookAndFeel'
        primaryNavigation:
          $ref: '#/components/schemas/TopNavigationLookAndFeel'
        secondaryNavigation:
          $ref: '#/components/schemas/NavigationLookAndFeel'
        search:
          $ref: '#/components/schemas/SearchFieldLookAndFeel'
    ButtonLookAndFeel:
      required:
      - backgroundColor
      - color
      type: object
      nullable: true
      properties:
        backgroundColor:
          type: string
          example: example_value
        color:
          type: string
          example: example_value
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    ContentChildType:
      type: object
      properties:
        attachment:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
          example: example_value
        comment:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
          example: example_value
        page:
          required:
          - _links
          - value
          type: object
          properties:
            value:
              type: boolean
            _links:
              $ref: '#/components/schemas/GenericLinks'
          example: example_value
        _expandable:
          type: object
          properties:
            all:
              type: string
            attachment:
              type: string
            comment:
              type: string
            page:
              type: string
            whiteboard:
              type: string
          example: example_value
      additionalProperties: true
      description: 'Shows whether a piece of content has attachments, comments, or child pages/whiteboards.

        Note, this doesn''t actually contain the child objects.'
    ContentHistory:
      required:
      - latest
      type: object
      nullable: true
      properties:
        latest:
          type: boolean
          example: true
        createdBy:
          $ref: '#/components/schemas/User'
        ownedBy:
          $ref: '#/components/schemas/User'
        lastOwnedBy:
          $ref: '#/components/schemas/User'
        createdDate:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        lastUpdated:
          $ref: '#/components/schemas/Version'
        previousVersion:
          $ref: '#/components/schemas/Version'
        contributors:
          type: object
          properties:
            publishers:
              $ref: '#/components/schemas/UsersUserKeys'
          example: example_value
        nextVersion:
          $ref: '#/components/schemas/Version'
        _expandable:
          type: object
          properties:
            lastUpdated:
              type: string
            previousVersion:
              type: string
            contributors:
              type: string
            nextVersion:
              type: string
            ownedBy:
              type: string
            lastOwnedBy:
              type: string
          example: example_value
        _links:
          $ref: '#/components/schemas/GenericLinks'
    paginated_commit_comments:
      type: object
      title: Paginated Commit Comments
      description: A paginated list of commit comments.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
          example: 10
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
          example: 10
        next:
          type: string
[...]
