openapi: 3.1.0
info:
  title: Atlassian Admin Account Deployments API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Deployments
paths:
  /repositories/{workspace}/{repo_slug}/deployments:
    get:
      tags:
      - Deployments
      description: This API operation retrieves a paginated list of deployments for a specific repository within an Atlassian Bitbucket workspace. By sending a GET request to the endpoint with the workspace identifier and repository slug as path parameters, users can fetch deployment information associated with that repository. The response typically includes details about each deployment such as deployment environment, state, timestamps, and related commit information. This endpoint is useful for tracking and monitoring the deployment history of a repository across different environments like production, staging, or development, enabling teams to maintain visibility over their deployment pipeline and release management processes.
      summary: Atlassian List Deployments
      operationId: listDeployments
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The matching deployments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_deployments'
              examples:
                paginated-deployments:
                  $ref: '#/components/examples/paginated-deployments'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repositories/{workspace}/{repo_slug}/deployments/{deployment_uuid}:
    get:
      tags:
      - Deployments
      description: This GET operation retrieves detailed information about a specific deployment in a Bitbucket repository by providing the workspace identifier, repository slug, and unique deployment UUID in the endpoint path. It allows users to fetch comprehensive deployment data including deployment status, environment details, timestamps, and associated metadata for a particular deployment instance within the specified repository, enabling monitoring and tracking of deployment activities across different environments in the Bitbucket deployment pipeline.
      summary: Atlassian Get Deployment
      operationId: getDeployment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: deployment_uuid
        description: The deployment UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment'
              examples:
                deployment:
                  $ref: '#/components/examples/deployment'
        '404':
          description: No account, repository or deployment with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects/{project_key}/deploy-keys/{key_id}:
    parameters:
    - name: key_id
      in: path
      description: The key ID matching the project deploy key.
      required: true
      schema:
        type: string
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Deployments
      description: This API operation removes a specific deploy key from a project within a Bitbucket workspace by sending a DELETE request to the endpoint with the workspace identifier, project key, and deploy key ID as path parameters. Deploy keys are SSH keys that provide read-only or read-write access to repositories, and deleting one revokes that key's access to all repositories within the specified project. This is typically used when rotating keys for security purposes, removing access for discontinued services or team members, or cleaning up unused authentication credentials. The operation requires appropriate administrative permissions on the project and will permanently remove the deploy key association, though it won't affect deploy keys in other projects that may use the same SSH key.
      summary: Atlassian Delete a Deploy Key From a Project
      responses:
        '204':
          description: The project deploy key has been deleted
        '403':
          description: If the current user does not have permission to delete a key for the specified project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace, project, or project deploy key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianDeleteADeployKeyFromAProject
      x-api-evangelist-processing:
        WriteDescription: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Deployments
      description: Returns the deploy key belonging to a specific key ID.
      summary: Atlassian Get A Project Deploy Key
      responses:
        '200':
          description: Project deploy key matching the key ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_deploy_key'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - comment: thakseth@C02W454JHTD8
                      last_used: null
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT/deploy-keys/1234
                      label: test
                      project:
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT
                        type: project
                        name: cooperative standard
                        key: TEST_PROJECT
                        uuid: '{3b3e510b-7f2b-414d-a2b7-76c4e405c1c0}'
                      created_on: '2021-07-28T21:20:19.491721+00:00'
                      key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDX5yfMOEw6HG9jKTYTisbmDTJ4MCUTSVGr5e4OWvY3UuI2A6F8SdzQqa2f5BABA/4g5Sk5awJrYHlNu3EzV1V2I44tR3A4fnZAG71ZKyDPi1wvdO7UYmFgxV/Vd18H9QZFFjICGDM7W0PT2mI0kON/jN3qNWi+GiB/xgaeQKSqynysdysDp8lnnI/8Sh3ikURP9UP83ShRCpAXszOUNaa+UUlcYQYBDLIGowsg51c4PCkC3DNhAMxppkNRKoSOWwyl+oRVXHSDylkiJSBHW3HH4Q6WHieD54kGrjbhWBKdnnxKX7QAAZBDseY+t01N36m6/ljvXSUEcBWtHxBYye0r
                      type: project_deploy_key
                      id: 1234
        '403':
          description: If the specified workspace or project is not accessible to the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_4'
        '404':
          description: If the specified workspace or project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_4'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianGetAProjectDeployKey
  /repositories/{workspace}/{repo_slug}/deploy-keys:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Deployments
      description: Returns all deploy-keys belonging to a repository.
      summary: Atlassian List Repository Deploy Keys
      responses:
        '200':
          description: Deploy keys matching the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_deploy_keys'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - id: 123
                      key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5
                      label: mykey
                      type: deploy_key
                      created_on: '2018-08-15T23:50:59.993890+00:00'
                      repository:
                        full_name: mleu/test
                        name: test
                        type: repository
                        uuid: '{85d08b4e-571d-44e9-a507-fa476535aa98}'
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys/123
                      last_used: null
                      comment: mleu@C02W454JHTD8
                    page: 1
                    size: 1
        '403':
          description: If the specified user or repository is not accessible to the current user
        '404':
          description: If the specified user or repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianListRepositoryDeployKeys
    post:
      tags:
      - Deployments
      description: 'Create a new deploy key in a repository. Note: If authenticating a deploy key<br>with an OAuth consumer, any changes to the OAuth consumer will subsequently<br>invalidate the deploy key.<br><br><br>Example:<br>```<br>$ curl -X POST \<br>-H "Authorization " \<br>-H "Content-type: application/json" \<br>https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys -d \<br>''{<br>    "key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5 mleu@C02W454JHTD8",<br>    "label": "mydeploykey"<br>}''<br>```'
      summary: Atlassian Add A Repository Deploy Key
      responses:
        '200':
          description: The deploy key that was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy_key'
              examples:
                response:
                  value:
                    id: 123
                    key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5
                    label: mydeploykey
                    type: deploy_key
                    created_on: '2018-08-15T23:50:59.993890+00:00'
                    repository:
                      full_name: mleu/test
                      name: test
                      type: repository
                      uuid: '{85d08b4e-571d-44e9-a507-fa476535aa98}'
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys/123
                    last_used: null
                    comment: mleu@C02W454JHTD8
        '400':
          description: Invalid deploy key inputs
        '403':
          description: If the specified user or repository is not accessible to the current user
        '404':
          description: If the specified user or repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianAddARepositoryDeployKey
  /repositories/{workspace}/{repo_slug}/deploy-keys/{key_id}:
    parameters:
    - name: key_id
      in: path
      description: The key ID matching the deploy key.
      required: true
      schema:
        type: string
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Deployments
      description: This deletes a deploy key from a repository.
      summary: Atlassian Delete A Repository Deploy Key
      responses:
        '204':
          description: The key has been deleted
        '403':
          description: If the current user does not have permission to delete a key for the specified user
        '404':
          description: If the specified user, repository, or deploy key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianDeleteARepositoryDeployKey
    get:
      tags:
      - Deployments
      description: Returns the deploy key belonging to a specific key.
      summary: Atlassian Get A Repository Deploy Key
      responses:
        '200':
          description: Deploy key matching the key ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy_key'
              examples:
                response:
                  value:
                    comment: mleu@C02W454JHTD8
                    last_used: null
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-key/1234
                    repository:
                      full_name: mleu/test
                      name: test
                      type: repository
                      uuid: '{85d08b4e-571d-44e9-a507-fa476535aa98}'
                    label: mykey
                    created_on: '2018-08-15T23:50:59.993890+00:00'
                    key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5
                    id: 1234
                    type: deploy_key
        '403':
          description: If the specified user or repository is not accessible to the current user
        '404':
          description: If the specified user or repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianGetARepositoryDeployKey
    put:
      tags:
      - Deployments
      description: 'Create a new deploy key in a repository.<br><br>The same key needs to be passed in but the comment and label can change.<br><br>Example:<br>```<br>$ curl -X PUT \<br>-H "Authorization " \<br>-H "Content-type: application/json" \<br>https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys/1234 -d \<br>''{<br>    "label": "newlabel",<br>    "key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5 newcomment",<br>}''<br>```'
      summary: Atlassian Update A Repository Deploy Key
      responses:
        '200':
          description: The newly updated deploy key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy_key'
              examples:
                response:
                  value:
                    comment: newcomment
                    last_used: null
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys/1234
                    repository:
                      full_name: mleu/test
                      name: test
                      type: repository
                      uuid: '{85d08b4e-571d-44e9-a507-fa476535aa98}'
                    label: newlabel
                    created_on: '2018-08-15T23:50:59.993890+00:00'
                    key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5
                    id: 1234
                    type: deploy_key
        '400':
          description: If the submitted key or related value is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
        '403':
          description: If the current user does not have permission to add a key for the specified user
        '404':
          description: If the specified user, repository, or deploy key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      operationId: atlassianUpdateARepositoryDeployKey
  /repositories/{workspace}/{repo_slug}/environments:
    get:
      tags:
      - Deployments
      description: Find environments
      summary: Atlassian List Environments
      operationId: atlassianGetenvironmentsforrepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The matching environments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_environments'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
    post:
      tags:
      - Deployments
      description: Create an environment.
      summary: Atlassian Create An Environment
      operationId: atlassianCreateenvironment
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deployment_environment'
        description: The environment to create.
        required: true
      responses:
        '201':
          description: The environment was created.
          headers:
            Location:
              description: The URL of the newly created environment.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment_environment'
        '404':
          description: The account or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
        '409':
          description: An environment host with the provided name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
  /repositories/{workspace}/{repo_slug}/environments/{environment_uuid}:
    get:
      tags:
      - Deployments
      summary: Atlassian Get An Environment
      description: Retrieve an environment
      operationId: atlassianGetenvironmentforrepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deployment_environment'
        '404':
          description: No account, repository or environment with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
    delete:
      tags:
      - Deployments
      description: Delete an environment
      summary: Atlassian Delete An Environment
      operationId: atlassianDeleteenvironmentforrepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The environment was deleted.
        '404':
          description: No account or repository with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
  /repositories/{workspace}/{repo_slug}/environments/{environment_uuid}/changes:
    post:
      tags:
      - Deployments
      description: Update an environment
      summary: Atlassian Update An Environment
      operationId: atlassianUpdateenvironmentforrepository
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: repo_slug
        description: The repository.
        required: true
        in: path
        schema:
          type: string
      - name: environment_uuid
        description: The environment UUID.
        required: true
        in: path
        schema:
          type: string
      responses:
        '202':
          description: The environment update request was accepted.
        '404':
          description: No account, repository or environment with the UUID provided exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
  /workspaces/{workspace}/projects/{project_key}/deploy-keys:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Deployments
      description: Returns all deploy keys belonging to a project.
      summary: Atlassian List Project Deploy Keys
      responses:
        '200':
          description: Deploy keys matching the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_project_deploy_keys'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - comment: thakseth@C02W454JHTD8
                      last_used: null
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT/deploy-keys/1234
                      label: test
                      project:
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT
                        type: project
                        name: cooperative standard
                        key: TEST_PROJECT
                        uuid: '{3b3e510b-7f2b-414d-a2b7-76c4e405c1c0}'
                      created_on: '2021-07-28T21:20:19.491721+00:00'
                      key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDX5yfMOEw6HG9jKTYTisbmDTJ4MCUTSVGr5e4OWvY3UuI2A6F8SdzQqa2f5BABA/4g5Sk5awJrYHlNu3EzV1V2I44tR3A4fnZAG71ZKyDPi1wvdO7UYmFgxV/Vd18H9QZFFjICGDM7W0PT2mI0kON/jN3qNWi+GiB/xgaeQKSqynysdysDp8lnnI/8Sh3ikURP9UP83ShRCpAXszOUNaa+UUlcYQYBDLIGowsg51c4PCkC3DNhAMxppkNRKoSOWwyl+oRVXHSDylkiJSBHW3HH4Q6WHieD54kGrjbhWBKdnnxKX7QAAZBDseY+t01N36m6/ljvXSUEcBWtHxBYye0r
                      type: project_deploy_key
                      id: 1234
                    page: 1
                    size: 1
        '403':
          description: If the specified workspace or project is not accessible to the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_4'
        '404':
          description: If the specified workspace or project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_4'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianListProjectDeployKeys
    post:
      tags:
      - Deployments
      description: 'Create a new deploy key in a project.<br><br>Example:<br>```<br>$ curl -X POST \<br>-H "Authorization " \<br>-H "Content-type: application/json" \<br>https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT/deploy-keys/ -d \<br>''{<br>    "key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5 mleu@C02W454JHTD8",<br>    "label": "mydeploykey"<br>}''<br>```'
      summary: Atlassian Create A Project Deploy Key
      responses:
        '200':
          description: The project deploy key that was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_deploy_key'
              examples:
                response:
                  value:
                    comment: mleu@C02W454JHTD8
                    last_used: null
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT/deploy-keys/5/
                    label: myprojectkey
                    project:
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT
                      type: project
                      name: cooperative standard
                      key: TEST_PROJECT
                      uuid: '{3b3e510b-7f2b-414d-a2b7-76c4e405c1c0}'
                    created_on: '2021-08-10T05:28:00.570859+00:00'
                    key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5
                    type: project_deploy_key
                    id: 5
        '400':
          description: Invalid deploy key inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_4'
        '403':
          description: If the specified workspace or project is not accessible to the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_4'
        '404':
          description: If the specified workspace or project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_4'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
      operationId: atlassianCreateAProjectDeployKey
components:
  schemas:
    account:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Account
        description: An account object.
        properties:
          links:
            $ref: '#/components/schemas/account_links'
          created_on:
            type: string
            format: date-time
          display_name:
            type: string
          username:
            type: string
            pattern: ^[a-zA-Z0-9_\-]+$
          uuid:
            type: string
        additionalProperties: true
    participant:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Participant
        description: Object describing a user's role on resources like commits or pull requests.
        properties:
          user:
            $ref: '#/components/schemas/account'
          role:
            type: string
            enum:
            - PARTICIPANT
            - REVIEWER
          approved:
            type: boolean
          state:
            type: string
            enum:
            - approved
            - changes_requested
            - null
          participated_on:
            type: string
            description: The ISO8601 timestamp of the participant's action. For approvers, this is the time of their approval. For commenters and pull request reviewers who are not approvers, this is the time they last commented, or null if they have not commented.
            format: date-time
        additionalProperties: true
    team_links:
      allOf:
      - $ref: '#/components/schemas/account_links'
      - type: object
        title: Team Links
        description: Links related to a Team.
        properties:
          self:
            $ref: '#/components/schemas/link'
          html:
            $ref: '#/components/schemas/link'
          members:
            $ref: '#/components/schemas/link'
          projects:
            $ref: '#/components/schemas/link'
          repositories:
            $ref: '#/components/schemas/link'
        additionalProperties: true
    project:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Project
        description: "A Bitbucket project.\n            Projects are used by teams to organize repositories."
        properties:
          links:
            type: object
            properties:
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The project's immutable id.
          key:
            type: string
            description: The project's key.
          owner:
            $ref: '#/components/schemas/team'
          name:
            type: string
            description: The name of the project.
          description:
            type: string
          is_private:
            type: boolean
            description: '

              Indicates whether the project is publicly accessible, or whether it is

              private to the team and consequently only visible to team members.

              Note that private projects cannot contain public repositories.'
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          has_publicly_visible_repos:
            type: boolean
            description: '

              Indicates whether the project contains publicly visible repositories.

              Note that private projects cannot contain public repositories.'
        additionalProperties: true
    error:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
          example: example_value
      required:
      - type
      additionalProperties: true
    paginated_deployments:
      type: object
      title: Paginated Deployments
      description: A paged list of deployments
      properties:
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          example: 10
        values:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/deployment'
          description: The values of the current page.
          example: []
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          example: 10
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          example: 10
        next:
          type: string
          format: uri
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          example: https://www.example.com
        previous:
          type: string
          format: uri
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          example: https://www.example.com
    author:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Author
        description: The author of a change in a repository
        properties:
          raw:
            type: string
            description: The raw author value from the repository. This may be the only value available if the author does not match a user in Bitbucket.
          user:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    team:
      allOf:
      - $ref: '#/components/schemas/account'
      - type: object
        title: Team
        description: A team object.
        properties:
          links:
            $ref: '#/components/schemas/team_links'
        additionalProperties: true
    paginated_deploy_keys:
      type: object
      title: Paginated Deploy Keys
      description: A paginated list of deploy keys.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/deploy_key'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    project_deploy_key:
      allOf:
      - $ref: '#/components/schemas/object_2'
      - type: object
        title: Project Deploy Key
        description: Represents deploy key for a project.
        properties:
          key:
            type: string
            description: The deploy key value.
          project:
            $ref: '#/components/schemas/project'
          comment:
            type: string
            description: The comment parsed from the deploy key (if present)
          label:
            type: string
            description: The user-defined label for the deploy key
          added_on:
            type: string
            format: date-time
          last_used:
            type: string
            format: date-time
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          created_by:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    deployment_environment:
      allOf:
      - $ref: '#/components/schemas/object'
      - additionalProperties: true
        type: object
        title: Deployment Environment
        description: A Bitbucket Deployment Environment.
        properties:
          uuid:
            type: string
            description: The UUID identifying the environment.
          name:
            type: string
            description: The name of the environment.
      x-bb-default-fields:
      - uuid
      x-bb-url: /rest/2.0/accounts/{target_user.uuid}/repositories/{repository.uuid}/environments/{uuid}
      x-bb-batch-url: /rest/2.0/accounts/{target_user.uuid}/repositories/{repository.uuid}/environments_batch
      x-bb-batch-max-size: 100
    error_4:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    object:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
          example: example_value
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    deployment:
      allOf:
      - $ref: '#/components/schemas/object'
      - additionalProperties: true
        type: object
        title: Deployment
        description: A Bitbucket Deployment.
        properties:
          uuid:
            type: string
            description: The UUID identifying the deployment.
          state:
            $ref: '#/components/schemas/deployment_state'
          environment:
            $ref: '#/components/schemas/deployment_environment'
          release:
            $ref: '#/components/schemas/deployment_release'
    repository:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Repository
        description: A Bitbucket repository.
        properties:
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              html:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              avatar:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              pullrequests:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              commits:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              forks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              watchers:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              downloads:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
              clone:
                type: array
                items:
                  type: object
                  title: Link
                  description: A link to a resource related to this object.
                  properties:
                    href:
                      type: string
                      format: uri
                    name:
                      type: string
                  additionalProperties: false
              hooks:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          uuid:
            type: string
            description: The repository's immutable id. This can be used as a substitute for the slug segment in URLs. Doing this guarantees your URLs will survive renaming of the repository by its owner, or even transfer of the repository to a different user.
          full_name:
            type: string
            description: The concatenation of the repository owner's username and the slugified name, e.g. "evzijst/interruptingcow". This is the same string used in Bitbucket URLs.
          is_private:
            type: boolean
          parent:
            $ref: '#/components/schemas/repository'
          scm:
            type: string
            enum:
            - git
          owner:
            $ref: '#/components/schemas/account'
          name:
            type: string
          description:
            type: string
          created_on:
            type: string
            format: date-time
          updated_on:
            type: string
            format: date-time
          size:
            type: integer
          language:
            type: string
          has_issues:
            type: boolean
            description: '

              The issue tracker for this repository is enabled. Issue Tracker

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          has_wiki:
            type: boolean
            description: '

              The wiki for this repository is enabled. Wiki

              features are not supported for repositories in workspaces

              administered through admin.atlassian.com.

              '
          fork_policy:
            type: string
            description: "\nControls the rules for forking this repository.\n\n* **allow_forks**: unrestricted forking\n* **no_public_forks**: restrict forking to private forks (forks cannot\n  be made public later)\n* **no_forks**: deny all forking\n"
            enum:
            - allow_forks
            - no_public_forks
            - no_forks
          project:
            $ref: '#/components/schemas/project'
          mainbranch:
            $ref: '#/components/schemas/branch'
        additionalProperties: true
    account_links:
      type: object
      title: Account Links
      description: Links related to an Account.
      properties:
        avatar:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    paginated_environments:
      type: object
      title: Paginated Deployment Environments
      description: A paged list of environments
      properties:
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
        values:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/deployment_environment'
          description: The values of the current page.
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
        next:
          type: string
          format: uri
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
        previous:
          type: string
          format: uri
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
    object_2:
      type: object
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
      required:
      - type
      additionalProperties: true
      discriminator:
        propertyName: type
    paginated_project_deploy_keys:
      type: object
      title: Paginated Project Deploy Keys
      description: A paginated list of project deploy keys.
      properties:
        size:
          type: integer
          description: Total number of objects in the response. This is an optional element that is not provided in all responses, as it can be expensive to compute.
          minimum: 0
        page:
          type: integer
          description: Page number of the current results. This is an optional element that is not provided in all responses.
          minimum: 1
        pagelen:
          type: integer
          description: Current number of objects on the existing page. The default value is 10 with 100 being the maximum allowed value. Individual APIs may enforce different values.
          minimum: 1
        next:
          type: string
          description: Link to the next page if it exists. The last page of a collection does not have this value. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        previous:
          type: string
          description: Link to previous page if it exists. A collections first page does not have this value. This is an optional element that is not provided in all responses. Some result sets strictly support forward navigation and never provide previous links. Clients must anticipate that backwards navigation is not always available. Use this link to navigate the result set and refrain from constructing your own URLs.
          format: uri
        values:
          type: array
          items:
            $ref: '#/components/schemas/project_deploy_key'
          minItems: 0
          uniqueItems: true
      additionalProperties: false
    error_2:
      type: object
      title: Error
      description: Base type for most resource objects. It defines the common `type` element that identifies an object's type. It also identifies the element as Swagger's `discriminator`.
      properties:
        type:
          type: string
        error:
          type: object
          properties:
            message:
              type: string
            detail:
              type: string
            data:
              type: object
              description: Optional structured data that is endpoint-specific.
              properties: {}
              additionalProperties: true
          required:
          - message
          additionalProperties: false
      required:
      - type
      additionalProperties: true
    deployment_state:
      allOf:
      - $ref: '#/components/schemas/object'
      - additionalProperties: true
        type: object
        title: Deployment State
        description: The representation of the progress state of a deployment.
        properties: {}
    link:
      type: object
      title: Link
      description: A link to a resource related to this object.
      properties:
        href:
          type: string
          format: uri
          example: https://www.example.com
        name:
          type: string
          example: Example Title
      additionalProperties: false
    base_commit:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Base Commit
        description: The common base type for both repository and snippet commits.
        properties:
          hash:
            type: string
            pattern: '[0-9a-f]{7,}?'
          date:
            type: string
            format: date-time
          author:
            $ref: '#/components/schemas/author'
          message:
            type: string
          summary:
            type: object
            properties:
              raw:
                type: string
                description: The text as it was typed by a user.
              markup:
                type: string
                description: The type of markup language the raw content is to be interpreted in.
                enum:
                - markdown
                - creole
                - plaintext
              html:
                type: string
                description: The user's content rendered as HTML.
            additionalProperties: false
          parents:
            type: array
            items:
              $ref: '#/components/schemas/base_commit'
            minItems: 0
        additionalProperties: true
    branch:
      allOf:
      - $ref: '#/components/schemas/ref'
      - type: object
        title: Branch
        description: A branch object, representing a branch in a repository.
        properties:
          merge_strategies:
            type: array
            description: Available merge strategies for pull requests targeting this branch.
            items:
              type: string
              enum:
              - merge_commit
              - squash
              - fast_forward
          default_merge_strategy:
            type: string
            description: The default merge strategy for pull requests targeting this branch.
        additionalProperties: true
    commit:
      allOf:
      - $ref: '#/components/schemas/base_commit'
      - type: object
        title: Commit
        description: A repository commit object.
        properties:
          repository:
            $ref: '#/components/schemas/repository'
          participants:
            type: array
            items:
              $ref: '#/components/schemas/participant'
            minItems: 0
        additionalProperties: true
    deploy_key:
      allOf:
      - $ref: '#/components/schemas/object'
      - type: object
        title: Deploy Key
        description: Represents deploy key for a repository.
        properties:
          key:
            type: string
            description: The deploy key value.
          repository:
            $ref: '#/components/schemas/repository'
          comment:
            type: string
            description: The comment parsed from the deploy key (if present)
          label:
            type: string
            description: The user-defined label for the deploy key
          added_on:
            type: string
            format: date-time
          last_used:
            type: string
            format: date-time
          links:
            type: object
            properties:
              self:
                type: object
                title: Link
                description: A link to a resource related to this object.
                properties:
                  href:
                    type: string
                    format: uri
                  name:
                    type: string
                additionalProperties: false
            additionalProperties: false
          owner:
            $ref: '#/components/schemas/account'
        additionalProperties: true
    deployment_release:
      allOf:
      - $ref: '#/components/schemas/object'
      - additionalProperties: true
        type: object
        title: Deployment Release
        description: A Bitbucket Deployment Release.
        properties:
          uuid:
            type: string
            description: The UUID identifying the release.
          name:
            type: string
            description: The name of the release.
          url:
            type: string
            format: uri
            description: Link to the pipeline that produced the release.
          commit:
            $ref: '#/components/schemas/commit'
          created_on:
            type: string
            format: date-time
            description: The timestamp when the release was created.
    ref:
      type: object
      title: Ref
      description: A ref object, representing a branch or tag in a repository.
      properties:
        type:
          type: string
          example: example_value
        links:
          type: object
          properties:
            self:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            commits:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
            html:
              type: object
              title: Link
              description: A link to a resource related to this object.
              properties:
                href:
                  type: string
                  format: uri
                name:
                  type: string
              additionalProperties: false
          additionalProperties: false
          example: example_value
        name:
          type: string
          description: The name of the ref.
          example: Example Title
        target:
          $ref: '#/components/schemas/commit'
      required:
      - type
      additionalProperties: true
  examples:
    deployment:
      uuid: 123e4567-e89b-12d3-a456-426614174000
      state:
        name: COMPLETED
        status: successful
      environment:
        uuid: 987e6543-e21b-45d3-a456-426614174999
        name: production
        type: production
      release:
        uuid: 456e7890-e12b-34d5-a678-426614174111
        name: v1.2.3
        url: https://api.bitbucket.org/2.0/repositories/workspace/repo/deployments/releases/1
    paginated-deployments:
      page: 1
      values:
        uuid: 123e4567-e89b-12d3-a456-426614174000
        state: {}
        environment: {}
        release: {}
      size: 42
      pagelen: 10
      next: https://api.bitbucket.org/2.0/deployments?page=2
      previous: https://api.bitbucket.org/2.0/deployments?page=0
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
