openapi: 3.1.0
info:
  title: Atlassian Admin Account Workspaces API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Workspaces
paths:
  /user/permissions/workspaces:
    parameters: []
    get:
      tags:
      - Workspaces
      description: This API operation retrieves a list of workspaces that the currently authenticated user has permissions to access in Atlassian Bitbucket. By making a GET request to the /user/permissions/workspaces endpoint, developers can programmatically discover which workspaces are available to the authenticated user based on their account permissions and access rights. This is particularly useful for applications that need to dynamically populate workspace selection interfaces, validate user access before performing operations, or build administrative tools that work across multiple Bitbucket workspaces. The endpoint returns workspace information including workspace identifiers, names, and the specific permission levels the user holds within each workspace.
      summary: Atlassian List Workspaces for the Current User
      responses:
        '200':
          description: All of the workspace memberships for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_workspace_memberships'
              examples:
                paginated-workspace-memberships:
                  $ref: '#/components/examples/paginated-workspace-memberships'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for details.'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property to sort results. See

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results)

          for details.

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      operationId: listWorkspacesForTheCurrentUser
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: This API operation retrieves detailed information about a specific workspace by making a GET request to the endpoint /workspaces/{workspace}, where {workspace} is a path parameter representing the unique identifier of the workspace you want to access. When executed, it returns the complete data and configuration settings associated with that particular workspace, allowing users or applications to view workspace properties, metadata, and current state information without making any modifications to the workspace itself.
      summary: Atlassian Get a Workspace
      responses:
        '200':
          description: The workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspace'
              examples:
                workspace:
                  $ref: '#/components/examples/workspace'
        '404':
          description: If no workspace exists for the specified name or UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      operationId: atlassianGetAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/hooks:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: This API operation retrieves a paginated list of all webhooks that have been configured for a specific Bitbucket workspace. By making a GET request to the /workspaces/{workspace}/hooks endpoint with the workspace identifier, users can view all webhook subscriptions associated with that workspace, including details about the webhook URLs, events they're subscribed to, and their current status. This is useful for auditing, managing, or discovering existing webhook integrations that send HTTP callbacks to external services when specific events occur within the workspace, such as repository pushes, pull request updates, or other Bitbucket activities.
      summary: Atlassian List Webhooks for a Workspace
      responses:
        '200':
          description: The paginated list of installed webhooks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_webhook_subscriptions'
              examples:
                paginated-webhook-subscriptions:
                  $ref: '#/components/examples/paginated-webhook-subscriptions'
        '403':
          description: If the authenticated user is not an owner on the specified workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: atlassianListWebhooksForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Workspaces
      description: This API operation creates a new webhook for a specified Bitbucket workspace by sending a POST request to the /workspaces/{workspace}/hooks endpoint. Webhooks allow workspaces to receive real-time HTTP callbacks when specific events occur within the workspace, such as repository pushes, pull requests, or issue updates. The workspace is identified by the {workspace} path parameter, which represents the workspace ID or slug. The request typically requires authentication and a JSON payload containing webhook configuration details including the target URL where events should be sent, a description, and the specific events to subscribe to. Upon successful creation, the API returns the newly created webhook object with its unique identifier and configuration details, enabling automated integrations and event-driven workflows between Bitbucket and external systems or services.
      summary: Atlassian Create a Webhook for a Workspace
      responses:
        '201':
          description: If the webhook was registered successfully.
          headers:
            Location:
              description: The URL of new newly created webhook.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
              examples:
                webhook-subscription:
                  $ref: '#/components/examples/webhook-subscription'
        '403':
          description: If the authenticated user does not have permission to install webhooks on the specified workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: atlassianCreateAWebhookForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/hooks/{uid}:
    parameters:
    - name: uid
      in: path
      description: Installed webhook's ID
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Workspaces
      description: 'The DELETE operation on the /workspaces/{workspace}/hooks/{uid} endpoint in the Atlassian Bitbucket Workspaces API removes a specific webhook from a workspace. This endpoint requires two path parameters: the workspace identifier and the unique identifier (uid) of the webhook to be deleted. When executed successfully, it permanently removes the webhook configuration, stopping all future webhook event notifications from being sent to the previously configured URL for that workspace. This operation is typically used when a webhook is no longer needed, when cleaning up old integrations, or when reconfiguring webhook settings by removing the old webhook before creating a new one. Authentication and appropriate workspace permissions are required to perform this delete operation.'
      summary: Atlassian Delete a Webhook for a Workspace
      responses:
        '204':
          description: When the webhook was deleted successfully
        '403':
          description: If the authenticated user does not have permission to delete the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: atlassianDeleteAWebhookForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Workspaces
      description: This operation updates an existing webhook configuration for a specified Bitbucket workspace by making a PUT request to the endpoint with the workspace slug and webhook unique identifier (uid) in the path. It allows you to modify webhook settings such as the URL that receives the webhook payloads, the events that trigger the webhook, whether the webhook is active or inactive, and other configuration options like description and secret tokens for payload verification. The request requires authentication with appropriate permissions to manage workspace webhooks, and upon successful execution, it returns the updated webhook object with all its current configuration details including the modified properties.
      summary: Atlassian Update a Webhook for a Workspace
      responses:
        '200':
          description: The webhook subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
              examples:
                webhook-subscription_2:
                  $ref: '#/components/examples/webhook-subscription_2'
        '403':
          description: If the authenticated user does not have permission to update the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the webhook or workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      operationId: atlassianUpdateAWebhookForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Workspaces
      description: 'Returns the webhook with the specified id installed on the given

        workspace.'
      summary: Atlassian Get a webhook for a workspace
      responses:
        '200':
          description: The webhook subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
        '404':
          description: If the webhook or workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
  /workspaces/{workspace}/members:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: This API endpoint retrieves a list of all members who belong to a specified Atlassian Bitbucket workspace by making a GET request to /workspaces/{workspace}/members, where {workspace} is replaced with the unique identifier or slug of the target workspace. The operation returns member details including user information, roles, and permissions for each member associated with the workspace, allowing administrators and authorized users to view and manage workspace membership. This is particularly useful for auditing purposes, managing team access, or integrating workspace member data with external systems for user management and collaboration workflows.
      summary: Atlassian List Users in a Workspace
      responses:
        '200':
          description: The list of users that are part of a workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_workspace_memberships'
              examples:
                paginated-workspace-memberships:
                  $ref: '#/components/examples/paginated-workspace-memberships_3'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:workspace:bitbucket
        - read:user:bitbucket
      operationId: atlassianListUsersInAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/members/{member}:
    parameters:
    - name: member
      in: path
      description: Member's UUID or Atlassian ID.
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: This GET operation retrieves detailed information about a specific user's membership within a designated Bitbucket workspace. By providing the workspace identifier and member identifier in the URL path parameters, the API returns the membership details for that particular user, including their role, permissions, and associated account information within the context of the specified workspace. This endpoint is useful for administrators and applications that need to verify a user's access level, check membership status, or retrieve specific member details for workspace management purposes.
      summary: Atlassian Get User Membership for a Workspace
      responses:
        '200':
          description: The user that is part of a workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspace_membership'
              examples:
                workspace-membership:
                  $ref: '#/components/examples/workspace-membership'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A workspace cannot be found, or a user cannot be found, or the user is not a a member of the workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:workspace:bitbucket
        - read:user:bitbucket
      operationId: atlassianGetUserMembershipForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/permissions:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: This API operation retrieves a list of user permissions configured within a specific Bitbucket workspace by making a GET request to the /workspaces/{workspace}/permissions endpoint, where {workspace} is the unique identifier or slug of the target workspace. It returns detailed information about which users have been granted access to the workspace and their corresponding permission levels, such as member, admin, or collaborator roles. This endpoint is useful for workspace administrators who need to audit user access, manage team permissions, or integrate workspace permission data into external systems for security and compliance purposes. The response typically includes user details like usernames, display names, and their associated permission grants within the specified workspace context.
      summary: Atlassian List User Permissions in a Workspace
      responses:
        '200':
          description: The list of users that are part of a workspace, along with their permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_workspace_memberships'
              examples:
                paginated-workspace-memberships_2:
                  $ref: '#/components/examples/paginated-workspace-memberships_2'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:workspace:bitbucket
        - read:user:bitbucket
      operationId: atlassianListUserPermissionsInAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/permissions/repositories:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: This GET operation retrieves a comprehensive list of all repository permissions configured within a specific Bitbucket workspace. By targeting the /workspaces/{workspace}/permissions/repositories endpoint, it returns permission details for repositories in the specified workspace, allowing administrators and authorized users to audit access controls and understand who has what level of access (read, write, admin) to repositories. The {workspace} path parameter identifies the target workspace, and the response typically includes information about users, groups, and their associated permission levels across all repositories within that workspace scope.
      summary: Atlassian List All Repository Permissions for a Workspace
      responses:
        '200':
          description: List of workspace's repository permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repository_permissions'
              examples:
                paginated-repository-permissions:
                  $ref: '#/components/examples/paginated-repository-permissions'
        '403':
          description: The requesting user isn't an admin of the workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property sort the result by as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - read:user:bitbucket
      operationId: atlassianListAllRepositoryPermissionsForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/permissions/repositories/{repo_slug}:
    parameters:
    - name: repo_slug
      in: path
      description: 'This can either be the repository slug or the UUID of the repository,

        surrounded by curly-braces, for example: `{repository UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: This API endpoint retrieves the permission settings for a specific repository within an Atlassian Bitbucket workspace. By making a GET request to this endpoint with the workspace identifier and repository slug as path parameters, users can view all the permissions that have been granted for that particular repository, including which users or groups have access and their respective permission levels (such as read, write, or admin). This is useful for workspace administrators who need to audit repository access, verify security settings, or understand who has what level of access to a given repository within their Bitbucket workspace.
      summary: Atlassian List a Repository Permissions for a Workspace
      responses:
        '200':
          description: The repository permission for all users in this repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repository_permissions'
              examples:
                paginated-repository-permissions_2:
                  $ref: '#/components/examples/paginated-repository-permissions_2'
        '403':
          description: The requesting user isn't an admin of the repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - name: q
        in: query
        description: '

          Query string to narrow down the response as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: '

          Name of a response property sort the result by as per

          [filtering and sorting](/cloud/bitbucket/rest/intro/#sorting-query-results).

          '
        required: false
        schema:
          type: string
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
        - read:user:bitbucket
      operationId: atlassianListARepositoryPermissionsForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/pipelines-config/variables:
    get:
      tags:
      - Workspaces
      summary: Atlassian List Variables for a Workspace
      description: This API operation retrieves all pipeline variables configured at the workspace level in Bitbucket. By making a GET request to the specified endpoint with a workspace identifier, developers can access a list of environment variables that are available to all pipelines within that workspace, including both secured and non-secured variables along with their keys, values (for non-secured variables), and associated metadata. This is useful for managing and auditing centralized configuration settings that apply across multiple repositories within a workspace, enabling administrators to review what variables are defined and available for pipeline executions without needing to check individual repository settings.
      operationId: atlassianGetpipelinevariablesforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The found workspace level variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pipeline_variables'
              examples:
                paginated-pipeline-variables:
                  $ref: '#/components/examples/paginated-pipeline-variables'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Workspaces
      summary: Atlassian Create a Variable for a Workspace
      description: The POST operation on the /workspaces/{workspace}/pipelines-config/variables endpoint allows you to create a new pipeline variable within a specific Bitbucket workspace, enabling you to define configuration values that can be used across multiple pipelines in that workspace. This endpoint requires you to specify the workspace slug in the path parameter and provide the variable details in the request body, typically including the variable's key (name), value, and whether it should be secured/encrypted. Workspace-level pipeline variables are useful for storing shared configuration data, credentials, or environment-specific values that need to be accessible to all repositories within the workspace without having to duplicate the variable definitions in each individual repository. The API returns the created variable object upon successful execution, and requires appropriate authentication and workspace admin permissions to perform this operation.
      operationId: atlassianCreatepipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable2'
      responses:
        '201':
          description: The created variable.
          headers:
            Location:
              description: The URL of the newly created pipeline variable.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable:
                  $ref: '#/components/examples/pipeline-variable'
        '404':
          description: The workspace does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: A variable with the provided key already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/pipelines-config/variables/{variable_uuid}:
    get:
      tags:
      - Workspaces
      summary: Atlassian Get Variable for a Workspace
      description: This API operation retrieves detailed information about a specific pipeline variable configured for a Bitbucket workspace by providing the workspace identifier and the unique UUID of the variable. It allows developers to programmatically access the configuration details of environment variables, secrets, or other pipeline variables that have been set up at the workspace level, which can be used across multiple repositories within that workspace. The endpoint returns the variable's metadata including its key, value (if not secured), type, and whether it's secured or not, making it useful for auditing pipeline configurations or integrating workspace-level pipeline settings into automated workflows and deployment processes.
      operationId: atlassianGetpipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to retrieve.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2'
        '404':
          description: The workspace or variable with the given UUID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Workspaces
      summary: Atlassian Update Variable for a Workspace
      description: Updates an existing pipeline variable in a Bitbucket workspace by providing the variable's UUID. This operation allows you to modify the value, security settings, or other properties of a workspace-level pipeline variable that can be used across all repositories within the workspace. The variable UUID must be provided in the path, and the updated variable configuration is sent in the request body. Workspace pipeline variables are commonly used to store shared configuration values, credentials, or environment-specific settings that multiple pipelines need to access, with support for secured variables that hide sensitive information in logs.
      operationId: atlassianUpdatepipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable.
        required: true
        in: path
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/pipeline_variable'
      responses:
        '200':
          description: The variable was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline_variable'
              examples:
                pipeline-variable_2:
                  $ref: '#/components/examples/pipeline-variable_2'
        '404':
          description: The workspace or the variable was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Workspaces
      summary: Atlassian Delete a Variable for a Workspace
      description: This API operation allows you to delete a specific pipeline variable from an Atlassian Bitbucket workspace by making a DELETE request to the endpoint with the workspace identifier and the unique UUID of the variable you wish to remove. Pipeline variables are typically used to store configuration values, secrets, or environment-specific settings that are used during the execution of Bitbucket Pipelines, and removing a variable through this endpoint will permanently delete it from the workspace's pipeline configuration, making it unavailable for any future pipeline runs that previously referenced it.
      operationId: atlassianDeletepipelinevariableforworkspace
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      - name: variable_uuid
        description: The UUID of the variable to delete.
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: The variable was deleted
        '404':
          description: The workspace or the variable with the provided UUID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:pipeline:bitbucket
      security:
      - oauth2:
        - pipeline:variable
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects:
    parameters:
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: This API operation retrieves a paginated list of all projects within a specified Bitbucket workspace, where the workspace is identified by its slug in the URL path. It returns project information including project keys, names, descriptions, and other metadata associated with each project that the authenticated user has permission to view. The response follows Bitbucket's standard pagination format, allowing clients to navigate through large result sets using page parameters, making it useful for applications that need to display or process all projects belonging to a particular workspace.
      summary: Atlassian List Projects in a Workspace
      responses:
        '200':
          description: The list of projects in this workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_projects'
              examples:
                paginated-projects:
                  $ref: '#/components/examples/paginated-projects'
        '404':
          description: A workspace doesn't exist at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:project:bitbucket
      operationId: atlassianListProjectsInAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Workspaces
      description: This API operation creates a new project within a specified Bitbucket workspace by sending a POST request to the /workspaces/{workspace}/projects endpoint, where {workspace} is replaced with the unique identifier or slug of the target workspace. The operation allows workspace administrators to programmatically establish new projects that serve as containers for organizing related repositories, enabling better code management and team collaboration. When invoked, the endpoint accepts project details in the request body such as project name, key, description, and access permissions, then returns the newly created project object with its assigned metadata including a unique project identifier, timestamps, and configuration settings. This operation requires appropriate authentication credentials and workspace-level permissions, typically administrator or write access, to successfully create projects within the organizational structure of the Bitbucket workspace.
      summary: Atlassian Create a Project in a Workspace
      responses:
        '201':
          description: A new project has been created.
          headers:
            Location:
              description: The location of the newly created project
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
              examples:
                project:
                  $ref: '#/components/examples/project'
        '403':
          description: The requesting user isn't authorized to create the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A workspace doesn't exist at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/project'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianCreateAProjectInAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/projects/{project_key}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Workspaces
      description: 'The delete operation on the `/workspaces/{workspace}/projects/{project_key}` endpoint in the Atlassian Bitbucket Workspaces API permanently removes a specified project from a workspace. This operation requires authentication and appropriate permissions to delete projects within the designated workspace. When executed, it takes two path parameters: the workspace identifier and the project key that uniquely identifies the project to be deleted. Upon successful deletion, the project and its associated metadata are removed from the workspace, though this typically does not affect the repositories contained within the project unless specifically configured to do so. This is a destructive operation that cannot be undone, so it should be used with caution in production environments.'
      summary: Atlassian Delete a Project for a Workspace
      responses:
        '204':
          description: Successful deletion.
        '403':
          description: The requesting user isn't authorized to delete the project or the project isn't empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A project isn't hosted at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianDeleteAProjectForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Workspaces
      description: 'The Get A Project For A Workspace operation in the Atlassian Bitbucket Workspaces API retrieves detailed information about a specific project within a designated workspace by making a GET request to the endpoint /workspaces/{workspace}/projects/{project_key}. This operation requires two path parameters: the workspace identifier (which can be the workspace''s UUID, ID, or slug) and the project_key (a unique identifier for the project within that workspace). When successfully invoked, it returns comprehensive project details including the project''s name, description, key, creation date, visibility settings, owner information, associated links, and other metadata. This endpoint is commonly used by developers and integrations to fetch project-level configuration data, validate project existence, or retrieve project attributes before performing additional operations within that project''s scope.'
      summary: Atlassian Get a Project for a Workspace
      responses:
        '200':
          description: The project that is part of a workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
              examples:
                project_2:
                  $ref: '#/components/examples/project_2'
        '401':
          description: The request wasn't authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't authorized to access the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A project isn't hosted at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:project:bitbucket
      operationId: atlassianGetAProjectForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Workspaces
      description: This API operation allows you to update an existing project within a specified Bitbucket workspace by making a PUT request to the endpoint with the workspace slug and project key as path parameters. You can modify various project properties such as the project name, description, avatar, and other configurable settings. The request requires appropriate authentication and permissions to modify projects within the workspace, typically requiring admin or write access. Upon successful execution, the API returns the updated project object with all its current properties, reflecting the changes made in the request body. This operation follows RESTful conventions where PUT is used to update the complete resource, and any fields not included in the request may be reset to default values depending on the API's implementation.
      summary: Atlassian Update a Project for a Workspace
      responses:
        '200':
          description: The existing project is has been updated.
          headers:
            Location:
              description: 'The location of the project. This header is only provided

                when the project key is updated.'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
              examples:
                project_2:
                  $ref: '#/components/examples/project_2'
        '201':
          description: A new project has been created.
          headers:
            Location:
              description: The location of the newly created project
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
              examples:
                project_2:
                  $ref: '#/components/examples/project_2'
        '403':
          description: The requesting user isn't authorized to update or create the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: A workspace doesn't exist at the location. Note that the project's absence from this location doesn't raise a 404, since a PUT at a non-existent location can be used to create a new project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/project'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
      operationId: atlassianUpdateAProjectForAWorkspace
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/search/code:
    get:
      tags:
      - Workspaces
      summary: Atlassian Search for Code in a Workspace
      description: This GET endpoint allows you to search for code across repositories within a specified Atlassian Bitbucket workspace. By providing the workspace identifier in the path parameter, you can perform code searches using query parameters to find specific strings, patterns, or code snippets across all accessible repositories in that workspace. The operation returns matching results that include file paths, repository information, and code context where the search terms appear, making it useful for developers who need to locate specific code implementations, function definitions, or configuration settings across multiple repositories within their workspace.
      operationId: atlassianSearchworkspace
      parameters:
      - name: workspace
        in: path
        description: The workspace to search in; either the slug or the UUID in curly braces
        required: true
        schema:
          type: string
      - name: search_query
        in: query
        description: The search query
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Which page of the search results to retrieve
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pagelen
        in: query
        description: How many search results to retrieve per page
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_result_page'
              examples:
                undefined_2:
                  $ref: '#/components/examples/undefined_2'
        '400':
          description: 'If the search request was invalid due to one of the

            following reasons:


            * the specified type of target account doesn''''t match the actual

            account type;


            * malformed pagination properties;


            * missing or malformed search query, in the latter case an error

            key will be returned in `error.data.key` property.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Search is not enabled for the requested workspace, navigate to [https://bitbucket.org/search](https://bitbucket.org/search) to turn it on
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '429':
          description: Too many requests, try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      x-api-evangelist-processing:
        WriteDescription: true
        ChooseTags: true
        GenerateExampleFromOperationResponseSchema: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace}/pipelines-config/identity/oidc/.well-known/openid-configuration:
    get:
      tags:
      - Workspaces
      summary: Atlassian Get OpenID configuration for OIDC in Pipelines
      description: This is part of OpenID Connect for Pipelines, see https://support.atlassian.com/bitbucket-cloud/docs/integrate-pipelines-with-resource-servers-using-oidc/
      operationId: getOIDCConfiguration
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The OpenID configuration
        '404':
          description: The workspace was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
  /workspaces/{workspace}/pipelines-config/identity/oidc/keys.json:
    get:
      tags:
      - Workspaces
      summary: Atlassian Get keys for OIDC in Pipelines
      description: This is part of OpenID Connect for Pipelines, see https://support.atlassian.com/bitbucket-cloud/docs/integrate-pipelines-with-resource-servers-using-oidc/
      operationId: getOIDCKeys
      parameters:
      - name: workspace
        description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The keys in JSON web key format
        '404':
          description: The workspace was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2: []
      - basic: []
      - api_key: []
  /workspaces/{workspace}/projects/{project_key}/branching-model:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: "Return the branching model set at the project level. This view is\nread-only. The branching model settings can be changed using the\n[settings](#api-workspaces-workspace-projects-project-key-branching-model-settings-get)\nAPI.\n\nThe returned object:\n\n1. Always has a `development` property. `development.name` is\n   the user-specified branch that can be inherited by an individual repository's\n   branching model.\n2. Might have a `production` property. `production` will not\n   be present when `production` is disabled.\n   `production.name` is the user-specified branch that can be\n   inherited by an individual repository's branching model.\n3. Always has a `branch_types` array which contains all enabled branch\n   types."
      summary: Atlassian Get the branching model for a project
      responses:
        '200':
          description: The branching model object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_branching_model'
              examples:
                response:
                  value:
                    development:
                      name: master
                      use_mainbranch: true
                    production:
                      name: production
                      use_mainbranch: false
                    branch_types:
                    - kind: release
                      prefix: release/
                    - kind: hotfix
                      prefix: hotfix/
                    - kind: feature
                      prefix: feature/
                    - kind: bugfix
                      prefix: bugfix/
                    type: project_branching_model
                    links:
                      self:
                        href: https://api.bitbucket.org/.../branching-model
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have read access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:repository:bitbucket
  /workspaces/{workspace}/projects/{project_key}/branching-model/settings:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: "Return the branching model configuration for a project. The returned\nobject:\n\n1. Always has a `development` property for the development branch.\n2. Always a `production` property for the production branch. The\n   production branch can be disabled.\n3. The `branch_types` contains all the branch types.\n\n\nThis is the raw configuration for the branching model. A client\nwishing to see the branching model with its actual current branches may find the\n[active model API](#api-workspaces-workspace-projects-project-key-branching-model-get)\nmore useful."
      summary: Atlassian Get the branching model config for a project
      responses:
        '200':
          description: The branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model_settings'
              examples:
                response:
                  value:
                    development:
                      name: 'null'
                      use_mainbranch: true
                    production:
                      name: production
                      use_mainbranch: false
                      enabled: false
                    branch_types:
                    - kind: release
                      enabled: true
                      prefix: release/
                    - kind: hotfix
                      enabled: true
                      prefix: hotfix/
                    - kind: feature
                      enabled: true
                      prefix: feature/
                    - kind: bugfix
                      enabled: false
                      prefix: bugfix/
                    type: branching_model_settings
                    links:
                      self:
                        href: https://api.bitbucket.org/.../branching-model/settings
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
    put:
      tags:
      - Workspaces
      description: "Update the branching model configuration for a project.\n\nThe `development` branch can be configured to a specific branch or to\ntrack the main branch. Any branch name can be supplied, but will only\nsuccessfully be applied to a repository via inheritance if that branch\nexists for that repository. Only the passed properties will be updated. The\nproperties not passed will be left unchanged. A request without a\n`development` property will leave the development branch unchanged.\n\nThe `production` branch can be a specific branch, the main\nbranch or disabled. Any branch name can be supplied, but will only\nsuccessfully be applied to a repository via inheritance if that branch\nexists for that repository. The `enabled` property can be used to enable (`true`)\nor disable (`false`) it. Only the passed properties will be updated. The\nproperties not passed will be left unchanged. A request without a\n`production` property will leave the production branch unchanged.\n\nThe `branch_types` property contains the branch types to be updated.\nOnly the branch types passed will be updated. All updates will be\nrejected if it would leave the branching model in an invalid state.\nFor branch types this means that:\n\n1. The prefixes for all enabled branch types are valid. For example,\n   it is not possible to use '*' inside a Git prefix.\n2. A prefix of an enabled branch type must not be a prefix of another\n   enabled branch type. This is to ensure that a branch can be easily\n   classified by its prefix unambiguously.\n\nIt is possible to store an invalid prefix if that branch type would be\nleft disabled. Only the passed properties will be updated. The\nproperties not passed will be left unchanged. Each branch type must\nhave a `kind` property to identify it."
      summary: Atlassian Update the branching model config for a project
      responses:
        '200':
          description: The updated branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model_settings'
              examples:
                response:
                  value:
                    development:
                      use_mainbranch: true
                    production:
                      enabled: true
                      use_mainbranch: false
                      name: production
                    branch_types:
                    - kind: bugfix
                      enabled: true
                      prefix: bugfix/
                    - kind: feature
                      enabled: true
                      prefix: feature/
                    - kind: hotfix
                      prefix: hotfix/
                    - kind: release
                      enabled: false
        '400':
          description: If the request contains an invalid branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
  /workspaces/{workspace}/projects/{project_key}/default-reviewers:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: 'Return a list of all default reviewers for a project. This is a list of users that will be added as default

        reviewers to pull requests for any repository within the project.'
      summary: Atlassian List the default reviewers in a project
      responses:
        '200':
          description: The list of project default reviewers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_default_reviewer_and_type'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - user:
                        display_name: Davis Lee
                        uuid: '{f0e0e8e9-66c1-4b85-a784-44a9eb9ef1a6}'
                      reviewer_type: project
                      type: default_reviewer
                    - user:
                        display_name: Jorge Rodriguez
                        uuid: '{1aa43376-260d-4a0b-9660-f62672b9655d}'
                      reviewer_type: project
                      type: default_reviewer
                    page: 1
                    size: 2
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the workspace or project does not exist at this location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
  /workspaces/{workspace}/projects/{project_key}/default-reviewers/{selected_user}:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This can either be the actual `key` assigned

        to the project or the `UUID` (surrounded by curly-braces (`{}`)).

        '
      required: true
      schema:
        type: string
    - name: selected_user
      in: path
      description: 'This can either be the username or the UUID of the default reviewer,

        surrounded by curly-braces, for example: `{account UUID}`.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Workspaces
      description: 'Removes a default reviewer from the project.


        Example:

        ```

        $ curl https://api.bitbucket.org/2.0/.../default-reviewers/%7Bf0e0e8e9-66c1-4b85-a784-44a9eb9ef1a6%7D


        HTTP/1.1 204

        ```'
      summary: Atlassian Remove the specific user from the project's default reviewers
      responses:
        '204':
          description: The specified user was removed from the list of project default reviewers
        '400':
          description: If the specified user is not a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
    get:
      tags:
      - Workspaces
      description: Returns the specified default reviewer.
      summary: Atlassian Get a default reviewer
      responses:
        '200':
          description: The specified user that is a default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
              examples:
                response:
                  value:
                    display_name: Davis Lee
                    type: user
                    uuid: '{f0e0e8e9-66c1-4b85-a784-44a9eb9ef1a6}'
        '400':
          description: If the specified user is not a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:pullrequest:bitbucket
    put:
      tags:
      - Workspaces
      description: 'Adds the specified user to the project''s list of default reviewers. The method is

        idempotent. Accepts an optional body containing the `uuid` of the user to be added.'
      summary: Atlassian Add the specific user as a default reviewer for the project
      responses:
        '200':
          description: The specified user was added as a project default reviewer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
              examples:
                response:
                  value:
                    display_name: Yaniv Sagy
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/users/%7Bdd5db7f2-6389-458d-a62a-716773910b7a%7D
                      avatar:
                        href: https://secure.gravatar.com/avatar/YS-2.png
                      html:
                        href: https://api.bitbucket.org/%7Bdd5db7f2-6389-458d-a62a-716773910b7a%7D/
                    type: user
                    uuid: '{dd5db7f2-6389-458d-a62a-716773910b7a}'
                    account_id: 712020:4efe52fa-b4b4-475b-9eb0-c0a23b7eb194
                    nickname: Yaniv Sagy
        '400':
          description: If the specified user cannot be added as a default reviewer for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the authenticated user does not have admin access to the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified user, project, or workspace does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - admin:project:bitbucket
  /workspaces/{workspace}/projects/{project_key}/deploy-keys:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: Returns all deploy keys belonging to a project.
      summary: Atlassian List project deploy keys
      responses:
        '200':
          description: Deploy keys matching the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_project_deploy_keys'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - comment: thakseth@C02W454JHTD8
                      last_used: null
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT/deploy-keys/1234
                      label: test
                      project:
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT
                        type: project
                        name: cooperative standard
                        key: TEST_PROJECT
                        uuid: '{3b3e510b-7f2b-414d-a2b7-76c4e405c1c0}'
                      created_on: '2021-07-28T21:20:19.491721+00:00'
                      key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDX5yfMOEw6HG9jKTYTisbmDTJ4MCUTSVGr5e4OWvY3UuI2A6F8SdzQqa2f5BABA/4g5Sk5awJrYHlNu3EzV1V2I44tR3A4fnZAG71ZKyDPi1wvdO7UYmFgxV/Vd18H9QZFFjICGDM7W0PT2mI0kON/jN3qNWi+GiB/xgaeQKSqynysdysDp8lnnI/8Sh3ikURP9UP83ShRCpAXszOUNaa+UUlcYQYBDLIGowsg51c4PCkC3DNhAMxppkNRKoSOWwyl+oRVXHSDylkiJSBHW3HH4Q6WHieD54kGrjbhWBKdnnxKX7QAAZBDseY+t01N36m6/ljvXSUEcBWtHxBYye0r
                      type: project_deploy_key
                      id: 1234
                    page: 1
                    size: 1
        '403':
          description: If the specified workspace or project is not accessible to the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace or project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
    post:
      tags:
      - Workspaces
      description: "Create a new deploy key in a project.\n\nExample:\n```\n$ curl -X POST \\\n-H \"Authorization <auth header>\" \\\n-H \"Content-type: application/json\" \\\nhttps://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT/deploy-keys/ -d \\\n'{\n    \"key\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5 mleu@C02W454JHTD8\",\n    \"label\": \"mydeploykey\"\n}'\n```"
      summary: Atlassian Create a project deploy key
      responses:
        '200':
          description: The project deploy key that was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_deploy_key'
              examples:
                response:
                  value:
                    comment: mleu@C02W454JHTD8
                    last_used: null
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT/deploy-keys/5/
                    label: myprojectkey
                    project:
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT
                      type: project
                      name: cooperative standard
                      key: TEST_PROJECT
                      uuid: '{3b3e510b-7f2b-414d-a2b7-76c4e405c1c0}'
                    created_on: '2021-08-10T05:28:00.570859+00:00'
                    key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5
                    type: project_deploy_key
                    id: 5
        '400':
          description: Invalid deploy key inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: If the specified workspace or project is not accessible to the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace or project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
  /workspaces/{workspace}/projects/{project_key}/deploy-keys/{key_id}:
    parameters:
    - name: key_id
      in: path
      description: The key ID matching the project deploy key.
      required: true
      schema:
        type: string
    - name: project_key
      in: path
      description: 'The project in question. This is the actual `key` assigned

        to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Workspaces
      description: This deletes a deploy key from a project.
      summary: Atlassian Delete a deploy key from a project
      responses:
        '204':
          description: The project deploy key has been deleted
        '403':
          description: If the current user does not have permission to delete a key for the specified project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace, project, or project deploy key does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
    get:
      tags:
      - Workspaces
      description: Returns the deploy key belonging to a specific key ID.
      summary: Atlassian Get a project deploy key
      responses:
        '200':
          description: Project deploy key matching the key ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_deploy_key'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - comment: thakseth@C02W454JHTD8
                      last_used: null
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT/deploy-keys/1234
                      label: test
                      project:
                        links:
                          self:
                            href: https://api.bitbucket.org/2.0/workspaces/standard/projects/TEST_PROJECT
                        type: project
                        name: cooperative standard
                        key: TEST_PROJECT
                        uuid: '{3b3e510b-7f2b-414d-a2b7-76c4e405c1c0}'
                      created_on: '2021-07-28T21:20:19.491721+00:00'
                      key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDX5yfMOEw6HG9jKTYTisbmDTJ4MCUTSVGr5e4OWvY3UuI2A6F8SdzQqa2f5BABA/4g5Sk5awJrYHlNu3EzV1V2I44tR3A4fnZAG71ZKyDPi1wvdO7UYmFgxV/Vd18H9QZFFjICGDM7W0PT2mI0kON/jN3qNWi+GiB/xgaeQKSqynysdysDp8lnnI/8Sh3ikURP9UP83ShRCpAXszOUNaa+UUlcYQYBDLIGowsg51c4PCkC3DNhAMxppkNRKoSOWwyl+oRVXHSDylkiJSBHW3HH4Q6WHieD54kGrjbhWBKdnnxKX7QAAZBDseY+t01N36m6/ljvXSUEcBWtHxBYye0r
                      type: project_deploy_key
                      id: 1234
        '403':
          description: If the specified workspace or project is not accessible to the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the specified workspace or project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project
        - project:admin
      - basic: []
      - api_key: []
  /workspaces/{workspace}/projects/{project_key}/permissions-config/groups:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: 'Returns a paginated list of explicit group permissions for the given project.

        This endpoint does not support BBQL features.'
      summary: Atlassian List explicit group permissions for a project
      responses:
        '200':
          description: Paginated list of project group permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_project_group_permissions'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - type: project_group_permission
                      group:
                        type: group
                        name: Administrators
                        slug: administrators
                      permission: admin
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/groups/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                    - type: project_group_permission
                      group:
                        type: group
                        name: Developers
                        slug: developers
                      permission: write
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/groups/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324c
                    page: 1
                    size: 2
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The user doesn't have admin access to the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or both of the workspace and project don't exist for the given identifiers or the requesting user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:project:bitbucket
        - read:user:bitbucket
  /workspaces/{workspace}/projects/{project_key}/permissions-config/groups/{group_slug}:
    parameters:
    - name: group_slug
      in: path
      description: Slug of the requested group.
      required: true
      schema:
        type: string
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    delete:
      tags:
      - Workspaces
      description: 'Deletes the project group permission between the requested project and group, if one exists.


        Only users with admin permission for the project may access this resource.'
      summary: Atlassian Delete an explicit group permission for a project
      responses:
        '204':
          description: The project group permission was deleted and no content returned.
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and group doesn't exist                               for the given identifiers or the requesting user is not                               authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
    get:
      tags:
      - Workspaces
      description: 'Returns the group permission for a given group and project.


        Only users with admin permission for the project may access this resource.


        Permissions can be:


        * `admin`

        * `create-repo`

        * `write`

        * `read`

        * `none`'
      summary: Atlassian Get an explicit group permission for a project
      responses:
        '200':
          description: Project group permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_group_permission'
              examples:
                response:
                  value:
                    type: project_group_permission
                    group:
                      type: group
                      name: Administrators
                      slug: administrators
                    permission: admin
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/groups/administrators
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The user doesn't have admin access to the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and group doesn't exist                               for the given identifiers or the requesting user is not                               authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
      x-atlassian-oauth2-scopes:
      - state: Current
        scheme: oauth2
        scopes:
        - read:project:bitbucket
        - read:user:bitbucket
    put:
      tags:
      - Workspaces
      description: 'Updates the group permission, or grants a new permission if one does not already exist.


        Only users with admin permission for the project may access this resource.


        Due to security concerns, the JWT and OAuth authentication methods are unsupported.

        This is to ensure integrations and add-ons are not allowed to change permissions.


        Permissions can be:


        * `admin`

        * `create-repo`

        * `write`

        * `read`'
      summary: Atlassian Update an explicit group permission for a project
      responses:
        '200':
          description: Project group permission updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_group_permission'
              examples:
                response:
                  value:
                    type: project_group_permission
                    group:
                      type: group
                      name: Administrators
                      slug: administrators
                    permission: write
                    links:
                      self:
                        href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/groups/administrators
        '400':
          description: No permission value was provided or the value is invalid(not one of read, write, create-repo, or admin).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '402':
          description: You have reached your plan's user limit and must upgrade before giving access to additional users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The requesting user isn't an admin of the project, or the authentication method was not via app password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or more of the workspace, project, and group doesn't exist                               for the given identifiers or the requesting user is not                               authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        $ref: '#/components/requestBodies/bitbucket.apps.permissions.serializers.ProjectPermissionUpdateSchema'
      security:
      - oauth2:
        - project:admin
      - basic: []
      - api_key: []
  /workspaces/{workspace}/projects/{project_key}/permissions-config/users:
    parameters:
    - name: project_key
      in: path
      description: 'The project in question. This is the actual key assigned to the project.

        '
      required: true
      schema:
        type: string
    - name: workspace
      in: path
      description: 'This can either be the workspace ID (slug) or the workspace UUID

        surrounded by curly-braces, for example: `{workspace UUID}`.

        '
      required: true
      schema:
        type: string
    get:
      tags:
      - Workspaces
      description: 'Returns a paginated list of explicit user permissions for the given project.

        This endpoint does not support BBQL features.'
      summary: Atlassian List explicit user permissions for a project
      responses:
        '200':
          description: Paginated list of explicit user permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_project_user_permissions'
              examples:
                response:
                  value:
                    pagelen: 10
                    values:
                    - type: project_user_permission
                      user:
                        type: user
                        display_name: Colin Cameron
                        uuid: '{d301aafa-d676-4ee0-88be-962be7417567}'
                        account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                      permission: admin
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324a
                    - type: project_user_permission
                      user:
                        type: user
                        display_name: Sean Conaty
                        uuid: '{504c3b62-8120-4f0c-a7bc-87800b9d6f70}'
                        account_id: 557058:ba8948b2-49da-43a9-9e8b-e7249b8e324c
                      permission: write
                      links:
                        self:
                          href: https://api.bitbucket.org/2.0/workspaces/atlassian_tutorial/projects/PRJ/permissions-config/users/557058:ba8948b2-49da-43a9-9e8b-e7249b8e324c
                    page: 1
                    size: 2
        '401':
          description: The user couldn't be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The user doesn't have admin access to the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: One or both of the workspace and project don't exist for the given identifiers or the requesting user is not authenticated
          content:
            application/json:
[...]
