openapi: 3.1.0
info:
  title: Atlassian Admin Account Issue Field Configurations API
  description: The Atlassian Admin API provides programmatic access to manage Atlassian organizations, users, domains, policies, and events. It enables administrators to automate organization management tasks, integrate with identity providers, and ensure appropriate access to Atlassian products.
  version: 1.0.0
  contact:
    name: Atlassian Developer
    url: https://developer.atlassian.com/cloud/admin/
  license:
    name: Atlassian Developer Terms
    url: https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/
  x-logo:
    url: https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png
servers:
- url: https://api.atlassian.com
  description: Atlassian Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Issue Field Configurations
paths:
  /rest/api/3/fieldconfiguration/{id}:
    delete:
      deprecated: false
      description: Deletes a field configuration.<br><br>This operation can only delete configurations used in company-managed (classic) projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeletefieldconfiguration
      parameters:
      - description: The ID of the field configuration.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the field configuration is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Field Configuration
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:field-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Updates a field configuration. The name and the description provided in the request override the existing values.<br><br>This operation can only update configurations used in company-managed (classic) projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdatefieldconfiguration
      parameters:
      - description: The ID of the field configuration.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              description: A brand new description
              name: My Modified Field Configuration
            schema:
              $ref: '#/components/schemas/FieldConfigurationDetails'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the field configuration is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Field Configuration
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/fieldconfiguration/{id}/fields:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of all fields for a configuration.<br><br>Only the fields from configurations used in company-managed (classic) projects are returned.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetfieldconfigurationitems
      parameters:
      - description: The ID of the field configuration.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":50,"startAt":0,"total":2,"values":[{"description":"For example operating system, software platform and/or hardware specifications (include as appropriate for the issue).","id":"environment","isHidden":false,"isRequired":false},{"id":"description","isHidden":false,"isRequired":false}]}'
              schema:
                $ref: '#/components/schemas/PageBeanFieldConfigurationItem'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the field configuration is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Field Configuration Items
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Updates fields in a field configuration. The properties of the field configuration fields provided override the existing values.<br><br>This operation can only update field configurations used in company-managed (classic) projects.<br><br>The operation can set the renderer for text fields to the default text renderer (`text-renderer`) or wiki style renderer (`wiki-renderer`). However, the renderer cannot be updated for fields using the autocomplete renderer (`autocomplete-renderer`).<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdatefieldconfigurationitems
      parameters:
      - description: The ID of the field configuration.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              fieldConfigurationItems:
              - description: The new description of this item.
                id: customfield_10012
                isHidden: false
              - id: customfield_10011
                isRequired: true
              - description: Another new description.
                id: customfield_10010
                isHidden: false
                isRequired: false
                renderer: wiki-renderer
            schema:
              $ref: '#/components/schemas/FieldConfigurationItemsDetails'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the field configuration is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Field Configuration Items
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/fieldconfigurationscheme/mapping:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of field configuration issue type items.<br><br>Only items used in classic projects are returned.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetfieldconfigurationschememappings
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: 'The list of field configuration scheme IDs. To include multiple field configuration schemes separate IDs with ampersand: `fieldConfigurationSchemeId=10000&fieldConfigurationSchemeId=10001`.'
        in: query
        name: fieldConfigurationSchemeId
        schema:
          items:
            example: 10020
            format: int64
            type: integer
          maxItems: 50
          minItems: 1
          type: array
          uniqueItems: true
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":100,"startAt":0,"total":5,"values":[{"fieldConfigurationSchemeId":"10020","issueTypeId":"10000","fieldConfigurationId":"10010"},{"fieldConfigurationSchemeId":"10020","issueTypeId":"10001","fieldConfigurationId":"10010"},{"fieldConfigurationSchemeId":"10021","issueTypeId":"10002","fieldConfigurationId":"10000"},{"fieldConfigurationSchemeId":"10022","issueTypeId":"default","fieldConfigurationId":"10011"},{"fieldConfigurationSchemeId":"10023","issueTypeId":"default","fieldConfigurationId":"10000"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanFieldConfigurationIssueTypeItem'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if no field configuration schemes are found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Field Configuration Issue Type Items
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/fieldconfigurationscheme/project:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of field configuration schemes and, for each scheme, a list of the projects that use it.<br><br>The list is sorted by field configuration scheme ID. The first item contains the list of project IDs assigned to the default field configuration scheme.<br><br>Only field configuration schemes used in classic projects are returned.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetfieldconfigurationschemeprojectmapping
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: 'The list of project IDs. To include multiple projects, separate IDs with ampersand: `projectId=10000&projectId=10001`.'
        in: query
        name: projectId
        required: true
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":50,"startAt":0,"total":5,"values":[{"projectIds":["10","11"]},{"fieldConfigurationScheme":{"id":"10002","name":"Field Configuration Scheme for software related projects","description":"We can use this one for software projects."},"projectIds":["12","13","14"]}]}'
              schema:
                $ref: '#/components/schemas/PageBeanFieldConfigurationSchemeProjects'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get Field Configuration Schemes For Projects
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Assigns a field configuration scheme to a project. If the field configuration scheme ID is `null`, the operation assigns the default field configuration scheme.<br><br>Field configuration schemes can only be assigned to classic projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianAssignfieldconfigurationschemetoproject
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              fieldConfigurationSchemeId: '10000'
              projectId: '10000'
            schema:
              $ref: '#/components/schemas/FieldConfigurationSchemeProjectAssociation'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["Only classic projects can have field configuration schemes assigned."],"errors":{}}'
          description: Returned if the project is not a classic project.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access field configurations."],"errors":{}}'
          description: Returned if the user does not have the necessary permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The project was not found."],"errors":{}}'
          description: Returned if the project is missing.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Assign Field Configuration Scheme To Project
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/fieldconfigurationscheme/{id}:
    delete:
      deprecated: false
      description: Deletes a field configuration scheme.<br><br>This operation can only delete field configuration schemes used in company-managed (classic) projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianDeletefieldconfigurationscheme
      parameters:
      - description: The ID of the field configuration scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the field configuration scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Delete Field Configuration Scheme
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - delete:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    put:
      deprecated: false
      description: Updates a field configuration scheme.<br><br>This operation can only update field configuration schemes used in company-managed (classic) projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianUpdatefieldconfigurationscheme
      parameters:
      - description: The ID of the field configuration scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              description: We can use this one for software projects.
              name: Field Configuration Scheme for software related projects
            schema:
              $ref: '#/components/schemas/UpdateFieldConfigurationSchemeDetails'
        description: The details of the field configuration scheme.
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["A field configuration scheme is using this name."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access field configurations."],"errors":{}}'
          description: Returned if the user does not have the necessary permissions.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The field configuration scheme was not found."],"errors":{}}'
          description: Returned if the field configuration scheme is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Update Field Configuration Scheme
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/fieldconfigurationscheme/{id}/mapping:
    put:
      deprecated: false
      description: Assigns issue types to field configurations on field configuration scheme.<br><br>This operation can only modify field configuration schemes used in company-managed (classic) projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianSetfieldconfigurationschememapping
      parameters:
      - description: The ID of the field configuration scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              mappings:
              - fieldConfigurationId: '10000'
                issueTypeId: default
              - fieldConfigurationId: '10002'
                issueTypeId: '10001'
              - fieldConfigurationId: '10001'
                issueTypeId: '10002'
            schema:
              $ref: '#/components/schemas/AssociateFieldConfigurationsWithIssueTypesRequest'
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
        '404':
          description: Returned if the field configuration scheme, the field configuration, or the issue type is not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Assign Issue Types To Field Configurations
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field-configuration-scheme:jira
        - read:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/fieldconfigurationscheme/{id}/mapping/delete:
    post:
      deprecated: false
      description: Removes issue types from the field configuration scheme.<br><br>This operation can only modify field configuration schemes used in company-managed (classic) projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianRemoveissuetypesfromglobalfieldconfigurationscheme
      parameters:
      - description: The ID of the field configuration scheme.
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            example:
              issueTypeIds:
              - '10000'
              - '10001'
              - '10002'
            schema:
              $ref: '#/components/schemas/IssueTypeIdsToRemove'
        description: The issue type IDs to remove.
        required: true
      responses:
        '204':
          content:
            application/json:
              schema: {}
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["The issueTypeIds must not contain duplicates."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the request is not valid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access field configurations."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the user does not have the necessary permission.
        '404':
          content:
            application/json:
              example: '{"errorMessages":["The field configuration scheme was not found."],"errors":{}}'
              schema:
                $ref: '#/components/schemas/ErrorCollection'
          description: Returned if the field configuration scheme or the issue types are not found.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Remove Issue Types From Field Configuration Scheme
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/fieldconfiguration:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of field configurations. The list can be for all field configurations or a subset determined by any combination of these criteria:<br><br> *  a list of field configuration item IDs.<br> *  whether the field configuration is a default.<br> *  whether the field configuration name or description contains a query string.<br><br>Only field configurations used in company-managed (classic) projects are returned.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetallfieldconfigurations
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: The list of field configuration IDs. To include multiple IDs, provide an ampersand-separated list. For example, `id=10000&id=10001`.
        in: query
        name: id
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      - description: If *true* returns default field configurations only.
        in: query
        name: isDefault
        schema:
          default: false
          type: boolean
      - description: The query string used to match against field configuration names and descriptions.
        in: query
        name: query
        schema:
          default: ''
          type: string
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":50,"startAt":0,"total":2,"values":[{"id":10000,"name":"Default Field Configuration","description":"The default field configuration description","isDefault":true},{"id":10001,"name":"My Field Configuration","description":"My field configuration description"}]}'
              schema:
                $ref: '#/components/schemas/PageBeanFieldConfigurationDetails'
          description: Returned if the request is successful.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get All Field Configurations
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    post:
      deprecated: false
      description: Creates a field configuration. The field configuration is created with the same field properties as the default configuration, with all the fields being optional.<br><br>This operation can only create configurations for use in company-managed (classic) projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianCreatefieldconfiguration
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              description: My field configuration description
              name: My Field Configuration
            schema:
              $ref: '#/components/schemas/FieldConfigurationDetails'
        required: true
      responses:
        '200':
          content:
            application/json:
              example: '{"description":"My field configuration description","id":10001,"name":"My Field Configuration"}'
              schema:
                $ref: '#/components/schemas/FieldConfiguration'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permission.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Create Field Configuration
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field-configuration:jira
        - write:field-configuration:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
  /rest/api/3/fieldconfigurationscheme:
    get:
      deprecated: false
      description: Returns a [paginated](#pagination) list of field configuration schemes.<br><br>Only field configuration schemes used in classic projects are returned.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianGetallfieldconfigurationschemes
      parameters:
      - description: The index of the first item to return in a page of results (page offset).
        in: query
        name: startAt
        schema:
          default: 0
          format: int64
          type: integer
      - description: The maximum number of items to return per page.
        in: query
        name: maxResults
        schema:
          default: 50
          format: int32
          type: integer
      - description: The list of field configuration scheme IDs. To include multiple IDs, provide an ampersand-separated list. For example, `id=10000&id=10001`.
        in: query
        name: id
        schema:
          items:
            format: int64
            type: integer
          type: array
          uniqueItems: true
      responses:
        '200':
          content:
            application/json:
              example: '{"isLast":true,"maxResults":10,"startAt":0,"total":3,"values":[{"id":"10000","name":"Field Configuration Scheme for Bugs","description":"This field configuration scheme is for bugs only."},{"id":"10001","name":"Field Configuration Scheme for software related projects","description":"We can use this one for software projects."},{"id":"10002","name":"Field Configuration Scheme for Epics","description":"Use this one for Epic issue type."}]}'
              schema:
                $ref: '#/components/schemas/PageBeanFieldConfigurationScheme'
          description: Returned if the request is successful.
        '400':
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          description: Returned if the user does not have the necessary permissions.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Get All Field Configuration Schemes
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - read:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
    post:
      deprecated: false
      description: Creates a field configuration scheme.<br><br>This operation can only create field configuration schemes used in company-managed (classic) projects.<br><br>**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
      operationId: atlassianCreatefieldconfigurationscheme
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              description: We can use this one for software projects.
              name: Field Configuration Scheme for software related projects
            schema:
              $ref: '#/components/schemas/UpdateFieldConfigurationSchemeDetails'
        description: The details of the field configuration scheme.
        required: true
      responses:
        '201':
          content:
            application/json:
              example: '{"id":"10002","name":"Field Configuration Scheme for software related projects","description":"We can use this one for software projects."}'
              schema:
                $ref: '#/components/schemas/FieldConfigurationScheme'
          description: Returned if the request is successful.
        '400':
          content:
            application/json:
              example: '{"errorMessages":["A field configuration scheme is using this name."],"errors":{}}'
          description: Returned if the request is not valid.
        '401':
          description: Returned if the authentication credentials are incorrect or missing.
        '403':
          content:
            application/json:
              example: '{"errorMessages":["Only Jira administrators can access field configurations."],"errors":{}}'
          description: Returned if the user does not have the necessary permissions.
      security:
      - basicAuth: []
      - OAuth2:
        - manage:jira-configuration
      summary: Atlassian Create Field Configuration Scheme
      tags:
      - Issue Field Configurations
      x-atlassian-data-security-policy:
      - app-access-rule-exempt: true
      x-atlassian-oauth2-scopes:
      - scheme: OAuth2
        scopes:
        - manage:jira-configuration
        state: Current
      - scheme: OAuth2
        scopes:
        - write:field-configuration-scheme:jira
        - read:field-configuration-scheme:jira
        state: Beta
      x-atlassian-connect-scope: ADMIN
components:
  schemas:
    IssueTypeIdsToRemove:
      additionalProperties: false
      description: The list of issue type IDs to be removed from the field configuration scheme.
      properties:
        issueTypeIds:
          description: The list of issue type IDs. Must contain unique values not longer than 255 characters and not be empty. Maximum of 100 IDs.
          items:
            type: string
          type: array
      required:
      - issueTypeIds
      type: object
    FieldConfigurationIssueTypeItem:
      additionalProperties: false
      description: The field configuration for an issue type.
      properties:
        fieldConfigurationId:
          description: The ID of the field configuration.
          type: string
        fieldConfigurationSchemeId:
          description: The ID of the field configuration scheme.
          type: string
        issueTypeId:
          description: The ID of the issue type or *default*. When set to *default* this field configuration issue type item applies to all issue types without a field configuration.
          type: string
      required:
      - fieldConfigurationId
      - fieldConfigurationSchemeId
      - issueTypeId
      type: object
    FieldConfigurationItem:
      additionalProperties: false
      description: A field within a field configuration.
      properties:
        description:
          description: The description of the field within the field configuration.
          type: string
        id:
          description: The ID of the field within the field configuration.
          type: string
        isHidden:
          description: Whether the field is hidden in the field configuration.
          type: boolean
        isRequired:
          description: Whether the field is required in the field configuration.
          type: boolean
        renderer:
          description: The renderer type for the field within the field configuration.
          type: string
      required:
      - id
      type: object
    AssociateFieldConfigurationsWithIssueTypesRequest:
      additionalProperties: false
      description: Details of a field configuration to issue type mappings.
      properties:
        mappings:
          description: Field configuration to issue type mappings.
          items:
            $ref: '#/components/schemas/FieldConfigurationToIssueTypeMapping'
          type: array
          uniqueItems: true
          writeOnly: true
      required:
      - mappings
      type: object
    FieldConfigurationSchemeProjectAssociation:
      additionalProperties: false
      description: Associated field configuration scheme and project.
      properties:
        fieldConfigurationSchemeId:
          description: The ID of the field configuration scheme. If the field configuration scheme ID is `null`, the operation assigns the default field configuration scheme.
          type: string
          writeOnly: true
        projectId:
          description: The ID of the project.
          type: string
          writeOnly: true
      required:
      - projectId
      type: object
    PageBeanFieldConfigurationSchemeProjects:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/FieldConfigurationSchemeProjects'
          readOnly: true
          type: array
      type: object
    PageBeanFieldConfigurationDetails:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/FieldConfigurationDetails'
          readOnly: true
          type: array
      type: object
    PageBeanFieldConfigurationScheme:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/FieldConfigurationScheme'
          readOnly: true
          type: array
      type: object
    FieldConfiguration:
      additionalProperties: false
      description: Details of a field configuration.
      properties:
        description:
          description: The description of the field configuration.
          type: string
        id:
          description: The ID of the field configuration.
          format: int64
          type: integer
        isDefault:
          description: Whether the field configuration is the default.
          type: boolean
        name:
          description: The name of the field configuration.
          type: string
      required:
      - description
      - id
      - name
      type: object
    FieldConfigurationScheme:
      additionalProperties: false
      description: Details of a field configuration scheme.
      properties:
        description:
          description: The description of the field configuration scheme.
          type: string
        id:
          description: The ID of the field configuration scheme.
          type: string
        name:
          description: The name of the field configuration scheme.
          type: string
      required:
      - id
      - name
      type: object
    FieldConfigurationDetails:
      additionalProperties: false
      description: Details of a field configuration.
      properties:
        description:
          description: The description of the field configuration.
          maxLength: 255
          type: string
          writeOnly: true
        name:
          description: The name of the field configuration. Must be unique.
          maxLength: 255
          type: string
          writeOnly: true
      required:
      - name
      type: object
    UpdateFieldConfigurationSchemeDetails:
      additionalProperties: false
      description: The details of the field configuration scheme.
      properties:
        description:
          description: The description of the field configuration scheme.
          maxLength: 1024
          type: string
          writeOnly: true
        name:
          description: The name of the field configuration scheme. The name must be unique.
          maxLength: 255
          type: string
          writeOnly: true
      required:
      - name
      type: object
    PageBeanFieldConfigurationIssueTypeItem:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/FieldConfigurationIssueTypeItem'
          readOnly: true
          type: array
      type: object
    FieldConfigurationToIssueTypeMapping:
      additionalProperties: false
      description: The field configuration to issue type mapping.
      properties:
        fieldConfigurationId:
          description: The ID of the field configuration.
          type: string
          writeOnly: true
        issueTypeId:
          description: The ID of the issue type or *default*. When set to *default* this field configuration issue type item applies to all issue types without a field configuration. An issue type can be included only once in a request.
          type: string
          writeOnly: true
      required:
      - fieldConfigurationId
      - issueTypeId
      type: object
      writeOnly: true
    FieldConfigurationItemsDetails:
      additionalProperties: false
      description: Details of field configuration items.
      properties:
        fieldConfigurationItems:
          description: Details of fields in a field configuration.
          items:
            $ref: '#/components/schemas/FieldConfigurationItem'
          type: array
          writeOnly: true
      required:
      - fieldConfigurationItems
      type: object
    PageBeanFieldConfigurationItem:
      additionalProperties: false
      description: A page of items.
      properties:
        isLast:
          description: Whether this is the last page.
          readOnly: true
          type: boolean
        maxResults:
          description: The maximum number of items that could be returned.
          format: int32
          readOnly: true
          type: integer
        nextPage:
          description: If there is another page of results, the URL of the next page.
          format: uri
          readOnly: true
          type: string
        self:
          description: The URL of the page.
          format: uri
          readOnly: true
          type: string
        startAt:
          description: The index of the first item returned.
          format: int64
          readOnly: true
          type: integer
        total:
          description: The number of items returned.
          format: int64
          readOnly: true
          type: integer
        values:
          description: The list of items.
          items:
            $ref: '#/components/schemas/FieldConfigurationItem'
          readOnly: true
          type: array
      type: object
    ErrorCollection:
      additionalProperties: false
      description: Error messages from an operation.
      properties:
        errorMessages:
          description: The list of error messages produced by this operation. For example, "input parameter 'key' must be provided"
          items:
            type: string
          type: array
        errors:
          additionalProperties:
            type: string
          description: 'The list of errors by parameter returned by the operation. For example,"projectKey": "Project keys must start with an uppercase letter, followed by one or more uppercase alphanumeric characters."'
          type: object
        status:
          format: int32
          type: integer
      type: object
    FieldConfigurationSchemeProjects:
      additionalProperties: false
      description: Project list with assigned field configuration schema.
      properties:
        fieldConfigurationScheme:
          $ref: '#/components/schemas/FieldConfigurationScheme'
        projectIds:
          description: The IDs of projects using the field configuration scheme.
          items:
            description: The IDs of projects using the field configuration scheme.
            type: string
          type: array
      required:
      - projectIds
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Use an Atlassian API key as a Bearer token. Create API keys at https://admin.atlassian.com.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Atlassian Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/oauth/token
          scopes:
            read:org:admin: Read organization information.
            write:org:admin: Modify organization settings.
            read:user:admin: Read user information.
            write:user:admin: Modify user accounts.
            read:policy:admin: Read organization policies.
            write:policy:admin: Modify organization policies.
            read:event:admin: Read organization events.
externalDocs:
  description: Atlassian Admin REST API Documentation
  url: https://developer.atlassian.com/cloud/admin/organization/rest/intro/
